Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(fonts): [ci skip] update changelogs
  packages/fonts/CHANGELOG.md
Due: remark

chore(react): [ci skip] update changelogs
  packages/react/CHANGELOG.md
Due: remark

chore(web-components): [ci skip] update changelogs
  packages/web-components/CHANGELOG.md
Due: remark

chore(docs): [ci skip] update changelogs
  packages/docs/CHANGELOG.md
Due: remark

chore(root): [ci skip] update changelogs
  CHANGELOG.md
Due: remark

feat(web-components): add ic-dialog component
  packages/react/src/components.ts
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-alert/readme.md
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-dialog/__snapshots__/ic-dialog.spec.ts.snap
  packages/web-components/src/components/ic-dialog/ic-dialog.css
  packages/web-components/src/components/ic-dialog/ic-dialog.e2e.ts
  packages/web-components/src/components/ic-dialog/ic-dialog.spec.ts
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.mdx
  packages/web-components/src/components/ic-dialog/ic-dialog.test.a11y.ts
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/readme.md
  packages/web-components/src/components/ic-menu-item/ic-menu-item.css
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-menu/ic-menu.spec.tsx
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.spec.ts
  packages/web-components/src/components/ic-select/__snapshots__/ic-select.e2e.ts.snap
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/testspec.setup.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(root): [ci skip] updated changelog
  lerna.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): adds react stories for ic-dialog
  packages/react/src/components.ts
  packages/react/src/stories/ic-dialog.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): update event.detail for radio icChange
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.e2e.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.spec.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.stories.mdx
  packages/web-components/src/components/ic-radio-group/ic-radio-group.tsx
  packages/web-components/src/components/ic-radio-group/ic-radio-group.types.ts
  packages/web-components/src/components/ic-radio-group/readme.md
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(react): add onIcChange to React radio story
  packages/react/src/stories/ic-radio-group.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@91a067ddd048485fc39fa7103b7ee7052285b5b7 🚀
  branches/develop/1416.97cf3d5e.iframe.bundle.js
  branches/develop/1416.97cf3d5e.iframe.bundle.js.LICENSE.txt
  branches/develop/1416.afc70278.iframe.bundle.js
  branches/develop/3874.5f273350.iframe.bundle.js
  branches/develop/3874.bfbc9324.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.785d823d.iframe.bundle.js
  branches/develop/main.785d823d.iframe.bundle.js.LICENSE.txt
  branches/develop/main.8018c724.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.089ddcda.iframe.bundle.js
  branches/develop/runtime~main.e9132039.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2ecaa8a9e7f94230ef44c78651250bd597afa610 🚀
  branches/feature/334-date-input-jd239/web-components/1416.9ecee5b2.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/1416.9ecee5b2.iframe.bundle.js.LICENSE.txt
  branches/feature/334-date-input-jd239/web-components/1416.e27f3a0d.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/2308.7d1ec39d.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/2308.7d1ec39d.iframe.bundle.js.LICENSE.txt
  branches/feature/334-date-input-jd239/web-components/3874.82c9c898.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/3874.ded3bee1.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/5542.395a5f8f.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/5542.395a5f8f.iframe.bundle.js.LICENSE.txt
  branches/feature/334-date-input-jd239/web-components/5542.c0bb195e.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/5903.89992512.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/5903.d97b1f75.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/5903.d97b1f75.iframe.bundle.js.LICENSE.txt
  branches/feature/334-date-input-jd239/web-components/6165.03b691c9.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/6165.ebe2737e.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/6982.64e9f40a.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/6982.7ac9e3c2.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/7733.6cdee009.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/7733.836b311b.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/7733.836b311b.iframe.bundle.js.LICENSE.txt
  branches/feature/334-date-input-jd239/web-components/iframe.html
  branches/feature/334-date-input-jd239/web-components/main.0fd9c6db.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/main.0fd9c6db.iframe.bundle.js.LICENSE.txt
  branches/feature/334-date-input-jd239/web-components/main.4ed89cf4.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/project.json
  branches/feature/334-date-input-jd239/web-components/runtime~main.362af37c.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/runtime~main.e260cf02.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2ecaa8a9e7f94230ef44c78651250bd597afa610 🚀
  branches/feature/334-date-input-jd239/react/1965.2bd7e348.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/1965.50952c31.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/1965.50952c31.iframe.bundle.js.LICENSE.txt
  branches/feature/334-date-input-jd239/react/3132.4740ef35.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/3132.7ce2ef1a.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/3244.76e75904.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/3244.abc8a430.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/4637.652e77d1.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/4637.652e77d1.iframe.bundle.js.LICENSE.txt
  branches/feature/334-date-input-jd239/react/4727.bb09d0ed.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/4727.ef1ed344.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/5841.961be018.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/5841.c1e6bb57.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/5841.c1e6bb57.iframe.bundle.js.LICENSE.txt
  branches/feature/334-date-input-jd239/react/5850.16047f24.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/5850.16047f24.iframe.bundle.js.LICENSE.txt
  branches/feature/334-date-input-jd239/react/5850.8539cb36.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/6225.5922dd25.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/6225.5922dd25.iframe.bundle.js.LICENSE.txt
  branches/feature/334-date-input-jd239/react/6225.eaad91de.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/iframe.html
  branches/feature/334-date-input-jd239/react/main.a4c685d7.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/main.bbc39b1b.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/main.bbc39b1b.iframe.bundle.js.LICENSE.txt
  branches/feature/334-date-input-jd239/react/project.json
  branches/feature/334-date-input-jd239/react/runtime~main.8afdda29.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/runtime~main.a2ce11ee.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fix static side navigation falling off screen
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@8e270be0a77fcf1aff7a04ca765dccb44c867a42 🚀
  branches/stencil-v3/web-components/1416.07726233.iframe.bundle.js
  branches/stencil-v3/web-components/1416.36a0a15d.iframe.bundle.js
  branches/stencil-v3/web-components/1416.36a0a15d.iframe.bundle.js.LICENSE.txt
  branches/stencil-v3/web-components/3874.afc8b662.iframe.bundle.js
  branches/stencil-v3/web-components/3874.ffec1045.iframe.bundle.js
  branches/stencil-v3/web-components/iframe.html
  branches/stencil-v3/web-components/main.c4e27d93.iframe.bundle.js
  branches/stencil-v3/web-components/main.ec673966.iframe.bundle.js
  branches/stencil-v3/web-components/main.ec673966.iframe.bundle.js.LICENSE.txt
  branches/stencil-v3/web-components/project.json
  branches/stencil-v3/web-components/runtime~main.cd621de1.iframe.bundle.js
  branches/stencil-v3/web-components/runtime~main.e026ee66.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8e270be0a77fcf1aff7a04ca765dccb44c867a42 🚀
  branches/stencil-v3/react/1965.179f0bc0.iframe.bundle.js
  branches/stencil-v3/react/1965.979a46f4.iframe.bundle.js
  branches/stencil-v3/react/1965.979a46f4.iframe.bundle.js.LICENSE.txt
  branches/stencil-v3/react/3132.31a63148.iframe.bundle.js
  branches/stencil-v3/react/3132.c34678b2.iframe.bundle.js
  branches/stencil-v3/react/iframe.html
  branches/stencil-v3/react/main.54500e9d.iframe.bundle.js
  branches/stencil-v3/react/main.54500e9d.iframe.bundle.js.LICENSE.txt
  branches/stencil-v3/react/main.f5f435a1.iframe.bundle.js
  branches/stencil-v3/react/project.json
  branches/stencil-v3/react/runtime~main.17bbe239.iframe.bundle.js
  branches/stencil-v3/react/runtime~main.54f7ba5e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@52c3dd04d48a68ecaa4222a10bd3b459d99fb009 🚀
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/2308.34f6149b.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/2308.34f6149b.iframe.bundle.js.LICENSE.txt
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/2679.9703712f.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/2679.da5540a8.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/2679.da5540a8.iframe.bundle.js.LICENSE.txt
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/5903.30c8e324.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/5903.30c8e324.iframe.bundle.js.LICENSE.txt
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/5903.566ef890.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/6165.03078d85.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/6165.4f4e6a1c.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/7733.780c29bf.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/7733.e33a1ebb.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/7733.e33a1ebb.iframe.bundle.js.LICENSE.txt
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/iframe.html
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/main.8018c724.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/main.8018c724.iframe.bundle.js.LICENSE.txt
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/main.dacbe9c1.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/project.json
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/runtime~main.8f1431c3.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/runtime~main.aec3fd1c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@52c3dd04d48a68ecaa4222a10bd3b459d99fb009 🚀
  branches/bugfix/700-static-side-nav-falls-off-screen/react/4637.a20e5e8d.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/4637.a20e5e8d.iframe.bundle.js.LICENSE.txt
  branches/bugfix/700-static-side-nav-falls-off-screen/react/4727.1fbbd650.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/4727.76bc478b.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/5850.503e4dcd.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/5850.8213de5b.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/5850.8213de5b.iframe.bundle.js.LICENSE.txt
  branches/bugfix/700-static-side-nav-falls-off-screen/react/6225.45fbe011.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/6225.d06c877b.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/6225.d06c877b.iframe.bundle.js.LICENSE.txt
  branches/bugfix/700-static-side-nav-falls-off-screen/react/9257.d7626888.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/9257.e5095ad2.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/9257.e5095ad2.iframe.bundle.js.LICENSE.txt
  branches/bugfix/700-static-side-nav-falls-off-screen/react/iframe.html
  branches/bugfix/700-static-side-nav-falls-off-screen/react/main.9ebe47b6.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/main.f4714334.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/main.f4714334.iframe.bundle.js.LICENSE.txt
  branches/bugfix/700-static-side-nav-falls-off-screen/react/project.json
  branches/bugfix/700-static-side-nav-falls-off-screen/react/runtime~main.390eca87.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/runtime~main.e3f09cd3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@762139417dd6e78c5cff18cd5de5af18d2b0282d 🚀
  branches/feature/334-date-input-jd239/web-components/6982.64e9f40a.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/6982.9ea93298.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/iframe.html
  branches/feature/334-date-input-jd239/web-components/project.json
  branches/feature/334-date-input-jd239/web-components/runtime~main.10f8c8f2.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/runtime~main.e260cf02.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@762139417dd6e78c5cff18cd5de5af18d2b0282d 🚀
  branches/feature/334-date-input-jd239/react/3244.770f7108.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/3244.abc8a430.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/iframe.html
  branches/feature/334-date-input-jd239/react/project.json
  branches/feature/334-date-input-jd239/react/runtime~main.0d81b894.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/runtime~main.8afdda29.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e93616c537f297caa6e25bf9d2a8c91b9623d7e0 🚀
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/1416.97cf3d5e.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/1416.97cf3d5e.iframe.bundle.js.LICENSE.txt
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/1416.afc70278.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/3874.5f273350.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/3874.bfbc9324.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/iframe.html
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/main.785d823d.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/main.785d823d.iframe.bundle.js.LICENSE.txt
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/main.8018c724.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/project.json
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/runtime~main.ae311450.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/web-components/runtime~main.aec3fd1c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e93616c537f297caa6e25bf9d2a8c91b9623d7e0 🚀
  branches/bugfix/700-static-side-nav-falls-off-screen/react/1965.71801d21.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/1965.eeb4bff6.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/1965.eeb4bff6.iframe.bundle.js.LICENSE.txt
  branches/bugfix/700-static-side-nav-falls-off-screen/react/3132.651aea87.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/3132.bbd619a9.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/iframe.html
  branches/bugfix/700-static-side-nav-falls-off-screen/react/main.36574954.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/main.36574954.iframe.bundle.js.LICENSE.txt
  branches/bugfix/700-static-side-nav-falls-off-screen/react/main.f4714334.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/project.json
  branches/bugfix/700-static-side-nav-falls-off-screen/react/runtime~main.7ed5e96e.iframe.bundle.js
  branches/bugfix/700-static-side-nav-falls-off-screen/react/runtime~main.e3f09cd3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7dfe44d5329e8f78a2c9283f16ec7d007383296f 🚀
  branches/660-review-select-searchbar-tests/web-components/1416.97cf3d5e.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/1416.97cf3d5e.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/1416.afc70278.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/3874.5f273350.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/3874.bfbc9324.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/iframe.html
  branches/660-review-select-searchbar-tests/web-components/main.785d823d.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/main.785d823d.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/main.8018c724.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/project.json
  branches/660-review-select-searchbar-tests/web-components/runtime~main.052f1949.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/runtime~main.90a8125a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7dfe44d5329e8f78a2c9283f16ec7d007383296f 🚀
  branches/660-review-select-searchbar-tests/react/1965.71801d21.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/1965.eeb4bff6.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/1965.eeb4bff6.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/3132.651aea87.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/3132.bbd619a9.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/iframe.html
  branches/660-review-select-searchbar-tests/react/main.36574954.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/main.36574954.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/main.f4714334.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/project.json
  branches/660-review-select-searchbar-tests/react/runtime~main.68a22271.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/runtime~main.c1719ca7.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
