Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@be2c85b79426fa0fd8a67d5e5320253aa688bedc 🚀
  branches/canary/develop/react/5534.1fb3b230.iframe.bundle.js
  branches/canary/develop/react/5534.d8a72d51.iframe.bundle.js
  branches/canary/develop/react/5902.0d5c3dbd.iframe.bundle.js
  branches/canary/develop/react/5902.7670e56d.iframe.bundle.js
  branches/canary/develop/react/5997.02f50d8e.iframe.bundle.js
  branches/canary/develop/react/5997.e6079cd6.iframe.bundle.js
  branches/canary/develop/react/6476.cb627a6a.iframe.bundle.js
  branches/canary/develop/react/6476.d5d25555.iframe.bundle.js
  branches/canary/develop/react/7681.3deed2fb.iframe.bundle.js
  branches/canary/develop/react/7681.ceea72bf.iframe.bundle.js
  branches/canary/develop/react/iframe.html
  branches/canary/develop/react/index.json
  branches/canary/develop/react/project.json
  branches/canary/develop/react/runtime~main.3708c836.iframe.bundle.js
  branches/canary/develop/react/runtime~main.3c681c36.iframe.bundle.js
  branches/canary/develop/react/stories-ic-data-table-stories.a4a4f80e.iframe.bundle.js
  branches/canary/develop/react/stories-ic-data-table-stories.c296dd0e.iframe.bundle.js
  branches/canary/develop/react/stories-ic-pagination-bar-mdx.07b0b87a.iframe.bundle.js
  branches/canary/develop/react/stories-ic-pagination-bar-mdx.bf50d883.iframe.bundle.js
  branches/canary/develop/react/stories-ic-pagination-bar-stories.0187f882.iframe.bundle.js
  branches/canary/develop/react/stories-ic-pagination-bar-stories.d9366995.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3fa79b54a9ba6bed7a8260aabd9e413fed6c9022 🚀
  branches/3671-time-selector-component/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3fa79b54a9ba6bed7a8260aabd9e413fed6c9022 🚀
  branches/3671-time-selector-component/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3fa79b54a9ba6bed7a8260aabd9e413fed6c9022 🚀
  branches/3671-time-selector-component/canary-web-components/4309.2d6b0c63.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/4309.870e8cac.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/6879.3cb62028.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/6879.b40f682d.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8293.1bba8382.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8293.d9e098c1.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8581.26d586e2.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8581.26d586e2.iframe.bundle.js.LICENSE.txt
  branches/3671-time-selector-component/canary-web-components/8581.26d586e2.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/8581.92086629.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8581.92086629.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/components-ic-data-table-ic-data-table-stories.59017ead.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/components-ic-data-table-ic-data-table-stories.59017ead.iframe.bundle.js.LICENSE.txt
  branches/3671-time-selector-component/canary-web-components/components-ic-data-table-ic-data-table-stories.59017ead.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/components-ic-data-table-ic-data-table-stories.c62667f7.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/components-ic-data-table-ic-data-table-stories.c62667f7.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/components-ic-pagination-bar-ic-pagination-bar-mdx.0010a02d.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/components-ic-pagination-bar-ic-pagination-bar-mdx.0010a02d.iframe.bundle.js.LICENSE.txt
  branches/3671-time-selector-component/canary-web-components/components-ic-pagination-bar-ic-pagination-bar-mdx.0010a02d.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/components-ic-pagination-bar-ic-pagination-bar-mdx.264efff1.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/components-ic-pagination-bar-ic-pagination-bar-mdx.264efff1.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/components-ic-pagination-bar-ic-pagination-bar-stories.0ffce874.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/components-ic-pagination-bar-ic-pagination-bar-stories.0ffce874.iframe.bundle.js.LICENSE.txt
  branches/3671-time-selector-component/canary-web-components/components-ic-pagination-bar-ic-pagination-bar-stories.0ffce874.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/components-ic-pagination-bar-ic-pagination-bar-stories.e0482bbf.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/components-ic-pagination-bar-ic-pagination-bar-stories.e0482bbf.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/iframe.html
  branches/3671-time-selector-component/canary-web-components/index.json
  branches/3671-time-selector-component/canary-web-components/main.8b13d053.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/main.8b13d053.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/main.d50d31b5.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/main.d50d31b5.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/project.json
  branches/3671-time-selector-component/canary-web-components/runtime~main.580e9973.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/runtime~main.b28f6d26.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3fa79b54a9ba6bed7a8260aabd9e413fed6c9022 🚀
  branches/3671-time-selector-component/canary-react/5534.899f0dc6.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/5534.95a4bdf8.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/6476.21192c1f.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/6476.ae62ce72.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/7681.7cd1521d.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/7681.d514f3a0.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/8612.bede964f.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/8612.f7be98a1.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/iframe.html
  branches/3671-time-selector-component/canary-react/index.json
  branches/3671-time-selector-component/canary-react/project.json
  branches/3671-time-selector-component/canary-react/runtime~main.237d471c.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/runtime~main.2a2dc68a.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/stories-ic-data-table-stories.a4a4f80e.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/stories-ic-data-table-stories.c296dd0e.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/stories-ic-pagination-bar-mdx.07b0b87a.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/stories-ic-pagination-bar-mdx.bf50d883.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/stories-ic-pagination-bar-stories.0187f882.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/stories-ic-pagination-bar-stories.d9366995.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@28c027ea28f1baf7fc063c9fafc25a987b5f1a94 🚀
  branches/3671-time-selector-component/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@28c027ea28f1baf7fc063c9fafc25a987b5f1a94 🚀
  branches/3671-time-selector-component/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@28c027ea28f1baf7fc063c9fafc25a987b5f1a94 🚀
  branches/3671-time-selector-component/canary-web-components/8293.1bba8382.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8293.d9e098c1.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8581.26d586e2.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8581.26d586e2.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/8581.92086629.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8581.92086629.iframe.bundle.js.LICENSE.txt
  branches/3671-time-selector-component/canary-web-components/8581.92086629.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/iframe.html
  branches/3671-time-selector-component/canary-web-components/main.07c8dab8.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/main.07c8dab8.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/main.d50d31b5.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/main.d50d31b5.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/project.json
  branches/3671-time-selector-component/canary-web-components/runtime~main.580e9973.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/runtime~main.791cadef.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@28c027ea28f1baf7fc063c9fafc25a987b5f1a94 🚀
  branches/3671-time-selector-component/canary-react/8612.bede964f.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/8612.f7be98a1.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/iframe.html
  branches/3671-time-selector-component/canary-react/project.json
  branches/3671-time-selector-component/canary-react/runtime~main.2a2dc68a.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/runtime~main.ded3986b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(canary-web-components): implement time selector component
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-time-input/ic-time-input.tsx
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.css
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.mdx
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.stories.js
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.tsx
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.types.ts
  packages/canary-web-components/src/components/ic-time-selector/readme.md
  packages/canary-web-components/src/components/ic-time-selector/test/basic/__snapshots__/ic-time-selector.spec.tsx.snap
  packages/canary-web-components/src/components/ic-time-selector/test/basic/ic-time-selector.spec.tsx
  packages/canary-web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(canary-docs): update docs.json with time selector component
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(canary-react): implement time selector component
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-column-focus.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-dark-theme.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-date-object-value.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-default-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-default.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-disable-times.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-hhmm-format.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-large.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-max-time.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-min-time-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-min-time.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-small.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-string-value-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-string-value.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-zulu-time-value.png
  packages/canary-react/src/component-tests/IcTimeSelector/IcTimeSelector.cy.tsx
  packages/canary-react/src/component-tests/IcTimeSelector/IcTimeSelectorTestData.tsx
  packages/canary-react/src/components.ts
  packages/canary-react/src/stories/ic-time-selector.mdx
  packages/canary-react/src/stories/ic-time-selector.stories.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@06b2f57b9b39fed22bb6c21abe69a3af1b4f7458 🚀
  branches/3671-time-selector-component/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3671-time-selector-component/cypress-image-diff-html-report/report_01-12-2025_124447.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@06b2f57b9b39fed22bb6c21abe69a3af1b4f7458 🚀
  branches/3671-time-selector-component/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/density-dense-dropdown.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@06b2f57b9b39fed22bb6c21abe69a3af1b4f7458 🚀
  branches/3671-time-selector-component/cypress-image-diff-html-report/report_01-12-2025_131843.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(root): react stories mostly sorted
  packages/canary-docs/docs.json
  packages/canary-react/src/stories/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/readme.md
  packages/canary-web-components/src/utils/constants.ts
  packages/canary-web-components/src/utils/helpers.ts
  packages/docs/docs.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-alert/ic-alert.tsx
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.js
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-context/readme.md
  packages/web-components/src/global/color-mode.css
  packages/web-components/src/utils/constants.ts
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@06b2f57b9b39fed22bb6c21abe69a3af1b4f7458 🚀
  branches/3671-time-selector-component/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@06b2f57b9b39fed22bb6c21abe69a3af1b4f7458 🚀
  branches/3671-time-selector-component/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@06b2f57b9b39fed22bb6c21abe69a3af1b4f7458 🚀
  branches/3671-time-selector-component/canary-web-components/8293.1bba8382.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8293.f1368026.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/iframe.html
  branches/3671-time-selector-component/canary-web-components/project.json
  branches/3671-time-selector-component/canary-web-components/runtime~main.5b2c3b4c.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/runtime~main.791cadef.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@06b2f57b9b39fed22bb6c21abe69a3af1b4f7458 🚀
  branches/3671-time-selector-component/canary-react/8612.731a4133.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/8612.f7be98a1.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/iframe.html
  branches/3671-time-selector-component/canary-react/project.json
  branches/3671-time-selector-component/canary-react/runtime~main.c355dabd.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/runtime~main.ded3986b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e0a5263eab4b5468245668f0b97158f36e534170 🚀
  branches/3671-time-selector-component/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3671-time-selector-component/cypress-image-diff-html-report/report_01-12-2025_131843.json
  branches/3671-time-selector-component/cypress-image-diff-html-report/report_04-12-2025_100750.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e0a5263eab4b5468245668f0b97158f36e534170 🚀
  branches/3671-time-selector-component/web-components/2121.c3da7fc4.iframe.bundle.js
  branches/3671-time-selector-component/web-components/2121.f2b7df5e.iframe.bundle.js
  branches/3671-time-selector-component/web-components/2561.2a895952.iframe.bundle.js
  branches/3671-time-selector-component/web-components/2561.ef7460f8.iframe.bundle.js
  branches/3671-time-selector-component/web-components/iframe.html
  branches/3671-time-selector-component/web-components/main.14f76034.iframe.bundle.js
  branches/3671-time-selector-component/web-components/main.14f76034.iframe.bundle.js.map
  branches/3671-time-selector-component/web-components/main.95059729.iframe.bundle.js.map
  branches/3671-time-selector-component/web-components/project.json
  branches/3671-time-selector-component/web-components/runtime~main.ad955167.iframe.bundle.js
  branches/3671-time-selector-component/web-components/runtime~main.b92a69e2.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e0a5263eab4b5468245668f0b97158f36e534170 🚀
  branches/3671-time-selector-component/react/1529.34d8dc33.iframe.bundle.js
  branches/3671-time-selector-component/react/1529.34d8dc33.iframe.bundle.js.LICENSE.txt
  branches/3671-time-selector-component/react/1529.eb3c874f.iframe.bundle.js
  branches/3671-time-selector-component/react/2673.e2026eb7.iframe.bundle.js
  branches/3671-time-selector-component/react/2673.f6dd7c2d.iframe.bundle.js
  branches/3671-time-selector-component/react/iframe.html
  branches/3671-time-selector-component/react/main.046b2647.iframe.bundle.js
  branches/3671-time-selector-component/react/main.390226b4.iframe.bundle.js
  branches/3671-time-selector-component/react/main.390226b4.iframe.bundle.js.LICENSE.txt
  branches/3671-time-selector-component/react/project.json
  branches/3671-time-selector-component/react/runtime~main.289d2288.iframe.bundle.js
  branches/3671-time-selector-component/react/runtime~main.8511aca2.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e0a5263eab4b5468245668f0b97158f36e534170 🚀
  branches/3671-time-selector-component/canary-web-components/2121.1d25207f.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/2121.ea46ddc2.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/2561.8f2535c8.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/2561.bfa33e5c.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8581.26d586e2.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8581.26d586e2.iframe.bundle.js.LICENSE.txt
  branches/3671-time-selector-component/canary-web-components/8581.26d586e2.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/8581.92086629.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8581.92086629.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/iframe.html
  branches/3671-time-selector-component/canary-web-components/main.07c8dab8.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/main.07c8dab8.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/main.30ef3496.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/main.30ef3496.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/project.json
  branches/3671-time-selector-component/canary-web-components/runtime~main.17b3f41e.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/runtime~main.5b2c3b4c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e0a5263eab4b5468245668f0b97158f36e534170 🚀
  branches/3671-time-selector-component/canary-react/2017.2b157a14.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/2017.b40d5aca.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/2729.9d76864f.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/2729.a5a78a53.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/7681.49e3dd2e.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/7681.d514f3a0.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/8832.3c03b9d6.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/8832.bb253ecf.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/9802.b7fe41d9.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/9802.f88e5370.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/iframe.html
  branches/3671-time-selector-component/canary-react/main.291f936e.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/main.4dd684e5.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/project.json
  branches/3671-time-selector-component/canary-react/runtime~main.c355dabd.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/runtime~main.e8cc83d8.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): add link to good first contribution info
  README.md
Due: remark

feat(web-components): add z-index for ic-drawer to variables.css and new type to types.ts
  packages/web-components/src/global/color-mode.css
  packages/web-components/src/global/variables.css
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix

feat(canary-web-components): create drawer component
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.mdx
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.types.d.ts
  packages/canary-web-components/src/components/ic-drawer/readme.md
  packages/canary-web-components/src/components/ic-drawer/test/__snapshots__/ic-drawer.spec.tsx.snap
  packages/canary-web-components/src/components/ic-drawer/test/ic-drawer.spec.tsx
  packages/canary-web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(canary-react): create React wrapper for new ic-drawer component, add stories and Cypress tests
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/bottom-position-collapsed.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/bottom-position-expanded.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/chevron-btn-aria-label-collapsed.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/chevron-btn-aria-label-expanded.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/close-btn-aria-label-expanded.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/dark-theme-collapsed.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/dark-theme-expanded.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/large-size-expanded.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/left-position-collapsed.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/left-position-expanded.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/right-position-collapsed.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/right-position-expanded.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/small-size-expanded.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/top-position-collapsed.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/top-position-expanded.png
  packages/canary-react/src/component-tests/IcDrawer/IcDrawer.cy.tsx
  packages/canary-react/src/components.ts
  packages/canary-react/src/stories/ic-drawer.mdx
  packages/canary-react/src/stories/ic-drawer.stories.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

docs(canary-docs): update docs following addition of drawer component
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write
