Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@ec28d4ff82509985aa785e4b8b9b5539282aaa53 🚀
  branches/canary/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@aa5286e8785559f3cf9ba4ece59f59fae4ddb6fd 🚀
  branches/4229-create-a-large-variant-of-radio-button/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4229-create-a-large-variant-of-radio-button/cypress-image-diff-html-report/report_12-03-2026_124656.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@208c372cacf23f2ffd600aa34a477c708835fa73 🚀
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-html-report/report_12-03-2026_172337.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@38a9451bd9355800558856ab839d61126b7c808e 🚀
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/baseline/IcSideNavigation.cy.tsx/multi-level-first-level.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/baseline/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/baseline/IcSideNavigation.cy.tsx/multi-level-second-level-expanded.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcBackToTop.cy.tsx/icon.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-first-level.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-second-level-expanded.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/diff/IcBackToTop.cy.tsx/icon.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/multi-level-first-level.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@38a9451bd9355800558856ab839d61126b7c808e 🚀
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-html-report/report_13-03-2026_115312.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b38000a8979b5a7abe437b8c8e2bc9fd996f863f 🚀
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/baseline/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcAccordion.cy.tsx/focused.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-first-level.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/multi-level-first-level.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@b38000a8979b5a7abe437b8c8e2bc9fd996f863f 🚀
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-html-report/report_13-03-2026_121905.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fc71034b799ad0a3bbdf6be5782c6050bfd2ad08 🚀
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/baseline/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/baseline/IcSideNavigation.cy.tsx/multi-level-second-level-expanded.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/multi-level-second-level-expanded.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@fc71034b799ad0a3bbdf6be5782c6050bfd2ad08 🚀
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-html-report/report_13-03-2026_131017.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fc71034b799ad0a3bbdf6be5782c6050bfd2ad08 🚀
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@fc71034b799ad0a3bbdf6be5782c6050bfd2ad08 🚀
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-html-report/report_13-03-2026_143544.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7121a303ef571e799026f654e9e5ed16e6439e2e 🚀
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-html-report/report_13-03-2026_151722.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e626ab35886f71289ccbbb1ce57b3c5fce67d158 🚀
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-html-report/report_13-03-2026_154954.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): add a mutation observer to check for dynamically render nav items in side nav
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.tsx
  packages/web-components/src/components/ic-pagination-bar/readme.md
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-stepper/ic-stepper.tsx
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

chore(canary-web-components): fixes for lint issues
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
  packages/canary-web-components/src/components/ic-date-input/ic-date-input.tsx
  packages/canary-web-components/src/components/ic-date-input/test/basic/ic-date-input.spec.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(react): add story and test to demonstrate a multi-level side navigation
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigation.cy.tsx
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigationTestData.tsx
  packages/react/src/stories/ic-side-navigation.stories.jsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(docs): update docs following a build of all components
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(canary-docs): update docs following a build of all components
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

ci(root): fix broken if statement in update-cypress-visual-regression-tests.yaml
  .github/workflows/update-cypress-visual-regression-tests.yml
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@f036d6b883007efac12a55491c484336ab2c7c0d 🚀
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcAccordion.cy.tsx/focused.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-first-level.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/multi-level-first-level.png
  branches/3778-ic-side-navigation-issues-related-to-dynamically-rendering-navigation-items-in-icsidenavigation/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
Due: none

Path conditions:
  eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts": any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
