Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(root): add line to readme to say that only signed commits can be merged
  CONTRIBUTING.md
Due: remark

fix(web-components): set text field input width to 100%
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Conditional_dynamic.png
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@5fbbed3749e0f2956c9a8a7b606f6a8914d02333 🚀
  branches/develop/iframe.html
  branches/develop/main.5c19e287.iframe.bundle.js
  branches/develop/main.5c19e287.iframe.bundle.js.LICENSE.txt
  branches/develop/main.5c19e287.iframe.bundle.js.map
  branches/develop/main.d62fb6e3.iframe.bundle.js
  branches/develop/main.d62fb6e3.iframe.bundle.js.map
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1155ee2be1d182dcdd8d7a1a80ac6be6b08f000d 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4a12988b43c6a050d45e6d6deb2b8f3be797ee61 🚀
  branches/develop/15.36d53b24.iframe.bundle.js
  branches/develop/15.b5faec4d.iframe.bundle.js
  branches/develop/26.33362d0e.iframe.bundle.js
  branches/develop/26.d2d7a9fe.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.09700d54.iframe.bundle.js
  branches/develop/runtime~main.41825ee1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a7faae72a2556defe433404a3a6320ff6418f8ab 🚀
  branches/92-overflowing-components/16.3fb56fab.iframe.bundle.js
  branches/92-overflowing-components/16.6f3ac741.iframe.bundle.js
  branches/92-overflowing-components/iframe.html
  branches/92-overflowing-components/project.json
  branches/92-overflowing-components/runtime~main.09700d54.iframe.bundle.js
  branches/92-overflowing-components/runtime~main.14d54e93.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): adds support for form reset event
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Form.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Switch_Default_in_form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Default_in_form.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-checkbox-group/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.e2e.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-radio-group/__snapshots__/ic-radio-group.spec.ts.snap
  packages/web-components/src/components/ic-radio-group/ic-radio-group.e2e.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.spec.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.stories.mdx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-select/ic-select.e2e.ts
  packages/web-components/src/components/ic-select/ic-select.spec.ts
  packages/web-components/src/components/ic-select/ic-select.stories.mdx
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-switch/__snapshots__/ic-switch.spec.ts.snap
  packages/web-components/src/components/ic-switch/ic-switch.spec.ts
  packages/web-components/src/components/ic-switch/ic-switch.stories.mdx
  packages/web-components/src/components/ic-switch/ic-switch.tsx
  packages/web-components/src/components/ic-switch/readme.md
  packages/web-components/src/components/ic-text-field/__snapshots__/ic-text-field.input.spec.tsx.snap
  packages/web-components/src/components/ic-text-field/ic-text-field.e2e.ts
  packages/web-components/src/components/ic-text-field/ic-text-field.input.spec.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.stories.mdx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@2c62ad97ea02062e5f9df6c9504e84e176841dfc 🚀
  branches/112-add-appearance-prop-to-tab-panel/33.8ec8397f.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/33.d29788c6.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/40.06a32f9d.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/40.dcc73e15.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/iframe.html
  branches/112-add-appearance-prop-to-tab-panel/main.5c19e287.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/main.5c19e287.iframe.bundle.js.map
  branches/112-add-appearance-prop-to-tab-panel/main.a4e83587.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/main.a4e83587.iframe.bundle.js.LICENSE.txt
  branches/112-add-appearance-prop-to-tab-panel/main.a4e83587.iframe.bundle.js.map
  branches/112-add-appearance-prop-to-tab-panel/project.json
  branches/112-add-appearance-prop-to-tab-panel/runtime~main.09700d54.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/runtime~main.0b44eeeb.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): remove clashing button styles from dismissable alert
  packages/web-components/src/components/ic-alert/ic-alert.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@1ed26714f5bbb4be3d6172ea178fef9ce48f481a 🚀
  branches/remove-double-styles-from-dismissable-alert/4.1a22e31f.iframe.bundle.js
  branches/remove-double-styles-from-dismissable-alert/4.c2de1212.iframe.bundle.js
  branches/remove-double-styles-from-dismissable-alert/iframe.html
  branches/remove-double-styles-from-dismissable-alert/project.json
  branches/remove-double-styles-from-dismissable-alert/runtime~main.09700d54.iframe.bundle.js
  branches/remove-double-styles-from-dismissable-alert/runtime~main.7dd13a4c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5c56d9f5e9c8e43e8d979b2f51fa1beefb9cac40 🚀
  branches/39-add-testing-documentation/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f9aa513ec05892b2a8477822fb308f8ce6a64a70 🚀
  branches/39-add-testing-documentation/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@dee6ed5f6a823254b500d8138f7c821fb5aa0b2d 🚀
  branches/112-add-appearance-prop-to-tab-panel/32.0d60042a.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/32.0d60042a.iframe.bundle.js.LICENSE.txt
  branches/112-add-appearance-prop-to-tab-panel/32.0d60042a.iframe.bundle.js.map
  branches/112-add-appearance-prop-to-tab-panel/32.b5947307.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/32.b5947307.iframe.bundle.js.map
  branches/112-add-appearance-prop-to-tab-panel/33.53397892.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/33.d29788c6.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/34.955e7c71.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/34.a3c73bfa.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/40.06a32f9d.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/40.f7a60ebf.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/iframe.html
  branches/112-add-appearance-prop-to-tab-panel/main.a4e83587.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/main.a4e83587.iframe.bundle.js.map
  branches/112-add-appearance-prop-to-tab-panel/main.b0915dac.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/main.b0915dac.iframe.bundle.js.LICENSE.txt
  branches/112-add-appearance-prop-to-tab-panel/main.b0915dac.iframe.bundle.js.map
  branches/112-add-appearance-prop-to-tab-panel/project.json
  branches/112-add-appearance-prop-to-tab-panel/runtime~main.0b44eeeb.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/runtime~main.f313a029.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6588b452fcf35e714f615c14c17b4c5cd788c387 🚀
  branches/39-add-testing-documentation/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(web-components): roll back mdx react package
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ba756165539d7829469b84ddec86abe7de7ac6bf 🚀
  branches/112-add-appearance-prop-to-tab-panel/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@699899cd4ace32a74782b980cdfab3cee7021ff4 🚀
  branches/feature/111-no-results-state-when-filter-disabled/27.06c7df9b.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/27.06c7df9b.iframe.bundle.js.map
  branches/feature/111-no-results-state-when-filter-disabled/27.ed6e1a06.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/27.ed6e1a06.iframe.bundle.js.LICENSE.txt
  branches/feature/111-no-results-state-when-filter-disabled/27.ed6e1a06.iframe.bundle.js.map
  branches/feature/111-no-results-state-when-filter-disabled/42.dbefcdfd.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/42.dbefcdfd.iframe.bundle.js.LICENSE.txt
  branches/feature/111-no-results-state-when-filter-disabled/42.dbefcdfd.iframe.bundle.js.map
  branches/feature/111-no-results-state-when-filter-disabled/42.fe525de2.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/42.fe525de2.iframe.bundle.js.map
  branches/feature/111-no-results-state-when-filter-disabled/iframe.html
  branches/feature/111-no-results-state-when-filter-disabled/main.2f6c60ca.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/main.2f6c60ca.iframe.bundle.js.LICENSE.txt
  branches/feature/111-no-results-state-when-filter-disabled/main.2f6c60ca.iframe.bundle.js.map
  branches/feature/111-no-results-state-when-filter-disabled/main.5c19e287.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/main.5c19e287.iframe.bundle.js.map
  branches/feature/111-no-results-state-when-filter-disabled/project.json
  branches/feature/111-no-results-state-when-filter-disabled/runtime~main.4ef1d342.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/runtime~main.85167771.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add appearance prop to tab panel and switch around appearance light/dark
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tabs_Dark.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tabs_Light_text.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tabs_Responsive_Light_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tabs_Dark.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tabs_Light_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tabs_Responsive_Light_text.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-context/ic-tabs.stories.mdx
  packages/web-components/src/components/ic-tab-context/readme.md
  packages/web-components/src/components/ic-tab-group/ic-tab-group.css
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.css
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-tab/ic-tab.css
  packages/web-components/src/components/ic-tab/ic-tab.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): update react stories to have appearance light for tabs
  packages/react/src/stories/ic-tabs.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@457341caac70db579bdfd986b092b0ae96afb02e 🚀
  branches/112-add-appearance-prop-to-tab-panel/iframe.html
  branches/112-add-appearance-prop-to-tab-panel/main.b0915dac.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/main.b0915dac.iframe.bundle.js.map
  branches/112-add-appearance-prop-to-tab-panel/main.d2818dda.iframe.bundle.js
  branches/112-add-appearance-prop-to-tab-panel/main.d2818dda.iframe.bundle.js.LICENSE.txt
  branches/112-add-appearance-prop-to-tab-panel/main.d2818dda.iframe.bundle.js.map
  branches/112-add-appearance-prop-to-tab-panel/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@047aeef6ed85a350307d14ad5758603cf2ebcf3b 🚀
  branches/develop/4.1a22e31f.iframe.bundle.js
  branches/develop/4.c2de1212.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.09700d54.iframe.bundle.js
  branches/develop/runtime~main.7dd13a4c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@134118e3ee127df6c2500eb09f992ca66fa4cce9 🚀
  branches/feature/111-no-results-state-when-filter-disabled/27.ed6e1a06.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/27.ed6e1a06.iframe.bundle.js.map
  branches/feature/111-no-results-state-when-filter-disabled/27.fc2badde.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/27.fc2badde.iframe.bundle.js.LICENSE.txt
  branches/feature/111-no-results-state-when-filter-disabled/27.fc2badde.iframe.bundle.js.map
  branches/feature/111-no-results-state-when-filter-disabled/iframe.html
  branches/feature/111-no-results-state-when-filter-disabled/project.json
  branches/feature/111-no-results-state-when-filter-disabled/runtime~main.4ef1d342.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/runtime~main.6378eb23.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2ccb383ad7c109930c628fdc9b97f7001289688a 🚀
  branches/develop/iframe.html
  branches/develop/main.5c19e287.iframe.bundle.js
  branches/develop/main.5c19e287.iframe.bundle.js.map
  branches/develop/main.bdbd6089.iframe.bundle.js
  branches/develop/main.bdbd6089.iframe.bundle.js.LICENSE.txt
  branches/develop/main.bdbd6089.iframe.bundle.js.map
  branches/develop/project.json
  branches/develop/vendors~main.7f8ab61f.iframe.bundle.js
  branches/develop/vendors~main.7f8ab61f.iframe.bundle.js.LICENSE.txt
  branches/develop/vendors~main.7f8ab61f.iframe.bundle.js.map
  branches/develop/vendors~main.ae18f288.iframe.bundle.js
  branches/develop/vendors~main.ae18f288.iframe.bundle.js.map
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c1d5e861d9b23c72a5573278ff5749391e630422 🚀
  branches/feature/111-no-results-state-when-filter-disabled/27.bfbefe00.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/27.bfbefe00.iframe.bundle.js.LICENSE.txt
  branches/feature/111-no-results-state-when-filter-disabled/27.bfbefe00.iframe.bundle.js.map
  branches/feature/111-no-results-state-when-filter-disabled/27.fc2badde.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/27.fc2badde.iframe.bundle.js.map
  branches/feature/111-no-results-state-when-filter-disabled/iframe.html
  branches/feature/111-no-results-state-when-filter-disabled/project.json
  branches/feature/111-no-results-state-when-filter-disabled/runtime~main.6378eb23.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/runtime~main.69183afe.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5229b9ea61573ab0c7b199dfd87790894d9223dc 🚀
  branches/high-contrast-poc/38.53348528.iframe.bundle.js
  branches/high-contrast-poc/38.53348528.iframe.bundle.js.LICENSE.txt
  branches/high-contrast-poc/38.53348528.iframe.bundle.js.map
  branches/high-contrast-poc/38.96ed9bab.iframe.bundle.js
  branches/high-contrast-poc/38.96ed9bab.iframe.bundle.js.map
  branches/high-contrast-poc/iframe.html
  branches/high-contrast-poc/project.json
  branches/high-contrast-poc/runtime~main.1875aadc.iframe.bundle.js
  branches/high-contrast-poc/runtime~main.ded27b1a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): remove margin left on end component and add max width to value on xs breakpoint
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Long_text_values.png
  packages/web-components/src/components/ic-data-row/ic-data-row.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@1f5747238527e32acd08a1cbb792404c21e2329f 🚀
  branches/92-overflowing-data-entity/16.1601f0b4.iframe.bundle.js
  branches/92-overflowing-data-entity/16.acd7485e.iframe.bundle.js
  branches/92-overflowing-data-entity/iframe.html
  branches/92-overflowing-data-entity/project.json
  branches/92-overflowing-data-entity/runtime~main.b3eff749.iframe.bundle.js
  branches/92-overflowing-data-entity/runtime~main.e6f8f86d.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
