Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

feat(react): add anchor slot to popover menu
  packages/react/cypress-image-diff-screenshots/baseline/IcPopoverMenu.cy.tsx/max-height.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPopoverMenu.cy.tsx/position-absolute.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPopoverMenu.cy.tsx/position-fixed.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPopoverMenu.cy.tsx/slotted-anchor.png
  packages/react/src/component-tests/IcPopoverMenu/IcPopoverMenu.cy.tsx
  packages/react/src/component-tests/IcPopoverMenu/IcPopoverMenuData.css
  packages/react/src/component-tests/IcPopoverMenu/IcPopoverMenuData.tsx
  packages/react/src/stories/ic-popover-menu.stories.jsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@e0bafa6393e6ddc48af0fbf05441889ca08e8a04 🚀
  branches/2757-issues-with-shadow-dom-and-button-popover-menu/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e0bafa6393e6ddc48af0fbf05441889ca08e8a04 🚀
  branches/2757-issues-with-shadow-dom-and-button-popover-menu/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@941ebb3a0395d4778b144b3c1b3dfe1a65c5736f 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAccordion.cy.tsx/focused.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/focused-destructive.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPaginationBar.cy.tsx/go-to-page-invalid-tooltip-high-contrast.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/popover-close-on-click.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-first-level.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-second-level-expanded.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/diff/IcPopoverMenu.cy.tsx/popover-close-on-click.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/multi-level-first-level.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/multi-level-second-level-expanded.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@941ebb3a0395d4778b144b3c1b3dfe1a65c5736f 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/report_01-06-2026_080644.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@16c43c3f07a10199d7966e6fe3eba876627ef8a0 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPaginationBar.cy.tsx/go-to-page-invalid-tooltip-high-contrast.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/popover-close-on-click.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/diff/IcPopoverMenu.cy.tsx/popover-close-on-click.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@16c43c3f07a10199d7966e6fe3eba876627ef8a0 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/report_01-06-2026_083455.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b427a34e58c0f7625368043b1d139c5d9e3865e8 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/baseline/IcPopoverMenu.cy.tsx/max-height.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/baseline/IcPopoverMenu.cy.tsx/position-absolute.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/baseline/IcPopoverMenu.cy.tsx/position-fixed.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/baseline/IcPopoverMenu.cy.tsx/slotted-anchor.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPaginationBar.cy.tsx/go-to-page-invalid-tooltip-high-contrast.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/max-height.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/position-absolute.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/position-fixed.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/slotted-anchor.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@b427a34e58c0f7625368043b1d139c5d9e3865e8 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/report_01-06-2026_102345.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@dbfc1769c30c3dde195e944404316818c1a85ac2 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/baseline/IcPopoverMenu.cy.tsx/popover-close-on-click.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/popover-close-on-click.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/diff/IcPopoverMenu.cy.tsx/popover-close-on-click.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@dbfc1769c30c3dde195e944404316818c1a85ac2 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/report_02-06-2026_093720.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fd5b11a23a93e41d783b11690665bbc96f32f82f 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/popover-close-on-click.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/diff/IcPopoverMenu.cy.tsx/popover-close-on-click.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@fd5b11a23a93e41d783b11690665bbc96f32f82f 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/report_02-06-2026_101704.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@707c26f3478bcf19e01673bd4d8e2a87f7dc8cd5 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@707c26f3478bcf19e01673bd4d8e2a87f7dc8cd5 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@02773d96c639ab1e397d04854a20b906d400f674 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/baseline/IcPopoverMenu.cy.tsx/popover-close-on-click.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcHero.cy.tsx/background-image.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/popover-close-on-click.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/diff/IcHero.cy.tsx/background-image.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/diff/IcPopoverMenu.cy.tsx/popover-close-on-click.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@02773d96c639ab1e397d04854a20b906d400f674 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/report_02-06-2026_150519.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@02773d96c639ab1e397d04854a20b906d400f674 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@02773d96c639ab1e397d04854a20b906d400f674 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): run audit fix
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-react): run audit fix
  packages/canary-react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): upgrade storybook and add overrides to reduce vulnerabilities
  audit-ci.json
  package-lock.json
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write
