Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@f447ea8b8182b7c0f5bcf939211360ce7c3394b3 🚀
  branches/test/data-table-pagination/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f447ea8b8182b7c0f5bcf939211360ce7c3394b3 🚀
  branches/test/data-table-pagination/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(release): [ci skip] components publish
  CHANGELOG.md
  packages/docs/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/web-components/CHANGELOG.md
Due: remark

fix(web-components): fix vertical alignment of icons on side navigation
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Expanded.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Long_app_version_and_app_status.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Slots.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Static.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Theming.png
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-side-navigation/test/basic/__snapshots__/ic-side-navigation.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): update search bar to correctly show no results found
  packages/web-components/src/components/ic-search-bar/ic-search-bar.stories.mdx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): updated searchable select to clear input when value programatically set
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/test/basic/ic-menu.spec.tsx
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/test/basic/ic-select.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add role tab to divs in horizontal scroll to stop axe issue
  packages/web-components/src/components/ic-horizontal-scroll/ic-horizontal-scroll.tsx
  packages/web-components/src/components/ic-horizontal-scroll/test/basic/__snapshots__/ic-horizontal-scroll.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add story for short app title for top navigation
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: remark

fix(web-components): fixes ic-button aria-describedby not working
  packages/web-components/src/components/ic-button/ic-button.stories.mdx
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/test/basic/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-button/test/basic/ic-button.e2e.ts
  packages/web-components/src/components/ic-button/test/basic/ic-button.spec.ts
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.e2e.ts
  packages/web-components/src/components/ic-select/test/basic/ic-select.e2e.ts
  packages/web-components/src/components/ic-typography/test/basic/ic-typography.e2e.ts
  packages/web-components/src/testspec.setup.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(react): update shortTitle to shortAppTitle for top navigation
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: remark

feat(web-components): add short title for top navigation that shows instead of app title on s device
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Short_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Short_title.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
  packages/web-components/src/components/ic-top-navigation/readme.md
  packages/web-components/src/components/ic-top-navigation/test/a11y/ic-top-navigation.test.a11y.ts
  packages/web-components/src/components/ic-top-navigation/test/basic/__snapshots__/ic-top-navigation.spec.ts.snap
  packages/web-components/src/components/ic-top-navigation/test/basic/ic-top-navigation.e2e.ts
  packages/web-components/src/components/ic-top-navigation/test/basic/ic-top-navigation.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): update short-title to short-app-title for top navigation
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
  packages/web-components/src/components/ic-top-navigation/readme.md
  packages/web-components/src/components/ic-top-navigation/test/a11y/ic-top-navigation.test.a11y.ts
  packages/web-components/src/components/ic-top-navigation/test/basic/__snapshots__/ic-top-navigation.spec.ts.snap
  packages/web-components/src/components/ic-top-navigation/test/basic/ic-top-navigation.e2e.ts
  packages/web-components/src/components/ic-top-navigation/test/basic/ic-top-navigation.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(root): change to contribution guide
  CONTRIBUTING.md
Due: remark

fix(web-components): fix padding on static side navigation
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): update side nav CSS to ensure visibility of menu content is correct
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
Due: stylelint --fix

fix(web-components): update side nav transition handlers to fix bug with collapsed labels variant
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-side-navigation/test/basic/__snapshots__/ic-side-navigation.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(root): build guidamce
  README.md
Due: remark

feat(root): add action to check for tasks in PR description not completed
  .github/workflows/check-tasks-completed.yml
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@bf1f08bdc74ecf10e850c51e8e8bb3a44d740e3b 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b5ec0fe7ba5a27b891cf188ec59f546ab71c18a9 🚀
  branches/915-internal-issue-2405/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b5ec0fe7ba5a27b891cf188ec59f546ab71c18a9 🚀
  branches/915-internal-issue-2405/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
