Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(canary-react): audit fix
  packages/canary-react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-web-components): audit fix
  packages/canary-web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(fonts): audit fix
  packages/fonts/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(codemod): audit fix
  packages/codemod/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(nextjs): audit fix
  packages/nextjs/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): audit fix
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): audit fix
  audit-ci.json
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(web-components): audit fix
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): update tar and remove outdated ghsa's
  audit-ci.json
  package-lock.json
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): clear inherited aria-label on ic-navigation-button when attribute is removed
  packages/web-components/src/components/ic-navigation-button/ic-navigation-button.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): add new audit exceptions
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(web-components): bump dompurify version to resolve audit failure
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): add extract-zip ghsa
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): npm run audit:fix to bump packages
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(root): add angular reference installation instructions
  README.md
Due: remark

fix(web-components): updated IcAccordion to handle prefers-reduced-motion: reduce
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
  packages/web-components/src/components/ic-accordion/test/basic/ic-accordion.spec.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(angular-community-supported): comments out broken parts of the angular build to unblock release
  packages/angular-community-supported/scripts/build-core.js
  packages/angular-community-supported/tsconfig.schematics.json.ignore
Due: none

feat(angular-community-supported): updates angular package dependencies and rebuilds wrappers @3.29
  packages/angular-community-supported/package-lock.json
  packages/angular-community-supported/package.json
  packages/angular-community-supported/scripts/build-core.js
  packages/angular-community-supported/scripts/patch-value-accessors.js
  packages/angular-community-supported/src/directives/boolean-value-accessor.ts
  packages/angular-community-supported/src/directives/radio-value-accessor.ts
  packages/angular-community-supported/src/directives/select-value-accessor.ts
  packages/angular-community-supported/src/directives/text-value-accessor.ts
  packages/angular-community-supported/src/schematics/utils/config.ts
  packages/angular-community-supported/standalone/src/directives/boolean-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/radio-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/select-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/text-value-accessor.ts
  packages/angular-community-supported/tsconfig.json
  packages/angular-community-supported/tsconfig.schematics.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(release): update development release version check file
  DEVELOPMENT_RELEASE_CHECK.md
Due: remark

chore(release): [ci skip] components publish
  package-lock.json
  packages/angular-community-supported/CHANGELOG.md
  packages/angular-community-supported/package-lock.json
  packages/angular-community-supported/package.json
  packages/canary-docs/CHANGELOG.md
  packages/canary-docs/package.json
  packages/canary-react/CHANGELOG.md
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-web-components/CHANGELOG.md
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
  packages/codemod/CHANGELOG.md
  packages/codemod/package-lock.json
  packages/codemod/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package-lock.json
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

fix: address tabs reflow review
  packages/react/src/component-tests/IcTabs/IcTabs.cy.tsx
  packages/web-components/src/components/ic-tab-group/ic-tab-group.css
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix

fix: address dialog accessibility review
  packages/react/src/component-tests/IcDialog/IcDialog.cy.tsx
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.spec.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

refactor(web-components): #4630 Add source import alias
  packages/web-components/src/components/ic-badge/ic-badge.types.ts
  packages/web-components/stencil.config.ts
  packages/web-components/tsconfig.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

refactor(canary-web-components): #4630 Add source import aliases
  packages/canary-web-components/src/components/ic-calendar/ic-day-button.tsx
  packages/canary-web-components/stencil.config.ts
  packages/canary-web-components/tsconfig.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): #4364 fix select clear button focus colour
  packages/web-components/src/components/ic-select/ic-select.css
Due: stylelint --fix

fix(web-components): #4172 remove stale navigation key listener
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
  packages/web-components/src/components/ic-navigation-group/test/basic/ic-navigation-group-listener.spec.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): #4446 restore search focus on Escape
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(react): #4446 cover Escape focus restoration
  packages/react/src/component-tests/IcSearchBar/IcSearchBarEscapeFocus.cy.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): #4393 match page header tab height without href
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
Due: stylelint --fix

test(react): #4393 cover navigation tab height without href
  packages/react/src/component-tests/IcPageHeader/IcNavigationItemTabHeight.cy.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): #3879 mark checkbox checkmark decorative
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(web-components): #3879 cover decorative checkbox checkmark
  packages/web-components/src/components/ic-checkbox/test/basic/ic-checkbox-decorative-checkmark.spec.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): #4034 align card underline with link
  packages/web-components/src/components/ic-card-vertical/ic-card-vertical.css
Due: stylelint --fix

test(react): #4034 compare card and link hover underline
  packages/react/src/component-tests/IcCardVertical/IcCardVerticalLinkUnderline.cy.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): #2007 update footer links when grouping changes
  packages/web-components/src/components/ic-footer-link/ic-footer-link.tsx
  packages/web-components/src/components/ic-footer/ic-footer.tsx
  packages/web-components/src/components/ic-footer/test/basic/ic-footer-group-links.spec.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(root): #4493 read urgency dropdown text
  .github/workflows/add-issue-urgency.yml
Due: none

fix(web-components): #1579 constrain slotted chip SVGs
  packages/web-components/src/components/ic-chip/ic-chip.css
Due: stylelint --fix

fix(web-components): #2047 react to reverseOrder changes
  packages/web-components/src/components/ic-page-header/ic-page-header.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(react): #1579 cover SlottedSVG chip sizing
  packages/react/src/component-tests/IcChip/IcChipSlottedSvg.cy.tsx
  packages/react/src/stories/ic-chip-slotted-svg.stories.jsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(react): #2047 cover runtime reverseOrder changes
  packages/react/src/component-tests/IcPageHeader/IcPageHeaderReverseOrder.cy.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts": any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
