Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): remove contentinfo role from classification banner
  packages/web-components/src/components/ic-classification-banner/ic-classification-banner.spec.ts
  packages/web-components/src/components/ic-classification-banner/ic-classification-banner.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@c64de27de6b582808201cff5bd87e59d5e1c7570 🚀
  branches/315-ic-select-full-width-prop-doesnt-work/7733.54345afc.iframe.bundle.js
  branches/315-ic-select-full-width-prop-doesnt-work/7733.54345afc.iframe.bundle.js.LICENSE.txt
  branches/315-ic-select-full-width-prop-doesnt-work/7733.e1131869.iframe.bundle.js
  branches/315-ic-select-full-width-prop-doesnt-work/iframe.html
  branches/315-ic-select-full-width-prop-doesnt-work/project.json
  branches/315-ic-select-full-width-prop-doesnt-work/runtime~main.4b3f4494.iframe.bundle.js
  branches/315-ic-select-full-width-prop-doesnt-work/runtime~main.8cf64972.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e50d97dd1509a98c676e3224747275739681aac0 🚀
  branches/315-ic-select-full-width-prop-doesnt-work/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add width: 100% to select and text field host
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-text-field/ic-text-field.css
  packages/web-components/src/components/ic-text-field/ic-text-field.stories.mdx
Due: stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@b8744741f8d0154bb6640520c3ae41f0b7352e83 🚀
  branches/315-ic-select-full-width-prop-doesnt-work/5903.58f88b49.iframe.bundle.js
  branches/315-ic-select-full-width-prop-doesnt-work/5903.58f88b49.iframe.bundle.js.LICENSE.txt
  branches/315-ic-select-full-width-prop-doesnt-work/5903.a5e8a52d.iframe.bundle.js
  branches/315-ic-select-full-width-prop-doesnt-work/iframe.html
  branches/315-ic-select-full-width-prop-doesnt-work/main.01386e52.iframe.bundle.js
  branches/315-ic-select-full-width-prop-doesnt-work/main.01386e52.iframe.bundle.js.LICENSE.txt
  branches/315-ic-select-full-width-prop-doesnt-work/main.0ec07e11.iframe.bundle.js
  branches/315-ic-select-full-width-prop-doesnt-work/project.json
  branches/315-ic-select-full-width-prop-doesnt-work/runtime~main.59d7abb8.iframe.bundle.js
  branches/315-ic-select-full-width-prop-doesnt-work/runtime~main.8cf64972.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(root): [ci skip]: re-generated root changelog
  CHANGELOG.md
Due: remark

docs(docs): [ci skip]: re-generated docs changelog
  packages/docs/CHANGELOG.md
Due: remark

docs(fonts): [ci skip]: re-generated fonts changelog
  packages/fonts/CHANGELOG.md
Due: remark

docs(react): [ci skip]: re-generated react changelog
  packages/react/CHANGELOG.md
Due: remark

docs(web-components): [ci skip]: re-generated web components changelog
  packages/web-components/CHANGELOG.md
Due: remark

feat(web-components): update loki visual regression test references
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Card_right_content.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Image_right_content.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Long_heading.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Secondary_heading.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Theme.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_no_parallax_effect.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_parallax_effect.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Dismissible_with_action.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_With_action.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Interaction_controls.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Without_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_With_options.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Disabled_options.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Groups.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Required.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Scroll_behaviour.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_disabled_options.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_groups.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_groups_group_titles_included_in_search.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_recommended.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_required.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_with_description.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Validation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Helper_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Name.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Right_adornment.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_With_icon.png
Due: none

docs(web-components): updates description of ic-card href prop
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-card/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): update chip to use icDismiss event and deprecate current dismiss event
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-chip/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): add conditional so validation area only shows when needed
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Basic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Conditional_dynamic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Helper_text.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Required.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Conditional_dynamic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Helper_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Required.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Small.png
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-radio-group/__snapshots__/ic-radio-group.spec.ts.snap
  packages/web-components/src/components/ic-radio-group/ic-radio-group.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): audit fix
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(react): audit fix
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@78fca6d199361f9c0c67d47ec5128133e6094ccc 🚀
  branches/bugfix/348-ic-radio-group-remove-empty-space-for-input-validation-when-none-is-provided/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@86a9d4b73d02ceeceaef0ffb87a82cd4c063fedf 🚀
  branches/develop/5903.58f88b49.iframe.bundle.js
  branches/develop/5903.58f88b49.iframe.bundle.js.LICENSE.txt
  branches/develop/5903.a5e8a52d.iframe.bundle.js
  branches/develop/7733.54345afc.iframe.bundle.js
  branches/develop/7733.54345afc.iframe.bundle.js.LICENSE.txt
  branches/develop/7733.e1131869.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.0ec07e11.iframe.bundle.js
  branches/develop/main.e94e612b.iframe.bundle.js
  branches/develop/main.e94e612b.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.4b3f4494.iframe.bundle.js
  branches/develop/runtime~main.59d7abb8.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): enhances slottedsvg component
  packages/react/src/react-component-lib/slottedSVG.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
