Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@eec3a352e2bc7fbaffaf0bbb245b262a75455dfa 🚀
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.50150f16.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.efaac18e.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.efaac18e.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/react/8533.8983ea4b.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/8533.92fe24e9.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/9103.0058e8c2.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/9103.7344309a.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/react/main.563699b3.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/main.563699b3.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/react/main.ba07d5b3.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/project.json
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.191de372.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.c03e32df.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@bbf54ecf6f758d76b56090c22236923af84a8033 🚀
  branches/268-search-select-loading-states/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@bbf54ecf6f758d76b56090c22236923af84a8033 🚀
  branches/268-search-select-loading-states/react/iframe.html
  branches/268-search-select-loading-states/react/main.ab5fca5b.iframe.bundle.js
  branches/268-search-select-loading-states/react/main.ab5fca5b.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/main.dc4dacc1.iframe.bundle.js
  branches/268-search-select-loading-states/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixed closing of popover menu
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.spec.ts
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.stories.mdx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@600c919d0ccf41c7664d4c56f06e89a60ba29a7d 🚀
  branches/464-update-checkbox-event-detail/web-components/6088.4eef609e.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/6088.9bec1fb4.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/iframe.html
  branches/464-update-checkbox-event-detail/web-components/project.json
  branches/464-update-checkbox-event-detail/web-components/runtime~main.4384edf6.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/runtime~main.ff5bf910.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@600c919d0ccf41c7664d4c56f06e89a60ba29a7d 🚀
  branches/464-update-checkbox-event-detail/react/8637.4975fc54.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/8637.e108a483.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/iframe.html
  branches/464-update-checkbox-event-detail/react/project.json
  branches/464-update-checkbox-event-detail/react/runtime~main.521e9ca3.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/runtime~main.548b9cce.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2880e7ac107a7c1c9957c6ccac19f7642473559b 🚀
  branches/564-popover-incorrect-anchor/web-components/iframe.html
  branches/564-popover-incorrect-anchor/web-components/main.e3cafb5b.iframe.bundle.js
  branches/564-popover-incorrect-anchor/web-components/main.f055ebf3.iframe.bundle.js
  branches/564-popover-incorrect-anchor/web-components/main.f055ebf3.iframe.bundle.js.LICENSE.txt
  branches/564-popover-incorrect-anchor/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2880e7ac107a7c1c9957c6ccac19f7642473559b 🚀
  branches/564-popover-incorrect-anchor/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5a9b25f311301cd5bd7bcace89b56892fcb8af3c 🚀
  branches/bugfix/525-ic-select-not-getting-updated/web-components/2679.9605eb45.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/2679.9bbff039.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/2679.9bbff039.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.8c3cb9a6.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.8c3cb9a6.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.d66168ea.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/web-components/project.json
  branches/bugfix/525-ic-select-not-getting-updated/web-components/runtime~main.6ec5c185.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/runtime~main.7e0866d3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5a9b25f311301cd5bd7bcace89b56892fcb8af3c 🚀
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.26b18dce.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.26b18dce.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.efaac18e.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/9257.86e5d257.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/9257.86e5d257.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/react/9257.94beb7d9.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/react/project.json
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.191de372.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.c1837729.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6b20c821ffffce026f83c5871c01b0be5f711713 🚀
  branches/develop/605.67b34093.iframe.bundle.js
  branches/develop/605.7f332f78.iframe.bundle.js
  branches/develop/605.7f332f78.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/main.e3cafb5b.iframe.bundle.js
  branches/develop/main.f055ebf3.iframe.bundle.js
  branches/develop/main.f055ebf3.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.518db7db.iframe.bundle.js
  branches/develop/runtime~main.6b900343.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fix failing visual regression tests
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Component_override.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Component_override.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Default.png
  packages/web-components/src/components/ic-typography/ic-typography.stories.mdx
Due: remark

fix(web-components): fix-auto-fill-ic-select-prettier
  packages/web-components/src/components/ic-select/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-select/ic-select.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): removed initialRender
  packages/web-components/src/components/ic-select/ic-select.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(react): add code typography variants to React Storybook
  packages/react/src/stories/ic-typography.stories.mdx
Due: remark

fix(web-components): update navigation buttons to have 100% height
  packages/web-components/src/components/ic-navigation-button/ic-navigation-button.css
Due: stylelint --fix

feat(web-components): add form attributes to button
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-button/ic-button.spec.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

ci(root): added condition to feature branch CI
  .github/workflows/ic-ui-kit-branches.yml
Due: none

fix(web-components): updated tabs to pass down context-id
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tabs_Nested_tabs.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tabs_Nested_tabs.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tab-context/__snapshots__/ic-tab-context.spec.ts.snap
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-context/ic-tabs.stories.mdx
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
  packages/web-components/src/components/ic-tab-group/readme.md
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-tab-panel/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): add overlay to pages when top navigation pop out menu is open
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): added functionality to deal with tab/tab panels which have been removed
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.e2e.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.spec.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-tab-panel/readme.md
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-tab/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): updated alert.css file
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Dismissible_with_action.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_With_action.png
  packages/web-components/src/components/ic-alert/ic-alert.css
Due: stylelint --fix

fix(web-components): added wrap to interaction-container to stack buttons zoomed in
  packages/web-components/src/components/ic-hero/ic-hero.css
Due: stylelint --fix

refactor(web-components): adds spacing variable to replace
  packages/react/package-lock.json
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.css
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-chip/ic-chip.css
  packages/web-components/src/components/ic-data-entity/ic-data-entity.css
  packages/web-components/src/components/ic-data-row/ic-data-row.css
  packages/web-components/src/components/ic-divider/ic-divider.css
  packages/web-components/src/components/ic-horizontal-scroll/ic-horizontal-scroll.css
  packages/web-components/src/components/ic-input-component-container/ic-input-component-container.css
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.css
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
  packages/web-components/src/components/ic-search-bar/ic-search-bar.css
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-status-tag/ic-status-tag.css
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/components/ic-switch/ic-switch.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/global/variables.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): fixes warnings and errors in unit tests
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.spec.tsx
  packages/web-components/src/components/ic-button/ic-button.spec.ts
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.e2e.ts
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.spec.ts
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-radio-group/ic-radio-group.e2e.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.spec.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.e2e.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.spec.ts
  packages/web-components/src/components/ic-select/ic-select.spec.tsx
  packages/web-components/src/components/ic-skeleton/ic-skeleton.spec.ts
  packages/web-components/src/components/ic-step/ic-step.spec.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.e2e.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.spec.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.e2e.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.spec.ts
  packages/web-components/src/components/ic-theme/ic-theme.spec.tsx
  packages/web-components/src/components/ic-toast/ic-toast.spec.ts
  packages/web-components/src/components/ic-toast/ic-toast.tsx
  packages/web-components/src/components/ic-tooltip/ic-tooltip.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add flex-wrap CSS styling to interaction controls slot in ic-card
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Expandable.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Interaction_controls.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Reduced_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Expandable.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Interaction_controls.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Reduced_width.png
  packages/web-components/src/components/ic-card/__snapshots__/ic-card.spec.ts.snap
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-card/ic-card.stories.mdx
  packages/web-components/src/components/ic-card/ic-card.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): fixed boolean css properties
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-checkbox-group/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.css
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/components/ic-hero/__snapshots__/ic-hero.spec.ts.snap
  packages/web-components/src/components/ic-hero/ic-hero.css
  packages/web-components/src/components/ic-hero/ic-hero.tsx
  packages/web-components/src/components/ic-horizontal-scroll/ic-horizontal-scroll.css
  packages/web-components/src/components/ic-loading-indicator/__snapshots__/ic-loading-indicator.spec.ts.snap
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
  packages/web-components/src/components/ic-radio-group/__snapshots__/ic-radio-group.spec.ts.snap
  packages/web-components/src/components/ic-radio-group/ic-radio-group.css
  packages/web-components/src/components/ic-radio-group/ic-radio-group.tsx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-tab-group/ic-tab-group.css
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.css
  packages/web-components/src/components/ic-tab/ic-tab.css
  packages/web-components/src/components/ic-tab/ic-tab.spec.ts
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): add min/max to TextField
  packages/react/package-lock.json
  packages/react/src/stories/ic-text-field.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): add code typography tokens
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Component_override.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Variants.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Vertical_margins.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Component_override.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Variants.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Vertical_margins.png
  packages/web-components/src/components/ic-typography/ic-typography.css
  packages/web-components/src/components/ic-typography/ic-typography.spec.ts
  packages/web-components/src/components/ic-typography/ic-typography.stories.mdx
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/global/variables.css
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): add min/max to TextField
  packages/react/package-lock.json
  packages/react/src/stories/ic-text-field.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Text_field_Min_and_max.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Text_field_Validation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Custom_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Helper_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Min_and_max.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Placeholder_and_required.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Validation.png
  packages/web-components/package-lock.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-text-field/__snapshots__/ic-text-field.input.spec.tsx.snap
  packages/web-components/src/components/ic-text-field/ic-text-field.css
  packages/web-components/src/components/ic-text-field/ic-text-field.e2e.ts
  packages/web-components/src/components/ic-text-field/ic-text-field.input.spec.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.stories.mdx
  packages/web-components/src/components/ic-text-field/ic-text-field.textarea.spec.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/components/ic-text-field/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(fonts): add Source Code Pro font
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/fonts/src/fonts.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

ci(root): automate release check, develop -> main PR and starting design system workflow
  .github/workflows/ic-ui-kit-main.yml
  .github/workflows/ic-ui-kit-release.yml
Due: none

feat(root): added to allowlist for audit
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(react): update package-lock.json following a new release of ICDS components
  packages/react/src/stories/ic-card.stories.mdx
Due: remark

fix(web-components): update status and version tags in top nav to wrap
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Long_app_title.png
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
Due: stylelint --fix, remark

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
