Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@bf8ec9854386a3c02b01e211cc409c996bfced1b 🚀
  branches/feature/date-picker2/web-components/6098.7e171622.iframe.bundle.js
  branches/feature/date-picker2/web-components/6098.a7e9fc3a.iframe.bundle.js
  branches/feature/date-picker2/web-components/iframe.html
  branches/feature/date-picker2/web-components/main.34dd8d08.iframe.bundle.js
  branches/feature/date-picker2/web-components/main.34dd8d08.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/web-components/main.3aee62c6.iframe.bundle.js
  branches/feature/date-picker2/web-components/project.json
  branches/feature/date-picker2/web-components/runtime~main.395a6ab5.iframe.bundle.js
  branches/feature/date-picker2/web-components/runtime~main.9d31e848.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@bf8ec9854386a3c02b01e211cc409c996bfced1b 🚀
  branches/feature/date-picker2/react/2635.5b331d51.iframe.bundle.js
  branches/feature/date-picker2/react/2635.84719c92.iframe.bundle.js
  branches/feature/date-picker2/react/iframe.html
  branches/feature/date-picker2/react/main.8de69fbb.iframe.bundle.js
  branches/feature/date-picker2/react/main.8de69fbb.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/react/main.9df0d895.iframe.bundle.js
  branches/feature/date-picker2/react/project.json
  branches/feature/date-picker2/react/runtime~main.027bdcd4.iframe.bundle.js
  branches/feature/date-picker2/react/runtime~main.6efb138e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9c40bb7a710277d83e95b2b3aa25cb820d16ede0 🚀
  branches/feature/date-picker2/web-components/6098.a7e9fc3a.iframe.bundle.js
  branches/feature/date-picker2/web-components/6098.eeb2e1cf.iframe.bundle.js
  branches/feature/date-picker2/web-components/iframe.html
  branches/feature/date-picker2/web-components/main.34dd8d08.iframe.bundle.js
  branches/feature/date-picker2/web-components/main.894da156.iframe.bundle.js
  branches/feature/date-picker2/web-components/main.894da156.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/web-components/project.json
  branches/feature/date-picker2/web-components/runtime~main.9d31e848.iframe.bundle.js
  branches/feature/date-picker2/web-components/runtime~main.bf7b6749.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9c40bb7a710277d83e95b2b3aa25cb820d16ede0 🚀
  branches/feature/date-picker2/react/2635.84719c92.iframe.bundle.js
  branches/feature/date-picker2/react/2635.c571acd4.iframe.bundle.js
  branches/feature/date-picker2/react/iframe.html
  branches/feature/date-picker2/react/main.40969993.iframe.bundle.js
  branches/feature/date-picker2/react/main.40969993.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/react/main.8de69fbb.iframe.bundle.js
  branches/feature/date-picker2/react/project.json
  branches/feature/date-picker2/react/runtime~main.027bdcd4.iframe.bundle.js
  branches/feature/date-picker2/react/runtime~main.c5ea67e6.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): deprecate setVisible method on toast region and add openToast prop
  packages/react/src/stories/ic-toast.stories.mdx
Due: remark

docs(docs): docs changes for checkbox change
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): update docs with setVisible deprecation on toast region
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(web-components): add slots for badge-icon to docs
  packages/web-components/src/components/ic-badge/ic-badge.tsx
  packages/web-components/src/components/ic-badge/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): add a watch to checked prop
  packages/web-components/src/components/ic-switch/ic-switch.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(react): adds accordion expanded story
  packages/react/src/stories/ic-accordion.stories.mdx
Due: remark

fix(web-components): fixes accordion expanded
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): fixes responsive tabs selection issue
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-horizontal-scroll/ic-horizontal-scroll.tsx
  packages/web-components/src/components/ic-tab-context/test/basic/__snapshots__/ic-tab-context.spec.ts.snap
  packages/web-components/src/components/ic-tab-context/test/basic/ic-tab-context.e2e.ts
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes issues with icchange event
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

ci(root): adds react storybook to develop deployment
  .github/workflows/ic-ui-kit-develop.yml
Due: none

test(web-components): adds visual regression tests for accordion
  packages/react/src/stories/ic-accordion.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Expanded.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Expanded.png
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): deprecate setVisible method on toast region and add openToast prop
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-toast-region/ic-toast-region.tsx
  packages/web-components/src/components/ic-toast-region/readme.md
  packages/web-components/src/components/ic-toast-region/test/basic/ic-toast-region.spec.ts
  packages/web-components/src/components/ic-toast/ic-toast.stories.mdx
  packages/web-components/src/components/ic-toast/ic-toast.tsx
  packages/web-components/src/components/ic-toast/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): added display property to ic-select
  packages/web-components/src/components/ic-select/ic-select.css
Due: stylelint --fix

fix(web-components): removes expandable from storybook
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
Due: remark

docs(docs): add slot for badge-icon to docs
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): added default no results state to select
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/test/basic/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-select/test/basic/ic-select.e2e.ts
  packages/web-components/src/components/ic-select/test/basic/ic-select.spec.tsx
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add expanded story and visual tests back for side nav
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Expanded.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Expanded.png
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
Due: remark

chore(root): adds audit exception to fix build
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): added ability to hide the close button, equalised call to action button spacing
  packages/docs/docs.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-dialog/ic-dialog.css
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.mdx
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/readme.md
  packages/web-components/src/components/ic-dialog/test/basic/__snapshots__/ic-dialog.spec.ts.snap
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(react): react story added for checkbox fix
  packages/react/src/stories/ic-checkbox.stories.mdx
Due: remark

docs(react): add switch story for checked updating state
  packages/react/src/stories/ic-switch.stories.mdx
Due: remark

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(react): add a new slot to top nav for routing using short app title
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: remark

feat(web-components): add slot to top nav for routing with short app title
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Slotted_title_link.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Slotted_title_link.png
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
  packages/web-components/src/components/ic-top-navigation/readme.md
  packages/web-components/src/components/ic-top-navigation/test/basic/__snapshots__/ic-top-navigation.spec.ts.snap
  packages/web-components/src/components/ic-top-navigation/test/basic/ic-top-navigation.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(docs): update docs.json with short app title slot
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@085559a06b4ecb0d6b8b06b86a2af1e925f8fee2 🚀
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/web-components/1738.7d5a0c67.iframe.bundle.js
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/web-components/1738.8d7c880c.iframe.bundle.js
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/web-components/iframe.html
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/web-components/main.0beafea3.iframe.bundle.js
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/web-components/main.0beafea3.iframe.bundle.js.LICENSE.txt
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/web-components/main.9252088f.iframe.bundle.js
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/web-components/project.json
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/web-components/runtime~main.8289303c.iframe.bundle.js
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/web-components/runtime~main.9a5ab79c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@085559a06b4ecb0d6b8b06b86a2af1e925f8fee2 🚀
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/react/8533.3a63eee5.iframe.bundle.js
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/react/8533.5051f13f.iframe.bundle.js
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/react/iframe.html
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/react/main.31a9fa8e.iframe.bundle.js
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/react/main.31a9fa8e.iframe.bundle.js.LICENSE.txt
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/react/main.dd54e82a.iframe.bundle.js
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/react/project.json
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/react/runtime~main.32844b1a.iframe.bundle.js
  branches/1248-top-navigation-app-icon-is-not-part-of-homepage-links-clickable-area-+-clickable-area-doesnt-function-on-mobile/react/runtime~main.96cb7322.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
