Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@fd5cae071e98d067690c2b403fd684debb24e332 🚀
  branches/611-show-tooltip-method/react/iframe.html
  branches/611-show-tooltip-method/react/main.1baf8c25.iframe.bundle.js
  branches/611-show-tooltip-method/react/main.da3d5626.iframe.bundle.js
  branches/611-show-tooltip-method/react/main.da3d5626.iframe.bundle.js.LICENSE.txt
  branches/611-show-tooltip-method/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): added react story
  packages/react/src/stories/ic-tooltip.stories.mdx
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.e2e.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.spec.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@8a2837519a2bf2a40ef76b21bd17bf3945b5cfd8 🚀
  branches/611-show-tooltip-method/web-components/iframe.html
  branches/611-show-tooltip-method/web-components/main.2a681b36.iframe.bundle.js
  branches/611-show-tooltip-method/web-components/main.2a681b36.iframe.bundle.js.LICENSE.txt
  branches/611-show-tooltip-method/web-components/main.decf166a.iframe.bundle.js
  branches/611-show-tooltip-method/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8a2837519a2bf2a40ef76b21bd17bf3945b5cfd8 🚀
  branches/611-show-tooltip-method/react/iframe.html
  branches/611-show-tooltip-method/react/main.885d0f74.iframe.bundle.js
  branches/611-show-tooltip-method/react/main.885d0f74.iframe.bundle.js.LICENSE.txt
  branches/611-show-tooltip-method/react/main.da3d5626.iframe.bundle.js
  branches/611-show-tooltip-method/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9a4dc99951a78e7b8a8b66955d9c9031d6f97e17 🚀
  branches/660-review-select-searchbar-tests/web-components/1738.6df552ad.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/1738.73a8394a.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/2679.07558f64.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/2679.ba41a4cc.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/2679.ba41a4cc.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/504.21d5d826.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/504.21d5d826.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/504.323cca40.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/5903.13eefe7e.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/5903.13eefe7e.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/5903.152f4ddc.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/6165.d5b8c929.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/6165.f62d6f46.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/6663.0c743dd1.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/6663.0c743dd1.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/6663.497eb2cf.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/7733.16ee2916.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/7733.9e22b9d2.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/7733.9e22b9d2.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/iframe.html
  branches/660-review-select-searchbar-tests/web-components/main.6fbd7021.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/main.6fbd7021.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/main.78be7087.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/project.json
  branches/660-review-select-searchbar-tests/web-components/runtime~main.5d2f100f.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/runtime~main.7af29203.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9a4dc99951a78e7b8a8b66955d9c9031d6f97e17 🚀
  branches/660-review-select-searchbar-tests/react/1642.076cdf7d.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/1642.c4b62106.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/1642.c4b62106.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/4727.92896a56.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/4727.bd1fdb1e.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/5835.6f6bb31b.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/5835.844a68c3.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/5835.844a68c3.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/5850.7b50e754.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/5850.7b50e754.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/5850.cfcccbbe.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/6225.0b472558.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/6225.e1cf60d8.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/6225.e1cf60d8.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/8533.957b70ca.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/8533.e8b6153f.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/9257.0391de1c.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/9257.0391de1c.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/9257.7b523ce9.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/iframe.html
  branches/660-review-select-searchbar-tests/react/main.1dc8531f.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/main.c8f8196f.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/main.c8f8196f.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/project.json
  branches/660-review-select-searchbar-tests/react/runtime~main.0a4a2ad8.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/runtime~main.1cff7eaa.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): ic-card will always have interaction section placed at the bottom
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Additional_height.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Additional_height.png
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-card/ic-card.stories.mdx
Due: stylelint --fix, remark

fix(react): ic-card will always have interaction section placed at the bottom
  packages/react/src/stories/ic-card.stories.mdx
Due: remark

chore(web-components): fixes loki visual tests for cards
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Additional_height.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Additional_height.png
Due: none

fix(web-components): fixes space bar bug in ic-menu
  packages/web-components/src/components/ic-menu/ic-menu.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): added loading state
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-loading-indicator/readme.md
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/readme.md
  packages/web-components/src/components/ic-search-bar/ic-search-bar.spec.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.stories.mdx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-select/ic-select.spec.tsx
  packages/web-components/src/components/ic-select/ic-select.stories.mdx
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): updated react stories
  packages/react/src/stories/ic-search-bar.stories.mdx
  packages/react/src/stories/ic-select.stories.mdx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

build(react): update package-lock.json
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): allow text for app status and version number to wrap in side nav
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Long_app_version_and_app_status.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Collapsed_icons_with_labels.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Expanded.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Long_app_version_and_app_status.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Static.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Theming.png
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-side-navigation/__snapshots__/ic-side-navigation.spec.ts.snap
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): add story to show app status and version number text wrapping in side nav
  packages/react/src/stories/ic-side-navigation.stories.mdx
Due: remark

fix(web-components): changes ic-search-bar animation to match ic-select behaviour
  packages/web-components/src/components/ic-search-bar/ic-search-bar.css
Due: stylelint --fix

fix(web-components): update typography visual tests
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Variants.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Vertical_margins.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Variants.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Vertical_margins.png
  packages/web-components/src/components/ic-typography/ic-typography.stories.mdx
Due: remark

feat(web-components): changed event.detail for ic-checkbox icChange
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.e2e.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.types.ts
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): add min-width css custom prop to button with fallback of original min-width
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Button_Min_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Button_Min_width.png
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-button/ic-button.stories.mdx
  packages/web-components/src/components/ic-button/readme.md
Due: stylelint --fix, remark

docs(react): created IcPagination react stories
  packages/react/src/components.ts
  packages/react/src/stories/ic-pagination.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(react): updated react story
  packages/react/src/stories/ic-checkbox.stories.mdx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.e2e.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.types.ts
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): ic-pagination and ic-pagination-item created
  audit-ci.json
  packages/react/src/stories/ic-pagination.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_Complex.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_Complex_Adjacent_Boundary_Items_Set.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_Simple.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_Complex.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_Complex_Adjacent_Boundary_Items_Set.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_Simple.png
  packages/web-components/src/assets/pagination-first-last.svg
  packages/web-components/src/assets/pagination-next-previous.svg
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-pagination-item/ic-pagination-item.css
  packages/web-components/src/components/ic-pagination-item/ic-pagination-item.tsx
  packages/web-components/src/components/ic-pagination-item/ic-pagination-item.types.ts
  packages/web-components/src/components/ic-pagination-item/readme.md
  packages/web-components/src/components/ic-pagination/__snapshots__/ic-pagination.spec.ts.snap
  packages/web-components/src/components/ic-pagination/ic-pagination.css
  packages/web-components/src/components/ic-pagination/ic-pagination.e2e.ts
  packages/web-components/src/components/ic-pagination/ic-pagination.spec.ts
  packages/web-components/src/components/ic-pagination/ic-pagination.stories.mdx
  packages/web-components/src/components/ic-pagination/ic-pagination.test.a11y.ts
  packages/web-components/src/components/ic-pagination/ic-pagination.tsx
  packages/web-components/src/components/ic-pagination/ic-pagination.types.ts
  packages/web-components/src/components/ic-pagination/readme.md
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): add internal prop to allow for validation without text or icon
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Text_field_Validation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Validation.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-text-field/ic-text-field.stories.mdx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(react): add story for new internal inline validation prop
  packages/react/src/stories/ic-text-field.stories.mdx
Due: remark

fix(web-components): return out of onBlur for select if scrollbar/group title is clicked
  packages/web-components/src/components/ic-select/ic-select.spec.tsx
  packages/web-components/src/components/ic-select/ic-select.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixed focusing of select on menu close
  packages/web-components/src/components/ic-menu/ic-menu.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add flex-shrink 0 to checkbox and svgs, and align checkbox label
  packages/web-components/src/components/ic-checkbox-group/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): updated select searchable to update emitted events
  package-lock.json
  packages/web-components/src/components/ic-menu-item/ic-menu-item.css
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.css
  packages/web-components/src/components/ic-search-bar/ic-search-bar.e2e.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-select/__snapshots__/ic-select.e2e.ts.snap
  packages/web-components/src/components/ic-select/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-select/ic-select.e2e.ts
  packages/web-components/src/components/ic-select/ic-select.spec.tsx
  packages/web-components/src/components/ic-select/ic-select.stories.mdx
  packages/web-components/src/components/ic-select/ic-select.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): update type of min and max on text field to be consistent with native input
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/components/ic-text-field/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): updated aria-hidden on mobile menu button
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

feat(web-components): added public method to change tooltip display
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Using_external_method.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Using_external_method.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.spec.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.stories.mdx
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): fixed failing test
  packages/web-components/src/components/ic-menu/ic-menu.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): updating blur functionality on ic-menu
  packages/web-components/src/components/ic-menu/ic-menu.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): adds initial data table component
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.css
  packages/web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@1d03264b72da43c202c55ff75acb02e6a67475d5 🚀
  branches/chore/updated-blur-functionality/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1d03264b72da43c202c55ff75acb02e6a67475d5 🚀
  branches/chore/updated-blur-functionality/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
