Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@68bc05ae2dd69b040dbdc8b4dad8775a0a88c917 🚀
  branches/chore/update-github-action/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@68bc05ae2dd69b040dbdc8b4dad8775a0a88c917 🚀
  branches/chore/update-github-action/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): updated branch CI workflow to run tests on contributor code
  .github/workflows/ic-ui-kit-branches.yml
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@d3d48d155e4b510aff407aa37f75aa9baeaaa4c1 🚀
  branches/558/merge/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d3d48d155e4b510aff407aa37f75aa9baeaaa4c1 🚀
  branches/558/merge/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@035e4fe163db48f291c357977dba0496ff8b6c56 🚀
  branches/chore/update-github-action/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@035e4fe163db48f291c357977dba0496ff8b6c56 🚀
  branches/chore/update-github-action/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add support query for hover/focus of links
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.css
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-footer-link/ic-footer-link.css
  packages/web-components/src/components/ic-link/ic-link.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@7515ae156bfea814ee4c6188a0eaae8b90715095 🚀
  branches/develop/1912.2a150f1c.iframe.bundle.js
  branches/develop/1912.2a150f1c.iframe.bundle.js.LICENSE.txt
  branches/develop/1912.a47392cb.iframe.bundle.js
  branches/develop/5696.4df10b91.iframe.bundle.js
  branches/develop/5696.de578209.iframe.bundle.js
  branches/develop/5696.de578209.iframe.bundle.js.LICENSE.txt
  branches/develop/7733.766266d1.iframe.bundle.js
  branches/develop/7733.766266d1.iframe.bundle.js.LICENSE.txt
  branches/develop/7733.ac57f98d.iframe.bundle.js
  branches/develop/8753.250ee3ff.iframe.bundle.js
  branches/develop/8753.271b90f8.iframe.bundle.js
  branches/develop/8753.271b90f8.iframe.bundle.js.LICENSE.txt
  branches/develop/9462.8da3f7ad.iframe.bundle.js
  branches/develop/9462.9424acd0.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.4781570f.iframe.bundle.js
  branches/develop/main.4781570f.iframe.bundle.js.LICENSE.txt
  branches/develop/main.dca3f651.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.119fb02d.iframe.bundle.js
  branches/develop/runtime~main.4c7c70a7.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e83df0ff91e584d49f906d65ce858c005117754c 🚀
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/iframe.html
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/main.748f88bb.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/main.748f88bb.iframe.bundle.js.LICENSE.txt
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/main.868fdbb6.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e83df0ff91e584d49f906d65ce858c005117754c 🚀
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/iframe.html
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/main.8ad86d2c.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/main.8ad86d2c.iframe.bundle.js.LICENSE.txt
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/main.fa1e5535.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2b86b2d82c58d1728841412a0aadfacbf2e3d2be 🚀
  branches/268-search-select-loading-states/web-components/1912.9ea28267.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/1912.9ea28267.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/1912.a5bce1c9.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/5696.269ca106.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/5696.269ca106.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/5696.922fedfd.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/7733.7a515d5c.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/7733.d5897646.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/7733.d5897646.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/8753.80ac6e2c.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/8753.80ac6e2c.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/8753.f4fe5276.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/9462.19285153.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/9462.d392e8bc.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/iframe.html
  branches/268-search-select-loading-states/web-components/main.17a1914f.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/main.17a1914f.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/main.361acb9c.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/project.json
  branches/268-search-select-loading-states/web-components/runtime~main.26a702b3.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/runtime~main.c21e94fd.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2b86b2d82c58d1728841412a0aadfacbf2e3d2be 🚀
  branches/268-search-select-loading-states/react/530.097ad84b.iframe.bundle.js
  branches/268-search-select-loading-states/react/530.097ad84b.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/530.890dee25.iframe.bundle.js
  branches/268-search-select-loading-states/react/6225.ace38795.iframe.bundle.js
  branches/268-search-select-loading-states/react/6225.d9d223fc.iframe.bundle.js
  branches/268-search-select-loading-states/react/6225.d9d223fc.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/6831.8b1c000d.iframe.bundle.js
  branches/268-search-select-loading-states/react/6831.99937b80.iframe.bundle.js
  branches/268-search-select-loading-states/react/6831.99937b80.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/828.0c791184.iframe.bundle.js
  branches/268-search-select-loading-states/react/828.592167aa.iframe.bundle.js
  branches/268-search-select-loading-states/react/9570.8704c610.iframe.bundle.js
  branches/268-search-select-loading-states/react/9570.8704c610.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/9570.9f4657d5.iframe.bundle.js
  branches/268-search-select-loading-states/react/iframe.html
  branches/268-search-select-loading-states/react/main.5cd71dd1.iframe.bundle.js
  branches/268-search-select-loading-states/react/main.5cd71dd1.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/main.a375d3a1.iframe.bundle.js
  branches/268-search-select-loading-states/react/project.json
  branches/268-search-select-loading-states/react/runtime~main.05dca809.iframe.bundle.js
  branches/268-search-select-loading-states/react/runtime~main.cd038799.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d42493819e98eb2c636286ad10cf5e968dd4d84b 🚀
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/5696.0fc7aea7.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/5696.bc8dabd3.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/5696.bc8dabd3.iframe.bundle.js.LICENSE.txt
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/iframe.html
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/project.json
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/runtime~main.ef1696e3.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/runtime~main.f34b9ea6.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d42493819e98eb2c636286ad10cf5e968dd4d84b 🚀
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/6831.99d84500.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/6831.99d84500.iframe.bundle.js.LICENSE.txt
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/6831.fb0aa5b7.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/iframe.html
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/project.json
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/runtime~main.634acc29.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/runtime~main.7576931a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): update popover to use display none instead of opacity 0
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.css
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

chore(root): audit fix updates
  package-lock.json
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b8590003dfd4cc054f1738f187a79bdc48dba4f9 🚀
  branches/popover-fixes/web-components/605.67b34093.iframe.bundle.js
  branches/popover-fixes/web-components/605.67b34093.iframe.bundle.js.LICENSE.txt
  branches/popover-fixes/web-components/605.b6ac15bc.iframe.bundle.js
  branches/popover-fixes/web-components/iframe.html
  branches/popover-fixes/web-components/project.json
  branches/popover-fixes/web-components/runtime~main.458fe5b0.iframe.bundle.js
  branches/popover-fixes/web-components/runtime~main.b75bc9c6.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b8590003dfd4cc054f1738f187a79bdc48dba4f9 🚀
  branches/popover-fixes/react/4418.3c2a41bd.iframe.bundle.js
  branches/popover-fixes/react/4418.b0c718e8.iframe.bundle.js
  branches/popover-fixes/react/4418.b0c718e8.iframe.bundle.js.LICENSE.txt
  branches/popover-fixes/react/iframe.html
  branches/popover-fixes/react/project.json
  branches/popover-fixes/react/runtime~main.00a87faf.iframe.bundle.js
  branches/popover-fixes/react/runtime~main.a8dee7aa.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@11674c28c063633fbfde47b1c13f58de7d6ed778 🚀
  branches/develop/2679.716ca6d9.iframe.bundle.js
  branches/develop/2679.716ca6d9.iframe.bundle.js.LICENSE.txt
  branches/develop/2679.c9a9c3c9.iframe.bundle.js
  branches/develop/605.2dbd2c36.iframe.bundle.js
  branches/develop/605.67b34093.iframe.bundle.js
  branches/develop/605.67b34093.iframe.bundle.js.LICENSE.txt
  branches/develop/7733.766266d1.iframe.bundle.js
  branches/develop/7733.85c37bc7.iframe.bundle.js
  branches/develop/7733.85c37bc7.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/main.4781570f.iframe.bundle.js
  branches/develop/main.88144dd9.iframe.bundle.js
  branches/develop/main.88144dd9.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.0f9943c4.iframe.bundle.js
  branches/develop/runtime~main.119fb02d.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): show external icon for links when target="_blank"
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-link/ic-link.stories.mdx
  packages/web-components/src/components/ic-link/ic-link.tsx
  packages/web-components/src/components/ic-link/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): moved slotted navigation method to set menu items to visible on expanded
  packages/web-components/src/components/ic-side-navigation/__snapshots__/ic-side-navigation.spec.ts.snap
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation-test-examples.ts
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.e2e.ts
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.spec.ts
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add menu item and menu group sub components for new popover menu component
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-menu-group/__snapshots__/ic-menu-group.spec.ts.snap
  packages/web-components/src/components/ic-menu-group/ic-menu-group.css
  packages/web-components/src/components/ic-menu-group/ic-menu-group.spec.ts
  packages/web-components/src/components/ic-menu-group/ic-menu-group.tsx
  packages/web-components/src/components/ic-menu-group/readme.md
  packages/web-components/src/components/ic-menu-item/__snapshots__/ic-menu-item.spec.ts.snap
  packages/web-components/src/components/ic-menu-item/ic-menu-item.css
  packages/web-components/src/components/ic-menu-item/ic-menu-item.spec.ts
  packages/web-components/src/components/ic-menu-item/ic-menu-item.tsx
  packages/web-components/src/components/ic-menu-item/ic-menu-item.types.ts
  packages/web-components/src/components/ic-menu-item/readme.md
  packages/web-components/src/components/ic-navigation-menu/__snapshots__/ic-navigation-menu.spec.ts.snap
  packages/web-components/src/components/ic-search-bar/__snapshots__/ic-search-bar.spec.ts.snap
  packages/web-components/src/components/ic-select/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/global/variables.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): add menu item and menu group to React components.ts
  packages/react/src/components.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): create popover menu component
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-menu-group/ic-menu-group.tsx
  packages/web-components/src/components/ic-menu-group/readme.md
  packages/web-components/src/components/ic-menu-item/ic-menu-item.css
  packages/web-components/src/components/ic-menu-item/readme.md
  packages/web-components/src/components/ic-popover-menu/__snapshots__/ic-popover-menu.spec.ts.snap
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.css
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.e2e.ts
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.spec.ts
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.stories.mdx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.test.a11y.ts
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
  packages/web-components/src/components/ic-popover-menu/readme.md
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): create popover menu component
  packages/react/src/components.ts
  packages/react/src/stories/ic-popover-menu.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): adds z-index value for toasts
  packages/web-components/src/components/ic-toast/ic-toast.css
  packages/web-components/src/components/ic-toast/readme.md
  packages/web-components/src/global/variables.css
  packages/web-components/src/patterns/z-index.stories.mdx
Due: stylelint --fix, remark

chore(root): update allowlist
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes console errors
  packages/web-components/src/components/ic-horizontal-scroll/ic-horizontal-scroll.tsx
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes changing disable prop
  packages/web-components/src/components/ic-select/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-select/ic-select.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(react): remove charactersUntilSuggestions stories
  packages/react/src/stories/ic-select.stories.mdx
Due: remark

fix(web-components): deprecate charactersUntilSuggestions prop for select and remove stories/tests
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-select/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-select/ic-select.e2e.ts
  packages/web-components/src/components/ic-select/ic-select.spec.tsx
  packages/web-components/src/components/ic-select/ic-select.stories.mdx
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
