Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@adb1cf1a8f20d0de014954d6c5dcaba085dc463a 🚀
  branches/1129-develop-coding-standards/web-components/6512.555b19d7.iframe.bundle.js
  branches/1129-develop-coding-standards/web-components/6512.9f54f96d.iframe.bundle.js
  branches/1129-develop-coding-standards/web-components/6663.5cb6797d.iframe.bundle.js
  branches/1129-develop-coding-standards/web-components/6663.98106683.iframe.bundle.js
  branches/1129-develop-coding-standards/web-components/6663.98106683.iframe.bundle.js.LICENSE.txt
  branches/1129-develop-coding-standards/web-components/iframe.html
  branches/1129-develop-coding-standards/web-components/main.82bd1850.iframe.bundle.js
  branches/1129-develop-coding-standards/web-components/main.9513ce47.iframe.bundle.js
  branches/1129-develop-coding-standards/web-components/main.9513ce47.iframe.bundle.js.LICENSE.txt
  branches/1129-develop-coding-standards/web-components/project.json
  branches/1129-develop-coding-standards/web-components/runtime~main.1ce764e4.iframe.bundle.js
  branches/1129-develop-coding-standards/web-components/runtime~main.ac637e3d.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@adb1cf1a8f20d0de014954d6c5dcaba085dc463a 🚀
  branches/1129-develop-coding-standards/react/1642.4b80837b.iframe.bundle.js
  branches/1129-develop-coding-standards/react/1642.4b80837b.iframe.bundle.js.LICENSE.txt
  branches/1129-develop-coding-standards/react/1642.9adbdf4c.iframe.bundle.js
  branches/1129-develop-coding-standards/react/5907.7ed9d144.iframe.bundle.js
  branches/1129-develop-coding-standards/react/5907.eac3ec66.iframe.bundle.js
  branches/1129-develop-coding-standards/react/iframe.html
  branches/1129-develop-coding-standards/react/main.5c4acea7.iframe.bundle.js
  branches/1129-develop-coding-standards/react/main.ea6037f0.iframe.bundle.js
  branches/1129-develop-coding-standards/react/main.ea6037f0.iframe.bundle.js.LICENSE.txt
  branches/1129-develop-coding-standards/react/project.json
  branches/1129-develop-coding-standards/react/runtime~main.10453043.iframe.bundle.js
  branches/1129-develop-coding-standards/react/runtime~main.b20c7763.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): update to docs.json
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): update badge and dialog to use prop to open
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-badge/ic-badge.stories.mdx
  packages/web-components/src/components/ic-badge/ic-badge.tsx
  packages/web-components/src/components/ic-badge/readme.md
  packages/web-components/src/components/ic-badge/test/basic/__snapshots__/ic-badge.spec.tsx.snap
  packages/web-components/src/components/ic-badge/test/basic/ic-badge.spec.tsx
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.mdx
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/readme.md
  packages/web-components/src/components/ic-dialog/test/basic/__snapshots__/ic-dialog.spec.ts.snap
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.e2e.ts
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.spec.ts
  packages/web-components/src/components/ic-empty-state/ic-empty-state.tsx
  packages/web-components/src/components/ic-empty-state/test/basic/__snapshots__/ic-empty-state.spec.ts.snap
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-radio-option/readme.md
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@331b8df2171adbf3b2db6abc64785077708ed89d 🚀
  branches/1129-develop-coding-standards/web-components/iframe.html
  branches/1129-develop-coding-standards/web-components/main.9513ce47.iframe.bundle.js
  branches/1129-develop-coding-standards/web-components/main.d3d9e210.iframe.bundle.js
  branches/1129-develop-coding-standards/web-components/main.d3d9e210.iframe.bundle.js.LICENSE.txt
  branches/1129-develop-coding-standards/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@331b8df2171adbf3b2db6abc64785077708ed89d 🚀
  branches/1129-develop-coding-standards/react/iframe.html
  branches/1129-develop-coding-standards/react/main.7c7dbe38.iframe.bundle.js
  branches/1129-develop-coding-standards/react/main.7c7dbe38.iframe.bundle.js.LICENSE.txt
  branches/1129-develop-coding-standards/react/main.ea6037f0.iframe.bundle.js
  branches/1129-develop-coding-standards/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(root): update contributing.md with props, slots, methods info
  CONTRIBUTING.md
Due: remark

fix(web-components): split out isPropDefined into a helper function
  packages/web-components/src/components/ic-badge/ic-badge.tsx
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-hero/ic-hero.tsx
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-menu-group/ic-menu-group.tsx
  packages/web-components/src/components/ic-menu-item/ic-menu-item.tsx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-step/ic-step.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-toast/ic-toast.tsx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(react): update badge and dialog to use props to open
  packages/react/src/stories/ic-badge.stories.mdx
  packages/react/src/stories/ic-dialog.stories.mdx
Due: remark

docs(react): update components to use size instead of small and variant not appearance
  packages/react/package-lock.json
  packages/react/src/stories/ic-card.stories.mdx
  packages/react/src/stories/ic-chip.stories.mdx
  packages/react/src/stories/ic-data-entity.stories.mdx
  packages/react/src/stories/ic-dialog.stories.mdx
  packages/react/src/stories/ic-hero.stories.mdx
  packages/react/src/stories/ic-page-header.stories.mdx
  packages/react/src/stories/ic-radio-group.stories.mdx
  packages/react/src/stories/ic-search-bar.stories.mdx
  packages/react/src/stories/ic-select.stories.mdx
  packages/react/src/stories/ic-skeleton.stories.mdx
  packages/react/src/stories/ic-status-tag.stories.mdx
  packages/react/src/stories/ic-switch.stories.mdx
  packages/react/src/stories/ic-text-field.stories.mdx
  packages/web-components/src/components/ic-card/ic-card.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): add slots to empty state and better slot docs for other components
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Empty_state_Slotted_content.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Empty_state_Slotted_content.png
  packages/web-components/src/components/ic-accordion-group/ic-accordion-group.tsx
  packages/web-components/src/components/ic-badge/ic-badge.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/components/ic-data-entity/ic-data-entity.tsx
  packages/web-components/src/components/ic-data-entity/readme.md
  packages/web-components/src/components/ic-empty-state/ic-empty-state.stories.mdx
  packages/web-components/src/components/ic-empty-state/ic-empty-state.tsx
  packages/web-components/src/components/ic-empty-state/readme.md
  packages/web-components/src/components/ic-empty-state/test/basic/__snapshots__/ic-empty-state.spec.ts.snap
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

refactor(web-components): replace this.host with this.el
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-input-component-container/ic-input-component-container.tsx
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
  packages/web-components/src/components/ic-radio-group/ic-radio-group.tsx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-tab/ic-tab.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add a watch to checked prop
  packages/web-components/src/components/ic-switch/ic-switch.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(react): add switch story for checked updating state
  packages/react/src/stories/ic-switch.stories.mdx
Due: remark

docs(docs): updates docs with missing info
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

refactor(web-components): add internal aria owns and aria controls prop to button
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-menu-item/ic-menu-item.tsx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(root): add item about docs changes to PR checklist
  .github/pull_request_template.md
Due: remark

chore(react): bumps postcss version to 8.4.31
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

refactor(web-components): revert size of icons slotted inside buttons to 24px
  packages/docs/docs.json
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Button_Full_width.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Button_Icon_without_viewBox.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Button_Playground_with_icon.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Button_Size.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Button_With_icon.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Reduced_width.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_actions.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_breadcrumbs_input_actions_and_tabs.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Collapsed_icons_with_labels.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Long_app_version_and_app_status.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Short_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Slots.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Slots_using_app_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Slots_using_app_title_expanded.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Static.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Using_unnamed_slots.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Content_left_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Long_app_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Long_single_word_app_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Status_and_version.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Using_unnamed_slots.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_grouped_navigation.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_icons.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_navigation.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_search.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Button_Full_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Button_Icon_without_viewBox.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Button_Playground_with_icon.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Button_Size.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Button_With_icon.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Reduced_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_actions.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_breadcrumbs_input_actions_and_tabs.png
  packages/web-components/src/components/ic-button/ic-button.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): fixes readme & lint error
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
Due: stylelint --fix, remark

chore(react): npm audit fix
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

ci(root): npm audit fix
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

style(react): add prettier and prettier:fix scripts to react directory
  packages/react/package.json
  packages/react/src/stories/ic-alert.stories.mdx
  packages/react/src/stories/ic-back-to-top.stories.mdx
  packages/react/src/stories/ic-badge.stories.mdx
  packages/react/src/stories/ic-breadcrumb-group.stories.mdx
  packages/react/src/stories/ic-button.stories.mdx
  packages/react/src/stories/ic-card.stories.mdx
  packages/react/src/stories/ic-checkbox.stories.mdx
  packages/react/src/stories/ic-chip.stories.mdx
  packages/react/src/stories/ic-classification-banner.stories.mdx
  packages/react/src/stories/ic-data-entity.stories.mdx
  packages/react/src/stories/ic-dialog.stories.mdx
  packages/react/src/stories/ic-empty-state.stories.mdx
  packages/react/src/stories/ic-footer.stories.mdx
  packages/react/src/stories/ic-hero.stories.mdx
  packages/react/src/stories/ic-link.stories.mdx
  packages/react/src/stories/ic-loading-indicator.stories.mdx
  packages/react/src/stories/ic-page-header.stories.mdx
  packages/react/src/stories/ic-popover-menu.stories.mdx
  packages/react/src/stories/ic-radio-group.stories.mdx
  packages/react/src/stories/ic-search-bar.stories.mdx
  packages/react/src/stories/ic-section-container.stories.mdx
  packages/react/src/stories/ic-select.stories.mdx
  packages/react/src/stories/ic-side-navigation.stories.mdx
  packages/react/src/stories/ic-skeleton.stories.mdx
  packages/react/src/stories/ic-status-tag.stories.mdx
  packages/react/src/stories/ic-stepper.stories.mdx
  packages/react/src/stories/ic-switch.stories.mdx
  packages/react/src/stories/ic-tabs.stories.mdx
  packages/react/src/stories/ic-theme.stories.mdx
  packages/react/src/stories/ic-toast.stories.mdx
  packages/react/src/stories/ic-tooltip.stories.mdx
  packages/react/src/stories/ic-top-navigation.stories.mdx
  packages/react/src/stories/ic-typography.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(root): audit fix for babel
  audit-ci.json
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(react): removal of unused storybook pages
  packages/react/src/getting-started.stories.mdx
Due: remark

fix(web-components): fixes lint errors
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
Due: stylelint --fix

docs(docs): update docs.json with disableTopBarBehaviour prop
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
