Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@9bcce5a9a80cfb5697801443a22ded8fe2339463 🚀
  branches/test/data-table-pagination/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9bcce5a9a80cfb5697801443a22ded8fe2339463 🚀
  branches/test/data-table-pagination/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@422e0b4108fab2af5ac4054428037c7e2e9cbecb 🚀
  branches/643-checkbox-size-variants/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@422e0b4108fab2af5ac4054428037c7e2e9cbecb 🚀
  branches/643-checkbox-size-variants/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7b49a1499f8084c5adbfb4c2548f677de6847611 🚀
  branches/test/data-table-pagination/web-components/4876.21575e89.iframe.bundle.js
  branches/test/data-table-pagination/web-components/4876.fae639e2.iframe.bundle.js
  branches/test/data-table-pagination/web-components/iframe.html
  branches/test/data-table-pagination/web-components/main.86b8b4df.iframe.bundle.js
  branches/test/data-table-pagination/web-components/main.86b8b4df.iframe.bundle.js.LICENSE.txt
  branches/test/data-table-pagination/web-components/main.8f4f40e9.iframe.bundle.js
  branches/test/data-table-pagination/web-components/project.json
  branches/test/data-table-pagination/web-components/runtime~main.194947f3.iframe.bundle.js
  branches/test/data-table-pagination/web-components/runtime~main.76558835.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7b49a1499f8084c5adbfb4c2548f677de6847611 🚀
  branches/test/data-table-pagination/react/4136.37833bf5.iframe.bundle.js
  branches/test/data-table-pagination/react/4136.ec83f717.iframe.bundle.js
  branches/test/data-table-pagination/react/iframe.html
  branches/test/data-table-pagination/react/main.4fb7b0d0.iframe.bundle.js
  branches/test/data-table-pagination/react/main.d26c8aa9.iframe.bundle.js
  branches/test/data-table-pagination/react/main.d26c8aa9.iframe.bundle.js.LICENSE.txt
  branches/test/data-table-pagination/react/project.json
  branches/test/data-table-pagination/react/runtime~main.54f4878d.iframe.bundle.js
  branches/test/data-table-pagination/react/runtime~main.73fdcda5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@cadfcd3a5bc5175ed8f7f90418b95489af8e745d 🚀
  branches/643-checkbox-size-variants/web-components/7710.5f8ad850.iframe.bundle.js
  branches/643-checkbox-size-variants/web-components/7710.79920b50.iframe.bundle.js
  branches/643-checkbox-size-variants/web-components/7710.79920b50.iframe.bundle.js.LICENSE.txt
  branches/643-checkbox-size-variants/web-components/iframe.html
  branches/643-checkbox-size-variants/web-components/project.json
  branches/643-checkbox-size-variants/web-components/runtime~main.6913582b.iframe.bundle.js
  branches/643-checkbox-size-variants/web-components/runtime~main.ecb2ef00.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@cadfcd3a5bc5175ed8f7f90418b95489af8e745d 🚀
  branches/643-checkbox-size-variants/react/2167.0cc49475.iframe.bundle.js
  branches/643-checkbox-size-variants/react/2167.0cc49475.iframe.bundle.js.LICENSE.txt
  branches/643-checkbox-size-variants/react/2167.b64fc856.iframe.bundle.js
  branches/643-checkbox-size-variants/react/iframe.html
  branches/643-checkbox-size-variants/react/project.json
  branches/643-checkbox-size-variants/react/runtime~main.bc602020.iframe.bundle.js
  branches/643-checkbox-size-variants/react/runtime~main.e0b79739.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add query selector for <div> to side nav if statement in paddingIconWidth func
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): label element is not rendered if not provided
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/global/variables.css
Due: stylelint --fix

ci(root): updated release check action to retrieve all commits
  .github/workflows/ic-ui-kit-release.yml
Due: none

docs(web-components): update charactersUntilSuggestion prop description for search bar
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(react): updated react changelog
  packages/web-components/src/components/ic-menu-item/ic-menu-item.tsx
  packages/web-components/src/components/ic-menu-item/test/basic/ic-menu-item.spec.ts
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(web-components): added react dev dependency
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): added prop to prevent auto highlighting first option
  packages/react/src/stories/ic-search-bar.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Search_bar_Query_search_mode.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_Query_search_mode.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/readme.md
  packages/web-components/src/components/ic-menu/test/basic/ic-menu.spec.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.stories.mdx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.types.ts
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-search-bar/test/basic/ic-search-bar.e2e.ts
  packages/web-components/src/components/ic-search-bar/test/basic/ic-search-bar.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): add --height css prop to button
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Button_Height.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Button_Height.png
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-button/ic-button.stories.mdx
  packages/web-components/src/components/ic-button/readme.md
Due: stylelint --fix, remark

fix(web-components): ic-card message rendering
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-card/test/basic/__snapshots__/ic-card.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(root): updated lerna config and github action
  .github/workflows/ic-ui-kit-main.yml
  lerna.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(react): added back latest version of storybook/react
  .eslintrc.js
  packages/react/package-lock.json
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): added trigger to update enabled tabs when tab's disabled state changes
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-context/test/basic/ic-tab-context.spec.ts
  packages/web-components/src/components/ic-tab/ic-tab.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

ci(root): remove pre-release flags to resume semantic versioning
  .github/workflows/ic-ui-kit-main.yml
  packages/docs/package.json
  packages/fonts/package.json
  packages/react/package.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): label element is not rendered if not provided
  packages/web-components/src/components/ic-data-row/ic-data-row.tsx
  packages/web-components/src/components/ic-data-row/test/basic/__snapshots__/ic-data-row.spec.ts.snap
  packages/web-components/src/components/ic-data-row/test/basic/ic-data-row.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): allows pagination to dynamically update number of pages
  packages/web-components/src/components/ic-pagination/ic-pagination.tsx
  packages/web-components/src/components/ic-pagination/test/basic/ic-pagination.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): changed colour of label text on disabled inputs
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Search_bar_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Select_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Select_Searchable_disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Text_field_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Disabled.png
  packages/web-components/src/components/ic-input-label/ic-input-label.css
  packages/web-components/src/components/ic-text-field/ic-text-field.css
Due: stylelint --fix

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@9bd100fe471e0f5d53352a8f37bf599668f3b5e7 🚀
  branches/831-incorrect-focus-border/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9bd100fe471e0f5d53352a8f37bf599668f3b5e7 🚀
  branches/831-incorrect-focus-border/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add story for new sizes for checkboxes
  packages/react/src/stories/ic-checkbox.stories.mdx
Due: remark

feat(web-components): add sizes small and large to checkboxes
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Sizes.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Sizes.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/ic-button.types.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox-group/readme.md
  packages/web-components/src/components/ic-checkbox-group/test/basic/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/test/basic/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-chip/ic-chip.types.ts
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@c23550a296be88e18d920c1ab6ecc189640d74f6 🚀
  branches/test/data-table-pagination/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
