Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@8340150da2b7fed7ab945d6af6994a4c66991334 🚀
  branches/1254-tabs-selection/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8340150da2b7fed7ab945d6af6994a4c66991334 🚀
  branches/1254-tabs-selection/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): added equal space around call to action buttons, allowed hiding of close button
  packages/web-components/src/components/ic-dialog/ic-dialog.css
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@2255b45aaf1922c72a3637eab9541d0198a1dc7c 🚀
  branches/bugfix/ic-dialog-updates/web-components/2308.23a93548.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/2308.37d2fc72.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/2308.37d2fc72.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/web-components/iframe.html
  branches/bugfix/ic-dialog-updates/web-components/project.json
  branches/bugfix/ic-dialog-updates/web-components/runtime~main.769d3506.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/runtime~main.a7860fa4.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2255b45aaf1922c72a3637eab9541d0198a1dc7c 🚀
  branches/bugfix/ic-dialog-updates/react/4637.8fc4021c.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/4637.967e47c5.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/4637.967e47c5.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/react/iframe.html
  branches/bugfix/ic-dialog-updates/react/project.json
  branches/bugfix/ic-dialog-updates/react/runtime~main.b051340f.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/runtime~main.b894bb08.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): docs changes for checkbox change
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes issues with icchange event
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(react): react story added for checkbox fix
  packages/react/src/stories/ic-checkbox.stories.mdx
Due: remark

fix(web-components): fixes responsive tabs selection issue
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-horizontal-scroll/ic-horizontal-scroll.tsx
  packages/web-components/src/components/ic-tab-context/test/basic/__snapshots__/ic-tab-context.spec.ts.snap
  packages/web-components/src/components/ic-tab-context/test/basic/ic-tab-context.e2e.ts
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8d2e38e5d08b3e5752d55d2b43b30b40bb1680a9 🚀
  branches/develop/6088.17a5a3d9.iframe.bundle.js
  branches/develop/6088.5beda46a.iframe.bundle.js
  branches/develop/7710.77dc6ca2.iframe.bundle.js
  branches/develop/7710.9d57b21e.iframe.bundle.js
  branches/develop/7710.9d57b21e.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/main.1d2cf7e5.iframe.bundle.js
  branches/develop/main.b1c9063d.iframe.bundle.js
  branches/develop/main.b1c9063d.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.6af71e5c.iframe.bundle.js
  branches/develop/runtime~main.813d4066.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@64bd806cbd0d810174ec63dfcea80bf238c47525 🚀
  branches/1254-tabs-selection/web-components/6088.17a5a3d9.iframe.bundle.js
  branches/1254-tabs-selection/web-components/6088.5beda46a.iframe.bundle.js
  branches/1254-tabs-selection/web-components/7710.77dc6ca2.iframe.bundle.js
  branches/1254-tabs-selection/web-components/7710.9d57b21e.iframe.bundle.js
  branches/1254-tabs-selection/web-components/7710.9d57b21e.iframe.bundle.js.LICENSE.txt
  branches/1254-tabs-selection/web-components/iframe.html
  branches/1254-tabs-selection/web-components/main.56b24238.iframe.bundle.js
  branches/1254-tabs-selection/web-components/main.6da9a7c3.iframe.bundle.js
  branches/1254-tabs-selection/web-components/main.6da9a7c3.iframe.bundle.js.LICENSE.txt
  branches/1254-tabs-selection/web-components/project.json
  branches/1254-tabs-selection/web-components/runtime~main.95f69124.iframe.bundle.js
  branches/1254-tabs-selection/web-components/runtime~main.c5d96243.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@64bd806cbd0d810174ec63dfcea80bf238c47525 🚀
  branches/1254-tabs-selection/react/2167.cef474e0.iframe.bundle.js
  branches/1254-tabs-selection/react/2167.cef474e0.iframe.bundle.js.LICENSE.txt
  branches/1254-tabs-selection/react/2167.d48f72ce.iframe.bundle.js
  branches/1254-tabs-selection/react/8637.0a175c6e.iframe.bundle.js
  branches/1254-tabs-selection/react/8637.bc43efa4.iframe.bundle.js
  branches/1254-tabs-selection/react/iframe.html
  branches/1254-tabs-selection/react/main.11363b99.iframe.bundle.js
  branches/1254-tabs-selection/react/main.11363b99.iframe.bundle.js.LICENSE.txt
  branches/1254-tabs-selection/react/main.e92d284d.iframe.bundle.js
  branches/1254-tabs-selection/react/project.json
  branches/1254-tabs-selection/react/runtime~main.4c493d94.iframe.bundle.js
  branches/1254-tabs-selection/react/runtime~main.63a32be3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@439ef4f15f68fd2dc61137bff98807fd48e5e6b8 🚀
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/6088.17a5a3d9.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/6088.5beda46a.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/7710.77dc6ca2.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/7710.9d57b21e.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/7710.9d57b21e.iframe.bundle.js.LICENSE.txt
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/iframe.html
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/main.c154fdb6.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/main.c154fdb6.iframe.bundle.js.LICENSE.txt
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/main.f1e46160.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/project.json
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/runtime~main.f27f0914.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/runtime~main.f3230ce8.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@439ef4f15f68fd2dc61137bff98807fd48e5e6b8 🚀
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/2167.cef474e0.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/2167.cef474e0.iframe.bundle.js.LICENSE.txt
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/2167.d48f72ce.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/8637.0a175c6e.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/8637.bc43efa4.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/iframe.html
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/main.55123a4a.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/main.55123a4a.iframe.bundle.js.LICENSE.txt
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/main.9b135638.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/project.json
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/runtime~main.734a11a5.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/runtime~main.cd40d541.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9c1ee01e7da762127c11b597dde069826f238a96 🚀
  branches/bugfix/ic-dialog-updates/web-components/6088.17a5a3d9.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/6088.5beda46a.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/7710.77dc6ca2.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/7710.9d57b21e.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/7710.9d57b21e.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/web-components/iframe.html
  branches/bugfix/ic-dialog-updates/web-components/main.9c3ad63a.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/main.ef891ea2.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/main.ef891ea2.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/web-components/project.json
  branches/bugfix/ic-dialog-updates/web-components/runtime~main.769d3506.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/runtime~main.ede04a3f.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9c1ee01e7da762127c11b597dde069826f238a96 🚀
  branches/bugfix/ic-dialog-updates/react/2167.cef474e0.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/2167.cef474e0.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/react/2167.d48f72ce.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/8637.0a175c6e.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/8637.bc43efa4.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/iframe.html
  branches/bugfix/ic-dialog-updates/react/main.10704cf4.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/main.32cf5819.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/main.32cf5819.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/react/project.json
  branches/bugfix/ic-dialog-updates/react/runtime~main.748c88a7.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/runtime~main.b894bb08.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): setting lerna to independent
  lerna.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): exporting additional helpers functions
  packages/web-components/src/interface.d.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(canary-react): canary React package build
  packages/canary-react/.gitignore
  packages/canary-react/.storybook/addon-tab/register.js
  packages/canary-react/.storybook/main.js
  packages/canary-react/.storybook/preview-head.html
  packages/canary-react/.storybook/preview.js
  packages/canary-react/CHANGELOG.md
  packages/canary-react/LICENSE
  packages/canary-react/README.md
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-react/public/favicon.png
  packages/canary-react/public/favicon.svg
  packages/canary-react/src/components.ts
  packages/canary-react/src/getting-started.stories.mdx
  packages/canary-react/src/index.ts
  packages/canary-react/src/react-component-lib/createComponent.tsx
  packages/canary-react/src/react-component-lib/createOverlayComponent.tsx
  packages/canary-react/src/react-component-lib/index.ts
  packages/canary-react/src/react-component-lib/interfaces.ts
  packages/canary-react/src/react-component-lib/slottedSVG.tsx
  packages/canary-react/src/react-component-lib/utils/attachProps.ts
  packages/canary-react/src/react-component-lib/utils/case.ts
  packages/canary-react/src/react-component-lib/utils/dev.ts
  packages/canary-react/src/react-component-lib/utils/index.tsx
  packages/canary-react/src/stories/assets/example-background.png
  packages/canary-react/src/stories/ic-data-table.stories.mdx
  packages/canary-react/tsconfig.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(canary-web-components): added loading states to data table
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Empty_and_Loading_State.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Links_and_Elements_in_data.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Updating_State.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Empty_and_Loading_State.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Links_and_Elements_in_data.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Updating_State.png
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.css
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(canary-web-components): updated web-components data table story assets
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(canary-react): updated React story for data tables
  packages/canary-react/src/stories/ic-data-table.stories.mdx
Due: remark

docs(canary-react): added story for empty state
  packages/canary-react/src/stories/ic-data-table.stories.mdx
Due: remark

feat(canary-web-components): added empty state functionality
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Default_Empty_State.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Slotted_Empty_State.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Updating_State.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Default_Empty_State.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Slotted_Empty_State.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Updating_State.png
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.css
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@63685ceb7249ccca1cf5dd53e1a473b3741b416c 🚀
  branches/feature/date-picker2/web-components/6982.4d0eeecb.iframe.bundle.js
  branches/feature/date-picker2/web-components/6982.4d0eeecb.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/web-components/6982.911e92e9.iframe.bundle.js
  branches/feature/date-picker2/web-components/iframe.html
  branches/feature/date-picker2/web-components/project.json
  branches/feature/date-picker2/web-components/runtime~main.4b6e9f95.iframe.bundle.js
  branches/feature/date-picker2/web-components/runtime~main.ef5652db.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@63685ceb7249ccca1cf5dd53e1a473b3741b416c 🚀
  branches/feature/date-picker2/react/3244.5fd45490.iframe.bundle.js
  branches/feature/date-picker2/react/3244.96b9d8d3.iframe.bundle.js
  branches/feature/date-picker2/react/3244.96b9d8d3.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/react/iframe.html
  branches/feature/date-picker2/react/project.json
  branches/feature/date-picker2/react/runtime~main.44748ea4.iframe.bundle.js
  branches/feature/date-picker2/react/runtime~main.af209dad.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(canary-web-components): added support for adding icons to cells and headers
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_icons.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_icons.png
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.css
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.types.tsx
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
  packages/canary-web-components/src/testspec.setup.ts
  packages/canary-web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(root): updated audit file
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(canary-web-components): added row height customisation
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_Row_Heights.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_Row_Heights.png
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.types.tsx
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(root): update to eslint config
  .eslintrc.js
Due: none

docs(canary-react): added custom row story
  packages/canary-react/src/stories/ic-data-table.stories.mdx
Due: remark

feat(canary-web-components): updated variable names and docs
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark
