Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): fixes z-index on top nav dropdown
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
Due: stylelint --fix

fix(web-components): fix gap appearing under slotted nav items
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
Due: stylelint --fix

feat(web-components): implement toast component
  packages/react/src/components.ts
  packages/react/src/stories/ic-toast.stories.mdx
  packages/web-components/package-lock.json
  packages/web-components/src/assets/error-icon.svg
  packages/web-components/src/assets/info-icon.svg
  packages/web-components/src/assets/neutral-icon.svg
  packages/web-components/src/assets/success-icon.svg
  packages/web-components/src/assets/warning-icon.svg
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-alert/ic-alert.tsx
  packages/web-components/src/components/ic-alert/ic-alert.types.ts
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-loading-indicator/readme.md
  packages/web-components/src/components/ic-toast-region/ic-toast-region.tsx
  packages/web-components/src/components/ic-toast-region/readme.md
  packages/web-components/src/components/ic-toast/ic-toast.css
  packages/web-components/src/components/ic-toast/ic-toast.e2e.ts
  packages/web-components/src/components/ic-toast/ic-toast.spec.ts
  packages/web-components/src/components/ic-toast/ic-toast.stories.mdx
  packages/web-components/src/components/ic-toast/ic-toast.test.a11y.ts
  packages/web-components/src/components/ic-toast/ic-toast.tsx
  packages/web-components/src/components/ic-toast/ic-toast.types.ts
  packages/web-components/src/components/ic-toast/readme.md
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/interface.d.ts
  packages/web-components/src/utils/constants.ts
  packages/web-components/src/utils/helpers.ts
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@ac6b5ebab6bdb8c645aa7c463eb855061781b0c5 🚀
  branches/ic-popover-playground/web-components/8640.37b196f0.iframe.bundle.js
  branches/ic-popover-playground/web-components/8640.8784d608.iframe.bundle.js
  branches/ic-popover-playground/web-components/iframe.html
  branches/ic-popover-playground/web-components/main.14bd83b9.iframe.bundle.js
  branches/ic-popover-playground/web-components/main.22592df1.iframe.bundle.js
  branches/ic-popover-playground/web-components/main.22592df1.iframe.bundle.js.LICENSE.txt
  branches/ic-popover-playground/web-components/project.json
  branches/ic-popover-playground/web-components/runtime~main.b59138c9.iframe.bundle.js
  branches/ic-popover-playground/web-components/runtime~main.d22be4d8.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ac6b5ebab6bdb8c645aa7c463eb855061781b0c5 🚀
  branches/ic-popover-playground/react/5111.30b40108.iframe.bundle.js
  branches/ic-popover-playground/react/5111.df9ba067.iframe.bundle.js
  branches/ic-popover-playground/react/iframe.html
  branches/ic-popover-playground/react/project.json
  branches/ic-popover-playground/react/runtime~main.6dd8d033.iframe.bundle.js
  branches/ic-popover-playground/react/runtime~main.84b40698.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@dba366d018d31ff97842189c589041dc970180ac 🚀
  branches/ic-popover-playground/web-components/8640.37b196f0.iframe.bundle.js
  branches/ic-popover-playground/web-components/8640.c17bbfd2.iframe.bundle.js
  branches/ic-popover-playground/web-components/iframe.html
  branches/ic-popover-playground/web-components/main.22592df1.iframe.bundle.js
  branches/ic-popover-playground/web-components/main.928109c5.iframe.bundle.js
  branches/ic-popover-playground/web-components/main.928109c5.iframe.bundle.js.LICENSE.txt
  branches/ic-popover-playground/web-components/project.json
  branches/ic-popover-playground/web-components/runtime~main.35b7d22f.iframe.bundle.js
  branches/ic-popover-playground/web-components/runtime~main.d22be4d8.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@dba366d018d31ff97842189c589041dc970180ac 🚀
  branches/ic-popover-playground/react/5111.242faa1e.iframe.bundle.js
  branches/ic-popover-playground/react/5111.30b40108.iframe.bundle.js
  branches/ic-popover-playground/react/iframe.html
  branches/ic-popover-playground/react/main.512c09ed.iframe.bundle.js
  branches/ic-popover-playground/react/main.512c09ed.iframe.bundle.js.LICENSE.txt
  branches/ic-popover-playground/react/main.72d2c548.iframe.bundle.js
  branches/ic-popover-playground/react/project.json
  branches/ic-popover-playground/react/runtime~main.1d405b1c.iframe.bundle.js
  branches/ic-popover-playground/react/runtime~main.6dd8d033.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixed placement issue in top nav
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Content_left_aligned.png
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

fix(web-components): add handleMouseDown, add css active selector, add spec test for handleMouseDown
  packages/web-components/src/components/ic-search-bar/ic-search-bar.css
  packages/web-components/src/components/ic-search-bar/ic-search-bar.spec.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@9410bd89080a0643330440f71316fbde68b9640a 🚀
  branches/bugfix-removing-flex-css-from-top-nav-search-slot/web-components/1738.0299c25f.iframe.bundle.js
  branches/bugfix-removing-flex-css-from-top-nav-search-slot/web-components/1738.a6975ba8.iframe.bundle.js
  branches/bugfix-removing-flex-css-from-top-nav-search-slot/web-components/iframe.html
  branches/bugfix-removing-flex-css-from-top-nav-search-slot/web-components/project.json
  branches/bugfix-removing-flex-css-from-top-nav-search-slot/web-components/runtime~main.5cd2d5fb.iframe.bundle.js
  branches/bugfix-removing-flex-css-from-top-nav-search-slot/web-components/runtime~main.e3a83016.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9410bd89080a0643330440f71316fbde68b9640a 🚀
  branches/bugfix-removing-flex-css-from-top-nav-search-slot/react/8533.0e6ac2b1.iframe.bundle.js
  branches/bugfix-removing-flex-css-from-top-nav-search-slot/react/8533.e705cb20.iframe.bundle.js
  branches/bugfix-removing-flex-css-from-top-nav-search-slot/react/iframe.html
  branches/bugfix-removing-flex-css-from-top-nav-search-slot/react/project.json
  branches/bugfix-removing-flex-css-from-top-nav-search-slot/react/runtime~main.7f20350d.iframe.bundle.js
  branches/bugfix-removing-flex-css-from-top-nav-search-slot/react/runtime~main.b4664fc3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
