Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@3f7fef25a4fdc4eb2a414669f3c3695f7df37252 🚀
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/3244.0ad54edf.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/3244.0afbb467.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/3244.0afbb467.iframe.bundle.js.LICENSE.txt
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/iframe.html
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/main.59324446.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/main.9f7db3a2.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/main.9f7db3a2.iframe.bundle.js.LICENSE.txt
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/project.json
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/runtime~main.34231ad3.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/runtime~main.ad7b9ec2.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@89aca2b6a89103d5453df6672177e71803b4f2e3 🚀
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/6982.07d19b44.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/6982.07d19b44.iframe.bundle.js.LICENSE.txt
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/6982.96e793b3.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/iframe.html
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/main.b2b67946.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/main.b2b67946.iframe.bundle.js.LICENSE.txt
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/main.f243ada2.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/project.json
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/runtime~main.09cba98e.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/runtime~main.524108ad.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@89aca2b6a89103d5453df6672177e71803b4f2e3 🚀
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/3244.0afbb467.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/3244.b68212c4.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/3244.b68212c4.iframe.bundle.js.LICENSE.txt
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/iframe.html
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/main.7d272f1f.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/main.7d272f1f.iframe.bundle.js.LICENSE.txt
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/main.9f7db3a2.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/project.json
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/runtime~main.23ed8fc1.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/runtime~main.34231ad3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@491d8292d5cd53ef14cf74d7bfb20659ca85f5a8 🚀
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@491d8292d5cd53ef14cf74d7bfb20659ca85f5a8 🚀
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e03d053d460e9cfe41ab222fd6a9b95d9e3e3652 🚀
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/6982.07d19b44.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/6982.743b9083.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/6982.743b9083.iframe.bundle.js.LICENSE.txt
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/iframe.html
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/project.json
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/runtime~main.09cba98e.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/runtime~main.6e0f3090.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e03d053d460e9cfe41ab222fd6a9b95d9e3e3652 🚀
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/3244.28ef3e36.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/3244.28ef3e36.iframe.bundle.js.LICENSE.txt
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/3244.b68212c4.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/iframe.html
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/project.json
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/runtime~main.23ed8fc1.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/runtime~main.f684586c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(web-components): update charactersUntilSuggestion prop description for search bar
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@bcd99176c127fef98f16a0817cb233b3c5c0a2e1 🚀
  branches/develop/iframe.html
  branches/develop/main.49e38d9e.iframe.bundle.js
  branches/develop/main.49e38d9e.iframe.bundle.js.LICENSE.txt
  branches/develop/main.8b295a18.iframe.bundle.js
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add --height css prop to button
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Button_Height.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Button_Height.png
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-button/ic-button.stories.mdx
  packages/web-components/src/components/ic-button/readme.md
Due: stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@21c70a997cb1f2c48f08be1c8cd4570c2ea9de6f 🚀
  branches/develop/6663.08d33015.iframe.bundle.js
  branches/develop/6663.1a861138.iframe.bundle.js
  branches/develop/6663.1a861138.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/main.49e38d9e.iframe.bundle.js
  branches/develop/main.acaa198e.iframe.bundle.js
  branches/develop/main.acaa198e.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.b937ebb2.iframe.bundle.js
  branches/develop/runtime~main.f1c0b2a6.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): allows pagination to dynamically update number of pages
  packages/web-components/src/components/ic-pagination/ic-pagination.tsx
  packages/web-components/src/components/ic-pagination/test/basic/ic-pagination.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@bd5a3cbdb7b1f6158508c04e18728ceeb4be5127 🚀
  branches/feature/921-pagination-dynamic-pages-update/web-components/5696.899d28f7.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/web-components/5696.a3e364f9.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/web-components/5696.a3e364f9.iframe.bundle.js.LICENSE.txt
  branches/feature/921-pagination-dynamic-pages-update/web-components/605.43f4f0d0.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/web-components/605.43f4f0d0.iframe.bundle.js.LICENSE.txt
  branches/feature/921-pagination-dynamic-pages-update/web-components/605.9c073b81.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/web-components/6165.5a8784d8.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/web-components/6165.b48feecc.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/web-components/6510.c221c2bf.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/web-components/6510.e861252d.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/web-components/6663.08d33015.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/web-components/6663.1a861138.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/web-components/6663.1a861138.iframe.bundle.js.LICENSE.txt
  branches/feature/921-pagination-dynamic-pages-update/web-components/iframe.html
  branches/feature/921-pagination-dynamic-pages-update/web-components/main.8b295a18.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/web-components/main.acaa198e.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/web-components/main.acaa198e.iframe.bundle.js.LICENSE.txt
  branches/feature/921-pagination-dynamic-pages-update/web-components/project.json
  branches/feature/921-pagination-dynamic-pages-update/web-components/runtime~main.6285d9c0.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/web-components/runtime~main.6ff0ab18.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@bd5a3cbdb7b1f6158508c04e18728ceeb4be5127 🚀
  branches/feature/921-pagination-dynamic-pages-update/react/1642.8241dda5.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/react/1642.8f465393.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/react/1642.8f465393.iframe.bundle.js.LICENSE.txt
  branches/feature/921-pagination-dynamic-pages-update/react/4418.1142b195.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/react/4418.f7390c89.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/react/4418.f7390c89.iframe.bundle.js.LICENSE.txt
  branches/feature/921-pagination-dynamic-pages-update/react/4727.97f1f55c.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/react/4727.e2a454a8.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/react/6831.b36454d4.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/react/6831.c8b5c305.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/react/6831.c8b5c305.iframe.bundle.js.LICENSE.txt
  branches/feature/921-pagination-dynamic-pages-update/react/8291.112056f4.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/react/8291.8d3519bb.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/react/iframe.html
  branches/feature/921-pagination-dynamic-pages-update/react/main.b5dfac16.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/react/main.d502e891.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/react/main.d502e891.iframe.bundle.js.LICENSE.txt
  branches/feature/921-pagination-dynamic-pages-update/react/project.json
  branches/feature/921-pagination-dynamic-pages-update/react/runtime~main.7e571b6b.iframe.bundle.js
  branches/feature/921-pagination-dynamic-pages-update/react/runtime~main.8af12a32.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Revert "chore(release): [ci skip] components publish"
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): adds z-index for sticky page header
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/global/variables.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): label element is not rendered if not provided
  packages/web-components/src/components/ic-data-row/ic-data-row.tsx
  packages/web-components/src/components/ic-data-row/test/basic/__snapshots__/ic-data-row.spec.ts.snap
  packages/web-components/src/components/ic-data-row/test/basic/ic-data-row.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2eb0b111698651ca46ed2c76e91d5c1dea6d78c8 🚀
  branches/develop/9806.1204228a.iframe.bundle.js
  branches/develop/9806.1204228a.iframe.bundle.js.LICENSE.txt
  branches/develop/9806.93417da1.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.6285d9c0.iframe.bundle.js
  branches/develop/runtime~main.f1c0b2a6.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5591f7990537b7b4014f4ba563cf801f1338e9f0 🚀
  branches/bugfix/data-entity-label/web-components/6663.08d33015.iframe.bundle.js
  branches/bugfix/data-entity-label/web-components/6663.1a861138.iframe.bundle.js
  branches/bugfix/data-entity-label/web-components/6663.1a861138.iframe.bundle.js.LICENSE.txt
  branches/bugfix/data-entity-label/web-components/9806.1204228a.iframe.bundle.js
  branches/bugfix/data-entity-label/web-components/9806.1204228a.iframe.bundle.js.LICENSE.txt
  branches/bugfix/data-entity-label/web-components/9806.93417da1.iframe.bundle.js
  branches/bugfix/data-entity-label/web-components/iframe.html
  branches/bugfix/data-entity-label/web-components/main.8b295a18.iframe.bundle.js
  branches/bugfix/data-entity-label/web-components/main.acaa198e.iframe.bundle.js
  branches/bugfix/data-entity-label/web-components/main.acaa198e.iframe.bundle.js.LICENSE.txt
  branches/bugfix/data-entity-label/web-components/project.json
  branches/bugfix/data-entity-label/web-components/runtime~main.035d9828.iframe.bundle.js
  branches/bugfix/data-entity-label/web-components/runtime~main.fe44af80.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5591f7990537b7b4014f4ba563cf801f1338e9f0 🚀
  branches/bugfix/data-entity-label/react/1642.8241dda5.iframe.bundle.js
  branches/bugfix/data-entity-label/react/1642.8f465393.iframe.bundle.js
  branches/bugfix/data-entity-label/react/1642.8f465393.iframe.bundle.js.LICENSE.txt
  branches/bugfix/data-entity-label/react/8939.49822b89.iframe.bundle.js
  branches/bugfix/data-entity-label/react/8939.d1043afc.iframe.bundle.js
  branches/bugfix/data-entity-label/react/8939.d1043afc.iframe.bundle.js.LICENSE.txt
  branches/bugfix/data-entity-label/react/iframe.html
  branches/bugfix/data-entity-label/react/main.b5dfac16.iframe.bundle.js
  branches/bugfix/data-entity-label/react/main.d502e891.iframe.bundle.js
  branches/bugfix/data-entity-label/react/main.d502e891.iframe.bundle.js.LICENSE.txt
  branches/bugfix/data-entity-label/react/project.json
  branches/bugfix/data-entity-label/react/runtime~main.39712b9f.iframe.bundle.js
  branches/bugfix/data-entity-label/react/runtime~main.6b145ad1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6a97d44e2871699f96a546cfd88a979e6055f85c 🚀
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/6982.493e4768.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/6982.493e4768.iframe.bundle.js.LICENSE.txt
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/6982.743b9083.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/iframe.html
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/project.json
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/runtime~main.6e0f3090.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/web-components/runtime~main.b3be6ff4.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6a97d44e2871699f96a546cfd88a979e6055f85c 🚀
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/3244.28ef3e36.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/3244.7f1259bf.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/3244.7f1259bf.iframe.bundle.js.LICENSE.txt
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/iframe.html
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/project.json
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/runtime~main.6304185c.iframe.bundle.js
  branches/867-updates-to-date-input-component-for-use-with-date-picker/react/runtime~main.f684586c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): label element is not rendered if not provided
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/global/variables.css
Due: stylelint --fix
