Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@0b69580a785600035757d6a77fcb6b0ad41de6ff 🚀
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0b69580a785600035757d6a77fcb6b0ad41de6ff 🚀
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): added functionality to deal with tab/tab panels which have been removed
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.e2e.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.spec.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-tab-panel/readme.md
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-tab/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@66ba4e16bc866265272b9c3e66afee840d6f37bc 🚀
  branches/568-tabcontext-update-tabid/web-components/4149.9a1f3ce6.iframe.bundle.js
  branches/568-tabcontext-update-tabid/web-components/4149.b613e3c8.iframe.bundle.js
  branches/568-tabcontext-update-tabid/web-components/4149.b613e3c8.iframe.bundle.js.LICENSE.txt
  branches/568-tabcontext-update-tabid/web-components/7024.288835a7.iframe.bundle.js
  branches/568-tabcontext-update-tabid/web-components/7024.6e05ce03.iframe.bundle.js
  branches/568-tabcontext-update-tabid/web-components/7024.6e05ce03.iframe.bundle.js.LICENSE.txt
  branches/568-tabcontext-update-tabid/web-components/746.bc1fec28.iframe.bundle.js
  branches/568-tabcontext-update-tabid/web-components/746.cd011362.iframe.bundle.js
  branches/568-tabcontext-update-tabid/web-components/iframe.html
  branches/568-tabcontext-update-tabid/web-components/main.5940af12.iframe.bundle.js
  branches/568-tabcontext-update-tabid/web-components/main.9eee7d52.iframe.bundle.js
  branches/568-tabcontext-update-tabid/web-components/main.9eee7d52.iframe.bundle.js.LICENSE.txt
  branches/568-tabcontext-update-tabid/web-components/project.json
  branches/568-tabcontext-update-tabid/web-components/runtime~main.82c2d262.iframe.bundle.js
  branches/568-tabcontext-update-tabid/web-components/runtime~main.c8bbcda1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@66ba4e16bc866265272b9c3e66afee840d6f37bc 🚀
  branches/568-tabcontext-update-tabid/react/2814.767edee8.iframe.bundle.js
  branches/568-tabcontext-update-tabid/react/2814.bfa5df5d.iframe.bundle.js
  branches/568-tabcontext-update-tabid/react/4147.8618498b.iframe.bundle.js
  branches/568-tabcontext-update-tabid/react/4147.8618498b.iframe.bundle.js.LICENSE.txt
  branches/568-tabcontext-update-tabid/react/4147.e63d6454.iframe.bundle.js
  branches/568-tabcontext-update-tabid/react/9421.a6ecc633.iframe.bundle.js
  branches/568-tabcontext-update-tabid/react/9421.a6ecc633.iframe.bundle.js.LICENSE.txt
  branches/568-tabcontext-update-tabid/react/9421.c0b92c50.iframe.bundle.js
  branches/568-tabcontext-update-tabid/react/iframe.html
  branches/568-tabcontext-update-tabid/react/main.16ef35ad.iframe.bundle.js
  branches/568-tabcontext-update-tabid/react/main.16ef35ad.iframe.bundle.js.LICENSE.txt
  branches/568-tabcontext-update-tabid/react/main.1f734b83.iframe.bundle.js
  branches/568-tabcontext-update-tabid/react/project.json
  branches/568-tabcontext-update-tabid/react/runtime~main.5e3e8619.iframe.bundle.js
  branches/568-tabcontext-update-tabid/react/runtime~main.88a2e5ea.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): added functionality to link tabs when added programatically
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.spec.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-tab-panel/readme.md
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-tab/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@71b5a61a4875dc9145825fc5f0b764b66307b765 🚀
  branches/develop/4149.1305bdaa.iframe.bundle.js
  branches/develop/4149.b613e3c8.iframe.bundle.js
  branches/develop/4149.b613e3c8.iframe.bundle.js.LICENSE.txt
  branches/develop/7024.6e05ce03.iframe.bundle.js
  branches/develop/7024.6e05ce03.iframe.bundle.js.LICENSE.txt
  branches/develop/7024.7bcbe726.iframe.bundle.js
  branches/develop/746.27089172.iframe.bundle.js
  branches/develop/746.cd011362.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.88144dd9.iframe.bundle.js
  branches/develop/main.9eee7d52.iframe.bundle.js
  branches/develop/main.9eee7d52.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.bbf487d7.iframe.bundle.js
  branches/develop/runtime~main.d3a782fc.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fe2f6c662c69bae1c63b8603baec861b1c55fde3 🚀
  branches/268-search-select-loading-states/web-components/2679.c8a7db53.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/2679.c8a7db53.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/2679.d81519f1.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/7733.461daf8f.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/7733.461daf8f.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/7733.ec2649fd.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/iframe.html
  branches/268-search-select-loading-states/web-components/main.b109845e.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/main.f8dd2781.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/main.f8dd2781.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/project.json
  branches/268-search-select-loading-states/web-components/runtime~main.4245fcec.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/runtime~main.6566d3e1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fe2f6c662c69bae1c63b8603baec861b1c55fde3 🚀
  branches/268-search-select-loading-states/react/6225.cc8274a4.iframe.bundle.js
  branches/268-search-select-loading-states/react/6225.cc8274a4.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/6225.d210c39a.iframe.bundle.js
  branches/268-search-select-loading-states/react/9257.4f7244fc.iframe.bundle.js
  branches/268-search-select-loading-states/react/9257.9642fb19.iframe.bundle.js
  branches/268-search-select-loading-states/react/9257.9642fb19.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/iframe.html
  branches/268-search-select-loading-states/react/main.09485909.iframe.bundle.js
  branches/268-search-select-loading-states/react/main.0eac07fb.iframe.bundle.js
  branches/268-search-select-loading-states/react/main.0eac07fb.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/project.json
  branches/268-search-select-loading-states/react/runtime~main.20b8f105.iframe.bundle.js
  branches/268-search-select-loading-states/react/runtime~main.ddeb2f30.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6c94ca77479ebc637661a3b86015557cc92b2fd0 🚀
  branches/develop/1099.e4946875.iframe.bundle.js
  branches/develop/1099.e4946875.iframe.bundle.js.LICENSE.txt
  branches/develop/1099.f8287793.iframe.bundle.js
  branches/develop/9703.271bd7e8.iframe.bundle.js
  branches/develop/9703.e7e27d6a.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.9eee7d52.iframe.bundle.js
  branches/develop/main.fb76d5f4.iframe.bundle.js
  branches/develop/main.fb76d5f4.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.b91399cc.iframe.bundle.js
  branches/develop/runtime~main.d3a782fc.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): removed negative left margin in app title container
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_no_parallax_effect.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_parallax_effect.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_App_icon_and_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Content_left_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Long_app_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Long_single_word_app_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Status_and_version.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_grouped_navigation.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_icons.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_navigation.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_search.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_With_background_image_no_parallax_effect.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_With_background_image_parallax_effect.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_App_icon_and_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Content_left_aligned.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Long_app_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Long_single_word_app_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Status_and_version.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_grouped_navigation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_navigation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_search.png
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@2ef26d896631d45b4a36a7be4819c55c86832c8d 🚀
  branches/develop/1738.2d7316da.iframe.bundle.js
  branches/develop/1738.f935edf7.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.b91399cc.iframe.bundle.js
  branches/develop/runtime~main.ee38e3d3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@86a31419db7be72135454d7d8513929cec81aa48 🚀
  branches/pagination-1/web-components/3364.31b26b1c.iframe.bundle.js
  branches/pagination-1/web-components/3364.fb636a5a.iframe.bundle.js
  branches/pagination-1/web-components/iframe.html
  branches/pagination-1/web-components/project.json
  branches/pagination-1/web-components/runtime~main.22b684a1.iframe.bundle.js
  branches/pagination-1/web-components/runtime~main.6686d384.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@86a31419db7be72135454d7d8513929cec81aa48 🚀
  branches/pagination-1/react/3630.3a4c8914.iframe.bundle.js
  branches/pagination-1/react/3630.c4c22622.iframe.bundle.js
  branches/pagination-1/react/iframe.html
  branches/pagination-1/react/project.json
  branches/pagination-1/react/runtime~main.0335786d.iframe.bundle.js
  branches/pagination-1/react/runtime~main.dae35c65.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add flex-wrap CSS styling to interaction controls slot in ic-card
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Expandable.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Interaction_controls.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Reduced_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Expandable.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Interaction_controls.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Reduced_width.png
  packages/web-components/src/components/ic-card/__snapshots__/ic-card.spec.ts.snap
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-card/ic-card.stories.mdx
  packages/web-components/src/components/ic-card/ic-card.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

build(react): update package-lock.json following a new release of ICDS components
  packages/react/src/stories/ic-card.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@70176acdbcc23e7edfd090a1b24a565fd40eba94 🚀
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/1099.e4946875.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/1099.e4946875.iframe.bundle.js.LICENSE.txt
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/1099.f8287793.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/1738.2d7316da.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/1738.f935edf7.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/4149.1305bdaa.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/4149.b613e3c8.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/4149.b613e3c8.iframe.bundle.js.LICENSE.txt
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/5129.21ee629a.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/5129.b0edfd9b.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/7024.6e05ce03.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/7024.6e05ce03.iframe.bundle.js.LICENSE.txt
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/7024.7bcbe726.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/746.27089172.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/746.cd011362.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/9703.271bd7e8.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/9703.e7e27d6a.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/iframe.html
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/main.4a594731.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/main.9fe08778.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/main.9fe08778.iframe.bundle.js.LICENSE.txt
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/project.json
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/runtime~main.a525a0b3.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/web-components/runtime~main.c05fb1e5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@70176acdbcc23e7edfd090a1b24a565fd40eba94 🚀
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/1573.0e676bf3.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/1573.d666170a.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/2814.767edee8.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/2814.a84ef2bd.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/299.e7b3d328.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/299.f016a521.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/4147.2e38ece4.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/4147.8618498b.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/4147.8618498b.iframe.bundle.js.LICENSE.txt
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/5729.118e89ab.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/5729.118e89ab.iframe.bundle.js.LICENSE.txt
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/5729.46c15351.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/8533.10cc8c51.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/8533.2675609f.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/9421.a6ecc633.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/9421.a6ecc633.iframe.bundle.js.LICENSE.txt
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/9421.bd074b1f.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/iframe.html
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/main.9dff2a7b.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/main.9dff2a7b.iframe.bundle.js.LICENSE.txt
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/main.b22ebbe1.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/project.json
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/runtime~main.ccd77603.iframe.bundle.js
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/runtime~main.fba53cc8.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@74382eb5fa5ce82d8cfd82c97cc6c9fc5437f8dd 🚀
  branches/pagination-1/web-components/9806.1f93d402.iframe.bundle.js
  branches/pagination-1/web-components/9806.f7b9c7d5.iframe.bundle.js
  branches/pagination-1/web-components/iframe.html
  branches/pagination-1/web-components/project.json
  branches/pagination-1/web-components/runtime~main.2e4f9636.iframe.bundle.js
  branches/pagination-1/web-components/runtime~main.6686d384.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@74382eb5fa5ce82d8cfd82c97cc6c9fc5437f8dd 🚀
  branches/pagination-1/react/8939.83d1dd79.iframe.bundle.js
  branches/pagination-1/react/8939.e2a911c8.iframe.bundle.js
  branches/pagination-1/react/iframe.html
  branches/pagination-1/react/project.json
  branches/pagination-1/react/runtime~main.0335786d.iframe.bundle.js
  branches/pagination-1/react/runtime~main.c188c29e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(react): created IcPagination react stories
  packages/react/src/components.ts
  packages/react/src/stories/ic-pagination.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): ic-pagination and ic-pagination-item created
  audit-ci.json
  packages/react/src/stories/ic-pagination.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_Complex.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_Complex_Adjacent_Boundary_Items_Set.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_Simple.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_Complex.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_Complex_Adjacent_Boundary_Items_Set.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_Simple.png
  packages/web-components/src/assets/pagination-first-last.svg
  packages/web-components/src/assets/pagination-next-previous.svg
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-pagination-item/ic-pagination-item.css
  packages/web-components/src/components/ic-pagination-item/ic-pagination-item.tsx
  packages/web-components/src/components/ic-pagination-item/ic-pagination-item.types.ts
  packages/web-components/src/components/ic-pagination-item/readme.md
  packages/web-components/src/components/ic-pagination/__snapshots__/ic-pagination.spec.ts.snap
  packages/web-components/src/components/ic-pagination/ic-pagination.css
  packages/web-components/src/components/ic-pagination/ic-pagination.e2e.ts
  packages/web-components/src/components/ic-pagination/ic-pagination.spec.ts
  packages/web-components/src/components/ic-pagination/ic-pagination.stories.mdx
  packages/web-components/src/components/ic-pagination/ic-pagination.test.a11y.ts
  packages/web-components/src/components/ic-pagination/ic-pagination.tsx
  packages/web-components/src/components/ic-pagination/ic-pagination.types.ts
  packages/web-components/src/components/ic-pagination/readme.md
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): fixed boolean css properties
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-checkbox-group/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.css
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/components/ic-hero/__snapshots__/ic-hero.spec.ts.snap
  packages/web-components/src/components/ic-hero/ic-hero.css
  packages/web-components/src/components/ic-hero/ic-hero.tsx
  packages/web-components/src/components/ic-horizontal-scroll/ic-horizontal-scroll.css
  packages/web-components/src/components/ic-loading-indicator/__snapshots__/ic-loading-indicator.spec.ts.snap
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
  packages/web-components/src/components/ic-radio-group/__snapshots__/ic-radio-group.spec.ts.snap
  packages/web-components/src/components/ic-radio-group/ic-radio-group.css
  packages/web-components/src/components/ic-radio-group/ic-radio-group.tsx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-tab-group/ic-tab-group.css
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.css
  packages/web-components/src/components/ic-tab/ic-tab.css
  packages/web-components/src/components/ic-tab/ic-tab.spec.ts
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark
