Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@1f35136d244693c74c6cbfe9d6d820a634bec3fc 🚀
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1f35136d244693c74c6cbfe9d6d820a634bec3fc 🚀
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5ba52c4d005148f583cae3a3c78aef06edb5f515 🚀
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-country official.png
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-default.png
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-inline official.png
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-official-sensitive.png
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-official.png
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-secret.png
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-top-secret.png
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-up to official.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@f17bc0be5dc60e60897c64112bb7da302277dc86 🚀
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-default.png
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-inline official.png
Due: none

test(react): E2E tests migrated
  packages/react/cypress-visual-screenshots/baseline/IcBackToTop.cy.tsx-default.png
  packages/react/cypress-visual-screenshots/baseline/IcBackToTop.cy.tsx-focussed.png
  packages/react/src/component-tests/IcBackToTop/IcBackToTop.cy.tsx
  packages/react/src/component-tests/IcBackToTop/IcBackToTopTestData.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(web-components): removed migrated tests
  packages/web-components/src/components/ic-back-to-top/test/a11y/ic-back-to-top.test.a11y.ts
  packages/web-components/src/components/ic-back-to-top/test/basic/ic-back-to-top.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4fb59b859d18a629af10b7e7291c37e9e68aee0e 🚀
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4fb59b859d18a629af10b7e7291c37e9e68aee0e 🚀
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0cbd304e74f3a2530f52d7cd20a8bd62bf39ec34 🚀
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-country official.png
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-default.png
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-official-sensitive.png
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-official.png
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-secret.png
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-top-secret.png
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-up to official.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@a42cd0192394b5b8c8f05f4566d1deb260dac657 🚀
  branches/1423-migrate-classification-banner-testing-over-to-cypress/cypress-screenshots/IcClassificationBanner.cy.tsx-inline official.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@bb8a99f9c9327a08c5e4bfe285852c84e3675b1f 🚀
  branches/1423-migrate-classification-banner-testing-over-to-cypress/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@bb8a99f9c9327a08c5e4bfe285852c84e3675b1f 🚀
  branches/1423-migrate-classification-banner-testing-over-to-cypress/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(canary-web-components): allow for tooltip truncation with sorting and change in items per page
  packages/canary-web-components/src/components/ic-data-table-title-bar/ic-data-table-title-bar.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@948ca2d8fced929f1a5637dd6529f2ce2813d84f 🚀
  branches/fix/257-multi-select-SR-functionality/web-components/iframe.html
  branches/fix/257-multi-select-SR-functionality/web-components/main.15b9fdfd.iframe.bundle.js
  branches/fix/257-multi-select-SR-functionality/web-components/main.15b9fdfd.iframe.bundle.js.LICENSE.txt
  branches/fix/257-multi-select-SR-functionality/web-components/main.fa8d33db.iframe.bundle.js
  branches/fix/257-multi-select-SR-functionality/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@948ca2d8fced929f1a5637dd6529f2ce2813d84f 🚀
  branches/fix/257-multi-select-SR-functionality/react/iframe.html
  branches/fix/257-multi-select-SR-functionality/react/main.05dcc868.iframe.bundle.js
  branches/fix/257-multi-select-SR-functionality/react/main.05dcc868.iframe.bundle.js.LICENSE.txt
  branches/fix/257-multi-select-SR-functionality/react/main.ec820402.iframe.bundle.js
  branches/fix/257-multi-select-SR-functionality/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@948ca2d8fced929f1a5637dd6529f2ce2813d84f 🚀
  branches/fix/257-multi-select-SR-functionality/canary-web-components/iframe.html
  branches/fix/257-multi-select-SR-functionality/canary-web-components/main.796349e0.iframe.bundle.js
  branches/fix/257-multi-select-SR-functionality/canary-web-components/main.80a14f89.iframe.bundle.js
  branches/fix/257-multi-select-SR-functionality/canary-web-components/main.80a14f89.iframe.bundle.js.LICENSE.txt
  branches/fix/257-multi-select-SR-functionality/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@948ca2d8fced929f1a5637dd6529f2ce2813d84f 🚀
  branches/fix/257-multi-select-SR-functionality/canary-react/iframe.html
  branches/fix/257-multi-select-SR-functionality/canary-react/main.1a6f67d9.iframe.bundle.js
  branches/fix/257-multi-select-SR-functionality/canary-react/main.e91904f4.iframe.bundle.js
  branches/fix/257-multi-select-SR-functionality/canary-react/main.e91904f4.iframe.bundle.js.LICENSE.txt
  branches/fix/257-multi-select-SR-functionality/canary-react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@440c32445487c25ac8ca17a22a9955b2cefde4ae 🚀
  branches/1398-side-nav-cypress/cypress-screenshots/IcSideNavigation.cy.tsx-basicDesktop.png
  branches/1398-side-nav-cypress/cypress-screenshots/IcSideNavigation.cy.tsx-basicOpen.png
  branches/1398-side-nav-cypress/cypress-screenshots/IcSideNavigation.cy.tsx-longPropsOpen.png
  branches/1398-side-nav-cypress/cypress-screenshots/IcSideNavigation.cy.tsx-longPropsOpenDesktop.png
  branches/1398-side-nav-cypress/cypress-screenshots/IcSideNavigation.cy.tsx-slottedAppTitleDesktop.png
  branches/1398-side-nav-cypress/cypress-screenshots/IcSideNavigation.cy.tsx-slottedAppTitleOpen.png
  branches/1398-side-nav-cypress/cypress-screenshots/IcSideNavigation.cy.tsx-slottedNavItemsExpandedDesktop.png
  branches/1398-side-nav-cypress/cypress-screenshots/IcSideNavigation.cy.tsx-staticExpandedDesktop.png
  branches/1398-side-nav-cypress/cypress-screenshots/IcSideNavigation.cy.tsx-withNavGroupOpen.png
  branches/1398-side-nav-cypress/cypress-screenshots/IcSideNavigation.cy.tsx-withNavGroupOpenDesktop.png
  branches/1398-side-nav-cypress/cypress-screenshots/IcSideNavigation.cy.tsx-withThemeDesktop.png
  branches/1398-side-nav-cypress/cypress-screenshots/IcSideNavigation.cy.tsx-withThemeOpen.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@f50f5550f712d6311f7220163add6f369141088e 🚀
  branches/1050-use-icbutton-as-file-upload/web-components/6663.53a6b4bb.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/web-components/6663.923811ac.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/web-components/6663.923811ac.iframe.bundle.js.LICENSE.txt
  branches/1050-use-icbutton-as-file-upload/web-components/iframe.html
  branches/1050-use-icbutton-as-file-upload/web-components/main.9606efb0.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/web-components/main.9606efb0.iframe.bundle.js.LICENSE.txt
  branches/1050-use-icbutton-as-file-upload/web-components/main.d93a1e42.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/web-components/project.json
  branches/1050-use-icbutton-as-file-upload/web-components/runtime~main.6a05966e.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/web-components/runtime~main.87cece83.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f50f5550f712d6311f7220163add6f369141088e 🚀
  branches/1050-use-icbutton-as-file-upload/react/1642.4d237301.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/react/1642.837e0828.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/react/1642.837e0828.iframe.bundle.js.LICENSE.txt
  branches/1050-use-icbutton-as-file-upload/react/iframe.html
  branches/1050-use-icbutton-as-file-upload/react/main.278c95ee.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/react/main.3273cde4.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/react/main.3273cde4.iframe.bundle.js.LICENSE.txt
  branches/1050-use-icbutton-as-file-upload/react/project.json
  branches/1050-use-icbutton-as-file-upload/react/runtime~main.409bdd49.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/react/runtime~main.f30f2d33.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8e99b8326b8de860c1fa3b0127419d9f03ad4417 🚀
  branches/1050-use-icbutton-as-file-upload/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8e99b8326b8de860c1fa3b0127419d9f03ad4417 🚀
  branches/1050-use-icbutton-as-file-upload/react/iframe.html
  branches/1050-use-icbutton-as-file-upload/react/main.3273cde4.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/react/main.bb1d93ba.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/react/main.bb1d93ba.iframe.bundle.js.LICENSE.txt
  branches/1050-use-icbutton-as-file-upload/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(react): visual and a11y tests added
  packages/react/cypress-visual-screenshots/baseline/IcClassificationBanner.cy.tsx-country official.png
  packages/react/cypress-visual-screenshots/baseline/IcClassificationBanner.cy.tsx-default.png
  packages/react/cypress-visual-screenshots/baseline/IcClassificationBanner.cy.tsx-inline official.png
  packages/react/cypress-visual-screenshots/baseline/IcClassificationBanner.cy.tsx-official-sensitive.png
  packages/react/cypress-visual-screenshots/baseline/IcClassificationBanner.cy.tsx-official.png
  packages/react/cypress-visual-screenshots/baseline/IcClassificationBanner.cy.tsx-secret.png
  packages/react/cypress-visual-screenshots/baseline/IcClassificationBanner.cy.tsx-top-secret.png
  packages/react/cypress-visual-screenshots/baseline/IcClassificationBanner.cy.tsx-up to official.png
  packages/react/src/component-tests/IcClassificationBanner/IcClassificationBanner.cy.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(web-components): removal of duplicate tests
  packages/web-components/src/components/ic-classification-banner/test/a11y/ic-classification-banner.test.a11y.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
