Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

chore(root): bump audits from sept->oct
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(release): update development release version check file
  DEVELOPMENT_RELEASE_CHECK.md
Due: remark

fix(web-components): Remove popover menu focus flash
  packages/web-components/src/components/ic-menu-item/ic-menu-item.css
Due: stylelint --fix

test(react): test popover keyboard focus styling
  packages/react/src/component-tests/IcPopoverMenu/IcPopoverMenu.cy.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): bump audits 1 month
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(canary-web-components): correct changelog.md
  packages/canary-web-components/CHANGELOG.md
Due: remark

fix(web-components): match secondary link hover colours in dark mode
  packages/web-components/src/components/ic-button/ic-button.css
Due: stylelint --fix

docs(docs): correct changelog.md
  packages/docs/CHANGELOG.md
Due: remark

fix(web-components): Fix issue with disabled menu item styling
  packages/web-components/src/components/ic-menu-item/ic-menu-item.css
Due: stylelint --fix

fix(canary-web-components): update data table watch data props
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(nextjs): add fast-uri and postcss-selector-parser and upgrade package versions
  packages/nextjs/package-lock.json
  packages/nextjs/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): align Select option styling with Popover Menu
  packages/web-components/src/components/ic-menu/ic-menu.css
Due: stylelint --fix

fix(react): use theme foreground for slotted SVGs
  packages/react/src/component-tests/IcBreadcrumb/IcBreadcrumb.cy.tsx
  packages/react/src/component-tests/IcBreadcrumb/IcBreadcrumbTestData.tsx
  packages/react/src/react-component-lib/slottedSVG.tsx
  packages/react/src/stories/ic-breadcrumb-group.stories.jsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): add prune script to remove resolved audits
  audit-prune.mjs
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): Recalculate navigation group height
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
  packages/web-components/src/components/ic-navigation-group/test/basic/ic-navigation-group.spec.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(react): test slotted router link font weight
  packages/react/src/component-tests/IcLink/IcLink.cy.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): add ghsa to allowed words in cspell
  .cspell.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(fonts): add fast-uri and postcss-selector-parser and upgrade package versions
  packages/fonts/package-lock.json
  packages/fonts/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

ci(angular-community-supported): run audit fix
  packages/angular-community-supported/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): update audit-ci.json with new entry
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(web-components): add package overrides and upgrade package versions
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): preserve router link font weight
  packages/web-components/src/components/ic-link/ic-link.css
Due: stylelint --fix

chore(canary-react): add fast-uri and qs overrides and upgrade package versions
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(angular-community-supported): add fast-uri override and upgrade package versions
  packages/angular-community-supported/package-lock.json
  packages/angular-community-supported/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(react): add Skeleton Cypress coverage
  packages/react/src/component-tests/IcSkeleton/IcSkeleton.cy.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(react): correct changelog.md
  packages/react/CHANGELOG.md
Due: remark

chore(react): add package overrides and upgrade package versions
  packages/react/package-lock.json
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(react): update Cypress visual images with new icon size and description updates
  packages/react/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/custom-elements-open-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/custom-elements-open.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSelectSearchable.cy.tsx/searchable-custom-elements-open.png
Due: none

chore(canary-web-components): add fast-uri override and upgrade package versions
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(codemod): upgrade package versions as part of audit fix
  packages/codemod/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(nextjs): correct changelog.md
  packages/nextjs/CHANGELOG.md
Due: remark
