Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

build(root): add loki visual test update github action
  .github/workflows/update-visual-regression-tests.yml
  package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fix radio button bug by adjusting width and margins
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Basic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Conditional_dynamic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Helper_text.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Required.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Small.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Validation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Conditional_dynamic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Helper_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Required.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Validation.png
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@0923fb0b59802cbe2ee4d60fcfb4b1f25ccb7106 🚀
  branches/a11y/245-card-v2/5696.60d67c99.iframe.bundle.js
  branches/a11y/245-card-v2/5696.a1a36933.iframe.bundle.js
  branches/a11y/245-card-v2/iframe.html
  branches/a11y/245-card-v2/project.json
  branches/a11y/245-card-v2/runtime~main.3633a5d0.iframe.bundle.js
  branches/a11y/245-card-v2/runtime~main.6685c85b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@020eb1ceebd118bfaf7ad9c6b9d95ab948012c5f 🚀
  branches/develop/1416.2d66dc21.iframe.bundle.js
  branches/develop/1416.6ec52071.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.67b1201a.iframe.bundle.js
  branches/develop/runtime~main.b37a3d86.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add script to copy normalize.css, update React instructions
  packages/react/.storybook/preview.js
  packages/react/README.md
  packages/react/package.json
  packages/react/src/getting-started.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@aee0927e2e6a671e44e61ade11cbdc37f1b64bfc 🚀
  branches/feature/296-explore-turning-off-normalise-css/iframe.html
  branches/feature/296-explore-turning-off-normalise-css/main.4aa5ae08.iframe.bundle.js
  branches/feature/296-explore-turning-off-normalise-css/main.915b4a77.iframe.bundle.js
  branches/feature/296-explore-turning-off-normalise-css/main.915b4a77.iframe.bundle.js.LICENSE.txt
  branches/feature/296-explore-turning-off-normalise-css/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5e273d1d7097dcc05ed3824df162ad4c18c7086f 🚀
  branches/develop/iframe.html
  branches/develop/main.9dc89ede.iframe.bundle.js
  branches/develop/main.fc84bccd.iframe.bundle.js
  branches/develop/main.fc84bccd.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@bf3beb3944860be82baf11f46d131478287b18e5 🚀
  branches/status-tags/iframe.html
  branches/status-tags/main.6bb32f4b.iframe.bundle.js
  branches/status-tags/main.6bb32f4b.iframe.bundle.js.LICENSE.txt
  branches/status-tags/main.fba90ca4.iframe.bundle.js
  branches/status-tags/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1ccc400683577a4a773fe98687089eccd786b34a 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(react): adds story for external filtering
  packages/react/src/stories/ic-search-bar.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@969cc16158850f2baf0d58ec91fa3c12207e5915 🚀
  branches/297-searchbar-async-options/1416.2d66dc21.iframe.bundle.js
  branches/297-searchbar-async-options/1416.6ec52071.iframe.bundle.js
  branches/297-searchbar-async-options/iframe.html
  branches/297-searchbar-async-options/main.9dc89ede.iframe.bundle.js
  branches/297-searchbar-async-options/main.fc84bccd.iframe.bundle.js
  branches/297-searchbar-async-options/main.fc84bccd.iframe.bundle.js.LICENSE.txt
  branches/297-searchbar-async-options/project.json
  branches/297-searchbar-async-options/runtime~main.67b1201a.iframe.bundle.js
  branches/297-searchbar-async-options/runtime~main.b37a3d86.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@314857643655a8de1a158631915bba7cbeaaae97 🚀
  branches/297-searchbar-async-options/2679.37fa52d8.iframe.bundle.js
  branches/297-searchbar-async-options/2679.924d6aa5.iframe.bundle.js
  branches/297-searchbar-async-options/2679.924d6aa5.iframe.bundle.js.LICENSE.txt
  branches/297-searchbar-async-options/504.71c34087.iframe.bundle.js
  branches/297-searchbar-async-options/504.71c34087.iframe.bundle.js.LICENSE.txt
  branches/297-searchbar-async-options/504.f7becac2.iframe.bundle.js
  branches/297-searchbar-async-options/iframe.html
  branches/297-searchbar-async-options/main.e655bb4b.iframe.bundle.js
  branches/297-searchbar-async-options/main.e655bb4b.iframe.bundle.js.LICENSE.txt
  branches/297-searchbar-async-options/main.fc84bccd.iframe.bundle.js
  branches/297-searchbar-async-options/project.json
  branches/297-searchbar-async-options/runtime~main.67b1201a.iframe.bundle.js
  branches/297-searchbar-async-options/runtime~main.823fbf6b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): announced prop added to ic-status-tag
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Status_tag_Announced.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Status_tag_Announced.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-status-tag/ic-status-tag.spec.ts
  packages/web-components/src/components/ic-status-tag/ic-status-tag.stories.mdx
  packages/web-components/src/components/ic-status-tag/ic-status-tag.test.a11y.ts
  packages/web-components/src/components/ic-status-tag/ic-status-tag.tsx
  packages/web-components/src/components/ic-status-tag/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@37f6149e38b31236fbdbafa1d38c85ac5a32e6b4 🚀
  branches/297-searchbar-async-options/504.71c34087.iframe.bundle.js
  branches/297-searchbar-async-options/504.bb5dc7e0.iframe.bundle.js
  branches/297-searchbar-async-options/504.bb5dc7e0.iframe.bundle.js.LICENSE.txt
  branches/297-searchbar-async-options/iframe.html
  branches/297-searchbar-async-options/main.c8225a39.iframe.bundle.js
  branches/297-searchbar-async-options/main.c8225a39.iframe.bundle.js.LICENSE.txt
  branches/297-searchbar-async-options/main.e655bb4b.iframe.bundle.js
  branches/297-searchbar-async-options/project.json
  branches/297-searchbar-async-options/runtime~main.1b49d90a.iframe.bundle.js
  branches/297-searchbar-async-options/runtime~main.823fbf6b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@45791bf751a85735903c911c5a95670d7ac77b6c 🚀
  branches/status-tags/9703.2ab23c0c.iframe.bundle.js
  branches/status-tags/9703.50b3757d.iframe.bundle.js
  branches/status-tags/iframe.html
  branches/status-tags/project.json
  branches/status-tags/runtime~main.80ed4678.iframe.bundle.js
  branches/status-tags/runtime~main.fab219e5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3cf10ea2ceb9fb1f85f1aea04b428464de511fdc 🚀
  branches/develop/9703.141f2b29.iframe.bundle.js
  branches/develop/9703.9c32e87f.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.11e81a25.iframe.bundle.js
  branches/develop/main.11e81a25.iframe.bundle.js.LICENSE.txt
  branches/develop/main.fc84bccd.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.05ef5caf.iframe.bundle.js
  branches/develop/runtime~main.67b1201a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): update card with v2 changes
  packages/react/package-lock.json
  packages/react/src/stories/ic-card.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@60e6578a716b013dcb2f57fcda7e2ff91822b50b 🚀
  branches/a11y/245-card-v2/5696.112e6199.iframe.bundle.js
  branches/a11y/245-card-v2/5696.9d84a370.iframe.bundle.js
  branches/a11y/245-card-v2/iframe.html
  branches/a11y/245-card-v2/project.json
  branches/a11y/245-card-v2/runtime~main.33eea321.iframe.bundle.js
  branches/a11y/245-card-v2/runtime~main.69ab0cb3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes issues with external filtering in searchbar
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-search-bar/__snapshots__/ic-search-bar.spec.ts.snap
  packages/web-components/src/components/ic-search-bar/ic-search-bar.spec.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.stories.mdx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@8310d40404a41b418fa6aa4d8db21ae58f3f312b 🚀
  branches/297-searchbar-async-options/504.548eab5c.iframe.bundle.js
  branches/297-searchbar-async-options/504.548eab5c.iframe.bundle.js.LICENSE.txt
  branches/297-searchbar-async-options/504.bb5dc7e0.iframe.bundle.js
  branches/297-searchbar-async-options/iframe.html
  branches/297-searchbar-async-options/project.json
  branches/297-searchbar-async-options/runtime~main.1b49d90a.iframe.bundle.js
  branches/297-searchbar-async-options/runtime~main.8f09c684.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fix for long single-word app titles
  packages/react/src/stories/ic-top-navigation.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Long_single_word_app_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Long_single_word_app_title.png
  packages/web-components/src/components/ic-top-navigation/__snapshots__/ic-top-navigation.spec.ts.snap
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@f90ccd48a04f0318e2c8075881cbed58b030024d 🚀
  branches/develop/1738.8644cb8c.iframe.bundle.js
  branches/develop/1738.aa706272.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.11e81a25.iframe.bundle.js
  branches/develop/main.b43ce257.iframe.bundle.js
  branches/develop/main.b43ce257.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.05ef5caf.iframe.bundle.js
  branches/develop/runtime~main.7632ec13.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): remove contentinfo role from classification banner
  packages/web-components/src/components/ic-classification-banner/ic-classification-banner.spec.ts
  packages/web-components/src/components/ic-classification-banner/ic-classification-banner.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
