Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(react): update side effects to include css files
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): deduplicate ic-select option values
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/test/basic/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-select/test/basic/ic-select.e2e.ts
  packages/web-components/src/components/ic-select/test/basic/ic-select.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@97edf47a566ded3e08f5a1553a13e391439ca1b8 🚀
  branches/595-icselect-breaks-with-duplicate-options/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@97edf47a566ded3e08f5a1553a13e391439ca1b8 🚀
  branches/595-icselect-breaks-with-duplicate-options/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

resolved-changes#991
  packages/react/.storybook/preview.js
  packages/react/.storybook/storybook.css
  packages/web-components/.storybook/preview.js
  packages/web-components/.storybook/storybook.css
Due: stylelint --fix

feat(web-components): update select to accept icons and custom elements
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Select_Custom_components.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Custom_components.png
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/test/basic/__snapshots__/ic-menu.spec.tsx.snap
  packages/web-components/src/components/ic-menu/test/basic/ic-menu.spec.tsx
  packages/web-components/src/components/ic-select/ic-select.stories.mdx
  packages/web-components/src/components/ic-select/test/basic/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): add icons and elements to select
  packages/react/src/stories/ic-select.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@53f163f35e345c86e6daaca28501ab899cce1352 🚀
  branches/slot-docs-missing-for-some-components/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@53f163f35e345c86e6daaca28501ab899cce1352 🚀
  branches/slot-docs-missing-for-some-components/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.tsx
  packages/web-components/src/components/ic-breadcrumb/readme.md
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): moves slot guidance so it shows in code guidance
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.tsx
  packages/web-components/src/components/ic-breadcrumb/readme.md
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): add pagination bar component
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Alignment.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Appearance.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Custom_options.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Pagination_bar_type.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Pagination_control_type.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Variants.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Alignment.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Appearance.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Custom_options.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Pagination_bar_type.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Pagination_control_type.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Variants.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-pagination-bar/__snapshots__/ic-pagination-bar.spec.ts.snap
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.css
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.spec.ts
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.stories.mdx
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.test.a11y.ts
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.tsx
  packages/web-components/src/components/ic-pagination-bar/readme.md
  packages/web-components/src/components/ic-pagination/readme.md
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/readme.md
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): adds initial data table component
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.css
  packages/web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): add pagination bar component
  packages/react/src/components.ts
  packages/react/src/stories/ic-pagination-bar.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(react): adds initial data table component
  packages/react/src/components.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add data table stories
  packages/react/src/components.ts
  packages/react/src/stories/ic-data-table.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Complex_example.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Custom_sort_order.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Default_sorted_column.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Sortable.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Spacious.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_table_Spacious.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.css
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/ic-data-table.types.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.tsx
  packages/web-components/src/components/ic-pagination/ic-pagination.tsx
  packages/web-components/src/components/ic-pagination/ic-pagination.types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): added date type support
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add pagination bar component
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-pagination-bar/__snapshots__/ic-pagination-bar.spec.ts.snap
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.spec.ts
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.test.a11y.ts
  packages/web-components/src/components/ic-pagination-bar/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(web-components): tidy up after rebase
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(react): added react stories for data tables
  packages/react/.storybook/addon-tab/register.js
  packages/react/.storybook/main.js
  packages/react/.storybook/preview-head.html
  packages/react/.storybook/preview.js
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/stories/ic-data-table.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
