Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

feat(web-components): move ic-card-horizontal to core web components
  packages/web-components/comps-list.ts
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-card-horizontal/ic-card-horizontal.css
  packages/web-components/src/components/ic-card-horizontal/ic-card-horizontal.mdx
  packages/web-components/src/components/ic-card-horizontal/ic-card-horizontal.stories.js
  packages/web-components/src/components/ic-card-horizontal/ic-card-horizontal.tsx
  packages/web-components/src/components/ic-card-horizontal/readme.md
  packages/web-components/src/components/ic-card-horizontal/test/basic/__snapshots__/ic-card-horizontal.spec.ts.snap
  packages/web-components/src/components/ic-card-horizontal/test/basic/ic-card-horizontal.spec.ts
  packages/web-components/src/components/ic-card-vertical/ic-card-vertical.stories.js
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): move IcCardHorizontal to core components
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/clickable-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/clickable-link-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/clickable-link.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/clickable.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/default-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/default.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/disabled-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/disabled.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/slotted-heading-message.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/theme-clickable.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/theme-disabled.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/theme.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-icon.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-image-default.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-image-large.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-image-right.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-image-small.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-interaction-button.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-message.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-spacious-layout.png
  packages/react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-truncated-text.png
  packages/react/src/component-tests/IcCardHorizontal/IcCardHorizontal.cy.tsx
  packages/react/src/component-tests/IcCardHorizontal/IcCardHorizontalTestData.tsx
  packages/react/src/components.ts
  packages/react/src/stories/ic-card-horizontal.mdx
  packages/react/src/stories/ic-card-horizontal.stories.jsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

feat(canary-web-components): remove ic-card-horizontal from canary components
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-card-horizontal/ic-card-horizontal.css
  packages/canary-web-components/src/components/ic-card-horizontal/ic-card-horizontal.mdx
  packages/canary-web-components/src/components/ic-card-horizontal/ic-card-horizontal.stories.js
  packages/canary-web-components/src/components/ic-card-horizontal/ic-card-horizontal.tsx
  packages/canary-web-components/src/components/ic-card-horizontal/readme.md
  packages/canary-web-components/src/components/ic-card-horizontal/test/basic/__snapshots__/ic-card-horizontal.spec.ts.snap
  packages/canary-web-components/src/components/ic-card-horizontal/test/basic/ic-card-horizontal.spec.ts
  packages/canary-web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(docs): update docs.json to include horizontal card information
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(canary-docs): remove horizontal card docs from docs.json
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(canary-react): remove IcCardHorizontal from canary components
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/clickable-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/clickable-link-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/clickable-link.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/clickable.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/default-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/default.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/disabled-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/disabled.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/slotted-heading-message.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/theme-clickable.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/theme-disabled.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/theme.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-icon.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-image-default.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-image-large.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-image-right.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-image-small.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-interaction-button.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-message.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-spacious-layout.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCardHorizontal.cy.tsx/with-truncated-text.png
  packages/canary-react/src/component-tests/IcCardHorizontal/IcCardHorizontal.cy.tsx
  packages/canary-react/src/component-tests/IcCardHorizontal/IcCardHorizontalTestData.tsx
  packages/canary-react/src/components.ts
  packages/canary-react/src/stories/ic-card-horizontal.mdx
  packages/canary-react/src/stories/ic-card-horizontal.stories.jsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@76f071fcaab56fccd17e259d8f566415a936e426 🚀
  branches/3387-move-horizontal-card-out-of-canary/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@76f071fcaab56fccd17e259d8f566415a936e426 🚀
  branches/3387-move-horizontal-card-out-of-canary/canary-react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@830c1688294ec2f0c6ac115f381f71cae484b118 🚀
  branches/2937-ic-chip-padding/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/2937-ic-chip-padding/cypress-image-diff-html-report/report_03-03-2026_091450.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(web-components): move ic-pagination-bar to core web components
  packages/web-components/comps-list.ts
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.css
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.mdx
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.stories.js
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.tsx
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.types.ts
  packages/web-components/src/components/ic-pagination-bar/readme.md
  packages/web-components/src/components/ic-pagination-bar/test/basic/__snapshots__/ic-pagination-bar.spec.ts.snap
  packages/web-components/src/components/ic-pagination-bar/test/basic/ic-pagination-bar.spec.ts
  packages/web-components/src/components/ic-pagination-item/readme.md
  packages/web-components/src/components/ic-pagination/readme.md
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/components/ic-tooltip/readme.md
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): move IcPaginationBar to core components
  packages/react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page-invalid-tooltip-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page-invalid-tooltip.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page-valid.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/hide-all-option.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/left-alignment.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/right-alignment.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/selected-items-per-page-arrowdown-change.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/selected-items-per-page-arrowdown.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/selected-items-per-page-invalid-selectedItemsPerPage.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/selected-items-per-page.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/space-between-alignment.png
  packages/react/src/component-tests/IcPaginationBar/IcPaginationBar.cy.tsx
  packages/react/src/component-tests/IcPaginationBar/IcPaginationBarTestData.tsx
  packages/react/src/components.ts
  packages/react/src/stories/ic-pagination-bar.mdx
  packages/react/src/stories/ic-pagination-bar.stories.jsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

docs(docs): update docs.json to include pagination bar information
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(canary-react): remove IcPaginationBar from canary components
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page-invalid-tooltip-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page-invalid-tooltip.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page-valid.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/hide-all-option.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/left-alignment.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/right-alignment.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/selected-items-per-page-arrowdown-change.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/selected-items-per-page-arrowdown.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/selected-items-per-page-invalid-selectedItemsPerPage.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/selected-items-per-page.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/space-between-alignment.png
  packages/canary-react/src/component-tests/IcPaginationBar/IcPaginationBar.cy.tsx
  packages/canary-react/src/component-tests/IcPaginationBar/IcPaginationBarTestData.tsx
  packages/canary-react/src/components.ts
  packages/canary-react/src/stories/ic-data-table.stories.jsx
  packages/canary-react/src/stories/ic-pagination-bar.mdx
  packages/canary-react/src/stories/ic-pagination-bar.stories.jsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

feat(canary-web-components): remove ic-pagination-bar from canary components
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
  packages/canary-web-components/src/components/ic-pagination-bar/ic-pagination-bar.css
  packages/canary-web-components/src/components/ic-pagination-bar/ic-pagination-bar.mdx
  packages/canary-web-components/src/components/ic-pagination-bar/ic-pagination-bar.stories.js
  packages/canary-web-components/src/components/ic-pagination-bar/ic-pagination-bar.tsx
  packages/canary-web-components/src/components/ic-pagination-bar/ic-pagination-bar.types.ts
  packages/canary-web-components/src/components/ic-pagination-bar/readme.md
  packages/canary-web-components/src/components/ic-pagination-bar/test/a11y/ic-pagination-bar.test.a11y.ts
  packages/canary-web-components/src/components/ic-pagination-bar/test/basic/__snapshots__/ic-pagination-bar.spec.ts.snap
  packages/canary-web-components/src/components/ic-pagination-bar/test/basic/ic-pagination-bar.spec.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(canary-docs): remove pagination bar docs from docs.json
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1a20a11572a4c907f849150e3d9f7686d1b5e70a 🚀
  branches/4116-move-pagination-bar-out-of-canary/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4116-move-pagination-bar-out-of-canary/cypress-image-diff-html-report/report_03-03-2026_115520.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6f0934e39f8933ac2c0bd7b56cee6f7b23aaed5b 🚀
  branches/4276-stencil-icbutton-theme-in-icselect/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4276-stencil-icbutton-theme-in-icselect/cypress-image-diff-html-report/report_03-03-2026_120413.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@76a9d63956de203e02c26573b5f21c0321856e3f 🚀
  branches/2937-ic-chip-padding/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@76a9d63956de203e02c26573b5f21c0321856e3f 🚀
  branches/2937-ic-chip-padding/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-web-components): upgrade Stencil to v4.41.1
  packages/canary-web-components/README.md
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-calendar/test/basic/__snapshots__/ic-calendar.spec.ts.snap
  packages/canary-web-components/src/components/ic-calendar/test/basic/ic-calendar.spec.ts
  packages/canary-web-components/src/components/ic-card-horizontal/test/basic/__snapshots__/ic-card-horizontal.spec.ts.snap
  packages/canary-web-components/src/components/ic-data-table-title-bar/test/a11y/ic-data-table-title-bar.test.a11y.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-date-input/test/basic/__snapshots__/ic-date-input.spec.tsx.snap
  packages/canary-web-components/src/components/ic-date-picker/test/basic/__snapshots__/ic-date-picker.spec.ts.snap
  packages/canary-web-components/src/components/ic-date-picker/test/basic/ic-date-picker-utils.spec.ts
  packages/canary-web-components/src/components/ic-table-of-contents/test/basic/ic-table-of-contents.spec.ts
  packages/canary-web-components/src/components/ic-time-input/test/basic/__snapshots__/ic-time-input.spec.tsx.snap
  packages/canary-web-components/src/components/ic-time-selector/test/basic/__snapshots__/ic-time-selector.spec.tsx.snap
  packages/canary-web-components/src/testa11y.setup.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

docs(canary-docs): update docs after Stencil and TypeScript upgrades
  packages/canary-docs/docs.d.ts
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(docs): update docs after Stencil and Typescript upgrades
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-react): upgrade TypeScript to v5.3.3
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): upgrade TypeScript to v5.3.3
  packages/react/cypress/support/component.ts
  packages/react/cypress/support/index.ts
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigation.cy.tsx
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigationTestData.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write
