Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): updated popperJS func
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.e2e.ts
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
  packages/web-components/src/components/ic-popover-menu/test/basic/__snapshots__/ic-popover-menu.spec.ts.snap
  packages/web-components/src/components/ic-select/ic-select.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): refreshed interactiveelements array
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): update showDialog and hideDialog
  packages/web-components/src/components/ic-dialog/ic-dialog.css
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.mdx
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/readme.md
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.e2e.ts
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): created disableHeightConstraint prop
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-dialog/ic-dialog.css
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.mdx
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/readme.md
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(react): added story for show hide content overflow update
  packages/react/src/stories/ic-dialog.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@d26a5ef3cbc4e050c64c8b611e3e905e83104984 🚀
  branches/develop/web-components/2308.01f288d5.iframe.bundle.js
  branches/develop/web-components/2308.1c3194c7.iframe.bundle.js
  branches/develop/web-components/2308.1c3194c7.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/2679.16db926b.iframe.bundle.js
  branches/develop/web-components/2679.89ea4b7f.iframe.bundle.js
  branches/develop/web-components/2679.89ea4b7f.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/504.4faf7134.iframe.bundle.js
  branches/develop/web-components/504.4faf7134.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/504.57433930.iframe.bundle.js
  branches/develop/web-components/605.1a89b19e.iframe.bundle.js
  branches/develop/web-components/605.1a89b19e.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/605.d38f6107.iframe.bundle.js
  branches/develop/web-components/iframe.html
  branches/develop/web-components/main.4133c300.iframe.bundle.js
  branches/develop/web-components/main.4133c300.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/main.f2ea1178.iframe.bundle.js
  branches/develop/web-components/project.json
  branches/develop/web-components/runtime~main.0c49e84d.iframe.bundle.js
  branches/develop/web-components/runtime~main.744f6e0c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d26a5ef3cbc4e050c64c8b611e3e905e83104984 🚀
  branches/develop/react/4418.805d02f8.iframe.bundle.js
  branches/develop/react/4418.8f9dc2ca.iframe.bundle.js
  branches/develop/react/4418.8f9dc2ca.iframe.bundle.js.LICENSE.txt
  branches/develop/react/4637.5e5c71af.iframe.bundle.js
  branches/develop/react/4637.5e5c71af.iframe.bundle.js.LICENSE.txt
  branches/develop/react/4637.fee25865.iframe.bundle.js
  branches/develop/react/5835.8f25963f.iframe.bundle.js
  branches/develop/react/5835.8f25963f.iframe.bundle.js.LICENSE.txt
  branches/develop/react/5835.a4d7aff8.iframe.bundle.js
  branches/develop/react/9257.2a5ce836.iframe.bundle.js
  branches/develop/react/9257.5014dfb8.iframe.bundle.js
  branches/develop/react/9257.5014dfb8.iframe.bundle.js.LICENSE.txt
  branches/develop/react/iframe.html
  branches/develop/react/main.429abdfa.iframe.bundle.js
  branches/develop/react/main.a24bfcd6.iframe.bundle.js
  branches/develop/react/main.a24bfcd6.iframe.bundle.js.LICENSE.txt
  branches/develop/react/project.json
  branches/develop/react/runtime~main.33b19d83.iframe.bundle.js
  branches/develop/react/runtime~main.4b0512df.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): removed unnecessary margin from active indicator on ic-navigation-item
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@1eab8199d84c4e1899b288eedcce3233ed613430 🚀
  branches/604-nav-item-active-indicator-misaligned/web-components/2308.01f288d5.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/web-components/2308.1c3194c7.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/web-components/2308.1c3194c7.iframe.bundle.js.LICENSE.txt
  branches/604-nav-item-active-indicator-misaligned/web-components/2679.16db926b.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/web-components/2679.89ea4b7f.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/web-components/2679.89ea4b7f.iframe.bundle.js.LICENSE.txt
  branches/604-nav-item-active-indicator-misaligned/web-components/504.4faf7134.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/web-components/504.4faf7134.iframe.bundle.js.LICENSE.txt
  branches/604-nav-item-active-indicator-misaligned/web-components/504.57433930.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/web-components/605.1a89b19e.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/web-components/605.1a89b19e.iframe.bundle.js.LICENSE.txt
  branches/604-nav-item-active-indicator-misaligned/web-components/605.d38f6107.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/web-components/7420.3b72f499.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/web-components/7420.9c487f3a.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/web-components/7420.9c487f3a.iframe.bundle.js.LICENSE.txt
  branches/604-nav-item-active-indicator-misaligned/web-components/iframe.html
  branches/604-nav-item-active-indicator-misaligned/web-components/main.4133c300.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/web-components/main.4133c300.iframe.bundle.js.LICENSE.txt
  branches/604-nav-item-active-indicator-misaligned/web-components/main.f2ea1178.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/web-components/project.json
  branches/604-nav-item-active-indicator-misaligned/web-components/runtime~main.795ae10c.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/web-components/runtime~main.7db71617.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1eab8199d84c4e1899b288eedcce3233ed613430 🚀
  branches/604-nav-item-active-indicator-misaligned/react/2148.b4cd232e.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/react/2148.b4cd232e.iframe.bundle.js.LICENSE.txt
  branches/604-nav-item-active-indicator-misaligned/react/2148.cc54bcc5.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/react/4418.805d02f8.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/react/4418.8f9dc2ca.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/react/4418.8f9dc2ca.iframe.bundle.js.LICENSE.txt
  branches/604-nav-item-active-indicator-misaligned/react/4637.5e5c71af.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/react/4637.5e5c71af.iframe.bundle.js.LICENSE.txt
  branches/604-nav-item-active-indicator-misaligned/react/4637.fee25865.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/react/5835.8f25963f.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/react/5835.8f25963f.iframe.bundle.js.LICENSE.txt
  branches/604-nav-item-active-indicator-misaligned/react/5835.a4d7aff8.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/react/9257.2a5ce836.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/react/9257.5014dfb8.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/react/9257.5014dfb8.iframe.bundle.js.LICENSE.txt
  branches/604-nav-item-active-indicator-misaligned/react/iframe.html
  branches/604-nav-item-active-indicator-misaligned/react/main.429abdfa.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/react/main.a24bfcd6.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/react/main.a24bfcd6.iframe.bundle.js.LICENSE.txt
  branches/604-nav-item-active-indicator-misaligned/react/project.json
  branches/604-nav-item-active-indicator-misaligned/react/runtime~main.30d18005.iframe.bundle.js
  branches/604-nav-item-active-indicator-misaligned/react/runtime~main.af0fe3c4.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8668aec66a00a29fdcc252219c5e813d8b88ec61 🚀
  branches/develop/web-components/7420.78530733.iframe.bundle.js
  branches/develop/web-components/7420.9c487f3a.iframe.bundle.js
  branches/develop/web-components/7420.9c487f3a.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/iframe.html
  branches/develop/web-components/project.json
  branches/develop/web-components/runtime~main.0c49e84d.iframe.bundle.js
  branches/develop/web-components/runtime~main.795ae10c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8668aec66a00a29fdcc252219c5e813d8b88ec61 🚀
  branches/develop/react/2148.569439ae.iframe.bundle.js
  branches/develop/react/2148.b4cd232e.iframe.bundle.js
  branches/develop/react/2148.b4cd232e.iframe.bundle.js.LICENSE.txt
  branches/develop/react/iframe.html
  branches/develop/react/project.json
  branches/develop/react/runtime~main.30d18005.iframe.bundle.js
  branches/develop/react/runtime~main.4b0512df.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): audit fix
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fix switch state label width, remove wobble
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Switch_State.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_State.png
  packages/web-components/src/components/ic-switch/ic-switch.css
  packages/web-components/src/components/ic-switch/ic-switch.stories.mdx
Due: stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@2405301ed70416703576041db786e9a5627ec07b 🚀
  branches/407-switch-moves-when-toggled/web-components/7420.78530733.iframe.bundle.js
  branches/407-switch-moves-when-toggled/web-components/7420.9c487f3a.iframe.bundle.js
  branches/407-switch-moves-when-toggled/web-components/7420.9c487f3a.iframe.bundle.js.LICENSE.txt
  branches/407-switch-moves-when-toggled/web-components/iframe.html
  branches/407-switch-moves-when-toggled/web-components/project.json
  branches/407-switch-moves-when-toggled/web-components/runtime~main.38f37d37.iframe.bundle.js
  branches/407-switch-moves-when-toggled/web-components/runtime~main.dc13cdac.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2405301ed70416703576041db786e9a5627ec07b 🚀
  branches/407-switch-moves-when-toggled/react/2148.569439ae.iframe.bundle.js
  branches/407-switch-moves-when-toggled/react/2148.b4cd232e.iframe.bundle.js
  branches/407-switch-moves-when-toggled/react/2148.b4cd232e.iframe.bundle.js.LICENSE.txt
  branches/407-switch-moves-when-toggled/react/iframe.html
  branches/407-switch-moves-when-toggled/react/project.json
  branches/407-switch-moves-when-toggled/react/runtime~main.41de074b.iframe.bundle.js
  branches/407-switch-moves-when-toggled/react/runtime~main.65d59195.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9c91e3e98d7bf19c5c4f1ba2413a3142e1e16f1b 🚀
  branches/develop/web-components/3063.7d6408e1.iframe.bundle.js
  branches/develop/web-components/3063.7d6408e1.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/3063.c9002ca4.iframe.bundle.js
  branches/develop/web-components/iframe.html
  branches/develop/web-components/main.4133c300.iframe.bundle.js
  branches/develop/web-components/main.7aaddd6e.iframe.bundle.js
  branches/develop/web-components/main.7aaddd6e.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/project.json
  branches/develop/web-components/runtime~main.795ae10c.iframe.bundle.js
  branches/develop/web-components/runtime~main.dc13cdac.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9c91e3e98d7bf19c5c4f1ba2413a3142e1e16f1b 🚀
  branches/develop/react/9130.59cabb72.iframe.bundle.js
  branches/develop/react/9130.59cabb72.iframe.bundle.js.LICENSE.txt
  branches/develop/react/9130.d6c68cfd.iframe.bundle.js
  branches/develop/react/iframe.html
  branches/develop/react/project.json
  branches/develop/react/runtime~main.30d18005.iframe.bundle.js
  branches/develop/react/runtime~main.65d59195.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add disableClick prop on ic-tooltip
  packages/web-components/package-lock.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/readme.md
  packages/web-components/src/components/ic-tooltip/test/basic/__snapshots__/ic-tooltip.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(docs): add docs for ic-tooltip's new disableClick prop
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(react): update popperjs version
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(canary-web-components): prettier fix, add new data tables type to docs, make fonts a peer dep
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-data-table-title-bar/test/a11y/ic-data-table-title-bar.test.a11y.ts
  packages/canary-web-components/src/components/ic-pagination-bar/test/basic/ic-pagination-bar.spec.ts
  packages/canary-web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(canary-web-components): update port for storybook, add copy functionality into stencil config
  packages/canary-web-components/package.json
  packages/canary-web-components/stencil.config.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

perf(root): add canary-specific commands for storybook and build into package.json
  package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(canary-react): update port for storybook, update copy css commands, add prettier commands
  packages/canary-react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

style(canary-web-components): prettier fix
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
Due: remark

fix(canary-react): update imports for stories, prettier fixes, add pagination bar story
  packages/canary-react/src/components.ts
  packages/canary-react/src/react-component-lib/createComponent.tsx
  packages/canary-react/src/react-component-lib/createOverlayComponent.tsx
  packages/canary-react/src/react-component-lib/index.ts
  packages/canary-react/src/react-component-lib/slottedSVG.tsx
  packages/canary-react/src/react-component-lib/utils/attachProps.ts
  packages/canary-react/src/react-component-lib/utils/case.ts
  packages/canary-react/src/react-component-lib/utils/dev.ts
  packages/canary-react/src/react-component-lib/utils/index.tsx
  packages/canary-react/src/stories/ic-data-table-title-bar.stories.mdx
  packages/canary-react/src/stories/ic-data-table.stories.mdx
  packages/canary-react/src/stories/ic-pagination-bar.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(react): add selectOnEnter prop to determine when icOptionSelect is emitted
  packages/react/src/stories/ic-select.stories.mdx
Due: remark

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
