Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

fix(root): updated github action to check event name
  .github/workflows/ic-ui-kit-branches.yml
Due: none

fix(web-components): added functionality to link tabs when added programatically
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.spec.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-tab-panel/readme.md
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-tab/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): removed negative left margin in app title container
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_no_parallax_effect.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_parallax_effect.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_App_icon_and_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Content_left_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Long_app_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Long_single_word_app_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Status_and_version.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_grouped_navigation.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_icons.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_navigation.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_search.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_With_background_image_no_parallax_effect.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_With_background_image_parallax_effect.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_App_icon_and_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Content_left_aligned.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Long_app_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Long_single_word_app_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Status_and_version.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_grouped_navigation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_navigation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_search.png
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

build(react): updated package.lock file
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(react): adds license to react package.json
  packages/react/package-lock.json
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes tooltips on side navigation items
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
Due: stylelint --fix

fix(root): updating github actions for external contributions
  .github/workflows/ic-ui-kit-branches.yml
Due: none

fix(root): updated github action for release
  .github/workflows/ic-ui-kit-main.yml
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@60c56022694db615ebe0e36f108601a541798cc7 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d0398f6b9a97634eea9760d4d76ab7f826fda2dd 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@05e45aa863a66d5ba59308b6be64a2e540fdbd28 🚀
  branches/464-update-checkbox-event-detail/web-components/1738.1fee4081.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/1738.25e3a8bc.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/2714.36e61e05.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/2714.9f1d76cf.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/605.67b34093.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/605.7f332f78.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/605.7f332f78.iframe.bundle.js.LICENSE.txt
  branches/464-update-checkbox-event-detail/web-components/7733.78d08fe6.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/7733.f48509cb.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/7733.f48509cb.iframe.bundle.js.LICENSE.txt
  branches/464-update-checkbox-event-detail/web-components/iframe.html
  branches/464-update-checkbox-event-detail/web-components/main.29cb7404.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/main.bcebb47f.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/main.bcebb47f.iframe.bundle.js.LICENSE.txt
  branches/464-update-checkbox-event-detail/web-components/project.json
  branches/464-update-checkbox-event-detail/web-components/runtime~main.4384edf6.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/runtime~main.c5c19278.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@05e45aa863a66d5ba59308b6be64a2e540fdbd28 🚀
  branches/464-update-checkbox-event-detail/react/4418.b0c718e8.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/4418.e9912bc7.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/4418.e9912bc7.iframe.bundle.js.LICENSE.txt
  branches/464-update-checkbox-event-detail/react/6225.5c5f5416.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/6225.5c5f5416.iframe.bundle.js.LICENSE.txt
  branches/464-update-checkbox-event-detail/react/6225.8aed6083.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/8533.8983ea4b.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/8533.92fe24e9.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/9103.0058e8c2.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/9103.7344309a.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/iframe.html
  branches/464-update-checkbox-event-detail/react/project.json
  branches/464-update-checkbox-event-detail/react/runtime~main.521e9ca3.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/runtime~main.87d05c12.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5d5ed208c961904c824b18c549edce9fdbe994ea 🚀
  branches/268-search-select-loading-states/web-components/605.5a3568af.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/605.bd3914b6.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/605.bd3914b6.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/iframe.html
  branches/268-search-select-loading-states/web-components/main.0dd3fd44.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/main.2cf3136c.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/main.2cf3136c.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/project.json
  branches/268-search-select-loading-states/web-components/runtime~main.3d4cb399.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/runtime~main.e1a98702.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5d5ed208c961904c824b18c549edce9fdbe994ea 🚀
  branches/268-search-select-loading-states/react/4418.50f58a73.iframe.bundle.js
  branches/268-search-select-loading-states/react/4418.50f58a73.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/4418.a35d0a7a.iframe.bundle.js
  branches/268-search-select-loading-states/react/iframe.html
  branches/268-search-select-loading-states/react/project.json
  branches/268-search-select-loading-states/react/runtime~main.2aa865c7.iframe.bundle.js
  branches/268-search-select-loading-states/react/runtime~main.8e4f1eea.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c16a0316fde0c4a5facf06477bd84c8b511b6818 🚀
  branches/bugfix/525-ic-select-not-getting-updated/web-components/605.67b34093.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/605.7f332f78.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/605.7f332f78.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/web-components/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/web-components/main.6717b416.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/main.6717b416.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/web-components/main.b9350868.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/project.json
  branches/bugfix/525-ic-select-not-getting-updated/web-components/runtime~main.6b858130.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/runtime~main.6ec5c185.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c16a0316fde0c4a5facf06477bd84c8b511b6818 🚀
  branches/bugfix/525-ic-select-not-getting-updated/react/4418.b0c718e8.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/4418.e9912bc7.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/4418.e9912bc7.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/react/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/react/project.json
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.c1837729.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.e9c35bff.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(root): updated root changelogs
  CHANGELOG.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@8eb437697d726f7444aeffdc5fc6e6c8326cab28 🚀
  branches/464-update-checkbox-event-detail/web-components/6088.9bec1fb4.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/6088.d638dec3.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/iframe.html
  branches/464-update-checkbox-event-detail/web-components/main.5a0720e2.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/main.5a0720e2.iframe.bundle.js.LICENSE.txt
  branches/464-update-checkbox-event-detail/web-components/main.bcebb47f.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/project.json
  branches/464-update-checkbox-event-detail/web-components/runtime~main.62b12680.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/runtime~main.c5c19278.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8eb437697d726f7444aeffdc5fc6e6c8326cab28 🚀
  branches/464-update-checkbox-event-detail/react/8637.4975fc54.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/8637.a37e5d13.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/iframe.html
  branches/464-update-checkbox-event-detail/react/main.3c4111bd.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/main.3c4111bd.iframe.bundle.js.LICENSE.txt
  branches/464-update-checkbox-event-detail/react/main.9f19f150.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/project.json
  branches/464-update-checkbox-event-detail/react/runtime~main.49c44361.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/runtime~main.87d05c12.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2a19de39454f6509858d672904676aa51801d210 🚀
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.7f7c1790.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.7f7c1790.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.8c3cb9a6.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/web-components/project.json
  branches/bugfix/525-ic-select-not-getting-updated/web-components/runtime~main.2ab8a9e3.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/runtime~main.6b858130.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2a19de39454f6509858d672904676aa51801d210 🚀
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.26b18dce.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.9191a3c0.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.9191a3c0.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/react/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/react/project.json
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.c05a452b.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.e9c35bff.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(docs): updated docs changelog
  packages/docs/CHANGELOG.md
Due: remark

chore(fonts): updated fonts changelog
  packages/fonts/CHANGELOG.md
Due: remark

chore(react): updated react changelog
  packages/react/CHANGELOG.md
Due: remark

chore(web-components): [ci skip] updated web-components changelog
  packages/web-components/CHANGELOG.md
Due: remark

feat(web-components): changed event.detail for ic-checkbox icChange
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.e2e.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.types.ts
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@d6ba7e437f049418a789e4c9800d5e52c692a349 🚀
  branches/464-update-checkbox-event-detail/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d6ba7e437f049418a789e4c9800d5e52c692a349 🚀
  branches/464-update-checkbox-event-detail/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
