Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): remove margin left on end component and add max width to value on xs breakpoint
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Long_text_values.png
  packages/web-components/src/components/ic-data-row/ic-data-row.css
Due: stylelint --fix

feat(react): update react stories to have appearance light for tabs
  packages/react/src/stories/ic-tabs.stories.mdx
Due: remark

feat(web-components): add appearance prop to tab panel and switch around appearance light/dark
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tabs_Dark.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tabs_Light_text.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tabs_Responsive_Light_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tabs_Dark.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tabs_Light_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tabs_Responsive_Light_text.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-context/ic-tabs.stories.mdx
  packages/web-components/src/components/ic-tab-context/readme.md
  packages/web-components/src/components/ic-tab-group/ic-tab-group.css
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.css
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-tab/ic-tab.css
  packages/web-components/src/components/ic-tab/ic-tab.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@9568bc3bedcf28ed8692c4dbb37b3460ab17cdd2 🚀
  branches/develop/16.1bbc331c.iframe.bundle.js
  branches/develop/16.69e30d6c.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.9e8407d5.iframe.bundle.js
  branches/develop/runtime~main.c8ed7c36.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@101573a0b3b5c57ae239d66fd2872be55d67ff91 🚀
  branches/develop/32.4fa5468a.iframe.bundle.js
  branches/develop/32.4fa5468a.iframe.bundle.js.LICENSE.txt
  branches/develop/32.4fa5468a.iframe.bundle.js.map
  branches/develop/32.f71ba7dc.iframe.bundle.js
  branches/develop/32.f71ba7dc.iframe.bundle.js.map
  branches/develop/33.0ce64232.iframe.bundle.js
  branches/develop/33.e6949ff3.iframe.bundle.js
  branches/develop/34.aae49f78.iframe.bundle.js
  branches/develop/34.f82ea02a.iframe.bundle.js
  branches/develop/40.dcc73e15.iframe.bundle.js
  branches/develop/40.f7a60ebf.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.8a03df5a.iframe.bundle.js
  branches/develop/main.8a03df5a.iframe.bundle.js.map
  branches/develop/main.ef7bfc1b.iframe.bundle.js
  branches/develop/main.ef7bfc1b.iframe.bundle.js.LICENSE.txt
  branches/develop/main.ef7bfc1b.iframe.bundle.js.map
  branches/develop/project.json
  branches/develop/runtime~main.101e8ec4.iframe.bundle.js
  branches/develop/runtime~main.9e8407d5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(root): add docs for testing
  TESTING.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@96fef43da5eec7523fc86308eed5dd35c2c7e67c 🚀
  branches/39-add-testing-documentation/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(react): updated readme pointing consumers to web components CHANGELOG
  packages/react/README.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@409e7f86b6c9b03b78f287ed8f4717674fa76c68 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d924ec6c18b47f7475d20a8f4f16f6a3360ec675 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@101573a0b3b5c57ae239d66fd2872be55d67ff91 🚀
  branches/chore/dev-to-main-cleanup/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d110f11bf178a0051522305ff3254ff5fb78c7d8 🚀
  branches/chore/dev-to-main-cleanup/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(root): added dependabot to actions ignore list
  .github/workflows/ic-ui-kit-branches.yml
Due: none

chore(root): updated issues workflow
  .github/workflows/auto-add-new-issues-to-project.yml
Due: none

fix(web-components): remove min-width on the title area that was causing an overflow
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_breadcrumbs_input_actions_and_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_breadcrumbs_input_actions_and_tabs.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_input.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_breadcrumbs_input_actions_and_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_breadcrumbs_input_actions_and_tabs.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_input.png
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/components/ic-page-header/ic-page-header.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(root): updated version scope in lerna from independent to fixed
  lerna.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(root): updated dependabot to not make version change PRs
  .github/dependabot.yml
Due: none

ci(root): fixed conflicting peer dependancies
  package-lock.json
  package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): fixes vulnerabilities highlighted by npm audit
  audit-ci.json
  package-lock.json
  package.json
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(fonts): update package-lock
  packages/fonts/package-lock.json
  packages/web-components/src/components/ic-page-header/ic-page-header.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

build(react): update package-lock
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fix the width of the hero for mobile devices
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Card_right_content.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Center_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Full_width.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Image_right_content.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Left_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Long_heading.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Search_bar_interaction.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Small.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_no_parallax_effect.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_parallax_effect.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_Card_right_content.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_Image_right_content.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_Long_heading.png
  packages/web-components/src/components/ic-hero/ic-hero.css
Due: stylelint --fix

fix(web-components): fix light footer link turning blue
  packages/web-components/src/components/ic-footer-link/ic-footer-link.css
Due: stylelint --fix

fix(web-components): update alert neutral colour
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Custom_message.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Dismissible.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Dismissible_with_action.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Message_only.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Responsive_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Title_above.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Variants.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_With_action.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Custom_message.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Dismissible.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Dismissible_with_action.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Message_only.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Responsive_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Title_above.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Variants.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_With_action.png
  packages/web-components/src/components/ic-alert/ic-alert.css
Due: stylelint --fix

docs(root): add line to readme to say that only signed commits can be merged
  CONTRIBUTING.md
Due: remark

docs(web-components): add documentation for router-item slot in ic-link
  packages/web-components/src/components/ic-link/ic-link.tsx
  packages/web-components/src/components/ic-link/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): set text field input width to 100%
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Conditional_dynamic.png
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
Due: stylelint --fix

feat(web-components): adds support for form reset event
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Form.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Switch_Default_in_form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Default_in_form.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-checkbox-group/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.e2e.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-radio-group/__snapshots__/ic-radio-group.spec.ts.snap
  packages/web-components/src/components/ic-radio-group/ic-radio-group.e2e.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.spec.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.stories.mdx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-select/ic-select.e2e.ts
  packages/web-components/src/components/ic-select/ic-select.spec.ts
  packages/web-components/src/components/ic-select/ic-select.stories.mdx
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-switch/__snapshots__/ic-switch.spec.ts.snap
  packages/web-components/src/components/ic-switch/ic-switch.spec.ts
  packages/web-components/src/components/ic-switch/ic-switch.stories.mdx
  packages/web-components/src/components/ic-switch/ic-switch.tsx
  packages/web-components/src/components/ic-switch/readme.md
  packages/web-components/src/components/ic-text-field/__snapshots__/ic-text-field.input.spec.tsx.snap
  packages/web-components/src/components/ic-text-field/ic-text-field.e2e.ts
  packages/web-components/src/components/ic-text-field/ic-text-field.input.spec.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.stories.mdx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(web-components): roll back mdx react package
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): remove clashing button styles from dismissable alert
  packages/web-components/src/components/ic-alert/ic-alert.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@83c5817fa542a29b1bcd61315530cd5ca6ec195e 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
