Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(docs): [ci skip]: regenerated docs CHANGELOGs
  packages/docs/CHANGELOG.md
Due: remark

docs(fonts): [ci skip]: regenerated fonts CHANGELOG
  packages/fonts/CHANGELOG.md
Due: remark

docs(react): [ci skip] Regenerated react CHANGELOGs
  packages/react/CHANGELOG.md
Due: remark

docs(web-components): [ci skip] Regenerated web components CHANGELOG
  packages/web-components/CHANGELOG.md
Due: remark

docs(root): [ci skip] regenerated root CHANGELOG
  CHANGELOG.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@fe7ca1495344c71df1d23b03ca2a0c893128b13e 🚀
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.0a47298b.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.65ecb61c.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/iframe.html
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/project.json
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.3b5ce95c.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.4da788c9.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4abbe30f599753183bb12b4dc6d67dee00ae3c18 🚀
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/6090.009dfde8.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/6090.e02e9791.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/7959.30c1c17f.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/7959.9b2509ac.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/8536.02076d3a.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/8536.02076d3a.iframe.bundle.js.LICENSE.txt
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/8536.9600a384.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/8753.52b45925.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/8753.ec24ef73.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/iframe.html
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/project.json
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.3b5ce95c.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.e2245b45.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b3a5f9b15d73bebefad3dbe6095d757d8d44c851 🚀
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.0a47298b.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.1b4fa7b5.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/iframe.html
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/project.json
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.96403dcd.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.e2245b45.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@23c2d55c21c8bdc495b046c472fef6f2b3968101 🚀
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.1b4fa7b5.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.ac69b897.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/iframe.html
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/project.json
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.511eae93.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.96403dcd.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a9741c45a7b1d25a89cfb864541a71645e5b84a8 🚀
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fa5dec2bdd989cf737fdf4dda2ec5b99e7151ea2 🚀
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.45f251d3.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.ac69b897.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/iframe.html
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/main.9b8fd717.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/main.fa91e180.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/main.fa91e180.iframe.bundle.js.LICENSE.txt
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/project.json
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.511eae93.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.b55d6b95.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5c58be2b7b824ded1ec716941f82579a2a8538f8 🚀
  branches/290-convert-px-to-rem-2/1099.de7b8171.iframe.bundle.js
  branches/290-convert-px-to-rem-2/1099.ff5a02d1.iframe.bundle.js
  branches/290-convert-px-to-rem-2/2679.00f2a324.iframe.bundle.js
  branches/290-convert-px-to-rem-2/2679.524ae81e.iframe.bundle.js
  branches/290-convert-px-to-rem-2/2679.524ae81e.iframe.bundle.js.LICENSE.txt
  branches/290-convert-px-to-rem-2/8964.30d2307c.iframe.bundle.js
  branches/290-convert-px-to-rem-2/8964.a0513452.iframe.bundle.js
  branches/290-convert-px-to-rem-2/iframe.html
  branches/290-convert-px-to-rem-2/project.json
  branches/290-convert-px-to-rem-2/runtime~main.43baf8bb.iframe.bundle.js
  branches/290-convert-px-to-rem-2/runtime~main.c8dea7dc.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@830d771d50e04d954f0e9959448ee00a0de73447 🚀
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.45f251d3.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.90785e5c.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/iframe.html
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/project.json
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.8abfdce5.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.b55d6b95.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@318da134467124a8d6f7b164a46deea6e10e47c7 🚀
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.90785e5c.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.c4aaae6a.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/iframe.html
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/project.json
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.32614db3.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.8abfdce5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8b263334b6e4c0ae7a2b1f09bb8513c424afc07c 🚀
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.928c9d01.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.c4aaae6a.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/iframe.html
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/project.json
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.32614db3.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.5961b8af.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(react): fixes react storybook not running
  packages/react/package-lock.json
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): allow for use of router links for top nav app title
  packages/react/src/stories/ic-top-navigation.stories.mdx
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
  packages/web-components/src/components/ic-top-navigation/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): update react router story to use router slot for app title
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@5c675dea21156e64c4be770b285df6f7735577d5 🚀
  branches/263-button-icon-slot-throws-off-spacing-with-mui-icon/7420.0803e5e3.iframe.bundle.js
  branches/263-button-icon-slot-throws-off-spacing-with-mui-icon/7420.0803e5e3.iframe.bundle.js.LICENSE.txt
  branches/263-button-icon-slot-throws-off-spacing-with-mui-icon/7420.7bb47dea.iframe.bundle.js
  branches/263-button-icon-slot-throws-off-spacing-with-mui-icon/iframe.html
  branches/263-button-icon-slot-throws-off-spacing-with-mui-icon/main.5bc45232.iframe.bundle.js
  branches/263-button-icon-slot-throws-off-spacing-with-mui-icon/main.5bc45232.iframe.bundle.js.LICENSE.txt
  branches/263-button-icon-slot-throws-off-spacing-with-mui-icon/main.8111cc59.iframe.bundle.js
  branches/263-button-icon-slot-throws-off-spacing-with-mui-icon/project.json
  branches/263-button-icon-slot-throws-off-spacing-with-mui-icon/runtime~main.587fcecf.iframe.bundle.js
  branches/263-button-icon-slot-throws-off-spacing-with-mui-icon/runtime~main.594f99cb.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@501873ba4088168fdbba5fc9de4057b1f126a4a3 🚀
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.50d09094.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/1738.928c9d01.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/iframe.html
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/project.json
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.290f6ecd.iframe.bundle.js
  branches/179-ic-top-navigation-allow-use-of-gatsby-or-any-slotted-links-for-app-title-link/runtime~main.5961b8af.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fix icon slots for button and side nav where svg is wrapped in an element
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Button_With_icon.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Button_With_icon.png
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-button/ic-button.stories.mdx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
Due: stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@f910e272bf2956372e88bde9ad0cc55e56b41b75 🚀
  branches/develop/1738.447930d2.iframe.bundle.js
  branches/develop/1738.50d09094.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.c31cfa46.iframe.bundle.js
  branches/develop/main.fa91e180.iframe.bundle.js
  branches/develop/main.fa91e180.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.098dfe7e.iframe.bundle.js
  branches/develop/runtime~main.290f6ecd.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
