Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

feat(react): update react router story to use router slot for app title in side nav
  packages/react/src/stories/ic-side-navigation.stories.mdx
Due: remark

feat(web-components): implement slotted link to app title of side nav
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-side-navigation/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): fix icon slots for button and side nav where svg is wrapped in an element
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Button_With_icon.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Button_With_icon.png
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-button/ic-button.stories.mdx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
Due: stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@299cb6bfe7b270836984c18796cf4f25e51d12c3 🚀
  branches/develop/6510.96499878.iframe.bundle.js
  branches/develop/6510.9984b06b.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.15c50c3e.iframe.bundle.js
  branches/develop/main.c421a4ce.iframe.bundle.js
  branches/develop/main.c421a4ce.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.12abeebd.iframe.bundle.js
  branches/develop/runtime~main.eb87c0d0.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): px changed to rem in .css files
  packages/web-components/src/components/ic-alert/ic-alert.css
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.css
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-chip/ic-chip.css
  packages/web-components/src/components/ic-classification-banner/ic-classification-banner.css
  packages/web-components/src/components/ic-data-entity/ic-data-entity.css
  packages/web-components/src/components/ic-data-row/ic-data-row.css
  packages/web-components/src/components/ic-divider/ic-divider.css
  packages/web-components/src/components/ic-footer-link-group/ic-footer-link-group.css
  packages/web-components/src/components/ic-footer-link/ic-footer-link.css
  packages/web-components/src/components/ic-footer/ic-footer.css
  packages/web-components/src/components/ic-hero/ic-hero.css
  packages/web-components/src/components/ic-input-component-container/ic-input-component-container.css
  packages/web-components/src/components/ic-input-validation/ic-input-validation.css
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.css
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
  packages/web-components/src/components/ic-search-bar/ic-search-bar.css
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-status-tag/ic-status-tag.css
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/components/ic-switch/ic-switch.css
  packages/web-components/src/components/ic-tab-group/ic-tab-group.css
  packages/web-components/src/components/ic-tab/ic-tab.css
  packages/web-components/src/components/ic-text-field/ic-text-field.css
  packages/web-components/src/components/ic-tooltip/ic-tooltip.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@0d8dd7efe2f9d408cee03bd89c3287e3906e2128 🚀
  branches/develop/6663.7059a14e.iframe.bundle.js
  branches/develop/6663.7059a14e.iframe.bundle.js.LICENSE.txt
  branches/develop/6663.c974c270.iframe.bundle.js
  branches/develop/7420.9a9210e7.iframe.bundle.js
  branches/develop/7420.9a9210e7.iframe.bundle.js.LICENSE.txt
  branches/develop/7420.f0c3bcfe.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.b5f0218e.iframe.bundle.js
  branches/develop/main.b5f0218e.iframe.bundle.js.LICENSE.txt
  branches/develop/main.c421a4ce.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.eb87c0d0.iframe.bundle.js
  branches/develop/runtime~main.fc9be6e5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@15d75ae33f74ea93831217608e2b99bc3e88cc3f 🚀
  branches/377-deploy-the-react-storybook-to-branch-builds/2679.a700305b.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/2679.b0053ffd.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/2679.b0053ffd.iframe.bundle.js.LICENSE.txt
  branches/377-deploy-the-react-storybook-to-branch-builds/504.665587da.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/504.665587da.iframe.bundle.js.LICENSE.txt
  branches/377-deploy-the-react-storybook-to-branch-builds/504.8a7704e5.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/5903.5d59b676.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/5903.5d59b676.iframe.bundle.js.LICENSE.txt
  branches/377-deploy-the-react-storybook-to-branch-builds/5903.95dd26cb.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/6510.96499878.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/6510.9984b06b.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/6663.7059a14e.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/6663.7059a14e.iframe.bundle.js.LICENSE.txt
  branches/377-deploy-the-react-storybook-to-branch-builds/6663.c974c270.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/7420.9a9210e7.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/7420.9a9210e7.iframe.bundle.js.LICENSE.txt
  branches/377-deploy-the-react-storybook-to-branch-builds/7420.f0c3bcfe.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/7733.15832889.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/7733.290e918a.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/7733.290e918a.iframe.bundle.js.LICENSE.txt
  branches/377-deploy-the-react-storybook-to-branch-builds/iframe.html
  branches/377-deploy-the-react-storybook-to-branch-builds/main.15c50c3e.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/main.b5f0218e.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/main.b5f0218e.iframe.bundle.js.LICENSE.txt
  branches/377-deploy-the-react-storybook-to-branch-builds/project.json
  branches/377-deploy-the-react-storybook-to-branch-builds/runtime~main.4064af89.iframe.bundle.js
  branches/377-deploy-the-react-storybook-to-branch-builds/runtime~main.fc9be6e5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@15d75ae33f74ea93831217608e2b99bc3e88cc3f 🚀
  react/branches/377-deploy-the-react-storybook-to-branch-builds/1642.110e27ee.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/1642.c9dcb2d2.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/1642.c9dcb2d2.iframe.bundle.js.LICENSE.txt
  react/branches/377-deploy-the-react-storybook-to-branch-builds/2148.b822c7cf.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/2148.de6cc732.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/2148.de6cc732.iframe.bundle.js.LICENSE.txt
  react/branches/377-deploy-the-react-storybook-to-branch-builds/5835.83984553.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/5835.e6f20114.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/5835.e6f20114.iframe.bundle.js.LICENSE.txt
  react/branches/377-deploy-the-react-storybook-to-branch-builds/5850.58996baf.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/5850.58996baf.iframe.bundle.js.LICENSE.txt
  react/branches/377-deploy-the-react-storybook-to-branch-builds/5850.9852b597.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/6225.025783a6.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/6225.025783a6.iframe.bundle.js.LICENSE.txt
  react/branches/377-deploy-the-react-storybook-to-branch-builds/6225.dc3d2de2.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/8291.710e8345.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/8291.a4f6e322.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/9257.25f0c2cc.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/9257.8d6e7e0b.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/9257.8d6e7e0b.iframe.bundle.js.LICENSE.txt
  react/branches/377-deploy-the-react-storybook-to-branch-builds/iframe.html
  react/branches/377-deploy-the-react-storybook-to-branch-builds/main.c6b11717.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/main.d0d8e66e.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/main.d0d8e66e.iframe.bundle.js.LICENSE.txt
  react/branches/377-deploy-the-react-storybook-to-branch-builds/project.json
  react/branches/377-deploy-the-react-storybook-to-branch-builds/runtime~main.3ae9dd67.iframe.bundle.js
  react/branches/377-deploy-the-react-storybook-to-branch-builds/runtime~main.543b884a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3c3af41ab5d29229bf830f852a90ade5352a7db1 🚀
  branches/322-icsidenavigation-zindex/6510.43133e1a.iframe.bundle.js
  branches/322-icsidenavigation-zindex/6510.d459d092.iframe.bundle.js
  branches/322-icsidenavigation-zindex/iframe.html
  branches/322-icsidenavigation-zindex/project.json
  branches/322-icsidenavigation-zindex/runtime~main.9176b3dd.iframe.bundle.js
  branches/322-icsidenavigation-zindex/runtime~main.e92a11bd.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3c3af41ab5d29229bf830f852a90ade5352a7db1 🚀
  branches/322-icsidenavigation-zindex/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@bde452316bcbd87a4c6f3f4d30823a3ea47f7b80 🚀
  branches/ic-link-flickering/8753.63c10815.iframe.bundle.js
  branches/ic-link-flickering/8753.a4c2496d.iframe.bundle.js
  branches/ic-link-flickering/iframe.html
  branches/ic-link-flickering/project.json
  branches/ic-link-flickering/runtime~main.f4666c50.iframe.bundle.js
  branches/ic-link-flickering/runtime~main.fc9be6e5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): removed px height and width from SVG
  packages/web-components/src/assets/back-icon.svg
  packages/web-components/src/assets/check-icon.svg
  packages/web-components/src/assets/chevron-icon.svg
  packages/web-components/src/assets/dismiss-icon.svg
  packages/web-components/src/assets/error-icon.svg
  packages/web-components/src/assets/info-icon.svg
  packages/web-components/src/assets/neutral-icon.svg
  packages/web-components/src/assets/success-icon.svg
  packages/web-components/src/assets/warning-icon.svg
  packages/web-components/src/components/ic-alert/ic-alert.css
  packages/web-components/src/components/ic-back-to-top/assets/ArrowUpward.svg
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.css
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-chip/ic-chip.css
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-select/assets/Expand.svg
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

style(web-components): updates for prettier errors
  packages/web-components/src/components/ic-select/ic-select.e2e.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.tsx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@d5523dbf2ba8517485e7855963c4028acdb6840b 🚀
  branches/290-convert-px-to-rem-2/1099.c40c1eb0.iframe.bundle.js
  branches/290-convert-px-to-rem-2/1099.c635a7a9.iframe.bundle.js
  branches/290-convert-px-to-rem-2/2679.94492c2a.iframe.bundle.js
  branches/290-convert-px-to-rem-2/2679.95e82708.iframe.bundle.js
  branches/290-convert-px-to-rem-2/2679.95e82708.iframe.bundle.js.LICENSE.txt
  branches/290-convert-px-to-rem-2/8964.1097d4ae.iframe.bundle.js
  branches/290-convert-px-to-rem-2/8964.e04778d5.iframe.bundle.js
  branches/290-convert-px-to-rem-2/iframe.html
  branches/290-convert-px-to-rem-2/project.json
  branches/290-convert-px-to-rem-2/runtime~main.7140dc72.iframe.bundle.js
  branches/290-convert-px-to-rem-2/runtime~main.e156c551.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixed flickering link hovering
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-link/ic-link.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@a6b00ec9271801e3245ef386f16ea62efb4b3f23 🚀
  branches/ic-link-flickering/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(root): add react storybook to deploy step
  .github/workflows/add-qa-link-to-issues.yml
  .github/workflows/ic-ui-kit-branches.yml
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@4cb2f9465b2fa2804b746996ff838a60c64b9e5e 🚀
  branches/387-ui-kit-create-a-github-action-to-delete-qa-deployments/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e1f5cd85e5657102f8433234a5c89073db16be77 🚀
  branches/feature/177-ic-radio-horizontal-option/1416.3d49a123.iframe.bundle.js
  branches/feature/177-ic-radio-horizontal-option/1416.c82b48c0.iframe.bundle.js
  branches/feature/177-ic-radio-horizontal-option/3874.afdebd0e.iframe.bundle.js
  branches/feature/177-ic-radio-horizontal-option/3874.ed8ba474.iframe.bundle.js
  branches/feature/177-ic-radio-horizontal-option/4272.1b715665.iframe.bundle.js
  branches/feature/177-ic-radio-horizontal-option/4272.5cff2060.iframe.bundle.js
  branches/feature/177-ic-radio-horizontal-option/6088.0bdb491f.iframe.bundle.js
  branches/feature/177-ic-radio-horizontal-option/6088.7fad2e8c.iframe.bundle.js
  branches/feature/177-ic-radio-horizontal-option/7710.41d3994f.iframe.bundle.js
  branches/feature/177-ic-radio-horizontal-option/7710.eea67efd.iframe.bundle.js
  branches/feature/177-ic-radio-horizontal-option/iframe.html
  branches/feature/177-ic-radio-horizontal-option/main.b5f0218e.iframe.bundle.js
  branches/feature/177-ic-radio-horizontal-option/main.d57fddde.iframe.bundle.js
  branches/feature/177-ic-radio-horizontal-option/main.d57fddde.iframe.bundle.js.LICENSE.txt
  branches/feature/177-ic-radio-horizontal-option/project.json
  branches/feature/177-ic-radio-horizontal-option/runtime~main.d2c5c343.iframe.bundle.js
  branches/feature/177-ic-radio-horizontal-option/runtime~main.fc9be6e5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
