Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

feat(react): add date input stories for min/max, clear/calendar button, disabled days and sizes
  packages/react/src/stories/ic-date-input.stories.mdx
Due: remark

feat(web-components): added Zulu datetime functionality
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Date_input_Default_date_Zulu_time.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Date_input_Default_date_Zulu_time.png
  packages/web-components/src/components/ic-date-input/ic-date-input.stories.mdx
  packages/web-components/src/components/ic-date-input/ic-date-input.tsx
  packages/web-components/src/components/ic-date-input/test/basic/ic-date-input.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): updating ic-date-input snapshots
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Date_input_Disabled.png
  packages/web-components/src/components/ic-date-input/test/basic/__snapshots__/ic-date-input.spec.tsx.snap
Due: none

fix(web-components): fixes issue setting date input value to null
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Date_input_Disabled.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-date-input/ic-date-input.stories.mdx
  packages/web-components/src/components/ic-date-input/ic-date-input.tsx
  packages/web-components/src/components/ic-date-input/test/basic/ic-date-input.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): converts date values to supported formats
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Date_input_Custom_validation.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Date_input_Default_date_Disabled_dates_from_now.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Date_input_Default_date_Disabled_dates_until_now.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Date_input_Default_date_not_matching_format.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Date_input_Custom_validation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Date_input_Default_date_Disabled_dates_from_now.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Date_input_Default_date_Disabled_dates_until_now.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Date_input_Default_date_not_matching_format.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-date-input/ic-date-input.tsx
  packages/web-components/src/components/ic-date-input/readme.md
  packages/web-components/src/components/ic-date-input/test/basic/__snapshots__/ic-date-input.spec.tsx.snap
  packages/web-components/src/components/ic-date-input/test/basic/ic-date-input.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): updated disabled date func
  packages/web-components/src/components/ic-date-input/ic-date-input.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): rename method to match prop name
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-date-input/ic-date-input.tsx
  packages/web-components/src/components/ic-date-input/test/basic/ic-date-input.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): built new ic-date-input component
  packages/web-components/src/components/ic-date-input/ic-date-input.stories.mdx
  packages/web-components/src/components/ic-date-input/ic-date-input.types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): built new ic-date-input component
  packages/web-components/src/components/ic-date-input/ic-date-input.types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add clear/calendar button, new sizes, min/max and disabled days to date input
  packages/web-components/src/components/ic-date-input/ic-date-input.tsx
  packages/web-components/src/components/ic-date-input/ic-date-input.types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add clear/calendar button, new sizes, min/max and disabled days to date input
  packages/web-components/src/components/ic-date-input/ic-date-input.types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): built new ic-date-input component
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-date-input/ic-date-input.types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add clear/calendar button, new sizes, min/max and disabled days to date input
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-date-input/ic-date-input.types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes issue setting date input value to null
  packages/web-components/src/components.d.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add clear/calendar button, new sizes, min/max and disabled days to date input
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-date-input/ic-date-input.tsx
  packages/web-components/src/components/ic-date-input/ic-date-input.types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): latest updates
  packages/react/src/stories/ic-date-picker.stories.mdx
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Date_input_Custom_helper_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Date_input_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Date_input_Default_date_epoch_time.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Date_input_Default_date_with_dashes.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-date-input/ic-date-input.tsx
  packages/web-components/src/components/ic-date-input/readme.md
  packages/web-components/src/components/ic-date-picker/ic-date-picker-utils.ts
  packages/web-components/src/components/ic-date-picker/ic-date-picker.css
  packages/web-components/src/components/ic-date-picker/ic-date-picker.e2e.ts
  packages/web-components/src/components/ic-date-picker/ic-date-picker.stories.mdx
  packages/web-components/src/components/ic-date-picker/ic-date-picker.tsx
  packages/web-components/src/components/ic-date-picker/ic-date-picker.types.ts
  packages/web-components/src/components/ic-date-picker/ic-day-button.tsx
  packages/web-components/src/components/ic-date-picker/ic-month-picker.tsx
  packages/web-components/src/components/ic-date-picker/ic-year-picker.tsx
  packages/web-components/src/components/ic-date-picker/readme.md
  packages/web-components/src/components/ic-date-picker/test/a11y/ic-date-picker.test.a11y.ts
  packages/web-components/src/components/ic-date-picker/test/basic/__snapshots__/ic-date-picker.spec.ts.snap
  packages/web-components/src/components/ic-date-picker/test/basic/ic-date-picker-utils.spec.ts
  packages/web-components/src/components/ic-date-picker/test/basic/ic-date-picker.e2e.ts
  packages/web-components/src/components/ic-date-picker/test/basic/ic-date-picker.spec.ts
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/components/ic-typography/ic-typography.css
  packages/web-components/src/utils/helpers.ts
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): adds react stories for datepicker
  packages/react/src/components.ts
  packages/react/src/stories/ic-date-picker.stories.mdx
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-date-picker/ic-date-picker-utils.ts
  packages/web-components/src/components/ic-date-picker/ic-date-picker.css
  packages/web-components/src/components/ic-date-picker/ic-date-picker.e2e.ts
  packages/web-components/src/components/ic-date-picker/ic-date-picker.spec.ts
  packages/web-components/src/components/ic-date-picker/ic-date-picker.stories.mdx
  packages/web-components/src/components/ic-date-picker/ic-date-picker.test.a11y.ts
  packages/web-components/src/components/ic-date-picker/ic-date-picker.tsx
  packages/web-components/src/components/ic-date-picker/ic-date-picker.types.ts
  packages/web-components/src/components/ic-date-picker/ic-day-button.tsx
  packages/web-components/src/components/ic-date-picker/ic-month-picker.tsx
  packages/web-components/src/components/ic-date-picker/ic-year-picker.tsx
  packages/web-components/src/components/ic-date-picker/readme.md
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/global/variables.css
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): temp fix for year button description
  packages/web-components/src/components/ic-date-picker/ic-date-picker.css
  packages/web-components/src/components/ic-date-picker/ic-day-button.tsx
  packages/web-components/src/components/ic-date-picker/ic-year-picker.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

feat(web-components): adds open at date functionality
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-date-picker/ic-date-picker.css
  packages/web-components/src/components/ic-date-picker/ic-date-picker.stories.mdx
  packages/web-components/src/components/ic-date-picker/ic-date-picker.tsx
  packages/web-components/src/components/ic-date-picker/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): latest changes including high contrast mode
  packages/web-components/src/components/ic-date-picker/ic-date-picker.css
  packages/web-components/src/components/ic-date-picker/ic-date-picker.stories.mdx
  packages/web-components/src/components/ic-date-picker/ic-date-picker.tsx
  packages/web-components/src/components/ic-date-picker/ic-day-button.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

ci(root): update to branch actions
  .github/workflows/ic-ui-kit-branches.yml
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@55b51fa03568d773d0f692586ad39a70f764c329 🚀
  branches/develop/5696.5209c087.iframe.bundle.js
  branches/develop/5696.5e7356e1.iframe.bundle.js
  branches/develop/5696.5e7356e1.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.ce90acfa.iframe.bundle.js
  branches/develop/runtime~main.f181c406.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
