Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(root): add boundary prop
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.types.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix

feat(root): small styling changes
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix

feat(root): more CSS adjustments
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix

feat(root): sliding animation sorted
  packages/canary-docs/docs.json
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/readme.md
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(root): cSS changes to fix manual trigger issues
  packages/canary-docs/docs.json
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/readme.md
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(root): cSS class names sorted out
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/test/__snapshots__/ic-drawer.spec.tsx.snap
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix

feat(root): more styling issues fixed
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/web-components/src/global/color-mode.css
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix

feat(root): focus trap mostly sorted
  packages/canary-docs/docs.json
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-card-horizontal/readme.md
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/readme.md
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(root): focus trap moved to helper functions
  packages/canary-docs/docs.json
  packages/canary-web-components/src/components/ic-card-horizontal/readme.md
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-tree-view/readme.md
  packages/canary-web-components/src/utils/constants.ts
  packages/canary-web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

feat(root): message area scroll shadows sorted
  packages/canary-docs/docs.json
  packages/canary-web-components/src/components/ic-card-horizontal/readme.md
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/readme.md
  packages/canary-web-components/src/components/ic-tree-view/readme.md
  packages/canary-web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(root): pretty much all issues fixed
  packages/canary-docs/docs.json
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-card-horizontal/readme.md
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/readme.md
  packages/canary-web-components/src/components/ic-tree-view/readme.md
  packages/web-components/src/components/ic-tooltip/ic-tooltip.css
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(root): various issues fixed e.g. tooltips, sizes, responsive behaviour
  packages/canary-docs/docs.json
  packages/canary-web-components/src/components/ic-card-horizontal/readme.md
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-tree-view/readme.md
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(root): updated drawer stories, add helpers to core package
  packages/canary-docs/docs.json
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/readme.md
  packages/canary-web-components/src/utils/helpers.ts
  packages/web-components/src/utils/constants.ts
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(root): sorting out stories
  packages/canary-docs/docs.json
  packages/canary-react/src/stories/ic-drawer.stories.js
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/readme.md
  packages/react/src/stories/ic-text-field.stories.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

feat(root): react stories mostly sorted
  packages/canary-docs/docs.json
  packages/canary-react/src/stories/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/readme.md
  packages/canary-web-components/src/utils/constants.ts
  packages/canary-web-components/src/utils/helpers.ts
  packages/web-components/src/components/ic-alert/ic-alert.tsx
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.js
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/global/color-mode.css
  packages/web-components/src/utils/constants.ts
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(root): updated dialog to use new helpers
  packages/canary-react/src/stories/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/utils/helpers.ts
  packages/docs/docs.json
  packages/react/src/stories/ic-dialog.stories.js
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.js
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@866c0550b9dc62d006d413063f5c85dfca35affe 🚀
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/full-width-open-selected.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-dark-theme.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@866c0550b9dc62d006d413063f5c85dfca35affe 🚀
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-html-report/report_04-12-2025_143424.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): improve ic-input reflow behaviour
  packages/web-components/src/components/ic-input-component-container/ic-input-component-container.css
  packages/web-components/src/components/ic-input-validation/ic-input-validation.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@c4a6377d64d79bbb1574a3fb60aec24b9d8a3bb8 🚀
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/full-width-open-selected.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-light-theme.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@c4a6377d64d79bbb1574a3fb60aec24b9d8a3bb8 🚀
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-html-report/report_04-12-2025_151202.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): update toggle button group to externally set active toggle
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-toggle-button-group/ic-toggle-button-group.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): update cspell.json to include AMPM
  .cspell.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2354b094d5270efe46de784336b82c6edcb96290 🚀
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-html-report/report_05-12-2025_094525.json
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-html-report/report_26-11-2025_102903.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(canary-web-components): add millisecond time format, and AM/PM toggle to time input
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-time-input/ic-time-input.css
  packages/canary-web-components/src/components/ic-time-input/ic-time-input.stories.js
  packages/canary-web-components/src/components/ic-time-input/ic-time-input.tsx
  packages/canary-web-components/src/components/ic-time-input/readme.md
  packages/canary-web-components/src/components/ic-time-input/test/basic/__snapshots__/ic-time-input.spec.tsx.snap
  packages/canary-web-components/src/components/ic-time-input/test/basic/ic-time-input.spec.tsx
  packages/canary-web-components/src/components/ic-time-input/test/helpers/ic-time-input.tsx
  packages/canary-web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(canary-react): add millisecond time format, and AM/PM toggle to time input
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeInput.cy.tsx/time-input-12-hour-period.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeInput.cy.tsx/time-input-milliseconds-format.png
  packages/canary-react/src/component-tests/IcTimeInput/IcTimeInput.cy.tsx
  packages/canary-react/src/component-tests/IcTimeInput/IcTimeInputTestData.tsx
  packages/canary-react/src/stories/ic-time-input.stories.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(canary-docs): update docs.json with time input updates
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@91fcb739f4b1ee4cfcd78696e4c053332b468828 🚀
  branches/3963-time-input-milliseconds-ampm/web-components/2121.c3da7fc4.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/web-components/2121.f2b7df5e.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/web-components/2561.2a895952.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/web-components/2561.ef7460f8.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/web-components/9358.0dac3b6d.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/web-components/9358.ff2b64b5.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/web-components/iframe.html
  branches/3963-time-input-milliseconds-ampm/web-components/main.19f41fc2.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/web-components/main.19f41fc2.iframe.bundle.js.map
  branches/3963-time-input-milliseconds-ampm/web-components/main.8b87faed.iframe.bundle.js.map
  branches/3963-time-input-milliseconds-ampm/web-components/project.json
  branches/3963-time-input-milliseconds-ampm/web-components/runtime~main.1fc3b595.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/web-components/runtime~main.e2c35eee.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@91fcb739f4b1ee4cfcd78696e4c053332b468828 🚀
  branches/3963-time-input-milliseconds-ampm/react/1529.34d8dc33.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/react/1529.34d8dc33.iframe.bundle.js.LICENSE.txt
  branches/3963-time-input-milliseconds-ampm/react/1529.eb3c874f.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/react/2673.e2026eb7.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/react/2673.f6dd7c2d.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/react/7526.64f4a7a0.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/react/7526.84a5f6b5.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/react/7526.84a5f6b5.iframe.bundle.js.LICENSE.txt
  branches/3963-time-input-milliseconds-ampm/react/iframe.html
  branches/3963-time-input-milliseconds-ampm/react/main.8d9f2140.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/react/main.a71f87e3.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/react/main.a71f87e3.iframe.bundle.js.LICENSE.txt
  branches/3963-time-input-milliseconds-ampm/react/project.json
  branches/3963-time-input-milliseconds-ampm/react/runtime~main.054f6999.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/react/runtime~main.542e9ca3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@91fcb739f4b1ee4cfcd78696e4c053332b468828 🚀
  branches/3963-time-input-milliseconds-ampm/canary-react/1873.7c75ff94.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/1873.c50d71a6.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/2017.2b157a14.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/2017.b40d5aca.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/2729.9d76864f.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/2729.a5a78a53.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/5534.47539d50.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/5534.e9de26be.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/5902.0d5c3dbd.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/5902.7670e56d.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/5997.18261fd7.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/5997.5d895807.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/6476.cb627a6a.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/6476.d5d25555.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/7681.37c98692.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/7681.6f370251.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/8832.1b55bb93.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/8832.e01e53b5.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/9802.417f38c7.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/9802.bdeafcc2.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/iframe.html
  branches/3963-time-input-milliseconds-ampm/canary-react/index.json
  branches/3963-time-input-milliseconds-ampm/canary-react/main.3fd5673a.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/main.ec63806e.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/project.json
  branches/3963-time-input-milliseconds-ampm/canary-react/runtime~main.d4f4a577.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/runtime~main.d81636d2.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/stories-ic-data-table-stories.a4a4f80e.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/stories-ic-data-table-stories.c296dd0e.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/stories-ic-pagination-bar-mdx.07b0b87a.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/stories-ic-pagination-bar-mdx.bf50d883.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/stories-ic-pagination-bar-stories.0187f882.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/stories-ic-pagination-bar-stories.d9366995.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@91fcb739f4b1ee4cfcd78696e4c053332b468828 🚀
  branches/3963-time-input-milliseconds-ampm/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@91fcb739f4b1ee4cfcd78696e4c053332b468828 🚀
  branches/3963-time-input-milliseconds-ampm/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@91fcb739f4b1ee4cfcd78696e4c053332b468828 🚀
  branches/3963-time-input-milliseconds-ampm/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@91fcb739f4b1ee4cfcd78696e4c053332b468828 🚀
  branches/3963-time-input-milliseconds-ampm/canary-react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts": any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
