Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@0f75d4765e5da4f51bd0a2260695923e7a3bc69d 🚀
  branches/release-readme-fix/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@41d143e5083d43a6fdbde82e848681e29f685a77 🚀
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-html-report/report_04-03-2026_175426.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a69ba5653b266156e7a966dc01548d4758e3ffb2 🚀
  branches/666-refactor-branch/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/666-refactor-branch/cypress-image-diff-html-report/report_05-03-2026_092631.json
  branches/666-refactor-branch/cypress-image-diff-html-report/report_27-02-2026_122604.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Revert "chore(release): update development release version check file"
  DEVELOPMENT_RELEASE_CHECK.md
Due: remark

Revert "chore(release): [ci skip] components publish"
  packages/canary-docs/CHANGELOG.md
  packages/canary-docs/package.json
  packages/canary-react/CHANGELOG.md
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-web-components/CHANGELOG.md
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package-lock.json
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

chore(root): update audit-ci
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@28194e2c58d442aeb7be1dcaeb777b1d17ea0519 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_05-03-2026_120954.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8feed9fbe9132d55b900aefd762b9fe9a0895e5f 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8feed9fbe9132d55b900aefd762b9fe9a0895e5f 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8feed9fbe9132d55b900aefd762b9fe9a0895e5f 🚀
  branches/canary/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8feed9fbe9132d55b900aefd762b9fe9a0895e5f 🚀
  branches/canary/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Revert "docs(web-components): update readme files"
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-text-field/readme.md
Due: remark

chore(release): update development release version check file
  DEVELOPMENT_RELEASE_CHECK.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@1184ff02a3e45309da959cf5474887948085843c 🚀
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@1184ff02a3e45309da959cf5474887948085843c 🚀
  branches/666-refactor-branch/cypress-image-diff-html-report/report_05-03-2026_131449.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): add back in node token
  .github/workflows/ic-ui-kit-release-merged.yml
Due: none

chore(release): [ci skip] components publish
  packages/canary-docs/CHANGELOG.md
  packages/canary-docs/package.json
  packages/canary-react/CHANGELOG.md
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-web-components/CHANGELOG.md
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package-lock.json
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

docs(web-components): update readme files
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-text-field/readme.md
Due: remark

chore(canary-web-components): upgrade Stencil to v4.41.1
  packages/canary-web-components/README.md
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-calendar/test/basic/__snapshots__/ic-calendar.spec.ts.snap
  packages/canary-web-components/src/components/ic-calendar/test/basic/ic-calendar.spec.ts
  packages/canary-web-components/src/components/ic-data-table-title-bar/test/a11y/ic-data-table-title-bar.test.a11y.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-date-input/test/basic/__snapshots__/ic-date-input.spec.tsx.snap
  packages/canary-web-components/src/components/ic-date-picker/test/basic/__snapshots__/ic-date-picker.spec.ts.snap
  packages/canary-web-components/src/components/ic-date-picker/test/basic/ic-date-picker-utils.spec.ts
  packages/canary-web-components/src/components/ic-table-of-contents/test/basic/ic-table-of-contents.spec.ts
  packages/canary-web-components/src/components/ic-time-input/test/basic/__snapshots__/ic-time-input.spec.tsx.snap
  packages/canary-web-components/src/components/ic-time-selector/test/basic/__snapshots__/ic-time-selector.spec.tsx.snap
  packages/canary-web-components/src/testa11y.setup.ts
  packages/web-components/src/components/ic-card-horizontal/test/basic/__snapshots__/ic-card-horizontal.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

docs(docs): update docs after Stencil and Typescript upgrades
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(canary-docs): update docs after Stencil and TypeScript upgrades
  packages/canary-docs/docs.d.ts
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): upgrade TypeScript to v5.3.3
  packages/react/cypress/support/component.ts
  packages/react/cypress/support/index.ts
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigation.cy.tsx
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigationTestData.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(react): update visual regresstion test thresholds for ic-select
  packages/react/cypress-image-diff-screenshots/baseline/IcSearchBar.cy.tsx/clear-icon-focused-theme-dark.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSelectSearchable.cy.tsx/clear-icon-focused-theme-dark.png
  packages/react/cypress-image-diff-screenshots/baseline/IcTopNavigation.cy.tsx/mobile-brand.png
  packages/react/src/component-tests/IcSearchBar/IcSearchBar.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelect.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelectMulti.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelectSearchable.cy.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-react): upgrade TypeScript to v5.3.3
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): fix to ic-button theme colour in ic-select and ic-search-bar
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/test/basic/__snapshots__/ic-search-bar.spec.ts.snap
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/test/basic/__snapshots__/ic-select.spec.tsx.snap
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write
