Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

docs(root): updates audit-ci to stop build failing
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): added additional stories for popover testing
  packages/web-components/src/components/ic-accordion/ic-accordion.css
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(docs): adds badge docs
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@60543a8a43c86af3d19eacd5ed61362e7c88f6ba 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@62de293e791273bd9f337bbbb7efd12bf3cade61 🚀
  branches/1141-remove-unused-storybook-pages/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@62de293e791273bd9f337bbbb7efd12bf3cade61 🚀
  branches/1141-remove-unused-storybook-pages/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(web-components): removal of unused storybook pages
  packages/web-components/src/getting-started-1.stories.mdx
  packages/web-components/src/theme.stories.mdx
  packages/web-components/src/usage-with-angular.stories.mdx
  packages/web-components/src/usage-with-vue.stories.mdx
Due: remark

docs(react): removal of unused storybook pages
  packages/react/src/getting-started.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@a103c7f35f9f99dc46aea2b3afe5a9e56f40a8a0 🚀
  branches/1141-remove-unused-storybook-pages/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a103c7f35f9f99dc46aea2b3afe5a9e56f40a8a0 🚀
  branches/1141-remove-unused-storybook-pages/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@36c39157851ad385ef6af49b10d13e8eb10034dc 🚀
  branches/develop/iframe.html
  branches/develop/main.04e566f8.iframe.bundle.js
  branches/develop/main.4e8fafad.iframe.bundle.js
  branches/develop/main.4e8fafad.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): update docs.json with badge slots
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add badge slot to card, navigation item and navigation button
  packages/react/src/stories/ic-card.stories.mdx
  packages/react/src/stories/ic-side-navigation.stories.mdx
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: remark

feat(web-components): add badge slot to card, navigation item, and navigation button
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_With_badge.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_With_badge.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_icons.png
  packages/web-components/src/components/ic-badge/test/basic/__snapshots__/ic-badge.spec.tsx.snap
  packages/web-components/src/components/ic-badge/test/basic/ic-badge.spec.tsx
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-card/ic-card.stories.mdx
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-card/readme.md
  packages/web-components/src/components/ic-navigation-button/ic-navigation-button.tsx
  packages/web-components/src/components/ic-navigation-button/readme.md
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-navigation-item/readme.md
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
  packages/web-components/src/components/ic-side-navigation/test/basic/ic-side-navigation.e2e.ts
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): added row height customisation to data tables
  audit-ci.json
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_Row_Heights.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_Row_Heights.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/ic-data-table.types.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-data-table/story-data.ts
  packages/web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@76da4d0d3928aed40d2927499b2c1741e314d6f8 🚀
  branches/1167-add-badge-slot-to-missing-components/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@76da4d0d3928aed40d2927499b2c1741e314d6f8 🚀
  branches/1167-add-badge-slot-to-missing-components/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5d21d7d5ad6b58de43fa1d671f43fd3da64467f8 🚀
  branches/develop/2115.d857177c.iframe.bundle.js
  branches/develop/2115.f545f534.iframe.bundle.js
  branches/develop/2115.f545f534.iframe.bundle.js.LICENSE.txt
  branches/develop/5696.2123f229.iframe.bundle.js
  branches/develop/5696.2123f229.iframe.bundle.js.LICENSE.txt
  branches/develop/5696.d71bbda1.iframe.bundle.js
  branches/develop/7420.3ed8ff59.iframe.bundle.js
  branches/develop/7420.3ed8ff59.iframe.bundle.js.LICENSE.txt
  branches/develop/7420.e152312d.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.4e8fafad.iframe.bundle.js
  branches/develop/main.da6c1a41.iframe.bundle.js
  branches/develop/main.da6c1a41.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.6c3f4b79.iframe.bundle.js
  branches/develop/runtime~main.d7e61610.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes lint errors
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@c9b5907f71761a5a393451594349881d37535755 🚀
  branches/lint-fix/web-components/2115.d857177c.iframe.bundle.js
  branches/lint-fix/web-components/2115.f545f534.iframe.bundle.js
  branches/lint-fix/web-components/2115.f545f534.iframe.bundle.js.LICENSE.txt
  branches/lint-fix/web-components/5696.2123f229.iframe.bundle.js
  branches/lint-fix/web-components/5696.2123f229.iframe.bundle.js.LICENSE.txt
  branches/lint-fix/web-components/5696.d71bbda1.iframe.bundle.js
  branches/lint-fix/web-components/7420.3ed8ff59.iframe.bundle.js
  branches/lint-fix/web-components/7420.3ed8ff59.iframe.bundle.js.LICENSE.txt
  branches/lint-fix/web-components/7420.e152312d.iframe.bundle.js
  branches/lint-fix/web-components/iframe.html
  branches/lint-fix/web-components/main.4e8fafad.iframe.bundle.js
  branches/lint-fix/web-components/main.da6c1a41.iframe.bundle.js
  branches/lint-fix/web-components/main.da6c1a41.iframe.bundle.js.LICENSE.txt
  branches/lint-fix/web-components/project.json
  branches/lint-fix/web-components/runtime~main.07745c01.iframe.bundle.js
  branches/lint-fix/web-components/runtime~main.cbdcb793.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c9b5907f71761a5a393451594349881d37535755 🚀
  branches/lint-fix/react/2148.16864b69.iframe.bundle.js
  branches/lint-fix/react/2148.16864b69.iframe.bundle.js.LICENSE.txt
  branches/lint-fix/react/2148.d294aac8.iframe.bundle.js
  branches/lint-fix/react/2373.7c4f6dd2.iframe.bundle.js
  branches/lint-fix/react/2373.e7a44a97.iframe.bundle.js
  branches/lint-fix/react/2373.e7a44a97.iframe.bundle.js.LICENSE.txt
  branches/lint-fix/react/6831.3a343907.iframe.bundle.js
  branches/lint-fix/react/6831.a53773c4.iframe.bundle.js
  branches/lint-fix/react/6831.a53773c4.iframe.bundle.js.LICENSE.txt
  branches/lint-fix/react/iframe.html
  branches/lint-fix/react/main.38db22d6.iframe.bundle.js
  branches/lint-fix/react/main.38db22d6.iframe.bundle.js.LICENSE.txt
  branches/lint-fix/react/main.b078533e.iframe.bundle.js
  branches/lint-fix/react/project.json
  branches/lint-fix/react/runtime~main.6e764deb.iframe.bundle.js
  branches/lint-fix/react/runtime~main.79873bf5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
