Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@fb024e352e3bf23d2d9ea24ff279d78133798c18 🚀
  branches/4672-internal-issue-3277-2/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4672-internal-issue-3277-2/cypress-image-diff-html-report/report_01-10-2026_161305.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): override basic-ftp version
  packages/react/package-lock.json
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(react): block innerHTML/on* prop injection in attachProps and createComponent
  packages/react/src/component-tests/utils/attachProps.cy.tsx
  packages/react/src/react-component-lib/createComponent.tsx
  packages/react/src/react-component-lib/utils/attachProps.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(canary-react): block innerHTML/on* prop injection in attachProps and createComponent
  packages/canary-react/src/react-component-lib/createComponent.tsx
  packages/canary-react/src/react-component-lib/utils/attachProps.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): add img tag to allowed tags in icon slot
  packages/web-components/src/utils/common-helpers.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@848f1f01c12bdc1b36779682a7b1302506f54755 🚀
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@848f1f01c12bdc1b36779682a7b1302506f54755 🚀
  branches/4672-internal-issue-3277-2/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4672-internal-issue-3277-2/cypress-image-diff-html-report/report_02-10-2026_120502.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0a2458cbbacaff4d0bc3e128c46edc02bfb19048 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0a2458cbbacaff4d0bc3e128c46edc02bfb19048 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0a2458cbbacaff4d0bc3e128c46edc02bfb19048 🚀
  branches/canary/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0a2458cbbacaff4d0bc3e128c46edc02bfb19048 🚀
  branches/canary/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): #3350 reserve dialog scrollbar gutter
  packages/web-components/src/components/ic-dialog/ic-dialog.css
Due: stylelint --fix

test(react): update loading indicator dialog baselines
  packages/react/cypress-image-diff-screenshots/baseline/IcLoadingIndicator.cy.tsx/loading-indicator-within-dialog-custom-diameter.png
  packages/react/cypress-image-diff-screenshots/baseline/IcLoadingIndicator.cy.tsx/loading-indicator-within-dialog-small.png
Due: none

test(react): update dialog visual baselines
  packages/react/cypress-image-diff-screenshots/baseline/IcDialog.cy.tsx/accordion-group-single-expansion.png
  packages/react/cypress-image-diff-screenshots/baseline/IcDialog.cy.tsx/accordion-group.png
  packages/react/cypress-image-diff-screenshots/baseline/IcDialog.cy.tsx/accordion.png
  packages/react/cypress-image-diff-screenshots/baseline/IcDialog.cy.tsx/disable-width-constraint.png
  packages/react/cypress-image-diff-screenshots/baseline/IcDialog.cy.tsx/error-alert.png
  packages/react/cypress-image-diff-screenshots/baseline/IcDialog.cy.tsx/info-alert.png
  packages/react/cypress-image-diff-screenshots/baseline/IcDialog.cy.tsx/large.png
  packages/react/cypress-image-diff-screenshots/baseline/IcDialog.cy.tsx/neutral-alert.png
  packages/react/cypress-image-diff-screenshots/baseline/IcDialog.cy.tsx/slotted-content-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcDialog.cy.tsx/success-alert-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcDialog.cy.tsx/success-alert.png
  packages/react/cypress-image-diff-screenshots/baseline/IcDialog.cy.tsx/warning-alert-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcDialog.cy.tsx/warning-alert.png
Due: none

test(react): cover dialog scrollbar width stability
  packages/react/src/component-tests/IcDialog/IcDialog.cy.tsx
  packages/react/src/component-tests/IcDialog/IcDialogTestData.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a65507eb609c9454999fe12d1a6e46d1afc5ae16 🚀
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcPaginationBar.cy.tsx/go-to-page-invalid-tooltip-high-contrast.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/4672-internal-issue-3277-2/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@a65507eb609c9454999fe12d1a6e46d1afc5ae16 🚀
  branches/4672-internal-issue-3277-2/cypress-image-diff-html-report/report_02-10-2026_132942.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

refactor(react): use webpack native HTML support
  packages/react/.webpack/webpack.perf.config.js
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/performance-tests/index.html
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts": any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
