Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(root): fixes vulnerabilities highlighted by npm audit
  audit-ci.json
  package-lock.json
  package.json
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e56cf472f8a0f0b99d1dbe6d041220b91533cd4f 🚀
  branches/84-footer-links-styling-pressed-state-is-wrong/19.735bf9d9.iframe.bundle.js
  branches/84-footer-links-styling-pressed-state-is-wrong/19.d6b36202.iframe.bundle.js
  branches/84-footer-links-styling-pressed-state-is-wrong/iframe.html
  branches/84-footer-links-styling-pressed-state-is-wrong/project.json
  branches/84-footer-links-styling-pressed-state-is-wrong/runtime~main.2ee55ca1.iframe.bundle.js
  branches/84-footer-links-styling-pressed-state-is-wrong/runtime~main.77fb2f33.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fix the width of the hero for mobile devices
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Card_right_content.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Center_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Full_width.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Image_right_content.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Left_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Long_heading.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Search_bar_interaction.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Small.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_no_parallax_effect.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_parallax_effect.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_Card_right_content.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_Image_right_content.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_Long_heading.png
  packages/web-components/src/components/ic-hero/ic-hero.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@8e3a6d8829b1d9c92e52a317c7243c35c12afd60 🚀
  branches/78-hero-content-width-on-small-devices/21.85f3eb56.iframe.bundle.js
  branches/78-hero-content-width-on-small-devices/21.a3cacc02.iframe.bundle.js
  branches/78-hero-content-width-on-small-devices/iframe.html
  branches/78-hero-content-width-on-small-devices/project.json
  branches/78-hero-content-width-on-small-devices/runtime~main.59f0302a.iframe.bundle.js
  branches/78-hero-content-width-on-small-devices/runtime~main.77fb2f33.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fix light footer link turning blue
  packages/web-components/src/components/ic-footer-link/ic-footer-link.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@491d67ee4b3784d04602712095460bcab0fdf4b7 🚀
  branches/develop/iframe.html
  branches/develop/main.5ff616c3.iframe.bundle.js
  branches/develop/main.5ff616c3.iframe.bundle.js.map
  branches/develop/main.d62fb6e3.iframe.bundle.js
  branches/develop/main.d62fb6e3.iframe.bundle.js.LICENSE.txt
  branches/develop/main.d62fb6e3.iframe.bundle.js.map
  branches/develop/project.json
  branches/develop/vendors~main.7f8ab61f.iframe.bundle.js
  branches/develop/vendors~main.7f8ab61f.iframe.bundle.js.map
  branches/develop/vendors~main.ae18f288.iframe.bundle.js
  branches/develop/vendors~main.ae18f288.iframe.bundle.js.LICENSE.txt
  branches/develop/vendors~main.ae18f288.iframe.bundle.js.map
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d500c85b129b8c88a2ed61eb06a50b6030433491 🚀
  branches/84-footer-links-styling-pressed-state-is-wrong/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6af4505c21c29893e6ea076275a76dfbe03302cc 🚀
  branches/84-footer-links-styling-pressed-state-is-wrong/19.d6b36202.iframe.bundle.js
  branches/84-footer-links-styling-pressed-state-is-wrong/19.f19741b2.iframe.bundle.js
  branches/84-footer-links-styling-pressed-state-is-wrong/iframe.html
  branches/84-footer-links-styling-pressed-state-is-wrong/project.json
  branches/84-footer-links-styling-pressed-state-is-wrong/runtime~main.2ee55ca1.iframe.bundle.js
  branches/84-footer-links-styling-pressed-state-is-wrong/runtime~main.d4891bae.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): update alert neutral colour
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Custom_message.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Dismissible.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Dismissible_with_action.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Message_only.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Responsive_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Title_above.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Variants.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_With_action.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Custom_message.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Dismissible.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Dismissible_with_action.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Message_only.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Responsive_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Title_above.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Variants.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_With_action.png
  packages/web-components/src/components/ic-alert/ic-alert.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@c3eccd53c96c628ef60b277233698e06876edd3c 🚀
  branches/88-alert-neutral-colour-is-wrong/4.c2de1212.iframe.bundle.js
  branches/88-alert-neutral-colour-is-wrong/4.ef4dca73.iframe.bundle.js
  branches/88-alert-neutral-colour-is-wrong/iframe.html
  branches/88-alert-neutral-colour-is-wrong/project.json
  branches/88-alert-neutral-colour-is-wrong/runtime~main.3ee397e7.iframe.bundle.js
  branches/88-alert-neutral-colour-is-wrong/runtime~main.77fb2f33.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3e6b3c649424c2493dedd5e230f657c1f821acb6 🚀
  branches/88-alert-neutral-colour-is-wrong/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6af4505c21c29893e6ea076275a76dfbe03302cc 🚀
  branches/84-footer-links-styling-pressed-state-is-wrong/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@95c6918cc062e0dab658d2ba6af1d2dff1ed3986 🚀
  branches/develop/21.85f3eb56.iframe.bundle.js
  branches/develop/21.a3cacc02.iframe.bundle.js
  branches/develop/4.c2de1212.iframe.bundle.js
  branches/develop/4.ef4dca73.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.00a43133.iframe.bundle.js
  branches/develop/runtime~main.77fb2f33.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c79deef887b299a78c5c06e832fd2783ce106093 🚀
  branches/develop/19.735bf9d9.iframe.bundle.js
  branches/develop/19.f19741b2.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.00a43133.iframe.bundle.js
  branches/develop/runtime~main.41825ee1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(root): add line to readme to say that only signed commits can be merged
  CONTRIBUTING.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@9ddafc05df41e713a6f8e7678d96a21afea1c475 🚀
  branches/39-add-testing-documentation/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@57bb17fcb920e3e07c8139b43919299233dafbe4 🚀
  branches/39-add-testing-documentation/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@97e756e9f9a5b584eaca57f500c344207a95bcc6 🚀
  branches/39-add-testing-documentation/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a50555107172cec62ac470aafafee122de13c72f 🚀
  branches/92-overflowing-component-previews/38.6924efa6.iframe.bundle.js
  branches/92-overflowing-component-previews/38.6924efa6.iframe.bundle.js.map
  branches/92-overflowing-component-previews/38.6cfec3d9.iframe.bundle.js
  branches/92-overflowing-component-previews/38.6cfec3d9.iframe.bundle.js.LICENSE.txt
  branches/92-overflowing-component-previews/38.6cfec3d9.iframe.bundle.js.map
  branches/92-overflowing-component-previews/iframe.html
  branches/92-overflowing-component-previews/project.json
  branches/92-overflowing-component-previews/runtime~main.41825ee1.iframe.bundle.js
  branches/92-overflowing-component-previews/runtime~main.c2a58736.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): set text field input width to 100%
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Conditional_dynamic.png
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@c058063c69e46b7277475995ac2b08a810996687 🚀
  branches/92-overflowing-checkbox-radio/15.36d53b24.iframe.bundle.js
  branches/92-overflowing-checkbox-radio/15.b5faec4d.iframe.bundle.js
  branches/92-overflowing-checkbox-radio/26.33362d0e.iframe.bundle.js
  branches/92-overflowing-checkbox-radio/26.d2d7a9fe.iframe.bundle.js
  branches/92-overflowing-checkbox-radio/iframe.html
  branches/92-overflowing-checkbox-radio/project.json
  branches/92-overflowing-checkbox-radio/runtime~main.09700d54.iframe.bundle.js
  branches/92-overflowing-checkbox-radio/runtime~main.41825ee1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(web-components): add documentation for router-item slot in ic-link
  packages/web-components/src/components/ic-link/ic-link.tsx
  packages/web-components/src/components/ic-link/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@0309c3c0301632e5b30ebbc75152a7322463e093 🚀
  branches/108-router-item-slot-in-ic-link-hasnt-been-declared/iframe.html
  branches/108-router-item-slot-in-ic-link-hasnt-been-declared/main.5c19e287.iframe.bundle.js
  branches/108-router-item-slot-in-ic-link-hasnt-been-declared/main.5c19e287.iframe.bundle.js.LICENSE.txt
  branches/108-router-item-slot-in-ic-link-hasnt-been-declared/main.5c19e287.iframe.bundle.js.map
  branches/108-router-item-slot-in-ic-link-hasnt-been-declared/main.d62fb6e3.iframe.bundle.js
  branches/108-router-item-slot-in-ic-link-hasnt-been-declared/main.d62fb6e3.iframe.bundle.js.map
  branches/108-router-item-slot-in-ic-link-hasnt-been-declared/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
