Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

feat(web-components): adds ability to set custom classification text
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-classification-banner/ic-classification-banner.stories.js
  packages/web-components/src/components/ic-classification-banner/ic-classification-banner.tsx
  packages/web-components/src/components/ic-classification-banner/readme.md
  packages/web-components/src/components/ic-classification-banner/test/basic/__snapshots__/ic-classification-banner.spec.ts.snap
  packages/web-components/src/components/ic-classification-banner/test/basic/ic-classification-banner.spec.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

docs(docs): update docs for ic-select
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(react): adds ability to set custom classification text
  packages/react/src/stories/ic-classification-banner.stories.jsx
Due: none

docs(docs): docs update for new classification banner prop
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

refactor(web-components): refactor ic-select to simplify code and follow combobox pattern
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/readme.md
  packages/web-components/src/components/ic-menu/test/basic/__snapshots__/ic-menu.spec.tsx.snap
  packages/web-components/src/components/ic-menu/test/basic/ic-menu.spec.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/ic-select.types.ts
  packages/web-components/src/components/ic-select/ic-select_(searchable).stories.js
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/components/ic-select/test/basic/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-select/test/basic/ic-select.spec.tsx
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(root): adjust readme to be valid grammar-wise
  README.md
Due: remark

chore(canary-web-components): remove jest-axe tests from canary-web-components
  packages/canary-web-components/jest.config.js
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
  packages/canary-web-components/src/components/ic-calendar/test/a11y/ic-calendar.test.a11y.ts
  packages/canary-web-components/src/components/ic-data-table-title-bar/test/a11y/ic-data-table-title-bar.test.a11y.ts
  packages/canary-web-components/src/components/ic-data-table/test/a11y/ic-data-table.test.a11y.ts
  packages/canary-web-components/src/components/ic-date-picker/test/a11y/ic-date-picker.test.a11y.ts
  packages/canary-web-components/src/components/ic-drawer/test/a11y/ic-drawer.test.a11y.ts
  packages/canary-web-components/src/components/ic-table-of-contents/test/a11y/ic-table-of-contents.test.a11y.ts
  packages/canary-web-components/src/testa11y.setup.ts
  packages/canary-web-components/src/utils/testa11y.helpers.ts
  packages/canary-web-components/tsconfig.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): fixes console error in toast component
  packages/web-components/src/components/ic-toast/ic-toast.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(react): update visual regression testing
  packages/react/cypress-image-diff-screenshots/baseline/IcActionChip.cy.tsx/as-link.png
  packages/react/cypress-image-diff-screenshots/baseline/IcActionChip.cy.tsx/disabled-as-link.png
  packages/react/cypress-image-diff-screenshots/baseline/IcActionChip.cy.tsx/disabled.png
  packages/react/cypress-image-diff-screenshots/baseline/IcActionChip.cy.tsx/focused-button.png
  packages/react/cypress-image-diff-screenshots/baseline/IcActionChip.cy.tsx/focused-link.png
  packages/react/cypress-image-diff-screenshots/baseline/IcActionChip.cy.tsx/outlined.png
  packages/react/cypress-image-diff-screenshots/baseline/IcActionChip.cy.tsx/sizes.png
  packages/react/cypress-image-diff-screenshots/baseline/IcActionChip.cy.tsx/theme-monochrome.png
  packages/react/cypress-image-diff-screenshots/baseline/IcActionChip.cy.tsx/with-badge.png
  packages/react/cypress-image-diff-screenshots/baseline/IcActionChip.cy.tsx/with-icon.png
  packages/react/cypress-image-diff-screenshots/baseline/IcBadge.cy.tsx/position-near.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/badge-slot.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/custom-colour-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/custom-colour.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/custom-dismiss-label.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/disabled-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/disabled.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/dismissible-focus-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/dismissible-focus.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/dismissible-with-icon.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/dismissible.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/full-width.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/in-ag-grid.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/long-label.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/sizes.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/transparency.png
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/with-icon.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/hidden-option-labels.png
  packages/react/cypress-image-diff-screenshots/baseline/IcTooltip.cy.tsx/on-chip.png
Due: none

chore(root): add audit exception related to tar
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(canary-docs): update docs following a build of all components
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

ci(codemod): update package-lock.json as a result of audit fix
  packages/codemod/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

ci(fonts): update versions of transitive dependencies as a result of audit fix
  packages/fonts/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-web-components): fix for lint issues and changes to package-lock.json following audit fix
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
  packages/canary-web-components/src/components/ic-date-input/ic-date-input.tsx
  packages/canary-web-components/src/components/ic-date-input/test/basic/ic-date-input.spec.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(react): add story and test to demonstrate a multi-level side navigation
  packages/react/cypress-image-diff-screenshots/baseline/IcSideNavigation.cy.tsx/multi-level-first-level.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSideNavigation.cy.tsx/multi-level-second-level-expanded.png
  packages/react/package-lock.json
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigation.cy.tsx
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigationTestData.tsx
  packages/react/src/stories/ic-side-navigation.stories.jsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): change padding on ic-chip component to match figma designs
  packages/web-components/src/components/ic-action-chip/ic-action-chip.css
  packages/web-components/src/components/ic-action-chip/ic-action-chip.tsx
  packages/web-components/src/components/ic-action-chip/test/basic/__snapshots__/ic-action-chip.spec.ts.snap
  packages/web-components/src/components/ic-badge/test/basic/__snapshots__/ic-badge.spec.tsx.snap
  packages/web-components/src/components/ic-chip/ic-chip.css
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-chip/test/basic/__snapshots__/ic-chip.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix

ci(root): fix broken if statement in update-cypress-visual-regression-tests.yaml and audit fix
  .github/workflows/update-cypress-visual-regression-tests.yml
  audit-ci.json
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): add a mutation observer to check for dynamically render nav items in side nav
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.tsx
  packages/web-components/src/components/ic-pagination-bar/readme.md
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-stepper/ic-stepper.tsx
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

ci(canary-react): update versions of transitive dependencies as a result of audit fix
  packages/canary-react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(docs): update docs following a build of all components
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

ci(nextjs): update versions of transitive dependencies as a result of audit fix
  packages/nextjs/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(release): update development release version check file
  DEVELOPMENT_RELEASE_CHECK.md
Due: remark

chore(canary-react): run audit fix and remove GHSA-rf6f-7fwh-wjgh vulnerability
  packages/canary-react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(react): update Cypress tests to find shadow el
  packages/react/cypress-image-diff-screenshots/baseline/IcPagination.cy.tsx/simple-after-click-next-page-1.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSearchBar.cy.tsx/spellcheck.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSelectMulti.cy.tsx/multi-select-shift-ctrl-end.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSelectMulti.cy.tsx/multi-select-shift-ctrl-home.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSelectSearchable.cy.tsx/searchable-descriptions-in-filter-open.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open.png
  packages/react/cypress-image-diff-screenshots/baseline/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  packages/react/src/component-tests/IcButton/IcButton.cy.tsx
  packages/react/src/component-tests/IcCheckbox/IcCheckbox.cy.tsx
  packages/react/src/component-tests/IcDialog/IcDialog.cy.tsx
  packages/react/src/component-tests/IcPopoverMenu/IcPopoverMenu.cy.tsx
  packages/react/src/component-tests/IcSearchBar/IcSearchBar.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelect.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelectMulti.cy.tsx
  packages/react/src/component-tests/IcSwitch/IcSwitch.cy.tsx
  packages/react/src/component-tests/IcTextField/IcTextField.cy.tsx
  packages/react/src/component-tests/IcTopNavigation/IcTopNavigation.cy.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): normalise package-lock peer metadata
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): run audit fix and remove GHSA-rf6f-7fwh-wjgh vulnerability
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): run audit fix and remove GHSA-rf6f-7fwh-wjgh vulnerability
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): update GitHub Actions workflow for design system
  .github/workflows/update-design-system-roadmap.yml
Due: none

chore(root): extend audit-ci allowlist for tooling false positives
  audit-ci.json
  package-lock.json
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(canary-react): update Cypress tests to find shadow el
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCalendar.cy.tsx/days-outside-month-hidden.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCalendar.cy.tsx/min-max.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcCalendar.cy.tsx/open-at-date.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDatePicker.cy.tsx/clear-hidden.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDatePicker.cy.tsx/days-outside-month-hidden.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDatePicker.cy.tsx/default-dark-mode.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDatePicker.cy.tsx/default-max-width.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDatePicker.cy.tsx/default.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDatePicker.cy.tsx/go-to-today-hidden.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDatePicker.cy.tsx/large-max-width.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDatePicker.cy.tsx/large.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDatePicker.cy.tsx/open-at-date.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDatePicker.cy.tsx/position-above.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDatePicker.cy.tsx/small-max-width.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDatePicker.cy.tsx/small.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDatePicker.cy.tsx/start-of-week.png
  packages/canary-react/src/component-tests/IcTimeInput/IcTimeInput.cy.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

build(nextjs): regenerate package-lock
  packages/nextjs/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(release): [ci skip] components publish
  package-lock.json
  packages/canary-docs/CHANGELOG.md
  packages/canary-docs/package.json
  packages/canary-react/CHANGELOG.md
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-web-components/CHANGELOG.md
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
  packages/codemod/CHANGELOG.md
  packages/codemod/package-lock.json
  packages/codemod/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package-lock.json
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

fix(canary-react): update package-lock.json via npm audit fix
  packages/canary-react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(react): adds icTooltipShow event
  packages/react/src/stories/ic-tooltip.stories.jsx
Due: none

chore(web-components): normalise package-lock peer metadata
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(release): [ci skip] components publish
  package-lock.json
  packages/canary-docs/CHANGELOG.md
  packages/canary-docs/package.json
  packages/canary-react/CHANGELOG.md
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-web-components/CHANGELOG.md
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package-lock.json
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

docs(canary-docs): update canary docs for icTooltipShow event
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(react): update dependencies to satisfy audit
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(docs): docs changes for ictooltipshow event
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): update issue templates to be textareas not markdown
  .github/ISSUE_TEMPLATE/report-bug.yml
  .github/ISSUE_TEMPLATE/suggest-guidance.yml
  .github/ISSUE_TEMPLATE/suggest-improvement.yml
  .github/ISSUE_TEMPLATE/suggest-new-component-pattern.yml
  .github/ISSUE_TEMPLATE/suggest-new-feature-existing-component.yml
  .github/ISSUE_TEMPLATE/suggest-process-improvement.yml
Due: none
