Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): add data table stories
  packages/react/src/components.ts
  packages/react/src/stories/ic-data-table.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Complex_example.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Custom_sort_order.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Default_sorted_column.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Sortable.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Spacious.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_table_Spacious.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.css
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/ic-data-table.types.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.tsx
  packages/web-components/src/components/ic-pagination/ic-pagination.tsx
  packages/web-components/src/components/ic-pagination/ic-pagination.types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): add pagination bar component
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-pagination-bar/__snapshots__/ic-pagination-bar.spec.ts.snap
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.spec.ts
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.test.a11y.ts
  packages/web-components/src/components/ic-pagination-bar/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(react): added react stories for data tables
  packages/react/.storybook/addon-tab/register.js
  packages/react/.storybook/main.js
  packages/react/.storybook/preview-head.html
  packages/react/.storybook/preview.js
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/stories/ic-data-table.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): added date type support
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(web-components): tidy up after rebase
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

test(web-components): regenerated data table visual regressions images
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Basic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Cell_Overrides.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Column_Overrides.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Dense.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Embedded.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Pagination.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Row_Headers.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Row_Overrides.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Sort.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Sort_Options.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Spacious.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Sticky_Column_Headers.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Cell_Overrides.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Column_Overrides.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Dense.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Embedded.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Pagination.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Row_Headers.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Row_Overrides.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Sort.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Sort_Options.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Spacious.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Sticky_Column_Headers.png
Due: none

build(root): ran audit fix
  packages/react/src/stories/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.css
Due: stylelint --fix, remark

feat(web-components): added loading states to data table
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Empty_and_Loading_State.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Links_and_Elements_in_data.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Updating_State.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Empty_and_Loading_State.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Links_and_Elements_in_data.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Updating_State.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.css
  packages/web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-data-table/story-data.ts
  packages/web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
  packages/web-components/src/components/ic-empty-state/readme.md
  packages/web-components/src/components/ic-loading-indicator/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): added react stories for data table loading
  packages/react/src/stories/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.css
  packages/web-components/src/components/ic-data-table/story-data.ts
  packages/web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
  packages/web-components/src/components/ic-pagination-bar/test/basic/__snapshots__/ic-pagination-bar.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(react): can now slot custom react elements into cells
  packages/react/src/stories/ic-data-table.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Default_Empty_State.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Empty_and_Loading_State.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Slotted_Empty_State.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Updating_State.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Default_Empty_State.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Empty_and_Loading_State.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Slotted_Empty_State.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Updating_State.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.css
  packages/web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-data-table/story-data.ts
  packages/web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): added react stories for icon support
  packages/react/src/stories/ic-data-table.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_icons.png
  packages/web-components/src/components/ic-data-table/ic-data-table.css
  packages/web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/story-data.ts
  packages/web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): added support for adding icons to cells and headers
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_icons.png
  packages/web-components/src/components/ic-data-table/ic-data-table.css
  packages/web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/ic-data-table.types.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-data-table/story-data.ts
  packages/web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(docs): updated docs for accordion guidance
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(react): added react stories for tsting popover content with accordion
  packages/react/src/stories/ic-accordion.stories.mdx
Due: remark

fix(web-components): added overflow:visible once expanded content has completed animation
  packages/web-components/src/components/ic-accordion/ic-accordion.css
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): added accordion react stories
  packages/react/ic-accordion.e2e.ts
  packages/react/src/components.ts
  packages/react/src/stories/ic-accordion.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): update labelledby ids
  packages/react/src/react-component-lib/utils/attachProps.ts
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
  packages/web-components/src/components/ic-accordion/test/basic/__snapshots__/ic-accordion.spec.ts.snap
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(react): updated due to stencil update
  packages/react/src/react-component-lib/utils/attachProps.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): adds accordion component
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Group_Title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Icon.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Light_text.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Parent.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Single_Expansion.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Sizes.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Group_Title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Icon.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Light_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Parent.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Single_Expansion.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Sizes.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-accordion-group/ic-accordion-group.css
  packages/web-components/src/components/ic-accordion-group/ic-accordion-group.tsx
  packages/web-components/src/components/ic-accordion-group/readme.md
  packages/web-components/src/components/ic-accordion-group/test/a11y/ic-accordion-group.test.a11y.ts
  packages/web-components/src/components/ic-accordion-group/test/basic/__snapshots__/ic-accordion-group.spec.ts.snap
  packages/web-components/src/components/ic-accordion-group/test/basic/ic-accordion-group.e2e.ts
  packages/web-components/src/components/ic-accordion-group/test/basic/ic-accordion-group.spec.ts
  packages/web-components/src/components/ic-accordion/ic-accordion.css
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
  packages/web-components/src/components/ic-accordion/readme.md
  packages/web-components/src/components/ic-accordion/test/basic/__snapshots__/ic-accordion.spec.ts.snap
  packages/web-components/src/components/ic-accordion/test/basic/ic-accordion.e2e.ts
  packages/web-components/src/components/ic-accordion/test/basic/ic-accordion.spec.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(docs): regenerated docs for slot guidance
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): updated dialog and accordion component
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Group_Title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Icon.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Light_text.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Parent.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Single_Expansion.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Sizes.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Group_Title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Icon.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Light_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Parent.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Single_Expansion.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Sizes.png
  packages/web-components/package-lock.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-accordion-group/ic-accordion-group.css
  packages/web-components/src/components/ic-accordion-group/ic-accordion-group.tsx
  packages/web-components/src/components/ic-accordion/ic-accordion.css
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
  packages/web-components/src/components/ic-accordion/readme.md
  packages/web-components/src/components/ic-accordion/test/basic/ic-accordion.spec.ts
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(react): updated react stories for dialog accordion testing
  packages/react/package-lock.json
  packages/react/src/stories/ic-accordion.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): moved position of slot information
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
  packages/web-components/src/components/ic-accordion/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): added additional stories for popover testing
  packages/web-components/src/components/ic-accordion/ic-accordion.css
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(root): adds information to packages to improve npm scores
  packages/docs/package.json
  packages/react/package.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

ci(root): enable expiry on audit-ci and enforce dates less than a month
  .github/workflows/ic-ui-kit-develop.yml
  .github/workflows/ic-ui-kit-main.yml
  audit-ci.json
  check-audit-expiry.js
  package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
