Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

refactor(web-components): update event names to improve consistency
  CONTRIBUTING.md
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-divider/ic-divider.tsx
  packages/web-components/src/components/ic-footer-link-group/ic-footer-link-group.tsx
  packages/web-components/src/components/ic-footer-link/ic-footer-link.tsx
  packages/web-components/src/components/ic-footer/ic-footer.tsx
  packages/web-components/src/components/ic-footer/readme.md
  packages/web-components/src/components/ic-hero/ic-hero.tsx
  packages/web-components/src/components/ic-link/ic-link.tsx
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/readme.md
  packages/web-components/src/components/ic-navigation-button/ic-navigation-button.tsx
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-tab/readme.md
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/components/ic-theme/ic-theme.e2e.ts
  packages/web-components/src/components/ic-theme/ic-theme.tsx
  packages/web-components/src/components/ic-theme/readme.md
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@84a4f5bef8d8a7087abfe293d9a036f59a62ed68 🚀
  branches/develop/2679.4789a8ca.iframe.bundle.js
  branches/develop/2679.533c5da1.iframe.bundle.js
  branches/develop/2679.533c5da1.iframe.bundle.js.LICENSE.txt
  branches/develop/3140.afe6b245.iframe.bundle.js
  branches/develop/3140.c8409ead.iframe.bundle.js
  branches/develop/504.4248f1e6.iframe.bundle.js
  branches/develop/504.4248f1e6.iframe.bundle.js.LICENSE.txt
  branches/develop/504.ee54f07d.iframe.bundle.js
  branches/develop/6664.678c12c1.iframe.bundle.js
  branches/develop/6664.db6582a2.iframe.bundle.js
  branches/develop/7420.c87e741f.iframe.bundle.js
  branches/develop/7420.d4d811c7.iframe.bundle.js
  branches/develop/7420.d4d811c7.iframe.bundle.js.LICENSE.txt
  branches/develop/7733.8ba33c8d.iframe.bundle.js
  branches/develop/7733.8ba33c8d.iframe.bundle.js.LICENSE.txt
  branches/develop/7733.e41ce469.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.2e4f1e17.iframe.bundle.js
  branches/develop/main.2e4f1e17.iframe.bundle.js.LICENSE.txt
  branches/develop/main.8cd79f16.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.6aeae322.iframe.bundle.js
  branches/develop/runtime~main.b2b1c774.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

refactor(web-components): update events to more consistent names
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-alert/ic-alert.tsx
  packages/web-components/src/components/ic-alert/readme.md
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/components/ic-input-component-container/readme.md
  packages/web-components/src/components/ic-radio-group/ic-radio-group.e2e.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.spec.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.tsx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-radio-option/readme.md
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-side-navigation/readme.md
  packages/web-components/src/components/ic-tab-context/ic-tab-context.e2e.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-context/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@e2625c90450bf1b1011b1bc6fd3742b88891b71d 🚀
  branches/228-duplicate-events-and-add-deprecation-warnings/2679.0b87aa14.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/2679.533c5da1.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/2679.533c5da1.iframe.bundle.js.LICENSE.txt
  branches/228-duplicate-events-and-add-deprecation-warnings/3140.afe6b245.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/3140.c8409ead.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/504.4248f1e6.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/504.4248f1e6.iframe.bundle.js.LICENSE.txt
  branches/228-duplicate-events-and-add-deprecation-warnings/504.ee54f07d.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/6664.678c12c1.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/6664.db6582a2.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/7420.c87e741f.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/7420.d4d811c7.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/7420.d4d811c7.iframe.bundle.js.LICENSE.txt
  branches/228-duplicate-events-and-add-deprecation-warnings/7733.8ba33c8d.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/7733.8ba33c8d.iframe.bundle.js.LICENSE.txt
  branches/228-duplicate-events-and-add-deprecation-warnings/7733.a4325e7c.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/iframe.html
  branches/228-duplicate-events-and-add-deprecation-warnings/main.0e89c008.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/main.0e89c008.iframe.bundle.js.LICENSE.txt
  branches/228-duplicate-events-and-add-deprecation-warnings/main.7ffa2020.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/project.json
  branches/228-duplicate-events-and-add-deprecation-warnings/runtime~main.4b407428.iframe.bundle.js
  branches/228-duplicate-events-and-add-deprecation-warnings/runtime~main.9159c954.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): update tooltip to have disableHover prop that shows tooltip on click
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Disabled_Hover.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Disabled_Hover.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.spec.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.stories.mdx
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(react): update tooltips to have disableHover prop that requires a click to display
  packages/react/src/stories/ic-tooltip.stories.mdx
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@6eaba1b6d7860c83f685a64eb38c9f6510e50133 🚀
  branches/develop/6663.5559bb49.iframe.bundle.js
  branches/develop/6663.5559bb49.iframe.bundle.js.LICENSE.txt
  branches/develop/6663.d803ecb3.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.2e4f1e17.iframe.bundle.js
  branches/develop/main.bf4d14c2.iframe.bundle.js
  branches/develop/main.bf4d14c2.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.6aeae322.iframe.bundle.js
  branches/develop/runtime~main.fd673f60.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add slotted svg component to react library
  packages/react/src/index.ts
  packages/react/src/react-component-lib/slottedSVG.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@053c027ffd2e14d3b1b899f1a3b3961c7289e599 🚀
  branches/280-add-slottedsvg-component-to-remove-typescript-slot-error/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a74b2776a7e13685cc35b373b67cd49b4d14acd6 🚀
  branches/develop/1416.a3fb30f1.iframe.bundle.js
  branches/develop/1416.cbbb6f5b.iframe.bundle.js
  branches/develop/4149.2bb5371a.iframe.bundle.js
  branches/develop/4149.a1d32067.iframe.bundle.js
  branches/develop/5129.8a18d729.iframe.bundle.js
  branches/develop/5129.956c12e8.iframe.bundle.js
  branches/develop/7710.95805e34.iframe.bundle.js
  branches/develop/7710.f9bd39bc.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.b74ff2ef.iframe.bundle.js
  branches/develop/main.b74ff2ef.iframe.bundle.js.LICENSE.txt
  branches/develop/main.bf4d14c2.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.9208ae2a.iframe.bundle.js
  branches/develop/runtime~main.fd673f60.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@91c6600d70f16267b50cef6b6f2b2c327434d3a7 🚀
  branches/a11y/compact-stepper/1416.ac7bed6e.iframe.bundle.js
  branches/a11y/compact-stepper/1416.cbbb6f5b.iframe.bundle.js
  branches/a11y/compact-stepper/2679.0b87aa14.iframe.bundle.js
  branches/a11y/compact-stepper/2679.0b87aa14.iframe.bundle.js.LICENSE.txt
  branches/a11y/compact-stepper/2679.2f109248.iframe.bundle.js
  branches/a11y/compact-stepper/504.24e0fb93.iframe.bundle.js
  branches/a11y/compact-stepper/504.ee54f07d.iframe.bundle.js
  branches/a11y/compact-stepper/504.ee54f07d.iframe.bundle.js.LICENSE.txt
  branches/a11y/compact-stepper/iframe.html
  branches/a11y/compact-stepper/main.57ef9e47.iframe.bundle.js
  branches/a11y/compact-stepper/main.57ef9e47.iframe.bundle.js.LICENSE.txt
  branches/a11y/compact-stepper/main.81d4c8fc.iframe.bundle.js
  branches/a11y/compact-stepper/project.json
  branches/a11y/compact-stepper/runtime~main.83a85236.iframe.bundle.js
  branches/a11y/compact-stepper/runtime~main.909c4ba3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fdd49edb2a0c9128b7571d1baf324dc951749ec8 🚀
  branches/a11y/compact-stepper/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@899ccde88c635c5f32494a1a52d86f9922b63a6c 🚀
  branches/a11y/compact-stepper/9028.583d1a70.iframe.bundle.js
  branches/a11y/compact-stepper/9028.775550bd.iframe.bundle.js
  branches/a11y/compact-stepper/iframe.html
  branches/a11y/compact-stepper/project.json
  branches/a11y/compact-stepper/runtime~main.909c4ba3.iframe.bundle.js
  branches/a11y/compact-stepper/runtime~main.b8d9192c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6de2d111e96a0f6aaa053e37c2ad147fe7edc2f1 🚀
  branches/a11y/compact-stepper/1416.a3fb30f1.iframe.bundle.js
  branches/a11y/compact-stepper/1416.cbbb6f5b.iframe.bundle.js
  branches/a11y/compact-stepper/2679.0b87aa14.iframe.bundle.js
  branches/a11y/compact-stepper/2679.533c5da1.iframe.bundle.js
  branches/a11y/compact-stepper/2679.533c5da1.iframe.bundle.js.LICENSE.txt
  branches/a11y/compact-stepper/3140.afe6b245.iframe.bundle.js
  branches/a11y/compact-stepper/3140.c8409ead.iframe.bundle.js
  branches/a11y/compact-stepper/4149.2bb5371a.iframe.bundle.js
  branches/a11y/compact-stepper/4149.a1d32067.iframe.bundle.js
  branches/a11y/compact-stepper/504.4248f1e6.iframe.bundle.js
  branches/a11y/compact-stepper/504.4248f1e6.iframe.bundle.js.LICENSE.txt
  branches/a11y/compact-stepper/504.ee54f07d.iframe.bundle.js
  branches/a11y/compact-stepper/5129.8a18d729.iframe.bundle.js
  branches/a11y/compact-stepper/5129.956c12e8.iframe.bundle.js
  branches/a11y/compact-stepper/6663.646a8407.iframe.bundle.js
  branches/a11y/compact-stepper/6663.646a8407.iframe.bundle.js.LICENSE.txt
  branches/a11y/compact-stepper/6663.83de8884.iframe.bundle.js
  branches/a11y/compact-stepper/6664.678c12c1.iframe.bundle.js
  branches/a11y/compact-stepper/6664.db6582a2.iframe.bundle.js
  branches/a11y/compact-stepper/7420.c87e741f.iframe.bundle.js
  branches/a11y/compact-stepper/7420.d4d811c7.iframe.bundle.js
  branches/a11y/compact-stepper/7420.d4d811c7.iframe.bundle.js.LICENSE.txt
  branches/a11y/compact-stepper/7710.95805e34.iframe.bundle.js
  branches/a11y/compact-stepper/7710.f9bd39bc.iframe.bundle.js
  branches/a11y/compact-stepper/7733.8ba33c8d.iframe.bundle.js
  branches/a11y/compact-stepper/7733.8ba33c8d.iframe.bundle.js.LICENSE.txt
  branches/a11y/compact-stepper/7733.a4325e7c.iframe.bundle.js
  branches/a11y/compact-stepper/iframe.html
  branches/a11y/compact-stepper/main.57ef9e47.iframe.bundle.js
  branches/a11y/compact-stepper/main.bc760765.iframe.bundle.js
  branches/a11y/compact-stepper/main.bc760765.iframe.bundle.js.LICENSE.txt
  branches/a11y/compact-stepper/project.json
  branches/a11y/compact-stepper/runtime~main.b8d9192c.iframe.bundle.js
  branches/a11y/compact-stepper/runtime~main.d24d9032.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): enhance functionality of step component
  package-lock.json
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_breadcrumbs_input_actions_and_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_input_actions_and_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_input_actions_and_tabs.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_Custom_connector_width.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_Custom_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_Left_aligned_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_With_hidden_step_information.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_Without_step_titles.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_input_actions_and_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_input_actions_and_tabs.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Stepper_Custom_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Stepper_Full_width_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Stepper_Left_aligned_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Stepper_With_hidden_step_information.png
  packages/web-components/package-lock.json
  packages/web-components/src/assets/warning-icon-outline.svg
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-page-header/ic-page-header.stories.mdx
  packages/web-components/src/components/ic-step/__snapshots__/ic-step.spec.ts.snap
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/components/ic-step/ic-step.spec.ts
  packages/web-components/src/components/ic-step/ic-step.tsx
  packages/web-components/src/components/ic-step/ic-step.types.ts
  packages/web-components/src/components/ic-step/readme.md
  packages/web-components/src/components/ic-stepper/__snapshots__/ic-stepper.spec.ts.snap
  packages/web-components/src/components/ic-stepper/ic-stepper-test-examples.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.css
  packages/web-components/src/components/ic-stepper/ic-stepper.e2e.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.spec.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.stories.mdx
  packages/web-components/src/components/ic-stepper/ic-stepper.test.a11y.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.tsx
  packages/web-components/src/components/ic-stepper/readme.md
  packages/web-components/src/testspec.setup.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): add inner label into loading indicator so it can be used by the compact step
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.stories.mdx
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-loading-indicator/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): update loading indicator & stepper stories
  package-lock.json
  packages/react/package-lock.json
  packages/react/src/stories/ic-loading-indicator.stories.mdx
  packages/react/src/stories/ic-page-header.stories.mdx
  packages/react/src/stories/ic-stepper.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@87a660480deaadc3c5be7aadab13d156a3544254 🚀
  branches/a11y/compact-stepper/1099.e6cf8088.iframe.bundle.js
  branches/a11y/compact-stepper/6663.028ac37f.iframe.bundle.js
  branches/a11y/compact-stepper/6663.028ac37f.iframe.bundle.js.LICENSE.txt
  branches/a11y/compact-stepper/6663.646a8407.iframe.bundle.js
  branches/a11y/compact-stepper/iframe.html
  branches/a11y/compact-stepper/main.bc760765.iframe.bundle.js
  branches/a11y/compact-stepper/main.cdb0aa93.iframe.bundle.js
  branches/a11y/compact-stepper/main.cdb0aa93.iframe.bundle.js.LICENSE.txt
  branches/a11y/compact-stepper/project.json
  branches/a11y/compact-stepper/runtime~main.39b367aa.iframe.bundle.js
  branches/a11y/compact-stepper/runtime~main.d24d9032.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fix alignment of text fields in data entity, update storybook examples
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Adornment.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Editable_example.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Icon_button.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Link.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Long_text_values.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Small.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Status_tag.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Adornment.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Editable_example.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Icon_button.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Link.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Long_text_values.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Status_tag.png
  packages/web-components/src/components/ic-data-entity/ic-data-entity.stories.mdx
  packages/web-components/src/components/ic-data-row/ic-data-row.css
  packages/web-components/src/components/ic-search-bar/__snapshots__/ic-search-bar.spec.ts.snap
  packages/web-components/src/components/ic-text-field/__snapshots__/ic-text-field.input.spec.tsx.snap
  packages/web-components/src/components/ic-text-field/ic-text-field.textarea.spec.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): change buttons in editable data entity story
  packages/react/src/stories/ic-data-entity.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@60f7ae9d0c251e74f3c50cf9103a2df47b4720b9 🚀
  branches/develop/6090.19c6aaaa.iframe.bundle.js
  branches/develop/6090.ec4b158b.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.b74ff2ef.iframe.bundle.js
  branches/develop/main.f45bfa6b.iframe.bundle.js
  branches/develop/main.f45bfa6b.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.9208ae2a.iframe.bundle.js
  branches/develop/runtime~main.f066c7a3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(web-components): update props/slots/events descriptions to improve consistency
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-footer/ic-footer.tsx
  packages/web-components/src/components/ic-loading-indicator/readme.md
  packages/web-components/src/components/ic-select/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-component): implement chip component
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Dismissible.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Outline.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Static.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Without_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Dismissible.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Outline.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Static.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Without_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_Small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Helper_text.png
  packages/web-components/src/assets/dismiss-icon.svg
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.spec.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-chip/__snapshots__/ic-chip.spec.ts.snap
  packages/web-components/src/components/ic-chip/ic-chip.css
  packages/web-components/src/components/ic-chip/ic-chip.spec.ts
  packages/web-components/src/components/ic-chip/ic-chip.stories.mdx
  packages/web-components/src/components/ic-chip/ic-chip.test.a11y.ts
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-chip/ic-chip.types.ts
  packages/web-components/src/components/ic-chip/readme.md
  packages/web-components/src/components/ic-hero/ic-hero.stories.mdx
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-search-bar/ic-search-bar.spec.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.css
  packages/web-components/src/components/ic-tooltip/readme.md
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): add chips stories
  packages/react/src/components.ts
  packages/react/src/stories/ic-chip.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): add aria-hidden to tooltip span
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-footer/ic-footer.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(web-components): regenerated readme files
  packages/web-components/src/components/ic-input-component-container/readme.md
  packages/web-components/src/components/ic-loading-indicator/readme.md
  packages/web-components/src/components/ic-select/readme.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@2f92a5dc9720f2be4e1e84a79b42ae13eda6431b 🚀
  branches/a11y/chips/1416.a3fb30f1.iframe.bundle.js
  branches/a11y/chips/1416.cbbb6f5b.iframe.bundle.js
  branches/a11y/chips/2679.4789a8ca.iframe.bundle.js
  branches/a11y/chips/2679.533c5da1.iframe.bundle.js
  branches/a11y/chips/2679.533c5da1.iframe.bundle.js.LICENSE.txt
  branches/a11y/chips/3140.afe6b245.iframe.bundle.js
  branches/a11y/chips/3140.c8409ead.iframe.bundle.js
  branches/a11y/chips/4149.2bb5371a.iframe.bundle.js
  branches/a11y/chips/4149.a1d32067.iframe.bundle.js
  branches/a11y/chips/504.4248f1e6.iframe.bundle.js
  branches/a11y/chips/504.4248f1e6.iframe.bundle.js.LICENSE.txt
  branches/a11y/chips/504.ee54f07d.iframe.bundle.js
  branches/a11y/chips/5129.8a18d729.iframe.bundle.js
  branches/a11y/chips/5129.956c12e8.iframe.bundle.js
  branches/a11y/chips/6090.19c6aaaa.iframe.bundle.js
  branches/a11y/chips/6090.ec4b158b.iframe.bundle.js
  branches/a11y/chips/6663.83b34eeb.iframe.bundle.js
  branches/a11y/chips/6663.c21eb69e.iframe.bundle.js
  branches/a11y/chips/6663.c21eb69e.iframe.bundle.js.LICENSE.txt
  branches/a11y/chips/6664.678c12c1.iframe.bundle.js
  branches/a11y/chips/6664.db6582a2.iframe.bundle.js
  branches/a11y/chips/7420.c87e741f.iframe.bundle.js
  branches/a11y/chips/7420.d4d811c7.iframe.bundle.js
  branches/a11y/chips/7420.d4d811c7.iframe.bundle.js.LICENSE.txt
  branches/a11y/chips/7710.95805e34.iframe.bundle.js
  branches/a11y/chips/7710.f9bd39bc.iframe.bundle.js
  branches/a11y/chips/7733.8ba33c8d.iframe.bundle.js
  branches/a11y/chips/7733.8ba33c8d.iframe.bundle.js.LICENSE.txt
  branches/a11y/chips/7733.e41ce469.iframe.bundle.js
  branches/a11y/chips/iframe.html
  branches/a11y/chips/main.461d67b0.iframe.bundle.js
  branches/a11y/chips/main.461d67b0.iframe.bundle.js.LICENSE.txt
  branches/a11y/chips/main.48ad6104.iframe.bundle.js
  branches/a11y/chips/project.json
  branches/a11y/chips/runtime~main.51d56d7d.iframe.bundle.js
  branches/a11y/chips/runtime~main.c33761d2.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ed23d409d93d34e2d5980690bc8578d5d37ba9b8 🚀
  branches/develop/1099.2273012a.iframe.bundle.js
  branches/develop/6663.5559bb49.iframe.bundle.js
  branches/develop/6663.c21eb69e.iframe.bundle.js
  branches/develop/6663.c21eb69e.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/main.461d67b0.iframe.bundle.js
  branches/develop/main.461d67b0.iframe.bundle.js.LICENSE.txt
  branches/develop/main.f45bfa6b.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.c33761d2.iframe.bundle.js
  branches/develop/runtime~main.f066c7a3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
