Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(release): [ci skip] components publish
  packages/canary-docs/CHANGELOG.md
  packages/canary-docs/package.json
  packages/canary-react/CHANGELOG.md
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-web-components/CHANGELOG.md
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package-lock.json
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@fe0c727ff7b46cd85961c16772a52a6db955033c 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/controlled-collapsed.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/controlled-collapsed.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@fe0c727ff7b46cd85961c16772a52a6db955033c 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_05-03-2026_150507.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@251bc85fefa892c9456a4a929a8f6f8e8e531f91 🚀
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-html-report/report_05-03-2026_150859.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@dc2c651d6280af840415b72854296df9c702ca74 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@dc2c651d6280af840415b72854296df9c702ca74 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7054c38a3b4aabcbec73cea3b776d2b6b7650e9f 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7054c38a3b4aabcbec73cea3b776d2b6b7650e9f 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7054c38a3b4aabcbec73cea3b776d2b6b7650e9f 🚀
  branches/canary/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7054c38a3b4aabcbec73cea3b776d2b6b7650e9f 🚀
  branches/canary/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@251bc85fefa892c9456a4a929a8f6f8e8e531f91 🚀
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/baseline/IcSearchBar.cy.tsx/clear-icon-focused-theme-dark.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcRadio.cy.tsx/conditional-static.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/clear-icon-focused-theme-dark.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-dark-theme.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcSelectSearchable.cy.tsx/searchable-long-text-input.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@251bc85fefa892c9456a4a929a8f6f8e8e531f91 🚀
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-html-report/report_05-03-2026_155756.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

refactor(web-components): refactor ic-select to simplify code and follow combobox pattern
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/readme.md
  packages/web-components/src/components/ic-menu/test/basic/__snapshots__/ic-menu.spec.tsx.snap
  packages/web-components/src/components/ic-menu/test/basic/ic-menu.spec.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/ic-select.types.ts
  packages/web-components/src/components/ic-select/ic-select_(searchable).stories.js
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/components/ic-select/test/basic/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-select/test/basic/ic-select.spec.tsx
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(root): add 'unflatten' to list of spellcheck ignore words
  .cspell.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(canary-web-components): update readme and metadata for components that depend on ic-select
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-data-table-title-bar/readme.md
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-pagination-bar/readme.md
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

docs(docs): update docs for ic-select
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(canary-docs): update canary docs for ic-select dependencies
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(canary-react): skip ic-pagination-bar tests failing due to new ic-select validation
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDataTable.cy.tsx/pagination-with-select.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page-invalid-tooltip-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page-invalid-tooltip.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page-valid.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/go-to-page.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/hide-all-option.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/left-alignment.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/right-alignment.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/selected-items-per-page-arrowdown-change.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/selected-items-per-page-arrowdown.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/selected-items-per-page-invalid-selectedItemsPerPage.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/selected-items-per-page.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcPaginationBar.cy.tsx/space-between-alignment.png
  packages/canary-react/src/component-tests/IcPaginationBar/IcPaginationBar.cy.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(docs): docs update for new classification banner prop
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(react): adds ability to set custom classification text
  packages/react/src/stories/ic-classification-banner.stories.jsx
Due: none

feat(web-components): adds ability to set custom classification text
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-classification-banner/ic-classification-banner.stories.js
  packages/web-components/src/components/ic-classification-banner/ic-classification-banner.tsx
  packages/web-components/src/components/ic-classification-banner/readme.md
  packages/web-components/src/components/ic-classification-banner/test/basic/__snapshots__/ic-classification-banner.spec.ts.snap
  packages/web-components/src/components/ic-classification-banner/test/basic/ic-classification-banner.spec.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@251bc85fefa892c9456a4a929a8f6f8e8e531f91 🚀
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/baseline/IcSearchBar.cy.tsx/clear-icon-focused-theme-dark.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/focused-destructive.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/clear-icon-focused-theme-dark.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcSelectSearchable.cy.tsx/searchable-long-text-input.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/controlled-collapsed.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/controlled-collapsed.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@251bc85fefa892c9456a4a929a8f6f8e8e531f91 🚀
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-html-report/report_06-03-2026_091549.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@251bc85fefa892c9456a4a929a8f6f8e8e531f91 🚀
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-dark-theme.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@251bc85fefa892c9456a4a929a8f6f8e8e531f91 🚀
  branches/fix/4277-stencil-side-nav-buttons-bug/cypress-image-diff-html-report/report_06-03-2026_093958.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

ci(root): prepares repo for angular wrapper outputs
  .cspell.json
  .github/scripts/scope-check.js
  .husky/pre-commit
  CONTRIBUTING.md
  audit-ci.json
  pack-all-tars.sh
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

feat(angular-community-supported): added support for previous version of angular in peer deps
  packages/angular-community-supported/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(angular-community-supported): adds package structure for publishing the angular native wrappers
  packages/angular-community-supported/README.md
  packages/angular-community-supported/ng-package.json
  packages/angular-community-supported/package-lock.json
  packages/angular-community-supported/package.json
  packages/angular-community-supported/scripts/build-core.js
  packages/angular-community-supported/scripts/clean-generated.js
  packages/angular-community-supported/scripts/clean.js
  packages/angular-community-supported/src/directives/angular-component-lib/utils.ts
  packages/angular-community-supported/src/directives/boolean-value-accessor.ts
  packages/angular-community-supported/src/directives/proxies-list.ts
  packages/angular-community-supported/src/directives/proxies.ts
  packages/angular-community-supported/src/directives/radio-value-accessor.ts
  packages/angular-community-supported/src/directives/select-value-accessor.ts
  packages/angular-community-supported/src/directives/text-value-accessor.ts
  packages/angular-community-supported/src/directives/value-accessor.ts
  packages/angular-community-supported/src/icds-module.ts
  packages/angular-community-supported/src/index.ts
  packages/angular-community-supported/src/schematics/add/files/root/styles/icds/variables.css
  packages/angular-community-supported/src/schematics/add/index.ts
  packages/angular-community-supported/src/schematics/add/schema.d.ts
  packages/angular-community-supported/src/schematics/add/schema.json
  packages/angular-community-supported/src/schematics/collection.json
  packages/angular-community-supported/src/schematics/utils/ast.ts
  packages/angular-community-supported/src/schematics/utils/config.ts
  packages/angular-community-supported/src/schematics/utils/package.ts
  packages/angular-community-supported/src/schematics/utils/tsconfig.ts
  packages/angular-community-supported/standalone/icds-value-accessor-module.ts
  packages/angular-community-supported/standalone/index.ts
  packages/angular-community-supported/standalone/src/directives/angular-component-lib/utils.ts
  packages/angular-community-supported/standalone/src/directives/boolean-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/proxies.ts
  packages/angular-community-supported/standalone/src/directives/radio-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/select-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/text-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/value-accessor.ts
  packages/angular-community-supported/tsconfig.json
  packages/angular-community-supported/tsconfig.schematics.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(root): adds angular prettier ignore for generated files
  .prettierignore
Due: none

style(angular-community-supported): applies prettier fixes
  packages/angular-community-supported/src/schematics/add/index.ts
  packages/angular-community-supported/src/schematics/utils/ast.ts
  packages/angular-community-supported/src/schematics/utils/config.ts
  packages/angular-community-supported/src/schematics/utils/package.ts
  packages/angular-community-supported/src/schematics/utils/tsconfig.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(web-components): adds Angular as a stencil output target for native components
  packages/web-components/.gitignore
  packages/web-components/package-lock.json
  packages/web-components/package.json
  packages/web-components/scripts/custom-elements/custom-elements.d.ts
  packages/web-components/scripts/custom-elements/package.json
  packages/web-components/stencil.config.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

ci(root): moved community packages into a separate build script
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(root): fix lint command error
  .lintstagedrc.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts": any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
