Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(docs): regenerate docs.json
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): update SelectOption type to be more permissive and revert breaking change
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/ic-select.types.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

ci(fonts): audit fix
  packages/fonts/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(nextjs): audit fix 21/04
  packages/nextjs/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): adds angular prettier ignore for generated files
  .prettierignore
Due: none

feat(web-components): adds Angular as a stencil output target for native components
  packages/web-components/.gitignore
  packages/web-components/package-lock.json
  packages/web-components/package.json
  packages/web-components/scripts/custom-elements/custom-elements.d.ts
  packages/web-components/scripts/custom-elements/package.json
  packages/web-components/stencil.config.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

ci(root): prepares repo for angular wrapper outputs
  .cspell.json
  .github/scripts/scope-check.js
  .husky/pre-commit
  CONTRIBUTING.md
  audit-ci.json
  pack-all-tars.sh
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

feat(angular-community-supported): adds package structure for publishing the angular native wrappers
  packages/angular-community-supported/README.md
  packages/angular-community-supported/ng-package.json
  packages/angular-community-supported/package-lock.json
  packages/angular-community-supported/package.json
  packages/angular-community-supported/scripts/build-core.js
  packages/angular-community-supported/scripts/clean-generated.js
  packages/angular-community-supported/scripts/clean.js
  packages/angular-community-supported/src/directives/angular-component-lib/utils.ts
  packages/angular-community-supported/src/directives/boolean-value-accessor.ts
  packages/angular-community-supported/src/directives/proxies-list.ts
  packages/angular-community-supported/src/directives/proxies.ts
  packages/angular-community-supported/src/directives/radio-value-accessor.ts
  packages/angular-community-supported/src/directives/select-value-accessor.ts
  packages/angular-community-supported/src/directives/text-value-accessor.ts
  packages/angular-community-supported/src/directives/value-accessor.ts
  packages/angular-community-supported/src/icds-module.ts
  packages/angular-community-supported/src/index.ts
  packages/angular-community-supported/src/schematics/add/files/root/styles/icds/variables.css
  packages/angular-community-supported/src/schematics/add/index.ts
  packages/angular-community-supported/src/schematics/add/schema.d.ts
  packages/angular-community-supported/src/schematics/add/schema.json
  packages/angular-community-supported/src/schematics/collection.json
  packages/angular-community-supported/src/schematics/utils/ast.ts
  packages/angular-community-supported/src/schematics/utils/config.ts
  packages/angular-community-supported/src/schematics/utils/package.ts
  packages/angular-community-supported/src/schematics/utils/tsconfig.ts
  packages/angular-community-supported/standalone/icds-value-accessor-module.ts
  packages/angular-community-supported/standalone/index.ts
  packages/angular-community-supported/standalone/src/directives/angular-component-lib/utils.ts
  packages/angular-community-supported/standalone/src/directives/boolean-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/proxies.ts
  packages/angular-community-supported/standalone/src/directives/radio-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/select-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/text-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/value-accessor.ts
  packages/angular-community-supported/tsconfig.json
  packages/angular-community-supported/tsconfig.schematics.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

style(angular-community-supported): applies prettier fixes
  packages/angular-community-supported/src/schematics/add/index.ts
  packages/angular-community-supported/src/schematics/utils/ast.ts
  packages/angular-community-supported/src/schematics/utils/config.ts
  packages/angular-community-supported/src/schematics/utils/package.ts
  packages/angular-community-supported/src/schematics/utils/tsconfig.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(angular-community-supported): removes the description from the ng-add command & updates README
  packages/angular-community-supported/README.md
  packages/angular-community-supported/src/schematics/add/schema.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

fix(root): fix lint command error
  .lintstagedrc.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

build(root): add excpetion to eslint for angular files generated by stencil
  .lintstagedrc.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

build(root): fixes lintstaged to properly exclude the angular generated files
  .lintstagedrc.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(web-components): update custom element stencil output for 3.19
  packages/web-components/scripts/custom-elements/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(angular-community-supported): brings the angular package up to date with 3.21.0
  packages/angular-community-supported/package-lock.json
  packages/angular-community-supported/package.json
  packages/angular-community-supported/src/directives/proxies-list.ts
  packages/angular-community-supported/src/directives/proxies.ts
  packages/angular-community-supported/standalone/src/directives/proxies.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): acknowledges audit warning for angular dependency
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

ci(root): moved community packages into a separate build script
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(angular-community-supported): updated add schematic with new package name
  packages/angular-community-supported/src/schematics/utils/ast.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(angular-community-supported): updates angular package.json to ensure builds output correctly
  packages/angular-community-supported/package-lock.json
  packages/angular-community-supported/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

build(root): removes Angular install from the pre-commit, adds clearer guidance to Contributing.md
  .husky/pre-commit
  CONTRIBUTING.md
Due: remark

chore(angular-community-supported): addrsses PR comment & updates ng wrappers to use ICDS v 3.19e
  packages/angular-community-supported/package-lock.json
  packages/angular-community-supported/package.json
  packages/angular-community-supported/src/directives/angular-component-lib/utils.ts
  packages/angular-community-supported/src/directives/boolean-value-accessor.ts
  packages/angular-community-supported/src/directives/proxies-list.ts
  packages/angular-community-supported/src/directives/proxies.ts
  packages/angular-community-supported/src/directives/radio-value-accessor.ts
  packages/angular-community-supported/src/directives/select-value-accessor.ts
  packages/angular-community-supported/src/directives/text-value-accessor.ts
  packages/angular-community-supported/src/directives/value-accessor.ts
  packages/angular-community-supported/standalone/ng-package.json
  packages/angular-community-supported/standalone/src/directives/angular-component-lib/utils.ts
  packages/angular-community-supported/standalone/src/directives/boolean-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/proxies.ts
  packages/angular-community-supported/standalone/src/directives/radio-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/select-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/text-value-accessor.ts
  packages/angular-community-supported/standalone/src/directives/value-accessor.ts
  packages/angular-community-supported/standalone/src/icds-value-accessor-module.ts
  packages/angular-community-supported/standalone/src/index.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(angular-community-supported): swap docs warning style and update angular packages for audit
  packages/angular-community-supported/README.md
  packages/angular-community-supported/package-lock.json
  packages/angular-community-supported/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

chore(root): updates angular output target to latest
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(angular-community-supported): added support for previous version of angular in peer deps
  packages/angular-community-supported/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(root): adds community build to build:all script
  package-lock.json
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(angular-community-supported): fixed grammatical issues and references to previous package name
  packages/angular-community-supported/README.md
Due: remark

feat(angular-community-supported): updated angular components to use 3.23
  packages/angular-community-supported/package-lock.json
  packages/angular-community-supported/src/directives/proxies.ts
  packages/angular-community-supported/standalone/src/directives/proxies.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

build(angular-community-supported): fixes issue with angular output & removes it from audit build ci
  packages/angular-community-supported/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): post-update fixes from branch to latest develop
  audit-ci.json
  package-lock.json
  packages/angular-community-supported/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(root): made CONTRIBUTING.md angular paragraph more readable
  CONTRIBUTING.md
Due: remark

chore(root): update for 3.24.0
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

build(root): fixes the community build command and updates audit for angular
  audit-ci.json
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(angular-community-supported): updates the angular package to use 3.22.0
  packages/angular-community-supported/package-lock.json
  packages/angular-community-supported/package.json
  packages/angular-community-supported/src/directives/proxies-list.ts
  packages/angular-community-supported/src/directives/proxies.ts
  packages/angular-community-supported/standalone/src/directives/proxies.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(angular-community-supported): updated angular package to use 3.24.0
  packages/angular-community-supported/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3b6bea62370907e16c2b07942239f22f751a474e 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_28-04-2026_101440.json
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_29-04-2026_140429.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): hard-coded node version
  .nvmrc
Due: none

chore(root): update github workflows to use node v24
  .github/workflows/commitlint.yml
  .github/workflows/deploy-storybook-only.yml
  .github/workflows/ic-ui-kit-branches.yml
  .github/workflows/ic-ui-kit-develop.yml
  .github/workflows/ic-ui-kit-release-check.yml
  .github/workflows/ic-ui-kit-release-merged.yml
  .github/workflows/ic-ui-kit-release-v2-check.yml
  .github/workflows/ic-ui-kit-v2-release-merged.yml
  .github/workflows/run-cypress-tests.yml
  .github/workflows/run-performance-tests-manual.yml
  .github/workflows/run-performance-tests-scheduled.yml
  .github/workflows/update-cypress-visual-regression-tests.yml
Due: none

test(web-components): remove text area test file that causes timeout errors
  packages/web-components/src/components/ic-text-field/test/basic/__snapshots__/ic-text-field.spec.tsx.snap
  packages/web-components/src/components/ic-text-field/test/basic/__snapshots__/ic-text-field.textarea.spec.tsx.snap
  packages/web-components/src/components/ic-text-field/test/basic/ic-text-field.input.spec.tsx
  packages/web-components/src/components/ic-text-field/test/basic/ic-text-field.spec.tsx
  packages/web-components/src/components/ic-text-field/test/basic/ic-text-field.textarea.spec.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts": any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
