Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(root): add git stash before publish
  .github/workflows/ic-ui-kit-main.yml
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@24ca64002d0c59d837b8fc0cb9bc5109b4451f62 🚀
  branches/update-gitignore/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@24ca64002d0c59d837b8fc0cb9bc5109b4451f62 🚀
  branches/update-gitignore/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): add back docs.json to gitignore
  .gitignore
Due: none

chore(root): update main workflow to revert docs.json timestamp changes
  .github/workflows/ic-ui-kit-main.yml
  .gitignore
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@4ec7c3ab12099d4aa772f27037255eeadc40b294 🚀
  branches/update-main-workflow/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4ec7c3ab12099d4aa772f27037255eeadc40b294 🚀
  branches/update-main-workflow/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3fb35374ff3c107c026a4e81b78b16a6f8300f02 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@bc23b3ebbefda5cbf824e145980ba781ff6e1d41 🚀
  branches/586-data-table-loading-empty-state/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@bc23b3ebbefda5cbf824e145980ba781ff6e1d41 🚀
  branches/586-data-table-loading-empty-state/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add pagination bar component
  packages/react/src/components.ts
  packages/react/src/stories/ic-pagination-bar.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): add pagination bar component
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Alignment.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Appearance.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Custom_options.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Pagination_bar_type.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Pagination_control_type.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Variants.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Alignment.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Appearance.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Custom_options.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Pagination_bar_type.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Pagination_control_type.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Variants.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-pagination-bar/__snapshots__/ic-pagination-bar.spec.ts.snap
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.css
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.spec.ts
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.stories.mdx
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.test.a11y.ts
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.tsx
  packages/web-components/src/components/ic-pagination-bar/readme.md
  packages/web-components/src/components/ic-pagination/readme.md
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/readme.md
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): adds initial data table component
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.css
  packages/web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): adds initial data table component
  packages/react/src/components.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add data table stories
  packages/react/src/components.ts
  packages/react/src/stories/ic-data-table.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Complex_example.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Custom_sort_order.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Default_sorted_column.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Sortable.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_table_Spacious.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_table_Spacious.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.css
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/ic-data-table.types.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.tsx
  packages/web-components/src/components/ic-pagination/ic-pagination.tsx
  packages/web-components/src/components/ic-pagination/ic-pagination.types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): added date type support
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add pagination bar component
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-pagination-bar/__snapshots__/ic-pagination-bar.spec.ts.snap
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.spec.ts
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.test.a11y.ts
  packages/web-components/src/components/ic-pagination-bar/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(web-components): tidy up after rebase
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(react): added react stories for data tables
  packages/react/.storybook/addon-tab/register.js
  packages/react/.storybook/main.js
  packages/react/.storybook/preview-head.html
  packages/react/.storybook/preview.js
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/stories/ic-data-table.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

test(web-components): regenerated data table visual regressions images
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Basic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Cell_Overrides.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Column_Overrides.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Dense.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Embedded.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Pagination.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Row_Headers.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Row_Overrides.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Sort.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Sort_Options.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Spacious.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Sticky_Column_Headers.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Cell_Overrides.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Column_Overrides.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Dense.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Embedded.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Pagination.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Row_Headers.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Row_Overrides.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Sort.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Sort_Options.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Spacious.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Sticky_Column_Headers.png
Due: none

build(root): ran audit fix
  packages/react/src/stories/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.css
Due: stylelint --fix, remark

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
