Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(react): react story added for checkbox fix
  packages/react/src/stories/ic-checkbox.stories.mdx
Due: remark

fix(web-components): fixes responsive tabs selection issue
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-horizontal-scroll/ic-horizontal-scroll.tsx
  packages/web-components/src/components/ic-tab-context/test/basic/__snapshots__/ic-tab-context.spec.ts.snap
  packages/web-components/src/components/ic-tab-context/test/basic/ic-tab-context.e2e.ts
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes issues with icchange event
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(docs): regenerated docs to inculde checkMaxLines
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): updated ic-typography functionality
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Outline.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-typography/ic-typography.tsx
  packages/web-components/src/components/ic-typography/ic-typography.types.tsx
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/interface.d.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(web-components): updated package-lock file
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(web-components): add data table tests
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.e2e.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(react): updated package-lock file
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(canary-web-components): added e2e tests for truncation and text wrap
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.e2e.tsx
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(canary-web-components): added e2e data table tests
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Pagination.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Truncating_Cell_Data.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Truncating_Cell_Data.png
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.e2e.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.e2e.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(canary-react): updating react stories for data-table cell truncation
  packages/canary-react/src/stories/ic-data-table.stories.mdx
Due: remark

feat(canary-web-components): updated cell truncation functionality
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Basic.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Cell_Overrides.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Column_Overrides.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_Row_Heights.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_Title_Bar.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_icons.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Dense.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Embedded.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Links_and_Elements_in_data.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Row_Headers.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Row_Overrides.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Sort.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Sort_Options.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Spacious.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Sticky_Column_Headers.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Updating_State.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Basic.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Cell_Overrides.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_Row_Heights.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_Title_Bar.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Dense.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Embedded.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Links_and_Elements_in_data.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Pagination.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Sort.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Sort_Options.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Spacious.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Updating_State.png
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.css
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@7e3907cd4d153d0a905c5e532c52513fe96d8a14 🚀
  branches/feature/date-picker2/web-components/526.5365eb2d.iframe.bundle.js
  branches/feature/date-picker2/web-components/526.5365eb2d.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/web-components/526.cccd5432.iframe.bundle.js
  branches/feature/date-picker2/web-components/6088.916cb9e8.iframe.bundle.js
  branches/feature/date-picker2/web-components/6088.d943987a.iframe.bundle.js
  branches/feature/date-picker2/web-components/6098.367b62da.iframe.bundle.js
  branches/feature/date-picker2/web-components/6098.b0c005cc.iframe.bundle.js
  branches/feature/date-picker2/web-components/6982.41eacfb2.iframe.bundle.js
  branches/feature/date-picker2/web-components/6982.5634f250.iframe.bundle.js
  branches/feature/date-picker2/web-components/6982.5634f250.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/web-components/7059.e62cfbbd.iframe.bundle.js
  branches/feature/date-picker2/web-components/7059.e62cfbbd.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/web-components/7059.fa7fd1f0.iframe.bundle.js
  branches/feature/date-picker2/web-components/7710.433e2440.iframe.bundle.js
  branches/feature/date-picker2/web-components/7710.433e2440.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/web-components/7710.85c3bfdd.iframe.bundle.js
  branches/feature/date-picker2/web-components/8536.047641b9.iframe.bundle.js
  branches/feature/date-picker2/web-components/8536.e3679cf7.iframe.bundle.js
  branches/feature/date-picker2/web-components/9139.0f6ca3fb.iframe.bundle.js
  branches/feature/date-picker2/web-components/9139.0f6ca3fb.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/web-components/9139.f2934e52.iframe.bundle.js
  branches/feature/date-picker2/web-components/9446.2696c150.iframe.bundle.js
  branches/feature/date-picker2/web-components/9446.2696c150.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/web-components/9446.98bbe766.iframe.bundle.js
  branches/feature/date-picker2/web-components/iframe.html
  branches/feature/date-picker2/web-components/main.3aee62c6.iframe.bundle.js
  branches/feature/date-picker2/web-components/main.3aee62c6.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/web-components/main.a3bf9607.iframe.bundle.js
  branches/feature/date-picker2/web-components/project.json
  branches/feature/date-picker2/web-components/runtime~main.c82c2cac.iframe.bundle.js
  branches/feature/date-picker2/web-components/runtime~main.cba15627.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7e3907cd4d153d0a905c5e532c52513fe96d8a14 🚀
  branches/feature/date-picker2/react/2167.3ad48764.iframe.bundle.js
  branches/feature/date-picker2/react/2167.bd85bec8.iframe.bundle.js
  branches/feature/date-picker2/react/2167.bd85bec8.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/react/2635.a6549055.iframe.bundle.js
  branches/feature/date-picker2/react/2635.c68f7a91.iframe.bundle.js
  branches/feature/date-picker2/react/3244.b6369d21.iframe.bundle.js
  branches/feature/date-picker2/react/3244.b6369d21.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/react/3244.e0061627.iframe.bundle.js
  branches/feature/date-picker2/react/4133.2723b76c.iframe.bundle.js
  branches/feature/date-picker2/react/4133.e64299dd.iframe.bundle.js
  branches/feature/date-picker2/react/4500.13d37cf5.iframe.bundle.js
  branches/feature/date-picker2/react/4500.13d37cf5.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/react/4500.779cb08a.iframe.bundle.js
  branches/feature/date-picker2/react/7923.3ee1d764.iframe.bundle.js
  branches/feature/date-picker2/react/7923.3ee1d764.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/react/7923.59acdf67.iframe.bundle.js
  branches/feature/date-picker2/react/8318.cab7da0d.iframe.bundle.js
  branches/feature/date-picker2/react/8318.cab7da0d.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/react/8318.d28d430e.iframe.bundle.js
  branches/feature/date-picker2/react/8637.7e352dfb.iframe.bundle.js
  branches/feature/date-picker2/react/8637.c5b45a83.iframe.bundle.js
  branches/feature/date-picker2/react/9354.c1f1d078.iframe.bundle.js
  branches/feature/date-picker2/react/9354.c1f1d078.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/react/9354.c6272da3.iframe.bundle.js
  branches/feature/date-picker2/react/iframe.html
  branches/feature/date-picker2/react/main.9df0d895.iframe.bundle.js
  branches/feature/date-picker2/react/main.9df0d895.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/react/main.ca4c23b8.iframe.bundle.js
  branches/feature/date-picker2/react/project.json
  branches/feature/date-picker2/react/runtime~main.085acd56.iframe.bundle.js
  branches/feature/date-picker2/react/runtime~main.d3bbe128.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@54e5ce97b2685037d2413d99fddac2674c45690e 🚀
  branches/1143-fix-select-width/web-components/526.5365eb2d.iframe.bundle.js
  branches/1143-fix-select-width/web-components/526.5365eb2d.iframe.bundle.js.LICENSE.txt
  branches/1143-fix-select-width/web-components/526.cccd5432.iframe.bundle.js
  branches/1143-fix-select-width/web-components/7059.5a1ec6bb.iframe.bundle.js
  branches/1143-fix-select-width/web-components/7059.67e143f2.iframe.bundle.js
  branches/1143-fix-select-width/web-components/7059.67e143f2.iframe.bundle.js.LICENSE.txt
  branches/1143-fix-select-width/web-components/8536.05fb5baf.iframe.bundle.js
  branches/1143-fix-select-width/web-components/8536.2b35eaeb.iframe.bundle.js
  branches/1143-fix-select-width/web-components/9139.58b2a575.iframe.bundle.js
  branches/1143-fix-select-width/web-components/9139.58b2a575.iframe.bundle.js.LICENSE.txt
  branches/1143-fix-select-width/web-components/9139.cd06a7aa.iframe.bundle.js
  branches/1143-fix-select-width/web-components/9446.3a96ef99.iframe.bundle.js
  branches/1143-fix-select-width/web-components/9446.c4d34e05.iframe.bundle.js
  branches/1143-fix-select-width/web-components/9446.c4d34e05.iframe.bundle.js.LICENSE.txt
  branches/1143-fix-select-width/web-components/iframe.html
  branches/1143-fix-select-width/web-components/main.0988936b.iframe.bundle.js
  branches/1143-fix-select-width/web-components/main.0988936b.iframe.bundle.js.LICENSE.txt
  branches/1143-fix-select-width/web-components/main.b1c9063d.iframe.bundle.js
  branches/1143-fix-select-width/web-components/project.json
  branches/1143-fix-select-width/web-components/runtime~main.857de5db.iframe.bundle.js
  branches/1143-fix-select-width/web-components/runtime~main.9064d1a1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@54e5ce97b2685037d2413d99fddac2674c45690e 🚀
  branches/1143-fix-select-width/react/4133.91c7a6dd.iframe.bundle.js
  branches/1143-fix-select-width/react/4133.9ee7f868.iframe.bundle.js
  branches/1143-fix-select-width/react/4500.8da58a53.iframe.bundle.js
  branches/1143-fix-select-width/react/4500.c9ebeef8.iframe.bundle.js
  branches/1143-fix-select-width/react/4500.c9ebeef8.iframe.bundle.js.LICENSE.txt
  branches/1143-fix-select-width/react/7923.3ee1d764.iframe.bundle.js
  branches/1143-fix-select-width/react/7923.3ee1d764.iframe.bundle.js.LICENSE.txt
  branches/1143-fix-select-width/react/7923.59acdf67.iframe.bundle.js
  branches/1143-fix-select-width/react/8318.525208fc.iframe.bundle.js
  branches/1143-fix-select-width/react/8318.70efa429.iframe.bundle.js
  branches/1143-fix-select-width/react/8318.70efa429.iframe.bundle.js.LICENSE.txt
  branches/1143-fix-select-width/react/9354.3319237e.iframe.bundle.js
  branches/1143-fix-select-width/react/9354.93c8337b.iframe.bundle.js
  branches/1143-fix-select-width/react/9354.93c8337b.iframe.bundle.js.LICENSE.txt
  branches/1143-fix-select-width/react/iframe.html
  branches/1143-fix-select-width/react/main.7cd08e23.iframe.bundle.js
  branches/1143-fix-select-width/react/main.7cd08e23.iframe.bundle.js.LICENSE.txt
  branches/1143-fix-select-width/react/main.e7e31850.iframe.bundle.js
  branches/1143-fix-select-width/react/project.json
  branches/1143-fix-select-width/react/runtime~main.28138303.iframe.bundle.js
  branches/1143-fix-select-width/react/runtime~main.f4c7a54a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add expanded story and visual tests back for side nav
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Expanded.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Expanded.png
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@66c5120d73c8e5b13b90cdd3d829a145c49f1e3b 🚀
  branches/1207-no-results/web-components/526.5365eb2d.iframe.bundle.js
  branches/1207-no-results/web-components/526.5365eb2d.iframe.bundle.js.LICENSE.txt
  branches/1207-no-results/web-components/526.cccd5432.iframe.bundle.js
  branches/1207-no-results/web-components/9446.14495800.iframe.bundle.js
  branches/1207-no-results/web-components/9446.14495800.iframe.bundle.js.LICENSE.txt
  branches/1207-no-results/web-components/9446.e6887f14.iframe.bundle.js
  branches/1207-no-results/web-components/iframe.html
  branches/1207-no-results/web-components/main.2e076ea7.iframe.bundle.js
  branches/1207-no-results/web-components/main.7dc48827.iframe.bundle.js
  branches/1207-no-results/web-components/main.7dc48827.iframe.bundle.js.LICENSE.txt
  branches/1207-no-results/web-components/project.json
  branches/1207-no-results/web-components/runtime~main.11091583.iframe.bundle.js
  branches/1207-no-results/web-components/runtime~main.52d2ec63.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@66c5120d73c8e5b13b90cdd3d829a145c49f1e3b 🚀
  branches/1207-no-results/react/7923.3ee1d764.iframe.bundle.js
  branches/1207-no-results/react/7923.3ee1d764.iframe.bundle.js.LICENSE.txt
  branches/1207-no-results/react/7923.59acdf67.iframe.bundle.js
  branches/1207-no-results/react/9354.81dfa39c.iframe.bundle.js
  branches/1207-no-results/react/9354.f2d9f413.iframe.bundle.js
  branches/1207-no-results/react/9354.f2d9f413.iframe.bundle.js.LICENSE.txt
  branches/1207-no-results/react/iframe.html
  branches/1207-no-results/react/main.90941f63.iframe.bundle.js
  branches/1207-no-results/react/main.90941f63.iframe.bundle.js.LICENSE.txt
  branches/1207-no-results/react/main.a2f6ac8a.iframe.bundle.js
  branches/1207-no-results/react/project.json
  branches/1207-no-results/react/runtime~main.97fd3086.iframe.bundle.js
  branches/1207-no-results/react/runtime~main.eeeb6e95.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@52436091bf5b6c49735d5ec74b1d82a311901d25 🚀
  branches/develop/web-components/iframe.html
  branches/develop/web-components/main.0988936b.iframe.bundle.js
  branches/develop/web-components/main.2b448e65.iframe.bundle.js
  branches/develop/web-components/main.2b448e65.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@52436091bf5b6c49735d5ec74b1d82a311901d25 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@54d7847b462ef7ad62e8c9ff1df79cf31d86b07d 🚀
  branches/a11y/date-input/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@54d7847b462ef7ad62e8c9ff1df79cf31d86b07d 🚀
  branches/a11y/date-input/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1fdfa2b6e3eb669f424ed9983f99f7699954b41c 🚀
  branches/feature/date-picker2/web-components/6098.7e171622.iframe.bundle.js
  branches/feature/date-picker2/web-components/6098.b0c005cc.iframe.bundle.js
  branches/feature/date-picker2/web-components/iframe.html
  branches/feature/date-picker2/web-components/project.json
  branches/feature/date-picker2/web-components/runtime~main.395a6ab5.iframe.bundle.js
  branches/feature/date-picker2/web-components/runtime~main.c82c2cac.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1fdfa2b6e3eb669f424ed9983f99f7699954b41c 🚀
  branches/feature/date-picker2/react/2635.5b331d51.iframe.bundle.js
  branches/feature/date-picker2/react/2635.a6549055.iframe.bundle.js
  branches/feature/date-picker2/react/iframe.html
  branches/feature/date-picker2/react/project.json
  branches/feature/date-picker2/react/runtime~main.6efb138e.iframe.bundle.js
  branches/feature/date-picker2/react/runtime~main.d3bbe128.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): added ability to hide the close button, equalised call to action button spacing
  packages/docs/docs.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-dialog/ic-dialog.css
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.mdx
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/readme.md
  packages/web-components/src/components/ic-dialog/test/basic/__snapshots__/ic-dialog.spec.ts.snap
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@f0ab828d737e037a4dca13a25157a8bb7328a887 🚀
  branches/1143-fix-select-width/web-components/iframe.html
  branches/1143-fix-select-width/web-components/main.0988936b.iframe.bundle.js
  branches/1143-fix-select-width/web-components/main.2b448e65.iframe.bundle.js
  branches/1143-fix-select-width/web-components/main.2b448e65.iframe.bundle.js.LICENSE.txt
  branches/1143-fix-select-width/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f0ab828d737e037a4dca13a25157a8bb7328a887 🚀
  branches/1143-fix-select-width/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f0ce2f2493440b755173eaaf55387747e0a219bd 🚀
  branches/develop/web-components/2308.1be32a46.iframe.bundle.js
  branches/develop/web-components/2308.1be32a46.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/2308.36f85962.iframe.bundle.js
  branches/develop/web-components/iframe.html
  branches/develop/web-components/main.2b448e65.iframe.bundle.js
  branches/develop/web-components/main.5bd8982e.iframe.bundle.js
  branches/develop/web-components/main.5bd8982e.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/project.json
  branches/develop/web-components/runtime~main.42108369.iframe.bundle.js
  branches/develop/web-components/runtime~main.f8e1c129.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f0ce2f2493440b755173eaaf55387747e0a219bd 🚀
  branches/develop/react/4637.c7dcc342.iframe.bundle.js
  branches/develop/react/4637.f48a6f81.iframe.bundle.js
  branches/develop/react/4637.f48a6f81.iframe.bundle.js.LICENSE.txt
  branches/develop/react/iframe.html
  branches/develop/react/main.7cd08e23.iframe.bundle.js
  branches/develop/react/main.c0aa9832.iframe.bundle.js
  branches/develop/react/main.c0aa9832.iframe.bundle.js.LICENSE.txt
  branches/develop/react/project.json
  branches/develop/react/runtime~main.32aa6f66.iframe.bundle.js
  branches/develop/react/runtime~main.7e82287e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): added default no results state to select
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/test/basic/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-select/test/basic/ic-select.e2e.ts
  packages/web-components/src/components/ic-select/test/basic/ic-select.spec.tsx
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): added display property to ic-select
  packages/web-components/src/components/ic-select/ic-select.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@ec610e24cb4aee6562f541cb5d853d086de747c7 🚀
  branches/1207-no-results/web-components/2308.69641c12.iframe.bundle.js
  branches/1207-no-results/web-components/2308.86783169.iframe.bundle.js
  branches/1207-no-results/web-components/2308.86783169.iframe.bundle.js.LICENSE.txt
  branches/1207-no-results/web-components/iframe.html
  branches/1207-no-results/web-components/main.7dc48827.iframe.bundle.js
  branches/1207-no-results/web-components/main.b2b37235.iframe.bundle.js
  branches/1207-no-results/web-components/main.b2b37235.iframe.bundle.js.LICENSE.txt
  branches/1207-no-results/web-components/project.json
  branches/1207-no-results/web-components/runtime~main.11091583.iframe.bundle.js
  branches/1207-no-results/web-components/runtime~main.a67acb92.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ec610e24cb4aee6562f541cb5d853d086de747c7 🚀
  branches/1207-no-results/react/4637.376e85af.iframe.bundle.js
  branches/1207-no-results/react/4637.376e85af.iframe.bundle.js.LICENSE.txt
  branches/1207-no-results/react/4637.a75fe5d9.iframe.bundle.js
  branches/1207-no-results/react/iframe.html
  branches/1207-no-results/react/main.90941f63.iframe.bundle.js
  branches/1207-no-results/react/main.ea7f51f8.iframe.bundle.js
  branches/1207-no-results/react/main.ea7f51f8.iframe.bundle.js.LICENSE.txt
  branches/1207-no-results/react/project.json
  branches/1207-no-results/react/runtime~main.97fd3086.iframe.bundle.js
  branches/1207-no-results/react/runtime~main.bb1c8c19.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
