Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(react): audit fix for babel
  packages/react/package-lock.json
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(web-components): audit fix for babel
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): audit fix for babel
  audit-ci.json
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@430cf2c8ef1f5646cfb2bdf3c7767e3a4881aca1 🚀
  branches/develop/6165.865a5ed9.iframe.bundle.js
  branches/develop/6165.d204a9f8.iframe.bundle.js
  branches/develop/6510.a5445390.iframe.bundle.js
  branches/develop/6510.a805dd85.iframe.bundle.js
  branches/develop/6663.eccbe682.iframe.bundle.js
  branches/develop/6663.eccbe682.iframe.bundle.js.LICENSE.txt
  branches/develop/6663.f653c626.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.becdc813.iframe.bundle.js
  branches/develop/main.becdc813.iframe.bundle.js.LICENSE.txt
  branches/develop/main.e2e1109b.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.b70a828b.iframe.bundle.js
  branches/develop/runtime~main.c47544b6.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): ic-dialog - add ability to hide close icon and fix spacing around buttons
  packages/docs/docs.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-dialog/ic-dialog.css
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.mdx
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/readme.md
  packages/web-components/src/components/ic-dialog/test/basic/__snapshots__/ic-dialog.spec.ts.snap
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): added react stories for data table row height
  .eslintrc.js
  audit-ci.json
  packages/react/src/stories/ic-data-table.stories.mdx
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-data-table/story-data.ts
  packages/web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

build(root): audit fix
  audit-ci.json
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(fonts): audit fix
  packages/fonts/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(react): audit fix
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(web-components): audit fix
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ff771ecfe8f9b2b8c373ba5eca3967604a47c5dc 🚀
  branches/1067-row-height/web-components/4876.24a750bc.iframe.bundle.js
  branches/1067-row-height/web-components/4876.4be1b1b1.iframe.bundle.js
  branches/1067-row-height/web-components/4876.4be1b1b1.iframe.bundle.js.LICENSE.txt
  branches/1067-row-height/web-components/iframe.html
  branches/1067-row-height/web-components/main.3aabc756.iframe.bundle.js
  branches/1067-row-height/web-components/main.5208cebd.iframe.bundle.js
  branches/1067-row-height/web-components/main.5208cebd.iframe.bundle.js.LICENSE.txt
  branches/1067-row-height/web-components/project.json
  branches/1067-row-height/web-components/runtime~main.5a29b69e.iframe.bundle.js
  branches/1067-row-height/web-components/runtime~main.e422d3b6.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ff771ecfe8f9b2b8c373ba5eca3967604a47c5dc 🚀
  branches/1067-row-height/react/4136.9b6b1a77.iframe.bundle.js
  branches/1067-row-height/react/4136.d32f588e.iframe.bundle.js
  branches/1067-row-height/react/4136.d32f588e.iframe.bundle.js.LICENSE.txt
  branches/1067-row-height/react/iframe.html
  branches/1067-row-height/react/main.05acb47c.iframe.bundle.js
  branches/1067-row-height/react/main.05acb47c.iframe.bundle.js.LICENSE.txt
  branches/1067-row-height/react/main.778fd3eb.iframe.bundle.js
  branches/1067-row-height/react/project.json
  branches/1067-row-height/react/runtime~main.c419c627.iframe.bundle.js
  branches/1067-row-height/react/runtime~main.debc9baa.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): added row height customisation to data tables
  audit-ci.json
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_Row_Heights.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_Row_Heights.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/ic-data-table.types.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-data-table/story-data.ts
  packages/web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): add pagination and sorting to data table
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Default.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

feat(web-components): added loading states to data table
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Empty_and_Loading_State.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Empty_and_Loading_State.png
Due: none

build(root): ran audit fix
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Default.png
  packages/web-components/src/components/ic-data-table/ic-data-table.css
Due: stylelint --fix

feat(react): added react stories for icon support
  packages/web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
Due: none

fix(react): can now slot custom react elements into cells
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Empty_and_Loading_State.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Empty_and_Loading_State.png
Due: none

feat(web-components): added support for adding icons to cells and headers
  packages/web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
Due: none

feat(web-components): adds form and related props to select, radio and checkbox
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-checkbox-group/test/basic/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/test/basic/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/components/ic-radio-group/test/basic/__snapshots__/ic-radio-group.spec.ts.snap
  packages/web-components/src/components/ic-radio-group/test/basic/ic-radio-group.spec.ts
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-radio-option/readme.md
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/components/ic-select/test/basic/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-select/test/basic/ic-select.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): added ic-title-bar component
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_Icons.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_Title_Bar.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Basic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Custom_actions.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Hide_density_selector.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Not_full_width.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Slotted_header_and_description.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_With_metadata_and_description.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_Icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_Title_Bar.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Custom_actions.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Hide_density_selector.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Not_full_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Slotted_header_and_description.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_With_metadata_and_description.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/ic-data-table.types.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-data-table/story-data.ts
  packages/web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/components/ic-title-bar/ic-title-bar.css
  packages/web-components/src/components/ic-title-bar/ic-title-bar.stories.mdx
  packages/web-components/src/components/ic-title-bar/ic-title-bar.tsx
  packages/web-components/src/components/ic-title-bar/readme.md
  packages/web-components/src/components/ic-title-bar/test/basic/__snapshots__/ic-title-bar.spec.tsx.snap
  packages/web-components/src/components/ic-title-bar/test/basic/ic-title-bar.spec.tsx
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): added react stories for ic-title-bar
  packages/react/src/components.ts
  packages/react/src/stories/ic-data-table.stories.mdx
  packages/react/src/stories/ic-title-bar.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_Title_Bar.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Basic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Custom_actions.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Hide_density_selector.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Slotted_header_and_description.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_With_metadata_and_description.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_Title_Bar.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Custom_actions.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Hide_density_selector.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Slotted_header_and_description.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_With_metadata_and_description.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.css
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/story-data.ts
  packages/web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/web-components/src/components/ic-title-bar/ic-title-bar.css
  packages/web-components/src/components/ic-title-bar/ic-title-bar.stories.mdx
  packages/web-components/src/components/ic-title-bar/ic-title-bar.tsx
  packages/web-components/src/components/ic-title-bar/readme.md
  packages/web-components/src/components/ic-title-bar/test/a11y/ic-title-bar.test.a11y.ts
  packages/web-components/src/components/ic-title-bar/test/basic/__snapshots__/ic-title-bar.spec.tsx.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@9134582b8ec414b1e7036dd527721f60749b2836 🚀
  branches/1013-add-form-props/web-components/6165.865a5ed9.iframe.bundle.js
  branches/1013-add-form-props/web-components/6165.d204a9f8.iframe.bundle.js
  branches/1013-add-form-props/web-components/6510.a5445390.iframe.bundle.js
  branches/1013-add-form-props/web-components/6510.a805dd85.iframe.bundle.js
  branches/1013-add-form-props/web-components/6663.eccbe682.iframe.bundle.js
  branches/1013-add-form-props/web-components/6663.eccbe682.iframe.bundle.js.LICENSE.txt
  branches/1013-add-form-props/web-components/6663.f653c626.iframe.bundle.js
  branches/1013-add-form-props/web-components/iframe.html
  branches/1013-add-form-props/web-components/main.a7655fe4.iframe.bundle.js
  branches/1013-add-form-props/web-components/main.a7655fe4.iframe.bundle.js.LICENSE.txt
  branches/1013-add-form-props/web-components/main.f3fc8090.iframe.bundle.js
  branches/1013-add-form-props/web-components/project.json
  branches/1013-add-form-props/web-components/runtime~main.798871ea.iframe.bundle.js
  branches/1013-add-form-props/web-components/runtime~main.dbbff873.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9134582b8ec414b1e7036dd527721f60749b2836 🚀
  branches/1013-add-form-props/react/1642.2e1b9706.iframe.bundle.js
  branches/1013-add-form-props/react/1642.2e1b9706.iframe.bundle.js.LICENSE.txt
  branches/1013-add-form-props/react/1642.a3cc5f95.iframe.bundle.js
  branches/1013-add-form-props/react/4727.586bceb6.iframe.bundle.js
  branches/1013-add-form-props/react/4727.8bd37856.iframe.bundle.js
  branches/1013-add-form-props/react/8291.5e1da9bf.iframe.bundle.js
  branches/1013-add-form-props/react/8291.799027b4.iframe.bundle.js
  branches/1013-add-form-props/react/iframe.html
  branches/1013-add-form-props/react/main.9418e539.iframe.bundle.js
  branches/1013-add-form-props/react/main.9418e539.iframe.bundle.js.LICENSE.txt
  branches/1013-add-form-props/react/main.c6c38d40.iframe.bundle.js
  branches/1013-add-form-props/react/project.json
  branches/1013-add-form-props/react/runtime~main.51405a2c.iframe.bundle.js
  branches/1013-add-form-props/react/runtime~main.82cf4af3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): changed ic-menu aria-selected to be string value
  packages/react/src/components.ts
  packages/react/src/stories/ic-data-table-title-bar.stories.mdx
  packages/react/src/stories/ic-data-table.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_Title_Bar.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Title_Bar_Basic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Title_Bar_Custom_actions.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Title_Bar_Hide_density_selector.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Title_Bar_Slotted_header_and_description.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Title_Bar_With_metadata_and_description.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Custom_actions.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Not_full_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Title_Bar_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Title_Bar_Custom_actions.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Title_Bar_Hide_density_selector.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Title_Bar_Slotted_header_and_description.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Title_Bar_With_metadata_and_description.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Not_full_width.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table-title-bar/ic-data-table-title-bar.css
  packages/web-components/src/components/ic-data-table-title-bar/ic-data-table-title-bar.stories.mdx
  packages/web-components/src/components/ic-data-table-title-bar/ic-data-table-title-bar.tsx
  packages/web-components/src/components/ic-data-table-title-bar/readme.md
  packages/web-components/src/components/ic-data-table-title-bar/test/a11y/ic-data-table-title-bar.test.a11y.ts
  packages/web-components/src/components/ic-data-table-title-bar/test/basic/__snapshots__/ic-data-table-title-bar.spec.tsx.snap
  packages/web-components/src/components/ic-data-table-title-bar/test/basic/ic-data-table-title-bar.spec.tsx
  packages/web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-data-table/story-data.ts
  packages/web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/test/basic/__snapshots__/ic-menu.spec.tsx.snap
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/components/ic-select/test/basic/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-select/test/basic/ic-select.e2e.ts
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@0acfa26b34371fb8d293d6b8e5df4b1884bb7aac 🚀
  branches/892-add-prop-to-disable-side-navigation-moving-to-top/web-components/6510.a17b86de.iframe.bundle.js
  branches/892-add-prop-to-disable-side-navigation-moving-to-top/web-components/6510.fb931d2d.iframe.bundle.js
  branches/892-add-prop-to-disable-side-navigation-moving-to-top/web-components/iframe.html
  branches/892-add-prop-to-disable-side-navigation-moving-to-top/web-components/project.json
  branches/892-add-prop-to-disable-side-navigation-moving-to-top/web-components/runtime~main.73dedd46.iframe.bundle.js
  branches/892-add-prop-to-disable-side-navigation-moving-to-top/web-components/runtime~main.77c41e7c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0acfa26b34371fb8d293d6b8e5df4b1884bb7aac 🚀
  branches/892-add-prop-to-disable-side-navigation-moving-to-top/react/8291.04166e84.iframe.bundle.js
  branches/892-add-prop-to-disable-side-navigation-moving-to-top/react/8291.3e6536b3.iframe.bundle.js
  branches/892-add-prop-to-disable-side-navigation-moving-to-top/react/iframe.html
  branches/892-add-prop-to-disable-side-navigation-moving-to-top/react/project.json
  branches/892-add-prop-to-disable-side-navigation-moving-to-top/react/runtime~main.2bc96b43.iframe.bundle.js
  branches/892-add-prop-to-disable-side-navigation-moving-to-top/react/runtime~main.2f6a29e2.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@25ae1dec3043856f6fe8aa8bca3061be73ccf4e7 🚀
  branches/develop/1416.2823ceb2.iframe.bundle.js
  branches/develop/1416.2823ceb2.iframe.bundle.js.LICENSE.txt
  branches/develop/1416.aee6700b.iframe.bundle.js
  branches/develop/7710.96ad75c6.iframe.bundle.js
  branches/develop/7710.db2ab7b9.iframe.bundle.js
  branches/develop/7710.db2ab7b9.iframe.bundle.js.LICENSE.txt
  branches/develop/7733.8961b807.iframe.bundle.js
  branches/develop/7733.8961b807.iframe.bundle.js.LICENSE.txt
  branches/develop/7733.bd4dc66d.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.a7655fe4.iframe.bundle.js
  branches/develop/main.a7655fe4.iframe.bundle.js.LICENSE.txt
  branches/develop/main.becdc813.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.798871ea.iframe.bundle.js
  branches/develop/runtime~main.c47544b6.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
