Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@e1a301f532d4b20695c4edc4e93250bd376374f7 🚀
  branches/canary/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d3376ac9614df95fc78fa588c869ad2427cb9a7a 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@d3376ac9614df95fc78fa588c869ad2427cb9a7a 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/report_29-05-2026_093157.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b253fbf6ff503cdb96033103638720b982fd738f 🚀
  branches/4064-remove-duplicate-close-icon/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(react): update visual regression tests for pagination update
  packages/react/cypress-image-diff-screenshots/baseline/IcPagination.cy.tsx/simple-after-click-lastPage-button.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPagination.cy.tsx/simple-after-click-page-13-button.png
  packages/react/cypress-image-diff-screenshots/baseline/IcPagination.cy.tsx/simple-previous-page-button-clicked.png
Due: none

refactor(web-components): remove duplicate 'x' svg and refactor component code following this change
  packages/web-components/src/assets/clear-icon.svg
  packages/web-components/src/assets/close-icon.svg
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

refactor(canary-web-components): remove duplicate 'x' svg and refactor component code
  packages/canary-web-components/src/assets/clear-icon.svg
  packages/canary-web-components/src/assets/close-icon.svg
  packages/canary-web-components/src/components/ic-date-input/ic-date-input.tsx
  packages/canary-web-components/src/components/ic-time-input/ic-time-input.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4f9d8aae5c4bdd77d5099b54e1dfce8cbc04f0da 🚀
  branches/4064-remove-duplicate-close-icon/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4f9d8aae5c4bdd77d5099b54e1dfce8cbc04f0da 🚀
  branches/4064-remove-duplicate-close-icon/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4f9d8aae5c4bdd77d5099b54e1dfce8cbc04f0da 🚀
  branches/4064-remove-duplicate-close-icon/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4f9d8aae5c4bdd77d5099b54e1dfce8cbc04f0da 🚀
  branches/4064-remove-duplicate-close-icon/canary-react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@bf490bf0747106b4189b5a2762586451ad04ed47 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/baseline/IcPagination.cy.tsx/simple-after-click-lastPage-button.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/baseline/IcPagination.cy.tsx/simple-after-click-page-13-button.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/baseline/IcPagination.cy.tsx/simple-previous-page-button-clicked.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPagination.cy.tsx/simple-after-click-lastPage-button.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPagination.cy.tsx/simple-after-click-page-13-button.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPagination.cy.tsx/simple-previous-page-button-clicked.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPaginationBar.cy.tsx/go-to-page-invalid-tooltip-high-contrast.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/characters-until-suggestion-no-show.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/characters-until-suggestion-show.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/clear-icon-focused-theme-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/empty-option-list-text.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/long-option-label.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/options-no-filtering-high-contrast.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/options-no-filtering.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/search-submit-tooltip.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/spellcheck.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/theme-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@bf490bf0747106b4189b5a2762586451ad04ed47 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/report_29-05-2026_124317.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e39cdb6f374f6641cde3fb37698a7778295183cb 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/popover-close-on-click.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/diff/IcPopoverMenu.cy.tsx/popover-close-on-click.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@e39cdb6f374f6641cde3fb37698a7778295183cb 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/report_29-05-2026_135535.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@30837ce96db652fe348911f881a024a1b5d24ba5 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAccordion.cy.tsx/focused.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/focused-destructive.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/popover-close-on-click.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-first-level.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-second-level-expanded.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/diff/IcPopoverMenu.cy.tsx/popover-close-on-click.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/multi-level-first-level.png
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/multi-level-second-level-expanded.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@30837ce96db652fe348911f881a024a1b5d24ba5 🚀
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4361-prevent-popover-closing-on-toggle-options/cypress-image-diff-html-report/report_29-05-2026_142107.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(web-components): add anchor slot to popover menu
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.css
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.stories.js
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
  packages/web-components/src/components/ic-popover-menu/readme.md
  packages/web-components/src/components/ic-popover-menu/test/basic/__snapshots__/ic-popover-menu.spec.ts.snap
  packages/web-components/src/components/ic-popover-menu/test/basic/ic-popover-menu.spec.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(docs): update docs with anchor slot on popover menu
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(canary-docs): update docs with anchor slot on popover menu
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write
