Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): fix vertical alignment of icons on side navigation
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Expanded.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Long_app_version_and_app_status.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Slots.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Static.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Theming.png
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-side-navigation/test/basic/__snapshots__/ic-side-navigation.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@d17a5990b4d3b06eb540867f1cd92b52d10303d7 🚀
  branches/develop/6510.c5942b75.iframe.bundle.js
  branches/develop/6510.f516c0af.iframe.bundle.js
  branches/develop/7420.018194ff.iframe.bundle.js
  branches/develop/7420.d05d10fe.iframe.bundle.js
  branches/develop/7420.d05d10fe.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.404c918c.iframe.bundle.js
  branches/develop/runtime~main.4fd4ca00.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fdbe2fafd28f504f5a2e584607ddb913dc55e392 🚀
  branches/feature/334-date-input-jd239/web-components/6982.9f23594b.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/6982.9f23594b.iframe.bundle.js.LICENSE.txt
  branches/feature/334-date-input-jd239/web-components/6982.ded67e0a.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/iframe.html
  branches/feature/334-date-input-jd239/web-components/project.json
  branches/feature/334-date-input-jd239/web-components/runtime~main.1f977bf0.iframe.bundle.js
  branches/feature/334-date-input-jd239/web-components/runtime~main.8c3c238e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fdbe2fafd28f504f5a2e584607ddb913dc55e392 🚀
  branches/feature/334-date-input-jd239/react/3244.12d2f086.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/3244.12d2f086.iframe.bundle.js.LICENSE.txt
  branches/feature/334-date-input-jd239/react/3244.21688775.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/iframe.html
  branches/feature/334-date-input-jd239/react/project.json
  branches/feature/334-date-input-jd239/react/runtime~main.49b2c104.iframe.bundle.js
  branches/feature/334-date-input-jd239/react/runtime~main.e7d63633.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): updated searchable select to clear input when value programatically set
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/test/basic/ic-menu.spec.tsx
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/test/basic/ic-select.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@eb38fc4e063f697a0b4c3cc20c31fbba4d58d850 🚀
  branches/818-searchable-select-undefined-value/web-components/6510.c5942b75.iframe.bundle.js
  branches/818-searchable-select-undefined-value/web-components/6510.f516c0af.iframe.bundle.js
  branches/818-searchable-select-undefined-value/web-components/7420.018194ff.iframe.bundle.js
  branches/818-searchable-select-undefined-value/web-components/7420.d05d10fe.iframe.bundle.js
  branches/818-searchable-select-undefined-value/web-components/7420.d05d10fe.iframe.bundle.js.LICENSE.txt
  branches/818-searchable-select-undefined-value/web-components/iframe.html
  branches/818-searchable-select-undefined-value/web-components/project.json
  branches/818-searchable-select-undefined-value/web-components/runtime~main.35a19861.iframe.bundle.js
  branches/818-searchable-select-undefined-value/web-components/runtime~main.67fa2044.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@eb38fc4e063f697a0b4c3cc20c31fbba4d58d850 🚀
  branches/818-searchable-select-undefined-value/react/2148.58c3e649.iframe.bundle.js
  branches/818-searchable-select-undefined-value/react/2148.58c3e649.iframe.bundle.js.LICENSE.txt
  branches/818-searchable-select-undefined-value/react/2148.919eae36.iframe.bundle.js
  branches/818-searchable-select-undefined-value/react/8291.3ae50bfb.iframe.bundle.js
  branches/818-searchable-select-undefined-value/react/8291.9717f937.iframe.bundle.js
  branches/818-searchable-select-undefined-value/react/iframe.html
  branches/818-searchable-select-undefined-value/react/project.json
  branches/818-searchable-select-undefined-value/react/runtime~main.12cc9b99.iframe.bundle.js
  branches/818-searchable-select-undefined-value/react/runtime~main.ea604dbc.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4dae97d809820838bfa295103ad7f2e6dab95eae 🚀
  branches/develop/2679.95c0e100.iframe.bundle.js
  branches/develop/2679.c9381487.iframe.bundle.js
  branches/develop/2679.c9381487.iframe.bundle.js.LICENSE.txt
  branches/develop/7733.4d2886e8.iframe.bundle.js
  branches/develop/7733.abc1c5df.iframe.bundle.js
  branches/develop/7733.abc1c5df.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.4fd4ca00.iframe.bundle.js
  branches/develop/runtime~main.67fa2044.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@899678ae0034ac1bc8e7ce59e39d70b394f66e62 🚀
  branches/898-ic-button-aria-describedby/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@899678ae0034ac1bc8e7ce59e39d70b394f66e62 🚀
  branches/898-ic-button-aria-describedby/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add role tab to divs in horizontal scroll to stop axe issue
  packages/web-components/src/components/ic-horizontal-scroll/ic-horizontal-scroll.tsx
  packages/web-components/src/components/ic-horizontal-scroll/test/basic/__snapshots__/ic-horizontal-scroll.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@18b1f56e0a05ad1feadc631f33f7b211ea530a48 🚀
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/2679.95c0e100.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/2679.c9381487.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/2679.c9381487.iframe.bundle.js.LICENSE.txt
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/6510.c5942b75.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/6510.f516c0af.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/7420.018194ff.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/7420.d05d10fe.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/7420.d05d10fe.iframe.bundle.js.LICENSE.txt
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/7733.4d2886e8.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/7733.abc1c5df.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/7733.abc1c5df.iframe.bundle.js.LICENSE.txt
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/iframe.html
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/project.json
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/runtime~main.11c48d5c.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/web-components/runtime~main.d9818e43.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@18b1f56e0a05ad1feadc631f33f7b211ea530a48 🚀
  branches/721-fix-axe-accessibility-issues-with-tabs/react/2148.58c3e649.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/react/2148.58c3e649.iframe.bundle.js.LICENSE.txt
  branches/721-fix-axe-accessibility-issues-with-tabs/react/2148.919eae36.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/react/6225.26d125aa.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/react/6225.26d125aa.iframe.bundle.js.LICENSE.txt
  branches/721-fix-axe-accessibility-issues-with-tabs/react/6225.7d9392d1.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/react/8291.3ae50bfb.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/react/8291.9717f937.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/react/9257.40ac00cd.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/react/9257.40ac00cd.iframe.bundle.js.LICENSE.txt
  branches/721-fix-axe-accessibility-issues-with-tabs/react/9257.6b1552bc.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/react/iframe.html
  branches/721-fix-axe-accessibility-issues-with-tabs/react/project.json
  branches/721-fix-axe-accessibility-issues-with-tabs/react/runtime~main.07358ec1.iframe.bundle.js
  branches/721-fix-axe-accessibility-issues-with-tabs/react/runtime~main.a8206319.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes ic-button aria-describedby not working
  packages/web-components/src/components/ic-button/ic-button.stories.mdx
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/test/basic/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-button/test/basic/ic-button.e2e.ts
  packages/web-components/src/components/ic-button/test/basic/ic-button.spec.ts
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.e2e.ts
  packages/web-components/src/components/ic-select/test/basic/ic-select.e2e.ts
  packages/web-components/src/components/ic-typography/test/basic/ic-typography.e2e.ts
  packages/web-components/src/testspec.setup.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@9f8d822b4dc6071434b3e6069513c68ed2973427 🚀
  branches/develop/9139.59d643ff.iframe.bundle.js
  branches/develop/9139.85bc3cb2.iframe.bundle.js
  branches/develop/9139.85bc3cb2.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.67fa2044.iframe.bundle.js
  branches/develop/runtime~main.d9818e43.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@496fa6ff8a79ea1190ebbcaa4c3695daea1c749e 🚀
  branches/898-ic-button-aria-describedby/web-components/9139.59d643ff.iframe.bundle.js
  branches/898-ic-button-aria-describedby/web-components/9139.85bc3cb2.iframe.bundle.js
  branches/898-ic-button-aria-describedby/web-components/9139.85bc3cb2.iframe.bundle.js.LICENSE.txt
  branches/898-ic-button-aria-describedby/web-components/iframe.html
  branches/898-ic-button-aria-describedby/web-components/project.json
  branches/898-ic-button-aria-describedby/web-components/runtime~main.20693fda.iframe.bundle.js
  branches/898-ic-button-aria-describedby/web-components/runtime~main.c6859fab.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@496fa6ff8a79ea1190ebbcaa4c3695daea1c749e 🚀
  branches/898-ic-button-aria-describedby/react/4500.a687b0c6.iframe.bundle.js
  branches/898-ic-button-aria-describedby/react/4500.a687b0c6.iframe.bundle.js.LICENSE.txt
  branches/898-ic-button-aria-describedby/react/4500.fcbe9637.iframe.bundle.js
  branches/898-ic-button-aria-describedby/react/iframe.html
  branches/898-ic-button-aria-describedby/react/project.json
  branches/898-ic-button-aria-describedby/react/runtime~main.155b125c.iframe.bundle.js
  branches/898-ic-button-aria-describedby/react/runtime~main.d81c21be.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@37f57b40cd1587281a2f6d65dd43997a74042381 🚀
  branches/develop/6663.41688038.iframe.bundle.js
  branches/develop/6663.41688038.iframe.bundle.js.LICENSE.txt
  branches/develop/6663.9167cfc5.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.071eb085.iframe.bundle.js
  branches/develop/main.3917b288.iframe.bundle.js
  branches/develop/main.3917b288.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.20693fda.iframe.bundle.js
  branches/develop/runtime~main.d9818e43.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add story for short app title for top navigation
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: remark

feat(react): added accordion react stories
  packages/react/ic-accordion.e2e.ts
  packages/react/src/components.ts
  packages/react/src/stories/ic-accordion.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): add short title for top navigation that shows instead of app title on s device
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Short_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Short_title.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
  packages/web-components/src/components/ic-top-navigation/readme.md
  packages/web-components/src/components/ic-top-navigation/test/a11y/ic-top-navigation.test.a11y.ts
  packages/web-components/src/components/ic-top-navigation/test/basic/__snapshots__/ic-top-navigation.spec.ts.snap
  packages/web-components/src/components/ic-top-navigation/test/basic/ic-top-navigation.e2e.ts
  packages/web-components/src/components/ic-top-navigation/test/basic/ic-top-navigation.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(react): update shortTitle to shortAppTitle for top navigation
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: remark

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
