Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): add a new slot to top nav for routing using short app title
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: remark

fix(web-components): added word break to content and heading
  packages/web-components/src/components/ic-dialog/ic-dialog.css
Due: stylelint --fix

fix(web-components): created initPopperJS func
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-select/ic-select.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): update to docs.json with selectOnEnter prop
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add white space normal so that text wrap works on safari
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
Due: stylelint --fix

test(web-components): added unit and e2e tests
  packages/web-components/src/components/ic-dialog/ic-dialog.css
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.e2e.ts
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.spec.ts
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-search-bar/test/basic/__snapshots__/ic-search-bar.spec.ts.snap
  packages/web-components/src/components/ic-search-bar/test/basic/ic-search-bar.spec.ts
  packages/web-components/src/components/ic-select/test/basic/ic-select.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): fix switch state label width, remove wobble
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Switch_State.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_State.png
  packages/web-components/src/components/ic-switch/ic-switch.css
  packages/web-components/src/components/ic-switch/ic-switch.stories.mdx
Due: stylelint --fix, remark

feat(web-components): add selectOnEnter prop to determine when icOptionSelect is emitted
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/test/basic/ic-menu.spec.tsx
  packages/web-components/src/components/ic-select/ic-select.stories.mdx
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): add slot to top nav for routing with short app title
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Slotted_title_link.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Slotted_title_link.png
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
  packages/web-components/src/components/ic-top-navigation/readme.md
  packages/web-components/src/components/ic-top-navigation/test/basic/__snapshots__/ic-top-navigation.spec.ts.snap
  packages/web-components/src/components/ic-top-navigation/test/basic/ic-top-navigation.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): updated popperJS func
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.e2e.ts
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
  packages/web-components/src/components/ic-popover-menu/test/basic/__snapshots__/ic-popover-menu.spec.ts.snap
  packages/web-components/src/components/ic-select/ic-select.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): created disableHeightConstraint prop
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-dialog/ic-dialog.css
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.mdx
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/readme.md
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(docs): updates docs for new disable-height-contstraint prop
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): refreshed interactiveelements array
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): update text field to not call watchValueHandler on first load
  packages/web-components/src/components/ic-text-field/ic-text-field.stories.mdx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): move close icon svg into button for dialog instead of its own span
  packages/web-components/src/components/ic-dialog/ic-dialog.css
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/test/basic/__snapshots__/ic-dialog.spec.ts.snap
  packages/web-components/src/components/ic-popover-menu/test/basic/__snapshots__/ic-popover-menu.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

chore(root): audit fix
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): updates to ic-menu and search bar
  packages/web-components/src/components/ic-dialog/ic-dialog.css
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.mdx
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/test/basic/__snapshots__/ic-search-bar.spec.ts.snap
  packages/web-components/src/components/ic-search-bar/test/basic/ic-search-bar.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(root): removes jest from root scope
  package-lock.json
  package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(web-components): update search bar and select e2e tests to not intermittently fail
  packages/web-components/src/components/ic-search-bar/test/basic/ic-search-bar.e2e.ts
  packages/web-components/src/components/ic-select/test/basic/ic-select.e2e.ts
  packages/web-components/src/components/ic-side-navigation/test/basic/ic-side-navigation.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): removed overflow visible on content-area
  packages/web-components/src/components/ic-dialog/ic-dialog.css
Due: stylelint --fix

feat(react): add selectOnEnter prop to determine when icOptionSelect is emitted
  packages/react/src/stories/ic-select.stories.mdx
Due: remark

fix(web-components): update showDialog and hideDialog
  packages/web-components/src/components/ic-dialog/ic-dialog.css
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.mdx
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/readme.md
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.e2e.ts
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

test(web-components): update unit, e2e and a11y tests to remove console warnings/errors
  packages/web-components/src/components/ic-accordion-group/test/basic/ic-accordion-group.e2e.ts
  packages/web-components/src/components/ic-accordion-group/test/basic/ic-accordion-group.spec.ts
  packages/web-components/src/components/ic-badge/ic-badge.tsx
  packages/web-components/src/components/ic-data-row/test/a11y/ic-data-row.test.a11y.ts
  packages/web-components/src/components/ic-footer/test/a11y/ic-footer.test.a11y.ts
  packages/web-components/src/components/ic-horizontal-scroll/test/a11y/ic-horizontal-scroll.test.a11y.ts
  packages/web-components/src/components/ic-navigation-group/test/a11y/ic-navigation-group.test.a11y.ts
  packages/web-components/src/components/ic-navigation-item/test/a11y/ic-navigation-item.test.a11y.ts
  packages/web-components/src/components/ic-pagination/test/a11y/ic-pagination.test.a11y.ts
  packages/web-components/src/components/ic-pagination/test/basic/__snapshots__/ic-pagination.spec.ts.snap
  packages/web-components/src/components/ic-pagination/test/basic/ic-pagination.spec.ts
  packages/web-components/src/components/ic-popover-menu/test/basic/ic-popover-menu.e2e.ts
  packages/web-components/src/components/ic-top-navigation/test/a11y/ic-top-navigation.test.a11y.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(canary-web-components): added loading states to data table
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Empty_and_Loading_State.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Links_and_Elements_in_data.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Updating_State.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Empty_and_Loading_State.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Links_and_Elements_in_data.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Updating_State.png
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.css
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(canary-react): updated React story for data tables
  packages/canary-react/src/stories/ic-data-table.stories.mdx
Due: remark

docs(canary-web-components): updated web-components data table story assets
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(canary-react): added story for empty state
  packages/canary-react/src/stories/ic-data-table.stories.mdx
Due: remark

feat(canary-web-components): added empty state functionality
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Default_Empty_State.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Slotted_Empty_State.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Updating_State.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Default_Empty_State.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Slotted_Empty_State.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Updating_State.png
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.css
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(canary-web-components): added support for adding icons to cells and headers
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_icons.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_icons.png
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.css
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.types.tsx
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
  packages/canary-web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(root): updated audit file
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(canary-web-components): added row height customisation
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_Row_Heights.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_Row_Heights.png
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.types.tsx
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(root): update to eslint config
  .eslintrc.js
Due: none

docs(canary-react): added custom row story
  packages/canary-react/src/stories/ic-data-table.stories.mdx
Due: remark

feat(canary-web-components): updated variable names and docs
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(canary-web-components): added css custom property
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.css
Due: stylelint --fix

feat(web-components): added loading states to data table
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Empty_and_Loading_State.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Empty_and_Loading_State.png
Due: none

feat(canary-web-components): updated unit test snapshot
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
Due: none

feat(canary-react): added icTitleBar to canary-react package
  packages/canary-react/src/components.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(canary-web-components): added ic-title-bar component
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_Title_Bar.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_icons.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Basic.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Custom_actions.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Hide_density_selector.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Not_full_width.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Slotted_header_and_description.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_With_metadata_and_description.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_Title_Bar.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_icons.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Basic.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Custom_actions.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Hide_density_selector.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Not_full_width.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Slotted_header_and_description.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_With_metadata_and_description.png
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.types.tsx
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
  packages/canary-web-components/src/components/ic-title-bar/ic-title-bar.css
  packages/canary-web-components/src/components/ic-title-bar/ic-title-bar.stories.mdx
  packages/canary-web-components/src/components/ic-title-bar/ic-title-bar.tsx
  packages/canary-web-components/src/components/ic-title-bar/readme.md
  packages/canary-web-components/src/components/ic-title-bar/test/basic/__snapshots__/ic-title-bar.spec.tsx.snap
  packages/canary-web-components/src/components/ic-title-bar/test/basic/ic-title-bar.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
