Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(react): updated react changelog
  packages/react/CHANGELOG.md
Due: remark

chore(docs): updated docs changelog
  packages/docs/CHANGELOG.md
Due: remark

chore(web-components): [ci skip] updated web-components changelog
  packages/web-components/CHANGELOG.md
Due: remark

chore(root): updated root changelogs
  CHANGELOG.md
Due: remark

fix(web-components): added stopImmediatePropagation to icTabSelect
  packages/web-components/src/components/ic-tab-context/ic-tab-context.e2e.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.spec.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-context/ic-tabs.stories.mdx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-tab/ic-tab.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@228b205c98a6e4a83ea4f1afeee9c4536f777dbb 🚀
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/3140.a7382f73.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/3140.b026741f.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/iframe.html
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/main.34595ab7.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/main.34595ab7.iframe.bundle.js.LICENSE.txt
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/main.59d55e3d.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/project.json
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/runtime~main.031c7434.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/runtime~main.d60346d6.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@228b205c98a6e4a83ea4f1afeee9c4536f777dbb 🚀
  branches/bugfix/684-ic-tab-nested-tab-events/react/8465.6afb009b.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/react/8465.d7bf3f83.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/react/iframe.html
  branches/bugfix/684-ic-tab-nested-tab-events/react/main.2a2edd37.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/react/main.2a2edd37.iframe.bundle.js.LICENSE.txt
  branches/bugfix/684-ic-tab-nested-tab-events/react/main.c8f8196f.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/react/project.json
  branches/bugfix/684-ic-tab-nested-tab-events/react/runtime~main.94fa9251.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/react/runtime~main.e31d1587.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@60712560c4ab10068219383405406089c66a4c17 🚀
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@60712560c4ab10068219383405406089c66a4c17 🚀
  branches/345-add-see-more-truncation-pattern-for-typography/react/iframe.html
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.6a33e159.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.b0a63819.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.b0a63819.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@945ef362e12fc73d317cc1135652cbfd7d425687 🚀
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/iframe.html
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.20e009ba.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.607d6251.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.607d6251.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@945ef362e12fc73d317cc1135652cbfd7d425687 🚀
  branches/345-add-see-more-truncation-pattern-for-typography/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

refactor(web-components): update bottom padding in the compliance section of the footer
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Footer_Footer_with_no_caption_or_logo.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Footer_Grouped_links.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Footer_Theming.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Footer_Ungrouped_links.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Footer_With_classification_banner.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Footer_With_logo_links.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Long_app_version_and_app_status.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Footer_Footer_with_no_caption_or_logo.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Footer_Grouped_links.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Footer_Theming.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Footer_Ungrouped_links.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Footer_With_classification_banner.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Footer_With_logo_links.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Long_app_version_and_app_status.png
  packages/web-components/src/components/ic-footer/ic-footer.css
Due: stylelint --fix

fix(web-components): replaced box-shadow for page-header selected nav item
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@9a10094d70fd2336305fcdeb5de0eb678a46b854 🚀
  branches/develop/4149.1f9d8f97.iframe.bundle.js
  branches/develop/4149.f05680f8.iframe.bundle.js
  branches/develop/4149.f05680f8.iframe.bundle.js.LICENSE.txt
  branches/develop/7024.cd9e5b13.iframe.bundle.js
  branches/develop/7024.cd9e5b13.iframe.bundle.js.LICENSE.txt
  branches/develop/7024.fde078a6.iframe.bundle.js
  branches/develop/746.9aa2713f.iframe.bundle.js
  branches/develop/746.d1e9a5c2.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.34595ab7.iframe.bundle.js
  branches/develop/main.34595ab7.iframe.bundle.js.LICENSE.txt
  branches/develop/main.cf90904a.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.031c7434.iframe.bundle.js
  branches/develop/runtime~main.30d3bd27.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): truncation
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Truncation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Truncation.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-typography/__snapshots__/ic-typography.spec.ts.snap
  packages/web-components/src/components/ic-typography/ic-typography.css
  packages/web-components/src/components/ic-typography/ic-typography.e2e.ts
  packages/web-components/src/components/ic-typography/ic-typography.spec.ts
  packages/web-components/src/components/ic-typography/ic-typography.stories.mdx
  packages/web-components/src/components/ic-typography/ic-typography.tsx
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): adds story for typography truncation
  packages/react/src/stories/ic-typography.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@98c822916c841c7372b0588bb79ad54695ff7030 🚀
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/6512.4927e4ab.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/6512.6487f7fb.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/iframe.html
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.607d6251.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.f4f6eb8d.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.f4f6eb8d.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/project.json
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/runtime~main.47d4b5fc.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/runtime~main.8978c38e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@98c822916c841c7372b0588bb79ad54695ff7030 🚀
  branches/345-add-see-more-truncation-pattern-for-typography/react/5907.5f37c9ff.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/5907.bdb6bb89.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/iframe.html
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.6f936eed.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.6f936eed.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.b0a63819.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/project.json
  branches/345-add-see-more-truncation-pattern-for-typography/react/runtime~main.34451ea1.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/runtime~main.cb8851b7.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c85b7206e0952627ce2d11a8a861849863129ab4 🚀
  branches/660-review-select-searchbar-tests/web-components/2679.ba41a4cc.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/2679.d7170db4.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/2679.d7170db4.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/6663.0c743dd1.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/6663.c052a13b.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/6663.c052a13b.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/7733.9e22b9d2.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/7733.d06253a5.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/7733.d06253a5.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/9806.69651860.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/9806.c4dfc696.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/iframe.html
  branches/660-review-select-searchbar-tests/web-components/project.json
  branches/660-review-select-searchbar-tests/web-components/runtime~main.7af29203.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/runtime~main.e0df982f.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c85b7206e0952627ce2d11a8a861849863129ab4 🚀
  branches/660-review-select-searchbar-tests/react/1642.95b20b62.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/1642.95b20b62.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/1642.c4b62106.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/6225.9d9a9a43.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/6225.9d9a9a43.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/6225.e1cf60d8.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/8939.09e943eb.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/8939.c41cecf8.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/9257.0391de1c.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/9257.c9ff3022.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/9257.c9ff3022.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/iframe.html
  branches/660-review-select-searchbar-tests/react/project.json
  branches/660-review-select-searchbar-tests/react/runtime~main.0a4a2ad8.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/runtime~main.15ca0157.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixed focus behaviour on blurring of menu for ic-select
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-select/ic-select.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5678ea47f291c0af6fde3a3614e061e98c04d604 🚀
  branches/455-focus-fixes/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5678ea47f291c0af6fde3a3614e061e98c04d604 🚀
  branches/455-focus-fixes/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f249903d17a0ddb76d0e4c94811cb60db3d0b418 🚀
  branches/617-ic-menu-review-and-createupdate-unit-tests/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f249903d17a0ddb76d0e4c94811cb60db3d0b418 🚀
  branches/617-ic-menu-review-and-createupdate-unit-tests/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3e961b713c3361d44f870639fd997c0421f0f50b 🚀
  branches/develop/3140.03237e47.iframe.bundle.js
  branches/develop/3140.a7382f73.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.031c7434.iframe.bundle.js
  branches/develop/runtime~main.0a298502.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(web-components): update prop and event descriptions for select to be less ambiguous
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
