Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@6af34b65d8eee9b92fea098a00d985e55a127bdf 🚀
  branches/canary/develop/web-components/6663.4eeb8c86.iframe.bundle.js
  branches/canary/develop/web-components/6663.be99691b.iframe.bundle.js
  branches/canary/develop/web-components/6663.be99691b.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/web-components/iframe.html
  branches/canary/develop/web-components/project.json
  branches/canary/develop/web-components/runtime~main.5f370f66.iframe.bundle.js
  branches/canary/develop/web-components/runtime~main.63b0af2a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6af34b65d8eee9b92fea098a00d985e55a127bdf 🚀
  branches/canary/develop/react/1642.6b89dc4d.iframe.bundle.js
  branches/canary/develop/react/1642.85488de4.iframe.bundle.js
  branches/canary/develop/react/1642.85488de4.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/react/4342.c1dd0f3d.iframe.bundle.js
  branches/canary/develop/react/4342.c1dd0f3d.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/react/4342.e66ec0f9.iframe.bundle.js
  branches/canary/develop/react/iframe.html
  branches/canary/develop/react/project.json
  branches/canary/develop/react/runtime~main.044ee07d.iframe.bundle.js
  branches/canary/develop/react/runtime~main.893f2d2d.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(root): add ssr to pr checklist
  .github/pull_request_template.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@cd03b637632f705771322abfd9c1eb7434adb26b 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@cd03b637632f705771322abfd9c1eb7434adb26b 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@cd03b637632f705771322abfd9c1eb7434adb26b 🚀
  branches/canary/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@cd03b637632f705771322abfd9c1eb7434adb26b 🚀
  branches/canary/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@19629d6005516c96a040b979178b133ec0ed77f2 🚀
  branches/feature/1435-cypress-canary-react/web-components/6663.1f5f13dc.iframe.bundle.js
  branches/feature/1435-cypress-canary-react/web-components/6663.1f5f13dc.iframe.bundle.js.LICENSE.txt
  branches/feature/1435-cypress-canary-react/web-components/6663.88aa7cfe.iframe.bundle.js
  branches/feature/1435-cypress-canary-react/web-components/iframe.html
  branches/feature/1435-cypress-canary-react/web-components/project.json
  branches/feature/1435-cypress-canary-react/web-components/runtime~main.24f12f94.iframe.bundle.js
  branches/feature/1435-cypress-canary-react/web-components/runtime~main.8e84d14b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@19629d6005516c96a040b979178b133ec0ed77f2 🚀
  branches/feature/1435-cypress-canary-react/react/1642.5961ae45.iframe.bundle.js
  branches/feature/1435-cypress-canary-react/react/1642.5961ae45.iframe.bundle.js.LICENSE.txt
  branches/feature/1435-cypress-canary-react/react/1642.8a0ba6b6.iframe.bundle.js
  branches/feature/1435-cypress-canary-react/react/iframe.html
  branches/feature/1435-cypress-canary-react/react/project.json
  branches/feature/1435-cypress-canary-react/react/runtime~main.8f68ee00.iframe.bundle.js
  branches/feature/1435-cypress-canary-react/react/runtime~main.cbe2e4e5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@19629d6005516c96a040b979178b133ec0ed77f2 🚀
  branches/feature/1435-cypress-canary-react/canary-web-components/6663.4eeb8c86.iframe.bundle.js
  branches/feature/1435-cypress-canary-react/canary-web-components/6663.be99691b.iframe.bundle.js
  branches/feature/1435-cypress-canary-react/canary-web-components/6663.be99691b.iframe.bundle.js.LICENSE.txt
  branches/feature/1435-cypress-canary-react/canary-web-components/iframe.html
  branches/feature/1435-cypress-canary-react/canary-web-components/project.json
  branches/feature/1435-cypress-canary-react/canary-web-components/runtime~main.5f370f66.iframe.bundle.js
  branches/feature/1435-cypress-canary-react/canary-web-components/runtime~main.63b0af2a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@19629d6005516c96a040b979178b133ec0ed77f2 🚀
  branches/feature/1435-cypress-canary-react/canary-react/1642.6b89dc4d.iframe.bundle.js
  branches/feature/1435-cypress-canary-react/canary-react/1642.85488de4.iframe.bundle.js
  branches/feature/1435-cypress-canary-react/canary-react/1642.85488de4.iframe.bundle.js.LICENSE.txt
  branches/feature/1435-cypress-canary-react/canary-react/4342.c1dd0f3d.iframe.bundle.js
  branches/feature/1435-cypress-canary-react/canary-react/4342.c1dd0f3d.iframe.bundle.js.LICENSE.txt
  branches/feature/1435-cypress-canary-react/canary-react/4342.e66ec0f9.iframe.bundle.js
  branches/feature/1435-cypress-canary-react/canary-react/iframe.html
  branches/feature/1435-cypress-canary-react/canary-react/project.json
  branches/feature/1435-cypress-canary-react/canary-react/runtime~main.044ee07d.iframe.bundle.js
  branches/feature/1435-cypress-canary-react/canary-react/runtime~main.893f2d2d.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): update react storybook to v7.6.7
  packages/react/.babelrc.json
  packages/react/.storybook/main.js
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/public/favicon.png
  packages/react/public/favicon.svg
  packages/react/src/stories/ic-accordion.stories.mdx
  packages/react/src/stories/ic-button.stories.mdx
  packages/react/src/stories/ic-loading-indicator.stories.mdx
  packages/react/src/stories/ic-select.stories.mdx
  packages/react/src/stories/ic-theme.stories.mdx
  packages/react/src/stories/ic-typography.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): update web-components storybook to v7.6.7
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_All_prop_text_styles.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Italic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_All_prop_text_styles.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Italic.png
  packages/web-components/.storybook/main.js
  packages/web-components/package-lock.json
  packages/web-components/package.json
  packages/web-components/public/favicon.png
  packages/web-components/public/favicon.svg
  packages/web-components/src/components/ic-breadcrumb-group/ic-breadcrumb-group.stories.mdx
  packages/web-components/src/components/ic-button/ic-button.stories.mdx
  packages/web-components/src/components/ic-link/ic-link.stories.mdx
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.stories.mdx
  packages/web-components/src/components/ic-menu/test/basic/__snapshots__/ic-menu.spec.tsx.snap
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-select/ic-select.stories.mdx
  packages/web-components/src/components/ic-switch/ic-switch.stories.mdx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
  packages/web-components/src/components/ic-typography/ic-typography.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@5ed99f4085b2d7d3e2a120bf1575bc9af60e1ec4 🚀
  branches/977-upgrade-storybook-to-v7/web-components/5541.0fb5f4fd.iframe.bundle.js
  branches/977-upgrade-storybook-to-v7/web-components/5541.c5a3b884.iframe.bundle.js
  branches/977-upgrade-storybook-to-v7/web-components/iframe.html
  branches/977-upgrade-storybook-to-v7/web-components/project.json
  branches/977-upgrade-storybook-to-v7/web-components/runtime~main.2733bf75.iframe.bundle.js
  branches/977-upgrade-storybook-to-v7/web-components/runtime~main.2ca4b896.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5ed99f4085b2d7d3e2a120bf1575bc9af60e1ec4 🚀
  branches/977-upgrade-storybook-to-v7/react/9932.7b11ec5f.iframe.bundle.js
  branches/977-upgrade-storybook-to-v7/react/9932.a41fcb45.iframe.bundle.js
  branches/977-upgrade-storybook-to-v7/react/iframe.html
  branches/977-upgrade-storybook-to-v7/react/project.json
  branches/977-upgrade-storybook-to-v7/react/runtime~main.09a6d091.iframe.bundle.js
  branches/977-upgrade-storybook-to-v7/react/runtime~main.75903f7e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fbbe1becfb8cdf9fcf5aa5466dd1b6aa9fa99997 🚀
  branches/264-toggle-button/cypress-screenshots/IcToggleButton.cy.tsx-disabled.png
  branches/264-toggle-button/cypress-screenshots/IcToggleButton.cy.tsx-icon-right.png
  branches/264-toggle-button/cypress-screenshots/IcToggleButton.cy.tsx-icon-top.png
Due: none

chore(root): bumped dates to allow audit to pass
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9adaafd5041a8e7d48abd47cc8e6d9da3883a0d8 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9adaafd5041a8e7d48abd47cc8e6d9da3883a0d8 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9adaafd5041a8e7d48abd47cc8e6d9da3883a0d8 🚀
  branches/canary/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9adaafd5041a8e7d48abd47cc8e6d9da3883a0d8 🚀
  branches/canary/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(root): corrects info in contributing.md
  CONTRIBUTING.md
Due: remark

fix(web-components): update css for menu item so that css parts works in safari
  packages/web-components/src/components/ic-menu-item/ic-menu-item.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@4b45dd162540805dd93cba2c49d3952d1ef12741 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4b45dd162540805dd93cba2c49d3952d1ef12741 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4b45dd162540805dd93cba2c49d3952d1ef12741 🚀
  branches/canary/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4b45dd162540805dd93cba2c49d3952d1ef12741 🚀
  branches/canary/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@59921d9f7c454fe2667c97647ab144987443d1f6 🚀
  branches/popover-menu-not-displaying-items-safari/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@59921d9f7c454fe2667c97647ab144987443d1f6 🚀
  branches/popover-menu-not-displaying-items-safari/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
