Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@b815b562e6c3b6c6de410835fe9a5847ef2ff5a9 🚀
  branches/434-ic-popover-menu-component/react/2148.14374c14.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/2148.14374c14.iframe.bundle.js.LICENSE.txt
  branches/434-ic-popover-menu-component/react/2148.6a4f1951.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/4727.2f6bb012.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/4727.f97bf098.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/530.dfdd7524.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/530.dfdd7524.iframe.bundle.js.LICENSE.txt
  branches/434-ic-popover-menu-component/react/530.ffc7a39a.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/5505.c2abf37f.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/5505.fc866eb6.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/iframe.html
  branches/434-ic-popover-menu-component/react/main.bc4f5a1b.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/main.bc4f5a1b.iframe.bundle.js.LICENSE.txt
  branches/434-ic-popover-menu-component/react/main.cef8912d.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/project.json
  branches/434-ic-popover-menu-component/react/runtime~main.442e3fd3.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/runtime~main.d69e0f51.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b7da67c54071e088b2ae8d72d94fa3491d20aad4 🚀
  branches/434-ic-popover-menu-component/web-components/6165.8a37db8a.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/6165.c78f0d6a.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/7027.a97673d4.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/7027.b5ea5087.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/iframe.html
  branches/434-ic-popover-menu-component/web-components/project.json
  branches/434-ic-popover-menu-component/web-components/runtime~main.14812213.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/runtime~main.30b1b7f5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b7da67c54071e088b2ae8d72d94fa3491d20aad4 🚀
  branches/434-ic-popover-menu-component/react/4727.2f6bb012.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/4727.6846c3b0.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/5505.1ecc88b7.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/5505.fc866eb6.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/iframe.html
  branches/434-ic-popover-menu-component/react/project.json
  branches/434-ic-popover-menu-component/react/runtime~main.442e3fd3.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/runtime~main.ac47f4ca.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): regenerated docs CHANGELOG
  packages/docs/CHANGELOG.md
Due: remark

docs(fonts): regenerated fonts CHANGELOG
  packages/fonts/CHANGELOG.md
Due: remark

docs(web-components): regenerated web-components CHANGELOG
  packages/web-components/CHANGELOG.md
Due: remark

docs(react): regenerated react CHANGELOG
  packages/react/CHANGELOG.md
Due: remark

docs(root): regenerated CHANGELOGs
  CHANGELOG.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@3edde604916a971add0d6164f94d066f64d16946 🚀
  branches/434-ic-popover-menu-component/web-components/605.c25cb382.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/605.c25cb382.iframe.bundle.js.LICENSE.txt
  branches/434-ic-popover-menu-component/web-components/605.fffb3bd4.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/6165.8a37db8a.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/6165.ff646179.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/iframe.html
  branches/434-ic-popover-menu-component/web-components/main.a1db9fc8.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/main.b3174fba.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/main.b3174fba.iframe.bundle.js.LICENSE.txt
  branches/434-ic-popover-menu-component/web-components/project.json
  branches/434-ic-popover-menu-component/web-components/runtime~main.1ede2b54.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/runtime~main.30b1b7f5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3edde604916a971add0d6164f94d066f64d16946 🚀
  branches/434-ic-popover-menu-component/react/4418.4320f18f.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/4418.bcbce03a.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/4418.bcbce03a.iframe.bundle.js.LICENSE.txt
  branches/434-ic-popover-menu-component/react/4727.6846c3b0.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/4727.83918663.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/iframe.html
  branches/434-ic-popover-menu-component/react/main.59a793ac.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/main.59a793ac.iframe.bundle.js.LICENSE.txt
  branches/434-ic-popover-menu-component/react/main.bc4f5a1b.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/project.json
  branches/434-ic-popover-menu-component/react/runtime~main.3d626303.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/runtime~main.ac47f4ca.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add support query for hover/focus of links
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.css
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-footer-link/ic-footer-link.css
  packages/web-components/src/components/ic-link/ic-link.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@f5454b81270f90edb269c8a099f331848491385a 🚀
  branches/434-ic-popover-menu-component/web-components/6165.7bf2e93c.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/6165.ff646179.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/iframe.html
  branches/434-ic-popover-menu-component/web-components/project.json
  branches/434-ic-popover-menu-component/web-components/runtime~main.1ede2b54.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/runtime~main.841ad59c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f5454b81270f90edb269c8a099f331848491385a 🚀
  branches/434-ic-popover-menu-component/react/4727.83918663.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/4727.bb8664d8.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/iframe.html
  branches/434-ic-popover-menu-component/react/project.json
  branches/434-ic-popover-menu-component/react/runtime~main.3d626303.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/runtime~main.dccf315e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2350c4d4c1d4bfad99c4aabeac1c0fc1bdff1d3f 🚀
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/1912.32662447.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/1912.32662447.iframe.bundle.js.LICENSE.txt
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/1912.7a99ccf6.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/2679.1f9346b7.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/2679.1f9346b7.iframe.bundle.js.LICENSE.txt
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/2679.80d77747.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/504.251000b9.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/504.251000b9.iframe.bundle.js.LICENSE.txt
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/504.589f7a7e.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/5696.c8cb5550.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/5696.c8cb5550.iframe.bundle.js.LICENSE.txt
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/5696.dd549ed9.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/7733.15bdf4f6.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/7733.82479426.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/7733.82479426.iframe.bundle.js.LICENSE.txt
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/8753.37392b6a.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/8753.37392b6a.iframe.bundle.js.LICENSE.txt
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/8753.460cc538.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/9462.16c9c64e.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/9462.bd731378.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/iframe.html
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/main.93d9b023.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/main.fc0c9236.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/main.fc0c9236.iframe.bundle.js.LICENSE.txt
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/project.json
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/runtime~main.1789bbaf.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/web-components/runtime~main.4231e373.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2350c4d4c1d4bfad99c4aabeac1c0fc1bdff1d3f 🚀
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/530.5319ee5d.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/530.5319ee5d.iframe.bundle.js.LICENSE.txt
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/530.dbe751e8.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/5835.591fc3e6.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/5835.921e9ef5.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/5835.921e9ef5.iframe.bundle.js.LICENSE.txt
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/6225.2fb4fd7e.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/6225.2fb4fd7e.iframe.bundle.js.LICENSE.txt
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/6225.631a5e9a.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/6831.11fd8e46.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/6831.32bb16f9.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/6831.32bb16f9.iframe.bundle.js.LICENSE.txt
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/828.1a3c6583.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/828.bae2ac14.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/9257.9cda6222.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/9257.9cda6222.iframe.bundle.js.LICENSE.txt
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/9257.cbb2fefc.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/9570.00efcf3a.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/9570.30878d64.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/9570.30878d64.iframe.bundle.js.LICENSE.txt
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/iframe.html
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/main.e54df4a6.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/main.f9b7275f.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/main.f9b7275f.iframe.bundle.js.LICENSE.txt
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/project.json
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/runtime~main.6303e55b.iframe.bundle.js
  branches/508-hoverfocus-states-for-hyperlinks-not-displaying-on-safari/react/runtime~main.e30bd2d1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): update docs CHANGELOG
  packages/docs/CHANGELOG.md
Due: remark

docs(fonts): update fonts CHANGELOG
  packages/fonts/CHANGELOG.md
Due: remark

docs(react): update react CHANGELOG
  packages/react/CHANGELOG.md
Due: remark

docs(web-components): update web-components CHANGELOG
  packages/web-components/CHANGELOG.md
Due: remark

docs(root): [ci skip] update CHANGELOGs post release
  CHANGELOG.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@c9bf038e631ea0866987f5acca4dd2aebe77cad1 🚀
  branches/434-ic-popover-menu-component/web-components/605.5a4fa647.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/605.5a4fa647.iframe.bundle.js.LICENSE.txt
  branches/434-ic-popover-menu-component/web-components/605.c25cb382.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/iframe.html
  branches/434-ic-popover-menu-component/web-components/project.json
  branches/434-ic-popover-menu-component/web-components/runtime~main.2baaf1be.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/runtime~main.841ad59c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c9bf038e631ea0866987f5acca4dd2aebe77cad1 🚀
  branches/434-ic-popover-menu-component/react/4418.011ceb3b.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/4418.011ceb3b.iframe.bundle.js.LICENSE.txt
  branches/434-ic-popover-menu-component/react/4418.bcbce03a.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/iframe.html
  branches/434-ic-popover-menu-component/react/project.json
  branches/434-ic-popover-menu-component/react/runtime~main.7ca143e4.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/runtime~main.dccf315e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fe0dd1bb47e0f83826cd7ba01381de89fd8ffa27 🚀
  branches/268-search-select-loading-states/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fe0dd1bb47e0f83826cd7ba01381de89fd8ffa27 🚀
  branches/268-search-select-loading-states/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3accfd6af560397fc6cd0d398521f5d9e7241caf 🚀
  branches/434-ic-popover-menu-component/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3accfd6af560397fc6cd0d398521f5d9e7241caf 🚀
  branches/434-ic-popover-menu-component/react/iframe.html
  branches/434-ic-popover-menu-component/react/main.59a793ac.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/main.a4604367.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/main.a4604367.iframe.bundle.js.LICENSE.txt
  branches/434-ic-popover-menu-component/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add menu item and menu group sub components for new popover menu component
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-menu-group/__snapshots__/ic-menu-group.spec.ts.snap
  packages/web-components/src/components/ic-menu-group/ic-menu-group.css
  packages/web-components/src/components/ic-menu-group/ic-menu-group.spec.ts
  packages/web-components/src/components/ic-menu-group/ic-menu-group.tsx
  packages/web-components/src/components/ic-menu-group/readme.md
  packages/web-components/src/components/ic-menu-item/__snapshots__/ic-menu-item.spec.ts.snap
  packages/web-components/src/components/ic-menu-item/ic-menu-item.css
  packages/web-components/src/components/ic-menu-item/ic-menu-item.spec.ts
  packages/web-components/src/components/ic-menu-item/ic-menu-item.tsx
  packages/web-components/src/components/ic-menu-item/ic-menu-item.types.ts
  packages/web-components/src/components/ic-menu-item/readme.md
  packages/web-components/src/components/ic-navigation-menu/__snapshots__/ic-navigation-menu.spec.ts.snap
  packages/web-components/src/components/ic-search-bar/__snapshots__/ic-search-bar.spec.ts.snap
  packages/web-components/src/components/ic-select/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/global/variables.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark
