Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

chore(root): move scripts to scripts folder
  README.md
  package.json
  scripts/audit-prune.mjs
  scripts/check-audit-expiry.mjs
  scripts/pack-all-tars.sh
  scripts/update-audit.mjs
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

chore(angular-community-supported): change install path in docs
  packages/angular-community-supported/README.md
Due: remark

fix(web-components): Recalculate navigation group height
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
  packages/web-components/src/components/ic-navigation-group/test/basic/ic-navigation-group.spec.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(react): cover dialog scrollbar width stability
  packages/react/src/component-tests/IcDialog/IcDialog.cy.tsx
  packages/react/src/component-tests/IcDialog/IcDialogTestData.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): add fast-uri override and upgrade package versions
  package-lock.json
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(angular-community-supported): add fast-uri override and upgrade package versions
  packages/angular-community-supported/package-lock.json
  packages/angular-community-supported/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-react): add fast-uri and qs overrides and upgrade package versions
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-web-components): add fast-uri override and upgrade package versions
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(codemod): upgrade package versions as part of audit fix
  packages/codemod/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(nextjs): add fast-uri and postcss-selector-parser and upgrade package versions
  packages/nextjs/package-lock.json
  packages/nextjs/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write
