Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

preventDefault on arrow keys
  packages/web-components/src/components/ic-combobox/ic-combobox.tsx
  packages/web-components/src/components/ic-select-new/ic-select-new.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

form functionality
  packages/web-components/src/components/ic-combobox/ic-combobox.stories.js
  packages/web-components/src/components/ic-combobox/ic-combobox.tsx
  packages/web-components/src/components/ic-select-new/ic-select-new.stories.js
  packages/web-components/src/components/ic-select-new/ic-select-new.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

getMenuOptions moved to helpers and searchable/multiple validation improved
  packages/web-components/src/components/ic-combobox/ic-combobox.tsx
  packages/web-components/src/components/ic-select-new/ic-select-new.stories.js
  packages/web-components/src/components/ic-select-new/ic-select-new.tsx
  packages/web-components/src/utils/combobox-helpers.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3e997e2d83450bcbe056039537379f1df851e6f3 🚀
  branches/calendar-second-attempt/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/dark-mode-loading.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/density-dense-dropdown.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/selected-row-highlight.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/comparison/IcTableOfContents.cy.tsx/nested.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@3e997e2d83450bcbe056039537379f1df851e6f3 🚀
  branches/calendar-second-attempt/cypress-image-diff-html-report/report_04-11-2025_161212.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@bf9d9a0ac8a9640b682847bb1c5217729dc34ce2 🚀
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-html-report/report_05-11-2025_100115.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@873daea09921308c64e17cd620cda0d7847583f1 🚀
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/baseline/IcToast.cy.tsx/error.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/baseline/IcToast.cy.tsx/success.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-dark-theme.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-light-theme.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcToast.cy.tsx/ai.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcToast.cy.tsx/custom-aria-label.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcToast.cy.tsx/custom-icon.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcToast.cy.tsx/error.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcToast.cy.tsx/neutral.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcToast.cy.tsx/success.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/diff/IcToast.cy.tsx/ai.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/diff/IcToast.cy.tsx/custom-aria-label.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/diff/IcToast.cy.tsx/custom-icon.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/diff/IcToast.cy.tsx/error.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/diff/IcToast.cy.tsx/neutral.png
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-screenshots/diff/IcToast.cy.tsx/success.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@873daea09921308c64e17cd620cda0d7847583f1 🚀
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-html-report/report_05-11-2025_134122.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fea2695da8668d3c44fbf40fe8ab05f543fce638 🚀
  branches/calendar-second-attempt/web-components/iframe.html
  branches/calendar-second-attempt/web-components/main.d215f665.iframe.bundle.js
  branches/calendar-second-attempt/web-components/main.d215f665.iframe.bundle.js.map
  branches/calendar-second-attempt/web-components/main.d42c1a71.iframe.bundle.js
  branches/calendar-second-attempt/web-components/main.d42c1a71.iframe.bundle.js.map
  branches/calendar-second-attempt/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fea2695da8668d3c44fbf40fe8ab05f543fce638 🚀
  branches/calendar-second-attempt/react/iframe.html
  branches/calendar-second-attempt/react/main.786b2dd7.iframe.bundle.js
  branches/calendar-second-attempt/react/main.f056481b.iframe.bundle.js
  branches/calendar-second-attempt/react/main.f056481b.iframe.bundle.js.LICENSE.txt
  branches/calendar-second-attempt/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fea2695da8668d3c44fbf40fe8ab05f543fce638 🚀
  branches/calendar-second-attempt/canary-web-components/1192.0f310952.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/1192.20ebd74f.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/2062.50d9331f.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/2062.9860e2e4.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/2285.46336b97.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/2285.c9420ab9.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/4309.86c09d6a.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/4309.acb098a2.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/4423.01a25174.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/4423.b6fd185a.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/6402.0bcc91fe.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/6402.4244b38f.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/6568.c2f40bcf.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/6568.f24e9da9.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/6879.0ad90e3d.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/6879.35d7adba.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/7193.14308217.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/7193.9596abe4.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/9369.5ba1fbca.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/9369.f6cd9ef4.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-mdx.96ab4aa9.iframe.bundle.js.map
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-mdx.ad98eefa.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-mdx.ad98eefa.iframe.bundle.js.LICENSE.txt
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-mdx.ad98eefa.iframe.bundle.js.map
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-stories.6556754a.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-stories.6556754a.iframe.bundle.js.LICENSE.txt
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-stories.6556754a.iframe.bundle.js.map
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-stories.91a7991e.iframe.bundle.js.map
  branches/calendar-second-attempt/canary-web-components/iframe.html
  branches/calendar-second-attempt/canary-web-components/main.17f731d8.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/main.17f731d8.iframe.bundle.js.map
  branches/calendar-second-attempt/canary-web-components/main.3baad104.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/main.3baad104.iframe.bundle.js.map
  branches/calendar-second-attempt/canary-web-components/project.json
  branches/calendar-second-attempt/canary-web-components/runtime~main.199afc1d.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/runtime~main.df1b98c2.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fea2695da8668d3c44fbf40fe8ab05f543fce638 🚀
  branches/calendar-second-attempt/canary-react/1634.1413888a.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/1634.88503156.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/1873.1d4f142d.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/1873.fb389fb1.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/4467.2db438c8.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/4467.f387a56f.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/5534.63a303b0.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/5534.64d64d77.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/5995.22929c31.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/5995.f748d806.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/6476.bea9165e.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/6476.d5d25555.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/6532.9a2be728.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/6532.e330daad.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/7006.ed2338e0.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/7006.f319f948.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/7017.253c934f.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/7017.c78856aa.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/7681.4a1e8e6e.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/7681.64c02612.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/9688.540cb55a.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/9688.c67dae51.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/iframe.html
  branches/calendar-second-attempt/canary-react/main.5b16de8d.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/main.b24fdb8b.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/project.json
  branches/calendar-second-attempt/canary-react/runtime~main.8aafc981.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/runtime~main.8b587760.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/stories-ic-calendar-mdx.463d659c.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/stories-ic-calendar-mdx.f65595f8.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/stories-ic-calendar-stories.6c0fd764.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/stories-ic-calendar-stories.d6ded2ac.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@70143ab77a447a5479872f3abff55f14ff483e7a 🚀
  branches/calendar-second-attempt/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/show-hide-truncation-data-update.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/comparison/IcTableOfContents.cy.tsx/nested.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@70143ab77a447a5479872f3abff55f14ff483e7a 🚀
  branches/calendar-second-attempt/cypress-image-diff-html-report/report_05-11-2025_160044.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(root): pretty much all issues fixed
  packages/canary-docs/docs.json
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-card-horizontal/readme.md
  packages/canary-web-components/src/components/ic-date-picker/readme.md
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/readme.md
  packages/canary-web-components/src/components/ic-tree-view/readme.md
  packages/web-components/src/components/ic-tooltip/ic-tooltip.css
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@15f709aa21d5dbc0eea3f66ab1cab2d2054289e4 🚀
  branches/calendar-second-attempt/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@15f709aa21d5dbc0eea3f66ab1cab2d2054289e4 🚀
  branches/calendar-second-attempt/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@15f709aa21d5dbc0eea3f66ab1cab2d2054289e4 🚀
  branches/calendar-second-attempt/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@15f709aa21d5dbc0eea3f66ab1cab2d2054289e4 🚀
  branches/calendar-second-attempt/canary-react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(root): various issues fixed e.g. tooltips, sizes, responsive behaviour
  packages/canary-docs/docs.json
  packages/canary-web-components/src/components/ic-card-horizontal/readme.md
  packages/canary-web-components/src/components/ic-date-picker/readme.md
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-tree-view/readme.md
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@b38f462122d73edb110b859985e2e38a6a6458c5 🚀
  branches/calendar-second-attempt/cypress-image-diff-screenshots/baseline/IcCalendar.cy.tsx/days-outside-month-hidden.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/baseline/IcCalendar.cy.tsx/default-year-view.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/baseline/IcCalendar.cy.tsx/go-to-today-hidden.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/baseline/IcCalendar.cy.tsx/start-of-week.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/baseline/IcDatePicker.cy.tsx/go-to-today-hidden.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/comparison/IcCalendar.cy.tsx/days-outside-month-hidden.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/comparison/IcCalendar.cy.tsx/go-to-today-hidden.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/comparison/IcCalendar.cy.tsx/start-of-week.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/density-dense-dropdown.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/comparison/IcDatePicker.cy.tsx/go-to-today-hidden.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/diff/IcCalendar.cy.tsx/default-year-view.png
  branches/calendar-second-attempt/cypress-image-diff-screenshots/diff/IcCalendar.cy.tsx/start-of-week.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@b38f462122d73edb110b859985e2e38a6a6458c5 🚀
  branches/calendar-second-attempt/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/calendar-second-attempt/cypress-image-diff-html-report/report_10-11-2025_122651.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a1be30b58b5e7554dacf66200b9eaf29e2ea6fad 🚀
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcAccordion.cy.tsx/focused.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcBackToTop.cy.tsx/dark-theme.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcBackToTop.cy.tsx/position-left.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/full-width-open-selected.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-dark-theme.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/diff/IcBackToTop.cy.tsx/dark-theme.png
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-screenshots/diff/IcBackToTop.cy.tsx/position-left.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@a1be30b58b5e7554dacf66200b9eaf29e2ea6fad 🚀
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3963-time-input-milliseconds-ampm/cypress-image-diff-html-report/report_11-11-2025_093134.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a1be30b58b5e7554dacf66200b9eaf29e2ea6fad 🚀
  branches/3963-time-input-milliseconds-ampm/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a1be30b58b5e7554dacf66200b9eaf29e2ea6fad 🚀
  branches/3963-time-input-milliseconds-ampm/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a1be30b58b5e7554dacf66200b9eaf29e2ea6fad 🚀
  branches/3963-time-input-milliseconds-ampm/canary-web-components/2062.3f97eb21.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-web-components/2062.8a7c3b8d.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-web-components/8581.26d586e2.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-web-components/8581.26d586e2.iframe.bundle.js.LICENSE.txt
  branches/3963-time-input-milliseconds-ampm/canary-web-components/8581.26d586e2.iframe.bundle.js.map
  branches/3963-time-input-milliseconds-ampm/canary-web-components/8581.92086629.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-web-components/8581.92086629.iframe.bundle.js.map
  branches/3963-time-input-milliseconds-ampm/canary-web-components/iframe.html
  branches/3963-time-input-milliseconds-ampm/canary-web-components/main.a579b1ae.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-web-components/main.a579b1ae.iframe.bundle.js.map
  branches/3963-time-input-milliseconds-ampm/canary-web-components/main.b31e9b6b.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-web-components/main.b31e9b6b.iframe.bundle.js.map
  branches/3963-time-input-milliseconds-ampm/canary-web-components/project.json
  branches/3963-time-input-milliseconds-ampm/canary-web-components/runtime~main.26398199.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-web-components/runtime~main.6530c4e8.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a1be30b58b5e7554dacf66200b9eaf29e2ea6fad 🚀
  branches/3963-time-input-milliseconds-ampm/canary-react/1873.3712e4b3.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/1873.f79ceba0.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/7681.15d7875b.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/7681.c7307d24.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/iframe.html
  branches/3963-time-input-milliseconds-ampm/canary-react/project.json
  branches/3963-time-input-milliseconds-ampm/canary-react/runtime~main.65945015.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-react/runtime~main.fb428c43.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@22fd6f2e594778e7935bcb7a368e62c0426fbf74 🚀
  branches/calendar-second-attempt/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@22fd6f2e594778e7935bcb7a368e62c0426fbf74 🚀
  branches/calendar-second-attempt/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@22fd6f2e594778e7935bcb7a368e62c0426fbf74 🚀
  branches/calendar-second-attempt/canary-web-components/2285.8e2c4c07.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/2285.c9420ab9.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/7193.3d9e98fc.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/7193.9596abe4.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/iframe.html
  branches/calendar-second-attempt/canary-web-components/project.json
  branches/calendar-second-attempt/canary-web-components/runtime~main.df1b98c2.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/runtime~main.f1d0ab08.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@22fd6f2e594778e7935bcb7a368e62c0426fbf74 🚀
  branches/calendar-second-attempt/canary-react/6532.227e9e83.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/6532.e330daad.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/7006.8080e0b2.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/7006.f319f948.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/iframe.html
  branches/calendar-second-attempt/canary-react/project.json
  branches/calendar-second-attempt/canary-react/runtime~main.8a1a55e3.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/runtime~main.8b587760.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write
