Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

fix(web-components): replaced box-shadow for page-header selected nav item
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
Due: stylelint --fix

test(web-components): test
  .github/workflows/ic-ui-kit-main.yml
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@6f5c3b2bd07acf5a711729522776a82be4e11564 🚀
  branches/develop/7420.65a152a8.iframe.bundle.js
  branches/develop/7420.829b2484.iframe.bundle.js
  branches/develop/7420.829b2484.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.0a298502.iframe.bundle.js
  branches/develop/runtime~main.19e4610f.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(root): test
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@44cec6412fa3896793f323fb7b8195c4e73e4a92 🚀
  branches/617-ic-menu-review-and-createupdate-unit-tests/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@44cec6412fa3896793f323fb7b8195c4e73e4a92 🚀
  branches/617-ic-menu-review-and-createupdate-unit-tests/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add condition to menu item aria label so it doesn't read undefined menu group
  packages/web-components/src/components/ic-menu-group/__snapshots__/ic-menu-group.spec.ts.snap
  packages/web-components/src/components/ic-menu-item/ic-menu-item.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7ee397ab166453c70c682a030cb39644e2414565 🚀
  branches/656-aria-label-issue-with-menu-group-without-label-in-popover-menu/web-components/6165.5c8c48be.iframe.bundle.js
  branches/656-aria-label-issue-with-menu-group-without-label-in-popover-menu/web-components/6165.f62d6f46.iframe.bundle.js
  branches/656-aria-label-issue-with-menu-group-without-label-in-popover-menu/web-components/iframe.html
  branches/656-aria-label-issue-with-menu-group-without-label-in-popover-menu/web-components/project.json
  branches/656-aria-label-issue-with-menu-group-without-label-in-popover-menu/web-components/runtime~main.19e4610f.iframe.bundle.js
  branches/656-aria-label-issue-with-menu-group-without-label-in-popover-menu/web-components/runtime~main.3821bd97.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7ee397ab166453c70c682a030cb39644e2414565 🚀
  branches/656-aria-label-issue-with-menu-group-without-label-in-popover-menu/react/4727.92896a56.iframe.bundle.js
  branches/656-aria-label-issue-with-menu-group-without-label-in-popover-menu/react/4727.be9d53ca.iframe.bundle.js
  branches/656-aria-label-issue-with-menu-group-without-label-in-popover-menu/react/iframe.html
  branches/656-aria-label-issue-with-menu-group-without-label-in-popover-menu/react/project.json
  branches/656-aria-label-issue-with-menu-group-without-label-in-popover-menu/react/runtime~main.00aa06ef.iframe.bundle.js
  branches/656-aria-label-issue-with-menu-group-without-label-in-popover-menu/react/runtime~main.f67cb433.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixed focus behaviour on blurring of menu for ic-select
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-select/ic-select.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): adds story for typography truncation
  packages/react/src/stories/ic-typography.stories.mdx
Due: remark

feat(web-components): truncation
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Truncation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Truncation.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-typography/__snapshots__/ic-typography.spec.ts.snap
  packages/web-components/src/components/ic-typography/ic-typography.css
  packages/web-components/src/components/ic-typography/ic-typography.e2e.ts
  packages/web-components/src/components/ic-typography/ic-typography.spec.ts
  packages/web-components/src/components/ic-typography/ic-typography.stories.mdx
  packages/web-components/src/components/ic-typography/ic-typography.tsx
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@37e673766dfbdd11206c02a6baa06a2625314333 🚀
  branches/develop/2679.132b2642.iframe.bundle.js
  branches/develop/2679.132b2642.iframe.bundle.js.LICENSE.txt
  branches/develop/2679.d7170db4.iframe.bundle.js
  branches/develop/6512.1d70117b.iframe.bundle.js
  branches/develop/6512.6487f7fb.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.34595ab7.iframe.bundle.js
  branches/develop/main.df2535d0.iframe.bundle.js
  branches/develop/main.df2535d0.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.19e4610f.iframe.bundle.js
  branches/develop/runtime~main.4ce08879.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): changes ic-search-bar animation to match ic-select behaviour
  packages/web-components/src/components/ic-menu/__snapshots__/ic-menu.spec.tsx.snap
  packages/web-components/src/components/ic-menu/ic-menu.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@704899e177a08a8d686f56642c5ed85eae1ad6aa 🚀
  branches/660-review-select-searchbar-tests/web-components/2679.132b2642.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/2679.132b2642.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/2679.d7170db4.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/3140.03237e47.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/3140.b026741f.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/4149.1f9d8f97.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/4149.f05680f8.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/4149.f05680f8.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/6512.1d70117b.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/6512.6487f7fb.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/7024.cd9e5b13.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/7024.cd9e5b13.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/7024.fde078a6.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/7420.65a152a8.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/7420.829b2484.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/7420.829b2484.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/746.9aa2713f.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/746.d1e9a5c2.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/iframe.html
  branches/660-review-select-searchbar-tests/web-components/main.6fbd7021.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/main.df2535d0.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/main.df2535d0.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/project.json
  branches/660-review-select-searchbar-tests/web-components/runtime~main.7e1135d2.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/runtime~main.e0df982f.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@704899e177a08a8d686f56642c5ed85eae1ad6aa 🚀
  branches/660-review-select-searchbar-tests/react/2148.20eaf686.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/2148.20eaf686.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/2148.c71d6f50.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/2814.01d27fc8.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/2814.732685c6.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/4147.2941c10c.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/4147.2941c10c.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/4147.fbf88fda.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/5907.5f37c9ff.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/5907.f217baf2.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/8465.6315f399.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/8465.6afb009b.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/9257.6e007082.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/9257.6e007082.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/9257.c9ff3022.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/9421.87dc4d43.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/9421.9929cbfb.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/9421.9929cbfb.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/iframe.html
  branches/660-review-select-searchbar-tests/react/main.6f936eed.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/main.6f936eed.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/main.c8f8196f.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/project.json
  branches/660-review-select-searchbar-tests/react/runtime~main.15ca0157.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/runtime~main.d48c3182.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@be2fa227af3fe0b71fa45f782928bc761d0b1d73 🚀
  branches/617-ic-menu-review-and-createupdate-unit-tests/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@be2fa227af3fe0b71fa45f782928bc761d0b1d73 🚀
  branches/617-ic-menu-review-and-createupdate-unit-tests/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@74ffdf9ce927b1fe64801b3c5217d99a486c6e3f 🚀
  branches/a11y/dialog/web-components/2679.132b2642.iframe.bundle.js
  branches/a11y/dialog/web-components/2679.132b2642.iframe.bundle.js.LICENSE.txt
  branches/a11y/dialog/web-components/2679.d7170db4.iframe.bundle.js
  branches/a11y/dialog/web-components/6512.1d70117b.iframe.bundle.js
  branches/a11y/dialog/web-components/6512.6487f7fb.iframe.bundle.js
  branches/a11y/dialog/web-components/iframe.html
  branches/a11y/dialog/web-components/main.2d47c8d4.iframe.bundle.js
  branches/a11y/dialog/web-components/main.2d47c8d4.iframe.bundle.js.LICENSE.txt
  branches/a11y/dialog/web-components/main.eac090a2.iframe.bundle.js
  branches/a11y/dialog/web-components/project.json
  branches/a11y/dialog/web-components/runtime~main.56b79c8c.iframe.bundle.js
  branches/a11y/dialog/web-components/runtime~main.d87f4d0e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@74ffdf9ce927b1fe64801b3c5217d99a486c6e3f 🚀
  branches/a11y/dialog/react/5907.5f37c9ff.iframe.bundle.js
  branches/a11y/dialog/react/5907.f217baf2.iframe.bundle.js
  branches/a11y/dialog/react/9257.6e007082.iframe.bundle.js
  branches/a11y/dialog/react/9257.6e007082.iframe.bundle.js.LICENSE.txt
  branches/a11y/dialog/react/9257.c9ff3022.iframe.bundle.js
  branches/a11y/dialog/react/iframe.html
  branches/a11y/dialog/react/main.0bff6b62.iframe.bundle.js
  branches/a11y/dialog/react/main.0bff6b62.iframe.bundle.js.LICENSE.txt
  branches/a11y/dialog/react/main.dc9a5e55.iframe.bundle.js
  branches/a11y/dialog/react/project.json
  branches/a11y/dialog/react/runtime~main.5d7cdb44.iframe.bundle.js
  branches/a11y/dialog/react/runtime~main.a8381b7f.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): create size variants for checkboxes
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Conditional_dynamic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Form.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Hidden_label.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Indeterminate.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Required.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Sizes.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Conditional_dynamic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Hidden_label.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Indeterminate.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Required.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Sizes.png
  packages/web-components/package-lock.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/ic-button.types.ts
  packages/web-components/src/components/ic-checkbox-group/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox-group/readme.md
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-chip/ic-chip.types.ts
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark
