Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@1cae018ad017dbd08823d676601b7edf57199022 🚀
  branches/feature/111-no-results-state-when-filter-disabled/27.713f4d8c.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/27.713f4d8c.iframe.bundle.js.LICENSE.txt
  branches/feature/111-no-results-state-when-filter-disabled/27.713f4d8c.iframe.bundle.js.map
  branches/feature/111-no-results-state-when-filter-disabled/27.bfbefe00.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/27.bfbefe00.iframe.bundle.js.map
  branches/feature/111-no-results-state-when-filter-disabled/iframe.html
  branches/feature/111-no-results-state-when-filter-disabled/project.json
  branches/feature/111-no-results-state-when-filter-disabled/runtime~main.69183afe.iframe.bundle.js
  branches/feature/111-no-results-state-when-filter-disabled/runtime~main.77c89b43.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(web-components): add documentation for router-item slot in ic-link
  packages/web-components/src/components/ic-link/ic-link.tsx
  packages/web-components/src/components/ic-link/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(react): updated readme pointing consumers to web components CHANGELOG
  packages/react/README.md
Due: remark

build(react): update package-lock
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): fixes vulnerabilities highlighted by npm audit
  audit-ci.json
  package-lock.json
  package.json
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): remove min-width on the title area that was causing an overflow
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_breadcrumbs_input_actions_and_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_breadcrumbs_input_actions_and_tabs.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_input.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_breadcrumbs_input_actions_and_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_breadcrumbs_input_actions_and_tabs.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_input.png
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/components/ic-page-header/ic-page-header.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): adds support for form reset event
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Form.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Switch_Default_in_form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Default_in_form.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-checkbox-group/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.e2e.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-radio-group/__snapshots__/ic-radio-group.spec.ts.snap
  packages/web-components/src/components/ic-radio-group/ic-radio-group.e2e.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.spec.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.stories.mdx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-select/ic-select.e2e.ts
  packages/web-components/src/components/ic-select/ic-select.spec.ts
  packages/web-components/src/components/ic-select/ic-select.stories.mdx
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-switch/__snapshots__/ic-switch.spec.ts.snap
  packages/web-components/src/components/ic-switch/ic-switch.spec.ts
  packages/web-components/src/components/ic-switch/ic-switch.stories.mdx
  packages/web-components/src/components/ic-switch/ic-switch.tsx
  packages/web-components/src/components/ic-switch/readme.md
  packages/web-components/src/components/ic-text-field/__snapshots__/ic-text-field.input.spec.tsx.snap
  packages/web-components/src/components/ic-text-field/ic-text-field.e2e.ts
  packages/web-components/src/components/ic-text-field/ic-text-field.input.spec.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.stories.mdx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(root): updated version scope in lerna from independent to fixed
  lerna.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(root): updated dependabot to not make version change PRs
  .github/dependabot.yml
Due: none

chore(web-components): roll back mdx react package
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fix light footer link turning blue
  packages/web-components/src/components/ic-footer-link/ic-footer-link.css
Due: stylelint --fix

fix(web-components): update alert neutral colour
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Custom_message.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Dismissible.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Dismissible_with_action.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Message_only.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Responsive_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Title_above.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Variants.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_With_action.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Custom_message.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Dismissible.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Dismissible_with_action.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Message_only.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Responsive_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Title_above.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Variants.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_With_action.png
  packages/web-components/src/components/ic-alert/ic-alert.css
Due: stylelint --fix

fix(web-components): set text field input width to 100%
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Conditional_dynamic.png
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
Due: stylelint --fix

chore(root): updated issues workflow
  .github/workflows/auto-add-new-issues-to-project.yml
Due: none

feat(react): update react stories to have appearance light for tabs
  packages/react/src/stories/ic-tabs.stories.mdx
Due: remark

build(root): added dependabot to actions ignore list
  .github/workflows/ic-ui-kit-branches.yml
Due: none

build(fonts): update package-lock
  packages/fonts/package-lock.json
  packages/web-components/src/components/ic-page-header/ic-page-header.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): remove margin left on end component and add max width to value on xs breakpoint
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Long_text_values.png
  packages/web-components/src/components/ic-data-row/ic-data-row.css
Due: stylelint --fix

ci(root): fixed conflicting peer dependancies
  package-lock.json
  package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): remove clashing button styles from dismissable alert
  packages/web-components/src/components/ic-alert/ic-alert.css
Due: stylelint --fix

docs(root): add docs for testing
  TESTING.md
Due: remark

docs(root): add line to readme to say that only signed commits can be merged
  CONTRIBUTING.md
Due: remark

feat(web-components): add appearance prop to tab panel and switch around appearance light/dark
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tabs_Dark.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tabs_Light_text.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tabs_Responsive_Light_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tabs_Dark.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tabs_Light_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tabs_Responsive_Light_text.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-context/ic-tabs.stories.mdx
  packages/web-components/src/components/ic-tab-context/readme.md
  packages/web-components/src/components/ic-tab-group/ic-tab-group.css
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.css
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-tab/ic-tab.css
  packages/web-components/src/components/ic-tab/ic-tab.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): fix the width of the hero for mobile devices
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Card_right_content.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Center_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Full_width.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Image_right_content.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Left_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Long_heading.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Search_bar_interaction.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Small.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_no_parallax_effect.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_parallax_effect.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_Card_right_content.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_Image_right_content.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_Long_heading.png
  packages/web-components/src/components/ic-hero/ic-hero.css
Due: stylelint --fix

feat(web-components): fixes for high contrast focus
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.css
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-footer-link-group/ic-footer-link-group.css
  packages/web-components/src/components/ic-footer-link/ic-footer-link.css
  packages/web-components/src/components/ic-input-component-container/ic-input-component-container.css
  packages/web-components/src/components/ic-link/ic-link.css
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-tab-group/ic-tab-group.css
  packages/web-components/src/components/ic-tab/ic-tab.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/global/variables.css
Due: stylelint --fix

feat(web-components): adds focus borders for high contrast mode
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.css
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-footer-link-group/ic-footer-link-group.css
  packages/web-components/src/components/ic-footer-link/ic-footer-link.css
  packages/web-components/src/components/ic-input-component-container/ic-input-component-container.css
  packages/web-components/src/components/ic-link/ic-link.css
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-tab-group/ic-tab-group.css
  packages/web-components/src/components/ic-tab/ic-tab.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/global/variables.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@e01110c1523d7b8df138c0e0db4ab9b42324658b 🚀
  branches/feature/111-no-results-state-when-filter-disabled/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8be06f20856c4a32049085a0dcd68e8a26171905 🚀
  branches/high-contrast/34.4e1326fa.iframe.bundle.js
  branches/high-contrast/34.aae49f78.iframe.bundle.js
  branches/high-contrast/42.b382f361.iframe.bundle.js
  branches/high-contrast/42.b382f361.iframe.bundle.js.LICENSE.txt
  branches/high-contrast/42.b382f361.iframe.bundle.js.map
  branches/high-contrast/42.cd50061f.iframe.bundle.js
  branches/high-contrast/42.cd50061f.iframe.bundle.js.map
  branches/high-contrast/iframe.html
  branches/high-contrast/project.json
  branches/high-contrast/runtime~main.101e8ec4.iframe.bundle.js
  branches/high-contrast/runtime~main.68f72bc6.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

revert(root): reverted back to 2.0.0 commit due to incorrect versioning
  .github/workflows/ic-ui-kit-main.yml
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@6bf2c12e74f67c30a12ed86e58748ad043ed9de6 🚀
  branches/high-contrast/42.51b8e742.iframe.bundle.js
  branches/high-contrast/42.51b8e742.iframe.bundle.js.LICENSE.txt
  branches/high-contrast/42.51b8e742.iframe.bundle.js.map
  branches/high-contrast/42.b382f361.iframe.bundle.js
  branches/high-contrast/42.b382f361.iframe.bundle.js.map
  branches/high-contrast/iframe.html
  branches/high-contrast/project.json
  branches/high-contrast/runtime~main.68f72bc6.iframe.bundle.js
  branches/high-contrast/runtime~main.7a98ef30.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
