Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@03abd33eb1841b8172075f0f4f4d86d9aa18cb88 🚀
  branches/529-using-buttons-in-cards-creates-overlay-issue-on-mobilesmaller-viewports/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e71990f1867d3548b5b736627e0bb34c3b996370 🚀
  branches/268-search-select-loading-states/web-components/2679.0605f6a6.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/2679.d81519f1.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/2679.d81519f1.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/605.1d555c6e.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/605.910f4e9e.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/605.910f4e9e.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/7733.d5897646.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/7733.ec2649fd.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/7733.ec2649fd.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/iframe.html
  branches/268-search-select-loading-states/web-components/main.17a1914f.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/main.b109845e.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/main.b109845e.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/project.json
  branches/268-search-select-loading-states/web-components/runtime~main.6566d3e1.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/runtime~main.c21e94fd.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e71990f1867d3548b5b736627e0bb34c3b996370 🚀
  branches/268-search-select-loading-states/react/4418.3c1ed299.iframe.bundle.js
  branches/268-search-select-loading-states/react/4418.3c1ed299.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/4418.b50d52bd.iframe.bundle.js
  branches/268-search-select-loading-states/react/6225.d210c39a.iframe.bundle.js
  branches/268-search-select-loading-states/react/6225.d210c39a.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/6225.d9d223fc.iframe.bundle.js
  branches/268-search-select-loading-states/react/9257.405243f0.iframe.bundle.js
  branches/268-search-select-loading-states/react/9257.4f7244fc.iframe.bundle.js
  branches/268-search-select-loading-states/react/9257.4f7244fc.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/iframe.html
  branches/268-search-select-loading-states/react/main.09485909.iframe.bundle.js
  branches/268-search-select-loading-states/react/main.09485909.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/main.5cd71dd1.iframe.bundle.js
  branches/268-search-select-loading-states/react/project.json
  branches/268-search-select-loading-states/react/runtime~main.05dca809.iframe.bundle.js
  branches/268-search-select-loading-states/react/runtime~main.20b8f105.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): added functionality to link tabs when added programatically
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.spec.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-tab-panel/readme.md
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-tab/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

build(react): updated package.lock file
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@13162b7071b004adfb2ac960ae9fcc72d94c9c4e 🚀
  branches/568-tabcontext-update-tabid/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@13162b7071b004adfb2ac960ae9fcc72d94c9c4e 🚀
  branches/568-tabcontext-update-tabid/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): updated alert.css file
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Dismissible_with_action.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_With_action.png
  packages/web-components/src/components/ic-alert/ic-alert.css
Due: stylelint --fix

chore(root): testing github context for githuub actions
  .github/workflows/ic-ui-kit-branches.yml
Due: none

ci(root): added condition to feature branch CI
  .github/workflows/ic-ui-kit-branches.yml
Due: none

ci(root): automate release check, develop -> main PR and starting design system workflow
  .github/workflows/ic-ui-kit-main.yml
  .github/workflows/ic-ui-kit-release.yml
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@4fb0b1b1512b10cdc632570ce27196fe4b7057a8 🚀
  branches/automate-release/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4fb0b1b1512b10cdc632570ce27196fe4b7057a8 🚀
  branches/automate-release/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b030b410487097ca54075d91fbb955ef92042f64 🚀
  branches/pagination-1/web-components/3364.31b26b1c.iframe.bundle.js
  branches/pagination-1/web-components/3364.e98447f2.iframe.bundle.js
  branches/pagination-1/web-components/9806.9827ac8b.iframe.bundle.js
  branches/pagination-1/web-components/9806.f7b9c7d5.iframe.bundle.js
  branches/pagination-1/web-components/iframe.html
  branches/pagination-1/web-components/main.466460e5.iframe.bundle.js
  branches/pagination-1/web-components/main.466460e5.iframe.bundle.js.LICENSE.txt
  branches/pagination-1/web-components/main.95f19253.iframe.bundle.js
  branches/pagination-1/web-components/project.json
  branches/pagination-1/web-components/runtime~main.22b684a1.iframe.bundle.js
  branches/pagination-1/web-components/runtime~main.c4c23ade.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b030b410487097ca54075d91fbb955ef92042f64 🚀
  branches/pagination-1/react/3630.3a4c8914.iframe.bundle.js
  branches/pagination-1/react/3630.6e04479a.iframe.bundle.js
  branches/pagination-1/react/8939.83663b0f.iframe.bundle.js
  branches/pagination-1/react/8939.83d1dd79.iframe.bundle.js
  branches/pagination-1/react/iframe.html
  branches/pagination-1/react/main.568366cf.iframe.bundle.js
  branches/pagination-1/react/main.568366cf.iframe.bundle.js.LICENSE.txt
  branches/pagination-1/react/main.5a9b71d4.iframe.bundle.js
  branches/pagination-1/react/project.json
  branches/pagination-1/react/runtime~main.42f57c4f.iframe.bundle.js
  branches/pagination-1/react/runtime~main.dae35c65.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1b9b1ab4a045c4babdfa4c48f4a0fd0a3901a894 🚀
  branches/develop/5129.21ee629a.iframe.bundle.js
  branches/develop/5129.b0edfd9b.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.0f9943c4.iframe.bundle.js
  branches/develop/runtime~main.bbf487d7.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e544f4f0dd488cc93ad72ebe628936736a89712a 🚀
  branches/pagination-1/web-components/iframe.html
  branches/pagination-1/web-components/main.1763be42.iframe.bundle.js
  branches/pagination-1/web-components/main.1763be42.iframe.bundle.js.LICENSE.txt
  branches/pagination-1/web-components/main.466460e5.iframe.bundle.js
  branches/pagination-1/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e544f4f0dd488cc93ad72ebe628936736a89712a 🚀
  branches/pagination-1/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8d92059d1be50e72fb675ef8c975477f132adbf4 🚀
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/web-components/1099.d72720d0.iframe.bundle.js
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/web-components/1099.e4946875.iframe.bundle.js
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/web-components/1099.e4946875.iframe.bundle.js.LICENSE.txt
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/web-components/9703.271bd7e8.iframe.bundle.js
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/web-components/9703.3cbe80f6.iframe.bundle.js
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/web-components/iframe.html
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/web-components/project.json
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/web-components/runtime~main.28b8579b.iframe.bundle.js
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/web-components/runtime~main.ff410128.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8d92059d1be50e72fb675ef8c975477f132adbf4 🚀
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/react/1573.0e676bf3.iframe.bundle.js
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/react/1573.b0f03349.iframe.bundle.js
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/react/5729.118e89ab.iframe.bundle.js
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/react/5729.118e89ab.iframe.bundle.js.LICENSE.txt
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/react/5729.c375e9af.iframe.bundle.js
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/react/iframe.html
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/react/project.json
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/react/runtime~main.3e388f05.iframe.bundle.js
  branches/332-truncation-behaviour-for-internal-labels-in-non-interactive-components/react/runtime~main.7a696397.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9dec5bcf2b630d060a6788d35e7180a0f589504c 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): removed negative left margin in app title container
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_no_parallax_effect.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_parallax_effect.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_App_icon_and_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Content_left_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Long_app_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Long_single_word_app_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Status_and_version.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_grouped_navigation.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_icons.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_navigation.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_search.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_With_background_image_no_parallax_effect.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_With_background_image_parallax_effect.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_App_icon_and_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Content_left_aligned.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Long_app_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Long_single_word_app_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Status_and_version.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_grouped_navigation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_navigation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_search.png
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@2478962198c2fb05568d08b6c73a29c6f2946dd0 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixed boolean css properties
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-checkbox-group/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.css
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/components/ic-hero/__snapshots__/ic-hero.spec.ts.snap
  packages/web-components/src/components/ic-hero/ic-hero.css
  packages/web-components/src/components/ic-hero/ic-hero.tsx
  packages/web-components/src/components/ic-horizontal-scroll/ic-horizontal-scroll.css
  packages/web-components/src/components/ic-loading-indicator/__snapshots__/ic-loading-indicator.spec.ts.snap
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
  packages/web-components/src/components/ic-radio-group/__snapshots__/ic-radio-group.spec.ts.snap
  packages/web-components/src/components/ic-radio-group/ic-radio-group.css
  packages/web-components/src/components/ic-radio-group/ic-radio-group.tsx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-tab-group/ic-tab-group.css
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.css
  packages/web-components/src/components/ic-tab/ic-tab.css
  packages/web-components/src/components/ic-tab/ic-tab.spec.ts
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
