Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

chore(canary-web-components): excludes toggle button from canary package
  packages/canary-web-components/stencil.config.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5bcfef7da47f4790f74398d2c31a2c44b09d216c 🚀
  branches/develop/web-components/1293.853e0f0e.iframe.bundle.js
  branches/develop/web-components/5541.ba755c61.iframe.bundle.js
  branches/develop/web-components/5541.c5a3b884.iframe.bundle.js
  branches/develop/web-components/8983.dd44439a.iframe.bundle.js
  branches/develop/web-components/8983.fd28000c.iframe.bundle.js
  branches/develop/web-components/8983.fd28000c.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.5bf7c4c8.iframe.bundle.js
  branches/develop/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.5bf7c4c8.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.5bf7c4c8.iframe.bundle.js.map
  branches/develop/web-components/iframe.html
  branches/develop/web-components/index.json
  branches/develop/web-components/main.177f29e0.iframe.bundle.js
  branches/develop/web-components/main.daba88ae.iframe.bundle.js
  branches/develop/web-components/project.json
  branches/develop/web-components/runtime~main.1fe04f6f.iframe.bundle.js
  branches/develop/web-components/runtime~main.cd93d16a.iframe.bundle.js
  branches/develop/web-components/stories.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f28fbeeb12341157cc44d6c0a0f8ceead637512c 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f28fbeeb12341157cc44d6c0a0f8ceead637512c 🚀
  branches/develop/react/6813.68fc99cd.iframe.bundle.js
  branches/develop/react/6813.75147649.iframe.bundle.js
  branches/develop/react/9818.e58aa5b1.iframe.bundle.js
  branches/develop/react/9932.3d5373a6.iframe.bundle.js
  branches/develop/react/9932.7b11ec5f.iframe.bundle.js
  branches/develop/react/iframe.html
  branches/develop/react/index.json
  branches/develop/react/main.0bf3ca24.iframe.bundle.js
  branches/develop/react/main.d0b75a5a.iframe.bundle.js
  branches/develop/react/project.json
  branches/develop/react/runtime~main.2ec27151.iframe.bundle.js
  branches/develop/react/runtime~main.45b31038.iframe.bundle.js
  branches/develop/react/stories-ic-button-stories-mdx.80b46531.iframe.bundle.js
  branches/develop/react/stories-ic-button-stories-mdx.96bd22f8.iframe.bundle.js
  branches/develop/react/stories-ic-toggle-button-stories-mdx.064cdd59.iframe.bundle.js
  branches/develop/react/stories-ic-toggle-button-stories-mdx.064cdd59.iframe.bundle.js.LICENSE.txt
  branches/develop/react/stories.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f28fbeeb12341157cc44d6c0a0f8ceead637512c 🚀
  branches/canary/develop/web-components/1293.893f761d.iframe.bundle.js
  branches/canary/develop/web-components/5541.14d8e3ec.iframe.bundle.js
  branches/canary/develop/web-components/5541.568591b4.iframe.bundle.js
  branches/canary/develop/web-components/iframe.html
  branches/canary/develop/web-components/main.6d47b645.iframe.bundle.js
  branches/canary/develop/web-components/main.963de8f1.iframe.bundle.js
  branches/canary/develop/web-components/project.json
  branches/canary/develop/web-components/runtime~main.2d6a1394.iframe.bundle.js
  branches/canary/develop/web-components/runtime~main.3f17b9ef.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f28fbeeb12341157cc44d6c0a0f8ceead637512c 🚀
  branches/canary/develop/react/9388.4f8276d0.iframe.bundle.js
  branches/canary/develop/react/9539.7d82c797.iframe.bundle.js
  branches/canary/develop/react/9539.fca67431.iframe.bundle.js
  branches/canary/develop/react/9818.a3a27ad9.iframe.bundle.js
  branches/canary/develop/react/9932.0f7950ba.iframe.bundle.js
  branches/canary/develop/react/9932.bbf1ac3e.iframe.bundle.js
  branches/canary/develop/react/iframe.html
  branches/canary/develop/react/project.json
  branches/canary/develop/react/runtime~main.1b106592.iframe.bundle.js
  branches/canary/develop/react/runtime~main.bd11241b.iframe.bundle.js
  branches/canary/develop/react/stories-ic-data-table-stories-mdx.0116e5d8.iframe.bundle.js
  branches/canary/develop/react/stories-ic-data-table-stories-mdx.0116e5d8.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/react/stories-ic-data-table-stories-mdx.5ea69e1b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): bumped dates to allow audit to pass
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): update css for menu item so that css parts works in safari
  packages/web-components/src/components/ic-menu-item/ic-menu-item.css
Due: stylelint --fix

chore(canary-web-components): fixes readme.md files not being generated
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-pagination-bar/readme.md
  packages/canary-web-components/stencil.config.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): add toggle button component
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-toggle-button/ic-toggle-button.css
  packages/web-components/src/components/ic-toggle-button/ic-toggle-button.stories.mdx
  packages/web-components/src/components/ic-toggle-button/ic-toggle-button.tsx
  packages/web-components/src/components/ic-toggle-button/readme.md
  packages/web-components/src/components/ic-toggle-button/test/basic/__snapshots__/ic-toggle-button.spec.ts.snap
  packages/web-components/src/components/ic-toggle-button/test/basic/ic-toggle-button.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): fix tooltip display when no label provided
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/test/basic/ic-tooltip.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(web-components): removal of duplicate tests
  packages/web-components/src/components/ic-checkbox-group/test/a11y/ic-checkbox-group.test.a11y.ts
  packages/web-components/src/components/ic-checkbox-group/test/basic/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/test/basic/ic-checkbox-group.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(web-components): removing E2E breadcrumb-group test
  packages/react/src/component-tests/IcBreadcrumb/IcBreadcrumb.cy.tsx
  packages/web-components/src/components/ic-breadcrumb-group/test/basic/ic-breadcrumb-group.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): ic-page-header fix
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_Center_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_Component_overrides.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_Deprecated_small.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_Full_width.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_Heading_with_adornment.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_Left_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_Small.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_Sticky.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_actions.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_breadcrumbs.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_breadcrumbs_input_actions_and_tabs.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_input.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_tabs.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_Center_aligned.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_Component_overrides.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_Deprecated_small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_Full_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_Heading_with_adornment.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_Left_aligned.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_Small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_Sticky.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_actions.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_breadcrumbs.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_breadcrumbs_input_actions_and_tabs.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_input.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_tabs.png
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/components/ic-page-header/ic-page-header.stories.mdx
Due: stylelint --fix, remark

fix(web-components): fixed flicker on ic-side-navigation initial render
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(root): add ssr to pr checklist
  .github/pull_request_template.md
Due: remark

test(react): refactor cypress tests
  packages/react/cypress/support/commands.ts
  packages/react/cypress/support/index.ts
  packages/react/cypress/utils/a11y.ts
  packages/react/src/component-tests/IcAccordion/IcAccordion.cy.tsx
  packages/react/src/component-tests/IcAlert/IcAlert.cy.tsx
  packages/react/src/component-tests/IcBackToTop/IcBackToTop.cy.tsx
  packages/react/src/component-tests/IcBadge/IcBadge.cy.tsx
  packages/react/src/component-tests/IcButton/IcButton.cy.tsx
  packages/react/src/component-tests/IcClassificationBanner/IcClassificationBanner.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelect.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelectSearchable.cy.tsx
  packages/react/src/component-tests/IcToast/IcToast.cy.tsx
  packages/react/src/component-tests/IcTopNavigation/IcTopNavigation.cy.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(react): refactored and finished cypress testing for components
  packages/react/cypress/support/commands.ts
  packages/react/cypress/support/index.ts
  packages/react/cypress/utils/a11y.ts
  packages/react/src/component-tests/IcAccordion/IcAccordion.cy.tsx
  packages/react/src/component-tests/IcAlert/IcAlert.cy.tsx
  packages/react/src/component-tests/IcBackToTop/IcBackToTop.cy.tsx
  packages/react/src/component-tests/IcBreadcrumb/IcBreadcrumb.cy.tsx
  packages/react/src/component-tests/IcButton/IcButton.cy.tsx
  packages/react/src/component-tests/IcCheckbox/IcCheckbox.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelect.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelectConstants.ts
  packages/react/src/component-tests/IcSelect/IcSelectSearchable.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelectTestData.tsx
  packages/react/src/component-tests/IcToast/IcToast.cy.tsx
  packages/react/src/component-tests/IcTopNavigation/IcTopNavigation.cy.tsx
  packages/react/src/component-tests/IcTopNavigation/IcTopNavigationTestData.tsx
  packages/react/src/component-tests/utils/constants.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(web-components): remove a11y and e2e dialog tests
  packages/web-components/src/components/ic-dialog/test/a11y/ic-dialog.test.a11y.ts
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(canary-web-components): update canary web-components storybook to v7.6.10
  packages/canary-web-components/.storybook/addon-tab/register.js
  packages/canary-web-components/.storybook/main.js
  packages/canary-web-components/.storybook/preview.js
  packages/canary-web-components/babel.config.js
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(react): added cypress tests for IcSideNavigation
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-basic.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-basicDesktop.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-basicOpen.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-basicOpenDesktop.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-longPropsOpen.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-longPropsOpenDesktop.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-slottedAppTitle.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-slottedAppTitleDesktop.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-slottedAppTitleOpen.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-slottedAppTitleOpenDesktop.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-slottedNavItemsExpandedDesktop.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-staticExpandedDesktop.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-withNavGroupOpen.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-withNavGroupOpenDesktop.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-withTheme.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-withThemeDesktop.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-withThemeOpen.png
  packages/react/cypress-visual-screenshots/baseline/IcSideNavigation.cy.tsx-withThemeOpenDesktop.png
  packages/react/cypress/plugins/index.js
  packages/react/cypress/support/commands.ts
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigation.cy.tsx
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigationTestData.tsx
  packages/react/src/component-tests/utils/constants.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(react): update checkA11yWithWait to take options param
  packages/react/cypress/support/commands.ts
  packages/react/src/component-tests/IcToggleButton/IcToggleButton.cy.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(react): update dialog e2e, a11y and visual tests to cypress
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-background-click-disabled.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-custom-dialog-controls.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-default.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-destructive-dialog-controls.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-disable-height-constraint.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-error-alert.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-hide-close-button.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-info-alert.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-large.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-neutral-alert.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-no-dialog-controls.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-scroll-after.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-scroll-before.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-slotted-content-clicked.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-slotted-content.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-small.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-success-alert.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-tab-dynamic-content.png
  packages/react/cypress-visual-screenshots/baseline/IcDialog.cy.tsx-warning-alert.png
  packages/react/src/component-tests/IcDialog/IcDialog.cy.tsx
  packages/react/src/component-tests/IcDialog/IcDialogTestData.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): update status tag so that outlined is the same height as filled
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Status_tag_Danger.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Status_tag_Deprecated_appearance.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Status_tag_Deprecated_small.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Status_tag_Neutral.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Status_tag_Small.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Status_tag_Success.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Status_tag_Warning.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Status_tag_Danger.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Status_tag_Deprecated_appearance.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Status_tag_Deprecated_small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Status_tag_Neutral.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Status_tag_Small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Status_tag_Success.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Status_tag_Warning.png
  packages/web-components/src/components/ic-status-tag/ic-status-tag.css
  packages/web-components/src/components/ic-status-tag/ic-status-tag.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): add hover:focus to icon only button
  packages/web-components/src/components/ic-button/ic-button.css
Due: stylelint --fix

chore(root): changes audit dates to fix build
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(react): add icbreadcrumb tests to cypress
  packages/react/cypress-visual-screenshots/baseline/IcBreadcrumb.cy.tsx-backBreadcrumb.png
  packages/react/cypress-visual-screenshots/baseline/IcBreadcrumb.cy.tsx-breadcrumWithIcon.png
  packages/react/cypress-visual-screenshots/baseline/IcBreadcrumb.cy.tsx-collapsedBreadcrumb.png
  packages/react/cypress-visual-screenshots/baseline/IcBreadcrumb.cy.tsx-currentPageClassBreadcrumb.png
  packages/react/cypress-visual-screenshots/baseline/IcBreadcrumb.cy.tsx-focusBreadcrumb.png
  packages/react/cypress-visual-screenshots/baseline/IcBreadcrumb.cy.tsx-pageTitleWithCurrent.png
  packages/react/cypress-visual-screenshots/baseline/IcBreadcrumb.cy.tsx-rabderBreadcrumb.png
  packages/react/cypress-visual-screenshots/baseline/IcBreadcrumb.cy.tsx-randerPageTitle.png
  packages/react/src/component-tests/IcBreadcrumb/IcBreadcrumb.cy.tsx
  packages/web-components/src/components/ic-breadcrumb-group/test/a11y/ic-breadcrumb-group.test.a11y.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixed a11y error about incorrect attributes in ic-navigation-group
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.tsx
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-toast/ic-toast.tsx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

feat(web-components): update web-components storybook to v7.6.7
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_All_prop_text_styles.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Italic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_All_prop_text_styles.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Italic.png
  packages/web-components/.storybook/main.js
  packages/web-components/package-lock.json
  packages/web-components/package.json
  packages/web-components/public/favicon.png
  packages/web-components/public/favicon.svg
  packages/web-components/src/components/ic-breadcrumb-group/ic-breadcrumb-group.stories.mdx
  packages/web-components/src/components/ic-button/ic-button.stories.mdx
  packages/web-components/src/components/ic-link/ic-link.stories.mdx
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.stories.mdx
  packages/web-components/src/components/ic-menu/test/basic/__snapshots__/ic-menu.spec.tsx.snap
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-select/ic-select.stories.mdx
  packages/web-components/src/components/ic-switch/ic-switch.stories.mdx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
  packages/web-components/src/components/ic-typography/ic-typography.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(canary-react): added cypress to canary-react package
  packages/canary-react/cypress.config.ts
  packages/canary-react/cypress/plugins/index.js
  packages/canary-react/cypress/support/component-index.html
  packages/canary-react/cypress/support/component.ts
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-react/src/component-tests/IcDataTable/IcDataTable.cy.tsx
  packages/canary-react/tsconfig.json
  packages/canary-react/webpack.config.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(canary-react): update canary react storybook to v7.6.10
  packages/canary-react/.storybook/addon-tab/register.js
  packages/canary-react/.storybook/main.js
  packages/canary-react/.storybook/preview.js
  packages/canary-react/babel.config.js
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-react/tsconfig.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(react): updated Cypress config
  packages/react/cypress.config.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): update react storybook to v7.6.7
  packages/react/.babelrc.json
  packages/react/.storybook/main.js
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/public/favicon.png
  packages/react/public/favicon.svg
  packages/react/src/stories/ic-accordion.stories.mdx
  packages/react/src/stories/ic-button.stories.mdx
  packages/react/src/stories/ic-loading-indicator.stories.mdx
  packages/react/src/stories/ic-select.stories.mdx
  packages/react/src/stories/ic-theme.stories.mdx
  packages/react/src/stories/ic-typography.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(react): add toggle button component
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-appearance-dark-checked.png
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-appearance-dark.png
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-appearance-light-checked.png
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-appearance-light.png
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-checked.png
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-default.png
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-disabled.png
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-full-width.png
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-icon-right.png
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-icon-top.png
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-icon-variant.png
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-loading.png
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-sizes.png
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-with-badge.png
  packages/react/cypress-visual-screenshots/baseline/IcToggleButton.cy.tsx-with-icon.png
  packages/react/src/component-tests/IcToggleButton/IcToggleButton.cy.tsx
  packages/react/src/components.ts
  packages/react/src/stories/ic-toggle-button.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark
