Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@e867e4e3da75ed3e778447ffe7658c91e4356b48 🚀
  branches/develop/web-components/iframe.html
  branches/develop/web-components/main.36fcdd1b.iframe.bundle.js
  branches/develop/web-components/main.36fcdd1b.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/main.704888d6.iframe.bundle.js
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e867e4e3da75ed3e778447ffe7658c91e4356b48 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e867e4e3da75ed3e778447ffe7658c91e4356b48 🚀
  branches/canary/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e867e4e3da75ed3e778447ffe7658c91e4356b48 🚀
  branches/canary/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add a new ic-data-table specific method to ic-typography
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-typography/ic-typography.tsx
  packages/web-components/src/components/ic-typography/test/basic/ic-typography.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e0c0f068a69001d0324d5ab8cb9e407786bfc2db 🚀
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-error.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-info.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-with-action.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@721cc3f518b1369cf72d94b814272365e65bbf7d 🚀
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-neutral.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-success.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-warning.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@65c25fcd96ebef242a06b6c41ad2538947f1e013 🚀
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-custom-message.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@e875e71bdd3052402edd0fcfc0bf367bcd3e19b6 🚀
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-title-displayed.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@d37814b7df038c595707fd935ded116e9c5113d5 🚀
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-responsive.png
Due: none

fix(web-components): add placement of tooltips on "Go to" buttons to the top
  packages/web-components/src/components/ic-pagination/ic-pagination.tsx
  packages/web-components/src/components/ic-pagination/test/basic/__snapshots__/ic-pagination.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@716204f7a2b95bac7b5747f90561bf9692dc86c9 🚀
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-dismissable.png
Due: none

style(canary-react): prettier fixes
  packages/canary-react/src/components.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(canary-web-components): conditionally change the placement of the tooltip on truncated text
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-pagination-bar/ic-pagination-bar.tsx
  packages/canary-web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@e28f5259729a8166253694e42fdf058e507ad9d0 🚀
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-custom-message.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-dismissable.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-error.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-info.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-neutral.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-responsive.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-success.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-title-above-set.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-warning.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-with-action.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@9fe96e6fca1bfd47f6cf280b2796dc3d58d04ed0 🚀
  branches/canary/257-multi-select-rebased-2/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9fe96e6fca1bfd47f6cf280b2796dc3d58d04ed0 🚀
  branches/canary/257-multi-select-rebased-2/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9fe96e6fca1bfd47f6cf280b2796dc3d58d04ed0 🚀
  branches/canary/257-multi-select-rebased-2/canary-web-components/8103.1fb5dd49.iframe.bundle.js
  branches/canary/257-multi-select-rebased-2/canary-web-components/8103.1fb5dd49.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased-2/canary-web-components/8103.44be862d.iframe.bundle.js
  branches/canary/257-multi-select-rebased-2/canary-web-components/iframe.html
  branches/canary/257-multi-select-rebased-2/canary-web-components/main.796349e0.iframe.bundle.js
  branches/canary/257-multi-select-rebased-2/canary-web-components/main.796349e0.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased-2/canary-web-components/main.d3097476.iframe.bundle.js
  branches/canary/257-multi-select-rebased-2/canary-web-components/project.json
  branches/canary/257-multi-select-rebased-2/canary-web-components/runtime~main.9dec9ea7.iframe.bundle.js
  branches/canary/257-multi-select-rebased-2/canary-web-components/runtime~main.c3e0b6d2.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9fe96e6fca1bfd47f6cf280b2796dc3d58d04ed0 🚀
  branches/canary/257-multi-select-rebased-2/canary-react/1487.78187529.iframe.bundle.js
  branches/canary/257-multi-select-rebased-2/canary-react/1487.78187529.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased-2/canary-react/1487.d957f687.iframe.bundle.js
  branches/canary/257-multi-select-rebased-2/canary-react/iframe.html
  branches/canary/257-multi-select-rebased-2/canary-react/main.1a6f67d9.iframe.bundle.js
  branches/canary/257-multi-select-rebased-2/canary-react/main.1a6f67d9.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased-2/canary-react/main.8ec2bcfc.iframe.bundle.js
  branches/canary/257-multi-select-rebased-2/canary-react/project.json
  branches/canary/257-multi-select-rebased-2/canary-react/runtime~main.a1ea5ec9.iframe.bundle.js
  branches/canary/257-multi-select-rebased-2/canary-react/runtime~main.f03c8981.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@154c99c97b5ded7d0651440c9d9d86e01f8e9e11 🚀
  branches/bugfix/ic-select-loses-focus-fix/web-components/2679.302203fc.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/web-components/2679.9cce1ce5.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/web-components/2679.9cce1ce5.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-select-loses-focus-fix/web-components/7733.3b91dbdf.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/web-components/7733.69574f4d.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/web-components/7733.69574f4d.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-select-loses-focus-fix/web-components/iframe.html
  branches/bugfix/ic-select-loses-focus-fix/web-components/main.17165f51.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/web-components/main.79b45668.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/web-components/main.79b45668.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-select-loses-focus-fix/web-components/project.json
  branches/bugfix/ic-select-loses-focus-fix/web-components/runtime~main.0ccc6cef.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/web-components/runtime~main.430b0093.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@154c99c97b5ded7d0651440c9d9d86e01f8e9e11 🚀
  branches/bugfix/ic-select-loses-focus-fix/react/2931.667b3a53.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/react/6225.492180c4.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/react/6225.492180c4.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-select-loses-focus-fix/react/6225.94d67b83.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/react/6761.b820f134.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/react/6761.b820f134.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-select-loses-focus-fix/react/9115.b9c32ee6.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/react/9115.e7d225eb.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/react/9115.e7d225eb.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-select-loses-focus-fix/react/9257.4e8fa76a.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/react/9257.e8b205bb.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/react/9257.e8b205bb.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-select-loses-focus-fix/react/iframe.html
  branches/bugfix/ic-select-loses-focus-fix/react/main.3a69bb60.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/react/main.5c38ec1f.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/react/main.5c38ec1f.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-select-loses-focus-fix/react/project.json
  branches/bugfix/ic-select-loses-focus-fix/react/runtime~main.85c77315.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/react/runtime~main.91ef307c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4e32a80610f02eacb4479ad5b669bd4769e5e49d 🚀
  branches/bugfix/ic-select-loses-focus-fix/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4e32a80610f02eacb4479ad5b669bd4769e5e49d 🚀
  branches/bugfix/ic-select-loses-focus-fix/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@450bd9fe25d344221b3508b1f6695eb24c2577fe 🚀
  branches/1321-add-dropdown-button-variant/web-components/iframe.html
  branches/1321-add-dropdown-button-variant/web-components/main.0869185b.iframe.bundle.js
  branches/1321-add-dropdown-button-variant/web-components/main.0869185b.iframe.bundle.js.LICENSE.txt
  branches/1321-add-dropdown-button-variant/web-components/main.9fe6ab35.iframe.bundle.js
  branches/1321-add-dropdown-button-variant/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@450bd9fe25d344221b3508b1f6695eb24c2577fe 🚀
  branches/1321-add-dropdown-button-variant/react/iframe.html
  branches/1321-add-dropdown-button-variant/react/main.1e4f8576.iframe.bundle.js
  branches/1321-add-dropdown-button-variant/react/main.1e4f8576.iframe.bundle.js.LICENSE.txt
  branches/1321-add-dropdown-button-variant/react/main.32146f86.iframe.bundle.js
  branches/1321-add-dropdown-button-variant/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(web-components): remove old icalert tests
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Custom_message.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Dismissible.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Dismissible_with_action.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Message_only.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Responsive_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Title_above.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Variants.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_With_action.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Custom_message.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Dismissible.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Dismissible_with_action.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Message_only.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Responsive_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Title_above.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_Variants.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Alert_With_action.png
  packages/web-components/src/components/ic-alert/ic-alert.stories.mdx
  packages/web-components/src/components/ic-alert/test/a11y/ic-alert.test.a11y.ts
  packages/web-components/src/components/ic-alert/test/basic/ic-alert.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

test(react): add cypress tests for icalert
  packages/react/cypress-visual-screenshots/baseline/IcAlert.cy.tsx-custom-message.png
  packages/react/cypress-visual-screenshots/baseline/IcAlert.cy.tsx-dismissable.png
  packages/react/cypress-visual-screenshots/baseline/IcAlert.cy.tsx-error.png
  packages/react/cypress-visual-screenshots/baseline/IcAlert.cy.tsx-info.png
  packages/react/cypress-visual-screenshots/baseline/IcAlert.cy.tsx-neutral.png
  packages/react/cypress-visual-screenshots/baseline/IcAlert.cy.tsx-responsive.png
  packages/react/cypress-visual-screenshots/baseline/IcAlert.cy.tsx-success.png
  packages/react/cypress-visual-screenshots/baseline/IcAlert.cy.tsx-title-above-set.png
  packages/react/cypress-visual-screenshots/baseline/IcAlert.cy.tsx-warning.png
  packages/react/cypress-visual-screenshots/baseline/IcAlert.cy.tsx-with-action.png
  packages/react/src/component-tests/IcAlert/IcAlert.cy.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c84a334cf995c350ecca8eebab4b53a3b368a9fd 🚀
  branches/1301/alert-cypress/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c84a334cf995c350ecca8eebab4b53a3b368a9fd 🚀
  branches/1301/alert-cypress/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b8dbb9d74b6cb0a2a974db7fb89963b0efbe2bde 🚀
  branches/bugfix/ic-select-loses-focus-fix/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b8dbb9d74b6cb0a2a974db7fb89963b0efbe2bde 🚀
  branches/bugfix/ic-select-loses-focus-fix/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
