Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(canary-react): initial canary-react package integration
  packages/canary-react/.gitignore
  packages/canary-react/.storybook/addon-tab/register.js
  packages/canary-react/.storybook/main.js
  packages/canary-react/.storybook/preview-head.html
  packages/canary-react/.storybook/preview.js
  packages/canary-react/CHANGELOG.md
  packages/canary-react/LICENSE
  packages/canary-react/README.md
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-react/src/components.ts
  packages/canary-react/src/getting-started.stories.mdx
  packages/canary-react/src/index.ts
  packages/canary-react/src/react-component-lib/createComponent.tsx
  packages/canary-react/src/react-component-lib/createOverlayComponent.tsx
  packages/canary-react/src/react-component-lib/index.ts
  packages/canary-react/src/react-component-lib/interfaces.ts
  packages/canary-react/src/react-component-lib/utils/attachProps.ts
  packages/canary-react/src/react-component-lib/utils/case.ts
  packages/canary-react/src/react-component-lib/utils/dev.ts
  packages/canary-react/src/react-component-lib/utils/index.tsx
  packages/canary-react/src/stories/ic-data-table.stories.mdx
  packages/canary-react/tsconfig.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

build(react): moved fonts package to peer deps
  packages/react/.storybook/preview.js
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/public/favicon.png
  packages/react/public/favicon.svg
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

ci(root): updating ci command
  .github/workflows/ic-ui-kit-branches.yml
  .github/workflows/ic-ui-kit-canary-branches.yml
  .github/workflows/ic-ui-kit-develop.yml
  .github/workflows/ic-ui-kit-main.yml
  .gitignore
  package.json
  packages/canary-web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(canary-web-components): updating github maarkdown css file
  packages/canary-web-components/.storybook/addon-tab/github-markdown.css
  packages/canary-web-components/.storybook/addon-tab/register.js
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(canary-react): updated github-markdown-css reference
  packages/canary-react/.storybook/addon-tab/github-markdown.css
  packages/canary-react/.storybook/addon-tab/register.js
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@965227628467b9b134019ba41e8053e6952d98a6 🚀
  branches/canary/develop/web-components/1099.25873ba0.iframe.bundle.js
  branches/canary/develop/web-components/1099.25873ba0.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/web-components/1099.a8eae023.iframe.bundle.js
  branches/canary/develop/web-components/1416.30c66d12.iframe.bundle.js
  branches/canary/develop/web-components/1416.30c66d12.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/web-components/1416.54a29adb.iframe.bundle.js
  branches/canary/develop/web-components/6663.23779080.iframe.bundle.js
  branches/canary/develop/web-components/6663.23779080.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/web-components/6663.a606ae65.iframe.bundle.js
  branches/canary/develop/web-components/7710.6469f13e.iframe.bundle.js
  branches/canary/develop/web-components/7710.fe6762e3.iframe.bundle.js
  branches/canary/develop/web-components/7710.fe6762e3.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/web-components/8964.5cebdcdd.iframe.bundle.js
  branches/canary/develop/web-components/8964.fcef9029.iframe.bundle.js
  branches/canary/develop/web-components/iframe.html
  branches/canary/develop/web-components/main.17165f51.iframe.bundle.js
  branches/canary/develop/web-components/main.17165f51.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/web-components/main.afd00d4a.iframe.bundle.js
  branches/canary/develop/web-components/project.json
  branches/canary/develop/web-components/runtime~main.7965ba34.iframe.bundle.js
  branches/canary/develop/web-components/runtime~main.d02cc3d3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@965227628467b9b134019ba41e8053e6952d98a6 🚀
  branches/canary/develop/react/1642.34418332.iframe.bundle.js
  branches/canary/develop/react/1642.34418332.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/react/1642.d64bb733.iframe.bundle.js
  branches/canary/develop/react/1965.4135a48e.iframe.bundle.js
  branches/canary/develop/react/1965.4135a48e.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/react/1965.450f9d71.iframe.bundle.js
  branches/canary/develop/react/2167.048eaa45.iframe.bundle.js
  branches/canary/develop/react/2167.1addd3d5.iframe.bundle.js
  branches/canary/develop/react/2167.1addd3d5.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/react/4564.0fa85aa4.iframe.bundle.js
  branches/canary/develop/react/4564.7a48ac60.iframe.bundle.js
  branches/canary/develop/react/5729.948ef20f.iframe.bundle.js
  branches/canary/develop/react/5729.948ef20f.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/react/5729.e9bae619.iframe.bundle.js
  branches/canary/develop/react/iframe.html
  branches/canary/develop/react/main.11b657ad.iframe.bundle.js
  branches/canary/develop/react/main.3a69bb60.iframe.bundle.js
  branches/canary/develop/react/main.3a69bb60.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/react/project.json
  branches/canary/develop/react/runtime~main.bbf05801.iframe.bundle.js
  branches/canary/develop/react/runtime~main.f99c0815.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@965227628467b9b134019ba41e8053e6952d98a6 🚀
  branches/canary/develop/canary-web-components/1099.03420a60.iframe.bundle.js
  branches/canary/develop/canary-web-components/1099.4d7d7a66.iframe.bundle.js
  branches/canary/develop/canary-web-components/1099.4d7d7a66.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/canary-web-components/1416.3fd5e1a9.iframe.bundle.js
  branches/canary/develop/canary-web-components/1416.3fd5e1a9.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/canary-web-components/1416.89f33a48.iframe.bundle.js
  branches/canary/develop/canary-web-components/6663.283b8d54.iframe.bundle.js
  branches/canary/develop/canary-web-components/6663.cba7be7f.iframe.bundle.js
  branches/canary/develop/canary-web-components/6663.cba7be7f.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/canary-web-components/7710.c43dae23.iframe.bundle.js
  branches/canary/develop/canary-web-components/7710.c43dae23.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/canary-web-components/7710.cef5d537.iframe.bundle.js
  branches/canary/develop/canary-web-components/8964.5a563995.iframe.bundle.js
  branches/canary/develop/canary-web-components/8964.7d5bb659.iframe.bundle.js
  branches/canary/develop/canary-web-components/iframe.html
  branches/canary/develop/canary-web-components/main.62373419.iframe.bundle.js
  branches/canary/develop/canary-web-components/main.62373419.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/canary-web-components/main.ded6a0c1.iframe.bundle.js
  branches/canary/develop/canary-web-components/project.json
  branches/canary/develop/canary-web-components/runtime~main.1cf987c3.iframe.bundle.js
  branches/canary/develop/canary-web-components/runtime~main.9f398211.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@965227628467b9b134019ba41e8053e6952d98a6 🚀
  branches/canary/develop/canary-react/1642.58945d35.iframe.bundle.js
  branches/canary/develop/canary-react/1642.58945d35.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/canary-react/1642.8347a844.iframe.bundle.js
  branches/canary/develop/canary-react/1965.73acb0c5.iframe.bundle.js
  branches/canary/develop/canary-react/1965.73acb0c5.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/canary-react/1965.c28878e6.iframe.bundle.js
  branches/canary/develop/canary-react/1979.3bccd716.iframe.bundle.js
  branches/canary/develop/canary-react/1979.4d53e70b.iframe.bundle.js
  branches/canary/develop/canary-react/1979.4d53e70b.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/canary-react/2167.66ed0991.iframe.bundle.js
  branches/canary/develop/canary-react/2167.66ed0991.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/canary-react/2167.926d86e5.iframe.bundle.js
  branches/canary/develop/canary-react/2854.3dbc06b7.iframe.bundle.js
  branches/canary/develop/canary-react/2854.3dbc06b7.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/canary-react/2854.5a38bb3f.iframe.bundle.js
  branches/canary/develop/canary-react/4342.4390306b.iframe.bundle.js
  branches/canary/develop/canary-react/4342.7d0529bf.iframe.bundle.js
  branches/canary/develop/canary-react/4342.7d0529bf.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/canary-react/4564.8b054022.iframe.bundle.js
  branches/canary/develop/canary-react/4564.d6888394.iframe.bundle.js
  branches/canary/develop/canary-react/4731.65e17102.iframe.bundle.js
  branches/canary/develop/canary-react/4731.65e17102.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/canary-react/4731.d300d20b.iframe.bundle.js
  branches/canary/develop/canary-react/5729.51a0ed36.iframe.bundle.js
  branches/canary/develop/canary-react/5729.51a0ed36.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/canary-react/5729.b2a0114f.iframe.bundle.js
  branches/canary/develop/canary-react/7849.0791ecb5.iframe.bundle.js
  branches/canary/develop/canary-react/7849.f1758b2f.iframe.bundle.js
  branches/canary/develop/canary-react/iframe.html
  branches/canary/develop/canary-react/main.2ae98472.iframe.bundle.js
  branches/canary/develop/canary-react/main.2ae98472.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/canary-react/main.62b2599c.iframe.bundle.js
  branches/canary/develop/canary-react/project.json
  branches/canary/develop/canary-react/runtime~main.1d6f5f01.iframe.bundle.js
  branches/canary/develop/canary-react/runtime~main.e925affe.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3ea79993614e4423ec57847007b61e139e819385 🚀
  branches/1369-migrate-toast-testing-over-to-cypress/cypress-screenshots/IcToast.cy.tsx-custom-aria-label.png
  branches/1369-migrate-toast-testing-over-to-cypress/cypress-screenshots/IcToast.cy.tsx-custom-icon.png
  branches/1369-migrate-toast-testing-over-to-cypress/cypress-screenshots/IcToast.cy.tsx-slotted-link.png
Due: none

build(react): moved fonts package to peer deps
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): updated github actions
  .github/workflows/ic-ui-kit-canary-branches.yml
  .github/workflows/ic-ui-kit-main.yml
Due: none

feat(canary-react): initial canary-react package integration
  packages/canary-react/public/favicon.png
  packages/canary-react/public/favicon.svg
  packages/canary-react/src/react-component-lib/slottedSVG.tsx
  packages/canary-react/src/stories/assets/example-background.png
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(canary-web-components): canary-web-components package integration
  packages/canary-web-components/public/favicon.png
  packages/canary-web-components/public/favicon.svg
Due: none

test(root): f
  .github/workflows/ic-ui-kit-develop.yml
Due: none

feat(web-components): add web-component and React stories
  packages/canary-react/src/stories/ic-select_(multi).stories.mdx
  packages/canary-web-components/src/components/ic-select/ic-select_(multi).stories.mdx
  packages/canary-web-components/src/components/ic-select/ic-select_(searchable).stories.mdx
  packages/canary-web-components/src/components/ic-select/ic-select_(single).stories.mdx
  packages/react/src/stories/ic-select.stories.mdx
  packages/react/src/stories/ic-select/ic-select_(searchable).stories.mdx
  packages/react/src/stories/ic-select/ic-select_(single).stories.mdx
  packages/web-components/src/components/ic-select/ic-select.stories.mdx
  packages/web-components/src/components/ic-select/ic-select_(searchable).stories.mdx
  packages/web-components/src/components/ic-select/ic-select_(single).stories.mdx
Due: remark

feat(web-components): started adding stories
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-menu-with-multi/ic-menu.tsx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select.tsx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(multi).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(searchable).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(single).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/readme.md
  packages/canary-web-components/src/components/ic-select-with-multi/story-data.ts
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-select/ic-select.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): all changes added
  packages/canary-react/src/components.ts
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-menu-with-multi/ic-menu.css
  packages/canary-web-components/src/components/ic-menu-with-multi/ic-menu.tsx
  packages/canary-web-components/src/components/ic-menu-with-multi/ic-menu.types.ts
  packages/canary-web-components/src/components/ic-menu-with-multi/test/basic/__snapshots__/ic-menu.spec.tsx.snap
  packages/canary-web-components/src/components/ic-menu-with-multi/test/basic/ic-menu.spec.tsx
  packages/canary-web-components/src/components/ic-select-with-multi/assets/Check.svg
  packages/canary-web-components/src/components/ic-select-with-multi/assets/Clear.svg
  packages/canary-web-components/src/components/ic-select-with-multi/assets/Expand.svg
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select.css
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select.tsx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(multi).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(searchable).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(single).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/test/a11y/ic-select.test.a11y.ts
  packages/canary-web-components/src/components/ic-select-with-multi/test/basic/__snapshots__/ic-select.spec.tsx.snap
  packages/canary-web-components/src/components/ic-select-with-multi/test/basic/ic-select.e2e.ts
  packages/canary-web-components/src/components/ic-select-with-multi/test/basic/ic-select.spec.tsx
  packages/canary-web-components/src/utils/constants.ts
  packages/canary-web-components/src/utils/helpers.ts
  packages/canary-web-components/src/utils/types.ts
  packages/docs/docs.json
  packages/react/package-lock.json
  packages/web-components/package-lock.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-input-component-container/ic-input-component-container.css
  packages/web-components/src/components/ic-input-component-container/ic-input-component-container.tsx
  packages/web-components/src/components/ic-input-component-container/readme.md
  packages/web-components/src/components/ic-input-component-container/test/basic/ic-input-component-container.spec.tsx
  packages/web-components/src/components/ic-radio-group/ic-radio-group.tsx
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): make stories match original branch, make e2e tests use multi
  packages/canary-react/package-lock.json
  packages/canary-react/src/stories/ic-select_(searchable).stories.mdx
  packages/canary-react/src/stories/ic-select_(single).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(searchable).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(single).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/test/basic/ic-select.e2e.ts
  packages/react/package-lock.json
  packages/react/src/stories/ic-select/ic-select_(searchable).stories.mdx
  packages/react/src/stories/ic-select/ic-select_(single).stories.mdx
  packages/react/src/stories/ic-select_(searchable).stories.mdx
  packages/react/src/stories/ic-select_(single).stories.mdx
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-select/ic-select_(searchable).stories.mdx
  packages/web-components/src/components/ic-select/ic-select_(single).stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): add react stories
  packages/canary-react/src/stories/ic-select_(multi).stories.mdx
  packages/canary-react/src/stories/ic-select_(searchable).stories.mdx
  packages/canary-react/src/stories/ic-select_(single).stories.mdx
  packages/canary-web-components/src/components/ic-menu-with-multi/ic-menu.tsx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select.tsx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(multi).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(searchable).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(single).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/story-data.ts
  packages/canary-web-components/src/utils/constants.ts
  packages/canary-web-components/src/utils/helpers.ts
  packages/canary-web-components/src/utils/types.ts
  packages/docs/docs.json
  packages/react/src/stories/ic-select/ic-select_(searchable).stories.mdx
  packages/react/src/stories/ic-select_(searchable).stories.mdx
  packages/react/src/stories/ic-select_(single).stories.mdx
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-select/ic-select_(searchable).stories.mdx
  packages/web-components/src/components/ic-select/ic-select_(single).stories.mdx
  packages/web-components/src/components/ic-select/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): make changes to implement rebase
  packages/canary-react/src/stories/ic-select_(searchable).stories.mdx
  packages/canary-react/src/stories/ic-select_(single).stories.mdx
  packages/canary-web-components/src/components/ic-menu-with-multi/ic-menu.css
  packages/canary-web-components/src/components/ic-menu-with-multi/ic-menu.tsx
  packages/canary-web-components/src/components/ic-menu-with-multi/test/basic/ic-menu.spec.tsx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select.tsx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(searchable).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(single).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/story-data.ts
  packages/react/src/stories/ic-select_(searchable).stories.mdx
  packages/react/src/stories/ic-select_(single).stories.mdx
  packages/web-components/src/components/ic-select/ic-select_(searchable).stories.mdx
  packages/web-components/src/components/ic-select/ic-select_(single).stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): fix most failing e2e tests
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(searchable).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/test/basic/ic-select.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): fix indentation / formatting
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(multi).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(searchable).stories.mdx
  packages/canary-web-components/src/components/ic-select-with-multi/ic-select_(single).stories.mdx
  packages/web-components/src/components/ic-select/ic-select_(searchable).stories.mdx
  packages/web-components/src/components/ic-select/ic-select_(single).stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): update a11y test import, updated docs
  packages/canary-web-components/src/components/ic-select-with-multi/test/a11y/ic-select.test.a11y.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): rebase
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): fix e2e tests
  packages/canary-web-components/src/components/ic-select-with-multi/test/basic/ic-select.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0d09732a6ae43699a5f4c508151f982efa1b90f3 🚀
  branches/1196/cypress/web-components/1099.122797eb.iframe.bundle.js
  branches/1196/cypress/web-components/1099.647ed928.iframe.bundle.js
  branches/1196/cypress/web-components/1099.647ed928.iframe.bundle.js.LICENSE.txt
  branches/1196/cypress/web-components/1416.bf2f9eb0.iframe.bundle.js
  branches/1196/cypress/web-components/1416.dbf711d6.iframe.bundle.js
  branches/1196/cypress/web-components/1416.dbf711d6.iframe.bundle.js.LICENSE.txt
  branches/1196/cypress/web-components/6663.576f7a01.iframe.bundle.js
  branches/1196/cypress/web-components/6663.576f7a01.iframe.bundle.js.LICENSE.txt
  branches/1196/cypress/web-components/6663.6cceb787.iframe.bundle.js
  branches/1196/cypress/web-components/7710.d9b9630f.iframe.bundle.js
  branches/1196/cypress/web-components/7710.e06a4c8c.iframe.bundle.js
  branches/1196/cypress/web-components/7710.e06a4c8c.iframe.bundle.js.LICENSE.txt
  branches/1196/cypress/web-components/8964.1f95e969.iframe.bundle.js
  branches/1196/cypress/web-components/8964.6dcaf2a8.iframe.bundle.js
  branches/1196/cypress/web-components/iframe.html
  branches/1196/cypress/web-components/main.aed8baec.iframe.bundle.js
  branches/1196/cypress/web-components/main.aed8baec.iframe.bundle.js.LICENSE.txt
  branches/1196/cypress/web-components/main.c002162e.iframe.bundle.js
  branches/1196/cypress/web-components/project.json
  branches/1196/cypress/web-components/runtime~main.0324dbbc.iframe.bundle.js
  branches/1196/cypress/web-components/runtime~main.3a96d8f8.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
