Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@0c2ef80788652c09595cfdee97cace260e51251a 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0c2ef80788652c09595cfdee97cace260e51251a 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0c2ef80788652c09595cfdee97cace260e51251a 🚀
  branches/canary/develop/web-components/4309.71511dee.iframe.bundle.js
  branches/canary/develop/web-components/4309.f3451262.iframe.bundle.js
  branches/canary/develop/web-components/iframe.html
  branches/canary/develop/web-components/project.json
  branches/canary/develop/web-components/runtime~main.4c18bcf6.iframe.bundle.js
  branches/canary/develop/web-components/runtime~main.4fb4b748.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0c2ef80788652c09595cfdee97cace260e51251a 🚀
  branches/canary/develop/react/5534.b3f7d285.iframe.bundle.js
  branches/canary/develop/react/5534.ea322b72.iframe.bundle.js
  branches/canary/develop/react/iframe.html
  branches/canary/develop/react/project.json
  branches/canary/develop/react/runtime~main.42c38d3c.iframe.bundle.js
  branches/canary/develop/react/runtime~main.6cff5195.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ff4163cff1b4c6e50ac2b7e70eddb0ba2ccd3115 🚀
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/focused-destructive.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@ff4163cff1b4c6e50ac2b7e70eddb0ba2ccd3115 🚀
  branches/666-refactor-branch/cypress-image-diff-html-report/report_30-01-2026_102131.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d25d188f7ce7ca21b5421384477e8aad47c9072f 🚀
  branches/3353-ic-chip---make-chips-fit-to-content-by-default-and-add-full-width-option/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d25d188f7ce7ca21b5421384477e8aad47c9072f 🚀
  branches/3353-ic-chip---make-chips-fit-to-content-by-default-and-add-full-width-option/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d25d188f7ce7ca21b5421384477e8aad47c9072f 🚀
  branches/3353-ic-chip---make-chips-fit-to-content-by-default-and-add-full-width-option/canary-web-components/8581.67785278.iframe.bundle.js
  branches/3353-ic-chip---make-chips-fit-to-content-by-default-and-add-full-width-option/canary-web-components/8581.67785278.iframe.bundle.js.map
  branches/3353-ic-chip---make-chips-fit-to-content-by-default-and-add-full-width-option/canary-web-components/8581.7b6d0c75.iframe.bundle.js
  branches/3353-ic-chip---make-chips-fit-to-content-by-default-and-add-full-width-option/canary-web-components/8581.7b6d0c75.iframe.bundle.js.LICENSE.txt
  branches/3353-ic-chip---make-chips-fit-to-content-by-default-and-add-full-width-option/canary-web-components/8581.7b6d0c75.iframe.bundle.js.map
  branches/3353-ic-chip---make-chips-fit-to-content-by-default-and-add-full-width-option/canary-web-components/iframe.html
  branches/3353-ic-chip---make-chips-fit-to-content-by-default-and-add-full-width-option/canary-web-components/main.1f46f9fd.iframe.bundle.js
  branches/3353-ic-chip---make-chips-fit-to-content-by-default-and-add-full-width-option/canary-web-components/main.1f46f9fd.iframe.bundle.js.map
  branches/3353-ic-chip---make-chips-fit-to-content-by-default-and-add-full-width-option/canary-web-components/main.45c2ebd1.iframe.bundle.js
  branches/3353-ic-chip---make-chips-fit-to-content-by-default-and-add-full-width-option/canary-web-components/main.45c2ebd1.iframe.bundle.js.map
  branches/3353-ic-chip---make-chips-fit-to-content-by-default-and-add-full-width-option/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d25d188f7ce7ca21b5421384477e8aad47c9072f 🚀
  branches/3353-ic-chip---make-chips-fit-to-content-by-default-and-add-full-width-option/canary-react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ff4163cff1b4c6e50ac2b7e70eddb0ba2ccd3115 🚀
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/focused-destructive.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@ff4163cff1b4c6e50ac2b7e70eddb0ba2ccd3115 🚀
  branches/666-refactor-branch/cypress-image-diff-html-report/report_30-01-2026_142658.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ff4163cff1b4c6e50ac2b7e70eddb0ba2ccd3115 🚀
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/focused-destructive.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@ff4163cff1b4c6e50ac2b7e70eddb0ba2ccd3115 🚀
  branches/666-refactor-branch/cypress-image-diff-html-report/report_30-01-2026_150457.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(web-components): add validation-text slot to ic-text-field
  packages/web-components/src/components/ic-input-validation/ic-input-validation.tsx
  packages/web-components/src/components/ic-input-validation/readme.md
  packages/web-components/src/components/ic-text-field/ic-text-field.stories.js
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/components/ic-text-field/readme.md
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

docs(docs): add validation-text and validation-message slot docs for ic-text-field
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(react): tests for validation-text slot on ic-text-field
  packages/react/cypress-image-diff-screenshots/baseline/IcTextField.cy.tsx/validation-text-slot.png
  packages/react/src/component-tests/IcTextField/IcTextField.cy.tsx
  packages/react/src/component-tests/IcTextField/IcTextFieldTestData.tsx
  packages/react/src/stories/ic-text-field.stories.jsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ec21d928943bece3e94c3a4d0e8acf4906f9d65a 🚀
  branches/4216-ictextfield-allow-validation-text-be-provided-via-a-slot/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write
