Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@c23550a296be88e18d920c1ab6ecc189640d74f6 🚀
  branches/test/data-table-pagination/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3499f532f39d733cc17ecd7a1e0eb56fba731cab 🚀
  branches/643-checkbox-size-variants/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3499f532f39d733cc17ecd7a1e0eb56fba731cab 🚀
  branches/643-checkbox-size-variants/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add story for new sizes for checkboxes
  packages/react/src/stories/ic-checkbox.stories.mdx
Due: remark

feat(web-components): add sizes small and large to checkboxes
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Sizes.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Sizes.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/ic-button.types.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox-group/readme.md
  packages/web-components/src/components/ic-checkbox-group/test/basic/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/test/basic/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-chip/ic-chip.types.ts
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(react): update ic-navigation react story to have better labels
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: remark

fix(web-components): ic-button and ic-navigation no longer read twice to screen readers
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Content_left_aligned.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_navigation.png
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/test/basic/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-dialog/test/basic/__snapshots__/ic-dialog.spec.ts.snap
  packages/web-components/src/components/ic-horizontal-scroll/test/basic/__snapshots__/ic-horizontal-scroll.spec.ts.snap
  packages/web-components/src/components/ic-navigation-button/ic-navigation-button.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-navigation-item/test/basic/__snapshots__/ic-navigation-item.spec.ts.snap
  packages/web-components/src/components/ic-navigation-menu/test/basic/__snapshots__/ic-navigation-menu.spec.ts.snap
  packages/web-components/src/components/ic-search-bar/test/basic/__snapshots__/ic-search-bar.spec.ts.snap
  packages/web-components/src/components/ic-select/test/basic/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-side-navigation/test/basic/__snapshots__/ic-side-navigation.spec.ts.snap
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
  packages/web-components/src/components/ic-top-navigation/test/basic/__snapshots__/ic-top-navigation.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@55d1e4a5993155d75f1b960e09032c33517d1c1c 🚀
  branches/feature/860-top-nav-screen-reader/web-components/6088.399fcc0b.iframe.bundle.js
  branches/feature/860-top-nav-screen-reader/web-components/6088.c3f3071f.iframe.bundle.js
  branches/feature/860-top-nav-screen-reader/web-components/7710.70145844.iframe.bundle.js
  branches/feature/860-top-nav-screen-reader/web-components/7710.79920b50.iframe.bundle.js
  branches/feature/860-top-nav-screen-reader/web-components/7710.79920b50.iframe.bundle.js.LICENSE.txt
  branches/feature/860-top-nav-screen-reader/web-components/iframe.html
  branches/feature/860-top-nav-screen-reader/web-components/main.a8e9b8da.iframe.bundle.js
  branches/feature/860-top-nav-screen-reader/web-components/main.a8e9b8da.iframe.bundle.js.LICENSE.txt
  branches/feature/860-top-nav-screen-reader/web-components/main.ac81bc66.iframe.bundle.js
  branches/feature/860-top-nav-screen-reader/web-components/project.json
  branches/feature/860-top-nav-screen-reader/web-components/runtime~main.3ad6c946.iframe.bundle.js
  branches/feature/860-top-nav-screen-reader/web-components/runtime~main.6ee2be34.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@55d1e4a5993155d75f1b960e09032c33517d1c1c 🚀
  branches/feature/860-top-nav-screen-reader/react/2167.0cc49475.iframe.bundle.js
  branches/feature/860-top-nav-screen-reader/react/2167.0cc49475.iframe.bundle.js.LICENSE.txt
  branches/feature/860-top-nav-screen-reader/react/2167.b1f98ab0.iframe.bundle.js
  branches/feature/860-top-nav-screen-reader/react/8637.68b61de2.iframe.bundle.js
  branches/feature/860-top-nav-screen-reader/react/8637.a1930567.iframe.bundle.js
  branches/feature/860-top-nav-screen-reader/react/iframe.html
  branches/feature/860-top-nav-screen-reader/react/main.6b014ee7.iframe.bundle.js
  branches/feature/860-top-nav-screen-reader/react/main.6b014ee7.iframe.bundle.js.LICENSE.txt
  branches/feature/860-top-nav-screen-reader/react/main.eab08ba4.iframe.bundle.js
  branches/feature/860-top-nav-screen-reader/react/project.json
  branches/feature/860-top-nav-screen-reader/react/runtime~main.0681a183.iframe.bundle.js
  branches/feature/860-top-nav-screen-reader/react/runtime~main.4398f460.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3df2a9d4e0ebf1bf714d468d8a249f7e44f9ac1b 🚀
  branches/test/data-table-pagination/web-components/4876.21575e89.iframe.bundle.js
  branches/test/data-table-pagination/web-components/4876.595e30a9.iframe.bundle.js
  branches/test/data-table-pagination/web-components/iframe.html
  branches/test/data-table-pagination/web-components/project.json
  branches/test/data-table-pagination/web-components/runtime~main.56a87859.iframe.bundle.js
  branches/test/data-table-pagination/web-components/runtime~main.76558835.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3df2a9d4e0ebf1bf714d468d8a249f7e44f9ac1b 🚀
  branches/test/data-table-pagination/react/4136.c3459e47.iframe.bundle.js
  branches/test/data-table-pagination/react/4136.ec83f717.iframe.bundle.js
  branches/test/data-table-pagination/react/iframe.html
  branches/test/data-table-pagination/react/project.json
  branches/test/data-table-pagination/react/runtime~main.73fdcda5.iframe.bundle.js
  branches/test/data-table-pagination/react/runtime~main.a7c52c09.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d983a0641867e1abfbb2711a19bde7ad52655de1 🚀
  branches/test/data-table-pagination/web-components/4876.2fa654b9.iframe.bundle.js
  branches/test/data-table-pagination/web-components/4876.595e30a9.iframe.bundle.js
  branches/test/data-table-pagination/web-components/iframe.html
  branches/test/data-table-pagination/web-components/project.json
  branches/test/data-table-pagination/web-components/runtime~main.56a87859.iframe.bundle.js
  branches/test/data-table-pagination/web-components/runtime~main.e701e394.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d983a0641867e1abfbb2711a19bde7ad52655de1 🚀
  branches/test/data-table-pagination/react/4136.c3459e47.iframe.bundle.js
  branches/test/data-table-pagination/react/4136.daf70797.iframe.bundle.js
  branches/test/data-table-pagination/react/iframe.html
  branches/test/data-table-pagination/react/project.json
  branches/test/data-table-pagination/react/runtime~main.a7c52c09.iframe.bundle.js
  branches/test/data-table-pagination/react/runtime~main.ab271b7d.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@76508e80baa3458cb5a19d93cf95e50ad489f01a 🚀
  branches/831-incorrect-focus-border/web-components/6088.399fcc0b.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/6088.c3f3071f.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/7710.70145844.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/7710.79920b50.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/7710.79920b50.iframe.bundle.js.LICENSE.txt
  branches/831-incorrect-focus-border/web-components/iframe.html
  branches/831-incorrect-focus-border/web-components/main.5a7da2d4.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/main.5a7da2d4.iframe.bundle.js.LICENSE.txt
  branches/831-incorrect-focus-border/web-components/main.8dbdc324.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/project.json
  branches/831-incorrect-focus-border/web-components/runtime~main.71256935.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/runtime~main.cf831b87.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@76508e80baa3458cb5a19d93cf95e50ad489f01a 🚀
  branches/831-incorrect-focus-border/react/2167.0cc49475.iframe.bundle.js
  branches/831-incorrect-focus-border/react/2167.0cc49475.iframe.bundle.js.LICENSE.txt
  branches/831-incorrect-focus-border/react/2167.b1f98ab0.iframe.bundle.js
  branches/831-incorrect-focus-border/react/8637.68b61de2.iframe.bundle.js
  branches/831-incorrect-focus-border/react/8637.a1930567.iframe.bundle.js
  branches/831-incorrect-focus-border/react/iframe.html
  branches/831-incorrect-focus-border/react/main.47bf1158.iframe.bundle.js
  branches/831-incorrect-focus-border/react/main.a7c99131.iframe.bundle.js
  branches/831-incorrect-focus-border/react/main.a7c99131.iframe.bundle.js.LICENSE.txt
  branches/831-incorrect-focus-border/react/project.json
  branches/831-incorrect-focus-border/react/runtime~main.72a8bd3a.iframe.bundle.js
  branches/831-incorrect-focus-border/react/runtime~main.f472cec8.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@91e4413c794e1e0b2d94f6a91f8ec331b8e594b0 🚀
  branches/test/data-table-pagination/web-components/4876.2fa654b9.iframe.bundle.js
  branches/test/data-table-pagination/web-components/4876.8cd8171b.iframe.bundle.js
  branches/test/data-table-pagination/web-components/iframe.html
  branches/test/data-table-pagination/web-components/main.86b8b4df.iframe.bundle.js
  branches/test/data-table-pagination/web-components/main.bbf58c26.iframe.bundle.js
  branches/test/data-table-pagination/web-components/main.bbf58c26.iframe.bundle.js.LICENSE.txt
  branches/test/data-table-pagination/web-components/project.json
  branches/test/data-table-pagination/web-components/runtime~main.2c97d550.iframe.bundle.js
  branches/test/data-table-pagination/web-components/runtime~main.e701e394.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@91e4413c794e1e0b2d94f6a91f8ec331b8e594b0 🚀
  branches/test/data-table-pagination/react/4136.37802574.iframe.bundle.js
  branches/test/data-table-pagination/react/4136.daf70797.iframe.bundle.js
  branches/test/data-table-pagination/react/iframe.html
  branches/test/data-table-pagination/react/main.2a604f86.iframe.bundle.js
  branches/test/data-table-pagination/react/main.2a604f86.iframe.bundle.js.LICENSE.txt
  branches/test/data-table-pagination/react/main.d26c8aa9.iframe.bundle.js
  branches/test/data-table-pagination/react/project.json
  branches/test/data-table-pagination/react/runtime~main.726c68c5.iframe.bundle.js
  branches/test/data-table-pagination/react/runtime~main.ab271b7d.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8b641bdc350e4a135837a7eee92611429a86450a 🚀
  branches/date-input-set-to-null/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8b641bdc350e4a135837a7eee92611429a86450a 🚀
  branches/date-input-set-to-null/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes issue setting date input value to null
  packages/web-components/src/components/ic-date-input/ic-date-input.stories.mdx
  packages/web-components/src/components/ic-date-input/ic-date-input.tsx
  packages/web-components/src/components/ic-date-input/test/basic/ic-date-input.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

style(web-components): updating border-radius of buttons using badges
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-button/ic-button.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@a56741fb1bd643c566f65d322e593a44269af6aa 🚀
  branches/date-input-set-to-null/web-components/6982.0d5b155c.iframe.bundle.js
  branches/date-input-set-to-null/web-components/6982.aea412c0.iframe.bundle.js
  branches/date-input-set-to-null/web-components/6982.aea412c0.iframe.bundle.js.LICENSE.txt
  branches/date-input-set-to-null/web-components/iframe.html
  branches/date-input-set-to-null/web-components/project.json
  branches/date-input-set-to-null/web-components/runtime~main.27bcdcc6.iframe.bundle.js
  branches/date-input-set-to-null/web-components/runtime~main.28b2397b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a56741fb1bd643c566f65d322e593a44269af6aa 🚀
  branches/date-input-set-to-null/react/3244.2519cf89.iframe.bundle.js
  branches/date-input-set-to-null/react/3244.2519cf89.iframe.bundle.js.LICENSE.txt
  branches/date-input-set-to-null/react/3244.2a227966.iframe.bundle.js
  branches/date-input-set-to-null/react/iframe.html
  branches/date-input-set-to-null/react/project.json
  branches/date-input-set-to-null/react/runtime~main.210fd9ac.iframe.bundle.js
  branches/date-input-set-to-null/react/runtime~main.4f1330e8.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0683cce92dfcd74f0ddfedf8d750126fa9c8e583 🚀
  branches/831-incorrect-focus-border/web-components/2115.88af80d9.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/2115.88af80d9.iframe.bundle.js.LICENSE.txt
  branches/831-incorrect-focus-border/web-components/2115.b27d8026.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/6663.9b41450a.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/6663.b9b6bd42.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/6663.b9b6bd42.iframe.bundle.js.LICENSE.txt
  branches/831-incorrect-focus-border/web-components/7420.1897f417.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/7420.1897f417.iframe.bundle.js.LICENSE.txt
  branches/831-incorrect-focus-border/web-components/7420.e2a74608.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/iframe.html
  branches/831-incorrect-focus-border/web-components/main.5a7da2d4.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/main.a8e9b8da.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/main.a8e9b8da.iframe.bundle.js.LICENSE.txt
  branches/831-incorrect-focus-border/web-components/project.json
  branches/831-incorrect-focus-border/web-components/runtime~main.afbb65f6.iframe.bundle.js
  branches/831-incorrect-focus-border/web-components/runtime~main.cf831b87.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0683cce92dfcd74f0ddfedf8d750126fa9c8e583 🚀
  branches/831-incorrect-focus-border/react/1642.ad38e242.iframe.bundle.js
  branches/831-incorrect-focus-border/react/1642.ad38e242.iframe.bundle.js.LICENSE.txt
  branches/831-incorrect-focus-border/react/1642.c40761de.iframe.bundle.js
  branches/831-incorrect-focus-border/react/2148.ca3c3850.iframe.bundle.js
  branches/831-incorrect-focus-border/react/2148.fb88c416.iframe.bundle.js
  branches/831-incorrect-focus-border/react/2148.fb88c416.iframe.bundle.js.LICENSE.txt
  branches/831-incorrect-focus-border/react/2373.6e35d05d.iframe.bundle.js
  branches/831-incorrect-focus-border/react/2373.a232c235.iframe.bundle.js
  branches/831-incorrect-focus-border/react/2373.a232c235.iframe.bundle.js.LICENSE.txt
  branches/831-incorrect-focus-border/react/iframe.html
  branches/831-incorrect-focus-border/react/main.6b014ee7.iframe.bundle.js
  branches/831-incorrect-focus-border/react/main.6b014ee7.iframe.bundle.js.LICENSE.txt
  branches/831-incorrect-focus-border/react/main.a7c99131.iframe.bundle.js
  branches/831-incorrect-focus-border/react/project.json
  branches/831-incorrect-focus-border/react/runtime~main.3dc3c3a0.iframe.bundle.js
  branches/831-incorrect-focus-border/react/runtime~main.72a8bd3a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7c6b67bbd2d70b7f2be0b5d767bf589e2c494a91 🚀
  branches/develop/6663.b9b6bd42.iframe.bundle.js
  branches/develop/6663.b9b6bd42.iframe.bundle.js.LICENSE.txt
  branches/develop/6663.fbc079c8.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.6ee2be34.iframe.bundle.js
  branches/develop/runtime~main.afbb65f6.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(root): removed redundant npm scripts
  package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(web-components): removed redundant npm scripts
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@23eee4b6d4e39a08bffe0bcc29bc8756a99d199a 🚀
  branches/655-empty-state-component/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@23eee4b6d4e39a08bffe0bcc29bc8756a99d199a 🚀
  branches/655-empty-state-component/react/iframe.html
  branches/655-empty-state-component/react/main.120bb12b.iframe.bundle.js
  branches/655-empty-state-component/react/main.120bb12b.iframe.bundle.js.LICENSE.txt
  branches/655-empty-state-component/react/main.32aee94b.iframe.bundle.js
  branches/655-empty-state-component/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
