Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(web-components): regenerated ic-text-field README file
  packages/web-components/src/components/ic-text-field/readme.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@1b5c70b678c860ee492ac921a957ef7e44028a12 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e7f95af647046e955bd8a4dbf40dd992ff1c5c59 🚀
  branches/295-fix-debounce-prop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(root): update changelog
  CHANGELOG.md
Due: remark

docs(fonts): update changelog
  packages/fonts/CHANGELOG.md
Due: remark

docs(react): update changelog
  packages/react/CHANGELOG.md
Due: remark

docs(web-components): update changelog
  packages/web-components/CHANGELOG.md
Due: remark

docs(docs): update changelog
  packages/docs/CHANGELOG.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@c4527629e49ee289beea864507e6b11cb6456740 🚀
  branches/295-fix-debounce-prop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@32ed5d3563bd1f57bb6332806dd6b03d2b94ef28 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes ic-search-bar debounce prop
  packages/web-components/src/components/ic-search-bar/ic-search-bar.e2e.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d334cc29e9720ecb0fe632dfef43d53163cf531c 🚀
  branches/295-fix-debounce-prop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): role added as conditional and aria-labels added
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Status_tag_Announced.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Status_tag_Announced.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-status-tag/ic-status-tag.spec.ts
  packages/web-components/src/components/ic-status-tag/ic-status-tag.stories.mdx
  packages/web-components/src/components/ic-status-tag/ic-status-tag.test.a11y.ts
  packages/web-components/src/components/ic-status-tag/ic-status-tag.tsx
  packages/web-components/src/components/ic-status-tag/readme.md
  packages/web-components/src/components/ic-text-field/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@10fc6817cf1b0b764b2ce29dff0f550852a2e180 🚀
  branches/a11y/245-card-v2/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@dbc5233b41d90bb8d0d369ba5cb452edb9272036 🚀
  branches/feature/296-explore-turning-off-normalise-css/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(react): fixes react storybook docs
  packages/react/src/stories/ic-search-bar.stories.mdx
  packages/react/src/stories/ic-text-field.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@0bae5993db9c4f3eb3b23c8f1fd6268b062fdc02 🚀
  branches/react-storybook-docs/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fix for long single-word app titles
  packages/react/src/stories/ic-top-navigation.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Long_single_word_app_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Long_single_word_app_title.png
  packages/web-components/src/components/ic-top-navigation/__snapshots__/ic-top-navigation.spec.ts.snap
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@a4c9babc006f008db11678d0edaa36a0c35a527b 🚀
  branches/long-title-bug/iframe.html
  branches/long-title-bug/main.60630ef7.iframe.bundle.js
  branches/long-title-bug/main.938dd474.iframe.bundle.js
  branches/long-title-bug/main.938dd474.iframe.bundle.js.LICENSE.txt
  branches/long-title-bug/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes searchbar debounce prop
  packages/web-components/src/components/ic-search-bar/ic-search-bar.e2e.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e3f5fc45a43acae973aacd8e79b04c77c1f9fbe1 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
