Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

chore(react): update node-forge in React package to fix vulnerabilities
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(web-components): add light/dark mode tokens for time selector
  packages/web-components/src/global/color-mode.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@7c25327f538a98018cd5ef617dd7655306a521aa 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7c25327f538a98018cd5ef617dd7655306a521aa 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(canary-web-components): implement time selector component
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-time-input/ic-time-input.tsx
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.css
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.mdx
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.stories.js
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.tsx
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.types.ts
  packages/canary-web-components/src/components/ic-time-selector/readme.md
  packages/canary-web-components/src/components/ic-time-selector/test/basic/__snapshots__/ic-time-selector.spec.tsx.snap
  packages/canary-web-components/src/components/ic-time-selector/test/basic/ic-time-selector.spec.tsx
  packages/canary-web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(canary-docs): update docs.json with time selector component
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(canary-react): implement time selector component
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-column-focus.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-dark-theme.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-date-object-value.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-default-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-default.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-disable-times.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-hhmm-format.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-large.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-max-time.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-min-time-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-min-time.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-small.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-string-value-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-string-value.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-zulu-time-value.png
  packages/canary-react/src/component-tests/IcTimeSelector/IcTimeSelector.cy.tsx
  packages/canary-react/src/component-tests/IcTimeSelector/IcTimeSelectorTestData.tsx
  packages/canary-react/src/components.ts
  packages/canary-react/src/stories/ic-time-selector.mdx
  packages/canary-react/src/stories/ic-time-selector.stories.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

docs(canary-docs): docs changes for new pagination bar props
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(canary-web-components): adds ability to hide pagination bar elements
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-pagination-bar/ic-pagination-bar.stories.js
  packages/canary-web-components/src/components/ic-pagination-bar/ic-pagination-bar.tsx
  packages/canary-web-components/src/components/ic-pagination-bar/readme.md
  packages/canary-web-components/src/components/ic-pagination-bar/test/basic/__snapshots__/ic-pagination-bar.spec.ts.snap
  packages/canary-web-components/src/components/ic-pagination-bar/test/basic/ic-pagination-bar.spec.ts
  packages/canary-web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

feat(canary-react): adds ability to hide pagination bar elements
  packages/canary-react/src/component-tests/IcPaginationBar/IcPaginationBar.cy.tsx
  packages/canary-react/src/stories/ic-data-table.stories.js
  packages/canary-react/src/stories/ic-pagination-bar.stories.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2677a8d3984e22c9b91144bc9f506560bf49164a 🚀
  branches/3671-time-selector-component/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2677a8d3984e22c9b91144bc9f506560bf49164a 🚀
  branches/3671-time-selector-component/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2677a8d3984e22c9b91144bc9f506560bf49164a 🚀
  branches/3671-time-selector-component/canary-web-components/8293.1bba8382.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8293.b79d2f90.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8581.26d586e2.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8581.26d586e2.iframe.bundle.js.LICENSE.txt
  branches/3671-time-selector-component/canary-web-components/8581.26d586e2.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/8581.92086629.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8581.92086629.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/iframe.html
  branches/3671-time-selector-component/canary-web-components/main.8b13d053.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/main.8b13d053.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/main.cdf79ffa.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/main.cdf79ffa.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/project.json
  branches/3671-time-selector-component/canary-web-components/runtime~main.60c0e2df.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/runtime~main.b28f6d26.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2677a8d3984e22c9b91144bc9f506560bf49164a 🚀
  branches/3671-time-selector-component/canary-react/8612.5040a71c.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/8612.f7be98a1.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/iframe.html
  branches/3671-time-selector-component/canary-react/project.json
  branches/3671-time-selector-component/canary-react/runtime~main.237d471c.iframe.bundle.js
  branches/3671-time-selector-component/canary-react/runtime~main.e1df6ca2.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@dbf9a9be959288bc1ef3e49e5807b4c36f197889 🚀
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/baseline/IcCheckbox.cy.tsx/label-slot.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcCheckbox.cy.tsx/label-slot.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcDataList.cy.tsx/editable-data-clicked-high-contrast.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcDataList.cy.tsx/editable-data-clicked.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcDataList.cy.tsx/editable-data-high-contrast.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/full-width.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/full-width-open-selected.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/full-width-open.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/full-width.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-dark-theme.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-light-theme.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelectSearchable.cy.tsx/searchable-full-width-open.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelectSearchable.cy.tsx/searchable-full-width.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTextField.cy.tsx/full-width-text-field.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-search.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/diff/IcDataList.cy.tsx/editable-data-clicked-high-contrast.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/diff/IcDataList.cy.tsx/editable-data-clicked.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/diff/IcDataList.cy.tsx/editable-data-high-contrast.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/diff/IcSearchBar.cy.tsx/full-width.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/diff/IcSelect.cy.tsx/full-width-open.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/diff/IcSelect.cy.tsx/full-width.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-full-width-open.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-full-width.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/diff/IcTextField.cy.tsx/full-width-text-field.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/diff/IcTopNavigation.cy.tsx/mobile-search.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@dbf9a9be959288bc1ef3e49e5807b4c36f197889 🚀
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-html-report/report_27-11-2025_134258.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): add a border to ic-toast
  packages/web-components/src/components/ic-toast/ic-toast.css
  packages/web-components/src/components/ic-toast/ic-toast.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): fix: add border to ic toast
  packages/web-components/src/components/ic-toast/ic-toast.css
  packages/web-components/src/components/ic-toast/ic-toast.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): improve ic-input reflow behaviour
  packages/web-components/src/components/ic-input-component-container/ic-input-component-container.css
  packages/web-components/src/components/ic-input-validation/ic-input-validation.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@fae69a32110f153f73fede11a1e01cbd4871f977 🚀
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-html-report/report_27-11-2025_145407.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0b9b53d0b2475d679e0ae550d21b5816e7b717b6 🚀
  branches/4071-ic-text-field-ic-select-reflow-problems/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0b9b53d0b2475d679e0ae550d21b5816e7b717b6 🚀
  branches/4071-ic-text-field-ic-select-reflow-problems/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2677a8d3984e22c9b91144bc9f506560bf49164a 🚀
  branches/3671-time-selector-component/canary-web-components/8581.26d586e2.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8581.26d586e2.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/8581.92086629.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/8581.92086629.iframe.bundle.js.LICENSE.txt
  branches/3671-time-selector-component/canary-web-components/8581.92086629.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/iframe.html
  branches/3671-time-selector-component/canary-web-components/main.8b13d053.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/main.8b13d053.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/main.cdf79ffa.iframe.bundle.js
  branches/3671-time-selector-component/canary-web-components/main.cdf79ffa.iframe.bundle.js.map
  branches/3671-time-selector-component/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2677a8d3984e22c9b91144bc9f506560bf49164a 🚀
  branches/3671-time-selector-component/canary-react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@be2c85b79426fa0fd8a67d5e5320253aa688bedc 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@be2c85b79426fa0fd8a67d5e5320253aa688bedc 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@be2c85b79426fa0fd8a67d5e5320253aa688bedc 🚀
  branches/canary/develop/web-components/4309.8a68c61f.iframe.bundle.js
  branches/canary/develop/web-components/4309.c09d2883.iframe.bundle.js
  branches/canary/develop/web-components/6879.0ad90e3d.iframe.bundle.js
  branches/canary/develop/web-components/6879.69ff34ab.iframe.bundle.js
  branches/canary/develop/web-components/9358.23bff89d.iframe.bundle.js
  branches/canary/develop/web-components/9358.f4cdf5c4.iframe.bundle.js
  branches/canary/develop/web-components/components-ic-data-table-ic-data-table-stories.59017ead.iframe.bundle.js
  branches/canary/develop/web-components/components-ic-data-table-ic-data-table-stories.59017ead.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/web-components/components-ic-data-table-ic-data-table-stories.59017ead.iframe.bundle.js.map
  branches/canary/develop/web-components/components-ic-data-table-ic-data-table-stories.c62667f7.iframe.bundle.js
  branches/canary/develop/web-components/components-ic-data-table-ic-data-table-stories.c62667f7.iframe.bundle.js.map
  branches/canary/develop/web-components/components-ic-pagination-bar-ic-pagination-bar-mdx.0010a02d.iframe.bundle.js
  branches/canary/develop/web-components/components-ic-pagination-bar-ic-pagination-bar-mdx.0010a02d.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/web-components/components-ic-pagination-bar-ic-pagination-bar-mdx.0010a02d.iframe.bundle.js.map
  branches/canary/develop/web-components/components-ic-pagination-bar-ic-pagination-bar-mdx.264efff1.iframe.bundle.js
  branches/canary/develop/web-components/components-ic-pagination-bar-ic-pagination-bar-mdx.264efff1.iframe.bundle.js.map
  branches/canary/develop/web-components/components-ic-pagination-bar-ic-pagination-bar-stories.0ffce874.iframe.bundle.js
  branches/canary/develop/web-components/components-ic-pagination-bar-ic-pagination-bar-stories.0ffce874.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/web-components/components-ic-pagination-bar-ic-pagination-bar-stories.0ffce874.iframe.bundle.js.map
  branches/canary/develop/web-components/components-ic-pagination-bar-ic-pagination-bar-stories.e0482bbf.iframe.bundle.js
  branches/canary/develop/web-components/components-ic-pagination-bar-ic-pagination-bar-stories.e0482bbf.iframe.bundle.js.map
  branches/canary/develop/web-components/iframe.html
  branches/canary/develop/web-components/index.json
  branches/canary/develop/web-components/main.168d524c.iframe.bundle.js.map
  branches/canary/develop/web-components/main.79fca262.iframe.bundle.js
  branches/canary/develop/web-components/main.79fca262.iframe.bundle.js.map
  branches/canary/develop/web-components/project.json
  branches/canary/develop/web-components/runtime~main.4938c59e.iframe.bundle.js
  branches/canary/develop/web-components/runtime~main.7698a93c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write
