Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@b67405059102d8b33bc09eda742d84d377a0fdb0 🚀
  branches/264-toggle-button/web-components/5541.31003536.iframe.bundle.js
  branches/264-toggle-button/web-components/5541.ea4387ea.iframe.bundle.js
  branches/264-toggle-button/web-components/iframe.html
  branches/264-toggle-button/web-components/project.json
  branches/264-toggle-button/web-components/runtime~main.af4dc7ae.iframe.bundle.js
  branches/264-toggle-button/web-components/runtime~main.efd5a07f.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b67405059102d8b33bc09eda742d84d377a0fdb0 🚀
  branches/264-toggle-button/react/9932.82dab84c.iframe.bundle.js
  branches/264-toggle-button/react/9932.ae5c2a58.iframe.bundle.js
  branches/264-toggle-button/react/iframe.html
  branches/264-toggle-button/react/project.json
  branches/264-toggle-button/react/runtime~main.9cdd3ddb.iframe.bundle.js
  branches/264-toggle-button/react/runtime~main.ecbf0650.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d0537512591ee52f319b474b70b20a93716714fa 🚀
  branches/card-cypress/cypress-screenshots/IcCard.cy.tsx-interaction-controls.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@e0438cab8f80f37d367356d4bf0ea11d3977e446 🚀
  branches/1050-use-icbutton-as-file-upload/web-components/8983.3fab08ae.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/web-components/8983.8144587f.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/web-components/8983.8144587f.iframe.bundle.js.LICENSE.txt
  branches/1050-use-icbutton-as-file-upload/web-components/iframe.html
  branches/1050-use-icbutton-as-file-upload/web-components/project.json
  branches/1050-use-icbutton-as-file-upload/web-components/runtime~main.121cc49b.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/web-components/runtime~main.92984b93.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e0438cab8f80f37d367356d4bf0ea11d3977e446 🚀
  branches/1050-use-icbutton-as-file-upload/react/iframe.html
  branches/1050-use-icbutton-as-file-upload/react/project.json
  branches/1050-use-icbutton-as-file-upload/react/runtime~main.35db20cc.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/react/runtime~main.e487f64a.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/react/stories-ic-button-stories-mdx.ab411fba.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/react/stories-ic-button-stories-mdx.c0d905aa.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a842ef5c27418edf28594b45de85c1ce517fa68c 🚀
  branches/264-toggle-button/web-components/5541.ba755c61.iframe.bundle.js
  branches/264-toggle-button/web-components/5541.ea4387ea.iframe.bundle.js
  branches/264-toggle-button/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.2315e884.iframe.bundle.js
  branches/264-toggle-button/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.2315e884.iframe.bundle.js.map
  branches/264-toggle-button/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.8b96aa3e.iframe.bundle.js
  branches/264-toggle-button/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.8b96aa3e.iframe.bundle.js.LICENSE.txt
  branches/264-toggle-button/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.8b96aa3e.iframe.bundle.js.map
  branches/264-toggle-button/web-components/iframe.html
  branches/264-toggle-button/web-components/project.json
  branches/264-toggle-button/web-components/runtime~main.b1d2cd2f.iframe.bundle.js
  branches/264-toggle-button/web-components/runtime~main.efd5a07f.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a842ef5c27418edf28594b45de85c1ce517fa68c 🚀
  branches/264-toggle-button/react/9932.3d5373a6.iframe.bundle.js
  branches/264-toggle-button/react/9932.ae5c2a58.iframe.bundle.js
  branches/264-toggle-button/react/iframe.html
  branches/264-toggle-button/react/project.json
  branches/264-toggle-button/react/runtime~main.29ab07ff.iframe.bundle.js
  branches/264-toggle-button/react/runtime~main.ecbf0650.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6e0bd15388520a818b2f07753a555fec9ea9edfa 🚀
  branches/DataEntity-cypress/cypress-screenshots/IcDataEntity.cy.tsx-LongTextMethod.png
  branches/DataEntity-cypress/cypress-screenshots/IcDataEntity.cy.tsx-sizeToSmall.png
  branches/DataEntity-cypress/cypress-screenshots/IcDataEntity.cy.tsx-statusTag.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@7e6354e3df556bff30073e4faab3de95fe66ca22 🚀
  branches/264-toggle-button/web-components/1293.638b1a21.iframe.bundle.js
  branches/264-toggle-button/web-components/1293.85072541.iframe.bundle.js
  branches/264-toggle-button/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.5bf7c4c8.iframe.bundle.js
  branches/264-toggle-button/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.5bf7c4c8.iframe.bundle.js.LICENSE.txt
  branches/264-toggle-button/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.5bf7c4c8.iframe.bundle.js.map
  branches/264-toggle-button/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.8b96aa3e.iframe.bundle.js.map
  branches/264-toggle-button/web-components/iframe.html
  branches/264-toggle-button/web-components/project.json
  branches/264-toggle-button/web-components/runtime~main.985f11d8.iframe.bundle.js
  branches/264-toggle-button/web-components/runtime~main.b1d2cd2f.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7e6354e3df556bff30073e4faab3de95fe66ca22 🚀
  branches/264-toggle-button/react/9818.1b7037f3.iframe.bundle.js
  branches/264-toggle-button/react/9818.6b2ead60.iframe.bundle.js
  branches/264-toggle-button/react/iframe.html
  branches/264-toggle-button/react/project.json
  branches/264-toggle-button/react/runtime~main.29ab07ff.iframe.bundle.js
  branches/264-toggle-button/react/runtime~main.366aa190.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(react): refactored and finished cypress testing for components
  packages/react/cypress/support/commands.ts
  packages/react/cypress/support/index.ts
  packages/react/cypress/utils/a11y.ts
  packages/react/src/component-tests/IcAccordion/IcAccordion.cy.tsx
  packages/react/src/component-tests/IcAlert/IcAlert.cy.tsx
  packages/react/src/component-tests/IcBackToTop/IcBackToTop.cy.tsx
  packages/react/src/component-tests/IcBreadcrumb/IcBreadcrumb.cy.tsx
  packages/react/src/component-tests/IcButton/IcButton.cy.tsx
  packages/react/src/component-tests/IcCheckbox/IcCheckbox.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelect.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelectConstants.ts
  packages/react/src/component-tests/IcSelect/IcSelectSearchable.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelectTestData.tsx
  packages/react/src/component-tests/IcToast/IcToast.cy.tsx
  packages/react/src/component-tests/IcTopNavigation/IcTopNavigation.cy.tsx
  packages/react/src/component-tests/IcTopNavigation/IcTopNavigationTestData.tsx
  packages/react/src/component-tests/utils/constants.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@aaaa2efbea4b1f4c82d938f71c52efae285941b4 🚀
  branches/1461-migrate-dialog-testing-over-to-cypress/cypress-screenshots/IcDialog.cy.tsx-scroll-before.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@aa846182e8b49917589219bbf2c9937bdbf3f938 🚀
  branches/264-toggle-button/cypress-screenshots/IcToggleButton.cy.tsx-disabled.png
Due: none

fix(web-components): fixed a11y error about incorrect attributes in ic-navigation-group
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.tsx
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-toast/ic-toast.tsx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@9ee8a382def34cbbf8e1cdb8ce0a6595ecef348c 🚀
  branches/1461-migrate-dialog-testing-over-to-cypress/cypress-screenshots/IcDialog.cy.tsx-custom-dialog-controls.png
  branches/1461-migrate-dialog-testing-over-to-cypress/cypress-screenshots/IcDialog.cy.tsx-scroll-before.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@9ee8a382def34cbbf8e1cdb8ce0a6595ecef348c 🚀
  branches/1461-migrate-dialog-testing-over-to-cypress/cypress-screenshots/IcDialog.cy.tsx-custom-dialog-controls.png
  branches/1461-migrate-dialog-testing-over-to-cypress/cypress-screenshots/IcDialog.cy.tsx-small.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@9ee8a382def34cbbf8e1cdb8ce0a6595ecef348c 🚀
  branches/1461-migrate-dialog-testing-over-to-cypress/cypress-screenshots/IcDialog.cy.tsx-large.png
  branches/1461-migrate-dialog-testing-over-to-cypress/cypress-screenshots/IcDialog.cy.tsx-small.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@9d8c9a9721c8cc1f2adb9b2b2554ef43695e1940 🚀
  branches/1461-migrate-dialog-testing-over-to-cypress/cypress-screenshots/IcDialog.cy.tsx-custom-dialog-controls.png
  branches/1461-migrate-dialog-testing-over-to-cypress/cypress-screenshots/IcDialog.cy.tsx-large.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@32cf1a742b4b786abcdc6574b5af1424f704b7cd 🚀
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/3727.3b726943.iframe.bundle.js.map
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/3727.f608a957.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/3727.f608a957.iframe.bundle.js.LICENSE.txt
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/3727.f608a957.iframe.bundle.js.map
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/9629.75e627fa.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/9629.acf746b8.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/components-ic-data-table-ic-data-table-stories-mdx.c0229cc9.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/components-ic-data-table-ic-data-table-stories-mdx.c0229cc9.iframe.bundle.js.LICENSE.txt
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/components-ic-data-table-ic-data-table-stories-mdx.e7193543.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/getting-started-1-stories-mdx.b594a70b.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/getting-started-1-stories-mdx.d2a1f184.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/getting-started-1-stories-mdx.d2a1f184.iframe.bundle.js.LICENSE.txt
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/iframe.html
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/index.html
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/project.json
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/runtime~main.03a392bf.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/runtime~main.f177ac0e.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/sb-addons/tab-9/register-bundle.css
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/sb-addons/tab-9/register-bundle.css.LEGAL.txt
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/sb-addons/tab-9/register-bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/sb-addons/tab-9/register-bundle.js.LEGAL.txt
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/usage-with-angular-stories-mdx.850cf567.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/usage-with-angular-stories-mdx.e632fd77.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/usage-with-angular-stories-mdx.e632fd77.iframe.bundle.js.LICENSE.txt
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/usage-with-vanillajs-stories-mdx.fbba1359.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/usage-with-vanillajs-stories-mdx.fcd773cd.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/usage-with-vanillajs-stories-mdx.fcd773cd.iframe.bundle.js.LICENSE.txt
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/usage-with-vue-stories-mdx.2576da58.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/usage-with-vue-stories-mdx.9a7e54d1.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/usage-with-vue-stories-mdx.9a7e54d1.iframe.bundle.js.LICENSE.txt
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@32cf1a742b4b786abcdc6574b5af1424f704b7cd 🚀
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/2229.51992563.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/2229.51992563.iframe.bundle.js.map
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/2229.f1a00406.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/2229.f1a00406.iframe.bundle.js.LICENSE.txt
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/2229.f1a00406.iframe.bundle.js.map
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/2677.6d3af0b5.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/2677.c9cdcf7e.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/497.57b351e0.iframe.bundle.js.map
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/497.6e725256.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/497.6e725256.iframe.bundle.js.LICENSE.txt
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/497.6e725256.iframe.bundle.js.map
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/getting-started-stories-mdx.4bce6a59.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/getting-started-stories-mdx.badf2a1a.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/getting-started-stories-mdx.badf2a1a.iframe.bundle.js.LICENSE.txt
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/iframe.html
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/index.html
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/main.29c4ea33.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/main.f51fc33e.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/project.json
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/runtime~main.66b8fb35.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/runtime~main.fb09b7ed.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/sb-addons/tab-9/register-bundle.css
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/sb-addons/tab-9/register-bundle.css.LEGAL.txt
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/sb-addons/tab-9/register-bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/sb-addons/tab-9/register-bundle.js.LEGAL.txt
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/stories-ic-data-table-stories-mdx.5ea69e1b.iframe.bundle.js
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/stories-ic-data-table-stories-mdx.5ea69e1b.iframe.bundle.js.LICENSE.txt
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/stories-ic-data-table-stories-mdx.ceb2043a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@4fadd773ce4a42746d57d2f1e1d6d3e73f447781 🚀
  branches/264-toggle-button/web-components/1293.638b1a21.iframe.bundle.js
  branches/264-toggle-button/web-components/1293.853e0f0e.iframe.bundle.js
  branches/264-toggle-button/web-components/iframe.html
  branches/264-toggle-button/web-components/project.json
  branches/264-toggle-button/web-components/runtime~main.985f11d8.iframe.bundle.js
  branches/264-toggle-button/web-components/runtime~main.e3597bf8.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4fadd773ce4a42746d57d2f1e1d6d3e73f447781 🚀
  branches/264-toggle-button/react/9818.6b2ead60.iframe.bundle.js
  branches/264-toggle-button/react/9818.e58aa5b1.iframe.bundle.js
  branches/264-toggle-button/react/iframe.html
  branches/264-toggle-button/react/project.json
  branches/264-toggle-button/react/runtime~main.366aa190.iframe.bundle.js
  branches/264-toggle-button/react/runtime~main.a16f26f3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@96795da9bc2faa99499c8de919d4180f36857cc8 🚀
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/project.json
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-web-components/sb-addons/tab-9/register-bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@96795da9bc2faa99499c8de919d4180f36857cc8 🚀
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/project.json
  branches/1431-upgrade-storybook-to-v7-in-canary-packages/canary-react/sb-addons/tab-9/register-bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
