Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

feat(canary-web-components): added css custom property
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.css
Due: stylelint --fix

feat(web-components): added loading states to data table
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Empty_and_Loading_State.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Empty_and_Loading_State.png
Due: none

feat(canary-web-components): updated unit test snapshot
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
Due: none

fix(web-components): fixes responsive tabs selection issue
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-horizontal-scroll/ic-horizontal-scroll.tsx
  packages/web-components/src/components/ic-tab-context/test/basic/__snapshots__/ic-tab-context.spec.ts.snap
  packages/web-components/src/components/ic-tab-context/test/basic/ic-tab-context.e2e.ts
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@05c6ae3d2a696834f576d7de011cfe414c27d855 🚀
  branches/develop/8536.05fb5baf.iframe.bundle.js
  branches/develop/8536.2b35eaeb.iframe.bundle.js
  branches/develop/9139.58b2a575.iframe.bundle.js
  branches/develop/9139.58b2a575.iframe.bundle.js.LICENSE.txt
  branches/develop/9139.cd06a7aa.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.6da9a7c3.iframe.bundle.js
  branches/develop/main.6da9a7c3.iframe.bundle.js.LICENSE.txt
  branches/develop/main.b1c9063d.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.6af71e5c.iframe.bundle.js
  branches/develop/runtime~main.c5d96243.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@aa21cf6007b8876f329b730e4663340d8dc7a9d3 🚀
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/8536.05fb5baf.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/8536.2b35eaeb.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/9139.58b2a575.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/9139.58b2a575.iframe.bundle.js.LICENSE.txt
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/9139.cd06a7aa.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/iframe.html
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/main.c154fdb6.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/main.fb7c7ad3.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/main.fb7c7ad3.iframe.bundle.js.LICENSE.txt
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/project.json
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/runtime~main.244ecf72.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/web-components/runtime~main.f3230ce8.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@aa21cf6007b8876f329b730e4663340d8dc7a9d3 🚀
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/4133.91c7a6dd.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/4133.9ee7f868.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/4500.8da58a53.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/4500.c9ebeef8.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/4500.c9ebeef8.iframe.bundle.js.LICENSE.txt
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/iframe.html
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/main.3b5bf576.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/main.3b5bf576.iframe.bundle.js.LICENSE.txt
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/main.55123a4a.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/project.json
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/runtime~main.734a11a5.iframe.bundle.js
  branches/1210-ic-toast-update-toast-to-use-prop-to-openclose/react/runtime~main.e8e1a27c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f3e0d4a245e89838c96dd06faf1f9cf7ec2cdc56 🚀
  branches/feature/date-picker2/web-components/6098.bab7a022.iframe.bundle.js
  branches/feature/date-picker2/web-components/6098.fea1b409.iframe.bundle.js
  branches/feature/date-picker2/web-components/iframe.html
  branches/feature/date-picker2/web-components/project.json
  branches/feature/date-picker2/web-components/runtime~main.4b6e9f95.iframe.bundle.js
  branches/feature/date-picker2/web-components/runtime~main.6ff4c61d.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f3e0d4a245e89838c96dd06faf1f9cf7ec2cdc56 🚀
  branches/feature/date-picker2/react/2635.7eee22cd.iframe.bundle.js
  branches/feature/date-picker2/react/2635.b10f3176.iframe.bundle.js
  branches/feature/date-picker2/react/iframe.html
  branches/feature/date-picker2/react/project.json
  branches/feature/date-picker2/react/runtime~main.44748ea4.iframe.bundle.js
  branches/feature/date-picker2/react/runtime~main.e6724cad.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes accordion expanded
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(react): adds accordion expanded story
  packages/react/src/stories/ic-accordion.stories.mdx
Due: remark

test(web-components): adds visual regression tests for accordion
  packages/react/src/stories/ic-accordion.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Expanded.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Expanded.png
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@b714425325ac6355f1ed79525a2a77f7e4ae3136 🚀
  branches/bugfix/ic-dialog-updates/web-components/2308.37d2fc72.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/2308.b06c2c30.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/2308.b06c2c30.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/web-components/8536.05fb5baf.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/8536.2b35eaeb.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/9139.58b2a575.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/9139.58b2a575.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/web-components/9139.cd06a7aa.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/iframe.html
  branches/bugfix/ic-dialog-updates/web-components/main.dcfdd180.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/main.dcfdd180.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/web-components/main.ef891ea2.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/project.json
  branches/bugfix/ic-dialog-updates/web-components/runtime~main.39d125c9.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/runtime~main.ede04a3f.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b714425325ac6355f1ed79525a2a77f7e4ae3136 🚀
  branches/bugfix/ic-dialog-updates/react/4133.91c7a6dd.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/4133.9ee7f868.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/4500.8da58a53.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/4500.c9ebeef8.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/4500.c9ebeef8.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/react/4637.5c77725b.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/4637.5c77725b.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/react/4637.967e47c5.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/iframe.html
  branches/bugfix/ic-dialog-updates/react/main.32cf5819.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/main.73c70580.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/main.73c70580.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/react/project.json
  branches/bugfix/ic-dialog-updates/react/runtime~main.748c88a7.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/runtime~main.f6aa9861.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(canary-react): added icTitleBar to canary-react package
  packages/canary-react/src/components.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@95a97ab73a038bc28d39a270a6c8839b96d04e69 🚀
  branches/bugfix/default-accordion-expanded/web-components/8536.05fb5baf.iframe.bundle.js
  branches/bugfix/default-accordion-expanded/web-components/8536.2b35eaeb.iframe.bundle.js
  branches/bugfix/default-accordion-expanded/web-components/9139.58b2a575.iframe.bundle.js
  branches/bugfix/default-accordion-expanded/web-components/9139.58b2a575.iframe.bundle.js.LICENSE.txt
  branches/bugfix/default-accordion-expanded/web-components/9139.cd06a7aa.iframe.bundle.js
  branches/bugfix/default-accordion-expanded/web-components/iframe.html
  branches/bugfix/default-accordion-expanded/web-components/main.4527c8dd.iframe.bundle.js
  branches/bugfix/default-accordion-expanded/web-components/main.4527c8dd.iframe.bundle.js.LICENSE.txt
  branches/bugfix/default-accordion-expanded/web-components/main.d92c85c2.iframe.bundle.js
  branches/bugfix/default-accordion-expanded/web-components/project.json
  branches/bugfix/default-accordion-expanded/web-components/runtime~main.dafc069a.iframe.bundle.js
  branches/bugfix/default-accordion-expanded/web-components/runtime~main.e6d2ec8e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@95a97ab73a038bc28d39a270a6c8839b96d04e69 🚀
  branches/bugfix/default-accordion-expanded/react/4133.91c7a6dd.iframe.bundle.js
  branches/bugfix/default-accordion-expanded/react/4133.9ee7f868.iframe.bundle.js
  branches/bugfix/default-accordion-expanded/react/4500.8da58a53.iframe.bundle.js
  branches/bugfix/default-accordion-expanded/react/4500.c9ebeef8.iframe.bundle.js
  branches/bugfix/default-accordion-expanded/react/4500.c9ebeef8.iframe.bundle.js.LICENSE.txt
  branches/bugfix/default-accordion-expanded/react/iframe.html
  branches/bugfix/default-accordion-expanded/react/main.0dd4edab.iframe.bundle.js
  branches/bugfix/default-accordion-expanded/react/main.0dd4edab.iframe.bundle.js.LICENSE.txt
  branches/bugfix/default-accordion-expanded/react/main.dff8d391.iframe.bundle.js
  branches/bugfix/default-accordion-expanded/react/project.json
  branches/bugfix/default-accordion-expanded/react/runtime~main.33802d98.iframe.bundle.js
  branches/bugfix/default-accordion-expanded/react/runtime~main.c689fb9e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(canary-web-components): added ic-title-bar component
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_Title_Bar.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_icons.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Basic.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Custom_actions.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Hide_density_selector.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Not_full_width.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Slotted_header_and_description.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_With_metadata_and_description.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_Title_Bar.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_icons.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Basic.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Custom_actions.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Hide_density_selector.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Not_full_width.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Slotted_header_and_description.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_With_metadata_and_description.png
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.types.tsx
  packages/canary-web-components/src/components/ic-data-table/readme.md
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-data-table/test/basic/ic-data-table.spec.tsx
  packages/canary-web-components/src/components/ic-title-bar/ic-title-bar.css
  packages/canary-web-components/src/components/ic-title-bar/ic-title-bar.stories.mdx
  packages/canary-web-components/src/components/ic-title-bar/ic-title-bar.tsx
  packages/canary-web-components/src/components/ic-title-bar/readme.md
  packages/canary-web-components/src/components/ic-title-bar/test/basic/__snapshots__/ic-title-bar.spec.tsx.snap
  packages/canary-web-components/src/components/ic-title-bar/test/basic/ic-title-bar.spec.tsx
  packages/canary-web-components/src/testspec.setup.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(canary-react): added title bar stories for React implementation
  packages/canary-react/src/stories/ic-data-table.stories.mdx
  packages/canary-react/src/stories/ic-title-bar.stories.mdx
Due: remark

feat(canary-web-components): updated to ic-title-bar
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Data_Table_Custom_Title_Bar.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Basic.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Custom_actions.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Hide_density_selector.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_Slotted_header_and_description.png
  packages/canary-web-components/.loki/reference/chrome_iphone7_Web_Components_Title_Bar_With_metadata_and_description.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Data_Table_Custom_Title_Bar.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Basic.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Custom_actions.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Hide_density_selector.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_Slotted_header_and_description.png
  packages/canary-web-components/.loki/reference/chrome_laptop_Web_Components_Title_Bar_With_metadata_and_description.png
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.css
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/canary-web-components/src/components/ic-data-table/story-data.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-title-bar/ic-title-bar.css
  packages/canary-web-components/src/components/ic-title-bar/ic-title-bar.stories.mdx
  packages/canary-web-components/src/components/ic-title-bar/ic-title-bar.tsx
  packages/canary-web-components/src/components/ic-title-bar/readme.md
  packages/canary-web-components/src/components/ic-title-bar/test/a11y/ic-title-bar.test.a11y.ts
  packages/canary-web-components/src/components/ic-title-bar/test/basic/__snapshots__/ic-title-bar.spec.tsx.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@2fbb2e304013d922f584d9dc4b3d0b6cecddfd26 🚀
  branches/feature/date-picker2/web-components/6098.e5a1c457.iframe.bundle.js
  branches/feature/date-picker2/web-components/6098.fea1b409.iframe.bundle.js
  branches/feature/date-picker2/web-components/iframe.html
  branches/feature/date-picker2/web-components/project.json
  branches/feature/date-picker2/web-components/runtime~main.6ff4c61d.iframe.bundle.js
  branches/feature/date-picker2/web-components/runtime~main.e1bfce30.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2fbb2e304013d922f584d9dc4b3d0b6cecddfd26 🚀
  branches/feature/date-picker2/react/2635.a68eaa67.iframe.bundle.js
  branches/feature/date-picker2/react/2635.b10f3176.iframe.bundle.js
  branches/feature/date-picker2/react/iframe.html
  branches/feature/date-picker2/react/project.json
  branches/feature/date-picker2/react/runtime~main.e6724cad.iframe.bundle.js
  branches/feature/date-picker2/react/runtime~main.f86a492c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): updated to audit-ci
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(canary-react): update to data tables stories
  packages/canary-react/src/stories/ic-data-table.stories.mdx
  packages/canary-react/src/stories/ic-title-bar.stories.mdx
Due: remark

docs(canary-react): added pagination bar to react stories
  packages/canary-react/src/stories/ic-pagination-bar.stories.mdx
Due: remark

fix(web-components): changed ic-menu aria-selected to be string value
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/test/basic/__snapshots__/ic-menu.spec.tsx.snap
  packages/web-components/src/components/ic-select/test/basic/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-select/test/basic/ic-select.e2e.ts
  packages/web-components/src/components/ic-tooltip/test/basic/__snapshots__/ic-tooltip.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fdbf5c002cc0932a69206c7b2b90151a5008ab1a 🚀
  branches/feature/date-picker2/web-components/6098.00504a7f.iframe.bundle.js
  branches/feature/date-picker2/web-components/6098.e5a1c457.iframe.bundle.js
  branches/feature/date-picker2/web-components/iframe.html
  branches/feature/date-picker2/web-components/project.json
  branches/feature/date-picker2/web-components/runtime~main.36746b64.iframe.bundle.js
  branches/feature/date-picker2/web-components/runtime~main.e1bfce30.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fdbf5c002cc0932a69206c7b2b90151a5008ab1a 🚀
  branches/feature/date-picker2/react/2635.7b0ac2cc.iframe.bundle.js
  branches/feature/date-picker2/react/2635.a68eaa67.iframe.bundle.js
  branches/feature/date-picker2/react/iframe.html
  branches/feature/date-picker2/react/project.json
  branches/feature/date-picker2/react/runtime~main.f86a492c.iframe.bundle.js
  branches/feature/date-picker2/react/runtime~main.fb3f2f4c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@96dba5ca90e0c3fc66bf5f410071942cf2a6d4fb 🚀
  branches/feature/date-picker2/web-components/6982.41eacfb2.iframe.bundle.js
  branches/feature/date-picker2/web-components/6982.41eacfb2.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/web-components/6982.4d0eeecb.iframe.bundle.js
  branches/feature/date-picker2/web-components/iframe.html
  branches/feature/date-picker2/web-components/project.json
  branches/feature/date-picker2/web-components/runtime~main.36746b64.iframe.bundle.js
  branches/feature/date-picker2/web-components/runtime~main.be2655a0.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@96dba5ca90e0c3fc66bf5f410071942cf2a6d4fb 🚀
  branches/feature/date-picker2/react/3244.96b9d8d3.iframe.bundle.js
  branches/feature/date-picker2/react/3244.e0061627.iframe.bundle.js
  branches/feature/date-picker2/react/3244.e0061627.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker2/react/iframe.html
  branches/feature/date-picker2/react/project.json
  branches/feature/date-picker2/react/runtime~main.950e0690.iframe.bundle.js
  branches/feature/date-picker2/react/runtime~main.fb3f2f4c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@474dd5281a6c508f5cf49679daecd56713ae4f16 🚀
  branches/feature/date-picker2/web-components/6098.00504a7f.iframe.bundle.js
  branches/feature/date-picker2/web-components/6098.a7582c00.iframe.bundle.js
  branches/feature/date-picker2/web-components/iframe.html
  branches/feature/date-picker2/web-components/project.json
  branches/feature/date-picker2/web-components/runtime~main.0696a186.iframe.bundle.js
  branches/feature/date-picker2/web-components/runtime~main.be2655a0.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@474dd5281a6c508f5cf49679daecd56713ae4f16 🚀
  branches/feature/date-picker2/react/2635.465d89be.iframe.bundle.js
  branches/feature/date-picker2/react/2635.7b0ac2cc.iframe.bundle.js
  branches/feature/date-picker2/react/iframe.html
  branches/feature/date-picker2/react/project.json
  branches/feature/date-picker2/react/runtime~main.73005b7a.iframe.bundle.js
  branches/feature/date-picker2/react/runtime~main.950e0690.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a7bafe14d2bee7922bcc1bc4eeb73896414fe9bd 🚀
  branches/feature/date-picker2/web-components/6098.a7582c00.iframe.bundle.js
  branches/feature/date-picker2/web-components/6098.ae97c3cc.iframe.bundle.js
  branches/feature/date-picker2/web-components/iframe.html
  branches/feature/date-picker2/web-components/project.json
  branches/feature/date-picker2/web-components/runtime~main.0696a186.iframe.bundle.js
  branches/feature/date-picker2/web-components/runtime~main.36ab04e1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a7bafe14d2bee7922bcc1bc4eeb73896414fe9bd 🚀
  branches/feature/date-picker2/react/2635.465d89be.iframe.bundle.js
  branches/feature/date-picker2/react/2635.a15fcbe2.iframe.bundle.js
  branches/feature/date-picker2/react/iframe.html
  branches/feature/date-picker2/react/project.json
  branches/feature/date-picker2/react/runtime~main.73005b7a.iframe.bundle.js
  branches/feature/date-picker2/react/runtime~main.83d0bd6e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0b6170207b444afafc2055b1e71f1096dcc954ff 🚀
  branches/feature/date-picker2/web-components/6098.37b62404.iframe.bundle.js
  branches/feature/date-picker2/web-components/6098.ae97c3cc.iframe.bundle.js
  branches/feature/date-picker2/web-components/iframe.html
  branches/feature/date-picker2/web-components/project.json
  branches/feature/date-picker2/web-components/runtime~main.36ab04e1.iframe.bundle.js
  branches/feature/date-picker2/web-components/runtime~main.5087b452.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0b6170207b444afafc2055b1e71f1096dcc954ff 🚀
  branches/feature/date-picker2/react/2635.a15fcbe2.iframe.bundle.js
  branches/feature/date-picker2/react/2635.b246262e.iframe.bundle.js
  branches/feature/date-picker2/react/iframe.html
  branches/feature/date-picker2/react/project.json
  branches/feature/date-picker2/react/runtime~main.0878c4b0.iframe.bundle.js
  branches/feature/date-picker2/react/runtime~main.83d0bd6e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
