Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@0b168f8cfbd64c6281b3f961cab2367c93385d99 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@984101337ce49d9c653da6c707a2cf9dfa70de39 🚀
  branches/remove-slot-name-in-ic-nav-item/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@984101337ce49d9c653da6c707a2cf9dfa70de39 🚀
  branches/remove-slot-name-in-ic-nav-item/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add css styling for ic-card icons when displayed in high contrast mode
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-card/ic-card.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

build(react): update version number of web components package in package-lock.json
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d4de42ee88dd0dca343830b777894073a6881f65 🚀
  branches/remove-slot-name-in-ic-nav-item/web-components/7420.83f076da.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/web-components/7420.83f076da.iframe.bundle.js.LICENSE.txt
  branches/remove-slot-name-in-ic-nav-item/web-components/7420.a60c797d.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/web-components/iframe.html
  branches/remove-slot-name-in-ic-nav-item/web-components/project.json
  branches/remove-slot-name-in-ic-nav-item/web-components/runtime~main.344c0ea9.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/web-components/runtime~main.af3cf6ff.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d4de42ee88dd0dca343830b777894073a6881f65 🚀
  branches/remove-slot-name-in-ic-nav-item/react/2148.324ee0e9.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/react/2148.324ee0e9.iframe.bundle.js.LICENSE.txt
  branches/remove-slot-name-in-ic-nav-item/react/2148.8532a7d5.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/react/iframe.html
  branches/remove-slot-name-in-ic-nav-item/react/project.json
  branches/remove-slot-name-in-ic-nav-item/react/runtime~main.5fd0e4d9.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/react/runtime~main.88620c11.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d4de42ee88dd0dca343830b777894073a6881f65 🚀
  branches/remove-slot-name-in-ic-nav-item/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d4de42ee88dd0dca343830b777894073a6881f65 🚀
  branches/remove-slot-name-in-ic-nav-item/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@541d43f5dea6ab073989689dda98f8cbded67154 🚀
  branches/develop/5696.12da82dd.iframe.bundle.js
  branches/develop/5696.12da82dd.iframe.bundle.js.LICENSE.txt
  branches/develop/5696.5e7356e1.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.3a8b5f6d.iframe.bundle.js
  branches/develop/runtime~main.8e399e1c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): update radio group to use resize observer
  packages/web-components/src/components/ic-radio-group/ic-radio-group.css
  packages/web-components/src/components/ic-radio-group/ic-radio-group.tsx
  packages/web-components/src/components/ic-radio-group/test/basic/__snapshots__/ic-radio-group.spec.ts.snap
  packages/web-components/src/components/ic-radio-group/test/basic/ic-radio-group.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): changes side-nav and nav-items z-index
  packages/web-components/src/global/variables.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@4186f0bdb9dcb133a92809a0946fe3e4527ee77e 🚀
  branches/develop/3874.2f1f3f00.iframe.bundle.js
  branches/develop/3874.f889117e.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.0a1df9b9.iframe.bundle.js
  branches/develop/main.0a1df9b9.iframe.bundle.js.LICENSE.txt
  branches/develop/main.0d5c9722.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.3a8b5f6d.iframe.bundle.js
  branches/develop/runtime~main.cd9af89a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8252429eaf1e5be480ac2f7aeae5a3d4a6b1b7da 🚀
  branches/develop/iframe.html
  branches/develop/main.0a1df9b9.iframe.bundle.js
  branches/develop/main.f0001901.iframe.bundle.js
  branches/develop/main.f0001901.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): remove the ability to submit on enter for disabled search option
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/test/basic/ic-menu.spec.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.stories.mdx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): fixes app-title slot bug and introduces unnamed slot
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Long_app_version_and_app_status.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Slots_using_app_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Slots_using_app_title_expanded.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Using_unnamed_slots.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Using_unnamed_slots.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Slots_using_app_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Slots_using_app_title_expanded.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Static.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Using_unnamed_slots.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Using_unnamed_slots.png
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-navigation-menu/test/basic/__snapshots__/ic-navigation-menu.spec.ts.snap
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-side-navigation/test/basic/__snapshots__/ic-side-navigation.spec.ts.snap
  packages/web-components/src/components/ic-side-navigation/test/basic/ic-side-navigation-test-examples.ts
  packages/web-components/src/components/ic-side-navigation/test/basic/ic-side-navigation.e2e.ts
  packages/web-components/src/components/ic-side-navigation/test/basic/ic-side-navigation.spec.ts
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
  packages/web-components/src/components/ic-top-navigation/test/basic/__snapshots__/ic-top-navigation.spec.ts.snap
  packages/web-components/src/components/ic-top-navigation/test/basic/ic-top-navigation.mobile.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(react): adds react story for unnamed slot
  packages/react/src/stories/ic-side-navigation.stories.mdx
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Slots_using_app_title_expanded.png
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-side-navigation/test/basic/ic-side-navigation.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@5a64afb3905d5b313d990585cc185390337bb003 🚀
  branches/remove-slot-name-in-ic-nav-item/web-components/3874.2f1f3f00.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/web-components/3874.f889117e.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/web-components/5696.12da82dd.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/web-components/5696.12da82dd.iframe.bundle.js.LICENSE.txt
  branches/remove-slot-name-in-ic-nav-item/web-components/5696.5e7356e1.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/web-components/iframe.html
  branches/remove-slot-name-in-ic-nav-item/web-components/main.449666ca.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/web-components/main.449666ca.iframe.bundle.js.LICENSE.txt
  branches/remove-slot-name-in-ic-nav-item/web-components/main.b405c382.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/web-components/project.json
  branches/remove-slot-name-in-ic-nav-item/web-components/runtime~main.8c7cbf1b.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/web-components/runtime~main.af3cf6ff.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5a64afb3905d5b313d990585cc185390337bb003 🚀
  branches/remove-slot-name-in-ic-nav-item/react/3132.96977252.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/react/3132.cea9f600.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/react/6831.7baa5642.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/react/6831.ddc48a3c.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/react/6831.ddc48a3c.iframe.bundle.js.LICENSE.txt
  branches/remove-slot-name-in-ic-nav-item/react/iframe.html
  branches/remove-slot-name-in-ic-nav-item/react/main.05b76ff2.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/react/main.05b76ff2.iframe.bundle.js.LICENSE.txt
  branches/remove-slot-name-in-ic-nav-item/react/main.e09c68c7.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/react/project.json
  branches/remove-slot-name-in-ic-nav-item/react/runtime~main.5fd0e4d9.iframe.bundle.js
  branches/remove-slot-name-in-ic-nav-item/react/runtime~main.6fbd90b4.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
