Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@971df0771438267b285c6e4b4e2aefb7dcf70fca 🚀
  branches/4046-add-i18n-examples/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4046-add-i18n-examples/cypress-image-diff-html-report/report_21-11-2025_132709.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(react): update to storybook for ic-hero text fix
  packages/react/src/stories/ic-hero.stories.js
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@b6fc459601d584f7e8948b13728dd88310dfb715 🚀
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b6fc459601d584f7e8948b13728dd88310dfb715 🚀
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/ic-hero-mdx.6a772132.iframe.bundle.js
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/ic-hero-mdx.7d3f62c7.iframe.bundle.js
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/ic-hero-stories.512915f2.iframe.bundle.js
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/ic-hero-stories.e48dd786.iframe.bundle.js
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/iframe.html
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/project.json
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/runtime~main.2d66776e.iframe.bundle.js
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/runtime~main.cbb1f7c1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b0984d60c1b9d4cc90d9395191b19e72f533b2d7 🚀
  branches/develop/web-components/3722.18dad951.iframe.bundle.js
  branches/develop/web-components/3722.6bca8529.iframe.bundle.js
  branches/develop/web-components/9606.a0d651d8.iframe.bundle.js
  branches/develop/web-components/9606.dc7aed32.iframe.bundle.js
  branches/develop/web-components/components-ic-hero-ic-hero-mdx.4fd491da.iframe.bundle.js
  branches/develop/web-components/components-ic-hero-ic-hero-mdx.4fd491da.iframe.bundle.js.map
  branches/develop/web-components/components-ic-hero-ic-hero-mdx.5e82095a.iframe.bundle.js
  branches/develop/web-components/components-ic-hero-ic-hero-mdx.5e82095a.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/components-ic-hero-ic-hero-mdx.5e82095a.iframe.bundle.js.map
  branches/develop/web-components/components-ic-hero-ic-hero-stories.b3d2eace.iframe.bundle.js
  branches/develop/web-components/components-ic-hero-ic-hero-stories.b3d2eace.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/components-ic-hero-ic-hero-stories.b3d2eace.iframe.bundle.js.map
  branches/develop/web-components/components-ic-hero-ic-hero-stories.d198206f.iframe.bundle.js
  branches/develop/web-components/components-ic-hero-ic-hero-stories.d198206f.iframe.bundle.js.map
  branches/develop/web-components/iframe.html
  branches/develop/web-components/main.2cf1534b.iframe.bundle.js.map
  branches/develop/web-components/main.c5af58d4.iframe.bundle.js
  branches/develop/web-components/main.c5af58d4.iframe.bundle.js.map
  branches/develop/web-components/project.json
  branches/develop/web-components/runtime~main.bee83455.iframe.bundle.js
  branches/develop/web-components/runtime~main.e698a7f1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b0984d60c1b9d4cc90d9395191b19e72f533b2d7 🚀
  branches/develop/react/6238.5fd9ebf3.iframe.bundle.js
  branches/develop/react/6238.8f7f7cd1.iframe.bundle.js
  branches/develop/react/6238.8f7f7cd1.iframe.bundle.js.LICENSE.txt
  branches/develop/react/6434.06c63ade.iframe.bundle.js
  branches/develop/react/6434.9c18ccb6.iframe.bundle.js
  branches/develop/react/ic-hero-mdx.3bb3dc2c.iframe.bundle.js
  branches/develop/react/ic-hero-mdx.7d3f62c7.iframe.bundle.js
  branches/develop/react/ic-hero-stories.512915f2.iframe.bundle.js
  branches/develop/react/ic-hero-stories.e48dd786.iframe.bundle.js
  branches/develop/react/iframe.html
  branches/develop/react/main.9ac6b292.iframe.bundle.js
  branches/develop/react/main.9ac6b292.iframe.bundle.js.LICENSE.txt
  branches/develop/react/main.aa7ca2e6.iframe.bundle.js
  branches/develop/react/project.json
  branches/develop/react/runtime~main.6085578c.iframe.bundle.js
  branches/develop/react/runtime~main.cbb1f7c1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(root): sorting out stories
  packages/canary-docs/docs.json
  packages/canary-react/src/stories/ic-drawer.stories.js
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/readme.md
  packages/react/src/stories/ic-text-field.stories.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@481e5ba015423515a39924a90b19937cf37ab243 🚀
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-html-report/report_24-11-2025_104938.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8ce1a0ad9f8fdf87320666c7a93c380705968af6 🚀
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/spellcheck.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelectSearchable.cy.tsx/searchable-descriptions-in-filter-open.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open-high-contrast.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/diff/IcSearchBar.cy.tsx/spellcheck.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-descriptions-in-filter-open.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open-high-contrast.png
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@8ce1a0ad9f8fdf87320666c7a93c380705968af6 🚀
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4071-ic-text-field-ic-select-reflow-problems/cypress-image-diff-html-report/report_24-11-2025_112144.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(web-components): add custom CSS tokens and z-index token for new calendar component
  packages/web-components/src/global/color-mode.css
  packages/web-components/src/global/variables.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@28597606f9dfabebe7e3ab745294bc18ca7277e7 🚀
  branches/calendar-second-attempt/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/calendar-second-attempt/cypress-image-diff-html-report/report_24-11-2025_123714.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@96a0bbe076bf447aad2818d7f45e5d39e3817bde 🚀
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/focused-destructive.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-light-theme.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@96a0bbe076bf447aad2818d7f45e5d39e3817bde 🚀
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-html-report/report_24-11-2025_124610.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a56875eb74a42437258d98862bec96a6df89b97b 🚀
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-dark-theme.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-light-theme.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@a56875eb74a42437258d98862bec96a6df89b97b 🚀
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-html-report/report_24-11-2025_132033.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1025707b0da8196119518837aa87c5f42e58f28a 🚀
  branches/calendar-second-attempt/web-components/1400.262916ec.iframe.bundle.js
  branches/calendar-second-attempt/web-components/1400.60c16f51.iframe.bundle.js
  branches/calendar-second-attempt/web-components/3722.18dad951.iframe.bundle.js
  branches/calendar-second-attempt/web-components/3722.6bca8529.iframe.bundle.js
  branches/calendar-second-attempt/web-components/9606.a0d651d8.iframe.bundle.js
  branches/calendar-second-attempt/web-components/9606.dc7aed32.iframe.bundle.js
  branches/calendar-second-attempt/web-components/components-ic-hero-ic-hero-mdx.4fd491da.iframe.bundle.js
  branches/calendar-second-attempt/web-components/components-ic-hero-ic-hero-mdx.4fd491da.iframe.bundle.js.map
  branches/calendar-second-attempt/web-components/components-ic-hero-ic-hero-mdx.5e82095a.iframe.bundle.js
  branches/calendar-second-attempt/web-components/components-ic-hero-ic-hero-mdx.5e82095a.iframe.bundle.js.LICENSE.txt
  branches/calendar-second-attempt/web-components/components-ic-hero-ic-hero-mdx.5e82095a.iframe.bundle.js.map
  branches/calendar-second-attempt/web-components/components-ic-hero-ic-hero-stories.b3d2eace.iframe.bundle.js
  branches/calendar-second-attempt/web-components/components-ic-hero-ic-hero-stories.b3d2eace.iframe.bundle.js.LICENSE.txt
  branches/calendar-second-attempt/web-components/components-ic-hero-ic-hero-stories.b3d2eace.iframe.bundle.js.map
  branches/calendar-second-attempt/web-components/components-ic-hero-ic-hero-stories.d198206f.iframe.bundle.js
  branches/calendar-second-attempt/web-components/components-ic-hero-ic-hero-stories.d198206f.iframe.bundle.js.map
  branches/calendar-second-attempt/web-components/iframe.html
  branches/calendar-second-attempt/web-components/main.0aa3fa15.iframe.bundle.js
  branches/calendar-second-attempt/web-components/main.0aa3fa15.iframe.bundle.js.map
  branches/calendar-second-attempt/web-components/main.d42c1a71.iframe.bundle.js.map
  branches/calendar-second-attempt/web-components/project.json
  branches/calendar-second-attempt/web-components/runtime~main.4d1b09d7.iframe.bundle.js
  branches/calendar-second-attempt/web-components/runtime~main.bee83455.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1025707b0da8196119518837aa87c5f42e58f28a 🚀
  branches/calendar-second-attempt/react/6238.5fd9ebf3.iframe.bundle.js
  branches/calendar-second-attempt/react/6238.8f7f7cd1.iframe.bundle.js
  branches/calendar-second-attempt/react/6238.8f7f7cd1.iframe.bundle.js.LICENSE.txt
  branches/calendar-second-attempt/react/6434.06c63ade.iframe.bundle.js
  branches/calendar-second-attempt/react/6434.9c18ccb6.iframe.bundle.js
  branches/calendar-second-attempt/react/6816.6dfcd392.iframe.bundle.js
  branches/calendar-second-attempt/react/6816.7f20a916.iframe.bundle.js
  branches/calendar-second-attempt/react/6816.7f20a916.iframe.bundle.js.LICENSE.txt
  branches/calendar-second-attempt/react/ic-hero-mdx.3bb3dc2c.iframe.bundle.js
  branches/calendar-second-attempt/react/ic-hero-mdx.7d3f62c7.iframe.bundle.js
  branches/calendar-second-attempt/react/ic-hero-stories.512915f2.iframe.bundle.js
  branches/calendar-second-attempt/react/ic-hero-stories.e48dd786.iframe.bundle.js
  branches/calendar-second-attempt/react/iframe.html
  branches/calendar-second-attempt/react/main.1612c9c3.iframe.bundle.js
  branches/calendar-second-attempt/react/main.1612c9c3.iframe.bundle.js.LICENSE.txt
  branches/calendar-second-attempt/react/main.f056481b.iframe.bundle.js
  branches/calendar-second-attempt/react/project.json
  branches/calendar-second-attempt/react/runtime~main.cbb1f7c1.iframe.bundle.js
  branches/calendar-second-attempt/react/runtime~main.f8614ce3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1025707b0da8196119518837aa87c5f42e58f28a 🚀
  branches/calendar-second-attempt/canary-web-components/2285.8e2c4c07.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/2285.d008812b.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/3722.4e0c0de0.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/3722.b6f60d6e.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/5869.7a89d4dc.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/5869.ee9a1f0c.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/7193.12505542.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/7193.3d9e98fc.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-mdx.ad98eefa.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-mdx.ad98eefa.iframe.bundle.js.map
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-mdx.f090d640.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-mdx.f090d640.iframe.bundle.js.LICENSE.txt
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-mdx.f090d640.iframe.bundle.js.map
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-stories.6556754a.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-stories.6556754a.iframe.bundle.js.map
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-stories.e3cbd03d.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-stories.e3cbd03d.iframe.bundle.js.LICENSE.txt
  branches/calendar-second-attempt/canary-web-components/components-ic-calendar-ic-calendar-stories.e3cbd03d.iframe.bundle.js.map
  branches/calendar-second-attempt/canary-web-components/components-ic-date-picker-ic-date-picker-stories.14c25329.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/components-ic-date-picker-ic-date-picker-stories.14c25329.iframe.bundle.js.LICENSE.txt
  branches/calendar-second-attempt/canary-web-components/components-ic-date-picker-ic-date-picker-stories.14c25329.iframe.bundle.js.map
  branches/calendar-second-attempt/canary-web-components/components-ic-date-picker-ic-date-picker-stories.f9bcf139.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/components-ic-date-picker-ic-date-picker-stories.f9bcf139.iframe.bundle.js.map
  branches/calendar-second-attempt/canary-web-components/iframe.html
  branches/calendar-second-attempt/canary-web-components/main.168d524c.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/main.168d524c.iframe.bundle.js.map
  branches/calendar-second-attempt/canary-web-components/main.783fda3f.iframe.bundle.js.map
  branches/calendar-second-attempt/canary-web-components/project.json
  branches/calendar-second-attempt/canary-web-components/runtime~main.a6738b6a.iframe.bundle.js
  branches/calendar-second-attempt/canary-web-components/runtime~main.f1d0ab08.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1025707b0da8196119518837aa87c5f42e58f28a 🚀
  branches/calendar-second-attempt/canary-react/4726.0dca557b.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/4726.6f2f28e2.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/5441.da5e982e.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/5441.e365cd06.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/5976.7133b554.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/5976.93af111c.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/6532.227e9e83.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/6532.ed92579e.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/6730.6684a980.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/6730.a74d7c07.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/7006.8080e0b2.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/7006.c8b99904.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/7681.4a1e8e6e.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/7681.ceea72bf.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/9046.7849be86.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/9046.f8142a4e.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/iframe.html
  branches/calendar-second-attempt/canary-react/main.b24fdb8b.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/main.dcb41581.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/project.json
  branches/calendar-second-attempt/canary-react/runtime~main.2bd3673a.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/runtime~main.8a1a55e3.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/stories-ic-calendar-mdx.34ebf424.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/stories-ic-calendar-mdx.f65595f8.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/stories-ic-calendar-stories.9f9053ba.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/stories-ic-calendar-stories.d6ded2ac.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/stories-ic-date-picker-stories.884fd350.iframe.bundle.js
  branches/calendar-second-attempt/canary-react/stories-ic-date-picker-stories.9ce5db45.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f6f512f359a2a57267ce17f5c81cfbc22f684ff0 🚀
  branches/calendar-second-attempt/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/calendar-second-attempt/cypress-image-diff-html-report/report_24-11-2025_123714.json
  branches/calendar-second-attempt/cypress-image-diff-html-report/report_24-11-2025_135822.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(web-components): add label slot to ic-checkbox
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.js
  packages/web-components/src/components/ic-checkbox-group/test/basic/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/test/basic/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): fix top navigation group labels overflowing
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
Due: stylelint --fix

test(react): add tests for slotted label in Checkbox
  packages/react/cypress-image-diff-screenshots/baseline/IcCheckbox.cy.tsx/label-slot.png
  packages/react/src/component-tests/IcCheckbox/IcCheckbox.cy.tsx
  packages/react/src/component-tests/IcCheckbox/IcCheckboxTestData.tsx
  packages/react/src/stories/ic-checkbox.stories.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(docs): update checkbox docs for label slot
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): add i18n words to cspell
  .cspell.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(react): add react Internationalisation code examples
  packages/react/src/stories/ic-checkbox.stories.js
  packages/react/src/stories/ic-select_(single).stories.js
  packages/react/src/stories/ic-stepper.stories.js
  packages/react/src/stories/ic-text-field.stories.js
Due: none
