Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@f5ee03fc2570505f78c780607dce7fef96de20fc 🚀
  branches/slottedsvg-update/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@31bd44103fb7a4ef69fd524e6bee12ac0bd0bb04 🚀
  branches/slottedsvg-update/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ac2c418badc1a439129657fd9c12012a810c3118 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@cf2029a06fb553595ecf5e4340a61fb15e6e3042 🚀
  branches/develop/1099.0cc2d7b0.iframe.bundle.js
  branches/develop/1099.86b9e340.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.c31cfa46.iframe.bundle.js
  branches/develop/main.c31cfa46.iframe.bundle.js.LICENSE.txt
  branches/develop/main.e94e612b.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.59d7abb8.iframe.bundle.js
  branches/develop/runtime~main.e061a0a2.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@706c503cbcf3f4f21b63b7d678455a6667f35640 🚀
  branches/18-clean-up-console-outputs-from-tests/8536.02076d3a.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/8536.02076d3a.iframe.bundle.js.LICENSE.txt
  branches/18-clean-up-console-outputs-from-tests/8536.9600a384.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/iframe.html
  branches/18-clean-up-console-outputs-from-tests/project.json
  branches/18-clean-up-console-outputs-from-tests/runtime~main.1509cef0.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/runtime~main.59d7abb8.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@92651b3ec1aeb517f3443377164e64f909aaf33f 🚀
  branches/toast-component/2679.533c5da1.iframe.bundle.js
  branches/toast-component/2679.9854c882.iframe.bundle.js
  branches/toast-component/2679.9854c882.iframe.bundle.js.LICENSE.txt
  branches/toast-component/4272.9ceddcf7.iframe.bundle.js
  branches/toast-component/4272.c24a486e.iframe.bundle.js
  branches/toast-component/5129.018e2648.iframe.bundle.js
  branches/toast-component/5129.4c2d272f.iframe.bundle.js
  branches/toast-component/9446.38d8dcd0.iframe.bundle.js
  branches/toast-component/9446.38d8dcd0.iframe.bundle.js.LICENSE.txt
  branches/toast-component/9446.5bbb9f76.iframe.bundle.js
  branches/toast-component/iframe.html
  branches/toast-component/main.3ef8e650.iframe.bundle.js
  branches/toast-component/main.3ef8e650.iframe.bundle.js.LICENSE.txt
  branches/toast-component/main.75a74781.iframe.bundle.js
  branches/toast-component/project.json
  branches/toast-component/runtime~main.0a413a77.iframe.bundle.js
  branches/toast-component/runtime~main.4c7325a0.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a192cc2facd0c98374b053e3b647d6e22e3c6421 🚀
  branches/develop/3874.035718d4.iframe.bundle.js
  branches/develop/3874.cada9ee4.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.bf7dd568.iframe.bundle.js
  branches/develop/runtime~main.e061a0a2.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ea1fe23b3cfda6df16b4ba4101a280ac6f9b89f4 🚀
  branches/18-clean-up-console-outputs-from-tests/6090.07a51e67.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/6090.e02e9791.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/iframe.html
  branches/18-clean-up-console-outputs-from-tests/project.json
  branches/18-clean-up-console-outputs-from-tests/runtime~main.0fc7e21e.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/runtime~main.1509cef0.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d75a49fc612d1a52de609f8a9890dfa24524bed9 🚀
  branches/18-clean-up-console-outputs-from-tests/8753.52b45925.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/8753.ec24ef73.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/iframe.html
  branches/18-clean-up-console-outputs-from-tests/project.json
  branches/18-clean-up-console-outputs-from-tests/runtime~main.0fc7e21e.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/runtime~main.372f6dcd.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e358adf1575b9f8455c2a8a0ac0462036939b011 🚀
  branches/18-clean-up-console-outputs-from-tests/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(web-components): updates description of ic-card href prop
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-card/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(react): enhances slottedsvg component
  packages/react/src/react-component-lib/slottedSVG.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): update chip to use icDismiss event and deprecate current dismiss event
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-chip/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): add conditional so validation area only shows when needed
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Basic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Conditional_dynamic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Helper_text.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Required.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Conditional_dynamic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Helper_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Required.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Small.png
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-radio-group/__snapshots__/ic-radio-group.spec.ts.snap
  packages/web-components/src/components/ic-radio-group/ic-radio-group.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): audit fix
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(react): audit fix
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@da15a4a71be2dcd1af43ebb291d66dbc33ebb112 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f683d4280a366216e0508a404852c2f3f27e3a82 🚀
  branches/18-clean-up-console-outputs-from-tests/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@48c52e3d7648257adc5da7275b9b61d831f4dedd 🚀
  branches/18-clean-up-console-outputs-from-tests/1099.0cc2d7b0.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/1099.86b9e340.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/3874.035718d4.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/3874.cada9ee4.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/iframe.html
  branches/18-clean-up-console-outputs-from-tests/main.c31cfa46.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/main.c31cfa46.iframe.bundle.js.LICENSE.txt
  branches/18-clean-up-console-outputs-from-tests/main.e94e612b.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/project.json
  branches/18-clean-up-console-outputs-from-tests/runtime~main.372f6dcd.iframe.bundle.js
  branches/18-clean-up-console-outputs-from-tests/runtime~main.f7f7a5c0.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(web-components): regenerated ic-card readme
  packages/web-components/src/components/ic-card/readme.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@6771bd2c24383dc69b0744a4926ffceed8e2b341 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): update loki visual regression test references
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Without_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_With_options.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Disabled_options.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Groups.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_filter_by_start_of_options.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_groups_group_titles_included_in_search.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_recommended.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_scroll_behaviour.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_With_clear_button.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_With_value.png
  packages/web-components/src/components/ic-card/readme.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@8ff636ab9b314c255e7b213367da6a0dc08936d8 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5e066b708bac221f2a456fd3febcba36ab0115d0 🚀
  branches/18-clean-up-console-outputs-from-tests/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@d4754d1e66dd0a22b23bf7f0b53376c5c036643b 🚀
  branches/18-clean-up-console-outputs-from-tests/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): change functionality of reverse order prop
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-page-header/ic-page-header.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(react): update package.lock
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

ci(root): adds check for PR merge target
  .github/workflows/check-pr-target.yml
Due: none

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
