Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

feat(canary-web-components): implement time selector component
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-time-input/ic-time-input.tsx
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.css
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.mdx
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.stories.js
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.tsx
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.types.ts
  packages/canary-web-components/src/components/ic-time-selector/readme.md
  packages/canary-web-components/src/components/ic-time-selector/test/basic/__snapshots__/ic-time-selector.spec.tsx.snap
  packages/canary-web-components/src/components/ic-time-selector/test/basic/ic-time-selector.spec.tsx
  packages/canary-web-components/src/utils/helpers.ts
  packages/canary-web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(canary-react): implement time selector component
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-column-focus.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-dark-theme.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-date-object-value.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-default-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-default.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-disable-times.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-hhmm-format.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-large.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-max-time.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-min-time-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-min-time.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-small.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-string-value-high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-string-value.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcTimeSelector.cy.tsx/time-selector-zulu-time-value.png
  packages/canary-react/src/component-tests/IcTimeSelector/IcTimeSelector.cy.tsx
  packages/canary-react/src/component-tests/IcTimeSelector/IcTimeSelectorTestData.tsx
  packages/canary-react/src/components.ts
  packages/canary-react/src/stories/ic-time-selector.mdx
  packages/canary-react/src/stories/ic-time-selector.stories.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

feat(canary-web-components): add millisecond time format, and AM/PM toggle to time input
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-time-input/ic-time-input.css
  packages/canary-web-components/src/components/ic-time-input/ic-time-input.stories.js
  packages/canary-web-components/src/components/ic-time-input/ic-time-input.tsx
  packages/canary-web-components/src/components/ic-time-input/readme.md
  packages/canary-web-components/src/components/ic-time-input/test/basic/__snapshots__/ic-time-input.spec.tsx.snap
  packages/canary-web-components/src/components/ic-time-input/test/basic/ic-time-input.spec.tsx
  packages/canary-web-components/src/components/ic-time-input/test/helpers/ic-time-input.tsx
  packages/canary-web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

test(react): add Cypress a11y test for accessible label prop on pagination
  packages/react/src/component-tests/IcPagination/IcPagination.cy.tsx
  packages/react/src/stories/ic-pagination.stories.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(canary-web-components): update pagination bar to pass accessible label through to pagination
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-pagination-bar/ic-pagination-bar.tsx
  packages/canary-web-components/src/components/ic-pagination-bar/readme.md
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

chore(canary-web-components): run npm audit fix
  packages/canary-web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-react): sort package.json
  packages/canary-react/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(web-components): sort package.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): sort package.json
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): run npm audit fix
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(canary-web-components): add fix to column width styling in data table
  packages/canary-web-components/src/components/ic-data-table/ic-data-table.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(docs): sort package.json
  packages/docs/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(web-components): run npm audit fix
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-web-components): sort package.json
  packages/canary-web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-docs): sort package.json
  packages/canary-docs/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(nextjs): sort package.json
  packages/nextjs/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): disable postinstall
  .npmrc
Due: none

chore(nextjs): run npm audit fix
  packages/nextjs/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): update audit dates
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(fonts): sort package.json
  packages/fonts/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(codemod): sort package.json
  packages/codemod/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(canary-web-components): update code coverage of tree view and tree item
  packages/canary-web-components/src/components/ic-tree-item/test/basic/__snapshots__/ic-tree-item.spec.ts.snap
  packages/canary-web-components/src/components/ic-tree-item/test/basic/ic-tree-item.spec.ts
  packages/canary-web-components/src/components/ic-tree-view/test/basic/__snapshots__/ic-tree-view.spec.ts.snap
  packages/canary-web-components/src/components/ic-tree-view/test/basic/ic-tree-view.spec.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): add ghsa advisory
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-react): run npm audit fix
  packages/canary-react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): sort package.json
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(canary-react): update time-input and time-selector stories for disableTimes
  packages/canary-react/src/stories/ic-time-input.stories.js
  packages/canary-react/src/stories/ic-time-selector.stories.js
Due: none

chore(release): [ci skip] components publish
  packages/canary-docs/CHANGELOG.md
  packages/canary-docs/package.json
  packages/canary-react/CHANGELOG.md
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-web-components/CHANGELOG.md
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
  packages/codemod/CHANGELOG.md
  packages/codemod/package-lock.json
  packages/codemod/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package-lock.json
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

docs(docs): update description of loading-indicator type prop
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): undo npmrc flag
  .npmrc
Due: none

feat(canary-web-components): modify time-input and time-selector 'disableTimes' prop
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-time-input/ic-time-input.stories.js
  packages/canary-web-components/src/components/ic-time-input/ic-time-input.tsx
  packages/canary-web-components/src/components/ic-time-input/readme.md
  packages/canary-web-components/src/components/ic-time-input/test/basic/ic-time-input.spec.tsx
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.stories.js
  packages/canary-web-components/src/components/ic-time-selector/ic-time-selector.tsx
  packages/canary-web-components/src/components/ic-time-selector/readme.md
  packages/canary-web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

test(canary-react): improve quality of Cypress tests
  packages/canary-react/src/component-tests/IcCalendar/IcCalendar.cy.tsx
  packages/canary-react/src/component-tests/IcCardHorizontal/IcCardHorizontal.cy.tsx
  packages/canary-react/src/component-tests/IcDataTable/IcDataTable.cy.tsx
  packages/canary-react/src/component-tests/IcDateInput/IcDateInput.cy.tsx
  packages/canary-react/src/component-tests/IcDatePicker/IcDatePicker.cy.tsx
  packages/canary-react/src/component-tests/IcPaginationBar/IcPaginationBar.cy.tsx
  packages/canary-react/src/component-tests/IcTableOfContents/IcTableOfContents.cy.tsx
  packages/canary-react/src/component-tests/IcTimeInput/IcTimeInput.cy.tsx
  packages/canary-react/src/component-tests/IcTimeSelector/IcTimeSelector.cy.tsx
  packages/canary-react/src/component-tests/IcTreeView/IcTreeView.cy.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(react): react version update in line with web-components
  packages/react/src/component-tests/IcAlert/IcAlert.cy.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(release): update development release version check file
  DEVELOPMENT_RELEASE_CHECK.md
Due: remark

test(react): improve quality of cypress tests
  packages/react/src/component-tests/IcAccordion/IcAccordion.cy.tsx
  packages/react/src/component-tests/IcBackToTop/IcBackToTop.cy.tsx
  packages/react/src/component-tests/IcBreadcrumb/IcBreadcrumb.cy.tsx
  packages/react/src/component-tests/IcButton/IcButton.cy.tsx
  packages/react/src/component-tests/IcCardVertical/IcCardVertical.cy.tsx
  packages/react/src/component-tests/IcDataList/IcDataList.cy.tsx
  packages/react/src/component-tests/IcDialog/IcDialog.cy.tsx
  packages/react/src/component-tests/IcEmptyState/IcEmptyState.cy.tsx
  packages/react/src/component-tests/IcFooter/IcFooter.cy.tsx
  packages/react/src/component-tests/IcHero/IcHero.cy.tsx
  packages/react/src/component-tests/IcLoadingIndicator/IcLoadingIndicator.cy.tsx
  packages/react/src/component-tests/IcNavigationMenu/IcNavigationMenu.cy.tsx
  packages/react/src/component-tests/IcPagination/IcPagination.cy.tsx
  packages/react/src/component-tests/IcPopoverMenu/IcPopoverMenu.cy.tsx
  packages/react/src/component-tests/IcRadio/IcRadio.cy.tsx
  packages/react/src/component-tests/IcSearchBar/IcSearchBar.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelect.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelectMulti.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelectSearchable.cy.tsx
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigation.cy.tsx
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigationTestData.tsx
  packages/react/src/component-tests/IcTabs/IcTabs.cy.tsx
  packages/react/src/component-tests/IcTextField/IcTextField.cy.tsx
  packages/react/src/component-tests/IcToast/IcToast.cy.tsx
  packages/react/src/component-tests/IcToggleButtonGroup/IcToggleButtonGroup.cy.tsx
  packages/react/src/component-tests/utils/constants.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(canary-docs): update disableTimes description
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): force loading indicator to be circular when size is 'icon'
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-loading-indicator/readme.md
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

feat(web-components): update ic-input-validation to make message prop optional, remove console error
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-input-validation/ic-input-validation.tsx
  packages/web-components/src/components/ic-input-validation/readme.md
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

fix(react): icon colour reflective of theme
  packages/react/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/custom-elements-open-high-contrast.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/custom-elements-open.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSelectSearchable.cy.tsx/searchable-custom-elements-open.png
  packages/react/src/component-tests/IcSelect/IcSelectTestData.tsx
  packages/react/src/stories/ic-select_(multi).stories.js
  packages/react/src/stories/ic-select_(searchable).stories.js
  packages/react/src/stories/ic-select_(single).stories.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(web-components): enforce circular loading to icon buttons
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-button/ic-button.stories.js
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/test/basic/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-button/test/basic/ic-button.spec.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): update spacing between icon and text
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-select/ic-select_(multi).stories.js
  packages/web-components/src/components/ic-select/ic-select_(searchable).stories.js
  packages/web-components/src/components/ic-select/ic-select_(single).stories.js
Due: stylelint --fix
