Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

fix(web-components): add aria-hidden to see more/see less typography
  packages/web-components/src/components/ic-typography/__snapshots__/ic-typography.spec.ts.snap
  packages/web-components/src/components/ic-typography/ic-typography.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

refactor(web-components): update components to pass new sonarjs linting rules
  .eslintrc.js
  package-lock.json
  package.json
  packages/web-components/src/components/ic-breadcrumb-group/ic-breadcrumb-group.tsx
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.tsx
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.tsx
  packages/web-components/src/components/ic-page-header/ic-page-header.tsx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
  packages/web-components/src/components/ic-select/ic-select.e2e.ts
  packages/web-components/src/components/ic-select/ic-select.spec.tsx
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-step/ic-step.tsx
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

refactor(web-components): fix linting errors in ic-menu spec tests
  packages/web-components/src/components/ic-menu/ic-menu.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8dd298631067e182ead69a475f46171f56c1faaf 🚀
  branches/665-ic-select-add-a-playground-example-to-storybook/web-components/iframe.html
  branches/665-ic-select-add-a-playground-example-to-storybook/web-components/main.0de75940.iframe.bundle.js
  branches/665-ic-select-add-a-playground-example-to-storybook/web-components/main.118c167f.iframe.bundle.js
  branches/665-ic-select-add-a-playground-example-to-storybook/web-components/main.118c167f.iframe.bundle.js.LICENSE.txt
  branches/665-ic-select-add-a-playground-example-to-storybook/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8dd298631067e182ead69a475f46171f56c1faaf 🚀
  branches/665-ic-select-add-a-playground-example-to-storybook/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f1391c035a68714d5e157c64d3e8ea18418731d2 🚀
  branches/660-review-select-searchbar-tests/web-components/504.21d5d826.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/504.eb207d16.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/504.eb207d16.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/iframe.html
  branches/660-review-select-searchbar-tests/web-components/project.json
  branches/660-review-select-searchbar-tests/web-components/runtime~main.02d7ceee.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/runtime~main.da720ff9.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f1391c035a68714d5e157c64d3e8ea18418731d2 🚀
  branches/660-review-select-searchbar-tests/react/5835.333e1c7c.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/5835.333e1c7c.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/react/5835.844a68c3.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/iframe.html
  branches/660-review-select-searchbar-tests/react/project.json
  branches/660-review-select-searchbar-tests/react/runtime~main.88795c3a.iframe.bundle.js
  branches/660-review-select-searchbar-tests/react/runtime~main.b1ebc6ec.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(web-components): add Storybook playgrounds for default select and select searchable
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-select/ic-select.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(react): add Storybook playgrounds for default select and select searchable
  packages/react/package-lock.json
  packages/react/src/stories/ic-select.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@51851bef3c5b0fd88e1d06d4001f1e0c93cc4fd8 🚀
  branches/develop/iframe.html
  branches/develop/main.092eb420.iframe.bundle.js
  branches/develop/main.dacbe9c1.iframe.bundle.js
  branches/develop/main.dacbe9c1.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): variables changed
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_breadcrumbs_input_actions_and_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_Custom_connector_width.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_Custom_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_Full_width_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_Left_aligned_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_With_hidden_step_information.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_Without_step_titles.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_breadcrumbs_input_actions_and_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Stepper_Custom_connector_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Stepper_Custom_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Stepper_Full_width_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Stepper_Left_aligned_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Stepper_With_hidden_step_information.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Stepper_Without_step_titles.png
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-step/ic-step.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@7402cd2ea8e34f47c089e35103cf2dd8f54179f9 🚀
  branches/develop/6663.1fec810c.iframe.bundle.js
  branches/develop/6663.2d1b0ab8.iframe.bundle.js
  branches/develop/6663.2d1b0ab8.iframe.bundle.js.LICENSE.txt
  branches/develop/8964.43220bbc.iframe.bundle.js
  branches/develop/8964.75506d45.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.5c5989be.iframe.bundle.js
  branches/develop/runtime~main.80e113f5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fe69b5ac17b189f5239eb85a7acc3ef378812433 🚀
  branches/660-review-select-searchbar-tests/web-components/6663.1fec810c.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/6663.2d1b0ab8.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/6663.2d1b0ab8.iframe.bundle.js.LICENSE.txt
  branches/660-review-select-searchbar-tests/web-components/8964.43220bbc.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/8964.75506d45.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/iframe.html
  branches/660-review-select-searchbar-tests/web-components/project.json
  branches/660-review-select-searchbar-tests/web-components/runtime~main.ad9684d7.iframe.bundle.js
  branches/660-review-select-searchbar-tests/web-components/runtime~main.ee476e84.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
