Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

docs(react): add onIcChange to React radio story
  packages/react/src/stories/ic-radio-group.stories.mdx
Due: remark

fix(web-components): add wait for changes and remove unnecessary test button from select test
  packages/web-components/src/components/ic-select/ic-select.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): remove disabled attribute from components when disabled is false
  audit-ci.json
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-menu-item/ic-menu-item.tsx
  packages/web-components/src/components/ic-pagination-item/ic-pagination-item.tsx
  packages/web-components/src/components/ic-pagination/ic-pagination.tsx
  packages/web-components/src/components/ic-radio-group/ic-radio-group.tsx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-switch/ic-switch.tsx
  packages/web-components/src/components/ic-tab-context/__snapshots__/ic-tab-context.spec.ts.snap
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(web-components): removes snapshot tests as unreliable
  packages/web-components/src/components/ic-select/__snapshots__/ic-select.e2e.ts.snap
  packages/web-components/src/components/ic-select/ic-select.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): group nav features
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(docs): updated docs changelog
  packages/docs/CHANGELOG.md
Due: remark

chore(fonts): updated fonts changelog
  packages/fonts/CHANGELOG.md
Due: remark

chore(react): updated react changelogs
  packages/react/CHANGELOG.md
Due: remark

chore(root): updated root changelog
  CHANGELOG.md
Due: remark

chore(web-components): [ci skip] updated web-components changelog
  packages/web-components/CHANGELOG.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@d6cde73eb9e1cd1db01c07cce96c3666cc64774e 🚀
  branches/797/merge/web-components/6982.4aa4adb4.iframe.bundle.js
  branches/797/merge/web-components/6982.92069963.iframe.bundle.js
  branches/797/merge/web-components/6982.92069963.iframe.bundle.js.LICENSE.txt
  branches/797/merge/web-components/iframe.html
  branches/797/merge/web-components/main.26792bbe.iframe.bundle.js
  branches/797/merge/web-components/main.26792bbe.iframe.bundle.js.LICENSE.txt
  branches/797/merge/web-components/main.55e0c40e.iframe.bundle.js
  branches/797/merge/web-components/project.json
  branches/797/merge/web-components/runtime~main.2f071d11.iframe.bundle.js
  branches/797/merge/web-components/runtime~main.a38bcdc1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d6cde73eb9e1cd1db01c07cce96c3666cc64774e 🚀
  branches/797/merge/react/3244.ca2f863c.iframe.bundle.js
  branches/797/merge/react/3244.ca2f863c.iframe.bundle.js.LICENSE.txt
  branches/797/merge/react/3244.d853c448.iframe.bundle.js
  branches/797/merge/react/iframe.html
  branches/797/merge/react/main.956923df.iframe.bundle.js
  branches/797/merge/react/main.e0ec26e7.iframe.bundle.js
  branches/797/merge/react/main.e0ec26e7.iframe.bundle.js.LICENSE.txt
  branches/797/merge/react/project.json
  branches/797/merge/react/runtime~main.0370bf74.iframe.bundle.js
  branches/797/merge/react/runtime~main.a4ffaa09.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add removeDisabledFalse helper to select
  packages/web-components/src/components/ic-select/ic-select.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(root): update automated release to create PR with api
  .github/workflows/ic-ui-kit-release.yml
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@96c38a4dd63cb1c41e11acd88c61530e4ac29ad4 🚀
  branches/develop/7733.2369399d.iframe.bundle.js
  branches/develop/7733.2369399d.iframe.bundle.js.LICENSE.txt
  branches/develop/7733.7d288352.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.5e10e81f.iframe.bundle.js
  branches/develop/runtime~main.ca18ac0b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

ci(root): updated trigger to run if manually triggered
  .github/workflows/ic-ui-kit-branches.yml
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@e982c62c60a5d64ff6ee06b0d60ebc5e50140d7b 🚀
  branches/797/merge/web-components/6982.478fe258.iframe.bundle.js
  branches/797/merge/web-components/6982.478fe258.iframe.bundle.js.LICENSE.txt
  branches/797/merge/web-components/6982.92069963.iframe.bundle.js
  branches/797/merge/web-components/iframe.html
  branches/797/merge/web-components/main.00e3e15a.iframe.bundle.js
  branches/797/merge/web-components/main.00e3e15a.iframe.bundle.js.LICENSE.txt
  branches/797/merge/web-components/main.26792bbe.iframe.bundle.js
  branches/797/merge/web-components/project.json
  branches/797/merge/web-components/runtime~main.a38bcdc1.iframe.bundle.js
  branches/797/merge/web-components/runtime~main.fc55cae4.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e982c62c60a5d64ff6ee06b0d60ebc5e50140d7b 🚀
  branches/797/merge/react/3244.0a3036dd.iframe.bundle.js
  branches/797/merge/react/3244.0a3036dd.iframe.bundle.js.LICENSE.txt
  branches/797/merge/react/3244.ca2f863c.iframe.bundle.js
  branches/797/merge/react/iframe.html
  branches/797/merge/react/main.b497475c.iframe.bundle.js
  branches/797/merge/react/main.b497475c.iframe.bundle.js.LICENSE.txt
  branches/797/merge/react/main.e0ec26e7.iframe.bundle.js
  branches/797/merge/react/project.json
  branches/797/merge/react/runtime~main.5efc66dd.iframe.bundle.js
  branches/797/merge/react/runtime~main.a4ffaa09.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@50caa6d5b519998d7963147adb4a9379a60835ce 🚀
  branches/807/merge/web-components/7420.70c5b36b.iframe.bundle.js
  branches/807/merge/web-components/7420.70c5b36b.iframe.bundle.js.LICENSE.txt
  branches/807/merge/web-components/7420.7eb827bd.iframe.bundle.js
  branches/807/merge/web-components/iframe.html
  branches/807/merge/web-components/main.70fce360.iframe.bundle.js
  branches/807/merge/web-components/main.78f4ca36.iframe.bundle.js
  branches/807/merge/web-components/main.78f4ca36.iframe.bundle.js.LICENSE.txt
  branches/807/merge/web-components/project.json
  branches/807/merge/web-components/runtime~main.cce25069.iframe.bundle.js
  branches/807/merge/web-components/runtime~main.f99182ce.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@50caa6d5b519998d7963147adb4a9379a60835ce 🚀
  branches/807/merge/react/2148.16ee981d.iframe.bundle.js
  branches/807/merge/react/2148.16ee981d.iframe.bundle.js.LICENSE.txt
  branches/807/merge/react/2148.72e72a4b.iframe.bundle.js
  branches/807/merge/react/iframe.html
  branches/807/merge/react/main.2a181b09.iframe.bundle.js
  branches/807/merge/react/main.2b3adb30.iframe.bundle.js
  branches/807/merge/react/main.2b3adb30.iframe.bundle.js.LICENSE.txt
  branches/807/merge/react/project.json
  branches/807/merge/react/runtime~main.7395b610.iframe.bundle.js
  branches/807/merge/react/runtime~main.b649bb8e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
