Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(react): update to package lock after audit fix
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(react): migrate empty state tests to cypress
  packages/react/cypress-visual-screenshots/baseline/IcEmptyState.cy.tsx-empty-state-basic-desktop.png
  packages/react/cypress-visual-screenshots/baseline/IcEmptyState.cy.tsx-empty-state-body.png
  packages/react/cypress-visual-screenshots/baseline/IcEmptyState.cy.tsx-empty-state-button.png
  packages/react/cypress-visual-screenshots/baseline/IcEmptyState.cy.tsx-empty-state-slotted-image.png
  packages/react/cypress-visual-screenshots/baseline/IcEmptyState.cy.tsx-empty-state-title.png
  packages/react/src/component-tests/IcEmptyState/IcEmptyState.cy.tsx
  packages/react/src/component-tests/IcEmptyState/IcEmptyStateTestData.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): update audit-ci.json after storybook upgrade
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): docs change for max and min input in textfield
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(web-components): remove old A11y and basic tests
  packages/web-components/src/components/ic-empty-state/test/a11y/ic-empty-state.test.a11y.ts
  packages/web-components/src/components/ic-empty-state/test/basic/__snapshots__/ic-empty-state.spec.ts.snap
  packages/web-components/src/components/ic-empty-state/test/basic/ic-empty-state.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(react): react stories added for new props on textfield
  packages/react/src/stories/ic-text-field.stories.mdx
Due: remark

feat(web-components): native maxlength and minlength added to textfield
  packages/react/src/stories/ic-text-field.stories.mdx
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-text-field/ic-text-field.stories.mdx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/components/ic-text-field/test/basic/ic-text-field.input.spec.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@bae981c7c4332eb690546ec56d386b1b6d98b133 🚀
  branches/1050-use-icbutton-as-file-upload/web-components/components-ic-button-ic-button-stories-mdx.1fe12c8c.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/web-components/components-ic-button-ic-button-stories-mdx.1fe12c8c.iframe.bundle.js.map
  branches/1050-use-icbutton-as-file-upload/web-components/components-ic-button-ic-button-stories-mdx.db84bbcd.iframe.bundle.js.map
  branches/1050-use-icbutton-as-file-upload/web-components/iframe.html
  branches/1050-use-icbutton-as-file-upload/web-components/project.json
  branches/1050-use-icbutton-as-file-upload/web-components/runtime~main.2455609a.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/web-components/runtime~main.b4b55df1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@bae981c7c4332eb690546ec56d386b1b6d98b133 🚀
  branches/1050-use-icbutton-as-file-upload/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(web-components): remove old a11y and screenshot
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Additional_height.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Adornment.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Clickable_as_button.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Clickable_as_link.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Clickable_button.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Clickable_link.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Expandable.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Full_width.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Heading.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Icon.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Interaction_controls.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Message.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Middle_image.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Reduced_width.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Static.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Title_only.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Top_image.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Using_slots.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_With_badge.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_With_interaction_button.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_With_subheading.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Wrapped_by_link.png
  packages/web-components/src/components/ic-card/test/a11y/ic-card.test.a11y.ts
  packages/web-components/src/components/ic-card/test/basic/ic-card.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4ca6bf3bfd65d079b092c7c1d73d756d7946ad0b 🚀
  branches/1050-use-icbutton-as-file-upload/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4ca6bf3bfd65d079b092c7c1d73d756d7946ad0b 🚀
  branches/1050-use-icbutton-as-file-upload/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@21d5a30438fc3ba87bf012eed7ed104f9a7763b5 🚀
  branches/card-cypress/cypress-screenshots/IcCard.cy.tsx-wrappedLink.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@b757a9cea6eb66cc10c6f6ace69eca14f3130df1 🚀
  branches/1050-use-icbutton-as-file-upload/web-components/components-ic-button-ic-button-stories-mdx.06763770.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/web-components/components-ic-button-ic-button-stories-mdx.06763770.iframe.bundle.js.map
  branches/1050-use-icbutton-as-file-upload/web-components/components-ic-button-ic-button-stories-mdx.1fe12c8c.iframe.bundle.js.map
  branches/1050-use-icbutton-as-file-upload/web-components/iframe.html
  branches/1050-use-icbutton-as-file-upload/web-components/project.json
  branches/1050-use-icbutton-as-file-upload/web-components/runtime~main.b4b55df1.iframe.bundle.js
  branches/1050-use-icbutton-as-file-upload/web-components/runtime~main.f8b9e323.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b757a9cea6eb66cc10c6f6ace69eca14f3130df1 🚀
  branches/1050-use-icbutton-as-file-upload/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3132c0837cfab55e10ccaf991a6329c8c1f13f5d 🚀
  branches/1050-use-icbutton-as-file-upload/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3132c0837cfab55e10ccaf991a6329c8c1f13f5d 🚀
  branches/1050-use-icbutton-as-file-upload/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(react): add new Iccard cypress test
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-adornmentCard.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-badgeCard.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-cardBlur.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-cardFocus.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-cardTextVerify.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-clickableButtonCard.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-clickableLink.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-disabledCard.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-expandable.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-expandedCliked.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-headingOnly.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-interaction-controls.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-interaction.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-message.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-midImageCard.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-renderThreeCard.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-subHeadingCard.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-topImageCard.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-widthCard.png
  packages/react/cypress-visual-screenshots/baseline/IcCard.cy.tsx-withIcon.png
  packages/react/cypress-visual-screenshots/baseline/IcFooter.cy.tsx-official.png
  packages/react/src/component-tests/IcCard/IcCard.cy.tsx
  packages/web-components/src/components/ic-card/ic-card.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@36bc72896131ae88a96e384cc69b887333c75939 🚀
  branches/card-cypress/web-components/1293.853e0f0e.iframe.bundle.js
  branches/card-cypress/web-components/4100.68596b03.iframe.bundle.js
  branches/card-cypress/web-components/4100.e683d61b.iframe.bundle.js
  branches/card-cypress/web-components/5541.ba755c61.iframe.bundle.js
  branches/card-cypress/web-components/5541.c5a3b884.iframe.bundle.js
  branches/card-cypress/web-components/7438.6a7cce56.iframe.bundle.js
  branches/card-cypress/web-components/7438.c3775884.iframe.bundle.js
  branches/card-cypress/web-components/8983.dd44439a.iframe.bundle.js
  branches/card-cypress/web-components/8983.fd28000c.iframe.bundle.js
  branches/card-cypress/web-components/8983.fd28000c.iframe.bundle.js.LICENSE.txt
  branches/card-cypress/web-components/components-ic-data-entity-ic-data-entity-stories-mdx.3cb53888.iframe.bundle.js
  branches/card-cypress/web-components/components-ic-data-entity-ic-data-entity-stories-mdx.3cb53888.iframe.bundle.js.map
  branches/card-cypress/web-components/components-ic-data-entity-ic-data-entity-stories-mdx.d1242a56.iframe.bundle.js
  branches/card-cypress/web-components/components-ic-data-entity-ic-data-entity-stories-mdx.d1242a56.iframe.bundle.js.map
  branches/card-cypress/web-components/components-ic-text-field-ic-text-field-stories-mdx.3fcbb5ff.iframe.bundle.js
  branches/card-cypress/web-components/components-ic-text-field-ic-text-field-stories-mdx.3fcbb5ff.iframe.bundle.js.LICENSE.txt
  branches/card-cypress/web-components/components-ic-text-field-ic-text-field-stories-mdx.3fcbb5ff.iframe.bundle.js.map
  branches/card-cypress/web-components/components-ic-text-field-ic-text-field-stories-mdx.9e359a9a.iframe.bundle.js.map
  branches/card-cypress/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.5bf7c4c8.iframe.bundle.js
  branches/card-cypress/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.5bf7c4c8.iframe.bundle.js.LICENSE.txt
  branches/card-cypress/web-components/components-ic-toggle-button-ic-toggle-button-stories-mdx.5bf7c4c8.iframe.bundle.js.map
  branches/card-cypress/web-components/iframe.html
  branches/card-cypress/web-components/index.json
  branches/card-cypress/web-components/main.177f29e0.iframe.bundle.js
  branches/card-cypress/web-components/main.33495762.iframe.bundle.js
  branches/card-cypress/web-components/project.json
  branches/card-cypress/web-components/runtime~main.0bfb798a.iframe.bundle.js
  branches/card-cypress/web-components/runtime~main.b0b5a4c9.iframe.bundle.js
  branches/card-cypress/web-components/stories.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@36bc72896131ae88a96e384cc69b887333c75939 🚀
  branches/card-cypress/react/6813.68fc99cd.iframe.bundle.js
  branches/card-cypress/react/6813.9d910747.iframe.bundle.js
  branches/card-cypress/react/8395.127d6f89.iframe.bundle.js
  branches/card-cypress/react/8395.901ed77f.iframe.bundle.js
  branches/card-cypress/react/9818.e58aa5b1.iframe.bundle.js
  branches/card-cypress/react/9932.3d5373a6.iframe.bundle.js
  branches/card-cypress/react/9932.7b11ec5f.iframe.bundle.js
  branches/card-cypress/react/iframe.html
  branches/card-cypress/react/index.json
  branches/card-cypress/react/main.0bf3ca24.iframe.bundle.js
  branches/card-cypress/react/main.d0b75a5a.iframe.bundle.js
  branches/card-cypress/react/project.json
  branches/card-cypress/react/runtime~main.2ec27151.iframe.bundle.js
  branches/card-cypress/react/runtime~main.fd2e07b2.iframe.bundle.js
  branches/card-cypress/react/stories-ic-button-stories-mdx.80b46531.iframe.bundle.js
  branches/card-cypress/react/stories-ic-button-stories-mdx.96bd22f8.iframe.bundle.js
  branches/card-cypress/react/stories-ic-text-field-stories-mdx.d3e59a8d.iframe.bundle.js
  branches/card-cypress/react/stories-ic-text-field-stories-mdx.d3e59a8d.iframe.bundle.js.LICENSE.txt
  branches/card-cypress/react/stories-ic-text-field-stories-mdx.eabdcd9e.iframe.bundle.js
  branches/card-cypress/react/stories-ic-toggle-button-stories-mdx.064cdd59.iframe.bundle.js
  branches/card-cypress/react/stories-ic-toggle-button-stories-mdx.064cdd59.iframe.bundle.js.LICENSE.txt
  branches/card-cypress/react/stories.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@29a3f433b485d208e4184528d039f04e1518e87f 🚀
  branches/develop/web-components/components-ic-card-ic-card-stories-mdx.0ab440c9.iframe.bundle.js
  branches/develop/web-components/components-ic-card-ic-card-stories-mdx.0ab440c9.iframe.bundle.js.map
  branches/develop/web-components/components-ic-card-ic-card-stories-mdx.7352d17d.iframe.bundle.js
  branches/develop/web-components/components-ic-card-ic-card-stories-mdx.7352d17d.iframe.bundle.js.map
  branches/develop/web-components/iframe.html
  branches/develop/web-components/project.json
  branches/develop/web-components/runtime~main.0bfb798a.iframe.bundle.js
  branches/develop/web-components/runtime~main.9b0cccf1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@29a3f433b485d208e4184528d039f04e1518e87f 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@29a3f433b485d208e4184528d039f04e1518e87f 🚀
  branches/canary/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@29a3f433b485d208e4184528d039f04e1518e87f 🚀
  branches/canary/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c15d73317889e17746840a00e2b8dce63ddd709a 🚀
  branches/1474-ic-side-navigation-collapse-and-expand-state/web-components/components-ic-card-ic-card-stories-mdx.0ab440c9.iframe.bundle.js
  branches/1474-ic-side-navigation-collapse-and-expand-state/web-components/components-ic-card-ic-card-stories-mdx.0ab440c9.iframe.bundle.js.map
  branches/1474-ic-side-navigation-collapse-and-expand-state/web-components/components-ic-card-ic-card-stories-mdx.7352d17d.iframe.bundle.js
  branches/1474-ic-side-navigation-collapse-and-expand-state/web-components/components-ic-card-ic-card-stories-mdx.7352d17d.iframe.bundle.js.map
  branches/1474-ic-side-navigation-collapse-and-expand-state/web-components/components-ic-side-navigation-ic-side-navigation-stories-mdx.0b56531c.iframe.bundle.js.map
  branches/1474-ic-side-navigation-collapse-and-expand-state/web-components/components-ic-side-navigation-ic-side-navigation-stories-mdx.7a0a091c.iframe.bundle.js
  branches/1474-ic-side-navigation-collapse-and-expand-state/web-components/components-ic-side-navigation-ic-side-navigation-stories-mdx.7a0a091c.iframe.bundle.js.LICENSE.txt
  branches/1474-ic-side-navigation-collapse-and-expand-state/web-components/components-ic-side-navigation-ic-side-navigation-stories-mdx.7a0a091c.iframe.bundle.js.map
  branches/1474-ic-side-navigation-collapse-and-expand-state/web-components/iframe.html
  branches/1474-ic-side-navigation-collapse-and-expand-state/web-components/project.json
  branches/1474-ic-side-navigation-collapse-and-expand-state/web-components/runtime~main.3c511965.iframe.bundle.js
  branches/1474-ic-side-navigation-collapse-and-expand-state/web-components/runtime~main.a3e1714e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c15d73317889e17746840a00e2b8dce63ddd709a 🚀
  branches/1474-ic-side-navigation-collapse-and-expand-state/react/iframe.html
  branches/1474-ic-side-navigation-collapse-and-expand-state/react/project.json
  branches/1474-ic-side-navigation-collapse-and-expand-state/react/runtime~main.a2f48e54.iframe.bundle.js
  branches/1474-ic-side-navigation-collapse-and-expand-state/react/runtime~main.d980626e.iframe.bundle.js
  branches/1474-ic-side-navigation-collapse-and-expand-state/react/stories-ic-side-navigation-stories-mdx.25991aa9.iframe.bundle.js
  branches/1474-ic-side-navigation-collapse-and-expand-state/react/stories-ic-side-navigation-stories-mdx.7245a632.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fix the web-components ic-popover stories for the open and closed state
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.stories.mdx
Due: remark

fix(react): fix the react IcPopover stories for the open and closed state
  packages/react/src/stories/ic-popover-menu.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@f5ad7106c31a7465f9c4b088dc2d0791c4cc7359 🚀
  branches/1413-ic-popover-menu-popover-menu-button-not-closing-open-popover-menu/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f5ad7106c31a7465f9c4b088dc2d0791c4cc7359 🚀
  branches/1413-ic-popover-menu-popover-menu-button-not-closing-open-popover-menu/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
