Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@3f718a0eb023ea7b7aca167fd9ab8cefd2dc2c47 🚀
  branches/3671-time-selector-component/canary-react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): fix aria-describedby on text field not matching visual order of info
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/components/ic-text-field/test/basic/__snapshots__/ic-text-field.input.spec.tsx.snap
  packages/web-components/src/components/ic-text-field/test/basic/ic-text-field.input.spec.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@431a22015eb7cdf8c4dd0af1faef888173760626 🚀
  branches/fix/text-field-aria-describedby-announcement-order/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@431a22015eb7cdf8c4dd0af1faef888173760626 🚀
  branches/fix/text-field-aria-describedby-announcement-order/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@26b52417472a7d2d7b356e0574fdb429e655ae90 🚀
  branches/3963-time-input-milliseconds-ampm/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@26b52417472a7d2d7b356e0574fdb429e655ae90 🚀
  branches/3963-time-input-milliseconds-ampm/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@26b52417472a7d2d7b356e0574fdb429e655ae90 🚀
  branches/3963-time-input-milliseconds-ampm/canary-web-components/8581.26d586e2.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-web-components/8581.26d586e2.iframe.bundle.js.LICENSE.txt
  branches/3963-time-input-milliseconds-ampm/canary-web-components/8581.26d586e2.iframe.bundle.js.map
  branches/3963-time-input-milliseconds-ampm/canary-web-components/8581.92086629.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-web-components/8581.92086629.iframe.bundle.js.map
  branches/3963-time-input-milliseconds-ampm/canary-web-components/iframe.html
  branches/3963-time-input-milliseconds-ampm/canary-web-components/main.6b9d68d7.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-web-components/main.6b9d68d7.iframe.bundle.js.map
  branches/3963-time-input-milliseconds-ampm/canary-web-components/main.a579b1ae.iframe.bundle.js
  branches/3963-time-input-milliseconds-ampm/canary-web-components/main.a579b1ae.iframe.bundle.js.map
  branches/3963-time-input-milliseconds-ampm/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@26b52417472a7d2d7b356e0574fdb429e655ae90 🚀
  branches/3963-time-input-milliseconds-ampm/canary-react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(docs): add theme to ic-hero
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): fix: add border to ic toast
  packages/web-components/src/components/ic-toast/ic-toast.css
  packages/web-components/src/components/ic-toast/ic-toast.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@e0ded5ccc599c174c7f2aee2e9b0ce03a2b7397c 🚀
  branches/develop/web-components/1400.262916ec.iframe.bundle.js
  branches/develop/web-components/1400.60c16f51.iframe.bundle.js
  branches/develop/web-components/iframe.html
  branches/develop/web-components/project.json
  branches/develop/web-components/runtime~main.4d1b09d7.iframe.bundle.js
  branches/develop/web-components/runtime~main.e698a7f1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e0ded5ccc599c174c7f2aee2e9b0ce03a2b7397c 🚀
  branches/develop/react/6816.6dfcd392.iframe.bundle.js
  branches/develop/react/6816.7f20a916.iframe.bundle.js
  branches/develop/react/6816.7f20a916.iframe.bundle.js.LICENSE.txt
  branches/develop/react/iframe.html
  branches/develop/react/project.json
  branches/develop/react/runtime~main.6085578c.iframe.bundle.js
  branches/develop/react/runtime~main.f8614ce3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6f8911e0b365c09caab9295e5628629c043ac7e5 🚀
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3832-add-outer-border-to-ic-toast/cypress-image-diff-html-report/report_20-11-2025_092046.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(web-components): add setStyles method to helpers.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2bf4ec9a4f3e3cdc33bc317ff61698dbcc96f950 🚀
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-html-report/report_20-11-2025_120200.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6f81c28d42fb17c3aa70022acb7c169a0f04e7d2 🚀
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-dark-theme.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-light-theme.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@6f81c28d42fb17c3aa70022acb7c169a0f04e7d2 🚀
  branches/4046-level-a-and-level-aa-language-indication/cypress-image-diff-html-report/report_20-11-2025_132518.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(root): ic-select-refactor-new
  packages/react/src/component-tests/IcSelect/IcSelect.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelectConstants.ts
  packages/react/src/component-tests/IcSelect/IcSelectTestData.tsx
  packages/web-components/src/components/ic-combobox/ic-combobox.css
  packages/web-components/src/components/ic-combobox/ic-combobox.stories.js
  packages/web-components/src/components/ic-combobox/ic-combobox.tsx
  packages/web-components/src/components/ic-combobox/ic-combobox.types.ts
  packages/web-components/src/components/ic-listbox/ic-listbox.css
  packages/web-components/src/components/ic-listbox/ic-listbox.stories.js
  packages/web-components/src/components/ic-listbox/ic-listbox.tsx
  packages/web-components/src/components/ic-select-new/ic-select-new-old
  packages/web-components/src/components/ic-select-new/ic-select-new.css
  packages/web-components/src/components/ic-select-new/ic-select-new.stories.js
  packages/web-components/src/components/ic-select-new/ic-select-new.tsx
  packages/web-components/src/components/ic-select-new/ic-select-new.types.ts
  packages/web-components/src/components/ic-select-new/ic-select-new_(multi).mdx
  packages/web-components/src/components/ic-select-new/ic-select-new_(multi).stories.js
  packages/web-components/src/components/ic-select-new/ic-select-new_(searchable).mdx
  packages/web-components/src/components/ic-select-new/ic-select-new_(searchable).stories.js
  packages/web-components/src/components/ic-select-new/ic-select-new_(searchable_multi).mdx
  packages/web-components/src/components/ic-select-new/ic-select-new_(searchable_multi).stories.js
  packages/web-components/src/components/ic-select-new/ic-select-new_(single).mdx
  packages/web-components/src/components/ic-select-new/ic-select-new_(single).stories.js
  packages/web-components/src/utils/combobox-helpers.ts
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): add label slot to ic-checkbox
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.js
  packages/web-components/src/components/ic-checkbox-group/test/basic/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/test/basic/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

fix(web-components): fix to label and helper text colour in ic-hero
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-hero/ic-hero.css
  packages/web-components/src/components/ic-hero/ic-hero.stories.js
  packages/web-components/src/components/ic-hero/ic-hero.tsx
  packages/web-components/src/components/ic-hero/readme.md
  packages/web-components/src/components/ic-select/ic-select.css
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@b842877626589f078fe66ed2b2f504fc93d1ba95 🚀
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/web-components/1400.262916ec.iframe.bundle.js
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/web-components/1400.60c16f51.iframe.bundle.js
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/web-components/iframe.html
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/web-components/project.json
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/web-components/runtime~main.53106eec.iframe.bundle.js
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/web-components/runtime~main.bee83455.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b842877626589f078fe66ed2b2f504fc93d1ba95 🚀
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/6816.6dfcd392.iframe.bundle.js
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/6816.7f20a916.iframe.bundle.js
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/6816.7f20a916.iframe.bundle.js.LICENSE.txt
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/iframe.html
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/project.json
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/runtime~main.2d66776e.iframe.bundle.js
  branches/3950-internal-issue-3106---helper-text-within-heros-do-not-have-the-correct-colour/react/runtime~main.7cb0fe96.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(react): add tests for slotted label in Checkbox
  packages/react/cypress-image-diff-screenshots/baseline/IcCheckbox.cy.tsx/label-slot.png
  packages/react/src/component-tests/IcCheckbox/IcCheckbox.cy.tsx
  packages/react/src/component-tests/IcCheckbox/IcCheckboxTestData.tsx
  packages/react/src/stories/ic-checkbox.stories.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(docs): update checkbox docs for label slot
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@42e3d6d6314dce30e093ad39b1a1e054271d8ad9 🚀
  branches/4046-level-a-and-level-aa-language-indication/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@42e3d6d6314dce30e093ad39b1a1e054271d8ad9 🚀
  branches/4046-level-a-and-level-aa-language-indication/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): add i18n words to cspell
  .cspell.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(react): add react Internationalisation code examples
  packages/react/src/stories/ic-checkbox.stories.js
  packages/react/src/stories/ic-select_(single).stories.js
  packages/react/src/stories/ic-stepper.stories.js
  packages/react/src/stories/ic-text-field.stories.js
Due: none

feat(web-components): add Internationalisation storybooks to web-components
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.js
  packages/web-components/src/components/ic-select/ic-select_(single).stories.js
  packages/web-components/src/components/ic-stepper/ic-stepper.stories.js
  packages/web-components/src/components/ic-text-field/ic-text-field.stories.js
Due: none
