Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

feat(react): update react router story to use router slot for app title in side nav
  packages/react/src/stories/ic-side-navigation.stories.mdx
Due: remark

fix(web-components): fixed flickering link hovering
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-link/ic-link.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@47e794d9bf063e00e4838b621a125873adf58069 🚀
  branches/feature/242-ic-navigation-group-horizontal-scroll/web-components/7420.6353f8bb.iframe.bundle.js
  branches/feature/242-ic-navigation-group-horizontal-scroll/web-components/7420.6353f8bb.iframe.bundle.js.LICENSE.txt
  branches/feature/242-ic-navigation-group-horizontal-scroll/web-components/7420.85ccb1dd.iframe.bundle.js
  branches/feature/242-ic-navigation-group-horizontal-scroll/web-components/iframe.html
  branches/feature/242-ic-navigation-group-horizontal-scroll/web-components/project.json
  branches/feature/242-ic-navigation-group-horizontal-scroll/web-components/runtime~main.10c130fa.iframe.bundle.js
  branches/feature/242-ic-navigation-group-horizontal-scroll/web-components/runtime~main.6380b968.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@47e794d9bf063e00e4838b621a125873adf58069 🚀
  branches/feature/242-ic-navigation-group-horizontal-scroll/react/2148.4df6f57f.iframe.bundle.js
  branches/feature/242-ic-navigation-group-horizontal-scroll/react/2148.8161db03.iframe.bundle.js
  branches/feature/242-ic-navigation-group-horizontal-scroll/react/2148.8161db03.iframe.bundle.js.LICENSE.txt
  branches/feature/242-ic-navigation-group-horizontal-scroll/react/iframe.html
  branches/feature/242-ic-navigation-group-horizontal-scroll/react/project.json
  branches/feature/242-ic-navigation-group-horizontal-scroll/react/runtime~main.2d6bee2f.iframe.bundle.js
  branches/feature/242-ic-navigation-group-horizontal-scroll/react/runtime~main.75c992a4.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add more tabs / nav items to stories for scroll demonstration
  packages/react/src/components.ts
  packages/react/src/stories/ic-page-header.stories.mdx
  packages/react/src/stories/ic-tabs.stories.mdx
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(root): [ci skip] updated changelog for root
  CHANGELOG.md
Due: remark

chore(docs): [ci skip] updated changelog in docs
  packages/docs/CHANGELOG.md
Due: remark

chore(fonts): [ci skip] updated changelogs in fonts
  packages/fonts/CHANGELOG.md
Due: remark

chore(react): [ci skip] updated react changelogs
  packages/react/CHANGELOG.md
Due: remark

chore(web-components): [ci skip] updated web-components changelog
  packages/web-components/CHANGELOG.md
Due: remark

fix(web-components): fixes z-index on top nav dropdown
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
Due: stylelint --fix

fix(web-components): restyle class, add logic and add handleClearMouseDown
  packages/web-components/src/components/ic-search-bar/ic-search-bar.css
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

feat(web-components): implement toast component
  packages/react/src/components.ts
  packages/react/src/stories/ic-toast.stories.mdx
  packages/web-components/package-lock.json
  packages/web-components/src/assets/error-icon.svg
  packages/web-components/src/assets/info-icon.svg
  packages/web-components/src/assets/neutral-icon.svg
  packages/web-components/src/assets/success-icon.svg
  packages/web-components/src/assets/warning-icon.svg
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-alert/ic-alert.tsx
  packages/web-components/src/components/ic-alert/ic-alert.types.ts
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-loading-indicator/readme.md
  packages/web-components/src/components/ic-toast-region/ic-toast-region.tsx
  packages/web-components/src/components/ic-toast-region/readme.md
  packages/web-components/src/components/ic-toast/ic-toast.css
  packages/web-components/src/components/ic-toast/ic-toast.e2e.ts
  packages/web-components/src/components/ic-toast/ic-toast.spec.ts
  packages/web-components/src/components/ic-toast/ic-toast.stories.mdx
  packages/web-components/src/components/ic-toast/ic-toast.test.a11y.ts
  packages/web-components/src/components/ic-toast/ic-toast.tsx
  packages/web-components/src/components/ic-toast/ic-toast.types.ts
  packages/web-components/src/components/ic-toast/readme.md
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/interface.d.ts
  packages/web-components/src/utils/constants.ts
  packages/web-components/src/utils/helpers.ts
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@a3859e6da2c2b78327fe541fed184603a81f4664 🚀
  branches/a11y/toast/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a3859e6da2c2b78327fe541fed184603a81f4664 🚀
  branches/a11y/toast/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

refactor(web-components): add delegatesFocus to interactive components
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.tsx
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.tsx
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-footer-link-group/ic-footer-link-group.tsx
  packages/web-components/src/components/ic-footer-link/ic-footer-link.tsx
  packages/web-components/src/components/ic-link/ic-link.tsx
  packages/web-components/src/components/ic-navigation-button/ic-navigation-button.tsx
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.tsx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-switch/ic-switch.tsx
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark
