Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

docs(web-components): fixes error in IcAlert docs
  packages/web-components/src/components/ic-alert/ic-alert.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(react): run new audit fix command
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(fonts): run new audit fix command
  packages/fonts/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): ic-button and ic-navigation no longer read twice to screen readers
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Content_left_aligned.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_navigation.png
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/test/basic/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-dialog/test/basic/__snapshots__/ic-dialog.spec.ts.snap
  packages/web-components/src/components/ic-horizontal-scroll/test/basic/__snapshots__/ic-horizontal-scroll.spec.ts.snap
  packages/web-components/src/components/ic-navigation-button/ic-navigation-button.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-navigation-item/test/basic/__snapshots__/ic-navigation-item.spec.ts.snap
  packages/web-components/src/components/ic-navigation-menu/test/basic/__snapshots__/ic-navigation-menu.spec.ts.snap
  packages/web-components/src/components/ic-search-bar/test/basic/__snapshots__/ic-search-bar.spec.ts.snap
  packages/web-components/src/components/ic-select/test/basic/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-side-navigation/test/basic/__snapshots__/ic-side-navigation.spec.ts.snap
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
  packages/web-components/src/components/ic-top-navigation/test/basic/__snapshots__/ic-top-navigation.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): conditionally adding aria-owns to search-bar
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/test/basic/__snapshots__/ic-search-bar.spec.ts.snap
  packages/web-components/src/components/ic-search-bar/test/basic/ic-search-bar.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): ic-tooltip no longer interacting with previousSibling
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): prevents sticky page header overlapping dropdown menu
  packages/web-components/src/global/variables.css
Due: stylelint --fix

feat(react): update button to use left-icon slot
  packages/react/src/stories/ic-button.stories.mdx
Due: remark

fix(web-components): update tooltip and popover menu to adjust placement on dialogs
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.mdx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.css
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
  packages/web-components/src/components/ic-popover-menu/test/basic/__snapshots__/ic-popover-menu.spec.ts.snap
  packages/web-components/src/components/ic-popover-menu/test/basic/ic-popover-menu.spec.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.css
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/test/basic/__snapshots__/ic-tooltip.spec.ts.snap
  packages/web-components/src/components/ic-tooltip/test/basic/ic-tooltip.e2e.ts
  packages/web-components/src/components/ic-tooltip/test/basic/ic-tooltip.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): remove !important so bold is applied to code extra small
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_All_prop_text_styles.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Bold.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_All_prop_text_styles.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Bold.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-typography/ic-typography.css
  packages/web-components/src/components/ic-typography/ic-typography.tsx
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(web-components): remove watch from storybook command
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(react): fix for react package error running bootstrap
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(react): update stencil/react-output-target to minimum version for stencil v4
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/react-component-lib/utils/attachProps.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): adds check to see if resizeObserver exists before removing
  packages/web-components/src/components/ic-footer/ic-footer.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): adds short title
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Expanded.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Long_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Short_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Collapsed_icons_with_labels.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Expanded.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Long_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Short_title.png
  packages/web-components/package-lock.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
  packages/web-components/src/components/ic-navigation-group/test/basic/__snapshots__/ic-navigation-group.spec.ts.snap
  packages/web-components/src/components/ic-navigation-group/test/basic/ic-navigation-group.spec.ts
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-navigation-menu/test/basic/__snapshots__/ic-navigation-menu.spec.ts.snap
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-side-navigation/readme.md
  packages/web-components/src/components/ic-side-navigation/test/basic/__snapshots__/ic-side-navigation.spec.ts.snap
  packages/web-components/src/components/ic-side-navigation/test/basic/ic-side-navigation.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(web-components): reverting build script due to changes not updating
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): update stories for typography to show new props
  packages/react/src/stories/ic-typography.stories.mdx
Due: remark

feat(react): add stories for empty state component
  packages/react/src/components.ts
  packages/react/src/stories/ic-empty-state.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

build(root): removed redundant npm scripts
  package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): run new audit fix command
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add new props to typography and add playground story to demonstrate
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_All_prop_text_styles.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Bold.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Italic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Playground.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Strikethrough.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Underline.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_All_prop_text_styles.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Bold.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Italic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Playground.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Strikethrough.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Underline.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-typography/ic-typography.css
  packages/web-components/src/components/ic-typography/ic-typography.stories.mdx
  packages/web-components/src/components/ic-typography/ic-typography.tsx
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/components/ic-typography/test/basic/__snapshots__/ic-typography.spec.ts.snap
  packages/web-components/src/components/ic-typography/test/basic/ic-typography.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(docs): [ci skip] updated docs version for release
  packages/docs/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): allow for custom value and label field names for search bar
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/readme.md
  packages/web-components/src/components/ic-search-bar/ic-search-bar.stories.mdx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/utils/helpers.ts
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(react): update side effects to include css files
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
