Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

chore(fonts): updated fonts changelog
  packages/fonts/CHANGELOG.md
Due: remark

chore(react): updated react changelogs
  packages/react/CHANGELOG.md
Due: remark

chore(web-components): [ci skip] updated web-components changelog
  packages/web-components/CHANGELOG.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@68fc9349efb6993c5959459c75604606ebcccbb6 🚀
  branches/fix/conditionally-render-footer-caption-div/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@68fc9349efb6993c5959459c75604606ebcccbb6 🚀
  branches/fix/conditionally-render-footer-caption-div/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): moved transform scale from button to svg
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_Complex.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_Complex_Adjacent_Boundary_Items_Set.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_Simple.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_Complex.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_Complex_Adjacent_Boundary_Items_Set.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_Simple.png
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-pagination/ic-pagination.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@587322d7b140c7f948d158bf32789c613730dd2b 🚀
  branches/fix/conditionally-render-footer-caption-div/web-components/6663.0c743dd1.iframe.bundle.js
  branches/fix/conditionally-render-footer-caption-div/web-components/6663.c052a13b.iframe.bundle.js
  branches/fix/conditionally-render-footer-caption-div/web-components/6663.c052a13b.iframe.bundle.js.LICENSE.txt
  branches/fix/conditionally-render-footer-caption-div/web-components/9806.69651860.iframe.bundle.js
  branches/fix/conditionally-render-footer-caption-div/web-components/9806.c4dfc696.iframe.bundle.js
  branches/fix/conditionally-render-footer-caption-div/web-components/iframe.html
  branches/fix/conditionally-render-footer-caption-div/web-components/project.json
  branches/fix/conditionally-render-footer-caption-div/web-components/runtime~main.30d3bd27.iframe.bundle.js
  branches/fix/conditionally-render-footer-caption-div/web-components/runtime~main.5b6a07a6.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@587322d7b140c7f948d158bf32789c613730dd2b 🚀
  branches/fix/conditionally-render-footer-caption-div/react/1642.95b20b62.iframe.bundle.js
  branches/fix/conditionally-render-footer-caption-div/react/1642.95b20b62.iframe.bundle.js.LICENSE.txt
  branches/fix/conditionally-render-footer-caption-div/react/1642.c4b62106.iframe.bundle.js
  branches/fix/conditionally-render-footer-caption-div/react/8939.09e943eb.iframe.bundle.js
  branches/fix/conditionally-render-footer-caption-div/react/8939.c41cecf8.iframe.bundle.js
  branches/fix/conditionally-render-footer-caption-div/react/iframe.html
  branches/fix/conditionally-render-footer-caption-div/react/project.json
  branches/fix/conditionally-render-footer-caption-div/react/runtime~main.5a5b41b3.iframe.bundle.js
  branches/fix/conditionally-render-footer-caption-div/react/runtime~main.de33eaa7.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@52a5f29cce5a5396e95d14089b6457369cae1a15 🚀
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/6663.0c743dd1.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/6663.c052a13b.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/6663.c052a13b.iframe.bundle.js.LICENSE.txt
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/9806.69651860.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/9806.c4dfc696.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/iframe.html
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/project.json
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/runtime~main.330e8188.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/web-components/runtime~main.d60346d6.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@52a5f29cce5a5396e95d14089b6457369cae1a15 🚀
  branches/bugfix/684-ic-tab-nested-tab-events/react/1642.95b20b62.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/react/1642.95b20b62.iframe.bundle.js.LICENSE.txt
  branches/bugfix/684-ic-tab-nested-tab-events/react/1642.c4b62106.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/react/8939.09e943eb.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/react/8939.c41cecf8.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/react/iframe.html
  branches/bugfix/684-ic-tab-nested-tab-events/react/project.json
  branches/bugfix/684-ic-tab-nested-tab-events/react/runtime~main.94fa9251.iframe.bundle.js
  branches/bugfix/684-ic-tab-nested-tab-events/react/runtime~main.b2f8b3e9.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): conditionally render divs for footer logos and caption
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Footer_Footer_with_no_caption_or_logo.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Footer_Footer_with_no_caption_or_logo.png
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-back-to-top/__snapshots__/ic-back-to-top.spec.tsx.snap
  packages/web-components/src/components/ic-footer-link-group/__snapshots__/ic-footer-link-group.spec.ts.snap
  packages/web-components/src/components/ic-footer/__snapshots__/ic-footer.spec.ts.snap
  packages/web-components/src/components/ic-footer/ic-footer.spec.ts
  packages/web-components/src/components/ic-footer/ic-footer.stories.mdx
  packages/web-components/src/components/ic-footer/ic-footer.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(react): add story for footer with no caption or logo. Update package-lock following new release
  packages/react/package-lock.json
  packages/react/src/stories/ic-footer.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@6da8ab423afa923b99de3bf89554b4990c706d76 🚀
  branches/fix/conditionally-render-footer-caption-div/web-components/iframe.html
  branches/fix/conditionally-render-footer-caption-div/web-components/main.6fbd7021.iframe.bundle.js
  branches/fix/conditionally-render-footer-caption-div/web-components/main.cf90904a.iframe.bundle.js
  branches/fix/conditionally-render-footer-caption-div/web-components/main.cf90904a.iframe.bundle.js.LICENSE.txt
  branches/fix/conditionally-render-footer-caption-div/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6da8ab423afa923b99de3bf89554b4990c706d76 🚀
  branches/fix/conditionally-render-footer-caption-div/react/iframe.html
  branches/fix/conditionally-render-footer-caption-div/react/main.2a2edd37.iframe.bundle.js
  branches/fix/conditionally-render-footer-caption-div/react/main.2a2edd37.iframe.bundle.js.LICENSE.txt
  branches/fix/conditionally-render-footer-caption-div/react/main.c8f8196f.iframe.bundle.js
  branches/fix/conditionally-render-footer-caption-div/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@aceee051f5762f78c88ea84ca042c8c1da490ad1 🚀
  branches/develop/3140.a7382f73.iframe.bundle.js
  branches/develop/3140.b026741f.iframe.bundle.js
  branches/develop/6663.0c743dd1.iframe.bundle.js
  branches/develop/6663.c052a13b.iframe.bundle.js
  branches/develop/6663.c052a13b.iframe.bundle.js.LICENSE.txt
  branches/develop/9806.69651860.iframe.bundle.js
  branches/develop/9806.c4dfc696.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.6fbd7021.iframe.bundle.js
  branches/develop/main.cf90904a.iframe.bundle.js
  branches/develop/main.cf90904a.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.30d3bd27.iframe.bundle.js
  branches/develop/runtime~main.fec86972.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): updated root changelog
  CHANGELOG.md
Due: remark

chore(docs): updated docs changelogs
  packages/docs/CHANGELOG.md
Due: remark

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(root): updated root changelogs
  CHANGELOG.md
Due: remark

chore(docs): updated docs changelog
  packages/docs/CHANGELOG.md
Due: remark

chore(react): updated react changelog
  packages/react/CHANGELOG.md
Due: remark
