Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@be677887878fb08465c6b67c618a134abcd277c5 🚀
  branches/444-ic-side-navigation-navigation-groups-have-stopped-displaying-icons/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8ceebf4d8e3cfc04ca7eab2256273d55cc639595 🚀
  branches/a11y/toast/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8ceebf4d8e3cfc04ca7eab2256273d55cc639595 🚀
  branches/a11y/toast/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add width and height to chevron svg
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Collapsed_icons_with_labels.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Expanded.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Inline.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Slots.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Static.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Theming.png
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@1fd2dd8c82ed6314caa138784ebd9da47f9bafb5 🚀
  branches/develop/4956.c7199759.iframe.bundle.js
  branches/develop/4956.c7199759.iframe.bundle.js.LICENSE.txt
  branches/develop/4956.e832aee7.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.6dfb4588.iframe.bundle.js
  branches/develop/runtime~main.b464339a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): px changed to rem in .css files
  packages/web-components/src/components/ic-alert/ic-alert.css
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.css
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-chip/ic-chip.css
  packages/web-components/src/components/ic-classification-banner/ic-classification-banner.css
  packages/web-components/src/components/ic-data-entity/ic-data-entity.css
  packages/web-components/src/components/ic-data-row/ic-data-row.css
  packages/web-components/src/components/ic-divider/ic-divider.css
  packages/web-components/src/components/ic-footer-link-group/ic-footer-link-group.css
  packages/web-components/src/components/ic-footer-link/ic-footer-link.css
  packages/web-components/src/components/ic-footer/ic-footer.css
  packages/web-components/src/components/ic-hero/ic-hero.css
  packages/web-components/src/components/ic-input-component-container/ic-input-component-container.css
  packages/web-components/src/components/ic-input-validation/ic-input-validation.css
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.css
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
  packages/web-components/src/components/ic-search-bar/ic-search-bar.css
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-status-tag/ic-status-tag.css
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/components/ic-switch/ic-switch.css
  packages/web-components/src/components/ic-tab-group/ic-tab-group.css
  packages/web-components/src/components/ic-tab/ic-tab.css
  packages/web-components/src/components/ic-text-field/ic-text-field.css
  packages/web-components/src/components/ic-tooltip/ic-tooltip.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(root): updated concurrency step for qa deployments
  .github/workflows/ic-ui-kit-branches.yml
  .github/workflows/ic-ui-kit-develop.yml
Due: none

chore(react): disable telemetry for storybook
  packages/react/.storybook/main.js
Due: none

perf(root): run audit fix on root dependencies
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): update react router story to use router slot for app title
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: remark

style(web-components): prettier updates for ic-text-field
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): updated full-width style for select and textfield
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-text-field/ic-text-field.css
Due: stylelint --fix

fix(web-components): fix icon slots for button and side nav where svg is wrapped in an element
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Button_With_icon.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Button_With_icon.png
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-button/ic-button.stories.mdx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
Due: stylelint --fix, remark

feat(web-components): add set focus methods and tests
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.spec.ts
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.tsx
  packages/web-components/src/components/ic-breadcrumb/readme.md
  packages/web-components/src/components/ic-button/ic-button.spec.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-card/ic-card.spec.ts
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-card/readme.md
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/components/ic-chip/ic-chip.spec.ts
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-chip/readme.md
  packages/web-components/src/components/ic-link/ic-link.spec.ts
  packages/web-components/src/components/ic-link/ic-link.tsx
  packages/web-components/src/components/ic-link/readme.md
  packages/web-components/src/components/ic-navigation-button/ic-navigation-button.tsx
  packages/web-components/src/components/ic-navigation-button/readme.md
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
  packages/web-components/src/components/ic-navigation-group/readme.md
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-navigation-item/readme.md
  packages/web-components/src/components/ic-radio-group/ic-radio-group.spec.ts
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-radio-option/readme.md
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-switch/ic-switch.spec.ts
  packages/web-components/src/components/ic-switch/ic-switch.tsx
  packages/web-components/src/components/ic-switch/readme.md
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
  packages/web-components/src/components/ic-tab/ic-tab.spec.ts
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-tab/readme.md
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/components/ic-text-field/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

build(root): add react storybook to deploy step
  .github/workflows/add-qa-link-to-issues.yml
  .github/workflows/ic-ui-kit-branches.yml
Due: none

refactor(web-components): update files based off prettier errors
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-status-tag/ic-status-tag.tsx
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(web-components): disable telemetry with storybook
  packages/web-components/.storybook/main.js
Due: none

style(web-components): updates for prettier errors
  packages/web-components/src/components/ic-select/ic-select.e2e.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.tsx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

refactor(web-components): refactor checkbox CSS files so the component visually matches the designs
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Conditional_dynamic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Form.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Hidden_label.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Indeterminate.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Checkbox_Required.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Conditional_dynamic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Hidden_label.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Indeterminate.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Checkbox_Required.png
  packages/web-components/src/components/ic-checkbox-group/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.css
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): updated styling to fix tooltip positioning
  packages/web-components/src/components/ic-input-component-container/ic-input-component-container.css
  packages/web-components/src/components/ic-input-container/ic-input-container.css
  packages/web-components/src/components/ic-search-bar/ic-search-bar.css
Due: stylelint --fix

feat(web-components): adds support for external filtering of options
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/readme.md
  packages/web-components/src/components/ic-search-bar/ic-search-bar.spec.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-select/ic-select.e2e.ts
  packages/web-components/src/components/ic-select/ic-select.spec.ts
  packages/web-components/src/components/ic-select/ic-select.stories.mdx
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): implement slotted link to app title of side nav
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-side-navigation/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

build(root): add e2e tests to a new job in the pipeline, and add lint and prettier to static tests
  .github/workflows/ic-ui-kit-branches.yml
  .github/workflows/ic-ui-kit-develop.yml
  .github/workflows/ic-ui-kit-main.yml
Due: none

feat(react): adds react storybook example of external filtering
  packages/react/src/stories/ic-select.stories.mdx
Due: remark

fix(react): fixes react storybook not running
  packages/react/package-lock.json
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): add action to delete gh-pages branch when branch is deleted from ui-kit
  .github/workflows/delete-gh-pages-folder.yml
Due: none

fix(web-components): added hidden style to ic-tab-panel
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.css
Due: stylelint --fix

feat(web-components): allow for use of router links for top nav app title
  packages/react/src/stories/ic-top-navigation.stories.mdx
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
  packages/web-components/src/components/ic-top-navigation/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): using isUsedSlot to remove redundant slot from rendering
  packages/web-components/src/components/ic-checkbox-group/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-text-field/__snapshots__/ic-text-field.input.spec.tsx.snap
  packages/web-components/src/components/ic-text-field/ic-text-field.textarea.spec.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): removed px height and width from SVG
  packages/web-components/src/assets/back-icon.svg
  packages/web-components/src/assets/check-icon.svg
  packages/web-components/src/assets/chevron-icon.svg
  packages/web-components/src/assets/dismiss-icon.svg
  packages/web-components/src/assets/error-icon.svg
  packages/web-components/src/assets/info-icon.svg
  packages/web-components/src/assets/neutral-icon.svg
  packages/web-components/src/assets/success-icon.svg
  packages/web-components/src/assets/warning-icon.svg
  packages/web-components/src/components/ic-alert/ic-alert.css
  packages/web-components/src/components/ic-back-to-top/assets/ArrowUpward.svg
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.css
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-chip/ic-chip.css
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-select/assets/Expand.svg
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(web-components): updated side navigation z-index
  packages/web-components/src/components/ic-classification-banner/ic-classification-banner.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/global/variables.css
Due: stylelint --fix

feat(react): add story for horizontal radio groups, run audit fix
  packages/react/package-lock.json
  packages/react/src/stories/ic-radio-group.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

build(root): add npm audit to all branches, develop and main
  .github/workflows/ic-ui-kit-branches.yml
  .github/workflows/ic-ui-kit-develop.yml
  .github/workflows/ic-ui-kit-main.yml
Due: none
