Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@044cfc07ad94fe566d58abf7ee99d08c57efd7ea 🚀
  branches/138-hyphenated-title-link/37.40cb91ce.iframe.bundle.js
  branches/138-hyphenated-title-link/37.c86c7678.iframe.bundle.js
  branches/138-hyphenated-title-link/iframe.html
  branches/138-hyphenated-title-link/project.json
  branches/138-hyphenated-title-link/runtime~main.5b171899.iframe.bundle.js
  branches/138-hyphenated-title-link/runtime~main.fa5fc256.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): removed hyphenated title on Safari
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@cda59b347d2b0a4f5ad5012ccd7e698ba93b8e12 🚀
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/11.4c5ce904.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/11.eeda7c62.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/16.69e30d6c.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/16.f7e1ef66.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/19.5b6e6bc9.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/19.b5b731b8.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/29.0ec85943.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/29.f1c92e5e.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/3.842bc637.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/3.de7725a3.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/31.00bb37cb.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/31.5735692e.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/37.10cf9498.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/37.44f7aa33.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/44.557e515d.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/44.90f01887.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/46.141fca40.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/46.4f0f7f4e.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/7.1b5162a7.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/7.f610345d.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/iframe.html
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/main.7cd0fb51.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/main.7cd0fb51.iframe.bundle.js.LICENSE.txt
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/main.7cd0fb51.iframe.bundle.js.map
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/main.95eb86dc.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/main.95eb86dc.iframe.bundle.js.map
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/project.json
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/runtime~main.6b7e8407.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/runtime~main.fa2aa823.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): remove loading indicator background in buttons
  packages/web-components/src/components/ic-button/ic-button.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@acbf60fd2701e7529c9c46bfa62c83e31e2ce499 🚀
  branches/138-hyphenated-title-link/37.40cb91ce.iframe.bundle.js
  branches/138-hyphenated-title-link/37.94a333f8.iframe.bundle.js
  branches/138-hyphenated-title-link/iframe.html
  branches/138-hyphenated-title-link/project.json
  branches/138-hyphenated-title-link/runtime~main.fa5fc256.iframe.bundle.js
  branches/138-hyphenated-title-link/runtime~main.ffb5a6d9.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): added styles for WHCM
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-tab/ic-tab.css
Due: stylelint --fix

Revert "fix(web-components): fixed hyphenated title link on Safari"
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

fix(web-components): fixed hyphenated title link on Safari
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

fix(web-components): added WHCM support for stepper and made changes to loading indicator
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-step/ic-step.css
Due: stylelint --fix

fix(web-components): changed text-field when in HC mode
  packages/web-components/src/components/ic-text-field/ic-text-field.css
Due: stylelint --fix

fix(web-components): updated stepper and tabs
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/components/ic-tab/ic-tab.css
Due: stylelint --fix

fix(web-components): added WHCM support for select and search bar
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/components/ic-tab/ic-tab.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@201105022ff7e16df4b1681148717717be6c22cd 🚀
  branches/develop/34.a392358d.iframe.bundle.js
  branches/develop/34.f9bd65ac.iframe.bundle.js
  branches/develop/35.4ad68f57.iframe.bundle.js
  branches/develop/35.4ad68f57.iframe.bundle.js.map
  branches/develop/35.7c809149.iframe.bundle.js
  branches/develop/35.7c809149.iframe.bundle.js.LICENSE.txt
  branches/develop/35.7c809149.iframe.bundle.js.map
  branches/develop/38.757b8167.iframe.bundle.js
  branches/develop/38.757b8167.iframe.bundle.js.LICENSE.txt
  branches/develop/38.757b8167.iframe.bundle.js.map
  branches/develop/38.a1179f56.iframe.bundle.js
  branches/develop/38.a1179f56.iframe.bundle.js.map
  branches/develop/42.081d11d1.iframe.bundle.js
  branches/develop/42.081d11d1.iframe.bundle.js.map
  branches/develop/42.a1797b2c.iframe.bundle.js
  branches/develop/42.a1797b2c.iframe.bundle.js.LICENSE.txt
  branches/develop/42.a1797b2c.iframe.bundle.js.map
  branches/develop/6.fcdbff1b.iframe.bundle.js
  branches/develop/6.ffcd0ea1.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.04adf58f.iframe.bundle.js
  branches/develop/runtime~main.92a45bb1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

refactor(web-components): update package-lock, git rebase from develop
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

build(react): update package lock
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@218f761d3457d301cc9930ef6b727843058d971f 🚀
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/37.10cf9498.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/37.8477e807.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/iframe.html
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/project.json
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/runtime~main.62960cb8.iframe.bundle.js
  branches/91-address-the-inconsistencies-when-using-windows-high-contrast-mode-across-whole-site-as-well-as-across-all-components-top-nav/runtime~main.6b7e8407.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): remove unnecessary styles from hero stories
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Card_right_content.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Long_heading.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_Card_right_content.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_Long_heading.png
  packages/web-components/src/components/ic-hero/ic-hero.stories.mdx
Due: remark

fix(react): remove unnecessary added styles to hero stories
  packages/react/src/stories/ic-hero.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@22863309ae033e601a1070a7c009638b6a14f278 🚀
  branches/143-remove-manual-styles-added-to-hero-stories/iframe.html
  branches/143-remove-manual-styles-added-to-hero-stories/main.7cd0fb51.iframe.bundle.js
  branches/143-remove-manual-styles-added-to-hero-stories/main.7cd0fb51.iframe.bundle.js.map
  branches/143-remove-manual-styles-added-to-hero-stories/main.9eb42bc9.iframe.bundle.js
  branches/143-remove-manual-styles-added-to-hero-stories/main.9eb42bc9.iframe.bundle.js.LICENSE.txt
  branches/143-remove-manual-styles-added-to-hero-stories/main.9eb42bc9.iframe.bundle.js.map
  branches/143-remove-manual-styles-added-to-hero-stories/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f96caeb2f27e3e6de4af11905586e7ef4630e95b 🚀
  branches/143-remove-manual-styles-added-to-hero-stories/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@56898082d9b334356dbfcbc29a912c496112f47d 🚀
  branches/develop/37.cc852278.iframe.bundle.js
  branches/develop/37.e3655a29.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.04adf58f.iframe.bundle.js
  branches/develop/runtime~main.384f567c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): fixes textfield display in WHCM
  packages/web-components/src/components/ic-input-component-container/ic-input-component-container.css
  packages/web-components/src/components/ic-text-field/ic-text-field.css
Due: stylelint --fix

style(web-components): add transparent border-bottom for high contrast
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@bdf4e76aaa6f2e3e6fc1c2e1aa1c78a369a789eb 🚀
  branches/develop/37.ba0cd880.iframe.bundle.js
  branches/develop/37.e3655a29.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.384f567c.iframe.bundle.js
  branches/develop/runtime~main.d9923e1c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8306da4294c3547906427082b8f6498dae14172a 🚀
  branches/develop/iframe.html
  branches/develop/main.7cd0fb51.iframe.bundle.js
  branches/develop/main.7cd0fb51.iframe.bundle.js.map
  branches/develop/main.9eb42bc9.iframe.bundle.js
  branches/develop/main.9eb42bc9.iframe.bundle.js.LICENSE.txt
  branches/develop/main.9eb42bc9.iframe.bundle.js.map
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): fixes radio and checkbox in whcm
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Basic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Conditional_dynamic.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Helper_text.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Required.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Small.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Radio_button_Validation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Conditional_dynamic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Helper_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Required.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Validation.png
  packages/web-components/src/components/ic-checkbox-group/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@ada460f6ef897527c2620236e5cdbd2751d75022 🚀
  branches/develop/42.932c15f6.iframe.bundle.js
  branches/develop/42.932c15f6.iframe.bundle.js.LICENSE.txt
  branches/develop/42.932c15f6.iframe.bundle.js.map
  branches/develop/42.a1797b2c.iframe.bundle.js
  branches/develop/42.a1797b2c.iframe.bundle.js.map
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.491b4c1e.iframe.bundle.js
  branches/develop/runtime~main.d9923e1c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d6dae2bbade696abd2bf87f964e12cf450b4ca1a 🚀
  branches/develop/15.6340d0db.iframe.bundle.js
  branches/develop/15.a069b80f.iframe.bundle.js
  branches/develop/26.5216b6c7.iframe.bundle.js
  branches/develop/26.ce84e35e.iframe.bundle.js
  branches/develop/35.7c809149.iframe.bundle.js
  branches/develop/35.7c809149.iframe.bundle.js.map
  branches/develop/35.ebabb408.iframe.bundle.js
  branches/develop/35.ebabb408.iframe.bundle.js.LICENSE.txt
  branches/develop/35.ebabb408.iframe.bundle.js.map
  branches/develop/38.757b8167.iframe.bundle.js
  branches/develop/38.757b8167.iframe.bundle.js.map
  branches/develop/38.ec578a48.iframe.bundle.js
  branches/develop/38.ec578a48.iframe.bundle.js.LICENSE.txt
  branches/develop/38.ec578a48.iframe.bundle.js.map
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.491b4c1e.iframe.bundle.js
  branches/develop/runtime~main.c5a5cc97.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(root): update line about signed commits in CONTRIBUTING.md
  CONTRIBUTING.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@10ce2f8bf44d72c55b0cc8c97bd9ea8e1ac78dbb 🚀
  branches/develop/15.6340d0db.iframe.bundle.js
  branches/develop/15.a069b80f.iframe.bundle.js
  branches/develop/26.5216b6c7.iframe.bundle.js
  branches/develop/26.ce84e35e.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.45145b5a.iframe.bundle.js
  branches/develop/runtime~main.c5a5cc97.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
