Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

chore(fonts): updated fonts changelog
  packages/fonts/CHANGELOG.md
Due: remark

chore(react): updated react changelog
  packages/react/CHANGELOG.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@63b63e7a9f09f402b6ab4d6d5af540721f296923 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(web-components): fixed style linting issues
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.css
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.css
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/components/ic-skeleton/ic-skeleton.css
  packages/web-components/src/components/ic-switch/ic-switch.css
Due: stylelint --fix

fix(web-components): updated last-of-type styling on footer links
  packages/web-components/src/components/ic-footer-link/ic-footer-link.css
Due: stylelint --fix

fix(web-components): updated side-navigation on lg devices to stick to left hand side
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Inline.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Inline.png
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): fixes back to top positioning
  packages/web-components/src/components/ic-back-to-top/__snapshots__/ic-back-to-top.spec.tsx.snap
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.spec.tsx
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(react): updated css copy script
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fb85cc136fcf2d3968ccea8acbc3de9fd3a97735 🚀
  branches/bugfix/206-ukic-react-copy-css/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@94ebac7b9b5b9fe056ff6663429d00f8db678365 🚀
  branches/develop/8382.47577464.iframe.bundle.js
  branches/develop/8382.7321de45.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.5d3921e8.iframe.bundle.js
  branches/develop/runtime~main.c187a809.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b065e989c1dd0dbaf8d90d5696970397bfbad7de 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9e77e056bdc3806167f3cd90dc13a4407ffeff5b 🚀
  branches/develop/1912.34a5e3bb.iframe.bundle.js
  branches/develop/1912.94bff666.iframe.bundle.js
  branches/develop/2679.2f109248.iframe.bundle.js
  branches/develop/2679.2f109248.iframe.bundle.js.LICENSE.txt
  branches/develop/2679.f7887226.iframe.bundle.js
  branches/develop/3063.16241d7f.iframe.bundle.js
  branches/develop/3063.7fed5e6c.iframe.bundle.js
  branches/develop/5210.7f07fd83.iframe.bundle.js
  branches/develop/5210.fd9b87c0.iframe.bundle.js
  branches/develop/6510.737ae023.iframe.bundle.js
  branches/develop/6510.ae6ba83b.iframe.bundle.js
  branches/develop/8382.47577464.iframe.bundle.js
  branches/develop/8382.8b4ff385.iframe.bundle.js
  branches/develop/9462.635e83c8.iframe.bundle.js
  branches/develop/9462.a4a0a183.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.74421a56.iframe.bundle.js
  branches/develop/main.dc01939c.iframe.bundle.js
  branches/develop/main.dc01939c.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.5d3921e8.iframe.bundle.js
  branches/develop/runtime~main.ec0f1d0e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d35912ec4a383158881fcb9fd866f7149fb29e3f 🚀
  branches/140-stepper-mobile-compact/8964.527bf55a.iframe.bundle.js
  branches/140-stepper-mobile-compact/8964.b4284166.iframe.bundle.js
  branches/140-stepper-mobile-compact/9028.6cba9eb3.iframe.bundle.js
  branches/140-stepper-mobile-compact/9028.81c8fe38.iframe.bundle.js
  branches/140-stepper-mobile-compact/iframe.html
  branches/140-stepper-mobile-compact/main.18d618d3.iframe.bundle.js
  branches/140-stepper-mobile-compact/main.9de8b4a8.iframe.bundle.js
  branches/140-stepper-mobile-compact/main.9de8b4a8.iframe.bundle.js.LICENSE.txt
  branches/140-stepper-mobile-compact/project.json
  branches/140-stepper-mobile-compact/runtime~main.1af17f0c.iframe.bundle.js
  branches/140-stepper-mobile-compact/runtime~main.c7c6700c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9cd20af7bb4e03d74af19c151ecf78677fca831c 🚀
  branches/141-static-and-dismissible-chips/1099.32b74989.iframe.bundle.js
  branches/141-static-and-dismissible-chips/1099.5015c34b.iframe.bundle.js
  branches/141-static-and-dismissible-chips/iframe.html
  branches/141-static-and-dismissible-chips/project.json
  branches/141-static-and-dismissible-chips/runtime~main.ae08f2dd.iframe.bundle.js
  branches/141-static-and-dismissible-chips/runtime~main.bf9b5d15.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4c7503ac01da1d7edfbaa4f985fa3a29bcafe355 🚀
  branches/140-stepper-mobile-compact/iframe.html
  branches/140-stepper-mobile-compact/main.44e81a81.iframe.bundle.js
  branches/140-stepper-mobile-compact/main.44e81a81.iframe.bundle.js.LICENSE.txt
  branches/140-stepper-mobile-compact/main.9de8b4a8.iframe.bundle.js
  branches/140-stepper-mobile-compact/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3d1c4c9aa14c040e76b7b9e9ef37a3b4a68a9648 🚀
  branches/140-stepper-mobile-compact/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6d5c23f6ca3d78ec39be908e1a610c28ba0e7850 🚀
  branches/141-static-and-dismissible-chips/1099.00813c31.iframe.bundle.js
  branches/141-static-and-dismissible-chips/1099.cdb00eba.iframe.bundle.js
  branches/141-static-and-dismissible-chips/iframe.html
  branches/141-static-and-dismissible-chips/project.json
  branches/141-static-and-dismissible-chips/runtime~main.21ebe3b2.iframe.bundle.js
  branches/141-static-and-dismissible-chips/runtime~main.cc540a1b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b8860413c508881d1f638dc6fe92ae5d2c3d91e8 🚀
  branches/141-static-and-dismissible-chips/1099.00813c31.iframe.bundle.js
  branches/141-static-and-dismissible-chips/1099.e6cf8088.iframe.bundle.js
  branches/141-static-and-dismissible-chips/iframe.html
  branches/141-static-and-dismissible-chips/project.json
  branches/141-static-and-dismissible-chips/runtime~main.06f0bbf1.iframe.bundle.js
  branches/141-static-and-dismissible-chips/runtime~main.cc540a1b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@180e47c53756b4ed1ba8950b2ed550f378c4bec4 🚀
  branches/184-tidy-up-prop-slot-and-event-descriptions/iframe.html
  branches/184-tidy-up-prop-slot-and-event-descriptions/main.29a04bee.iframe.bundle.js
  branches/184-tidy-up-prop-slot-and-event-descriptions/main.29a04bee.iframe.bundle.js.LICENSE.txt
  branches/184-tidy-up-prop-slot-and-event-descriptions/main.dc01939c.iframe.bundle.js
  branches/184-tidy-up-prop-slot-and-event-descriptions/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@649f0408b7bd623c1db1732993404a00d918bddc 🚀
  branches/develop/7733.8b5db38f.iframe.bundle.js
  branches/develop/7733.a4325e7c.iframe.bundle.js
  branches/develop/7733.a4325e7c.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.d7c40fad.iframe.bundle.js
  branches/develop/runtime~main.ec0f1d0e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c6b84b93303cfc2096648dc3a66bc28d2f8998c6 🚀
  branches/140-stepper-mobile-compact/8964.b4284166.iframe.bundle.js
  branches/140-stepper-mobile-compact/8964.d5a5dba2.iframe.bundle.js
  branches/140-stepper-mobile-compact/9028.5cf88d1e.iframe.bundle.js
  branches/140-stepper-mobile-compact/9028.81c8fe38.iframe.bundle.js
  branches/140-stepper-mobile-compact/iframe.html
  branches/140-stepper-mobile-compact/project.json
  branches/140-stepper-mobile-compact/runtime~main.1af17f0c.iframe.bundle.js
  branches/140-stepper-mobile-compact/runtime~main.2e1bf2df.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(root): fixed triggering of workflows incorrectly
  .github/workflows/add-qa-link-to-issues.yml
  .github/workflows/welcome-new-contributors.yml
Due: none
