Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

feat(web-component): implement chip component
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Dismissible.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Outline.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Static.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Without_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Dismissible.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Outline.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Static.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Without_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_Small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Helper_text.png
  packages/web-components/src/assets/dismiss-icon.svg
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.spec.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-chip/__snapshots__/ic-chip.spec.ts.snap
  packages/web-components/src/components/ic-chip/ic-chip.css
  packages/web-components/src/components/ic-chip/ic-chip.spec.ts
  packages/web-components/src/components/ic-chip/ic-chip.stories.mdx
  packages/web-components/src/components/ic-chip/ic-chip.test.a11y.ts
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-chip/ic-chip.types.ts
  packages/web-components/src/components/ic-chip/readme.md
  packages/web-components/src/components/ic-hero/ic-hero.stories.mdx
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-search-bar/ic-search-bar.spec.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.css
  packages/web-components/src/components/ic-tooltip/readme.md
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): add chips stories
  packages/react/src/components.ts
  packages/react/src/stories/ic-chip.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): can now enter spaces into search queries
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.e2e.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixed search bar submission to populate field with highlighted item
  audit-ci.json
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2aa16d1b439d1308014861a92c7a30978692b28d 🚀
  branches/fix-search-bar-value-submitting/1416.ac7bed6e.iframe.bundle.js
  branches/fix-search-bar-value-submitting/1416.cbbb6f5b.iframe.bundle.js
  branches/fix-search-bar-value-submitting/iframe.html
  branches/fix-search-bar-value-submitting/main.0eb897f0.iframe.bundle.js
  branches/fix-search-bar-value-submitting/main.48ad6104.iframe.bundle.js
  branches/fix-search-bar-value-submitting/main.48ad6104.iframe.bundle.js.LICENSE.txt
  branches/fix-search-bar-value-submitting/project.json
  branches/fix-search-bar-value-submitting/runtime~main.225918ef.iframe.bundle.js
  branches/fix-search-bar-value-submitting/runtime~main.3aea7375.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixed issues with search bar
  audit-ci.json
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.e2e.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c02dd08d9c7b22fd4cff2270e27b087dd1478fd6 🚀
  branches/search-bar-fixes/2679.0b87aa14.iframe.bundle.js
  branches/search-bar-fixes/2679.0b87aa14.iframe.bundle.js.LICENSE.txt
  branches/search-bar-fixes/2679.2f109248.iframe.bundle.js
  branches/search-bar-fixes/504.24e0fb93.iframe.bundle.js
  branches/search-bar-fixes/504.ee54f07d.iframe.bundle.js
  branches/search-bar-fixes/504.ee54f07d.iframe.bundle.js.LICENSE.txt
  branches/search-bar-fixes/iframe.html
  branches/search-bar-fixes/main.8cd79f16.iframe.bundle.js
  branches/search-bar-fixes/main.8cd79f16.iframe.bundle.js.LICENSE.txt
  branches/search-bar-fixes/main.dbf0226d.iframe.bundle.js
  branches/search-bar-fixes/project.json
  branches/search-bar-fixes/runtime~main.d004d4f7.iframe.bundle.js
  branches/search-bar-fixes/runtime~main.f8efecf1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2b1663b0f2599d427b5aa57e815b54286be0fbb8 🚀
  branches/develop/2679.0b87aa14.iframe.bundle.js
  branches/develop/2679.0b87aa14.iframe.bundle.js.LICENSE.txt
  branches/develop/2679.2f109248.iframe.bundle.js
  branches/develop/504.24e0fb93.iframe.bundle.js
  branches/develop/504.ee54f07d.iframe.bundle.js
  branches/develop/504.ee54f07d.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/main.8cd79f16.iframe.bundle.js
  branches/develop/main.8cd79f16.iframe.bundle.js.LICENSE.txt
  branches/develop/main.dbf0226d.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.d004d4f7.iframe.bundle.js
  branches/develop/runtime~main.f8efecf1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes back to top positioning
  packages/web-components/src/components/ic-back-to-top/__snapshots__/ic-back-to-top.spec.tsx.snap
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.spec.tsx
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes console error in linear determinate variant
  packages/web-components/src/components/ic-loading-indicator/__snapshots__/ic-loading-indicator.spec.ts.snap
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.spec.ts
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(web-components): fixed style linting issues
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.css
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.css
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/components/ic-skeleton/ic-skeleton.css
  packages/web-components/src/components/ic-switch/ic-switch.css
Due: stylelint --fix

chore(root): updated actions to push tags to repo
  .github/workflows/ic-ui-kit-main.yml
Due: none

fix(react): updated css copy script
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(react): import text field into react radio examples
  packages/react/src/stories/ic-radio-group.stories.mdx
Due: remark

fix(web-components): updated last-of-type styling on footer links
  packages/web-components/src/components/ic-footer-link/ic-footer-link.css
Due: stylelint --fix

fix(root): fixed triggering of workflows incorrectly
  .github/workflows/add-qa-link-to-issues.yml
  .github/workflows/welcome-new-contributors.yml
Due: none

fix(web-components): removed chips for a11y testing
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.spec.tsx
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-footer/ic-footer.tsx
  packages/web-components/src/components/ic-input-component-container/readme.md
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.spec.ts
  packages/web-components/src/components/ic-loading-indicator/readme.md
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/usage-with-angular.stories.mdx
  packages/web-components/src/usage-with-vue.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

test(web-components): enhances test coverage
  packages/web-components/src/components/ic-breadcrumb-group/__snapshots__/ic-breadcrumb-group.spec.ts.snap
  packages/web-components/src/components/ic-breadcrumb-group/ic-breadcrumb-group.spec.ts
  packages/web-components/src/components/ic-navigation-menu/__snapshots__/ic-navigation-menu.spec.ts.snap
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.spec.ts
  packages/web-components/src/components/ic-text-field/ic-text-field.input.spec.tsx
  packages/web-components/src/components/ic-theme/ic-theme.spec.tsx
  packages/web-components/src/components/ic-tooltip/ic-tooltip.spec.ts
  packages/web-components/src/testspec.setup.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): updated side-navigation on lg devices to stick to left hand side
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Inline.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Inline.png
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(root): regenerated root level CHANGELOG
  CHANGELOG.md
Due: remark

docs(docs): regenerated changelog
  packages/docs/CHANGELOG.md
Due: remark

docs(fonts): regenerated changelog
  packages/fonts/CHANGELOG.md
Due: remark

docs(react): regenerated changelog
  packages/react/CHANGELOG.md
Due: remark

docs(web-components): regenerated changelog
  packages/web-components/CHANGELOG.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@b97bcc5f0d4d32e94c2ffd9bb4629d18e16fb98a 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
