Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): update short-title to short-app-title for top navigation
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
  packages/web-components/src/components/ic-top-navigation/readme.md
  packages/web-components/src/components/ic-top-navigation/test/a11y/ic-top-navigation.test.a11y.ts
  packages/web-components/src/components/ic-top-navigation/test/basic/__snapshots__/ic-top-navigation.spec.ts.snap
  packages/web-components/src/components/ic-top-navigation/test/basic/ic-top-navigation.e2e.ts
  packages/web-components/src/components/ic-top-navigation/test/basic/ic-top-navigation.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@7803b00c7f743535d376177c93ec53963f130359 🚀
  branches/feature/date-picker/web-components/504.cb5502ad.iframe.bundle.js
  branches/feature/date-picker/web-components/504.cf5bbb83.iframe.bundle.js
  branches/feature/date-picker/web-components/504.cf5bbb83.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/web-components/5542.1fd8354c.iframe.bundle.js
  branches/feature/date-picker/web-components/5542.1fd8354c.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/web-components/5542.eb5357b0.iframe.bundle.js
  branches/feature/date-picker/web-components/6098.7caf4717.iframe.bundle.js
  branches/feature/date-picker/web-components/6098.996a568e.iframe.bundle.js
  branches/feature/date-picker/web-components/6510.05acd488.iframe.bundle.js
  branches/feature/date-picker/web-components/6510.60cf3093.iframe.bundle.js
  branches/feature/date-picker/web-components/6663.5852fb4a.iframe.bundle.js
  branches/feature/date-picker/web-components/6663.5852fb4a.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/web-components/6663.e597d99c.iframe.bundle.js
  branches/feature/date-picker/web-components/7420.511bb1dc.iframe.bundle.js
  branches/feature/date-picker/web-components/7420.511bb1dc.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/web-components/7420.82aefebc.iframe.bundle.js
  branches/feature/date-picker/web-components/7733.460078d9.iframe.bundle.js
  branches/feature/date-picker/web-components/7733.597f639a.iframe.bundle.js
  branches/feature/date-picker/web-components/7733.597f639a.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/web-components/9139.317d6c85.iframe.bundle.js
  branches/feature/date-picker/web-components/9139.317d6c85.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/web-components/9139.fc078801.iframe.bundle.js
  branches/feature/date-picker/web-components/iframe.html
  branches/feature/date-picker/web-components/main.c04fbfd0.iframe.bundle.js
  branches/feature/date-picker/web-components/main.d1b9bba2.iframe.bundle.js
  branches/feature/date-picker/web-components/main.d1b9bba2.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/web-components/project.json
  branches/feature/date-picker/web-components/runtime~main.9cf636db.iframe.bundle.js
  branches/feature/date-picker/web-components/runtime~main.a9964f24.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7803b00c7f743535d376177c93ec53963f130359 🚀
  branches/feature/date-picker/react/1642.95d524b5.iframe.bundle.js
  branches/feature/date-picker/react/1642.b134389a.iframe.bundle.js
  branches/feature/date-picker/react/1642.b134389a.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/react/2148.e2755c27.iframe.bundle.js
  branches/feature/date-picker/react/2148.e2755c27.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/react/2148.e9f1823e.iframe.bundle.js
  branches/feature/date-picker/react/2635.59e857dc.iframe.bundle.js
  branches/feature/date-picker/react/2635.5e95b655.iframe.bundle.js
  branches/feature/date-picker/react/4500.154defe3.iframe.bundle.js
  branches/feature/date-picker/react/4500.cffebd8b.iframe.bundle.js
  branches/feature/date-picker/react/4500.cffebd8b.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/react/5835.3972f2d3.iframe.bundle.js
  branches/feature/date-picker/react/5835.56a9a663.iframe.bundle.js
  branches/feature/date-picker/react/5835.56a9a663.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/react/5841.187b6751.iframe.bundle.js
  branches/feature/date-picker/react/5841.187b6751.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/react/5841.50495ed1.iframe.bundle.js
  branches/feature/date-picker/react/6225.164b4f19.iframe.bundle.js
  branches/feature/date-picker/react/6225.164b4f19.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/react/6225.80d1bb5b.iframe.bundle.js
  branches/feature/date-picker/react/8291.1d606fc5.iframe.bundle.js
  branches/feature/date-picker/react/8291.83c79d10.iframe.bundle.js
  branches/feature/date-picker/react/iframe.html
  branches/feature/date-picker/react/main.5d477cca.iframe.bundle.js
  branches/feature/date-picker/react/main.e576fae0.iframe.bundle.js
  branches/feature/date-picker/react/main.e576fae0.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/react/project.json
  branches/feature/date-picker/react/runtime~main.69384a20.iframe.bundle.js
  branches/feature/date-picker/react/runtime~main.e514261a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): added React stories for ic-date-input
  packages/react/src/components.ts
  packages/react/src/stories/ic-date-input.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(react): update shortTitle to shortAppTitle for top navigation
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: remark

docs(root): change to contribution guide
  CONTRIBUTING.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@6679dcacc60dc569a5845ed97c8c14a111b72a02 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): update side nav CSS to ensure visibility of menu content is correct
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
Due: stylelint --fix

fix(web-components): fix padding on static side navigation
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): update side nav transition handlers to fix bug with collapsed labels variant
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-side-navigation/test/basic/__snapshots__/ic-side-navigation.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@666769e1d39a99a742b279e20d5be1427f476b40 🚀
  branches/bugfix/739-empty-side-nav-when-changing-screen-widths/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@666769e1d39a99a742b279e20d5be1427f476b40 🚀
  branches/bugfix/739-empty-side-nav-when-changing-screen-widths/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@915578bf96b8006c3b5b4bf660e840eacfc2740b 🚀
  branches/feature/date-picker/web-components/6098.5d064af1.iframe.bundle.js
  branches/feature/date-picker/web-components/6098.996a568e.iframe.bundle.js
  branches/feature/date-picker/web-components/6663.23b7685c.iframe.bundle.js
  branches/feature/date-picker/web-components/6663.23b7685c.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/web-components/6663.5852fb4a.iframe.bundle.js
  branches/feature/date-picker/web-components/iframe.html
  branches/feature/date-picker/web-components/main.342f117d.iframe.bundle.js
  branches/feature/date-picker/web-components/main.342f117d.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/web-components/main.d1b9bba2.iframe.bundle.js
  branches/feature/date-picker/web-components/project.json
  branches/feature/date-picker/web-components/runtime~main.9cf636db.iframe.bundle.js
  branches/feature/date-picker/web-components/runtime~main.cc34ced6.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@915578bf96b8006c3b5b4bf660e840eacfc2740b 🚀
  branches/feature/date-picker/react/1642.131f5231.iframe.bundle.js
  branches/feature/date-picker/react/1642.131f5231.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/react/1642.b134389a.iframe.bundle.js
  branches/feature/date-picker/react/2635.55cbc9a1.iframe.bundle.js
  branches/feature/date-picker/react/2635.59e857dc.iframe.bundle.js
  branches/feature/date-picker/react/iframe.html
  branches/feature/date-picker/react/main.b2ca3074.iframe.bundle.js
  branches/feature/date-picker/react/main.b2ca3074.iframe.bundle.js.LICENSE.txt
  branches/feature/date-picker/react/main.e576fae0.iframe.bundle.js
  branches/feature/date-picker/react/project.json
  branches/feature/date-picker/react/runtime~main.69384a20.iframe.bundle.js
  branches/feature/date-picker/react/runtime~main.dfa84036.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
