Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): fixes issue with nested inputs values on form submit
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-checkbox-group/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/utils/helpers.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@796781487c57cf09be722662355ac8de2849652f 🚀
  branches/nested-hidden-inputs/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(root): update line about signed commits in CONTRIBUTING.md
  CONTRIBUTING.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@cf4c66cfd85ef8fa5c5e28b2ab42dbd66f055ec7 🚀
  branches/develop/15.6340d0db.iframe.bundle.js
  branches/develop/15.a069b80f.iframe.bundle.js
  branches/develop/26.5216b6c7.iframe.bundle.js
  branches/develop/26.ce84e35e.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.45145b5a.iframe.bundle.js
  branches/develop/runtime~main.c5a5cc97.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add rgba themes
  packages/web-components/src/components/ic-theme/ic-theme.spec.tsx
  packages/web-components/src/components/ic-theme/ic-theme.stories.mdx
  packages/web-components/src/components/ic-theme/ic-theme.tsx
  packages/web-components/src/global/variables.css
  packages/web-components/src/utils/helpers.ts
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@df69ca8369da2979561fa5fd0e4301b6971a5d47 🚀
  branches/140-stepper-mobile-compact/42.843d2c16.iframe.bundle.js
  branches/140-stepper-mobile-compact/42.843d2c16.iframe.bundle.js.LICENSE.txt
  branches/140-stepper-mobile-compact/42.843d2c16.iframe.bundle.js.map
  branches/140-stepper-mobile-compact/42.932c15f6.iframe.bundle.js
  branches/140-stepper-mobile-compact/42.932c15f6.iframe.bundle.js.map
  branches/140-stepper-mobile-compact/iframe.html
  branches/140-stepper-mobile-compact/main.4d40d73f.iframe.bundle.js
  branches/140-stepper-mobile-compact/main.4d40d73f.iframe.bundle.js.LICENSE.txt
  branches/140-stepper-mobile-compact/main.4d40d73f.iframe.bundle.js.map
  branches/140-stepper-mobile-compact/main.9eb42bc9.iframe.bundle.js
  branches/140-stepper-mobile-compact/main.9eb42bc9.iframe.bundle.js.map
  branches/140-stepper-mobile-compact/project.json
  branches/140-stepper-mobile-compact/runtime~main.9b201398.iframe.bundle.js
  branches/140-stepper-mobile-compact/runtime~main.c5a5cc97.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4c96e95a6b67fc7407d896afa88c8d247fe7d3b3 🚀
  branches/140-stepper-mobile-compact/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e9a249ef6dfe09e417d857302eff0cfde0d0a9cd 🚀
  branches/bugfix/118-loading-indicator-determinate/42.579ce94c.iframe.bundle.js
  branches/bugfix/118-loading-indicator-determinate/42.579ce94c.iframe.bundle.js.LICENSE.txt
  branches/bugfix/118-loading-indicator-determinate/42.579ce94c.iframe.bundle.js.map
  branches/bugfix/118-loading-indicator-determinate/42.e81454d5.iframe.bundle.js
  branches/bugfix/118-loading-indicator-determinate/42.e81454d5.iframe.bundle.js.map
  branches/bugfix/118-loading-indicator-determinate/iframe.html
  branches/bugfix/118-loading-indicator-determinate/main.424e87e9.iframe.bundle.js
  branches/bugfix/118-loading-indicator-determinate/main.424e87e9.iframe.bundle.js.LICENSE.txt
  branches/bugfix/118-loading-indicator-determinate/main.424e87e9.iframe.bundle.js.map
  branches/bugfix/118-loading-indicator-determinate/main.a31dffd2.iframe.bundle.js
  branches/bugfix/118-loading-indicator-determinate/main.a31dffd2.iframe.bundle.js.map
  branches/bugfix/118-loading-indicator-determinate/project.json
  branches/bugfix/118-loading-indicator-determinate/runtime~main.1a64252a.iframe.bundle.js
  branches/bugfix/118-loading-indicator-determinate/runtime~main.d1965e53.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ab9b5cd25d9917db20a7c3ac619a736c11a6b59b 🚀
  branches/15-additional-deployment-actions/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@8328902fc7b0c941460e6a2ee39f22d2e0456184 🚀
  branches/141-static-and-dismissible-chips/16.5fdaa101.iframe.bundle.js
  branches/141-static-and-dismissible-chips/16.ded35e0b.iframe.bundle.js
  branches/141-static-and-dismissible-chips/iframe.html
  branches/141-static-and-dismissible-chips/project.json
  branches/141-static-and-dismissible-chips/runtime~main.25857956.iframe.bundle.js
  branches/141-static-and-dismissible-chips/runtime~main.59c95905.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0cca47ef67e993a7ad159ccbf78a750c2b143ea6 🚀
  branches/15-additional-deployment-actions/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add transparent borders in HCM
  packages/web-components/src/components/ic-alert/ic-alert.css
  packages/web-components/src/components/ic-classification-banner/ic-classification-banner.css
  packages/web-components/src/components/ic-footer/ic-footer.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-status-tag/ic-status-tag.css
  packages/web-components/src/components/ic-switch/ic-switch.css
  packages/web-components/src/components/ic-tooltip/ic-tooltip.css
  packages/web-components/src/global/variables.css
Due: stylelint --fix

fix(web-components): added styles for WHCM
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-tab/ic-tab.css
Due: stylelint --fix

fix(web-components): added WHCM support for stepper and made changes to loading indicator
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-step/ic-step.css
Due: stylelint --fix

fix(web-components): fix components in WHCM
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Switch_Right_adornment.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Right_adornment.png
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.css
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.css
  packages/web-components/src/components/ic-data-entity/ic-data-entity.css
  packages/web-components/src/components/ic-data-row/ic-data-row.css
  packages/web-components/src/components/ic-footer-link/ic-footer-link.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-skeleton/ic-skeleton.css
  packages/web-components/src/components/ic-status-tag/ic-status-tag.css
  packages/web-components/src/components/ic-switch/ic-switch.css
  packages/web-components/src/components/ic-switch/ic-switch.stories.mdx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix, remark

fix(web-components): changed text-field when in HC mode
  packages/web-components/src/components/ic-text-field/ic-text-field.css
Due: stylelint --fix

fix(web-components): updated stepper and tabs
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/components/ic-tab/ic-tab.css
Due: stylelint --fix

fix(web-components): added WHCM support for select and search bar
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/components/ic-tab/ic-tab.css
Due: stylelint --fix

Revert "fix(web-components): fixed hyphenated title link on Safari"
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

fix(web-components): fixed hyphenated title link on Safari
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

fix(web-components): removed hyphenated title on Safari
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

build(react): update package lock
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

style(web-components): add transparent border-bottom for high contrast
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

refactor(web-components): update package-lock, git rebase from develop
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(react): remove unnecessary added styles to hero stories
  packages/react/src/stories/ic-hero.stories.mdx
Due: remark

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
