Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(web-components): adda files missed in change to alert docs
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-alert/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@ed95b536bc04d2b3caa7c2808f3f8ce0ef0350c6 🚀
  branches/974-add-right-icon-variant-to-ic-button/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ed95b536bc04d2b3caa7c2808f3f8ce0ef0350c6 🚀
  branches/974-add-right-icon-variant-to-ic-button/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@169f1e3e278d4f4c74405b418a0f8d1574d8053b 🚀
  branches/974-add-right-icon-variant-to-ic-button/web-components/iframe.html
  branches/974-add-right-icon-variant-to-ic-button/web-components/main.a6533e3f.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/main.a6533e3f.iframe.bundle.js.LICENSE.txt
  branches/974-add-right-icon-variant-to-ic-button/web-components/main.e15d7349.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@169f1e3e278d4f4c74405b418a0f8d1574d8053b 🚀
  branches/974-add-right-icon-variant-to-ic-button/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@40c339139580a72f9e75b7aa2b53af28d2a20fb8 🚀
  branches/974-add-right-icon-variant-to-ic-button/web-components/2308.4101ee2b.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/2308.c4a55243.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/2308.c4a55243.iframe.bundle.js.LICENSE.txt
  branches/974-add-right-icon-variant-to-ic-button/web-components/iframe.html
  branches/974-add-right-icon-variant-to-ic-button/web-components/project.json
  branches/974-add-right-icon-variant-to-ic-button/web-components/runtime~main.3573f220.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/runtime~main.654e365b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@40c339139580a72f9e75b7aa2b53af28d2a20fb8 🚀
  branches/974-add-right-icon-variant-to-ic-button/react/4637.2f7c37fd.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/4637.dbf7c8da.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/4637.dbf7c8da.iframe.bundle.js.LICENSE.txt
  branches/974-add-right-icon-variant-to-ic-button/react/iframe.html
  branches/974-add-right-icon-variant-to-ic-button/react/project.json
  branches/974-add-right-icon-variant-to-ic-button/react/runtime~main.638ccc0c.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/runtime~main.db399696.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): remove !important so bold is applied to code extra small
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_All_prop_text_styles.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Bold.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_All_prop_text_styles.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Bold.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-typography/ic-typography.css
  packages/web-components/src/components/ic-typography/ic-typography.tsx
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@0b83bfaffa075ee33a46262c591dea4a9c611d12 🚀
  branches/develop/6512.390cfef1.iframe.bundle.js
  branches/develop/6512.dd37fa6a.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.3ed83496.iframe.bundle.js
  branches/develop/main.f2c0a4ce.iframe.bundle.js
  branches/develop/main.f2c0a4ce.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.2cd59eb4.iframe.bundle.js
  branches/develop/runtime~main.8599aff5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@59abbc43d801902e4718dd1435357022b8175a4f 🚀
  branches/974-add-right-icon-variant-to-ic-button/web-components/6512.390cfef1.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/6512.dd37fa6a.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/iframe.html
  branches/974-add-right-icon-variant-to-ic-button/web-components/main.0ebab561.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/main.0ebab561.iframe.bundle.js.LICENSE.txt
  branches/974-add-right-icon-variant-to-ic-button/web-components/main.a6533e3f.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/project.json
  branches/974-add-right-icon-variant-to-ic-button/web-components/runtime~main.033ca215.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/runtime~main.3573f220.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@59abbc43d801902e4718dd1435357022b8175a4f 🚀
  branches/974-add-right-icon-variant-to-ic-button/react/5907.36d505b6.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/5907.7ea8249e.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/iframe.html
  branches/974-add-right-icon-variant-to-ic-button/react/main.a0982f18.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/main.c08d2622.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/main.c08d2622.iframe.bundle.js.LICENSE.txt
  branches/974-add-right-icon-variant-to-ic-button/react/project.json
  branches/974-add-right-icon-variant-to-ic-button/react/runtime~main.46ded4bf.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/runtime~main.638ccc0c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@db70a82724f8a05c7bff6fbf93018c80baa5587e 🚀
  branches/974-add-right-icon-variant-to-ic-button/web-components/2115.0f61a8c6.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/2115.f4c6765d.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/2115.f4c6765d.iframe.bundle.js.LICENSE.txt
  branches/974-add-right-icon-variant-to-ic-button/web-components/6663.1dac4229.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/6663.1dac4229.iframe.bundle.js.LICENSE.txt
  branches/974-add-right-icon-variant-to-ic-button/web-components/6663.7c951ede.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/iframe.html
  branches/974-add-right-icon-variant-to-ic-button/web-components/project.json
  branches/974-add-right-icon-variant-to-ic-button/web-components/runtime~main.033ca215.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/runtime~main.74f3889b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@db70a82724f8a05c7bff6fbf93018c80baa5587e 🚀
  branches/974-add-right-icon-variant-to-ic-button/react/1642.14548cdd.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/1642.47cc8816.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/1642.47cc8816.iframe.bundle.js.LICENSE.txt
  branches/974-add-right-icon-variant-to-ic-button/react/2373.07dd1899.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/2373.07dd1899.iframe.bundle.js.LICENSE.txt
  branches/974-add-right-icon-variant-to-ic-button/react/2373.eded3c96.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/iframe.html
  branches/974-add-right-icon-variant-to-ic-button/react/project.json
  branches/974-add-right-icon-variant-to-ic-button/react/runtime~main.46ded4bf.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/runtime~main.5eef1275.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d6065b917fb58206ea90452ed09588dbd8de220a 🚀
  branches/974-add-right-icon-variant-to-ic-button/web-components/2115.07f5f086.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/2115.07f5f086.iframe.bundle.js.LICENSE.txt
  branches/974-add-right-icon-variant-to-ic-button/web-components/2115.f4c6765d.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/iframe.html
  branches/974-add-right-icon-variant-to-ic-button/web-components/project.json
  branches/974-add-right-icon-variant-to-ic-button/web-components/runtime~main.2fae5c95.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/runtime~main.74f3889b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d6065b917fb58206ea90452ed09588dbd8de220a 🚀
  branches/974-add-right-icon-variant-to-ic-button/react/2373.07dd1899.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/2373.79a7b6f7.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/2373.79a7b6f7.iframe.bundle.js.LICENSE.txt
  branches/974-add-right-icon-variant-to-ic-button/react/iframe.html
  branches/974-add-right-icon-variant-to-ic-button/react/project.json
  branches/974-add-right-icon-variant-to-ic-button/react/runtime~main.5eef1275.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/runtime~main.7b9c4ef2.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): remove !important from all font sizes except h1
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_All_prop_text_styles.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Bold.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_All_prop_text_styles.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Bold.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-typography/ic-typography.css
  packages/web-components/src/components/ic-typography/ic-typography.tsx
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@23cacf4dd7b98e7ee7e0cc3d459a7886d0f217f2 🚀
  branches/986-ic-button-conditionally-rendered-icbuttons-and-ictooltips/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@23cacf4dd7b98e7ee7e0cc3d459a7886d0f217f2 🚀
  branches/986-ic-button-conditionally-rendered-icbuttons-and-ictooltips/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(ic-popover-menu): options to anchor popover menu to cursor, and open/close via contextual click
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.stories.mdx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.types.ts
  packages/web-components/src/components/ic-popover-menu/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(packages/react/src/stories/ic-popover-menu.stories.mdx): new react story for mouse anchor feat
  packages/react/src/stories/ic-popover-menu.stories.mdx
Due: remark

fix(web-components): prevents sticky page header overlapping dropdown menu
  packages/web-components/src/global/variables.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@cf79d1879111d4b642c1ef5168db6a2e4693489b 🚀
  branches/974-add-right-icon-variant-to-ic-button/web-components/6512.8cd7922d.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/6512.dd37fa6a.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/iframe.html
  branches/974-add-right-icon-variant-to-ic-button/web-components/main.0ebab561.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/main.d02e1ad0.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/main.d02e1ad0.iframe.bundle.js.LICENSE.txt
  branches/974-add-right-icon-variant-to-ic-button/web-components/project.json
  branches/974-add-right-icon-variant-to-ic-button/web-components/runtime~main.2fae5c95.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/web-components/runtime~main.ae10d7a4.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@cf79d1879111d4b642c1ef5168db6a2e4693489b 🚀
  branches/974-add-right-icon-variant-to-ic-button/react/5907.7ea8249e.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/5907.e82f346c.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/iframe.html
  branches/974-add-right-icon-variant-to-ic-button/react/main.694eba53.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/main.694eba53.iframe.bundle.js.LICENSE.txt
  branches/974-add-right-icon-variant-to-ic-button/react/main.c08d2622.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/project.json
  branches/974-add-right-icon-variant-to-ic-button/react/runtime~main.7b9c4ef2.iframe.bundle.js
  branches/974-add-right-icon-variant-to-ic-button/react/runtime~main.fda4a1dd.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
