Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

feat(canary-react): add React stories and Cypress tests for drawer component
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/bottom-collapsed.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/bottom-expanded.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/boundary-parent-collapsed.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/boundary-parent-expanded.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/controlled-trigger-collapsed.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/controlled-trigger-expanded.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/dark-mode.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/hidden-close-button.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/high-contrast.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/large-bottom.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/large-left.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/large-right.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/large-top.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/left-collapsed.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/left-expanded.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/long-content-with-icon-and-buttons.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/long-content.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/responsive-action-area-bottom.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/responsive-action-area-top.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/right-collapsed.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/right-expanded.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/slotted-icon-and-button.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/small-bottom.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/small-left.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/small-right.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/small-top.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/top-collapsed.png
  packages/canary-react/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/top-expanded.png
  packages/canary-react/src/component-tests/IcDrawer/IcDrawer.cy.tsx
  packages/canary-react/src/components.ts
  packages/canary-react/src/stories/ic-drawer.mdx
  packages/canary-react/src/stories/ic-drawer.stories.jsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

refactor(react): small adjustments to dialog show / hide content story for better clarity
  packages/react/src/stories/ic-dialog.stories.jsx
Due: none

feat(web-components): add focus trap helper functions and update dialog component to use them
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.js
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/test/basic/__snapshots__/ic-dialog.spec.ts.snap
  packages/web-components/src/components/ic-dialog/test/basic/ic-dialog.spec.ts
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-tooltip/ic-tooltip.css
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/test/basic/__snapshots__/ic-tooltip.spec.ts.snap
  packages/web-components/src/components/ic-tooltip/test/basic/ic-tooltip.spec.ts
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/global/color-mode.css
  packages/web-components/src/global/variables.css
  packages/web-components/src/utils/constants.ts
  packages/web-components/src/utils/helpers.ts
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(canary-web-components): create drawer component and add focus trap helper functions
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-card-horizontal/readme.md
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.css
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.mdx
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.tsx
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.types.tsx
  packages/canary-web-components/src/components/ic-drawer/readme.md
  packages/canary-web-components/src/components/ic-drawer/test/a11y/ic-drawer.test.a11y.ts
  packages/canary-web-components/src/components/ic-drawer/test/basic/__snapshots__/ic-drawer.spec.tsx.snap
  packages/canary-web-components/src/components/ic-drawer/test/basic/ic-drawer.spec.tsx
  packages/canary-web-components/src/utils/constants.ts
  packages/canary-web-components/src/utils/helpers.ts
  packages/canary-web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): add slot equivalent for accessibleButtonLabel prop
  packages/web-components/src/components/ic-accordion-group/ic-accordion-group.css
  packages/web-components/src/components/ic-accordion-group/ic-accordion-group.tsx
  packages/web-components/src/components/ic-accordion-group/readme.md
  packages/web-components/src/components/ic-accordion-group/test/basic/__snapshots__/ic-accordion-group.spec.ts.snap
  packages/web-components/src/components/ic-accordion-group/test/basic/ic-accordion-group.spec.ts
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(docs): update docs for new accessibleButtonLabel prop on accordion group
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(react): add story for accessible button label slot on ic-accordion-group
  packages/react/src/stories/ic-accordion.stories.jsx
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@40425e5768d047e3787a7f352dccf9b70ccac497 🚀
  branches/feat/750-drawer-component-final/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@40425e5768d047e3787a7f352dccf9b70ccac497 🚀
  branches/feat/750-drawer-component-final/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@40425e5768d047e3787a7f352dccf9b70ccac497 🚀
  branches/feat/750-drawer-component-final/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@75464a48418458f97d483d14140517b2523d55fb 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_16-02-2026_164223.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-react): replace 'manual' with 'controlled' in drawer stories
  packages/canary-react/src/stories/ic-drawer.stories.jsx
Due: none

chore(canary-web-components): replace 'manual' with 'controlled' in drawer stories
  packages/canary-web-components/src/components/ic-drawer/ic-drawer.stories.js
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@2e86ccc0b4f3f32f6efb68ab4beb6aadd6218d87 🚀
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/spellcheck.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelectSearchable.cy.tsx/searchable-descriptions-in-filter-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open-high-contrast.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSearchBar.cy.tsx/spellcheck.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-descriptions-in-filter-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open-high-contrast.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@2e86ccc0b4f3f32f6efb68ab4beb6aadd6218d87 🚀
  branches/666-refactor-branch/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/666-refactor-branch/cypress-image-diff-html-report/report_17-02-2026_101854.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2e86ccc0b4f3f32f6efb68ab4beb6aadd6218d87 🚀
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelect.cy.tsx/dark-theme-validation.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@2e86ccc0b4f3f32f6efb68ab4beb6aadd6218d87 🚀
  branches/666-refactor-branch/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/666-refactor-branch/cypress-image-diff-html-report/report_17-02-2026_110446.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2e86ccc0b4f3f32f6efb68ab4beb6aadd6218d87 🚀
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelect.cy.tsx/dark-theme-validation.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@2e86ccc0b4f3f32f6efb68ab4beb6aadd6218d87 🚀
  branches/666-refactor-branch/cypress-image-diff-html-report/report_17-02-2026_113350.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c0e7872ea3f89bbceda2e46f9e5cf5c06ea6e4fd 🚀
  branches/734-tooltip-icon/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c0e7872ea3f89bbceda2e46f9e5cf5c06ea6e4fd 🚀
  branches/734-tooltip-icon/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d9b9110fcf2d61ca0e6c071db0052f0cb2a6e2da 🚀
  branches/734-tooltip-icon/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d9b9110fcf2d61ca0e6c071db0052f0cb2a6e2da 🚀
  branches/734-tooltip-icon/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f506b92d328f5672b9c25d28c80927cde3bec832 🚀
  branches/734-tooltip-icon/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write
