Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@9a63fa556e689a39ce08da9f6292360c3c0ecea7 🚀
  branches/feature/date-picker2/web-components/6098.367b62da.iframe.bundle.js
  branches/feature/date-picker2/web-components/6098.37b62404.iframe.bundle.js
  branches/feature/date-picker2/web-components/iframe.html
  branches/feature/date-picker2/web-components/project.json
  branches/feature/date-picker2/web-components/runtime~main.5087b452.iframe.bundle.js
  branches/feature/date-picker2/web-components/runtime~main.cba15627.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9a63fa556e689a39ce08da9f6292360c3c0ecea7 🚀
  branches/feature/date-picker2/react/2635.b246262e.iframe.bundle.js
  branches/feature/date-picker2/react/2635.c68f7a91.iframe.bundle.js
  branches/feature/date-picker2/react/iframe.html
  branches/feature/date-picker2/react/project.json
  branches/feature/date-picker2/react/runtime~main.085acd56.iframe.bundle.js
  branches/feature/date-picker2/react/runtime~main.0878c4b0.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(react): adds accordion expanded story
  packages/react/src/stories/ic-accordion.stories.mdx
Due: remark

fix(web-components): fixes accordion expanded
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

test(web-components): adds visual regression tests for accordion
  packages/react/src/stories/ic-accordion.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Expanded.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Expanded.png
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@3827462345af8e629ff4aee599c909d84e9fd9d6 🚀
  branches/feature/1098-build-react-infrastructure/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3827462345af8e629ff4aee599c909d84e9fd9d6 🚀
  branches/feature/1098-build-react-infrastructure/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ceeac25d8d7656d6240cd6db2f285a8b51a63f14 🚀
  branches/develop/7059.5a1ec6bb.iframe.bundle.js
  branches/develop/7059.67e143f2.iframe.bundle.js
  branches/develop/7059.67e143f2.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/main.4527c8dd.iframe.bundle.js
  branches/develop/main.4527c8dd.iframe.bundle.js.LICENSE.txt
  branches/develop/main.6da9a7c3.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.c5d96243.iframe.bundle.js
  branches/develop/runtime~main.dafc069a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@58ddcf04aff411251b3759201a23623b3c571392 🚀
  branches/bugfix/ic-dialog-updates/web-components/2308.b06c2c30.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/2308.b1e5e3d4.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/2308.b1e5e3d4.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/web-components/7059.5a1ec6bb.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/7059.67e143f2.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/7059.67e143f2.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/web-components/iframe.html
  branches/bugfix/ic-dialog-updates/web-components/main.3077c469.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/main.3077c469.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/web-components/main.dcfdd180.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/project.json
  branches/bugfix/ic-dialog-updates/web-components/runtime~main.39d125c9.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/web-components/runtime~main.68ac0714.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@58ddcf04aff411251b3759201a23623b3c571392 🚀
  branches/bugfix/ic-dialog-updates/react/4637.5c77725b.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/4637.a5351d72.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/4637.a5351d72.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/react/8318.525208fc.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/8318.70efa429.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/8318.70efa429.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/react/iframe.html
  branches/bugfix/ic-dialog-updates/react/main.12d20720.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/main.12d20720.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-dialog-updates/react/main.73c70580.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/project.json
  branches/bugfix/ic-dialog-updates/react/runtime~main.0a8ee96f.iframe.bundle.js
  branches/bugfix/ic-dialog-updates/react/runtime~main.f6aa9861.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4e80c38c00ff151a1e1ab097eb3fe8de985b8a2a 🚀
  branches/bugfix/ic-dialog-updates/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4e80c38c00ff151a1e1ab097eb3fe8de985b8a2a 🚀
  branches/bugfix/ic-dialog-updates/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): update docs with setVisible deprecation on toast region
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): deprecate setVisible method on toast region and add openToast prop
  packages/react/src/stories/ic-toast.stories.mdx
Due: remark

feat(web-components): deprecate setVisible method on toast region and add openToast prop
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-toast-region/ic-toast-region.tsx
  packages/web-components/src/components/ic-toast-region/readme.md
  packages/web-components/src/components/ic-toast-region/test/basic/ic-toast-region.spec.ts
  packages/web-components/src/components/ic-toast/ic-toast.stories.mdx
  packages/web-components/src/components/ic-toast/ic-toast.tsx
  packages/web-components/src/components/ic-toast/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@46b229c66d7b441721bfb2751831f1095826598c 🚀
  branches/develop/526.5365eb2d.iframe.bundle.js
  branches/develop/526.5365eb2d.iframe.bundle.js.LICENSE.txt
  branches/develop/526.cccd5432.iframe.bundle.js
  branches/develop/9446.3a96ef99.iframe.bundle.js
  branches/develop/9446.c4d34e05.iframe.bundle.js
  branches/develop/9446.c4d34e05.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/main.0988936b.iframe.bundle.js
  branches/develop/main.0988936b.iframe.bundle.js.LICENSE.txt
  branches/develop/main.4527c8dd.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.dafc069a.iframe.bundle.js
  branches/develop/runtime~main.f8e1c129.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

ci(root): adds react storybook to develop deployment
  .github/workflows/ic-ui-kit-develop.yml
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@84b5bdd268c1ca9f119fe489514a67794f07e82d 🚀
  branches/feature/1098-build-react-infrastructure/web-components/526.5365eb2d.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/web-components/526.5365eb2d.iframe.bundle.js.LICENSE.txt
  branches/feature/1098-build-react-infrastructure/web-components/526.cccd5432.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/web-components/7059.5a1ec6bb.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/web-components/7059.67e143f2.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/web-components/7059.67e143f2.iframe.bundle.js.LICENSE.txt
  branches/feature/1098-build-react-infrastructure/web-components/9446.3a96ef99.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/web-components/9446.c4d34e05.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/web-components/9446.c4d34e05.iframe.bundle.js.LICENSE.txt
  branches/feature/1098-build-react-infrastructure/web-components/iframe.html
  branches/feature/1098-build-react-infrastructure/web-components/main.0988936b.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/web-components/main.0988936b.iframe.bundle.js.LICENSE.txt
  branches/feature/1098-build-react-infrastructure/web-components/main.6da9a7c3.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/web-components/project.json
  branches/feature/1098-build-react-infrastructure/web-components/runtime~main.c5d96243.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/web-components/runtime~main.f8e1c129.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@84b5bdd268c1ca9f119fe489514a67794f07e82d 🚀
  branches/feature/1098-build-react-infrastructure/react/7923.3ee1d764.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/react/7923.3ee1d764.iframe.bundle.js.LICENSE.txt
  branches/feature/1098-build-react-infrastructure/react/7923.59acdf67.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/react/8318.525208fc.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/react/8318.70efa429.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/react/8318.70efa429.iframe.bundle.js.LICENSE.txt
  branches/feature/1098-build-react-infrastructure/react/9354.3319237e.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/react/9354.93c8337b.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/react/9354.93c8337b.iframe.bundle.js.LICENSE.txt
  branches/feature/1098-build-react-infrastructure/react/iframe.html
  branches/feature/1098-build-react-infrastructure/react/main.11363b99.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/react/main.7cd08e23.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/react/main.7cd08e23.iframe.bundle.js.LICENSE.txt
  branches/feature/1098-build-react-infrastructure/react/project.json
  branches/feature/1098-build-react-infrastructure/react/runtime~main.63a32be3.iframe.bundle.js
  branches/feature/1098-build-react-infrastructure/react/runtime~main.7e82287e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add expanded story and visual tests back for side nav
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Side_navigation_Expanded.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Side_navigation_Expanded.png
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
Due: remark

build(react): rebuilding components file
  packages/canary-react/src/components.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(canary-web-components): updated helpers reference
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-data-table-title-bar/ic-data-table-title-bar.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): docs changes for checkbox change
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
