Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@5c14016dd7fe89b8e2a1936e0e20ffb35b9dedbe 🚀
  branches/develop/6663.646a8407.iframe.bundle.js
  branches/develop/6663.646a8407.iframe.bundle.js.LICENSE.txt
  branches/develop/6663.c21eb69e.iframe.bundle.js
  branches/develop/8964.5c50d1b6.iframe.bundle.js
  branches/develop/8964.676aed4d.iframe.bundle.js
  branches/develop/9028.775550bd.iframe.bundle.js
  branches/develop/9028.b370b262.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.1338e2b6.iframe.bundle.js
  branches/develop/main.1338e2b6.iframe.bundle.js.LICENSE.txt
  branches/develop/main.461d67b0.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.38041016.iframe.bundle.js
  branches/develop/runtime~main.c33761d2.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add slotted svg component to react library
  packages/react/src/index.ts
  packages/react/src/react-component-lib/slottedSVG.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@737af577633da55aec8edf18cf40f92234833c96 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9b83060da21617343a60945e39a22cd021fa41ab 🚀
  branches/20-investigate-role-on-status-tags/9703.1efbe700.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/9703.23801044.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/iframe.html
  branches/20-investigate-role-on-status-tags/main.8cd79f16.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/main.9fcde7b5.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/main.9fcde7b5.iframe.bundle.js.LICENSE.txt
  branches/20-investigate-role-on-status-tags/project.json
  branches/20-investigate-role-on-status-tags/runtime~main.d004d4f7.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/runtime~main.e73a0f02.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c1ceaa9b582e35b543b5c429d02ef8ce062d6dad 🚀
  branches/20-investigate-role-on-status-tags/2679.0b87aa14.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/2679.533c5da1.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/2679.533c5da1.iframe.bundle.js.LICENSE.txt
  branches/20-investigate-role-on-status-tags/3140.afe6b245.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/3140.c8409ead.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/504.4248f1e6.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/504.4248f1e6.iframe.bundle.js.LICENSE.txt
  branches/20-investigate-role-on-status-tags/504.ee54f07d.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/6663.5559bb49.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/6663.5559bb49.iframe.bundle.js.LICENSE.txt
  branches/20-investigate-role-on-status-tags/6663.d803ecb3.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/6664.678c12c1.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/6664.db6582a2.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/7420.c87e741f.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/7420.d4d811c7.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/7420.d4d811c7.iframe.bundle.js.LICENSE.txt
  branches/20-investigate-role-on-status-tags/7733.8ba33c8d.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/7733.8ba33c8d.iframe.bundle.js.LICENSE.txt
  branches/20-investigate-role-on-status-tags/7733.a4325e7c.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/iframe.html
  branches/20-investigate-role-on-status-tags/main.9fcde7b5.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/main.d460b3d3.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/main.d460b3d3.iframe.bundle.js.LICENSE.txt
  branches/20-investigate-role-on-status-tags/project.json
  branches/20-investigate-role-on-status-tags/runtime~main.77b57162.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/runtime~main.e73a0f02.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5870daeb901bf30038c03b5ae8d83a020efe4b92 🚀
  branches/toast-component/5129.4c2d272f.iframe.bundle.js
  branches/toast-component/5129.8a18d729.iframe.bundle.js
  branches/toast-component/9446.2bc0e47b.iframe.bundle.js
  branches/toast-component/iframe.html
  branches/toast-component/main.2e4f1e17.iframe.bundle.js
  branches/toast-component/main.8d7226b9.iframe.bundle.js
  branches/toast-component/main.8d7226b9.iframe.bundle.js.LICENSE.txt
  branches/toast-component/project.json
  branches/toast-component/runtime~main.4041bbb4.iframe.bundle.js
  branches/toast-component/runtime~main.6aeae322.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@50f8e4ddef3c03d1486556ca60b98e914c109cd7 🚀
  branches/20-investigate-role-on-status-tags/iframe.html
  branches/20-investigate-role-on-status-tags/main.757e1138.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/main.757e1138.iframe.bundle.js.LICENSE.txt
  branches/20-investigate-role-on-status-tags/main.d460b3d3.iframe.bundle.js
  branches/20-investigate-role-on-status-tags/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(docs): removes last updated date
  packages/docs/README.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@7d32aeb414489f79eb7bb5359c435c5488c7d0ef 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@bcd623bfc483d3f610e556cca8ace0c11b0f9efd 🚀
  branches/a11y/245-card-v2/5696.87849f8a.iframe.bundle.js
  branches/a11y/245-card-v2/5696.f1598445.iframe.bundle.js
  branches/a11y/245-card-v2/iframe.html
  branches/a11y/245-card-v2/project.json
  branches/a11y/245-card-v2/runtime~main.1ad8996f.iframe.bundle.js
  branches/a11y/245-card-v2/runtime~main.285d2da1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e17a84fffaf14349e98da2691984b459b5e25c19 🚀
  branches/a11y/245-card-v2/5696.60d67c99.iframe.bundle.js
  branches/a11y/245-card-v2/5696.f1598445.iframe.bundle.js
  branches/a11y/245-card-v2/iframe.html
  branches/a11y/245-card-v2/main.045cde88.iframe.bundle.js
  branches/a11y/245-card-v2/main.0bae1e23.iframe.bundle.js
  branches/a11y/245-card-v2/main.0bae1e23.iframe.bundle.js.LICENSE.txt
  branches/a11y/245-card-v2/project.json
  branches/a11y/245-card-v2/runtime~main.1ad8996f.iframe.bundle.js
  branches/a11y/245-card-v2/runtime~main.6685c85b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): update menu to be >= so that select is scrollable
  packages/web-components/src/components/ic-menu/ic-menu.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

refactor(web-components): update events to more consistent names
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-alert/ic-alert.tsx
  packages/web-components/src/components/ic-alert/readme.md
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/components/ic-input-component-container/readme.md
  packages/web-components/src/components/ic-radio-group/ic-radio-group.e2e.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.spec.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.tsx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-radio-option/readme.md
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-side-navigation/readme.md
  packages/web-components/src/components/ic-tab-context/ic-tab-context.e2e.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-context/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): enhance functionality of step component
  package-lock.json
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_breadcrumbs_input_actions_and_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_input_actions_and_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_input_actions_and_tabs.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_Custom_connector_width.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_Custom_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_Left_aligned_stepper.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_With_hidden_step_information.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Stepper_Without_step_titles.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_input_actions_and_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_input_actions_and_tabs.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Stepper_Custom_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Stepper_Full_width_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Stepper_Left_aligned_stepper.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Stepper_With_hidden_step_information.png
  packages/web-components/package-lock.json
  packages/web-components/src/assets/warning-icon-outline.svg
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-page-header/ic-page-header.stories.mdx
  packages/web-components/src/components/ic-step/__snapshots__/ic-step.spec.ts.snap
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/components/ic-step/ic-step.spec.ts
  packages/web-components/src/components/ic-step/ic-step.tsx
  packages/web-components/src/components/ic-step/ic-step.types.ts
  packages/web-components/src/components/ic-step/readme.md
  packages/web-components/src/components/ic-stepper/__snapshots__/ic-stepper.spec.ts.snap
  packages/web-components/src/components/ic-stepper/ic-stepper-test-examples.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.css
  packages/web-components/src/components/ic-stepper/ic-stepper.e2e.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.spec.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.stories.mdx
  packages/web-components/src/components/ic-stepper/ic-stepper.test.a11y.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.tsx
  packages/web-components/src/components/ic-stepper/readme.md
  packages/web-components/src/testspec.setup.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): add aria-hidden to tooltip span
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-footer/ic-footer.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add chips stories
  packages/react/src/components.ts
  packages/react/src/stories/ic-chip.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): fix alignment of text fields in data entity, update storybook examples
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Adornment.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Editable_example.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Icon_button.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Link.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Long_text_values.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Small.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Data_entity_Status_tag.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Adornment.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Editable_example.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Icon_button.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Link.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Long_text_values.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Status_tag.png
  packages/web-components/src/components/ic-data-entity/ic-data-entity.stories.mdx
  packages/web-components/src/components/ic-data-row/ic-data-row.css
  packages/web-components/src/components/ic-search-bar/__snapshots__/ic-search-bar.spec.ts.snap
  packages/web-components/src/components/ic-text-field/__snapshots__/ic-text-field.input.spec.tsx.snap
  packages/web-components/src/components/ic-text-field/ic-text-field.textarea.spec.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

refactor(web-components): update event names to improve consistency
  CONTRIBUTING.md
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-divider/ic-divider.tsx
  packages/web-components/src/components/ic-footer-link-group/ic-footer-link-group.tsx
  packages/web-components/src/components/ic-footer-link/ic-footer-link.tsx
  packages/web-components/src/components/ic-footer/ic-footer.tsx
  packages/web-components/src/components/ic-footer/readme.md
  packages/web-components/src/components/ic-hero/ic-hero.tsx
  packages/web-components/src/components/ic-link/ic-link.tsx
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/readme.md
  packages/web-components/src/components/ic-navigation-button/ic-navigation-button.tsx
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-tab/readme.md
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/components/ic-theme/ic-theme.e2e.ts
  packages/web-components/src/components/ic-theme/ic-theme.tsx
  packages/web-components/src/components/ic-theme/readme.md
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(react): change buttons in editable data entity story
  packages/react/src/stories/ic-data-entity.stories.mdx
Due: remark

feat(react): update loading indicator & stepper stories
  package-lock.json
  packages/react/package-lock.json
  packages/react/src/stories/ic-loading-indicator.stories.mdx
  packages/react/src/stories/ic-page-header.stories.mdx
  packages/react/src/stories/ic-stepper.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(web-components): update props/slots/events descriptions to improve consistency
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-footer/ic-footer.tsx
  packages/web-components/src/components/ic-loading-indicator/readme.md
  packages/web-components/src/components/ic-select/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): add inner label into loading indicator so it can be used by the compact step
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.stories.mdx
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-loading-indicator/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): update tooltips to have disableHover prop that requires a click to display
  packages/react/src/stories/ic-tooltip.stories.mdx
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(web-components): regenerated readme files
  packages/web-components/src/components/ic-input-component-container/readme.md
  packages/web-components/src/components/ic-loading-indicator/readme.md
  packages/web-components/src/components/ic-select/readme.md
Due: remark

feat(web-components): update tooltip to have disableHover prop that shows tooltip on click
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Disabled_Hover.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Disabled_Hover.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.spec.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.stories.mdx
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-component): implement chip component
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Dismissible.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Outline.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Static.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_Without_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Dismissible.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Outline.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Static.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Without_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_Small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Helper_text.png
  packages/web-components/src/assets/dismiss-icon.svg
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.spec.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-chip/__snapshots__/ic-chip.spec.ts.snap
  packages/web-components/src/components/ic-chip/ic-chip.css
  packages/web-components/src/components/ic-chip/ic-chip.spec.ts
  packages/web-components/src/components/ic-chip/ic-chip.stories.mdx
  packages/web-components/src/components/ic-chip/ic-chip.test.a11y.ts
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-chip/ic-chip.types.ts
  packages/web-components/src/components/ic-chip/readme.md
  packages/web-components/src/components/ic-hero/ic-hero.stories.mdx
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-search-bar/ic-search-bar.spec.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.css
  packages/web-components/src/components/ic-tooltip/readme.md
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(web-components): regenerated ic-text-field README file
  packages/web-components/src/components/ic-text-field/readme.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@5ec30b7b14a97abcc074da927be5a76a04243d4a 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
