Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(canary-web-components): updating github markdown css file
  packages/canary-web-components/.storybook/addon-tab/github-markdown.css
  packages/canary-web-components/.storybook/addon-tab/register.js
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(canary-react): updated github-markdown-css reference
  packages/canary-react/.storybook/addon-tab/github-markdown.css
  packages/canary-react/.storybook/addon-tab/register.js
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@2436b0e6590c5311eb451cc8afd26d19e137a842 🚀
  branches/canary/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2436b0e6590c5311eb451cc8afd26d19e137a842 🚀
  branches/canary/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2436b0e6590c5311eb451cc8afd26d19e137a842 🚀
  branches/canary/develop/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2436b0e6590c5311eb451cc8afd26d19e137a842 🚀
  branches/canary/develop/canary-react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0bece258b73044413660c2e74eda8e0c3b914c86 🚀
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-custom-message.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-error.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-info.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-neutral.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-responsive.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-success.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-title-displayed.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-warning.png
  branches/1301/alert-cypress/cypress-screenshots/IcAlert.cy.tsx-with-action.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@3b73a148dbf0d9fe5d743b7759885c29aff39a95 🚀
  branches/bugfix/ic-select-loses-focus-fix/web-components/2679.3c96137c.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/web-components/2679.87bfc55f.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/web-components/2679.87bfc55f.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-select-loses-focus-fix/web-components/iframe.html
  branches/bugfix/ic-select-loses-focus-fix/web-components/project.json
  branches/bugfix/ic-select-loses-focus-fix/web-components/runtime~main.11bc0b7e.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/web-components/runtime~main.b25b29a2.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3b73a148dbf0d9fe5d743b7759885c29aff39a95 🚀
  branches/bugfix/ic-select-loses-focus-fix/react/9257.2657724b.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/react/9257.476c1869.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/react/9257.476c1869.iframe.bundle.js.LICENSE.txt
  branches/bugfix/ic-select-loses-focus-fix/react/iframe.html
  branches/bugfix/ic-select-loses-focus-fix/react/project.json
  branches/bugfix/ic-select-loses-focus-fix/react/runtime~main.18b6e9be.iframe.bundle.js
  branches/bugfix/ic-select-loses-focus-fix/react/runtime~main.aa71f12b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

ci(root): updating ci command
  .github/workflows/ic-ui-kit-branches.yml
  .github/workflows/ic-ui-kit-canary-branches.yml
  .github/workflows/ic-ui-kit-develop.yml
  .github/workflows/ic-ui-kit-main.yml
  .gitignore
  package.json
  packages/canary-web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): updated web-components to include props required for canary components
  packages/canary-web-components/www/assets/OpenInNew.svg
  packages/canary-web-components/www/assets/back-icon.svg
  packages/canary-web-components/www/assets/check-icon.svg
  packages/canary-web-components/www/assets/chevron-icon.svg
  packages/canary-web-components/www/assets/clear-icon.svg
  packages/canary-web-components/www/assets/close-icon.svg
  packages/canary-web-components/www/assets/dismiss-icon.svg
  packages/canary-web-components/www/assets/error-icon.svg
  packages/canary-web-components/www/assets/hamburger-menu-icon.svg
  packages/canary-web-components/www/assets/info-icon.svg
  packages/canary-web-components/www/assets/neutral-icon.svg
  packages/canary-web-components/www/assets/pagination-first-last.svg
  packages/canary-web-components/www/assets/pagination-next-previous.svg
  packages/canary-web-components/www/assets/search-icon.svg
  packages/canary-web-components/www/assets/success-icon.svg
  packages/canary-web-components/www/assets/warning-icon-outline.svg
  packages/canary-web-components/www/assets/warning-icon.svg
  packages/canary-web-components/www/host.config.json
  packages/canary-web-components/www/index.html
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): updated github actions
  .github/workflows/ic-ui-kit-canary-branches.yml
  .github/workflows/ic-ui-kit-main.yml
  lerna.json
  package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(react): moved fonts package to peer deps
  packages/react/.storybook/preview.js
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/public/favicon.png
  packages/react/public/favicon.svg
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(canary-react): initial canary-react package integration
  packages/canary-react/.gitignore
  packages/canary-react/.storybook/addon-tab/register.js
  packages/canary-react/.storybook/main.js
  packages/canary-react/.storybook/preview-head.html
  packages/canary-react/.storybook/preview.js
  packages/canary-react/CHANGELOG.md
  packages/canary-react/LICENSE
  packages/canary-react/README.md
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-react/src/components.ts
  packages/canary-react/src/getting-started.stories.mdx
  packages/canary-react/src/index.ts
  packages/canary-react/src/react-component-lib/createComponent.tsx
  packages/canary-react/src/react-component-lib/createOverlayComponent.tsx
  packages/canary-react/src/react-component-lib/index.ts
  packages/canary-react/src/react-component-lib/interfaces.ts
  packages/canary-react/src/react-component-lib/utils/attachProps.ts
  packages/canary-react/src/react-component-lib/utils/case.ts
  packages/canary-react/src/react-component-lib/utils/dev.ts
  packages/canary-react/src/react-component-lib/utils/index.tsx
  packages/canary-react/src/stories/ic-data-table.stories.mdx
  packages/canary-react/tsconfig.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@daaee4f04dafe4703dc311a3e3cfe8110165a62c 🚀
  branches/develop/react/1642.34418332.iframe.bundle.js
  branches/develop/react/1642.34418332.iframe.bundle.js.LICENSE.txt
  branches/develop/react/1642.cabc244e.iframe.bundle.js
  branches/develop/react/2931.667b3a53.iframe.bundle.js
  branches/develop/react/2931.667b3a53.iframe.bundle.js.LICENSE.txt
  branches/develop/react/5850.03589f64.iframe.bundle.js
  branches/develop/react/5850.57fb8671.iframe.bundle.js
  branches/develop/react/5850.57fb8671.iframe.bundle.js.LICENSE.txt
  branches/develop/react/8645.6ac9940a.iframe.bundle.js
  branches/develop/react/favicon.png
  branches/develop/react/favicon.svg
  branches/develop/react/iframe.html
  branches/develop/react/main.177d6ece.iframe.bundle.js
  branches/develop/react/main.3a69bb60.iframe.bundle.js
  branches/develop/react/main.3a69bb60.iframe.bundle.js.LICENSE.txt
  branches/develop/react/project.json
  branches/develop/react/runtime~main.03ea8095.iframe.bundle.js
  branches/develop/react/runtime~main.81b13e40.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0198ab4f8ae7dc1c48b2e863bfb793d40866bf63 🚀
  branches/1368-accordian-cypress/cypress-screenshots/IcAccordion.cy.tsx-groupSizes.png
  branches/1368-accordian-cypress/cypress-screenshots/IcAccordion.cy.tsx-groupTitle.png
  branches/1368-accordian-cypress/cypress-screenshots/IcAccordion.cy.tsx-lightGroupTheme.png
  branches/1368-accordian-cypress/cypress-screenshots/IcAccordion.cy.tsx-withChildren.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@ed4d6ff6175ef63e27e57d097664e1232bd3872e 🚀
  branches/canary/257-multi-select-rebased-2/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ed4d6ff6175ef63e27e57d097664e1232bd3872e 🚀
  branches/canary/257-multi-select-rebased-2/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ed4d6ff6175ef63e27e57d097664e1232bd3872e 🚀
  branches/canary/257-multi-select-rebased-2/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ed4d6ff6175ef63e27e57d097664e1232bd3872e 🚀
  branches/canary/257-multi-select-rebased-2/canary-react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

ci(root): updating a11y build steps
  .github/workflows/ic-ui-kit-branches.yml
  .github/workflows/ic-ui-kit-develop.yml
  .github/workflows/ic-ui-kit-main.yml
  package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
