Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@df617eefedcc5870eeb7e6e0d351b83c841fa506 🚀
  branches/4238-lang-attribute-input-label/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ffc0d4ec309c6e6d7522d5a09ecf70c24677ca89 🚀
  branches/feat/750-drawer-component-final/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/long-content-with-icon-and-buttons.png
  branches/feat/750-drawer-component-final/cypress-image-diff-screenshots/baseline/IcDrawer.cy.tsx/long-content.png
  branches/feat/750-drawer-component-final/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/dark-mode-loading.png
  branches/feat/750-drawer-component-final/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/density-dense-dropdown.png
  branches/feat/750-drawer-component-final/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/controlled-trigger-expanded.png
  branches/feat/750-drawer-component-final/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/large-bottom.png
  branches/feat/750-drawer-component-final/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/large-right.png
  branches/feat/750-drawer-component-final/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/top-expanded.png
  branches/feat/750-drawer-component-final/cypress-image-diff-screenshots/diff/IcDrawer.cy.tsx/controlled-trigger-expanded.png
  branches/feat/750-drawer-component-final/cypress-image-diff-screenshots/diff/IcDrawer.cy.tsx/long-content-with-icon-and-buttons.png
  branches/feat/750-drawer-component-final/cypress-image-diff-screenshots/diff/IcDrawer.cy.tsx/long-content.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@ffc0d4ec309c6e6d7522d5a09ecf70c24677ca89 🚀
  branches/feat/750-drawer-component-final/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/feat/750-drawer-component-final/cypress-image-diff-html-report/report_11-02-2026_143835.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0e8685b189ca949fce56821a0343aff276fd7fc7 🚀
  branches/734-tooltip-icon/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/734-tooltip-icon/cypress-image-diff-html-report/report_11-02-2026_141858.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1b133cf26afc7cdec95986d0fb5a5de311591430 🚀
  branches/666-refactor-branch/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1b133cf26afc7cdec95986d0fb5a5de311591430 🚀
  branches/666-refactor-branch/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1b133cf26afc7cdec95986d0fb5a5de311591430 🚀
  branches/666-refactor-branch/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1b133cf26afc7cdec95986d0fb5a5de311591430 🚀
  branches/666-refactor-branch/canary-react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b983de76a5adaaae65b0423041a7c3bd7839a416 🚀
  branches/feat/750-drawer-component-final/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b983de76a5adaaae65b0423041a7c3bd7839a416 🚀
  branches/feat/750-drawer-component-final/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): write a script to update the readme files to include both core and canary info
  package.json
  scripts/combine-canary-core-readme.js
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(web-components): update readme files after running the new script
  packages/web-components/src/components/ic-badge/readme.md
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/components/ic-chip/readme.md
  packages/web-components/src/components/ic-empty-state/readme.md
  packages/web-components/src/components/ic-input-component-container/readme.md
  packages/web-components/src/components/ic-input-container/readme.md
  packages/web-components/src/components/ic-input-label/readme.md
  packages/web-components/src/components/ic-input-validation/readme.md
  packages/web-components/src/components/ic-link/readme.md
  packages/web-components/src/components/ic-loading-indicator/readme.md
  packages/web-components/src/components/ic-menu/readme.md
  packages/web-components/src/components/ic-navigation-item/readme.md
  packages/web-components/src/components/ic-page-header/readme.md
  packages/web-components/src/components/ic-pagination/readme.md
  packages/web-components/src/components/ic-section-container/readme.md
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/components/ic-skip-link/readme.md
  packages/web-components/src/components/ic-status-tag/readme.md
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/components/ic-toggle-button-group/readme.md
  packages/web-components/src/components/ic-toggle-button/readme.md
  packages/web-components/src/components/ic-tooltip/readme.md
  packages/web-components/src/components/ic-top-navigation/readme.md
  packages/web-components/src/components/ic-typography/readme.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@b9cde7f97a9b034dd030c2a4e53654077f08769c 🚀
  branches/4251-readme-files-being-regenerated-differently-on-builds/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b9cde7f97a9b034dd030c2a4e53654077f08769c 🚀
  branches/4251-readme-files-being-regenerated-differently-on-builds/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e36587607e4873097b6828e64c19027335bbd565 🚀
  branches/666-refactor-branch/cypress-image-diff-screenshots/baseline/IcSearchBar.cy.tsx/options-no-filtering-high-contrast.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/focused-destructive.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSearchBar.cy.tsx/options-no-filtering-high-contrast.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelect.cy.tsx/dark-theme-with-value.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@e36587607e4873097b6828e64c19027335bbd565 🚀
  branches/666-refactor-branch/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/666-refactor-branch/cypress-image-diff-html-report/report_12-02-2026_104942.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f21b83f0d616f45a3b560fce3be7e33a7f44c0c5 🚀
  branches/feat/750-drawer-component-final/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f21b83f0d616f45a3b560fce3be7e33a7f44c0c5 🚀
  branches/feat/750-drawer-component-final/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0bc6af9698ffe3a5eeccf5c6f9b30ed6537a20c5 🚀
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelect.cy.tsx/dark-theme-validation.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelect.cy.tsx/dark-theme-with-value.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@0bc6af9698ffe3a5eeccf5c6f9b30ed6537a20c5 🚀
  branches/666-refactor-branch/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/666-refactor-branch/cypress-image-diff-html-report/report_12-02-2026_113301.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b9bea1a1985684830b617d22f3b7da373c8cd8e7 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/focused-destructive.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/full-width-open-selected.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelectSearchable.cy.tsx/searchable-search-match-position-open.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-navigation-items.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-search-match-position-open.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcTopNavigation.cy.tsx/mobile-navigation-items.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@b9bea1a1985684830b617d22f3b7da373c8cd8e7 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_12-02-2026_115017.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0bc6af9698ffe3a5eeccf5c6f9b30ed6537a20c5 🚀
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/spellcheck.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelectSearchable.cy.tsx/searchable-descriptions-in-filter-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open-high-contrast.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSearchBar.cy.tsx/spellcheck.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelect.cy.tsx/dark-theme-validation.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-descriptions-in-filter-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open-high-contrast.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@0bc6af9698ffe3a5eeccf5c6f9b30ed6537a20c5 🚀
  branches/666-refactor-branch/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/666-refactor-branch/cypress-image-diff-html-report/report_12-02-2026_134915.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(canary-docs): docs changed for ic-time-input date removal
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(canary-react): updates tests to meet passing thresholds
  packages/canary-react/src/component-tests/IcTimeInput/IcTimeInput.cy.tsx
  packages/canary-react/src/stories/ic-time-input.stories.jsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(canary-web-components): replaces the date object with a string to display only the time
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-time-input/ic-time-input.stories.js
  packages/canary-web-components/src/components/ic-time-input/ic-time-input.tsx
  packages/canary-web-components/src/components/ic-time-input/readme.md
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@c783f1f6703c6539709cad5028a544dc21f52955 🚀
  branches/3873-ic-time-input---ic-change-event-detail-includes-current-date/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c783f1f6703c6539709cad5028a544dc21f52955 🚀
  branches/3873-ic-time-input---ic-change-event-detail-includes-current-date/canary-react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts": any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
