Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(root): fix eslint in pre-commit hook
  .lintstagedrc.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(canary-docs): adds fullWidth prop to ic-chip docs
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(canary-web-components): adds fullWidth prop to ic-chip
  packages/canary-web-components/src/components.d.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(docs): add fullWidth prop to ic-chip
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(react): update storybook and tests for ic-chip
  packages/react/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/full-width.png
  packages/react/src/component-tests/IcChip/IcChip.cy.tsx
  packages/react/src/component-tests/IcChip/IcChipTestData.tsx
  packages/react/src/stories/ic-chip.stories.jsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): update ic-chip to fit to content, and add fullWidth prop
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-chip/ic-chip.css
  packages/web-components/src/components/ic-chip/ic-chip.stories.js
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-chip/readme.md
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@c89eaee15d54a70327cb675bb2023a6d033f3b47 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c89eaee15d54a70327cb675bb2023a6d033f3b47 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c89eaee15d54a70327cb675bb2023a6d033f3b47 🚀
  branches/canary/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c89eaee15d54a70327cb675bb2023a6d033f3b47 🚀
  branches/canary/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@378f576d7d1f5fe3c23530b44734a8ef36503de6 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/baseline/IcChip.cy.tsx/full-width.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/baseline/IcDataList.cy.tsx/no-heading.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/baseline/IcTextField.cy.tsx/validation-text-slot.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/focused-destructive.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcChip.cy.tsx/full-width.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcDataList.cy.tsx/no-heading.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcNavigationMenu.cy.tsx/theme-dark-top-nav.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcNavigationMenu.cy.tsx/with-expandable-nav-groups-top-nav.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/full-width-open-selected.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTextField.cy.tsx/validation-text-slot.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTheme.cy.tsx/ic-theme-system-light.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-content-centre.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-icon-buttons-dark.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-navigation-group.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-theme-dark.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcNavigationMenu.cy.tsx/theme-dark-top-nav.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcNavigationMenu.cy.tsx/with-expandable-nav-groups-top-nav.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcTheme.cy.tsx/ic-theme-system-light.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcTopNavigation.cy.tsx/mobile-content-centre.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcTopNavigation.cy.tsx/mobile-navigation-group.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcTopNavigation.cy.tsx/mobile-theme-dark.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@378f576d7d1f5fe3c23530b44734a8ef36503de6 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_03-02-2026_115321.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7c99ac61a7919cfea51088bc403d3abdd16ede91 🚀
  branches/666-refactor-branch/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/666-refactor-branch/cypress-image-diff-html-report/report_03-02-2026_162511.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b24b3b386b5ddb79ad96a009cefd5ba1968cea52 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcNavigationMenu.cy.tsx/with-expandable-nav-groups-top-nav.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcNavigationMenu.cy.tsx/with-nav-groups-top-nav.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/loading-error-dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTheme.cy.tsx/ic-theme-system-light.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/brand.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-icon-buttons-dark.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-icon-buttons.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text-open.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-navigation-group.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-slotted-navigation-items.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcAlert.cy.tsx/dismissible-focussed.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcNavigationMenu.cy.tsx/with-expandable-nav-groups-top-nav.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcNavigationMenu.cy.tsx/with-nav-groups-top-nav.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcTheme.cy.tsx/ic-theme-system-light.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcTopNavigation.cy.tsx/brand.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcTopNavigation.cy.tsx/mobile-icon-buttons.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcTopNavigation.cy.tsx/mobile-long-text-open.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcTopNavigation.cy.tsx/mobile-navigation-group.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcTopNavigation.cy.tsx/mobile-slotted-navigation-items.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@b24b3b386b5ddb79ad96a009cefd5ba1968cea52 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_03-02-2026_161701.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): upgrade dependency to remove vulnerability
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(nextjs): upgrade dependency to remove vulnerability
  packages/nextjs/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-react): upgrade dependency to remove vulnerability
  packages/canary-react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0db58b048eb7de9c5ca14a4d4dfd628de9570e45 🚀
  branches/666-refactor-branch/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/descriptions-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/groups-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/baseline/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open-high-contrast.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/baseline/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/baseline/IcSelectSearchable.cy.tsx/searchable-groups-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAccordion.cy.tsx/focused.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open-high-contrast.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-groups-in-filter-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/diff/IcSelectSearchable.cy.tsx/searchable-groups-open.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@0db58b048eb7de9c5ca14a4d4dfd628de9570e45 🚀
  branches/666-refactor-branch/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/666-refactor-branch/cypress-image-diff-html-report/report_04-02-2026_115810.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0db58b048eb7de9c5ca14a4d4dfd628de9570e45 🚀
  branches/666-refactor-branch/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/disabled-options-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/baseline/IcSelect.cy.tsx/recommended-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAccordion.cy.tsx/focused.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/666-refactor-branch/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@0db58b048eb7de9c5ca14a4d4dfd628de9570e45 🚀
  branches/666-refactor-branch/cypress-image-diff-html-report/report_04-02-2026_130309.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@71648ff0dbd211cee45e6311a16c29aa45abd278 🚀
  branches/3873-ic-time-input---ic-change-event-detail-includes-current-date/canary-web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@71648ff0dbd211cee45e6311a16c29aa45abd278 🚀
  branches/3873-ic-time-input---ic-change-event-detail-includes-current-date/canary-react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(web-components): update used by dependencies in web component READMEs
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/components/ic-empty-state/readme.md
  packages/web-components/src/components/ic-input-component-container/readme.md
  packages/web-components/src/components/ic-input-container/readme.md
  packages/web-components/src/components/ic-input-label/readme.md
  packages/web-components/src/components/ic-input-validation/readme.md
  packages/web-components/src/components/ic-link/readme.md
  packages/web-components/src/components/ic-loading-indicator/readme.md
  packages/web-components/src/components/ic-menu/readme.md
  packages/web-components/src/components/ic-page-header/readme.md
  packages/web-components/src/components/ic-pagination/readme.md
  packages/web-components/src/components/ic-section-container/readme.md
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/components/ic-toggle-button-group/readme.md
  packages/web-components/src/components/ic-toggle-button/readme.md
  packages/web-components/src/components/ic-tooltip/readme.md
  packages/web-components/src/components/ic-top-navigation/readme.md
  packages/web-components/src/components/ic-typography/readme.md
Due: remark

Path conditions:
  eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts": any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
