Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@c9456290bcdfd9a8811fc4e08035200302b441a0 🚀
  branches/develop/7733.78d08fe6.iframe.bundle.js
  branches/develop/7733.78d08fe6.iframe.bundle.js.LICENSE.txt
  branches/develop/7733.e93fad75.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/project.json
  branches/develop/runtime~main.006696de.iframe.bundle.js
  branches/develop/runtime~main.e41cef50.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b4b9f4d54de59d6890e3baadaebfb0fd6431cc42 🚀
  branches/268-search-select-loading-states/web-components/6663.73a1e5fc.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/6663.fe5cbe84.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/6663.fe5cbe84.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/7733.28b55b7f.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/7733.39d502d7.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/7733.39d502d7.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/iframe.html
  branches/268-search-select-loading-states/web-components/main.62ea9dd0.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/main.62ea9dd0.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/web-components/main.74049ef4.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/project.json
  branches/268-search-select-loading-states/web-components/runtime~main.1c10bea6.iframe.bundle.js
  branches/268-search-select-loading-states/web-components/runtime~main.49c07ac3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@b4b9f4d54de59d6890e3baadaebfb0fd6431cc42 🚀
  branches/268-search-select-loading-states/react/1642.5b6988c2.iframe.bundle.js
  branches/268-search-select-loading-states/react/1642.e22c2b74.iframe.bundle.js
  branches/268-search-select-loading-states/react/1642.e22c2b74.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/6225.00c7223a.iframe.bundle.js
  branches/268-search-select-loading-states/react/6225.00c7223a.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/6225.27ecaac2.iframe.bundle.js
  branches/268-search-select-loading-states/react/iframe.html
  branches/268-search-select-loading-states/react/main.7333bd03.iframe.bundle.js
  branches/268-search-select-loading-states/react/main.7333bd03.iframe.bundle.js.LICENSE.txt
  branches/268-search-select-loading-states/react/main.88e250a7.iframe.bundle.js
  branches/268-search-select-loading-states/react/project.json
  branches/268-search-select-loading-states/react/runtime~main.2d2c4265.iframe.bundle.js
  branches/268-search-select-loading-states/react/runtime~main.8990abc5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@7f4df867c0813b53f716409ded5249f50549ab77 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@40b5ee4a8ce3b925d43fa92650d7eabfc948c6b4 🚀
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/6512.457530b0.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/6663.7fc39eda.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/6663.e7652f2b.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/6663.e7652f2b.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/7959.0055d6cb.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/7959.21e78c71.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/8753.271b90f8.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/8753.271b90f8.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/939.3a948ee9.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/9446.438aa394.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/9446.7078993a.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/9446.7078993a.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/iframe.html
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.567a4737.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.567a4737.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.a14bfbfc.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/project.json
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/runtime~main.bf257c9a.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/runtime~main.d4cba4e0.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@40b5ee4a8ce3b925d43fa92650d7eabfc948c6b4 🚀
  branches/345-add-see-more-truncation-pattern-for-typography/react/1642.971c4319.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/1642.971c4319.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/react/1642.d0a55a54.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/2130.d94ff756.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/230.ce4f9690.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/230.dddbd443.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/530.d8a69c89.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/530.d8a69c89.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/react/5907.06e908ff.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/9354.b8eaaab8.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/9354.e055bf15.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/9354.e055bf15.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/react/iframe.html
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.c551ffcd.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.c551ffcd.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.ec2b4f6a.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/project.json
  branches/345-add-see-more-truncation-pattern-for-typography/react/runtime~main.1837f3e3.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/runtime~main.6a64533a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(react): updated package.lock file
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

ci(root): automate release check, develop -> main PR and starting design system workflow
  .github/workflows/ic-ui-kit-main.yml
  .github/workflows/ic-ui-kit-release.yml
Due: none

fix(web-components): updated alert.css file
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_Dismissible_with_action.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Alert_With_action.png
  packages/web-components/src/components/ic-alert/ic-alert.css
Due: stylelint --fix

fix(web-components): added functionality to link tabs when added programatically
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.spec.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-tab-panel/readme.md
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-tab/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

ci(root): added condition to feature branch CI
  .github/workflows/ic-ui-kit-branches.yml
Due: none

fix(web-components): added functionality to deal with tab/tab panels which have been removed
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.e2e.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.spec.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-tab-panel/readme.md
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-tab/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): removed negative left margin in app title container
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_no_parallax_effect.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_With_background_image_parallax_effect.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_App_icon_and_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Content_left_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Long_app_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Long_single_word_app_title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Status_and_version.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_grouped_navigation.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_icons.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_navigation.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_With_search.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_With_background_image_no_parallax_effect.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_With_background_image_parallax_effect.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_App_icon_and_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Content_left_aligned.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Long_app_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Long_single_word_app_title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Status_and_version.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_grouped_navigation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_navigation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_search.png
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

fix(web-components): add flex-wrap CSS styling to interaction controls slot in ic-card
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Expandable.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Interaction_controls.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Reduced_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Expandable.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Interaction_controls.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Reduced_width.png
  packages/web-components/src/components/ic-card/__snapshots__/ic-card.spec.ts.snap
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-card/ic-card.stories.mdx
  packages/web-components/src/components/ic-card/ic-card.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): fixed boolean css properties
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-checkbox-group/__snapshots__/ic-checkbox-group.spec.ts.snap
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.css
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-checkbox/readme.md
  packages/web-components/src/components/ic-hero/__snapshots__/ic-hero.spec.ts.snap
  packages/web-components/src/components/ic-hero/ic-hero.css
  packages/web-components/src/components/ic-hero/ic-hero.tsx
  packages/web-components/src/components/ic-horizontal-scroll/ic-horizontal-scroll.css
  packages/web-components/src/components/ic-loading-indicator/__snapshots__/ic-loading-indicator.spec.ts.snap
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.css
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
  packages/web-components/src/components/ic-radio-group/__snapshots__/ic-radio-group.spec.ts.snap
  packages/web-components/src/components/ic-radio-group/ic-radio-group.css
  packages/web-components/src/components/ic-radio-group/ic-radio-group.tsx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-tab-group/ic-tab-group.css
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.css
  packages/web-components/src/components/ic-tab/ic-tab.css
  packages/web-components/src/components/ic-tab/ic-tab.spec.ts
  packages/web-components/src/components/ic-tab/ic-tab.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

build(react): update package-lock.json following a new release of ICDS components
  packages/react/src/stories/ic-card.stories.mdx
Due: remark

fix(web-components): updated tabs to pass down context-id
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tabs_Nested_tabs.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tabs_Nested_tabs.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tab-context/__snapshots__/ic-tab-context.spec.ts.snap
  packages/web-components/src/components/ic-tab-context/ic-tab-context.tsx
  packages/web-components/src/components/ic-tab-context/ic-tabs.stories.mdx
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
  packages/web-components/src/components/ic-tab-group/readme.md
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.tsx
  packages/web-components/src/components/ic-tab-panel/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

refactor(web-components): adds spacing variable to replace
  packages/react/package-lock.json
  packages/web-components/package-lock.json
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.css
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-card/ic-card.css
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-chip/ic-chip.css
  packages/web-components/src/components/ic-data-entity/ic-data-entity.css
  packages/web-components/src/components/ic-data-row/ic-data-row.css
  packages/web-components/src/components/ic-divider/ic-divider.css
  packages/web-components/src/components/ic-horizontal-scroll/ic-horizontal-scroll.css
  packages/web-components/src/components/ic-input-component-container/ic-input-component-container.css
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.css
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
  packages/web-components/src/components/ic-search-bar/ic-search-bar.css
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-status-tag/ic-status-tag.css
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/components/ic-switch/ic-switch.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/global/variables.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

fix(fonts): add Source Code Pro font
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/fonts/src/fonts.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): update status and version tags in top nav to wrap
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_Long_app_title.png
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
Due: stylelint --fix, remark

fix(web-components): add code typography tokens
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Component_override.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Variants.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Vertical_margins.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Component_override.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Variants.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Vertical_margins.png
  packages/web-components/src/components/ic-typography/ic-typography.css
  packages/web-components/src/components/ic-typography/ic-typography.spec.ts
  packages/web-components/src/components/ic-typography/ic-typography.stories.mdx
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/global/variables.css
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(react): add code typography variants to React Storybook
  packages/react/src/stories/ic-typography.stories.mdx
Due: remark

fix(web-components): fix failing visual regression tests
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Component_override.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Typography_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Component_override.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Typography_Default.png
  packages/web-components/src/components/ic-typography/ic-typography.stories.mdx
Due: remark

fix(web-components): fixes tooltips on side navigation items
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
Due: stylelint --fix

feat(react): add min/max to TextField
  packages/react/package-lock.json
  packages/react/src/stories/ic-text-field.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): update navigation buttons to have 100% height
  packages/web-components/src/components/ic-navigation-button/ic-navigation-button.css
Due: stylelint --fix

feat(web-components): add min/max to TextField
  packages/react/package-lock.json
  packages/react/src/stories/ic-text-field.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Text_field_Min_and_max.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Text_field_Validation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Custom_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Helper_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Min_and_max.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Placeholder_and_required.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Validation.png
  packages/web-components/package-lock.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-text-field/__snapshots__/ic-text-field.input.spec.tsx.snap
  packages/web-components/src/components/ic-text-field/ic-text-field.css
  packages/web-components/src/components/ic-text-field/ic-text-field.e2e.ts
  packages/web-components/src/components/ic-text-field/ic-text-field.input.spec.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.stories.mdx
  packages/web-components/src/components/ic-text-field/ic-text-field.textarea.spec.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/components/ic-text-field/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): added wrap to interaction-container to stack buttons zoomed in
  packages/web-components/src/components/ic-hero/ic-hero.css
Due: stylelint --fix

fix(web-components): fixes warnings and errors in unit tests
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.spec.tsx
  packages/web-components/src/components/ic-button/ic-button.spec.ts
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.e2e.ts
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.spec.ts
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-radio-group/ic-radio-group.e2e.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.spec.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.e2e.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.spec.ts
  packages/web-components/src/components/ic-select/ic-select.spec.tsx
  packages/web-components/src/components/ic-skeleton/ic-skeleton.spec.ts
  packages/web-components/src/components/ic-step/ic-step.spec.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.e2e.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.spec.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.e2e.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.spec.ts
  packages/web-components/src/components/ic-theme/ic-theme.spec.tsx
  packages/web-components/src/components/ic-toast/ic-toast.spec.ts
  packages/web-components/src/components/ic-toast/ic-toast.tsx
  packages/web-components/src/components/ic-tooltip/ic-tooltip.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add form attributes to button
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-button/ic-button.spec.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(root): added to allowlist for audit
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(react): adds license to react package.json
  packages/react/package-lock.json
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): removed initialRender
  packages/web-components/src/components/ic-select/ic-select.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): add overlay to pages when top navigation pop out menu is open
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@379cdedb218543bd76497c59c4e38cd4238d44f1 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1a743c56bb4c113a761fd456c3709341590e5813 🚀
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.3c32f271.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.ce6c7ae7.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.ce6c7ae7.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/web-components/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/web-components/project.json
  branches/bugfix/525-ic-select-not-getting-updated/web-components/runtime~main.3a8dd779.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/runtime~main.53221d27.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1a743c56bb4c113a761fd456c3709341590e5813 🚀
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.50150f16.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.50150f16.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.64747f4f.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/react/project.json
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.685f9a02.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.c03e32df.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
