Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@9fb7fa4e38ccc536cb572d59c726f240b20686bc 🚀
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/2115.700879ba.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/2115.700879ba.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/2115.b8470edc.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/5903.7e0c95f3.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/5903.7e0c95f3.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/5903.9abf646f.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/6510.421109ea.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/6510.b274621f.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/iframe.html
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.0da6071b.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.0da6071b.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.4e2998a9.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/project.json
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/runtime~main.9bb5279f.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/runtime~main.bf257c9a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9fb7fa4e38ccc536cb572d59c726f240b20686bc 🚀
  branches/345-add-see-more-truncation-pattern-for-typography/react/2373.5f88f564.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/2373.5f88f564.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/react/2373.859539b2.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/5850.bff6badf.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/5850.cd530a97.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/5850.cd530a97.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/react/8291.3343f43b.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/8291.ae04bc46.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/iframe.html
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.7d8ea434.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.b637c536.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.b637c536.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/react/project.json
  branches/345-add-see-more-truncation-pattern-for-typography/react/runtime~main.0db3e712.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/runtime~main.1837f3e3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): added wrap to interaction-container to stack buttons zoomed in
  packages/web-components/src/components/ic-hero/ic-hero.css
Due: stylelint --fix

fix(web-components): fixes warnings and errors in unit tests
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.spec.tsx
  packages/web-components/src/components/ic-button/ic-button.spec.ts
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.e2e.ts
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.spec.ts
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-radio-group/ic-radio-group.e2e.ts
  packages/web-components/src/components/ic-radio-group/ic-radio-group.spec.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.e2e.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.spec.ts
  packages/web-components/src/components/ic-select/ic-select.spec.tsx
  packages/web-components/src/components/ic-skeleton/ic-skeleton.spec.ts
  packages/web-components/src/components/ic-step/ic-step.spec.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.e2e.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.spec.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.e2e.ts
  packages/web-components/src/components/ic-tab-context/ic-tab-context.spec.ts
  packages/web-components/src/components/ic-theme/ic-theme.spec.tsx
  packages/web-components/src/components/ic-toast/ic-toast.spec.ts
  packages/web-components/src/components/ic-toast/ic-toast.tsx
  packages/web-components/src/components/ic-tooltip/ic-tooltip.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(root): added to allowlist for audit
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add form attributes to button
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-button/ic-button.spec.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@8b057de75a03586f90dc334b5f117681c5e37737 🚀
  branches/develop/2115.700879ba.iframe.bundle.js
  branches/develop/2115.700879ba.iframe.bundle.js.LICENSE.txt
  branches/develop/2115.b8470edc.iframe.bundle.js
  branches/develop/5903.7e0c95f3.iframe.bundle.js
  branches/develop/5903.7e0c95f3.iframe.bundle.js.LICENSE.txt
  branches/develop/5903.9abf646f.iframe.bundle.js
  branches/develop/6663.7fc39eda.iframe.bundle.js
  branches/develop/6663.e7652f2b.iframe.bundle.js
  branches/develop/6663.e7652f2b.iframe.bundle.js.LICENSE.txt
  branches/develop/7959.0055d6cb.iframe.bundle.js
  branches/develop/7959.21e78c71.iframe.bundle.js
  branches/develop/9446.438aa394.iframe.bundle.js
  branches/develop/9446.7078993a.iframe.bundle.js
  branches/develop/9446.7078993a.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/main.66202e5f.iframe.bundle.js
  branches/develop/main.773b276f.iframe.bundle.js
  branches/develop/main.773b276f.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.00de021a.iframe.bundle.js
  branches/develop/runtime~main.9152e9e3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@72c93813bd65fcf7e011b2234d0bb33de5b31c10 🚀
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/5903.7e0c95f3.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/5903.7e0c95f3.iframe.bundle.js.LICENSE.txt
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/5903.9abf646f.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/6663.4073af54.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/6663.95b56981.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/6663.95b56981.iframe.bundle.js.LICENSE.txt
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/7959.0055d6cb.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/7959.21e78c71.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/9446.438aa394.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/9446.7078993a.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/9446.7078993a.iframe.bundle.js.LICENSE.txt
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/iframe.html
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/main.78623b5d.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/main.e3cafb5b.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/main.e3cafb5b.iframe.bundle.js.LICENSE.txt
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/project.json
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/runtime~main.0b40f19b.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/web-components/runtime~main.e41cef50.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@72c93813bd65fcf7e011b2234d0bb33de5b31c10 🚀
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/1642.2496e744.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/1642.869c9093.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/1642.869c9093.iframe.bundle.js.LICENSE.txt
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/230.ce4f9690.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/230.dddbd443.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/5850.bff6badf.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/5850.cd530a97.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/5850.cd530a97.iframe.bundle.js.LICENSE.txt
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/9354.b8eaaab8.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/9354.e055bf15.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/9354.e055bf15.iframe.bundle.js.LICENSE.txt
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/iframe.html
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/main.0341b646.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/main.acaca275.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/main.acaca275.iframe.bundle.js.LICENSE.txt
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/project.json
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/runtime~main.01070d64.iframe.bundle.js
  branches/323-ic-button-no-form-attribute-on-ic-button-component/react/runtime~main.465b4ba1.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add dialog component
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Bottom_placements.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Disabled_Hover.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Left_placements.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Right_placements.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Top_placements.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Full_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Groups.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Bottom_placements.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Disabled_Hover.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Left_placements.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Right_placements.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Top_placements.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-alert/readme.md
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-dialog/__snapshots__/ic-dialog.spec.ts.snap
  packages/web-components/src/components/ic-dialog/ic-dialog.css
  packages/web-components/src/components/ic-dialog/ic-dialog.spec.ts
  packages/web-components/src/components/ic-dialog/ic-dialog.stories.mdx
  packages/web-components/src/components/ic-dialog/ic-dialog.test.a11y.ts
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
  packages/web-components/src/components/ic-dialog/readme.md
  packages/web-components/src/components/ic-radio-group/ic-radio-group.tsx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-tooltip/ic-tooltip.stories.mdx
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): add dialog component
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Basic.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Helper_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Helper_text.png
Due: none

feat(react): add dialog component
  packages/react/src/components.ts
  packages/react/src/stories/ic-dialog.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

test(web-components): fixes unit tests
  packages/web-components/src/components/ic-dialog/ic-dialog.spec.ts
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@03ea8f2ad446889f280eaa06bbc180472257a6ad 🚀
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/iframe.html
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.0da6071b.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.a14bfbfc.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/main.a14bfbfc.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@03ea8f2ad446889f280eaa06bbc180472257a6ad 🚀
  branches/345-add-see-more-truncation-pattern-for-typography/react/iframe.html
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.b637c536.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.ec2b4f6a.iframe.bundle.js
  branches/345-add-see-more-truncation-pattern-for-typography/react/main.ec2b4f6a.iframe.bundle.js.LICENSE.txt
  branches/345-add-see-more-truncation-pattern-for-typography/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): removed initialRender
  packages/web-components/src/components/ic-select/ic-select.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@08a4bf02efd3a98993cf38c4753f8175b9828f10 🚀
  branches/develop/6663.95b56981.iframe.bundle.js
  branches/develop/6663.95b56981.iframe.bundle.js.LICENSE.txt
  branches/develop/6663.e7652f2b.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.773b276f.iframe.bundle.js
  branches/develop/main.e3cafb5b.iframe.bundle.js
  branches/develop/main.e3cafb5b.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.9152e9e3.iframe.bundle.js
  branches/develop/runtime~main.e41cef50.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(react): adds license to react package.json
  packages/react/package-lock.json
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f3fae9eb6d2349d424971e8905032f74ffe47d25 🚀
  branches/bugfix/525-ic-select-not-getting-updated/web-components/6663.95b56981.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/6663.95b56981.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/web-components/6663.e7652f2b.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.3c32f271.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.3c32f271.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.975b76b7.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/web-components/main.6cd010bd.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/main.938f919b.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/main.938f919b.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/web-components/project.json
  branches/bugfix/525-ic-select-not-getting-updated/web-components/runtime~main.5fe6b98f.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/runtime~main.fb496251.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f3fae9eb6d2349d424971e8905032f74ffe47d25 🚀
  branches/bugfix/525-ic-select-not-getting-updated/react/1642.869c9093.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/1642.869c9093.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/react/1642.971c4319.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.64747f4f.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.64747f4f.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.85f67d25.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/react/main.8abbe18a.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/main.ba07d5b3.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/main.ba07d5b3.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/react/project.json
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.3436f5ae.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.da55338f.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5136327de700d974b7e410c227d7518f0c59ce32 🚀
  branches/bugfix/525-ic-select-not-getting-updated/web-components/2679.9328d024.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/2679.9605eb45.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/2679.9605eb45.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/web-components/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/web-components/project.json
  branches/bugfix/525-ic-select-not-getting-updated/web-components/runtime~main.53221d27.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/runtime~main.fb496251.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5136327de700d974b7e410c227d7518f0c59ce32 🚀
  branches/bugfix/525-ic-select-not-getting-updated/react/9257.94beb7d9.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/9257.94beb7d9.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/react/9257.965d8595.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/react/project.json
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.3436f5ae.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.685f9a02.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
