Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(root): added branch name extraction step
  .github/workflows/ic-ui-kit-branches.yml
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@b7fc985b6853b3539fcd43e1943e1e774f252bd2 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ede02988344c920ab18e466f533170b120b4cfbb 🚀
  branches/726-side-navigation-item-label-still-displayed-when-no-href-and-collapsed/web-components/iframe.html
  branches/726-side-navigation-item-label-still-displayed-when-no-href-and-collapsed/web-components/main.7bf61d1b.iframe.bundle.js
  branches/726-side-navigation-item-label-still-displayed-when-no-href-and-collapsed/web-components/main.dc5ea57c.iframe.bundle.js
  branches/726-side-navigation-item-label-still-displayed-when-no-href-and-collapsed/web-components/main.dc5ea57c.iframe.bundle.js.LICENSE.txt
  branches/726-side-navigation-item-label-still-displayed-when-no-href-and-collapsed/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ede02988344c920ab18e466f533170b120b4cfbb 🚀
  branches/726-side-navigation-item-label-still-displayed-when-no-href-and-collapsed/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): updated package-lock and audit-ci file
  audit-ci.json
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(react): updated package-lock file
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(web-components): updated package-lock file
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ffc0430b9bd25127396e93970260e9df220316f6 🚀
  branches/797/merge/web-components/6982.9979d715.iframe.bundle.js
  branches/797/merge/web-components/6982.9979d715.iframe.bundle.js.LICENSE.txt
  branches/797/merge/web-components/6982.a6a51cf9.iframe.bundle.js
  branches/797/merge/web-components/iframe.html
  branches/797/merge/web-components/project.json
  branches/797/merge/web-components/runtime~main.3fe4e66d.iframe.bundle.js
  branches/797/merge/web-components/runtime~main.c18c6929.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): updated major version on stylelint
  package-lock.json
  package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): cSS styling updates after stylelint update
  packages/web-components/src/components/ic-dialog/ic-dialog.css
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.css
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@4fa18c775fdb360c66d2eb85da54e6178ba39718 🚀
  branches/797/merge/web-components/6982.05e5947e.iframe.bundle.js
  branches/797/merge/web-components/6982.05e5947e.iframe.bundle.js.LICENSE.txt
  branches/797/merge/web-components/6982.9979d715.iframe.bundle.js
  branches/797/merge/web-components/iframe.html
  branches/797/merge/web-components/project.json
  branches/797/merge/web-components/runtime~main.4b5eb57d.iframe.bundle.js
  branches/797/merge/web-components/runtime~main.c18c6929.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4fa18c775fdb360c66d2eb85da54e6178ba39718 🚀
  branches/797/merge/react/3244.23a05591.iframe.bundle.js
  branches/797/merge/react/3244.23a05591.iframe.bundle.js.LICENSE.txt
  branches/797/merge/react/3244.c84a4c0f.iframe.bundle.js
  branches/797/merge/react/iframe.html
  branches/797/merge/react/project.json
  branches/797/merge/react/runtime~main.8fef0336.iframe.bundle.js
  branches/797/merge/react/runtime~main.975f86b8.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@75c9ee3197f5ab2b8a8baf6f4b1754549cbcb59d 🚀
  branches/797/merge/web-components/6982.05e5947e.iframe.bundle.js
  branches/797/merge/web-components/6982.30e75674.iframe.bundle.js
  branches/797/merge/web-components/6982.30e75674.iframe.bundle.js.LICENSE.txt
  branches/797/merge/web-components/iframe.html
  branches/797/merge/web-components/project.json
  branches/797/merge/web-components/runtime~main.2f29bf98.iframe.bundle.js
  branches/797/merge/web-components/runtime~main.4b5eb57d.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@75c9ee3197f5ab2b8a8baf6f4b1754549cbcb59d 🚀
  branches/797/merge/react/3244.23a05591.iframe.bundle.js
  branches/797/merge/react/3244.62194419.iframe.bundle.js
  branches/797/merge/react/3244.62194419.iframe.bundle.js.LICENSE.txt
  branches/797/merge/react/iframe.html
  branches/797/merge/react/project.json
  branches/797/merge/react/runtime~main.975f86b8.iframe.bundle.js
  branches/797/merge/react/runtime~main.fb691038.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): added React stories for ic-date-input
  packages/react/src/components.ts
  packages/react/src/stories/ic-date-input.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): duplicate a.link styles for div.link on nav items
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
Due: stylelint --fix

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
