Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(root): add item about docs changes to PR checklist
  .github/pull_request_template.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@d493a957895ff33ee90e2e31c708cd693d5ad791 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): improve ic-tooltip and ic-button for screenreaders
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Button_Tooltips.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Bottom_placements.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Disabled_Hover.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Left_placements.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Right_placements.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Top_placements.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Tooltip_Using_external_method.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Button_Tooltips.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Bottom_placements.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Disabled_Hover.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Left_placements.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Right_placements.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Top_placements.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Tooltip_Using_external_method.png
  packages/web-components/src/components/ic-button/ic-button.stories.mdx
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-button/test/basic/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-card/ic-card.tsx
  packages/web-components/src/components/ic-card/test/basic/__snapshots__/ic-card.spec.ts.snap
  packages/web-components/src/components/ic-dialog/test/basic/__snapshots__/ic-dialog.spec.ts.snap
  packages/web-components/src/components/ic-menu-group/test/basic/__snapshots__/ic-menu-group.spec.ts.snap
  packages/web-components/src/components/ic-menu-item/ic-menu-item.tsx
  packages/web-components/src/components/ic-menu-item/test/basic/__snapshots__/ic-menu-item.spec.ts.snap
  packages/web-components/src/components/ic-navigation-menu/test/basic/__snapshots__/ic-navigation-menu.spec.ts.snap
  packages/web-components/src/components/ic-pagination/ic-pagination.tsx
  packages/web-components/src/components/ic-pagination/test/basic/__snapshots__/ic-pagination.spec.ts.snap
  packages/web-components/src/components/ic-popover-menu/test/basic/__snapshots__/ic-popover-menu.spec.ts.snap
  packages/web-components/src/components/ic-search-bar/test/basic/__snapshots__/ic-search-bar.spec.ts.snap
  packages/web-components/src/components/ic-select/test/basic/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/test/basic/__snapshots__/ic-tooltip.spec.ts.snap
  packages/web-components/src/components/ic-tooltip/test/basic/ic-tooltip.e2e.ts
  packages/web-components/src/components/ic-tooltip/test/basic/ic-tooltip.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@a943027f5b4f59d7def0ca424a3bd6f3e6f50cde 🚀
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/web-components/6510.1b048b57.iframe.bundle.js
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/web-components/6510.c41706c5.iframe.bundle.js
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/web-components/6663.337669eb.iframe.bundle.js
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/web-components/6663.337669eb.iframe.bundle.js.LICENSE.txt
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/web-components/6663.baadadb9.iframe.bundle.js
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/web-components/iframe.html
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/web-components/main.54af281a.iframe.bundle.js
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/web-components/main.54af281a.iframe.bundle.js.LICENSE.txt
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/web-components/main.cbea0a5b.iframe.bundle.js
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/web-components/project.json
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/web-components/runtime~main.ac9488ea.iframe.bundle.js
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/web-components/runtime~main.b6d3fe8e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a943027f5b4f59d7def0ca424a3bd6f3e6f50cde 🚀
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/react/1642.081ec00e.iframe.bundle.js
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/react/1642.081ec00e.iframe.bundle.js.LICENSE.txt
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/react/1642.e147a84b.iframe.bundle.js
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/react/8291.c10f8e34.iframe.bundle.js
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/react/8291.ce589380.iframe.bundle.js
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/react/iframe.html
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/react/main.1a22c4d4.iframe.bundle.js
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/react/main.1a22c4d4.iframe.bundle.js.LICENSE.txt
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/react/main.8cf16071.iframe.bundle.js
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/react/project.json
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/react/runtime~main.99d3a8b1.iframe.bundle.js
  branches/860-ic-top-navigation-screen-reader-reads-the-navigation-items-out-twice/react/runtime~main.fdb9a472.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e11db0a413098e98c4f31a02dabe337e9db999f0 🚀
  branches/develop/5696.2123f229.iframe.bundle.js
  branches/develop/5696.34393b1a.iframe.bundle.js
  branches/develop/5696.34393b1a.iframe.bundle.js.LICENSE.txt
  branches/develop/6165.0f5f1122.iframe.bundle.js
  branches/develop/6165.865a5ed9.iframe.bundle.js
  branches/develop/6663.337669eb.iframe.bundle.js
  branches/develop/6663.337669eb.iframe.bundle.js.LICENSE.txt
  branches/develop/6663.eccbe682.iframe.bundle.js
  branches/develop/9806.25d9e184.iframe.bundle.js
  branches/develop/9806.5c0eefa2.iframe.bundle.js
  branches/develop/9806.5c0eefa2.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/main.54af281a.iframe.bundle.js
  branches/develop/main.54af281a.iframe.bundle.js.LICENSE.txt
  branches/develop/main.f3055c18.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.ac9488ea.iframe.bundle.js
  branches/develop/runtime~main.c95b5bae.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(fonts): bumps postcss version to 8.4.31
  packages/fonts/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(react): bumps postcss version to 8.4.31
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(web-components): audit fix and postcss version bump
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6f0787c411419fc7869ddf10ee4f266239ab95b8 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4eb62a4eb514bfa33f7c13c98e80e7bccb5bcc44 🚀
  branches/1129-develop-coding-standards/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4eb62a4eb514bfa33f7c13c98e80e7bccb5bcc44 🚀
  branches/1129-develop-coding-standards/react/iframe.html
  branches/1129-develop-coding-standards/react/main.4f6d1cd9.iframe.bundle.js
  branches/1129-develop-coding-standards/react/main.4f6d1cd9.iframe.bundle.js.LICENSE.txt
  branches/1129-develop-coding-standards/react/main.84f8ae8b.iframe.bundle.js
  branches/1129-develop-coding-standards/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4eb62a4eb514bfa33f7c13c98e80e7bccb5bcc44 🚀
  branches/1129-develop-coding-standards/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes aria label not updating on button
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-button/test/basic/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-button/test/basic/ic-button.spec.ts
  packages/web-components/src/components/ic-link/ic-link.tsx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
  packages/web-components/src/utils/constants.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@e01e901afeb57b92582f2f4359a2d5ce998892d6 🚀
  branches/1110-button-aria-label/web-components/6663.57264d10.iframe.bundle.js
  branches/1110-button-aria-label/web-components/6663.8c82013d.iframe.bundle.js
  branches/1110-button-aria-label/web-components/6663.8c82013d.iframe.bundle.js.LICENSE.txt
  branches/1110-button-aria-label/web-components/iframe.html
  branches/1110-button-aria-label/web-components/project.json
  branches/1110-button-aria-label/web-components/runtime~main.01a10186.iframe.bundle.js
  branches/1110-button-aria-label/web-components/runtime~main.f1cc3a8e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
