Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): updates z-index values for components
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.css
  packages/web-components/src/components/ic-back-to-top/readme.md
  packages/web-components/src/components/ic-classification-banner/ic-classification-banner.css
  packages/web-components/src/components/ic-classification-banner/readme.md
  packages/web-components/src/components/ic-menu/ic-menu.css
  packages/web-components/src/components/ic-menu/readme.md
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.css
  packages/web-components/src/components/ic-navigation-group/readme.md
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-navigation-item/readme.md
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.css
  packages/web-components/src/components/ic-navigation-menu/readme.md
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/components/ic-page-header/readme.md
  packages/web-components/src/components/ic-search-bar/ic-search-bar.css
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-select/ic-select.css
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.css
  packages/web-components/src/components/ic-side-navigation/readme.md
  packages/web-components/src/components/ic-tooltip/ic-tooltip.css
  packages/web-components/src/components/ic-tooltip/readme.md
  packages/web-components/src/global/variables.css
  packages/web-components/src/z-index.stories.mdx
Due: stylelint --fix, remark

fix(web-components): add handleMouseDown, add css active selector, add spec test for handleMouseDown
  packages/web-components/src/components/ic-search-bar/ic-search-bar.css
  packages/web-components/src/components/ic-search-bar/ic-search-bar.spec.ts
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix

feat(react): add more tabs / nav items to stories for scroll demonstration
  packages/react/src/components.ts
  packages/react/src/stories/ic-page-header.stories.mdx
  packages/react/src/stories/ic-tabs.stories.mdx
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): fixed placement issue in top nav
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Content_center_aligned.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Top_navigation_Content_left_aligned.png
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

chore(root): adds logging of chromium version
  .github/workflows/ic-ui-kit-branches.yml
  .github/workflows/ic-ui-kit-develop.yml
  .github/workflows/ic-ui-kit-main.yml
  .github/workflows/update-visual-regression-tests.yml
Due: none

chore(web-components): bump webpack version for audit fix
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): updated top-navigation e2e test
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

refactor(web-components): add delegatesFocus to interactive components
  packages/web-components/src/components/ic-back-to-top/ic-back-to-top.tsx
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.tsx
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-footer-link-group/ic-footer-link-group.tsx
  packages/web-components/src/components/ic-footer-link/ic-footer-link.tsx
  packages/web-components/src/components/ic-link/ic-link.tsx
  packages/web-components/src/components/ic-navigation-button/ic-navigation-button.tsx
  packages/web-components/src/components/ic-navigation-group/ic-navigation-group.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-navigation-menu/ic-navigation-menu.tsx
  packages/web-components/src/components/ic-radio-option/ic-radio-option.tsx
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/readme.md
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-switch/ic-switch.tsx
  packages/web-components/src/components/ic-tab-group/ic-tab-group.tsx
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(fonts): bump webpack version for audit fix
  packages/fonts/package-lock.json
  packages/fonts/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(web-components): improves test coverage
  packages/web-components/src/components/ic-button/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-button/ic-button.spec.ts
  packages/web-components/src/components/ic-divider/__snapshots__/ic-divider.spec.ts.snap
  packages/web-components/src/components/ic-divider/ic-divider.spec.ts
  packages/web-components/src/components/ic-footer-link/ic-footer-link.spec.ts
  packages/web-components/src/components/ic-page-header/__snapshots__/ic-page-header.spec.ts.snap
  packages/web-components/src/components/ic-page-header/ic-page-header.spec.ts
  packages/web-components/src/components/ic-radio-group/__snapshots__/ic-radio-group.spec.ts.snap
  packages/web-components/src/components/ic-radio-group/ic-radio-group.spec.ts
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.spec.ts
  packages/web-components/src/components/ic-tab-context/__snapshots__/ic-tab-context.spec.ts.snap
  packages/web-components/src/components/ic-tab-context/ic-tab-context.spec.ts
  packages/web-components/src/components/ic-toast-region/__snapshots__/ic-toast-region.spec.ts.snap
  packages/web-components/src/components/ic-toast-region/ic-toast-region.spec.ts
  packages/web-components/src/components/ic-top-navigation/__snapshots__/ic-top-navigation.spec.ts.snap
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.spec.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): implement toast component
  packages/react/src/components.ts
  packages/react/src/stories/ic-toast.stories.mdx
  packages/web-components/package-lock.json
  packages/web-components/src/assets/error-icon.svg
  packages/web-components/src/assets/info-icon.svg
  packages/web-components/src/assets/neutral-icon.svg
  packages/web-components/src/assets/success-icon.svg
  packages/web-components/src/assets/warning-icon.svg
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-alert/ic-alert.tsx
  packages/web-components/src/components/ic-alert/ic-alert.types.ts
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-loading-indicator/readme.md
  packages/web-components/src/components/ic-toast-region/ic-toast-region.tsx
  packages/web-components/src/components/ic-toast-region/readme.md
  packages/web-components/src/components/ic-toast/ic-toast.css
  packages/web-components/src/components/ic-toast/ic-toast.e2e.ts
  packages/web-components/src/components/ic-toast/ic-toast.spec.ts
  packages/web-components/src/components/ic-toast/ic-toast.stories.mdx
  packages/web-components/src/components/ic-toast/ic-toast.test.a11y.ts
  packages/web-components/src/components/ic-toast/ic-toast.tsx
  packages/web-components/src/components/ic-toast/ic-toast.types.ts
  packages/web-components/src/components/ic-toast/readme.md
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/interface.d.ts
  packages/web-components/src/utils/constants.ts
  packages/web-components/src/utils/helpers.ts
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(web-components): updates loki version
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes page header z-index issue
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/components/ic-page-header/readme.md
Due: stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@ee4648ac64da58a8004939a435304d1e6d6731f9 🚀
  branches/432-github-actions-add-code-coverage-checks-in-pipeline/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@ee4648ac64da58a8004939a435304d1e6d6731f9 🚀
  branches/432-github-actions-add-code-coverage-checks-in-pipeline/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(docs): version bump on docs CHANGELOG
  packages/docs/CHANGELOG.md
Due: remark

docs(fonts): regenerated fonts CHANGELOGs
  packages/fonts/CHANGELOG.md
Due: remark

docs(react): regenerated react CHANGELOGs
  packages/react/CHANGELOG.md
Due: remark

docs(web-components): regenerated web-components CHANGELOGs
  packages/web-components/CHANGELOG.md
Due: remark

docs(root): [ci skip] regenerated root CHANGELOGs
  CHANGELOG.md
Due: remark

ci(root): update ci to check code coverage
  .github/workflows/ic-ui-kit-branches.yml
  .github/workflows/ic-ui-kit-develop.yml
  .github/workflows/ic-ui-kit-main.yml
  package.json
  packages/web-components/stencil.config.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3bb497bf6f147c491c21afcf10996096d75d043e 🚀
  branches/432-github-actions-add-code-coverage-checks-in-pipeline/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@3bb497bf6f147c491c21afcf10996096d75d043e 🚀
  branches/432-github-actions-add-code-coverage-checks-in-pipeline/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add menu button and menu group sub components for new popover component
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-menu-button/__snapshots__/ic-menu-button.spec.ts.snap
  packages/web-components/src/components/ic-menu-button/ic-menu-button.css
  packages/web-components/src/components/ic-menu-button/ic-menu-button.spec.ts
  packages/web-components/src/components/ic-menu-button/ic-menu-button.tsx
  packages/web-components/src/components/ic-menu-button/ic-menu-button.types.tsx
  packages/web-components/src/components/ic-menu-button/readme.md
  packages/web-components/src/components/ic-menu-group/__snapshots__/ic-menu-group.spec.ts.snap
  packages/web-components/src/components/ic-menu-group/ic-menu-group.css
  packages/web-components/src/components/ic-menu-group/ic-menu-group.spec.ts
  packages/web-components/src/components/ic-menu-group/ic-menu-group.tsx
  packages/web-components/src/components/ic-menu-group/readme.md
  packages/web-components/src/components/ic-navigation-menu/__snapshots__/ic-navigation-menu.spec.ts.snap
  packages/web-components/src/components/ic-search-bar/__snapshots__/ic-search-bar.spec.ts.snap
  packages/web-components/src/components/ic-select/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): add menu button and menu group to React components.ts
  packages/react/src/components.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0f4d91f6f832befb0c7b8db3dd78679ebd4b38e4 🚀
  branches/434-ic-popover-menu-component/web-components/1738.03e61a89.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/1738.dc084830.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/9823.30bc36a9.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/9823.a779f113.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/iframe.html
  branches/434-ic-popover-menu-component/web-components/main.24b7062d.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/main.24b7062d.iframe.bundle.js.LICENSE.txt
  branches/434-ic-popover-menu-component/web-components/main.7418298c.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/project.json
  branches/434-ic-popover-menu-component/web-components/runtime~main.67e08307.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/runtime~main.86eb2f68.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0f4d91f6f832befb0c7b8db3dd78679ebd4b38e4 🚀
  branches/434-ic-popover-menu-component/react/1569.2bcd8826.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/1569.dfe862a0.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/8533.76bfc009.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/8533.99fa853d.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/iframe.html
  branches/434-ic-popover-menu-component/react/project.json
  branches/434-ic-popover-menu-component/react/runtime~main.a8c5bc67.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/runtime~main.bbd0337c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add new window icon to navigation item
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Expandable.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_Without_icons.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Data_entity_Editable_example.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_tabs.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Search_bar_In_a_form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Custom_placeholder.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Default_value.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_disabled_options.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_groups.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_groups_characters_until_suggestions.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_scroll_behaviour.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_validation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_with_description_included_in_search.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Switch_Right_adornment.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_With_icon.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_With_value.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Top_navigation_With_navigation.png
  packages/web-components/src/assets/OpenInNew.svg
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-link/ic-link.tsx
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.css
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-navigation-item/readme.md
  packages/web-components/src/components/ic-page-header/ic-page-header.stories.mdx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@652102115c8000fb36bdcf70b610514c80d4ca9d 🚀
  branches/434-ic-popover-menu-component/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@652102115c8000fb36bdcf70b610514c80d4ca9d 🚀
  branches/434-ic-popover-menu-component/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c476a463e793307072b251bbb7f1e1bd5d17f758 🚀
  branches/feature/482-navigation-item-new-window-link/web-components/1738.096a0d80.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/web-components/1738.61c662a6.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/web-components/7420.8f723d42.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/web-components/7420.8f723d42.iframe.bundle.js.LICENSE.txt
  branches/feature/482-navigation-item-new-window-link/web-components/7420.fbfc184a.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/web-components/8753.04b7792f.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/web-components/8753.8818bf2d.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/web-components/8753.8818bf2d.iframe.bundle.js.LICENSE.txt
  branches/feature/482-navigation-item-new-window-link/web-components/9823.30bc36a9.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/web-components/9823.a779f113.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/web-components/iframe.html
  branches/feature/482-navigation-item-new-window-link/web-components/main.5addd325.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/web-components/main.ce40cd77.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/web-components/main.ce40cd77.iframe.bundle.js.LICENSE.txt
  branches/feature/482-navigation-item-new-window-link/web-components/project.json
  branches/feature/482-navigation-item-new-window-link/web-components/runtime~main.541240ed.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/web-components/runtime~main.aa72d13e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c476a463e793307072b251bbb7f1e1bd5d17f758 🚀
  branches/feature/482-navigation-item-new-window-link/react/1569.2bcd8826.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/react/1569.dfe862a0.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/react/2148.0c4cc38d.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/react/2148.e40900b6.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/react/2148.e40900b6.iframe.bundle.js.LICENSE.txt
  branches/feature/482-navigation-item-new-window-link/react/530.0b1b4f5c.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/react/530.0b1b4f5c.iframe.bundle.js.LICENSE.txt
  branches/feature/482-navigation-item-new-window-link/react/530.82753250.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/react/8533.2111549f.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/react/8533.81dd1ffc.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/react/iframe.html
  branches/feature/482-navigation-item-new-window-link/react/main.63f0f89c.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/react/main.e54df4a6.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/react/main.e54df4a6.iframe.bundle.js.LICENSE.txt
  branches/feature/482-navigation-item-new-window-link/react/project.json
  branches/feature/482-navigation-item-new-window-link/react/runtime~main.456c1052.iframe.bundle.js
  branches/feature/482-navigation-item-new-window-link/react/runtime~main.698c1bfc.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0f97e1ffa9a52b81e29e15768dd35d4123d2ab9b 🚀
  branches/434-ic-popover-menu-component/web-components/605.346a191c.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/605.346a191c.iframe.bundle.js.LICENSE.txt
  branches/434-ic-popover-menu-component/web-components/605.61bf72ea.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/iframe.html
  branches/434-ic-popover-menu-component/web-components/project.json
  branches/434-ic-popover-menu-component/web-components/runtime~main.86eb2f68.iframe.bundle.js
  branches/434-ic-popover-menu-component/web-components/runtime~main.b781d16f.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@0f97e1ffa9a52b81e29e15768dd35d4123d2ab9b 🚀
  branches/434-ic-popover-menu-component/react/4418.292b08fe.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/4418.ccef58f1.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/4418.ccef58f1.iframe.bundle.js.LICENSE.txt
  branches/434-ic-popover-menu-component/react/iframe.html
  branches/434-ic-popover-menu-component/react/main.bc4e12a0.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/main.bc4e12a0.iframe.bundle.js.LICENSE.txt
  branches/434-ic-popover-menu-component/react/main.bf04228a.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/project.json
  branches/434-ic-popover-menu-component/react/runtime~main.5db6eba9.iframe.bundle.js
  branches/434-ic-popover-menu-component/react/runtime~main.a8c5bc67.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
