Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@f170485d13541abed76376900df3a5e5b2426618 🚀
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-html-report/report_18-03-2026_083917.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@afb0c646d204b08ba564e26cece8cb1ae48ff3ca 🚀
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/baseline/IcSearchBar.cy.tsx/clear-icon-focused-theme-dark.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcPaginationBar.cy.tsx/go-to-page-invalid-tooltip-high-contrast.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcRadio.cy.tsx/small-conditional-static.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/clear-icon-focused-theme-dark.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcSearchBar.cy.tsx/spellcheck.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/disabled-options-open.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-screenshots/diff/IcSearchBar.cy.tsx/spellcheck.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@afb0c646d204b08ba564e26cece8cb1ae48ff3ca 🚀
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-html-report/report_18-03-2026_091234.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@98706f83779132078b3992990866dbffb3da8a1e 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_18-03-2026_101915.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5cd40b98bb1174bd4e42e3d99da166d881ff50e9 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5cd40b98bb1174bd4e42e3d99da166d881ff50e9 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@98706f83779132078b3992990866dbffb3da8a1e 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-items.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@98706f83779132078b3992990866dbffb3da8a1e 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_18-03-2026_115326.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(release): update development release version check file
  DEVELOPMENT_RELEASE_CHECK.md
Due: remark

chore(release): [ci skip] components publish
  package-lock.json
  packages/canary-docs/CHANGELOG.md
  packages/canary-docs/package.json
  packages/canary-react/CHANGELOG.md
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-web-components/CHANGELOG.md
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
  packages/codemod/CHANGELOG.md
  packages/codemod/package-lock.json
  packages/codemod/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/fonts/CHANGELOG.md
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package-lock.json
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@bd48a095b9913be2b98ef965f9773fdb368af8be 🚀
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-html-report/report_17-03-2026_163428.json
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-html-report/report_18-03-2026_135554.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@016791d0fd0b9535051245d02eec612d9c858a73 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@016791d0fd0b9535051245d02eec612d9c858a73 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@016791d0fd0b9535051245d02eec612d9c858a73 🚀
  branches/canary/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@016791d0fd0b9535051245d02eec612d9c858a73 🚀
  branches/canary/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@59e689b796a86d723bb1e2ac76e308adbafda19a 🚀
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/size.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/custom-placeholder.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@59e689b796a86d723bb1e2ac76e308adbafda19a 🚀
  branches/4246-focus-issues-with-tabs-on-dialog/cypress-image-diff-html-report/report_18-03-2026_142028.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c41310898aa9b23236b272c85c7111841c23a279 🚀
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-html-report/report_18-03-2026_150509.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1a397d3aaa4d583e7dfa7b2664d64b0b21eba38d 🚀
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4205-upgrade-lerna-to-v9/cypress-image-diff-html-report/report_19-03-2026_082051.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): update GitHub Actions workflow for design system
  .github/workflows/update-design-system-roadmap.yml
Due: none

chore(root): run audit fix and remove GHSA-rf6f-7fwh-wjgh vulnerability
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): run audit fix and remove GHSA-rf6f-7fwh-wjgh vulnerability
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-react): run audit fix and remove GHSA-rf6f-7fwh-wjgh vulnerability
  packages/canary-react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write
