Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): ic-pagination and ic-pagination-item created
  audit-ci.json
  packages/react/src/stories/ic-pagination.stories.mdx
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_Complex.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_Complex_Adjacent_Boundary_Items_Set.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_Simple.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_Complex.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_Complex_Adjacent_Boundary_Items_Set.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_Simple.png
  packages/web-components/src/assets/pagination-first-last.svg
  packages/web-components/src/assets/pagination-next-previous.svg
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-pagination-item/ic-pagination-item.css
  packages/web-components/src/components/ic-pagination-item/ic-pagination-item.tsx
  packages/web-components/src/components/ic-pagination-item/ic-pagination-item.types.ts
  packages/web-components/src/components/ic-pagination-item/readme.md
  packages/web-components/src/components/ic-pagination/__snapshots__/ic-pagination.spec.ts.snap
  packages/web-components/src/components/ic-pagination/ic-pagination.css
  packages/web-components/src/components/ic-pagination/ic-pagination.e2e.ts
  packages/web-components/src/components/ic-pagination/ic-pagination.spec.ts
  packages/web-components/src/components/ic-pagination/ic-pagination.stories.mdx
  packages/web-components/src/components/ic-pagination/ic-pagination.test.a11y.ts
  packages/web-components/src/components/ic-pagination/ic-pagination.tsx
  packages/web-components/src/components/ic-pagination/ic-pagination.types.ts
  packages/web-components/src/components/ic-pagination/readme.md
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@79be3aff89605e5253a544bf876b6862b499abaa 🚀
  branches/a11y/pagination/web-components/9806.b512e1b8.iframe.bundle.js
  branches/a11y/pagination/web-components/9806.c4dfc696.iframe.bundle.js
  branches/a11y/pagination/web-components/iframe.html
  branches/a11y/pagination/web-components/project.json
  branches/a11y/pagination/web-components/runtime~main.649fa4e6.iframe.bundle.js
  branches/a11y/pagination/web-components/runtime~main.f79325a0.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@79be3aff89605e5253a544bf876b6862b499abaa 🚀
  branches/a11y/pagination/react/8939.057449d6.iframe.bundle.js
  branches/a11y/pagination/react/8939.09e943eb.iframe.bundle.js
  branches/a11y/pagination/react/iframe.html
  branches/a11y/pagination/react/project.json
  branches/a11y/pagination/react/runtime~main.ba366d72.iframe.bundle.js
  branches/a11y/pagination/react/runtime~main.d9dba714.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): updated react story
  packages/react/src/stories/ic-checkbox.stories.mdx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.e2e.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.types.ts
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@4420af59979a101d7ed1e082d06f0b94da7c668e 🚀
  branches/464-update-checkbox-event-detail/web-components/6088.66c96a90.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/6088.d638dec3.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/iframe.html
  branches/464-update-checkbox-event-detail/web-components/project.json
  branches/464-update-checkbox-event-detail/web-components/runtime~main.2be1761d.iframe.bundle.js
  branches/464-update-checkbox-event-detail/web-components/runtime~main.300f2f33.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@4420af59979a101d7ed1e082d06f0b94da7c668e 🚀
  branches/464-update-checkbox-event-detail/react/8637.a37e5d13.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/8637.eb6b24f5.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/iframe.html
  branches/464-update-checkbox-event-detail/react/project.json
  branches/464-update-checkbox-event-detail/react/runtime~main.3e94ef03.iframe.bundle.js
  branches/464-update-checkbox-event-detail/react/runtime~main.52665820.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a2ddf7ecab0afde2aafe8e39aca6fd898bc9f2cc 🚀
  branches/612-text-field-error-validation-without-icon-or-text/web-components/5903.1858b4ec.iframe.bundle.js
  branches/612-text-field-error-validation-without-icon-or-text/web-components/5903.8f98eaa8.iframe.bundle.js
  branches/612-text-field-error-validation-without-icon-or-text/web-components/5903.8f98eaa8.iframe.bundle.js.LICENSE.txt
  branches/612-text-field-error-validation-without-icon-or-text/web-components/iframe.html
  branches/612-text-field-error-validation-without-icon-or-text/web-components/project.json
  branches/612-text-field-error-validation-without-icon-or-text/web-components/runtime~main.3a0caf78.iframe.bundle.js
  branches/612-text-field-error-validation-without-icon-or-text/web-components/runtime~main.c371c0df.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a2ddf7ecab0afde2aafe8e39aca6fd898bc9f2cc 🚀
  branches/612-text-field-error-validation-without-icon-or-text/react/5850.217c687c.iframe.bundle.js
  branches/612-text-field-error-validation-without-icon-or-text/react/5850.c971b5c0.iframe.bundle.js
  branches/612-text-field-error-validation-without-icon-or-text/react/5850.c971b5c0.iframe.bundle.js.LICENSE.txt
  branches/612-text-field-error-validation-without-icon-or-text/react/iframe.html
  branches/612-text-field-error-validation-without-icon-or-text/react/project.json
  branches/612-text-field-error-validation-without-icon-or-text/react/runtime~main.02c7d186.iframe.bundle.js
  branches/612-text-field-error-validation-without-icon-or-text/react/runtime~main.a031d918.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@42d2231e5d849b72016428aa438e584b2bec02ae 🚀
  branches/bugfix/525-ic-select-not-getting-updated/web-components/2679.d7170db4.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/2679.d7170db4.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/web-components/2679.f0cdc936.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.2a5a9a11.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.2a5a9a11.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/web-components/7733.b819bf4f.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/web-components/project.json
  branches/bugfix/525-ic-select-not-getting-updated/web-components/runtime~main.656260be.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/web-components/runtime~main.780f59ac.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@42d2231e5d849b72016428aa438e584b2bec02ae 🚀
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.69a9a724.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.69a9a724.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/react/6225.7e28f603.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/9257.9331d6b9.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/9257.c9ff3022.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/9257.c9ff3022.iframe.bundle.js.LICENSE.txt
  branches/bugfix/525-ic-select-not-getting-updated/react/iframe.html
  branches/bugfix/525-ic-select-not-getting-updated/react/project.json
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.7f2e7cf5.iframe.bundle.js
  branches/bugfix/525-ic-select-not-getting-updated/react/runtime~main.d0353900.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): changed event.detail for ic-checkbox icChange
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.e2e.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.spec.ts
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.stories.mdx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.tsx
  packages/web-components/src/components/ic-checkbox-group/ic-checkbox-group.types.ts
  packages/web-components/src/components/ic-checkbox/ic-checkbox.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@de1f017abf224602758880ee070750f630bee4a3 🚀
  branches/develop/6088.5bc39770.iframe.bundle.js
  branches/develop/6088.dd9d5975.iframe.bundle.js
  branches/develop/7710.013957c6.iframe.bundle.js
  branches/develop/7710.b9266fd5.iframe.bundle.js
  branches/develop/7710.b9266fd5.iframe.bundle.js.LICENSE.txt
  branches/develop/iframe.html
  branches/develop/main.622f1ed2.iframe.bundle.js
  branches/develop/main.eea778ca.iframe.bundle.js
  branches/develop/main.eea778ca.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.84d491b4.iframe.bundle.js
  branches/develop/runtime~main.9e3a0f3a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fa6c5000c202699ae88ec2944b9adcd2f855bbcf 🚀
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/web-components/7733.16ee2916.iframe.bundle.js
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/web-components/7733.16ee2916.iframe.bundle.js.LICENSE.txt
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/web-components/7733.312fff76.iframe.bundle.js
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/web-components/iframe.html
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/web-components/project.json
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/web-components/runtime~main.6cdb6db4.iframe.bundle.js
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/web-components/runtime~main.84d491b4.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fa6c5000c202699ae88ec2944b9adcd2f855bbcf 🚀
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/react/6225.0b472558.iframe.bundle.js
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/react/6225.0b472558.iframe.bundle.js.LICENSE.txt
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/react/6225.ff5c6257.iframe.bundle.js
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/react/iframe.html
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/react/project.json
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/react/runtime~main.a8df258d.iframe.bundle.js
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/react/runtime~main.fd748c0e.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixed focusing of select on menu close
  packages/web-components/src/components/ic-menu/ic-menu.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): return out of onBlur for select if scrollbar/group title is clicked
  packages/web-components/src/components/ic-select/ic-select.spec.tsx
  packages/web-components/src/components/ic-select/ic-select.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a6337e32db821d844b3c0b0de15f0f1e48fe8ec0 🚀
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a6337e32db821d844b3c0b0de15f0f1e48fe8ec0 🚀
  branches/596-clicking-scroll-bar-on-icselect-menu-closes-menu/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add internal prop to allow for validation without text or icon
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Text_field_Validation.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Text_field_Validation.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-text-field/ic-text-field.stories.mdx
  packages/web-components/src/components/ic-text-field/ic-text-field.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(react): add story for new internal inline validation prop
  packages/react/src/stories/ic-text-field.stories.mdx
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@637c46734ff5389810c6cfc53ff083e34847a48c 🚀
  branches/611-show-tooltip-method/web-components/6663.8c5a2209.iframe.bundle.js
  branches/611-show-tooltip-method/web-components/6663.8c5a2209.iframe.bundle.js.LICENSE.txt
  branches/611-show-tooltip-method/web-components/6663.ee973edb.iframe.bundle.js
  branches/611-show-tooltip-method/web-components/iframe.html
  branches/611-show-tooltip-method/web-components/project.json
  branches/611-show-tooltip-method/web-components/runtime~main.158a1d5e.iframe.bundle.js
  branches/611-show-tooltip-method/web-components/runtime~main.e83a9041.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@637c46734ff5389810c6cfc53ff083e34847a48c 🚀
  branches/611-show-tooltip-method/react/1642.64daf36e.iframe.bundle.js
  branches/611-show-tooltip-method/react/1642.64daf36e.iframe.bundle.js.LICENSE.txt
  branches/611-show-tooltip-method/react/1642.87c6e7cf.iframe.bundle.js
  branches/611-show-tooltip-method/react/iframe.html
  branches/611-show-tooltip-method/react/project.json
  branches/611-show-tooltip-method/react/runtime~main.170fb00c.iframe.bundle.js
  branches/611-show-tooltip-method/react/runtime~main.c200bb5b.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@80f28a31da738802f8c1521dd293b9336c5bb3a9 🚀
  branches/612-text-field-error-validation-without-icon-or-text/web-components/5903.152f4ddc.iframe.bundle.js
  branches/612-text-field-error-validation-without-icon-or-text/web-components/5903.152f4ddc.iframe.bundle.js.LICENSE.txt
  branches/612-text-field-error-validation-without-icon-or-text/web-components/5903.8f98eaa8.iframe.bundle.js
  branches/612-text-field-error-validation-without-icon-or-text/web-components/iframe.html
  branches/612-text-field-error-validation-without-icon-or-text/web-components/project.json
  branches/612-text-field-error-validation-without-icon-or-text/web-components/runtime~main.12e17765.iframe.bundle.js
  branches/612-text-field-error-validation-without-icon-or-text/web-components/runtime~main.c371c0df.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@80f28a31da738802f8c1521dd293b9336c5bb3a9 🚀
  branches/612-text-field-error-validation-without-icon-or-text/react/5850.c971b5c0.iframe.bundle.js
  branches/612-text-field-error-validation-without-icon-or-text/react/5850.cfcccbbe.iframe.bundle.js
  branches/612-text-field-error-validation-without-icon-or-text/react/5850.cfcccbbe.iframe.bundle.js.LICENSE.txt
  branches/612-text-field-error-validation-without-icon-or-text/react/iframe.html
  branches/612-text-field-error-validation-without-icon-or-text/react/project.json
  branches/612-text-field-error-validation-without-icon-or-text/react/runtime~main.a031d918.iframe.bundle.js
  branches/612-text-field-error-validation-without-icon-or-text/react/runtime~main.ebf2377a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(react): created IcPagination react stories
  packages/react/src/components.ts
  packages/react/src/stories/ic-pagination.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@07040d9679474245cee0402b02ab2918e2bb5484 🚀
  branches/develop/3364.a011a107.iframe.bundle.js
  branches/develop/9806.c4dfc696.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.640d8599.iframe.bundle.js
  branches/develop/main.640d8599.iframe.bundle.js.LICENSE.txt
  branches/develop/main.eea778ca.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.4a9e16d8.iframe.bundle.js
  branches/develop/runtime~main.84d491b4.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1e97c328869179ea86c1921931e32f99c2a505b9 🚀
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/3364.a011a107.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/504.323cca40.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/504.323cca40.iframe.bundle.js.LICENSE.txt
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/504.a2f11c8d.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/6088.5bc39770.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/6088.dd9d5975.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/6510.19101aa8.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/6510.2ee7d9e4.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/6663.497eb2cf.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/6663.497eb2cf.iframe.bundle.js.LICENSE.txt
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/6663.fe5cbe84.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/7710.013957c6.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/7710.47cecaf6.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/7710.47cecaf6.iframe.bundle.js.LICENSE.txt
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/9806.c4dfc696.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/iframe.html
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/main.640d8599.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/main.640d8599.iframe.bundle.js.LICENSE.txt
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/main.ac42ef3c.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/project.json
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/runtime~main.98368d0f.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/web-components/runtime~main.d17f2b78.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@1e97c328869179ea86c1921931e32f99c2a505b9 🚀
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/1642.076cdf7d.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/1642.076cdf7d.iframe.bundle.js.LICENSE.txt
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/1642.e22c2b74.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/2167.15c7e3f0.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/2167.15c7e3f0.iframe.bundle.js.LICENSE.txt
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/2167.3231c573.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/3630.04d2227d.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/5835.02f813cc.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/5835.6f6bb31b.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/5835.6f6bb31b.iframe.bundle.js.LICENSE.txt
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/8291.4bbf93c3.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/8291.d962e98f.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/8637.90929fb2.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/8637.a7aa195a.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/8939.09e943eb.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/iframe.html
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/main.2f3bfc93.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/main.2f3bfc93.iframe.bundle.js.LICENSE.txt
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/main.8ca1c9f5.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/project.json
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/runtime~main.335efef5.iframe.bundle.js
  branches/659-ic-checkbox-checkbox-label-wrap-causes-checkbox-to-shrink/react/runtime~main.3ce368d3.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
