Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): fixes page header z-index issue
  packages/web-components/src/components/ic-page-header/ic-page-header.css
  packages/web-components/src/components/ic-page-header/readme.md
Due: stylelint --fix, remark

docs(react): added a story for default value on IcSelect and searchable variant
  packages/react/src/stories/ic-select.stories.mdx
Due: remark

fix(web-components): added func to allow default values for searchable variant
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Select_Default_value.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Select_Searchable_default_value.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Default_value.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Select_Searchable_default_value.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-select/__snapshots__/ic-select.spec.tsx.snap
  packages/web-components/src/components/ic-select/ic-select.e2e.ts
  packages/web-components/src/components/ic-select/ic-select.spec.tsx
  packages/web-components/src/components/ic-select/ic-select.stories.mdx
  packages/web-components/src/components/ic-select/ic-select.tsx
  packages/web-components/src/components/ic-select/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@c3f558cb7e2e4a492ceed50437765500108d4861 🚀
  branches/develop/8349.6e24f82e.iframe.bundle.js
  branches/develop/8349.c3be3e3e.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.2d35c7da.iframe.bundle.js
  branches/develop/main.2d35c7da.iframe.bundle.js.LICENSE.txt
  branches/develop/main.709a867a.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.3a06c0e8.iframe.bundle.js
  branches/develop/runtime~main.5971c9a9.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): updated top-navigation e2e test
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.e2e.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@123413fa59c50e3ed9bbf5a1dbce39fff2385e67 🚀
  branches/develop/2679.044c8ff2.iframe.bundle.js
  branches/develop/2679.044c8ff2.iframe.bundle.js.LICENSE.txt
  branches/develop/2679.b1519b8f.iframe.bundle.js
  branches/develop/7733.15bdf4f6.iframe.bundle.js
  branches/develop/7733.15bdf4f6.iframe.bundle.js.LICENSE.txt
  branches/develop/7733.24a33a20.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.2d35c7da.iframe.bundle.js
  branches/develop/main.4c6ab27c.iframe.bundle.js
  branches/develop/main.4c6ab27c.iframe.bundle.js.LICENSE.txt
  branches/develop/project.json
  branches/develop/runtime~main.3a06c0e8.iframe.bundle.js
  branches/develop/runtime~main.a6968c39.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@23ec7717650ed05f46fb537412a2ed512cd3eb4c 🚀
  branches/feature/238-dialog/web-components/iframe.html
  branches/feature/238-dialog/web-components/main.1f133e34.iframe.bundle.js
  branches/feature/238-dialog/web-components/main.9d3fefe8.iframe.bundle.js
  branches/feature/238-dialog/web-components/main.9d3fefe8.iframe.bundle.js.LICENSE.txt
  branches/feature/238-dialog/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@23ec7717650ed05f46fb537412a2ed512cd3eb4c 🚀
  branches/feature/238-dialog/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(web-components): bump webpack version for audit fix
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(react): bump webpack version for audit fix
  packages/react/package-lock.json
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(fonts): bump webpack version for audit fix
  packages/fonts/package-lock.json
  packages/fonts/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(web-components): updates loki version
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): update audit allowlist
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add dialog component
  packages/react/src/components.ts
  packages/react/src/stories/ic-dialog.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(root): adds logging of chromium version
  .github/workflows/ic-ui-kit-branches.yml
  .github/workflows/ic-ui-kit-develop.yml
  .github/workflows/ic-ui-kit-main.yml
  .github/workflows/update-visual-regression-tests.yml
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@d9c97f2e27747987f5e816bb6da45f20d2982d44 🚀
  branches/develop/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c38808bbf9875a5de5530847a571b3e952252939 🚀
  branches/feature/238-dialog/web-components/2308.14f57c6e.iframe.bundle.js
  branches/feature/238-dialog/web-components/2308.14f57c6e.iframe.bundle.js.LICENSE.txt
  branches/feature/238-dialog/web-components/2308.952cb786.iframe.bundle.js
  branches/feature/238-dialog/web-components/2679.044c8ff2.iframe.bundle.js
  branches/feature/238-dialog/web-components/2679.044c8ff2.iframe.bundle.js.LICENSE.txt
  branches/feature/238-dialog/web-components/2679.b1519b8f.iframe.bundle.js
  branches/feature/238-dialog/web-components/7733.15bdf4f6.iframe.bundle.js
  branches/feature/238-dialog/web-components/7733.15bdf4f6.iframe.bundle.js.LICENSE.txt
  branches/feature/238-dialog/web-components/7733.24a33a20.iframe.bundle.js
  branches/feature/238-dialog/web-components/8349.6e24f82e.iframe.bundle.js
  branches/feature/238-dialog/web-components/8349.c3be3e3e.iframe.bundle.js
  branches/feature/238-dialog/web-components/iframe.html
  branches/feature/238-dialog/web-components/main.48674a02.iframe.bundle.js
  branches/feature/238-dialog/web-components/main.48674a02.iframe.bundle.js.LICENSE.txt
  branches/feature/238-dialog/web-components/main.9d3fefe8.iframe.bundle.js
  branches/feature/238-dialog/web-components/project.json
  branches/feature/238-dialog/web-components/runtime~main.822382a9.iframe.bundle.js
  branches/feature/238-dialog/web-components/runtime~main.842fbabb.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c38808bbf9875a5de5530847a571b3e952252939 🚀
  branches/feature/238-dialog/react/1047.c2cd3ee6.iframe.bundle.js
  branches/feature/238-dialog/react/1047.d9e9c953.iframe.bundle.js
  branches/feature/238-dialog/react/4637.438e43f3.iframe.bundle.js
  branches/feature/238-dialog/react/4637.c9577ed0.iframe.bundle.js
  branches/feature/238-dialog/react/4637.c9577ed0.iframe.bundle.js.LICENSE.txt
  branches/feature/238-dialog/react/6225.0ae4ebfa.iframe.bundle.js
  branches/feature/238-dialog/react/6225.631a5e9a.iframe.bundle.js
  branches/feature/238-dialog/react/6225.631a5e9a.iframe.bundle.js.LICENSE.txt
  branches/feature/238-dialog/react/9257.00b63989.iframe.bundle.js
  branches/feature/238-dialog/react/9257.00b63989.iframe.bundle.js.LICENSE.txt
  branches/feature/238-dialog/react/9257.aa64bd16.iframe.bundle.js
  branches/feature/238-dialog/react/iframe.html
  branches/feature/238-dialog/react/main.2439ae42.iframe.bundle.js
  branches/feature/238-dialog/react/main.2439ae42.iframe.bundle.js.LICENSE.txt
  branches/feature/238-dialog/react/main.a67da412.iframe.bundle.js
  branches/feature/238-dialog/react/project.json
  branches/feature/238-dialog/react/runtime~main.0faf3606.iframe.bundle.js
  branches/feature/238-dialog/react/runtime~main.69dc4981.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
