Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): removes unused css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

feat(web-components): added silent prop to tooltip
  packages/docs/docs.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/test/basic/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@71ad2cceb7d90014dc5f3640fa96825f85d87959 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@71ad2cceb7d90014dc5f3640fa96825f85d87959 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): package bump to fix audit
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): update docs with sideNavExpanded and topNavResized events
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(web-components): package bump to fix audit
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): update docs following new appearance prop on ic-breadcrumb and ic-breadcrumb-group
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): regenerated docs with stencil update
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes tabs display when normalize.css not imported
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.css
Due: stylelint --fix

fix(web-components): update sideNavExpanded and topNavResized to use event decorator
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.types.ts
  packages/web-components/src/components/ic-side-navigation/readme.md
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
  packages/web-components/src/components/ic-top-navigation/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(docs): add transparentBackground prop to button and chip
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add optional white background to button and chip components
  packages/react/src/stories/ic-button.stories.mdx
  packages/react/src/stories/ic-chip.stories.mdx
Due: remark

feat(web-components): add white background to button and chip (optional), checkbox, radio, stepper
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Button_Secondary.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_White_background.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Button_Secondary.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_White_background.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Deprecated_small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Helper_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Required.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Validation.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-button/ic-button.stories.mdx
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-chip/ic-chip.css
  packages/web-components/src/components/ic-chip/ic-chip.stories.mdx
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-chip/readme.md
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-loading-indicator/readme.md
  packages/web-components/src/components/ic-loading-indicator/test/basic/__snapshots__/ic-loading-indicator.spec.ts.snap
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/global/variables.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

build(root): run npm audit fix
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): hides tooltips for navigation buttons on menu
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/test/basic/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-button/test/basic/ic-button.spec.ts
  packages/web-components/src/components/ic-navigation-button/ic-navigation-button.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(react): update sideNavExpanded and topNavResized to work as other events
  packages/react/src/stories/ic-side-navigation.stories.mdx
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: remark

docs(web-components): add vs-code webcomponent documentation
  packages/web-components/.gitignore
  packages/web-components/package.json
  packages/web-components/stencil.config.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): updates audit expiry
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): updated stencil package
  packages/web-components/node.d.ts
  packages/web-components/package-lock.json
  packages/web-components/package.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.css
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/readme.md
  packages/web-components/src/components/ic-menu/test/basic/__snapshots__/ic-menu.spec.tsx.snap
  packages/web-components/src/components/ic-pagination/ic-pagination.tsx
  packages/web-components/src/components/ic-pagination/readme.md
  packages/web-components/src/components/ic-toast-region/ic-toast-region.tsx
  packages/web-components/src/components/ic-toast-region/readme.md
  packages/web-components/src/components/ic-tooltip/readme.md
  packages/web-components/tsconfig.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): add appearance prop to ic-breadcrumb & ic-breadcrumb-group
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Breadcrumb_Appearance.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Breadcrumb_Back.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Breadcrumb_Collapsed.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Breadcrumb_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Breadcrumb_Icon.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Breadcrumb_Slotted_links.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Breadcrumb_Slotted_links_collapsed.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_breadcrumbs.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_breadcrumbs_input_actions_and_tabs.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Breadcrumb_Appearance.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Breadcrumb_Back.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Breadcrumb_Collapsed.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Breadcrumb_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Breadcrumb_Icon.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Breadcrumb_Slotted_links.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Breadcrumb_Slotted_links_collapsed.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_breadcrumbs.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_breadcrumbs_input_actions_and_tabs.png
  packages/web-components/package-lock.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-breadcrumb-group/ic-breadcrumb-group.stories.mdx
  packages/web-components/src/components/ic-breadcrumb-group/ic-breadcrumb-group.tsx
  packages/web-components/src/components/ic-breadcrumb-group/readme.md
  packages/web-components/src/components/ic-breadcrumb-group/test/basic/__snapshots__/ic-breadcrumb-group.spec.ts.snap
  packages/web-components/src/components/ic-breadcrumb-group/test/basic/ic-breadcrumb-group.spec.ts
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.css
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.tsx
  packages/web-components/src/components/ic-breadcrumb/test/basic/ic-breadcrumb.spec.ts
  packages/web-components/src/components/ic-page-header/test/basic/__snapshots__/ic-page-header.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): add appearance story for ic-breadcrumb-group
  packages/react/package-lock.json
  packages/react/src/stories/ic-breadcrumb-group.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

chore(release): [ci skip] components publish
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@82514e3fe4dfd830b51b3abd8f00eb1b615d843b 🚀
  branches/1369-migrate-toast-testing-over-to-cypress/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@82514e3fe4dfd830b51b3abd8f00eb1b615d843b 🚀
  branches/1369-migrate-toast-testing-over-to-cypress/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@65580d68c55f8485f15c5ae99db4d6f764631863 🚀
  branches/1196/cypress/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@65580d68c55f8485f15c5ae99db4d6f764631863 🚀
  branches/1196/cypress/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@97d7ee2769935293c4adf49566e41146303d9340 🚀
  branches/1369-migrate-toast-testing-over-to-cypress/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@97d7ee2769935293c4adf49566e41146303d9340 🚀
  branches/1369-migrate-toast-testing-over-to-cypress/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(root): updated github actions
  .github/workflows/ic-ui-kit-canary-branches.yml
  .github/workflows/ic-ui-kit-main.yml
  lerna.json
  package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): updated web-components to include props required for canary components
  packages/canary-web-components/www/assets/OpenInNew.svg
  packages/canary-web-components/www/assets/back-icon.svg
  packages/canary-web-components/www/assets/check-icon.svg
  packages/canary-web-components/www/assets/chevron-icon.svg
  packages/canary-web-components/www/assets/clear-icon.svg
  packages/canary-web-components/www/assets/close-icon.svg
  packages/canary-web-components/www/assets/dismiss-icon.svg
  packages/canary-web-components/www/assets/error-icon.svg
  packages/canary-web-components/www/assets/hamburger-menu-icon.svg
  packages/canary-web-components/www/assets/info-icon.svg
  packages/canary-web-components/www/assets/neutral-icon.svg
  packages/canary-web-components/www/assets/pagination-first-last.svg
  packages/canary-web-components/www/assets/pagination-next-previous.svg
  packages/canary-web-components/www/assets/search-icon.svg
  packages/canary-web-components/www/assets/success-icon.svg
  packages/canary-web-components/www/assets/warning-icon-outline.svg
  packages/canary-web-components/www/assets/warning-icon.svg
  packages/canary-web-components/www/host.config.json
  packages/canary-web-components/www/index.html
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

build(react): moved fonts package to peer deps
  packages/react/.storybook/preview.js
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/public/favicon.png
  packages/react/public/favicon.svg
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(canary-react): initial canary-react package integration
  packages/canary-react/.gitignore
  packages/canary-react/.storybook/addon-tab/register.js
  packages/canary-react/.storybook/main.js
  packages/canary-react/.storybook/preview-head.html
  packages/canary-react/.storybook/preview.js
  packages/canary-react/CHANGELOG.md
  packages/canary-react/LICENSE
  packages/canary-react/README.md
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-react/src/components.ts
  packages/canary-react/src/getting-started.stories.mdx
  packages/canary-react/src/index.ts
  packages/canary-react/src/react-component-lib/createComponent.tsx
  packages/canary-react/src/react-component-lib/createOverlayComponent.tsx
  packages/canary-react/src/react-component-lib/index.ts
  packages/canary-react/src/react-component-lib/interfaces.ts
  packages/canary-react/src/react-component-lib/utils/attachProps.ts
  packages/canary-react/src/react-component-lib/utils/case.ts
  packages/canary-react/src/react-component-lib/utils/dev.ts
  packages/canary-react/src/react-component-lib/utils/index.tsx
  packages/canary-react/src/stories/ic-data-table.stories.mdx
  packages/canary-react/tsconfig.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

ci(root): updating ci command
  .github/workflows/ic-ui-kit-branches.yml
  .github/workflows/ic-ui-kit-canary-branches.yml
  .github/workflows/ic-ui-kit-develop.yml
  .github/workflows/ic-ui-kit-main.yml
  .gitignore
  package.json
  packages/canary-web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
