Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): add dropdown option to buttons
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Reduced_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Reduced_width.png
  packages/web-components/src/assets/arrow-dropdown.svg
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-button/ic-button.stories.mdx
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-button/test/basic/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-card/ic-card.stories.mdx
  packages/web-components/src/components/ic-popover-menu/ic-popover-menu.tsx
  packages/web-components/src/components/ic-popover-menu/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(docs): update to docs.json with dropdown boolean for button
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add dropdown option to button
  packages/react/cypress-visual-screenshots/baseline/IcButton.cy.tsx-dropdown-popover.png
  packages/react/cypress-visual-screenshots/baseline/IcButton.cy.tsx-dropdown.png
  packages/react/src/component-tests/IcButton/IcButton.cy.tsx
  packages/react/src/component-tests/IcButton/IcButtonTestData.tsx
  packages/react/src/stories/ic-button.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@f508e4b2b0d73182d34d445c5c29fdc39e297a98 🚀
  branches/1321-add-dropdown-button-variant/web-components/iframe.html
  branches/1321-add-dropdown-button-variant/web-components/main.115e879e.iframe.bundle.js
  branches/1321-add-dropdown-button-variant/web-components/main.115e879e.iframe.bundle.js.LICENSE.txt
  branches/1321-add-dropdown-button-variant/web-components/main.efe80267.iframe.bundle.js
  branches/1321-add-dropdown-button-variant/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f508e4b2b0d73182d34d445c5c29fdc39e297a98 🚀
  branches/1321-add-dropdown-button-variant/react/iframe.html
  branches/1321-add-dropdown-button-variant/react/main.15443b4d.iframe.bundle.js
  branches/1321-add-dropdown-button-variant/react/main.15443b4d.iframe.bundle.js.LICENSE.txt
  branches/1321-add-dropdown-button-variant/react/main.1e4f8576.iframe.bundle.js
  branches/1321-add-dropdown-button-variant/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2dbcf5bffa7a16f0488ff383db90a05b1153a76f 🚀
  branches/1399-migrate-back-to-top-testing-over-to-cypress/cypress-screenshots/IcBackToTop.cy.tsx-focussed.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@a3d25268fce5277a27d785a2b5544bd69c42b1f7 🚀
  branches/1399-migrate-back-to-top-testing-over-to-cypress/cypress-screenshots/IcBackToTop.cy.tsx-focussed.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@f832036710a44c209cec89d0faf76ceabd9b269a 🚀
  branches/develop/web-components/1738.0dbb6531.iframe.bundle.js
  branches/develop/web-components/1738.dc51cdc2.iframe.bundle.js
  branches/develop/web-components/605.1e9db518.iframe.bundle.js
  branches/develop/web-components/605.1e9db518.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/605.b6ea68f0.iframe.bundle.js
  branches/develop/web-components/6663.23779080.iframe.bundle.js
  branches/develop/web-components/6663.88aa7cfe.iframe.bundle.js
  branches/develop/web-components/6663.88aa7cfe.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/8349.167bad13.iframe.bundle.js
  branches/develop/web-components/8349.c563b403.iframe.bundle.js
  branches/develop/web-components/iframe.html
  branches/develop/web-components/main.0909e66f.iframe.bundle.js
  branches/develop/web-components/main.115e879e.iframe.bundle.js
  branches/develop/web-components/main.115e879e.iframe.bundle.js.LICENSE.txt
  branches/develop/web-components/project.json
  branches/develop/web-components/runtime~main.430b0093.iframe.bundle.js
  branches/develop/web-components/runtime~main.787ffa6f.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f832036710a44c209cec89d0faf76ceabd9b269a 🚀
  branches/develop/react/1047.35de713b.iframe.bundle.js
  branches/develop/react/1047.945e2217.iframe.bundle.js
  branches/develop/react/1642.34418332.iframe.bundle.js
  branches/develop/react/1642.8a0ba6b6.iframe.bundle.js
  branches/develop/react/1642.8a0ba6b6.iframe.bundle.js.LICENSE.txt
  branches/develop/react/4418.78307a7f.iframe.bundle.js
  branches/develop/react/4418.78307a7f.iframe.bundle.js.LICENSE.txt
  branches/develop/react/4418.dcd697cb.iframe.bundle.js
  branches/develop/react/8533.3fbcc8f2.iframe.bundle.js
  branches/develop/react/8533.7b0aa13d.iframe.bundle.js
  branches/develop/react/iframe.html
  branches/develop/react/main.15443b4d.iframe.bundle.js
  branches/develop/react/main.15443b4d.iframe.bundle.js.LICENSE.txt
  branches/develop/react/main.5c38ec1f.iframe.bundle.js
  branches/develop/react/project.json
  branches/develop/react/runtime~main.3357992d.iframe.bundle.js
  branches/develop/react/runtime~main.91ef307c.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f832036710a44c209cec89d0faf76ceabd9b269a 🚀
  branches/canary/develop/web-components/1738.541b8a0b.iframe.bundle.js
  branches/canary/develop/web-components/1738.982d1ce0.iframe.bundle.js
  branches/canary/develop/web-components/605.969eff9f.iframe.bundle.js
  branches/canary/develop/web-components/605.969eff9f.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/web-components/605.cf0c3481.iframe.bundle.js
  branches/canary/develop/web-components/6663.4eeb8c86.iframe.bundle.js
  branches/canary/develop/web-components/6663.4eeb8c86.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/web-components/6663.cba7be7f.iframe.bundle.js
  branches/canary/develop/web-components/8349.aa152935.iframe.bundle.js
  branches/canary/develop/web-components/8349.d28d4a5e.iframe.bundle.js
  branches/canary/develop/web-components/iframe.html
  branches/canary/develop/web-components/main.62373419.iframe.bundle.js
  branches/canary/develop/web-components/main.6e793818.iframe.bundle.js
  branches/canary/develop/web-components/main.6e793818.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/web-components/project.json
  branches/canary/develop/web-components/runtime~main.2ea9472f.iframe.bundle.js
  branches/canary/develop/web-components/runtime~main.b769830a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f832036710a44c209cec89d0faf76ceabd9b269a 🚀
  branches/canary/develop/react/1047.98a7dcac.iframe.bundle.js
  branches/canary/develop/react/1047.de779dbc.iframe.bundle.js
  branches/canary/develop/react/1238.86b9de20.iframe.bundle.js
  branches/canary/develop/react/1238.e4cc0504.iframe.bundle.js
  branches/canary/develop/react/1238.e4cc0504.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/react/1642.58945d35.iframe.bundle.js
  branches/canary/develop/react/1642.6b89dc4d.iframe.bundle.js
  branches/canary/develop/react/1642.6b89dc4d.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/react/4342.7d0529bf.iframe.bundle.js
  branches/canary/develop/react/4342.e66ec0f9.iframe.bundle.js
  branches/canary/develop/react/4342.e66ec0f9.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/react/4418.743cf7b6.iframe.bundle.js
  branches/canary/develop/react/4418.743cf7b6.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/react/4418.ad1c5c15.iframe.bundle.js
  branches/canary/develop/react/7639.20f93b7a.iframe.bundle.js
  branches/canary/develop/react/7639.9c1c8ac4.iframe.bundle.js
  branches/canary/develop/react/8533.b5f817ac.iframe.bundle.js
  branches/canary/develop/react/8533.f1c1c518.iframe.bundle.js
  branches/canary/develop/react/8847.1f0f48bf.iframe.bundle.js
  branches/canary/develop/react/8847.e6436f53.iframe.bundle.js
  branches/canary/develop/react/iframe.html
  branches/canary/develop/react/main.2621cd18.iframe.bundle.js
  branches/canary/develop/react/main.2621cd18.iframe.bundle.js.LICENSE.txt
  branches/canary/develop/react/main.5556a96d.iframe.bundle.js
  branches/canary/develop/react/project.json
  branches/canary/develop/react/runtime~main.0bb9d14d.iframe.bundle.js
  branches/canary/develop/react/runtime~main.e4b19e16.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@5e3e8993fe6e5e5f562131fdad9aa395fe252d65 🚀
  branches/1399-migrate-back-to-top-testing-over-to-cypress/cypress-screenshots/IcBackToTop.cy.tsx-focussed.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@395b1cdc8c448506545460ae2fa83413e4c7609d 🚀
  branches/1399-migrate-back-to-top-testing-over-to-cypress/cypress-screenshots/IcBackToTop.cy.tsx-focussed.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@54d3c4481c2e64f847bc84160cb60f28f3838949 🚀
  branches/1399-migrate-back-to-top-testing-over-to-cypress/cypress-screenshots/IcBackToTop.cy.tsx-focussed.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@51bffc8f281d3df2db659c371b92b30c8ce4d63d 🚀
  branches/1399-migrate-back-to-top-testing-over-to-cypress/cypress-screenshots/IcBackToTop.cy.tsx-focussed.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@51bffc8f281d3df2db659c371b92b30c8ce4d63d 🚀
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/605.1e9db518.iframe.bundle.js
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/605.1e9db518.iframe.bundle.js.LICENSE.txt
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/605.b6ea68f0.iframe.bundle.js
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/6663.23779080.iframe.bundle.js
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/6663.88aa7cfe.iframe.bundle.js
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/6663.88aa7cfe.iframe.bundle.js.LICENSE.txt
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/iframe.html
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/main.0909e66f.iframe.bundle.js
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/main.115e879e.iframe.bundle.js
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/main.115e879e.iframe.bundle.js.LICENSE.txt
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/project.json
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/runtime~main.787ffa6f.iframe.bundle.js
  branches/1399-migrate-back-to-top-testing-over-to-cypress/web-components/runtime~main.b6d916cb.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@51bffc8f281d3df2db659c371b92b30c8ce4d63d 🚀
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/1642.34418332.iframe.bundle.js
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/1642.8a0ba6b6.iframe.bundle.js
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/1642.8a0ba6b6.iframe.bundle.js.LICENSE.txt
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/4418.78307a7f.iframe.bundle.js
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/4418.78307a7f.iframe.bundle.js.LICENSE.txt
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/4418.dcd697cb.iframe.bundle.js
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/iframe.html
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/main.15443b4d.iframe.bundle.js
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/main.15443b4d.iframe.bundle.js.LICENSE.txt
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/main.5c38ec1f.iframe.bundle.js
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/project.json
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/runtime~main.0a18d040.iframe.bundle.js
  branches/1399-migrate-back-to-top-testing-over-to-cypress/react/runtime~main.3357992d.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(root): change in contribution docs
  CONTRIBUTING.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@745de6b19be64ef188cbb4dd1a2eecebdc472c9b 🚀
  branches/264-toggle-button/cypress-screenshots/IcToggleButton.cy.tsx-icon-right.png
  branches/264-toggle-button/cypress-screenshots/IcToggleButton.cy.tsx-icon-top.png
Due: none

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
