Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(canary-react): updated markdown files
  packages/react/CHANGELOG.md
  packages/react/README.md
Due: remark

docs(canary-web-components): updated markdown files
  packages/web-components/ANGULAR.md
  packages/web-components/CHANGELOG.md
  packages/web-components/README.md
  packages/web-components/VUE.md
  packages/web-components/src/usage-with-vue.stories.mdx
Due: remark

chore(release): [ci skip] canary components publish
  CHANGELOG.md
  lerna.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(react): updated react readme title
  packages/react/README.md
Due: remark

docs(canary-web-components): updated readme title
  packages/web-components/README.md
Due: remark

Deploying to gh-pages from @ mi6/ic-ui-kit@f4bc69b7d0b1754f2e92bff02ff75105ad4b51d4 🚀
  branches/canary/main/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f4bc69b7d0b1754f2e92bff02ff75105ad4b51d4 🚀
  branches/canary/main/react/project.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

test(web-components): update visual tests with images
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Card_Reduced_width.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Hero_Image_right_content.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Expandable.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Middle_image.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Card_Reduced_width.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Hero_Image_right_content.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@34a650ad025d77b94e64fff67eb907e0c568ec8b 🚀
  branches/develop/9028.1695052a.iframe.bundle.js
  branches/develop/9028.e90b062b.iframe.bundle.js
  branches/develop/iframe.html
  branches/develop/main.1058497e.iframe.bundle.js
  branches/develop/main.1058497e.iframe.bundle.js.LICENSE.txt
  branches/develop/main.c49a20d1.iframe.bundle.js
  branches/develop/project.json
  branches/develop/runtime~main.2a102975.iframe.bundle.js
  branches/develop/runtime~main.fb730473.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): added accordion react stories
  packages/react/ic-accordion.e2e.ts
  packages/react/src/components.ts
  packages/react/src/stories/ic-accordion.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

feat(web-components): adds accordion component
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Group_Title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Icon.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Light_text.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Parent.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Single_Expansion.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Sizes.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Group_Title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Icon.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Light_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Parent.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Single_Expansion.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Sizes.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-accordion-group/ic-accordion-group.css
  packages/web-components/src/components/ic-accordion-group/ic-accordion-group.tsx
  packages/web-components/src/components/ic-accordion-group/readme.md
  packages/web-components/src/components/ic-accordion-group/test/a11y/ic-accordion-group.test.a11y.ts
  packages/web-components/src/components/ic-accordion-group/test/basic/__snapshots__/ic-accordion-group.spec.ts.snap
  packages/web-components/src/components/ic-accordion-group/test/basic/ic-accordion-group.e2e.ts
  packages/web-components/src/components/ic-accordion-group/test/basic/ic-accordion-group.spec.ts
  packages/web-components/src/components/ic-accordion/ic-accordion.css
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
  packages/web-components/src/components/ic-accordion/readme.md
  packages/web-components/src/components/ic-accordion/test/basic/__snapshots__/ic-accordion.spec.ts.snap
  packages/web-components/src/components/ic-accordion/test/basic/ic-accordion.e2e.ts
  packages/web-components/src/components/ic-accordion/test/basic/ic-accordion.spec.ts
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-typography/readme.md
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(web-components): update labelledby ids
  packages/react/src/react-component-lib/utils/attachProps.ts
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
  packages/web-components/src/components/ic-accordion/test/basic/__snapshots__/ic-accordion.spec.ts.snap
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/utils/types.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(react): updated due to stencil update
  packages/react/src/react-component-lib/utils/attachProps.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): added overflow:visible once expanded content has completed animation
  packages/web-components/src/components/ic-accordion/ic-accordion.css
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(react): added react stories for tsting popover content with accordion
  packages/react/src/stories/ic-accordion.stories.mdx
Due: remark

fix(web-components): added additional stories for popover testing
  packages/web-components/src/components/ic-accordion/ic-accordion.css
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(react): updated react stories for dialog accordion testing
  packages/react/package-lock.json
  packages/react/src/stories/ic-accordion.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

fix(web-components): updated dialog and accordion component
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Disabled.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Group_Title.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Icon.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Light_text.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Parent.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Single_Expansion.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Accordion_Sizes.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Group_Title.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Icon.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Light_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Parent.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Single_Expansion.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Accordion_Sizes.png
  packages/web-components/package-lock.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-accordion-group/ic-accordion-group.css
  packages/web-components/src/components/ic-accordion-group/ic-accordion-group.tsx
  packages/web-components/src/components/ic-accordion/ic-accordion.css
  packages/web-components/src/components/ic-accordion/ic-accordion.stories.mdx
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
  packages/web-components/src/components/ic-accordion/readme.md
  packages/web-components/src/components/ic-accordion/test/basic/ic-accordion.spec.ts
  packages/web-components/src/components/ic-dialog/ic-dialog.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

docs(docs): regenerated docs for slot guidance
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): updated docs for accordion guidance
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): moved position of slot information
  packages/web-components/src/components/ic-accordion/ic-accordion.tsx
  packages/web-components/src/components/ic-accordion/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@a4cc8b657b1fd618912091ef1ff0d748b8e072ff 🚀
  branches/a11y/accordion/web-components/2115.59919c4d.iframe.bundle.js
  branches/a11y/accordion/web-components/2115.59919c4d.iframe.bundle.js.LICENSE.txt
  branches/a11y/accordion/web-components/2115.a198877f.iframe.bundle.js
  branches/a11y/accordion/web-components/6663.17958a98.iframe.bundle.js
  branches/a11y/accordion/web-components/6663.17958a98.iframe.bundle.js.LICENSE.txt
  branches/a11y/accordion/web-components/6663.dd4ce7a4.iframe.bundle.js
  branches/a11y/accordion/web-components/7059.0e8fce9a.iframe.bundle.js
  branches/a11y/accordion/web-components/7059.0e8fce9a.iframe.bundle.js.LICENSE.txt
  branches/a11y/accordion/web-components/7059.38e12166.iframe.bundle.js
  branches/a11y/accordion/web-components/9028.1695052a.iframe.bundle.js
  branches/a11y/accordion/web-components/9028.e90b062b.iframe.bundle.js
  branches/a11y/accordion/web-components/iframe.html
  branches/a11y/accordion/web-components/main.367fc018.iframe.bundle.js
  branches/a11y/accordion/web-components/main.bcce291f.iframe.bundle.js
  branches/a11y/accordion/web-components/main.bcce291f.iframe.bundle.js.LICENSE.txt
  branches/a11y/accordion/web-components/project.json
  branches/a11y/accordion/web-components/runtime~main.10a1151c.iframe.bundle.js
  branches/a11y/accordion/web-components/runtime~main.1542b7ce.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@a4cc8b657b1fd618912091ef1ff0d748b8e072ff 🚀
  branches/a11y/accordion/react/1642.119ce589.iframe.bundle.js
  branches/a11y/accordion/react/1642.119ce589.iframe.bundle.js.LICENSE.txt
  branches/a11y/accordion/react/1642.f305297e.iframe.bundle.js
  branches/a11y/accordion/react/2277.9149963c.iframe.bundle.js
  branches/a11y/accordion/react/2277.cdb412cc.iframe.bundle.js
  branches/a11y/accordion/react/2373.b3d19e18.iframe.bundle.js
  branches/a11y/accordion/react/2373.fe51b3d2.iframe.bundle.js
  branches/a11y/accordion/react/2373.fe51b3d2.iframe.bundle.js.LICENSE.txt
  branches/a11y/accordion/react/4351.e0fff4ee.iframe.bundle.js
  branches/a11y/accordion/react/8318.664117ee.iframe.bundle.js
  branches/a11y/accordion/react/8318.664117ee.iframe.bundle.js.LICENSE.txt
  branches/a11y/accordion/react/8318.666e24b2.iframe.bundle.js
  branches/a11y/accordion/react/8645.6ac9940a.iframe.bundle.js
  branches/a11y/accordion/react/8645.6ac9940a.iframe.bundle.js.LICENSE.txt
  branches/a11y/accordion/react/iframe.html
  branches/a11y/accordion/react/main.81c7dbbc.iframe.bundle.js
  branches/a11y/accordion/react/main.b737b7c6.iframe.bundle.js
  branches/a11y/accordion/react/main.b737b7c6.iframe.bundle.js.LICENSE.txt
  branches/a11y/accordion/react/project.json
  branches/a11y/accordion/react/runtime~main.4e01ff60.iframe.bundle.js
  branches/a11y/accordion/react/runtime~main.c1593b97.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add pagination bar component
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Alignment.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Appearance.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Custom_options.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Pagination_bar_type.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Pagination_control_type.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Pagination_bar_Variants.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Alignment.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Appearance.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Custom_options.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Pagination_bar_type.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Pagination_control_type.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Pagination_bar_Variants.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-pagination-bar/__snapshots__/ic-pagination-bar.spec.ts.snap
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.css
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.spec.ts
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.stories.mdx
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.test.a11y.ts
  packages/web-components/src/components/ic-pagination-bar/ic-pagination-bar.tsx
  packages/web-components/src/components/ic-pagination-bar/readme.md
  packages/web-components/src/components/ic-pagination/readme.md
  packages/web-components/src/components/ic-select/readme.md
  packages/web-components/src/components/ic-text-field/readme.md
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/readme.md
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(web-components): adds initial data table component
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-data-table/ic-data-table.css
  packages/web-components/src/components/ic-data-table/ic-data-table.stories.mdx
  packages/web-components/src/components/ic-data-table/ic-data-table.tsx
  packages/web-components/src/components/ic-data-table/readme.md
  packages/web-components/src/components/ic-typography/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): adds initial data table component
  packages/react/src/components.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add pagination bar component
  packages/react/src/components.ts
  packages/react/src/stories/ic-pagination-bar.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

Path conditions:
  eslint -c ./.eslintrc.js --fix: any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
