Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix --ignore-pattern \"/packages/angular/**/proxies.ts\"",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@863477b019dc9f4cf65ab4f69a4a7a05ee65a754 🚀
  branches/canary/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@863477b019dc9f4cf65ab4f69a4a7a05ee65a754 🚀
  branches/canary/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(release): [ci skip] components publish
  package-lock.json
  packages/canary-docs/CHANGELOG.md
  packages/canary-docs/package.json
  packages/canary-react/CHANGELOG.md
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
  packages/canary-web-components/CHANGELOG.md
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package-lock.json
  packages/docs/package.json
  packages/nextjs/CHANGELOG.md
  packages/nextjs/package-lock.json
  packages/nextjs/package.json
  packages/react/CHANGELOG.md
  packages/react/package-lock.json
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

feat(react): #3296 add error type option to ic-stepper playground and error state story
  packages/react/src/stories/ic-stepper.stories.jsx
Due: none

feat(web-components): #3296 add error state to ic-step and ic-stepper components
  packages/web-components/src/assets/error-icon.svg
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/components/ic-step/ic-step.tsx
  packages/web-components/src/components/ic-step/ic-step.types.ts
  packages/web-components/src/components/ic-stepper/ic-stepper.stories.js
  packages/web-components/src/components/ic-stepper/ic-stepper.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix

chore(root): #3296 add fehler to cspell wordlist
  .cspell.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@315e08209f780e349840527e3393563bfe5825a0 🚀
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-html-report/report_02-04-2026_085947.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@cefd8867f44fbbd56e35b93838c9d5e1c2ebce1f 🚀
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/density-dense-dropdown.png
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/pagination-with-popover.png
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/pagination-with-select.png
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/show-hide-truncation-data-update.png
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/large-right.png
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/left-expanded.png
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/responsive-action-area-bottom.png
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/responsive-action-area-top.png
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/small-bottom.png
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/small-top.png
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-screenshots/comparison/IcTableOfContents.cy.tsx/monochrome.png
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-screenshots/diff/IcDataTable.cy.tsx/pagination-with-popover.png
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-screenshots/diff/IcDataTable.cy.tsx/pagination-with-select.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@cefd8867f44fbbd56e35b93838c9d5e1c2ebce1f 🚀
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3827-allow-data-table-cells-with-date-type-to-be-a-link/cypress-image-diff-html-report/report_02-04-2026_102537.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(canary-react): update package-lock.json via npm audit fix
  packages/canary-react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(canary-web-components): update package-lock.json via npm audit fix
  packages/canary-web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(codemod): update package-lock.json via npm audit fix
  packages/codemod/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(nextjs): update package-lock.json via npm audit fix
  packages/nextjs/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(react): update package-lock.json via npm audit fix
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): update package-lock.json via npm audit fix
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9c5adacd1b939eef2e304f57ad4a3a2398322046 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_07-04-2026_131111.json
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_30-03-2026_180654.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(root): override lodash to ^4.18.1 and regenerate lockfile
  package-lock.json
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): set stencil/required-jsdoc to warn
  eslint.config.js
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@6a9349224f88d00936bb3030014acf177dab1d8c 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6a9349224f88d00936bb3030014acf177dab1d8c 🚀
  branches/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6a9349224f88d00936bb3030014acf177dab1d8c 🚀
  branches/canary/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@6a9349224f88d00936bb3030014acf177dab1d8c 🚀
  branches/canary/develop/react/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@c5a653af42a6caa1db4ab11864275bdd5b5a4cf5 🚀
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/dark-mode-loading.png
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/density-dense-dropdown.png
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/show-hide-truncation-data-update.png
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-screenshots/comparison/IcDataTable.cy.tsx/slotted-custom-element-in-cell-high-contrast.png
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/dark-mode.png
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/left-expanded.png
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/small-bottom.png
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/small-left.png
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/small-top.png
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-screenshots/comparison/IcDrawer.cy.tsx/top-expanded.png
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-screenshots/comparison/IcTableOfContents.cy.tsx/monochrome.png
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-screenshots/diff/IcDataTable.cy.tsx/slotted-custom-element-in-cell-high-contrast.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@c5a653af42a6caa1db4ab11864275bdd5b5a4cf5 🚀
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/4230-create-a-large-variant-of-switch-component/cypress-image-diff-html-report/report_08-04-2026_091728.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Revert "Address lodash vulnerabilities and regenerate package-lock"
  eslint.config.js
  package-lock.json
  package.json
  packages/canary-react/package-lock.json
  packages/canary-web-components/package-lock.json
  packages/codemod/package-lock.json
  packages/nextjs/package-lock.json
  packages/react/package-lock.json
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@fac373647e94b19b0a785bc086c33d333be68af7 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAccordion.cy.tsx/focused.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/expanded-dropdown-popover.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@fac373647e94b19b0a785bc086c33d333be68af7 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_08-04-2026_113807.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(web-components): minor upgrade to storybook so it aligns with internal work
  packages/web-components/package-lock.json
  packages/web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): minor upgrade to storybook so it aligns with internal work
  packages/react/package-lock.json
  packages/react/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(nextjs): minor upgrade to storybook so it aligns with internal work
  packages/nextjs/package-lock.json
  packages/nextjs/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-web-components): minor upgrade to storybook so it aligns with internal work
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-react): minor upgrade to storybook so it aligns with internal work
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write
