Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

.lintstagedrc.json:

{
  "*.{ts,tsx,json}": [
    "eslint -c ./.eslintrc.js --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "*.css": "stylelint --fix",
  "*.{md,mdx}": "remark"
}

Deploying to gh-pages from @ mi6/ic-ui-kit@0d09732a6ae43699a5f4c508151f982efa1b90f3 🚀
  branches/1196/cypress/react/1642.cabc244e.iframe.bundle.js
  branches/1196/cypress/react/1642.cabc244e.iframe.bundle.js.LICENSE.txt
  branches/1196/cypress/react/1642.e70cd9b4.iframe.bundle.js
  branches/1196/cypress/react/1965.4135a48e.iframe.bundle.js
  branches/1196/cypress/react/1965.4135a48e.iframe.bundle.js.LICENSE.txt
  branches/1196/cypress/react/1965.450f9d71.iframe.bundle.js
  branches/1196/cypress/react/2167.048eaa45.iframe.bundle.js
  branches/1196/cypress/react/2167.1addd3d5.iframe.bundle.js
  branches/1196/cypress/react/2167.1addd3d5.iframe.bundle.js.LICENSE.txt
  branches/1196/cypress/react/4564.0fa85aa4.iframe.bundle.js
  branches/1196/cypress/react/4564.7a48ac60.iframe.bundle.js
  branches/1196/cypress/react/5729.948ef20f.iframe.bundle.js
  branches/1196/cypress/react/5729.948ef20f.iframe.bundle.js.LICENSE.txt
  branches/1196/cypress/react/5729.e9bae619.iframe.bundle.js
  branches/1196/cypress/react/iframe.html
  branches/1196/cypress/react/main.149bc8a5.iframe.bundle.js
  branches/1196/cypress/react/main.41cca96e.iframe.bundle.js
  branches/1196/cypress/react/main.41cca96e.iframe.bundle.js.LICENSE.txt
  branches/1196/cypress/react/project.json
  branches/1196/cypress/react/runtime~main.54263302.iframe.bundle.js
  branches/1196/cypress/react/runtime~main.d784abd5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@375a52b68d66ab74c00f37839feee5e248a3c4f2 🚀
  branches/1369-migrate-toast-testing-over-to-cypress/cypress-screenshots/IcToast.cy.tsx-custom-aria-label.png
  branches/1369-migrate-toast-testing-over-to-cypress/cypress-screenshots/IcToast.cy.tsx-custom-icon.png
  branches/1369-migrate-toast-testing-over-to-cypress/cypress-screenshots/IcToast.cy.tsx-slotted-link.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@f3d89d52478b56435cbf700631670f75af360bcd 🚀
  branches/canary/257-multi-select-rebased/web-components/1099.25873ba0.iframe.bundle.js
  branches/canary/257-multi-select-rebased/web-components/1099.25873ba0.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/web-components/1099.a8eae023.iframe.bundle.js
  branches/canary/257-multi-select-rebased/web-components/1416.30c66d12.iframe.bundle.js
  branches/canary/257-multi-select-rebased/web-components/1416.30c66d12.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/web-components/1416.54a29adb.iframe.bundle.js
  branches/canary/257-multi-select-rebased/web-components/6663.23779080.iframe.bundle.js
  branches/canary/257-multi-select-rebased/web-components/6663.23779080.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/web-components/6663.a606ae65.iframe.bundle.js
  branches/canary/257-multi-select-rebased/web-components/7710.6469f13e.iframe.bundle.js
  branches/canary/257-multi-select-rebased/web-components/7710.fe6762e3.iframe.bundle.js
  branches/canary/257-multi-select-rebased/web-components/7710.fe6762e3.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/web-components/8964.5cebdcdd.iframe.bundle.js
  branches/canary/257-multi-select-rebased/web-components/8964.fcef9029.iframe.bundle.js
  branches/canary/257-multi-select-rebased/web-components/iframe.html
  branches/canary/257-multi-select-rebased/web-components/main.9c8a4473.iframe.bundle.js
  branches/canary/257-multi-select-rebased/web-components/main.fa8d33db.iframe.bundle.js
  branches/canary/257-multi-select-rebased/web-components/main.fa8d33db.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/web-components/project.json
  branches/canary/257-multi-select-rebased/web-components/runtime~main.8c82f9e8.iframe.bundle.js
  branches/canary/257-multi-select-rebased/web-components/runtime~main.bfe2350a.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f3d89d52478b56435cbf700631670f75af360bcd 🚀
  branches/canary/257-multi-select-rebased/react/1642.34418332.iframe.bundle.js
  branches/canary/257-multi-select-rebased/react/1642.34418332.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/react/1642.d64bb733.iframe.bundle.js
  branches/canary/257-multi-select-rebased/react/1965.4135a48e.iframe.bundle.js
  branches/canary/257-multi-select-rebased/react/1965.4135a48e.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/react/1965.450f9d71.iframe.bundle.js
  branches/canary/257-multi-select-rebased/react/2167.048eaa45.iframe.bundle.js
  branches/canary/257-multi-select-rebased/react/2167.1addd3d5.iframe.bundle.js
  branches/canary/257-multi-select-rebased/react/2167.1addd3d5.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/react/4564.0fa85aa4.iframe.bundle.js
  branches/canary/257-multi-select-rebased/react/4564.7a48ac60.iframe.bundle.js
  branches/canary/257-multi-select-rebased/react/5729.948ef20f.iframe.bundle.js
  branches/canary/257-multi-select-rebased/react/5729.948ef20f.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/react/5729.e9bae619.iframe.bundle.js
  branches/canary/257-multi-select-rebased/react/iframe.html
  branches/canary/257-multi-select-rebased/react/main.283a483b.iframe.bundle.js
  branches/canary/257-multi-select-rebased/react/main.ec820402.iframe.bundle.js
  branches/canary/257-multi-select-rebased/react/main.ec820402.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/react/project.json
  branches/canary/257-multi-select-rebased/react/runtime~main.0aa0e229.iframe.bundle.js
  branches/canary/257-multi-select-rebased/react/runtime~main.51ebf84f.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f3d89d52478b56435cbf700631670f75af360bcd 🚀
  branches/canary/257-multi-select-rebased/canary-web-components/1099.03420a60.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-web-components/1099.4d7d7a66.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-web-components/1099.4d7d7a66.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/canary-web-components/1416.3fd5e1a9.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-web-components/1416.3fd5e1a9.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/canary-web-components/1416.89f33a48.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-web-components/6663.283b8d54.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-web-components/6663.cba7be7f.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-web-components/6663.cba7be7f.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/canary-web-components/7710.c43dae23.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-web-components/7710.c43dae23.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/canary-web-components/7710.cef5d537.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-web-components/8964.5a563995.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-web-components/8964.7d5bb659.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-web-components/iframe.html
  branches/canary/257-multi-select-rebased/canary-web-components/main.6cd21955.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-web-components/main.6cd21955.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/canary-web-components/main.f3faad3e.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-web-components/project.json
  branches/canary/257-multi-select-rebased/canary-web-components/runtime~main.6409267b.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-web-components/runtime~main.9d6e7c94.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f3d89d52478b56435cbf700631670f75af360bcd 🚀
  branches/canary/257-multi-select-rebased/canary-react/1642.58945d35.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/1642.58945d35.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/canary-react/1642.8347a844.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/1965.73acb0c5.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/1965.73acb0c5.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/canary-react/1965.c28878e6.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/1979.3bccd716.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/1979.4d53e70b.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/1979.4d53e70b.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/canary-react/2167.66ed0991.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/2167.66ed0991.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/canary-react/2167.926d86e5.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/2854.3dbc06b7.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/2854.3dbc06b7.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/canary-react/2854.5a38bb3f.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/4342.4390306b.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/4342.7d0529bf.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/4342.7d0529bf.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/canary-react/4564.8b054022.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/4564.d6888394.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/4731.65e17102.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/4731.65e17102.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/canary-react/4731.d300d20b.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/5729.51a0ed36.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/5729.51a0ed36.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/canary-react/5729.b2a0114f.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/7849.0791ecb5.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/7849.f1758b2f.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/iframe.html
  branches/canary/257-multi-select-rebased/canary-react/main.0b1f4f4d.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/main.8ec2bcfc.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/main.8ec2bcfc.iframe.bundle.js.LICENSE.txt
  branches/canary/257-multi-select-rebased/canary-react/project.json
  branches/canary/257-multi-select-rebased/canary-react/runtime~main.1147dfe7.iframe.bundle.js
  branches/canary/257-multi-select-rebased/canary-react/runtime~main.8a6e929f.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): removes unused css
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.css
Due: stylelint --fix

Deploying to gh-pages from @ mi6/ic-ui-kit@e7c47988004e9b91bbc381f2e62f472090837b71 🚀
  branches/develop/web-components/1738.022bf62b.iframe.bundle.js
  branches/develop/web-components/1738.6e9f3039.iframe.bundle.js
  branches/develop/web-components/iframe.html
  branches/develop/web-components/project.json
  branches/develop/web-components/runtime~main.0324dbbc.iframe.bundle.js
  branches/develop/web-components/runtime~main.3169ee30.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e7c47988004e9b91bbc381f2e62f472090837b71 🚀
  branches/develop/react/8533.69ae8112.iframe.bundle.js
  branches/develop/react/8533.7b0aa13d.iframe.bundle.js
  branches/develop/react/iframe.html
  branches/develop/react/project.json
  branches/develop/react/runtime~main.81b13e40.iframe.bundle.js
  branches/develop/react/runtime~main.9056bad2.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e91da1823c51c449f48f0361161b48f2a1900a70 🚀
  branches/canary/develop/web-components/1738.0dbb6531.iframe.bundle.js
  branches/canary/develop/web-components/1738.382c8d0d.iframe.bundle.js
  branches/canary/develop/web-components/iframe.html
  branches/canary/develop/web-components/project.json
  branches/canary/develop/web-components/runtime~main.7965ba34.iframe.bundle.js
  branches/canary/develop/web-components/runtime~main.f294fb05.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e91da1823c51c449f48f0361161b48f2a1900a70 🚀
  branches/canary/develop/react/8533.69ae8112.iframe.bundle.js
  branches/canary/develop/react/8533.7b0aa13d.iframe.bundle.js
  branches/canary/develop/react/iframe.html
  branches/canary/develop/react/project.json
  branches/canary/develop/react/runtime~main.03ea8095.iframe.bundle.js
  branches/canary/develop/react/runtime~main.bbf05801.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e91da1823c51c449f48f0361161b48f2a1900a70 🚀
  branches/canary/develop/canary-web-components/1738.1724a43e.iframe.bundle.js
  branches/canary/develop/canary-web-components/1738.541b8a0b.iframe.bundle.js
  branches/canary/develop/canary-web-components/iframe.html
  branches/canary/develop/canary-web-components/project.json
  branches/canary/develop/canary-web-components/runtime~main.6a966132.iframe.bundle.js
  branches/canary/develop/canary-web-components/runtime~main.9f398211.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@e91da1823c51c449f48f0361161b48f2a1900a70 🚀
  branches/canary/develop/canary-react/8533.47fe2eef.iframe.bundle.js
  branches/canary/develop/canary-react/8533.f1c1c518.iframe.bundle.js
  branches/canary/develop/canary-react/8847.078cc0c0.iframe.bundle.js
  branches/canary/develop/canary-react/8847.e6436f53.iframe.bundle.js
  branches/canary/develop/canary-react/iframe.html
  branches/canary/develop/canary-react/project.json
  branches/canary/develop/canary-react/runtime~main.1d6f5f01.iframe.bundle.js
  branches/canary/develop/canary-react/runtime~main.73e6a380.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@24a8300382e183359010305520421c45b099b93e 🚀
  branches/1196/cypress/web-components/1738.022bf62b.iframe.bundle.js
  branches/1196/cypress/web-components/1738.6e9f3039.iframe.bundle.js
  branches/1196/cypress/web-components/iframe.html
  branches/1196/cypress/web-components/project.json
  branches/1196/cypress/web-components/runtime~main.0324dbbc.iframe.bundle.js
  branches/1196/cypress/web-components/runtime~main.3169ee30.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@24a8300382e183359010305520421c45b099b93e 🚀
  branches/1196/cypress/react/8533.69ae8112.iframe.bundle.js
  branches/1196/cypress/react/8533.7b0aa13d.iframe.bundle.js
  branches/1196/cypress/react/iframe.html
  branches/1196/cypress/react/project.json
  branches/1196/cypress/react/runtime~main.a4d7c65a.iframe.bundle.js
  branches/1196/cypress/react/runtime~main.d784abd5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2840b5487043160a8807e834d5f0210b4c319549 🚀
  branches/1369-migrate-toast-testing-over-to-cypress/web-components/1738.022bf62b.iframe.bundle.js
  branches/1369-migrate-toast-testing-over-to-cypress/web-components/1738.6e9f3039.iframe.bundle.js
  branches/1369-migrate-toast-testing-over-to-cypress/web-components/iframe.html
  branches/1369-migrate-toast-testing-over-to-cypress/web-components/project.json
  branches/1369-migrate-toast-testing-over-to-cypress/web-components/runtime~main.0324dbbc.iframe.bundle.js
  branches/1369-migrate-toast-testing-over-to-cypress/web-components/runtime~main.3169ee30.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@2840b5487043160a8807e834d5f0210b4c319549 🚀
  branches/1369-migrate-toast-testing-over-to-cypress/react/8533.69ae8112.iframe.bundle.js
  branches/1369-migrate-toast-testing-over-to-cypress/react/8533.7b0aa13d.iframe.bundle.js
  branches/1369-migrate-toast-testing-over-to-cypress/react/iframe.html
  branches/1369-migrate-toast-testing-over-to-cypress/react/project.json
  branches/1369-migrate-toast-testing-over-to-cypress/react/runtime~main.a4d7c65a.iframe.bundle.js
  branches/1369-migrate-toast-testing-over-to-cypress/react/runtime~main.d784abd5.iframe.bundle.js
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add appearance prop to ic-breadcrumb & ic-breadcrumb-group
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Breadcrumb_Appearance.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Breadcrumb_Back.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Breadcrumb_Collapsed.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Breadcrumb_Default.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Breadcrumb_Icon.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Breadcrumb_Slotted_links.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Breadcrumb_Slotted_links_collapsed.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_breadcrumbs.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Page_header_With_breadcrumbs_input_actions_and_tabs.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Breadcrumb_Appearance.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Breadcrumb_Back.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Breadcrumb_Collapsed.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Breadcrumb_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Breadcrumb_Icon.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Breadcrumb_Slotted_links.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Breadcrumb_Slotted_links_collapsed.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_breadcrumbs.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Page_header_With_breadcrumbs_input_actions_and_tabs.png
  packages/web-components/package-lock.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-breadcrumb-group/ic-breadcrumb-group.stories.mdx
  packages/web-components/src/components/ic-breadcrumb-group/ic-breadcrumb-group.tsx
  packages/web-components/src/components/ic-breadcrumb-group/readme.md
  packages/web-components/src/components/ic-breadcrumb-group/test/basic/__snapshots__/ic-breadcrumb-group.spec.ts.snap
  packages/web-components/src/components/ic-breadcrumb-group/test/basic/ic-breadcrumb-group.spec.ts
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.css
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.tsx
  packages/web-components/src/components/ic-breadcrumb/test/basic/ic-breadcrumb.spec.ts
  packages/web-components/src/components/ic-page-header/test/basic/__snapshots__/ic-page-header.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

feat(react): add appearance story for ic-breadcrumb-group
  packages/react/package-lock.json
  packages/react/src/stories/ic-breadcrumb-group.stories.mdx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

build(root): run npm audit fix
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): update docs following new appearance prop on ic-breadcrumb and ic-breadcrumb-group
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): fixes tabs display when normalize.css not imported
  packages/web-components/src/components/ic-tab-panel/ic-tab-panel.css
Due: stylelint --fix

chore(root): updates audit expiry
  audit-ci.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(docs): regenerated docs with stencil update
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): updated stencil package
  packages/web-components/node.d.ts
  packages/web-components/package-lock.json
  packages/web-components/package.json
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-breadcrumb/ic-breadcrumb.css
  packages/web-components/src/components/ic-menu/ic-menu.tsx
  packages/web-components/src/components/ic-menu/readme.md
  packages/web-components/src/components/ic-menu/test/basic/__snapshots__/ic-menu.spec.tsx.snap
  packages/web-components/src/components/ic-pagination/ic-pagination.tsx
  packages/web-components/src/components/ic-pagination/readme.md
  packages/web-components/src/components/ic-toast-region/ic-toast-region.tsx
  packages/web-components/src/components/ic-toast-region/readme.md
  packages/web-components/src/components/ic-tooltip/readme.md
  packages/web-components/tsconfig.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

fix(react): update sideNavExpanded and topNavResized to work as other events
  packages/react/src/stories/ic-side-navigation.stories.mdx
  packages/react/src/stories/ic-top-navigation.stories.mdx
Due: remark

fix(web-components): hides tooltips for navigation buttons on menu
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/test/basic/__snapshots__/ic-button.spec.ts.snap
  packages/web-components/src/components/ic-button/test/basic/ic-button.spec.ts
  packages/web-components/src/components/ic-navigation-button/ic-navigation-button.tsx
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

fix(web-components): update sideNavExpanded and topNavResized to use event decorator
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.stories.mdx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.types.ts
  packages/web-components/src/components/ic-side-navigation/readme.md
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.stories.mdx
  packages/web-components/src/components/ic-top-navigation/ic-top-navigation.tsx
  packages/web-components/src/components/ic-top-navigation/readme.md
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, remark

docs(docs): update docs with sideNavExpanded and topNavResized events
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(react): add optional white background to button and chip components
  packages/react/src/stories/ic-button.stories.mdx
  packages/react/src/stories/ic-chip.stories.mdx
Due: remark

docs(docs): add transparentBackground prop to button and chip
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

feat(web-components): add white background to button and chip (optional), checkbox, radio, stepper
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Button_Secondary.png
  packages/web-components/.loki/reference/chrome_iphone7_Web_Components_Chip_White_background.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Button_Secondary.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Chip_White_background.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Default.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Deprecated_small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Disabled.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Form.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Helper_text.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Required.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Small.png
  packages/web-components/.loki/reference/chrome_laptop_Web_Components_Radio_button_Validation.png
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-button/ic-button.css
  packages/web-components/src/components/ic-button/ic-button.stories.mdx
  packages/web-components/src/components/ic-button/ic-button.tsx
  packages/web-components/src/components/ic-button/readme.md
  packages/web-components/src/components/ic-checkbox/ic-checkbox.css
  packages/web-components/src/components/ic-chip/ic-chip.css
  packages/web-components/src/components/ic-chip/ic-chip.stories.mdx
  packages/web-components/src/components/ic-chip/ic-chip.tsx
  packages/web-components/src/components/ic-chip/readme.md
  packages/web-components/src/components/ic-loading-indicator/ic-loading-indicator.tsx
  packages/web-components/src/components/ic-loading-indicator/readme.md
  packages/web-components/src/components/ic-loading-indicator/test/basic/__snapshots__/ic-loading-indicator.spec.ts.snap
  packages/web-components/src/components/ic-radio-option/ic-radio-option.css
  packages/web-components/src/components/ic-step/ic-step.css
  packages/web-components/src/global/variables.css
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write, stylelint --fix, remark

chore(root): package bump to fix audit
  package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

docs(web-components): add vs-code webcomponent documentation
  packages/web-components/.gitignore
  packages/web-components/package.json
  packages/web-components/stencil.config.ts
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write

chore(web-components): package bump to fix audit
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix, prettier --config ./.prettierrc.json --write
