Repository mi6/ic-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, stylelint --fix, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@4e0103d9024a7c2d973eff0f06e42de87d7521ea 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/destructive.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/full-width.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcCheckbox.cy.tsx/default.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcPagination.cy.tsx/complex-after-click-lastPage-button.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcPaginationBar.cy.tsx/go-to-page-invalid-tooltip-high-contrast.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/light-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/read-only.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/mobile-long-text.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-group.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcPopoverMenu.cy.tsx/light-theme.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@4e0103d9024a7c2d973eff0f06e42de87d7521ea 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_26-03-2026_150027.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): extend audit-ci allowlist for tooling false positives
  audit-ci.json
  package-lock.json
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): normalise package-lock peer metadata
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(web-components): normalise package-lock peer metadata
  packages/web-components/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): update issue templates to be yml files
  .github/ISSUE_TEMPLATE/report-bug.md
  .github/ISSUE_TEMPLATE/report-bug.yml
  .github/ISSUE_TEMPLATE/suggest-guidance.md
  .github/ISSUE_TEMPLATE/suggest-guidance.yml
  .github/ISSUE_TEMPLATE/suggest-improvement.md
  .github/ISSUE_TEMPLATE/suggest-improvement.yml
  .github/ISSUE_TEMPLATE/suggest-new-component-pattern.md
  .github/ISSUE_TEMPLATE/suggest-new-component-pattern.yml
  .github/ISSUE_TEMPLATE/suggest-new-feature-existing-component.md
  .github/ISSUE_TEMPLATE/suggest-new-feature-existing-component.yml
  .github/ISSUE_TEMPLATE/suggest-process-improvement.md
  .github/ISSUE_TEMPLATE/suggest-process-improvement.yml
  .github/workflows/add-issue-urgency.yml
Due: remark

docs(docs): docs changes for ictooltipshow event
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(react): adds icTooltipShow event
  packages/react/src/stories/ic-tooltip.stories.jsx
Due: none

feat(web-components): adds icTooltipShow event
  packages/web-components/src/components.d.ts
  packages/web-components/src/components/ic-tooltip/ic-tooltip.stories.js
  packages/web-components/src/components/ic-tooltip/ic-tooltip.tsx
  packages/web-components/src/components/ic-tooltip/readme.md
  packages/web-components/src/components/ic-tooltip/test/basic/__snapshots__/ic-tooltip.spec.ts.snap
  packages/web-components/src/components/ic-tooltip/test/basic/ic-tooltip.spec.ts
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

Deploying to gh-pages from @ mi6/ic-ui-kit@2ab3809e6ef7bd1677feff8baaebe7b27093fd80 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/dismissible-focussed-custom-label.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/theme-dark.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary-monochrome-pressed-dark.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/secondary.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary-monochrome-pressed-dark.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/tertiary.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcCheckbox.cy.tsx/conditional.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcCheckbox.cy.tsx/default.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcPagination.cy.tsx/complex-after-click-lastPage-button.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/light-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/groups-open.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-group.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcPopoverMenu.cy.tsx/light-theme.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@2ab3809e6ef7bd1677feff8baaebe7b27093fd80 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_27-03-2026_153457.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9b474e46f617a415ad6b17b5ed3f5d8b5f371716 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAccordion.cy.tsx/focused.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcAlert.cy.tsx/with-action.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dark-theme.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/dropdown.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/focused-destructive.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/height-width.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/icon-without-viewbox.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcButton.cy.tsx/with-icon.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcCheckbox.cy.tsx/conditional.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcCheckbox.cy.tsx/default.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcPaginationBar.cy.tsx/go-to-page-invalid-tooltip-high-contrast.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcPopoverMenu.cy.tsx/default-after-click-button.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-groups-descriptions.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-menu-open.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-validation.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/dark-theme-with-value.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/descriptions-open-selected.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/input-focused.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/read-only.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/recommended-open.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSelect.cy.tsx/required.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-first-level.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-second-level-collapsed.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcSideNavigation.cy.tsx/multi-level-second-level-expanded.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/navigation-item-with-focus-indicator.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/comparison/IcTopNavigation.cy.tsx/slotted-navigation-items.png
  branches/3857-upgrade-stencil/cypress-image-diff-screenshots/diff/IcSideNavigation.cy.tsx/multi-level-first-level.png
Due: none

Deploying to gh-pages from @ mi6/ic-ui-kit@9b474e46f617a415ad6b17b5ed3f5d8b5f371716 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_27-03-2026_165651.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@f82b4bd216111bd28d2d12e3f7ae6e7429280039 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_27-03-2026_165651.json
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_27-03-2026_174947.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): fix dynamically rendered navigation with collapsed icon labels
  packages/web-components/src/components/ic-navigation-item/ic-navigation-item.tsx
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(react): add test to demonstrate a multi-level side navigation with collapsed icon labels
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigation.cy.tsx
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigationTestData.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(root): add script to run storybook simultaneously for web components and react
  package-lock.json
  package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

feat(react): update Cypress visual regression test baseline images
  packages/react/cypress-image-diff-screenshots/baseline/IcSideNavigation.cy.tsx/multi-level-collapsed-icon-labels-first-level.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSideNavigation.cy.tsx/multi-level-collapsed-icon-labels-second-level-collapsed.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSideNavigation.cy.tsx/multi-level-collapsed-icon-labels-second-level-expanded.png
  packages/web-components/src/components/ic-search-bar/readme.md
Due: remark

fix(canary-react): update dependencies to satisfy audit
  packages/canary-react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(react): update dependencies to satisfy audit
  packages/react/package-lock.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-web-components): upgrade Stencil to v4.41.1
  packages/canary-web-components/README.md
  packages/canary-web-components/package-lock.json
  packages/canary-web-components/package.json
  packages/canary-web-components/src/components.d.ts
  packages/canary-web-components/src/components/ic-calendar/test/basic/__snapshots__/ic-calendar.spec.ts.snap
  packages/canary-web-components/src/components/ic-calendar/test/basic/ic-calendar.spec.ts
  packages/canary-web-components/src/components/ic-data-table/test/basic/__snapshots__/ic-data-table.spec.tsx.snap
  packages/canary-web-components/src/components/ic-date-input/test/basic/__snapshots__/ic-date-input.spec.tsx.snap
  packages/canary-web-components/src/components/ic-date-picker/test/basic/__snapshots__/ic-date-picker.spec.ts.snap
  packages/canary-web-components/src/components/ic-date-picker/test/basic/ic-date-picker-utils.spec.ts
  packages/canary-web-components/src/components/ic-table-of-contents/test/basic/ic-table-of-contents.spec.ts
  packages/canary-web-components/src/components/ic-time-input/test/basic/__snapshots__/ic-time-input.spec.tsx.snap
  packages/canary-web-components/src/components/ic-time-selector/test/basic/__snapshots__/ic-time-selector.spec.tsx.snap
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write, remark

docs(canary-docs): update docs after Stencil and TypeScript upgrades
  packages/canary-docs/docs.d.ts
  packages/canary-docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

docs(docs): update docs after Stencil and Typescript upgrades
  packages/docs/docs.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(react): upgrade TypeScript to v5.3.3
  packages/react/cypress/support/component.ts
  packages/react/cypress/support/index.ts
  packages/react/package-lock.json
  packages/react/package.json
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigation.cy.tsx
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigationTestData.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

chore(canary-react): upgrade TypeScript to v5.3.3
  packages/canary-react/package-lock.json
  packages/canary-react/package.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(react): update visual regresstion test thresholds for ic-select
  packages/react/cypress-image-diff-screenshots/baseline/IcSearchBar.cy.tsx/clear-icon-focused-theme-dark.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSelectSearchable.cy.tsx/clear-icon-focused-theme-dark.png
  packages/react/cypress-image-diff-screenshots/baseline/IcTopNavigation.cy.tsx/mobile-brand.png
  packages/react/src/component-tests/IcSearchBar/IcSearchBar.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelect.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelectMulti.cy.tsx
  packages/react/src/component-tests/IcSelect/IcSelectSearchable.cy.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): fix to ic-button theme colour in ic-select and ic-search-bar
  packages/web-components/src/components/ic-search-bar/ic-search-bar.tsx
  packages/web-components/src/components/ic-search-bar/test/basic/__snapshots__/ic-search-bar.spec.ts.snap
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

test(react): fix side nav test failing after Stencil upgrade
  packages/react/cypress-image-diff-screenshots/baseline/IcSideNavigation.cy.tsx/controlled-collapsed.png
  packages/react/cypress-image-diff-screenshots/baseline/IcSideNavigation.cy.tsx/controlled-expanded.png
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigation.cy.tsx
  packages/react/src/component-tests/IcSideNavigation/IcSideNavigationTestData.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

fix(web-components): recompute hasSecondaryNavigation after slot mutations
  packages/web-components/src/components/ic-side-navigation/ic-side-navigation.tsx
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@64dbe54b479ffb1e6517a60829d430f34bc5f0d4 🚀
  branches/audit-fixes/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/audit-fixes/cypress-image-diff-html-report/report_30-03-2026_145838.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@9e5aba90a12da90451ceaf9d7b56c1b2e12baa95 🚀
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/cypress-image-diff-html-report.html
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_27-03-2026_174947.json
  branches/3857-upgrade-stencil/cypress-image-diff-html-report/report_30-03-2026_152008.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Deploying to gh-pages from @ mi6/ic-ui-kit@d31284feb9d7ea3b6e310f828d046c7679341f1f 🚀
  branches/develop/web-components/project.json
Due: eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts", prettier --config ./.prettierrc.json --write

Path conditions:
  eslint -c ./.eslintrc.js --fix --ignore-pattern "/packages/angular/**/proxies.ts": any of: *.{ts,tsx,json}
  prettier --config ./.prettierrc.json --write: any of: *.{ts,tsx,json}
  stylelint --fix: any of: *.css
  remark: any of: *.{md,mdx}
